// lgchem-hi-pearl-film
@lgchem-hi-pearl-film-lc-5010: #92160e;
@lgchem-hi-pearl-film-lc-5020: #9c5114;
@lgchem-hi-pearl-film-lc-5030: #a3811a;
@lgchem-hi-pearl-film-lc-5040: #00877a;
@lgchem-hi-pearl-film-lc-5050: #292c87;