// sikkens-4041
@sikkens-4041-on-00-90: #f1efec;
@sikkens-4041-on-00-81: #ddddda;
@sikkens-4041-on-00-69: #c0bfbd;
@sikkens-4041-on-00-60: #a5a3a2;
@sikkens-4041-on-00-50: #878786;
@sikkens-4041-on-00-40: #6c6b6a;
@sikkens-4041-on-00-31: #585656;
@sikkens-4041-on-00-21: #444241;
@sikkens-4041-on-00-86: #ebeae6;
@sikkens-4041-on-00-76: #cfcecd;
@sikkens-4041-on-00-64: #b3b1af;
@sikkens-4041-on-00-55: #969694;
@sikkens-4041-on-00-45: #7d7c7c;
@sikkens-4041-on-00-36: #646364;
@sikkens-4041-on-00-26: #4d4c4c;
@sikkens-4041-on-00-15: #393839;
@sikkens-4041-on-00-83: #e4e5e0;
@sikkens-4041-on-00-78: #d6d6d3;
@sikkens-4041-on-00-63: #b0aeaa;
@sikkens-4041-on-00-58: #a09fa0;
@sikkens-4041-on-00-53: #929292;
@sikkens-4041-on-00-33: #5e5e5d;
@sikkens-4041-on-01-26: #505152;
@sikkens-4041-on-00-10: #2d2c2b;
@sikkens-4041-an-02-82: #e7dddd;
@sikkens-4041-an-01-80: #dfd8d6;
@sikkens-4041-an-02-80: #e6dad9;
@sikkens-4041-an-02-77: #ded0d1;
@sikkens-4041-an-02-65: #b8aeae;
@sikkens-4041-an-02-55: #9d9495;
@sikkens-4041-an-02-35: #696364;
@sikkens-4041-an-02-25: #524e4f;
@sikkens-4041-a0-05-85: #f7dfe0;
@sikkens-4041-a0-05-75: #ddc5c9;
@sikkens-4041-a0-05-65: #c2adb0;
@sikkens-4041-a0-05-55: #a38f94;
@sikkens-4041-a0-05-45: #86777a;
@sikkens-4041-a0-05-35: #716165;
@sikkens-4041-a0-05-25: #564a4c;
@sikkens-4041-a0-05-15: #423a3a;
@sikkens-4041-a0-07-77: #edccd4;
@sikkens-4041-a0-10-75: #f5c3ce;
@sikkens-4041-a0-10-70: #e3b5c2;
@sikkens-4041-a0-10-60: #c29ba6;
@sikkens-4041-a0-10-50: #a3818b;
@sikkens-4041-a0-10-40: #856971;
@sikkens-4041-a0-10-30: #694e56;
@sikkens-4041-a0-10-20: #523e42;
@sikkens-4041-a0-15-65: #e1a2b1;
@sikkens-4041-a0-20-60: #d78ca2;
@sikkens-4041-a0-20-50: #be7b8f;
@sikkens-4041-a0-20-40: #9a5f6f;
@sikkens-4041-a0-20-30: #7d4b5c;
@sikkens-4041-a0-20-20: #603944;
@sikkens-4041-a0-20-12: #482b35;
@sikkens-4041-a6-25-05: #452d30;
@sikkens-4041-a8-20-60: #da8f97;
@sikkens-4041-a6-30-50: #c9687a;
@sikkens-4041-a0-30-50: #cc688a;
@sikkens-4041-a6-35-40: #b64f6b;
@sikkens-4041-a0-30-40: #a8536f;
@sikkens-4041-a0-30-30: #89425d;
@sikkens-4041-a0-41-28: #952b54;
@sikkens-4041-a0-30-20: #6d2e45;
@sikkens-4041-b3-19-67: #ef9e9f;
@sikkens-4041-b2-30-60: #e37e84;
@sikkens-4041-b3-37-51: #de646f;
@sikkens-4041-b2-40-50: #d95d69;
@sikkens-4041-b0-39-40: #bb455a;
@sikkens-4041-b0-39-30: #97384a;
@sikkens-4041-b0-35-25: #7e333f;
@sikkens-4041-b0-25-25: #764048;
@sikkens-4041-b3-31-54: #e4747c;
@sikkens-4041-b6-40-50: #d95f64;
@sikkens-4041-b6-40-40: #b74a51;
@sikkens-4041-b6-50-40: #c03a4a;
@sikkens-4041-b2-40-40: #b94257;
@sikkens-4041-b3-49-33: #ab2f43;
@sikkens-4041-b8-50-20: #7c2329;
@sikkens-4041-b6-45-15: #69272e;
@sikkens-4041-b3-14-73: #f7b7b6;
@sikkens-4041-b3-25-60: #e98b90;
@sikkens-4041-b2-30-50: #d26874;
@sikkens-4041-b2-30-40: #a7555e;
@sikkens-4041-b0-35-35: #a24454;
@sikkens-4041-b2-30-30: #88444d;
@sikkens-4041-b2-24-25: #754046;
@sikkens-4041-b2-30-20: #6a2e35;
@sikkens-4041-b5-08-80: #f8ccc8;
@sikkens-4041-b2-20-70: #f5a6a8;
@sikkens-4041-b2-20-60: #d79092;
@sikkens-4041-b2-20-50: #c1787d;
@sikkens-4041-b2-20-40: #965f63;
@sikkens-4041-b2-20-30: #764349;
@sikkens-4041-b2-20-20: #613b3d;
@sikkens-4041-b1-16-12: #452d2f;
@sikkens-4041-b7-06-83: #fbd8d3;
@sikkens-4041-b6-20-70: #f3aaa7;
@sikkens-4041-b6-30-60: #e88380;
@sikkens-4041-b6-30-50: #ca6b6e;
@sikkens-4041-b6-35-40: #a95053;
@sikkens-4041-b6-30-40: #a65455;
@sikkens-4041-b6-30-30: #874446;
@sikkens-4041-b6-28-19: #63322e;
@sikkens-4041-b3-07-78: #f0cbca;
@sikkens-4041-b6-10-70: #e5b8b4;
@sikkens-4041-b6-15-65: #db9f9b;
@sikkens-4041-b6-20-60: #d88f8c;
@sikkens-4041-b6-20-50: #b87874;
@sikkens-4041-b6-20-40: #946160;
@sikkens-4041-b6-20-30: #784445;
@sikkens-4041-b7-28-19: #642f32;
@sikkens-4041-b2-10-80: #f8cecd;
@sikkens-4041-b2-10-70: #ddb0af;
@sikkens-4041-b2-10-60: #c59c9d;
@sikkens-4041-b2-10-50: #a27d7e;
@sikkens-4041-b2-10-40: #86676a;
@sikkens-4041-b2-10-30: #6c5354;
@sikkens-4041-b2-10-25: #5e4446;
@sikkens-4041-b2-10-20: #543e3f;
@sikkens-4041-b6-05-85: #f9e3df;
@sikkens-4041-b2-05-75: #e5cacb;
@sikkens-4041-b2-05-70: #d0b9b8;
@sikkens-4041-b2-05-65: #c7afb1;
@sikkens-4041-b2-05-55: #a79694;
@sikkens-4041-b1-05-45: #8b7a7a;
@sikkens-4041-b3-05-40: #7c6e6d;
@sikkens-4041-b1-05-35: #716263;
@sikkens-4041-cn-02-88: #f9f3ec;
@sikkens-4041-cn-03-86: #f8e8e2;
@sikkens-4041-cn-02-77: #dcd0cb;
@sikkens-4041-cn-02-67: #c1b8b5;
@sikkens-4041-cn-02-57: #a29b99;
@sikkens-4041-cn-02-47: #88807f;
@sikkens-4041-cn-02-37: #6f6968;
@sikkens-4041-cn-02-27: #55504f;
@sikkens-4041-c0-04-83: #f7e0dc;
@sikkens-4041-c0-04-78: #e8d4d0;
@sikkens-4041-c0-05-75: #dcc7c4;
@sikkens-4041-c0-05-65: #c2adab;
@sikkens-4041-c0-05-55: #a6928f;
@sikkens-4041-c0-05-45: #887977;
@sikkens-4041-c0-05-35: #746564;
@sikkens-4041-c0-05-25: #564b49;
@sikkens-4041-c0-07-82: #fadad3;
@sikkens-4041-c0-07-77: #eccdc8;
@sikkens-4041-c0-10-70: #dfb6b0;
@sikkens-4041-c0-10-60: #c39e99;
@sikkens-4041-c0-10-50: #a18280;
@sikkens-4041-c0-10-40: #896c68;
@sikkens-4041-c0-10-30: #6c5653;
@sikkens-4041-c0-10-20: #514140;
@sikkens-4041-c0-10-80: #f8cdc5;
@sikkens-4041-c0-15-75: #f7bbb4;
@sikkens-4041-c0-15-65: #dfa59f;
@sikkens-4041-c0-15-55: #bc8783;
@sikkens-4041-c0-20-50: #b97a73;
@sikkens-4041-c0-20-40: #98645e;
@sikkens-4041-c0-20-30: #794a46;
@sikkens-4041-c0-30-20: #64302d;
@sikkens-4041-c0-08-80: #f9d3ca;
@sikkens-4041-c4-20-70: #eeab9b;
@sikkens-4041-c4-20-60: #cd9285;
@sikkens-4041-c4-20-50: #b17b71;
@sikkens-4041-c4-30-50: #c17464;
@sikkens-4041-c0-30-40: #9d594c;
@sikkens-4041-c0-30-30: #844940;
@sikkens-4041-c0-40-20: #733029;
@sikkens-4041-c1-10-79: #f9c9bc;
@sikkens-4041-c0-20-70: #f8ada0;
@sikkens-4041-c0-20-60: #d49089;
@sikkens-4041-c0-25-55: #c97c77;
@sikkens-4041-c0-25-45: #ab6661;
@sikkens-4041-c0-30-40: #a7554f;
@sikkens-4041-c0-30-30: #7d3b37;
@sikkens-4041-c4-35-15: #632e2a;
@sikkens-4041-c0-17-72: #f6ada1;
@sikkens-4041-c0-25-65: #ee978f;
@sikkens-4041-c0-30-60: #eb847e;
@sikkens-4041-c0-30-50: #cf736b;
@sikkens-4041-b8-35-45: #c2605a;
@sikkens-4041-c0-40-40: #b95452;
@sikkens-4041-c0-40-30: #923f3e;
@sikkens-4041-c0-40-20: #6e2725;
@sikkens-4041-c3-20-73: #ffb4a3;
@sikkens-4041-c0-28-58: #e28479;
@sikkens-4041-c0-40-50: #d4645a;
@sikkens-4041-c0-50-40: #be3b3a;
@sikkens-4041-c0-50-30: #9b2f32;
@sikkens-4041-c2-60-25: #8d2526;
@sikkens-4041-c2-50-25: #7d2724;
@sikkens-4041-c0-45-20: #712828;
@sikkens-4041-c4-30-60: #e48875;
@sikkens-4041-c4-40-50: #cf6550;
@sikkens-4041-c4-40-40: #b25343;
@sikkens-4041-c4-50-40: #ba4639;
@sikkens-4041-c3-57-31: #a63230;
@sikkens-4041-c4-40-30: #973d32;
@sikkens-4041-c0-60-30: #a8212c;
@sikkens-4041-c0-48-20: #7f2128;
@sikkens-4041-c2-24-65: #ed9183;
@sikkens-4041-c2-38-50: #d86b5c;
@sikkens-4041-c2-53-40: #c3433e;
@sikkens-4041-c4-60-40: #ca3831;
@sikkens-4041-c6-65-35: #b02d26;
@sikkens-4041-c4-75-30: #b52122;
@sikkens-4041-c4-60-30: #a62b26;
@sikkens-4041-c4-50-30: #97352e;
@sikkens-4041-c4-32-60: #eb8875;
@sikkens-4041-c5-43-58: #f67c62;
@sikkens-4041-c5-43-54: #e77361;
@sikkens-4041-c4-46-50: #dd6250;
@sikkens-4041-c4-50-50: #dd594e;
@sikkens-4041-c4-55-40: #c43a24;
@sikkens-4041-c4-49-33: #a4453a;
@sikkens-4041-c4-55-30: #952f27;
@sikkens-4041-c8-34-63: #f59270;
@sikkens-4041-c8-45-55: #eb7453;
@sikkens-4041-c8-50-50: #db664b;
@sikkens-4041-c6-49-48: #cf573d;
@sikkens-4041-c8-50-40: #b85136;
@sikkens-4041-c8-51-39: #b04e31;
@sikkens-4041-c8-60-30: #9d382b;
@sikkens-4041-c8-50-30: #8f4231;
@sikkens-4041-c7-26-67: #f7a68d;
@sikkens-4041-c8-30-60: #e08d70;
@sikkens-4041-c8-40-60: #ef8060;
@sikkens-4041-c8-40-50: #d36d4c;
@sikkens-4041-c8-40-40: #ad5b46;
@sikkens-4041-c8-40-30: #86412e;
@sikkens-4041-c7-34-24: #734339;
@sikkens-4041-c8-40-20: #6d3a30;
@sikkens-4041-c7-22-72: #f9af98;
@sikkens-4041-c8-25-65: #ea9c84;
@sikkens-4041-c8-25-55: #c8856f;
@sikkens-4041-c8-30-50: #bf735c;
@sikkens-4041-c8-25-45: #ab705d;
@sikkens-4041-c8-30-40: #a2614d;
@sikkens-4041-c8-30-30: #834e3e;
@sikkens-4041-c8-30-20: #64392d;
@sikkens-4041-c8-15-75: #f3bfac;
@sikkens-4041-c8-19-74: #ffbda5;
@sikkens-4041-c8-20-70: #f4b39d;
@sikkens-4041-c8-20-60: #db9682;
@sikkens-4041-c8-20-40: #926555;
@sikkens-4041-c8-20-30: #6f4739;
@sikkens-4041-c8-20-20: #5b3d37;
@sikkens-4041-c4-05-20: #4a403d;
@sikkens-4041-c8-07-82: #f7d9d0;
@sikkens-4041-c8-10-80: #fdd5c8;
@sikkens-4041-c8-10-70: #dbb9ac;
@sikkens-4041-c8-15-65: #d8a698;
@sikkens-4041-c8-20-50: #ae7e6d;
@sikkens-4041-c4-20-40: #906257;
@sikkens-4041-c4-20-30: #744d44;
@sikkens-4041-c6-22-23: #644139;
@sikkens-4041-cn-01-90: #faf1eb;
@sikkens-4041-c8-04-83: #f2e2db;
@sikkens-4041-c8-05-75: #dcc7bf;
@sikkens-4041-c8-10-60: #be9f95;
@sikkens-4041-c8-15-55: #b89083;
@sikkens-4041-c8-16-48: #a37a6c;
@sikkens-4041-c9-21-31: #775145;
@sikkens-4041-c8-25-18: #5d403a;
@sikkens-4041-c8-03-78: #ded1cc;
@sikkens-4041-c4-05-65: #c3b1ab;
@sikkens-4041-c8-05-65: #bfada8;
@sikkens-4041-c8-05-55: #a4938e;
@sikkens-4041-c8-10-50: #9e857c;
@sikkens-4041-c8-10-40: #856c65;
@sikkens-4041-c8-10-30: #63504a;
@sikkens-4041-c8-10-20: #54453f;
@sikkens-4041-d2-03-86: #f9eadf;
@sikkens-4041-d2-05-80: #f4dbd0;
@sikkens-4041-d2-10-70: #deb8a8;
@sikkens-4041-d2-10-60: #c0a293;
@sikkens-4041-d2-10-50: #9b8379;
@sikkens-4041-d2-10-40: #816c65;
@sikkens-4041-d2-10-30: #675750;
@sikkens-4041-d2-10-25: #57453e;
@sikkens-4041-d2-10-80: #f7d3c4;
@sikkens-4041-d2-15-75: #f3c2aa;
@sikkens-4041-d2-15-65: #d2a692;
@sikkens-4041-d2-15-55: #b48e7e;
@sikkens-4041-d3-18-43: #937160;
@sikkens-4041-d2-20-30: #724e3f;
@sikkens-4041-d2-15-25: #5a433a;
@sikkens-4041-d2-15-15: #52403c;
@sikkens-4041-d2-15-80: #f6cdb8;
@sikkens-4041-d2-20-70: #eab297;
@sikkens-4041-d2-20-60: #c99379;
@sikkens-4041-d2-20-50: #ad7d67;
@sikkens-4041-d2-20-40: #8f6452;
@sikkens-4041-d2-25-30: #794e39;
@sikkens-4041-d2-30-30: #7d4e3a;
@sikkens-4041-d2-35-25: #7c4734;
@sikkens-4041-d2-30-70: #f1a07b;
@sikkens-4041-d2-30-60: #dd906a;
@sikkens-4041-d2-35-55: #d4815a;
@sikkens-4041-d2-30-50: #b5765a;
@sikkens-4041-d2-35-45: #ac694a;
@sikkens-4041-d2-30-40: #9f6144;
@sikkens-4041-d2-40-40: #a35b3f;
@sikkens-4041-d2-40-30: #874e37;
@sikkens-4041-d4-23-71: #eda883;
@sikkens-4041-d6-35-70: #f49f6b;
@sikkens-4041-d2-40-60: #ec885a;
@sikkens-4041-d2-50-55: #ef7a45;
@sikkens-4041-d2-40-50: #c5704c;
@sikkens-4041-d2-50-50: #cd663d;
@sikkens-4041-d2-50-30: #8f472b;
@sikkens-4041-d4-30-20: #653e2e;
@sikkens-4041-d9-25-74: #fbbb8e;
@sikkens-4041-d7-41-60: #e5925a;
@sikkens-4041-d6-47-61: #f28c4f;
@sikkens-4041-d6-58-58: #f47a30;
@sikkens-4041-d5-63-53: #eb6c24;
@sikkens-4041-d3-71-48: #e55a25;
@sikkens-4041-d3-65-43: #cf5523;
@sikkens-4041-d1-58-40: #c24f29;
@sikkens-4041-d9-40-68: #faa563;
@sikkens-4041-d6-50-60: #ee8741;
@sikkens-4041-d8-65-50: #e66d1e;
@sikkens-4041-d6-60-50: #d26725;
@sikkens-4041-d6-50-50: #ca6d37;
@sikkens-4041-d6-60-40: #b05823;
@sikkens-4041-d6-50-40: #a75a2e;
@sikkens-4041-d6-50-30: #8e4b2b;
@sikkens-4041-d8-37-65: #efa066;
@sikkens-4041-d6-40-60: #e48c54;
@sikkens-4041-d6-35-55: #cb875c;
@sikkens-4041-d6-40-50: #c57242;
@sikkens-4041-d6-40-40: #9e5b33;
@sikkens-4041-d6-40-30: #7f4c30;
@sikkens-4041-d6-30-30: #7d533c;
@sikkens-4041-d6-30-20: #5e3f30;
@sikkens-4041-d6-25-70: #f7b58d;
@sikkens-4041-d6-30-70: #f5a97c;
@sikkens-4041-d6-30-60: #db9167;
@sikkens-4041-d6-25-65: #dfa17d;
@sikkens-4041-d6-30-50: #b37b58;
@sikkens-4041-d6-35-45: #ac704b;
@sikkens-4041-d6-30-40: #94603e;
@sikkens-4041-d6-25-30: #75523d;
@sikkens-4041-d6-20-80: #fbc3a2;
@sikkens-4041-d6-20-70: #e4ad8e;
@sikkens-4041-d6-20-60: #ca997d;
@sikkens-4041-d6-25-55: #c0896c;
@sikkens-4041-d6-20-50: #ad8066;
@sikkens-4041-d6-20-40: #8a644f;
@sikkens-4041-d6-20-30: #6c4d3b;
@sikkens-4041-d6-20-20: #564033;
@sikkens-4041-d7-10-82: #fbd9c6;
@sikkens-4041-d6-10-80: #f5d6c4;
@sikkens-4041-d6-15-75: #efc5af;
@sikkens-4041-d6-15-65: #d2aa93;
@sikkens-4041-d6-15-55: #af8d79;
@sikkens-4041-d6-10-40: #806d61;
@sikkens-4041-d6-15-25: #5b4538;
@sikkens-4041-d6-10-20: #53473f;
@sikkens-4041-d6-05-65: #f2dfd4;
@sikkens-4041-d6-07-82: #f2dacb;
@sikkens-4041-d6-07-77: #e5ccbd;
@sikkens-4041-d6-10-70: #d5b6a4;
@sikkens-4041-d6-10-60: #b99c8b;
@sikkens-4041-d6-10-50: #9b8679;
@sikkens-4041-d6-10-30: #63534a;
@sikkens-4041-e0-05-25: #4f4640;
@sikkens-4041-dn-02-82: #e9e0da;
@sikkens-4041-d6-04-78: #e5d9cf;
@sikkens-4041-d6-05-75: #dfcdc3;
@sikkens-4041-d6-05-65: #c4b4ab;
@sikkens-4041-d6-05-55: #a59790;
@sikkens-4041-d6-05-45: #8a7f79;
@sikkens-4041-d6-05-35: #706762;
@sikkens-4041-d6-05-25: #564d49;
@sikkens-4041-e0-03-88: #f7ece2;
@sikkens-4041-e0-03-84: #f3e7dd;
@sikkens-4041-e0-05-75: #d9c9bc;
@sikkens-4041-e0-10-70: #d7bba8;
@sikkens-4041-e0-10-60: #b69e8f;
@sikkens-4041-e0-10-50: #988374;
@sikkens-4041-e0-05-45: #887d75;
@sikkens-4041-e0-10-30: #63574e;
@sikkens-4041-e0-10-80: #f3d7c4;
@sikkens-4041-e1-14-79: #f7d1b3;
@sikkens-4041-e0-15-75: #efc5a7;
@sikkens-4041-e0-15-65: #cdab92;
@sikkens-4041-e0-15-55: #af9079;
@sikkens-4041-e0-15-45: #917764;
@sikkens-4041-e0-10-40: #7f6d5f;
@sikkens-4041-e0-15-35: #755e4c;
@sikkens-4041-e0-20-80: #fccaa2;
@sikkens-4041-e0-20-70: #e7b791;
@sikkens-4041-e0-25-65: #dca87f;
@sikkens-4041-e0-20-60: #c19878;
@sikkens-4041-e0-20-50: #a78167;
@sikkens-4041-e0-25-45: #a17758;
@sikkens-4041-e0-20-40: #87664d;
@sikkens-4041-e0-20-30: #6c4c36;
@sikkens-4041-e0-25-75: #fabd8d;
@sikkens-4041-e0-30-70: #f5b37f;
@sikkens-4041-e1-21-69: #e1b28b;
@sikkens-4041-e0-30-60: #cf986d;
@sikkens-4041-e0-25-55: #bb8d69;
@sikkens-4041-e0-30-50: #ab7952;
@sikkens-4041-e0-30-40: #926541;
@sikkens-4041-e0-25-35: #805e43;
@sikkens-4041-e0-35-65: #e6a36c;
@sikkens-4041-e0-40-60: #d78f56;
@sikkens-4041-e0-35-55: #c68957;
@sikkens-4041-e0-45-55: #d38140;
@sikkens-4041-e0-50-50: #c67538;
@sikkens-4041-e0-40-50: #bc7846;
@sikkens-4041-e0-40-40: #9f6635;
@sikkens-4041-e0-45-30: #8b572f;
@sikkens-4041-e0-40-70: #f8a360;
@sikkens-4041-e0-50-65: #fa9641;
@sikkens-4041-e0-50-60: #ea8a3e;
@sikkens-4041-e0-60-50: #cb7328;
@sikkens-4041-e0-60-40: #a75d22;
@sikkens-4041-e0-50-40: #a25f2e;
@sikkens-4041-e0-48-30: #814e26;
@sikkens-4041-e0-30-20: #624430;
@sikkens-4041-e4-50-70: #faa64a;
@sikkens-4041-e4-50-60: #de903a;
@sikkens-4041-e4-60-60: #eb8d20;
@sikkens-4041-e4-60-50: #c3751e;
@sikkens-4041-e4-50-50: #bd7a30;
@sikkens-4041-e4-50-40: #9d6126;
@sikkens-4041-e0-40-30: #7a4e2a;
@sikkens-4041-e0-30-30: #785133;
@sikkens-4041-e5-27-77: #ffc98e;
@sikkens-4041-e4-30-75: #f9bd7e;
@sikkens-4041-e4-40-70: #fbb162;
@sikkens-4041-e4-40-60: #d69551;
@sikkens-4041-e4-40-50: #ba8043;
@sikkens-4041-e4-40-40: #916435;
@sikkens-4041-e4-40-30: #77502a;
@sikkens-4041-e5-35-25: #64482f;
@sikkens-4041-e6-19-80: #ffd5a5;
@sikkens-4041-e4-30-70: #e9b076;
@sikkens-4041-e4-30-60: #cc9c6b;
@sikkens-4041-e4-30-50: #a67d51;
@sikkens-4041-e1-22-47: #a78263;
@sikkens-4041-e4-30-40: #8b663f;
@sikkens-4041-e4-30-30: #72573e;
@sikkens-4041-e4-30-20: #563e26;
@sikkens-4041-e4-20-80: #fcd2a9;
@sikkens-4041-e4-25-75: #f5bc85;
@sikkens-4041-e4-25-65: #d6a67a;
@sikkens-4041-e1-26-54: #c19268;
@sikkens-4041-e4-25-55: #b88e66;
@sikkens-4041-e4-25-35: #7a5e42;
@sikkens-4041-e4-25-30: #72563c;
@sikkens-4041-e4-15-25: #5b4b3c;
@sikkens-4041-e4-10-85: #fbe1c3;
@sikkens-4041-e3-20-77: #f7c89f;
@sikkens-4041-e4-20-75: #f3c599;
@sikkens-4041-e4-20-70: #ddb792;
@sikkens-4041-e4-20-60: #c49e7f;
@sikkens-4041-e4-20-50: #a7876a;
@sikkens-4041-e4-20-40: #896e52;
@sikkens-4041-e4-20-30: #634b35;
@sikkens-4041-e5-08-84: #f8e3cd;
@sikkens-4041-e4-07-82: #f0dcc7;
@sikkens-4041-e4-10-80: #f5dcc1;
@sikkens-4041-e4-15-75: #e9c7a6;
@sikkens-4041-e4-15-65: #cdab8d;
@sikkens-4041-e4-15-55: #af937a;
@sikkens-4041-e4-15-45: #8b745e;
@sikkens-4041-e4-15-35: #755f4d;
@sikkens-4041-e4-03-80: #ded6cf;
@sikkens-4041-e4-05-75: #d8ccbf;
@sikkens-4041-e4-07-77: #dfcebd;
@sikkens-4041-e4-10-70: #d1bdab;
@sikkens-4041-e4-10-60: #b3a08e;
@sikkens-4041-e4-10-50: #998675;
@sikkens-4041-e4-10-40: #786b60;
@sikkens-4041-e4-10-30: #5c5045;
@sikkens-4041-e4-05-85: #f6e7da;
@sikkens-4041-e6-07-84: #f6e4d2;
@sikkens-4041-e1-09-78: #ead2be;
@sikkens-4041-e3-09-72: #d6c2af;
@sikkens-4041-e0-11-67: #ccb39f;
@sikkens-4041-e0-09-53: #a18e7f;
@sikkens-4041-e8-10-40: #7b6e60;
@sikkens-4041-e8-10-30: #655a4e;
@sikkens-4041-en-02-88: #f6eee6;
@sikkens-4041-en-02-87: #f6eee6;
@sikkens-4041-en-02-85: #eee8e1;
@sikkens-4041-e5-05-77: #d6c9b9;
@sikkens-4041-e4-05-65: #baaea3;
@sikkens-4041-e4-05-55: #9e948c;
@sikkens-4041-e4-05-35: #6c645e;
@sikkens-4041-e4-05-20: #494440;
@sikkens-4041-en-02-90: #f9f3ec;
@sikkens-4041-e4-04-83: #eee2d5;
@sikkens-4041-e8-05-80: #e7dbcc;
@sikkens-4041-e8-07-77: #e1d2c0;
@sikkens-4041-e8-05-70: #ccc2b7;
@sikkens-4041-e8-03-60: #aca59f;
@sikkens-4041-e4-05-45: #837a72;
@sikkens-4041-e4-05-25: #534d48;
@sikkens-4041-e8-10-85: #fbe5cd;
@sikkens-4041-e8-10-80: #ebdac4;
@sikkens-4041-e8-10-75: #ddc9b0;
@sikkens-4041-e8-10-70: #d3bea7;
@sikkens-4041-e8-10-60: #b0a08e;
@sikkens-4041-e8-10-50: #958676;
@sikkens-4041-e8-15-35: #6e5f4c;
@sikkens-4041-e8-10-25: #5e554d;
@sikkens-4041-e8-15-85: #fbe1c0;
@sikkens-4041-e8-15-80: #f3d6b4;
@sikkens-4041-e6-18-76: #f1cca3;
@sikkens-4041-e8-15-75: #dfc4a4;
@sikkens-4041-e8-15-65: #c9b092;
@sikkens-4041-e8-15-55: #ab957b;
@sikkens-4041-e8-15-45: #8a7762;
@sikkens-4041-e8-20-40: #867158;
@sikkens-4041-e8-20-80: #f7d3a5;
@sikkens-4041-e8-20-75: #f0cc9b;
@sikkens-4041-e8-20-70: #d9b88c;
@sikkens-4041-e8-25-65: #d1aa78;
@sikkens-4041-e8-20-60: #ba9b77;
@sikkens-4041-e8-20-50: #a08668;
@sikkens-4041-e8-25-45: #947857;
@sikkens-4041-e8-20-30: #685641;
@sikkens-4041-e8-25-80: #ffd293;
@sikkens-4041-e8-25-75: #efc38c;
@sikkens-4041-e8-30-70: #e7b776;
@sikkens-4041-e8-35-65: #d9a865;
@sikkens-4041-e8-30-60: #c49c6a;
@sikkens-4041-e8-25-55: #b49269;
@sikkens-4041-e5-21-49: #a68765;
@sikkens-4041-e8-30-40: #876a41;
@sikkens-4041-e8-35-75: #fcbe73;
@sikkens-4041-e8-40-70: #f0b05e;
@sikkens-4041-e8-40-60: #d49a4e;
@sikkens-4041-e8-35-55: #c09358;
@sikkens-4041-e8-35-45: #9d7541;
@sikkens-4041-e8-40-40: #8f6834;
@sikkens-4041-e8-25-35: #765e40;
@sikkens-4041-e8-30-30: #705738;
@sikkens-4041-e9-44-73: #fcbc58;
@sikkens-4041-e8-50-70: #f4b03f;
@sikkens-4041-e8-55-70: #fbaa32;
@sikkens-4041-e8-60-60: #e49317;
@sikkens-4041-e8-50-60: #d69a3a;
@sikkens-4041-e8-50-50: #ba8331;
@sikkens-4041-e8-40-50: #b28241;
@sikkens-4041-e8-55-45: #b3762b;
@sikkens-4041-e9-29-79: #ffcf87;
@sikkens-4041-e7-36-76: #ffc371;
@sikkens-4041-f0-40-70: #efb75d;
@sikkens-4041-e8-49-73: #ffb847;
@sikkens-4041-e6-58-65: #f0a127;
@sikkens-4041-e7-72-58: #dd8b00;
@sikkens-4041-e6-63-53: #cc8218;
@sikkens-4041-e6-63-47: #b67317;
@sikkens-4041-f3-40-77: #fecc64;
@sikkens-4041-f2-45-75: #ffc047;
@sikkens-4041-f2-55-75: #fcbb27;
@sikkens-4041-f2-50-70: #eeb337;
@sikkens-4041-f2-70-65: #f0a700;
@sikkens-4041-f2-60-70: #eeb028;
@sikkens-4041-f2-60-60: #d39710;
@sikkens-4041-f2-50-50: #a97f2c;
@sikkens-4041-f3-33-80: #ffd67d;
@sikkens-4041-f2-35-80: #fecd71;
@sikkens-4041-f2-40-70: #e9b858;
@sikkens-4041-f2-50-65: #dea835;
@sikkens-4041-f2-50-60: #cf9d32;
@sikkens-4041-f2-50-55: #bf912c;
@sikkens-4041-f2-50-40: #926a1f;
@sikkens-4041-f2-40-30: #735422;
@sikkens-4041-f5-20-80: #f2daa4;
@sikkens-4041-f2-30-80: #f9d38c;
@sikkens-4041-f2-35-75: #f3c573;
@sikkens-4041-f2-35-65: #d3a963;
@sikkens-4041-f2-40-60: #c79d50;
@sikkens-4041-f2-40-50: #a9853d;
@sikkens-4041-f2-40-40: #8a6a2f;
@sikkens-4041-f2-30-30: #695633;
@sikkens-4041-f2-25-75: #e8c78d;
@sikkens-4041-f2-30-70: #ddb976;
@sikkens-4041-f2-25-65: #cdaf79;
@sikkens-4041-f2-30-60: #c29f64;
@sikkens-4041-f2-25-55: #b49667;
@sikkens-4041-f2-30-50: #a58957;
@sikkens-4041-f2-25-45: #8f764f;
@sikkens-4041-f2-30-40: #886f44;
@sikkens-4041-f2-15-85: #fbdfb9;
@sikkens-4041-f0-20-80: #f4d3a7;
@sikkens-4041-f0-24-80: #fed69a;
@sikkens-4041-f0-25-75: #f0cd95;
@sikkens-4041-f0-30-70: #e5ba7a;
@sikkens-4041-f0-25-70: #d6b280;
@sikkens-4041-f1-22-52: #a18964;
@sikkens-4041-f2-20-40: #806d4f;
@sikkens-4041-f0-10-85: #f7e4cb;
@sikkens-4041-f0-17-80: #f2d6aa;
@sikkens-4041-f2-15-80: #efd7af;
@sikkens-4041-f2-20-80: #f2d4a3;
@sikkens-4041-f2-20-70: #d9bd91;
@sikkens-4041-f2-20-60: #bba27b;
@sikkens-4041-f2-20-50: #9a8564;
@sikkens-4041-f2-20-30: #635239;
@sikkens-4041-f2-08-86: #f9e9d2;
@sikkens-4041-f2-10-80: #ead8be;
@sikkens-4041-f0-15-75: #dec7a6;
@sikkens-4041-f2-15-75: #e5cca6;
@sikkens-4041-f2-15-65: #c1ad8d;
@sikkens-4041-f2-15-55: #a49276;
@sikkens-4041-f2-15-45: #897960;
@sikkens-4041-f2-15-35: #6f624e;
@sikkens-4041-f2-07-88: #faeedb;
@sikkens-4041-f2-06-84: #efe4d3;
@sikkens-4041-f2-06-74: #d6cebe;
@sikkens-4041-f2-10-70: #d0c0aa;
@sikkens-4041-f2-10-60: #b0a38f;
@sikkens-4041-f2-10-50: #968a79;
@sikkens-4041-f2-10-40: #776e5f;
@sikkens-4041-f2-10-30: #5e5446;
@sikkens-4041-f2-05-87: #f8efde;
@sikkens-4041-f2-05-85: #f3e8d8;
@sikkens-4041-f2-03-84: #ebe5dd;
@sikkens-4041-f2-05-75: #d3cbbf;
@sikkens-4041-f2-05-65: #b8b0a5;
@sikkens-4041-f2-05-55: #a09a91;
@sikkens-4041-f2-05-45: #817c74;
@sikkens-4041-f2-05-35: #69625a;
@sikkens-4041-fn-02-88: #f1ebe0;
@sikkens-4041-fn-02-82: #e3ddd4;
@sikkens-4041-fn-02-77: #d3cfc7;
@sikkens-4041-fn-02-67: #b3b0a8;
@sikkens-4041-fn-02-57: #9f9b94;
@sikkens-4041-fn-02-47: #84817c;
@sikkens-4041-fn-02-37: #6b6863;
@sikkens-4041-fn-02-27: #54514c;
@sikkens-4041-f6-03-87: #f3ece1;
@sikkens-4041-f6-03-72: #cbc6bd;
@sikkens-4041-f6-05-70: #c8bfb2;
@sikkens-4041-f6-05-60: #a8a195;
@sikkens-4041-f6-05-50: #908b80;
@sikkens-4041-f6-05-40: #756f67;
@sikkens-4041-f6-05-30: #5e5951;
@sikkens-4041-f6-03-20: #44413e;
@sikkens-4041-fn-02-85: #e9e6de;
@sikkens-4041-f6-05-80: #e3decc;
@sikkens-4041-f6-10-80: #e5d7be;
@sikkens-4041-f6-10-70: #c8baa2;
@sikkens-4041-f6-10-60: #aea28b;
@sikkens-4041-f6-10-50: #978d7b;
@sikkens-4041-f6-10-40: #786f60;
@sikkens-4041-f6-10-30: #5d574c;
@sikkens-4041-f2-03-88: #f5efe3;
@sikkens-4041-f6-07-77: #dacebb;
@sikkens-4041-f6-15-75: #dac8a4;
@sikkens-4041-f6-15-65: #beaf90;
@sikkens-4041-f6-15-55: #a6987c;
@sikkens-4041-f8-16-48: #8f8469;
@sikkens-4041-f6-15-45: #8b7f66;
@sikkens-4041-f6-15-35: #716652;
@sikkens-4041-f6-07-82: #ede1cb;
@sikkens-4041-f6-15-80: #ebd8af;
@sikkens-4041-f6-20-80: #eed5a4;
@sikkens-4041-f6-20-70: #d2be91;
@sikkens-4041-f6-20-60: #b19e74;
@sikkens-4041-f6-20-50: #978664;
@sikkens-4041-f6-20-40: #7e6f4f;
@sikkens-4041-f6-20-30: #5d5239;
@sikkens-4041-f6-05-85: #f2ecdd;
@sikkens-4041-f6-15-85: #f8e4bb;
@sikkens-4041-f6-25-80: #f4d894;
@sikkens-4041-f6-25-75: #e7ce95;
@sikkens-4041-f6-25-70: #d4bd81;
@sikkens-4041-f6-25-65: #c9b077;
@sikkens-4041-f6-30-50: #9a8450;
@sikkens-4041-f6-30-30: #685938;
@sikkens-4041-f6-09-86: #faecd1;
@sikkens-4041-f6-20-83: #f9e3ac;
@sikkens-4041-f6-26-81: #fcdb94;
@sikkens-4041-f6-35-75: #e8c570;
@sikkens-4041-f6-30-70: #debc6a;
@sikkens-4041-f6-35-65: #cbae67;
@sikkens-4041-f6-30-60: #baa268;
@sikkens-4041-f6-30-40: #85744d;
@sikkens-4041-f6-25-85: #fcdf9e;
@sikkens-4041-f6-30-80: #fbd688;
@sikkens-4041-f6-40-80: #fbcf67;
@sikkens-4041-f6-40-70: #dfbb59;
@sikkens-4041-f6-40-60: #c2a14b;
@sikkens-4041-f6-40-50: #9c8138;
@sikkens-4041-f6-40-40: #866f38;
@sikkens-4041-f6-40-30: #66572a;
@sikkens-4041-f8-15-80: #e9d8ad;
@sikkens-4041-f8-20-80: #ebd7a6;
@sikkens-4041-f8-20-75: #e0d09f;
@sikkens-4041-f8-30-70: #d6be78;
@sikkens-4041-f8-40-70: #dbbf64;
@sikkens-4041-f8-40-60: #bfa44d;
@sikkens-4041-f8-45-55: #b79b3a;
@sikkens-4041-f8-41-46: #95803e;
@sikkens-4041-f8-25-81: #efd897;
@sikkens-4041-f8-30-80: #f4d686;
@sikkens-4041-f6-45-75: #f1c34a;
@sikkens-4041-f6-55-75: #f7c636;
@sikkens-4041-f6-50-70: #e2bb34;
@sikkens-4041-f6-50-60: #bea035;
@sikkens-4041-f6-50-50: #a58329;
@sikkens-4041-f6-50-40: #896e28;
@sikkens-4041-g0-31-84: #f7de82;
@sikkens-4041-f8-40-80: #fdda69;
@sikkens-4041-f8-50-80: #fdd244;
@sikkens-4041-f8-60-80: #ffd424;
@sikkens-4041-f6-60-70: #e3b712;
@sikkens-4041-f6-70-70: #ebb800;
@sikkens-4041-f6-60-60: #c69e21;
@sikkens-4041-f6-55-54: #b39023;
@sikkens-4041-g0-35-85: #f6e283;
@sikkens-4041-g0-40-80: #f1d86d;
@sikkens-4041-g0-45-80: #fbdc61;
@sikkens-4041-g0-50-80: #f7db48;
@sikkens-4041-g0-55-80: #f8db34;
@sikkens-4041-g0-60-70: #dfbe02;
@sikkens-4041-g0-55-70: #dbbd25;
@sikkens-4041-g0-60-60: #bb9f1b;
@sikkens-4041-g3-34-84: #f9e780;
@sikkens-4041-g2-51-81: #f6e04a;
@sikkens-4041-g1-57-79: #f1d72b;
@sikkens-4041-g0-60-75: #e8ce0d;
@sikkens-4041-g0-70-76: #f2d400;
@sikkens-4041-g0-50-70: #d9bb3d;
@sikkens-4041-g0-50-60: #bba12f;
@sikkens-4041-g0-50-50: #a08c2a;
@sikkens-4041-g5-27-85: #f6ed9a;
@sikkens-4041-g4-34-84: #f5ea84;
@sikkens-4041-g3-46-83: #f6e455;
@sikkens-4041-g0-35-75: #e1cc6e;
@sikkens-4041-g0-40-70: #cdb85c;
@sikkens-4041-g0-40-60: #b49f4b;
@sikkens-4041-g0-40-50: #96883d;
@sikkens-4041-g0-40-40: #7d6f30;
@sikkens-4041-g0-25-85: #fae59e;
@sikkens-4041-g0-30-80: #efd886;
@sikkens-4041-g0-25-75: #e1ce90;
@sikkens-4041-g0-30-70: #d4be75;
@sikkens-4041-g0-25-65: #c6b378;
@sikkens-4041-g0-30-60: #b4a264;
@sikkens-4041-g0-30-50: #978953;
@sikkens-4041-g0-30-30: #625934;
@sikkens-4041-g0-15-85: #f9ebbc;
@sikkens-4041-g0-20-80: #eddba3;
@sikkens-4041-g0-20-70: #cfbf8c;
@sikkens-4041-g0-20-60: #b4a57a;
@sikkens-4041-g0-20-50: #928762;
@sikkens-4041-g0-20-40: #7c7252;
@sikkens-4041-g0-20-30: #5f573e;
@sikkens-4041-g0-20-20: #494332;
@sikkens-4041-gn-02-90: #f6f2e6;
@sikkens-4041-g0-08-84: #ebe0c4;
@sikkens-4041-g0-10-80: #e3d6ba;
@sikkens-4041-g0-10-75: #d6cbae;
@sikkens-4041-g0-15-75: #d9c9a1;
@sikkens-4041-g0-15-65: #baae8c;
@sikkens-4041-g0-10-50: #908975;
@sikkens-4041-g0-10-30: #5c5749;
@sikkens-4041-g0-05-88: #f5efdb;
@sikkens-4041-g0-08-88: #f8eed3;
@sikkens-4041-g0-09-85: #f2e9cc;
@sikkens-4041-g1-13-79: #e3d8b3;
@sikkens-4041-g0-10-70: #cac1a6;
@sikkens-4041-g0-10-65: #bbb39d;
@sikkens-4041-g0-10-60: #aca38e;
@sikkens-4041-g0-10-40: #736d5e;
@sikkens-4041-gn-01-88: #f6f5ea;
@sikkens-4041-g4-04-88: #f5f0df;
@sikkens-4041-g0-05-85: #ebe5d2;
@sikkens-4041-g0-05-75: #d4cebe;
@sikkens-4041-g0-05-65: #b6b2a5;
@sikkens-4041-g0-05-55: #9d988d;
@sikkens-4041-g0-05-45: #807d74;
@sikkens-4041-g0-05-25: #4a4742;
@sikkens-4041-gn-00-88: #efefec;
@sikkens-4041-g4-03-88: #f5f2e7;
@sikkens-4041-g0-03-86: #ebe8db;
@sikkens-4041-g0-04-84: #e9e4d6;
@sikkens-4041-g0-05-80: #e0d9ca;
@sikkens-4041-g0-05-70: #c5bfb1;
@sikkens-4041-g4-05-55: #9d9a90;
@sikkens-4041-g0-05-35: #67645d;
@sikkens-4041-g4-04-84: #ede9d9;
@sikkens-4041-g4-08-83: #eae5cc;
@sikkens-4041-g4-05-81: #e0dccd;
@sikkens-4041-g4-07-80: #e1d9c5;
@sikkens-4041-g4-05-77: #d6d1c2;
@sikkens-4041-g4-10-70: #c6bea2;
@sikkens-4041-g4-10-60: #aba691;
@sikkens-4041-g8-10-40: #727160;
@sikkens-4041-g4-08-88: #f7f3da;
@sikkens-4041-g4-13-85: #f4ebc4;
@sikkens-4041-g4-15-85: #f1e8b9;
@sikkens-4041-g4-10-80: #e3dfc4;
@sikkens-4041-g4-15-75: #d3cca3;
@sikkens-4041-g4-20-70: #cdc693;
@sikkens-4041-g4-15-65: #bab392;
@sikkens-4041-g4-20-50: #8d8660;
@sikkens-4041-g8-06-90: #f4f1dd;
@sikkens-4041-g8-06-85: #e9e6d1;
@sikkens-4041-g8-10-85: #efeacc;
@sikkens-4041-g8-10-80: #e3e0bc;
@sikkens-4041-g8-10-70: #c2c0a7;
@sikkens-4041-g8-10-60: #a6a58c;
@sikkens-4041-g8-10-50: #8d8a77;
@sikkens-4041-g8-10-30: #555345;
@sikkens-4041-g9-13-85: #edecc0;
@sikkens-4041-g8-20-85: #ece7ad;
@sikkens-4041-g8-20-80: #dedba2;
@sikkens-4041-g8-20-70: #c4c492;
@sikkens-4041-g8-20-60: #aaa97c;
@sikkens-4041-g8-20-50: #8b8963;
@sikkens-4041-g8-20-40: #747453;
@sikkens-4041-g8-20-30: #5a583d;
@sikkens-4041-g7-18-87: #f6f2b6;
@sikkens-4041-g8-20-90: #f2f1b1;
@sikkens-4041-g8-30-85: #eef090;
@sikkens-4041-g8-30-80: #e1e388;
@sikkens-4041-g8-30-70: #c7c375;
@sikkens-4041-g8-30-60: #aba866;
@sikkens-4041-g8-30-50: #909055;
@sikkens-4041-g8-30-30: #5b5b35;
@sikkens-4041-g5-24-85: #f6ed9f;
@sikkens-4041-g5-36-83: #f2e877;
@sikkens-4041-g8-40-80: #e1e56f;
@sikkens-4041-g8-40-70: #c6c554;
@sikkens-4041-g8-40-60: #a5a649;
@sikkens-4041-g8-40-50: #8c8b3e;
@sikkens-4041-g8-30-40: #737340;
@sikkens-4041-g8-30-20: #454426;
@sikkens-4041-g3-26-85: #f8eca4;
@sikkens-4041-g4-30-80: #eae091;
@sikkens-4041-g4-30-70: #cbbe70;
@sikkens-4041-g4-40-70: #cfc15a;
@sikkens-4041-g4-40-60: #afa347;
@sikkens-4041-g4-30-60: #b0a763;
@sikkens-4041-g4-30-50: #958c53;
@sikkens-4041-g4-25-35: #6d6943;
@sikkens-4041-g4-40-80: #e8da67;
@sikkens-4041-g4-50-80: #e6d846;
@sikkens-4041-g4-50-70: #c7bf3a;
@sikkens-4041-g4-60-70: #c8bf0a;
@sikkens-4041-g4-60-60: #b1a400;
@sikkens-4041-g4-50-60: #ada12d;
@sikkens-4041-g4-40-50: #958b3b;
@sikkens-4041-g4-50-50: #968c28;
@sikkens-4041-g8-45-80: #d9dd49;
@sikkens-4041-g8-50-70: #bcc032;
@sikkens-4041-g7-57-66: #b9be2a;
@sikkens-4041-g8-60-60: #aaaa15;
@sikkens-4041-g8-50-60: #a4a834;
@sikkens-4041-g8-50-50: #8e8c24;
@sikkens-4041-g8-40-40: #757735;
@sikkens-4041-g8-40-30: #5b5d2c;
@sikkens-4041-h1-39-83: #deec73;
@sikkens-4041-g9-56-76: #ccdb32;
@sikkens-4041-g8-60-70: #bdc51a;
@sikkens-4041-h2-55-65: #a4bc2e;
@sikkens-4041-h2-60-60: #97af10;
@sikkens-4041-h2-50-60: #9cab31;
@sikkens-4041-h2-50-50: #848e28;
@sikkens-4041-h2-45-45: #788534;
@sikkens-4041-g9-27-84: #e8ec97;
@sikkens-4041-g9-35-84: #e6ec7e;
@sikkens-4041-h2-40-80: #d6e066;
@sikkens-4041-h2-45-75: #c5d658;
@sikkens-4041-h2-50-70: #b4c83d;
@sikkens-4041-h2-40-70: #bbc85e;
@sikkens-4041-h2-40-60: #a2a94d;
@sikkens-4041-h2-40-50: #8a9345;
@sikkens-4041-h2-15-85: #eaf0bb;
@sikkens-4041-h2-30-80: #d3df86;
@sikkens-4041-h3-24-78: #d2dc97;
@sikkens-4041-h2-20-70: #bfc48e;
@sikkens-4041-h2-30-70: #bbc376;
@sikkens-4041-h2-30-60: #9faa65;
@sikkens-4041-h2-30-50: #858c54;
@sikkens-4041-h2-35-30: #585c30;
@sikkens-4041-h4-06-85: #eaedd8;
@sikkens-4041-h2-07-87: #efefd5;
@sikkens-4041-h6-06-80: #dcdec6;
@sikkens-4041-h3-12-78: #d3d8b4;
@sikkens-4041-h4-16-70: #bbc399;
@sikkens-4041-h3-18-60: #a2a87f;
@sikkens-4041-h2-20-50: #898c63;
@sikkens-4041-h2-25-30: #56593b;
@sikkens-4041-h2-08-90: #f5f4d8;
@sikkens-4041-h2-04-88: #f1f1df;
@sikkens-4041-h2-08-80: #e0dec8;
@sikkens-4041-h2-10-80: #ddddc1;
@sikkens-4041-h2-10-70: #bec0a5;
@sikkens-4041-h2-10-60: #a6a990;
@sikkens-4041-h3-10-43: #787a68;
@sikkens-4041-h2-12-25: #4e4f41;
@sikkens-4041-h2-03-90: #f6f5e5;
@sikkens-4041-hn-02-85: #e9e9de;
@sikkens-4041-hn-02-88: #f0efe7;
@sikkens-4041-h2-03-82: #e0e1d6;
@sikkens-4041-h3-04-72: #c5c6b9;
@sikkens-4041-h2-05-65: #b2b2a6;
@sikkens-4041-h2-05-55: #969588;
@sikkens-4041-h2-05-45: #83847b;
@sikkens-4041-j0-04-88: #eff3e2;
@sikkens-4041-jn-02-82: #dee2d9;
@sikkens-4041-j0-05-75: #c9cfbc;
@sikkens-4041-j0-05-65: #b0b4a5;
@sikkens-4041-j0-05-55: #95988b;
@sikkens-4041-j0-05-45: #7c7e74;
@sikkens-4041-j0-05-35: #64665e;
@sikkens-4041-j0-05-25: #4c4d46;
@sikkens-4041-j0-05-85: #e3e6d3;
@sikkens-4041-j0-07-82: #dde4cc;
@sikkens-4041-j0-07-77: #cfd6be;
@sikkens-4041-j0-10-70: #b9c1a7;
@sikkens-4041-j0-10-60: #a2a893;
@sikkens-4041-j0-10-50: #868c78;
@sikkens-4041-j0-10-40: #6e7263;
@sikkens-4041-j0-10-30: #56594b;
@sikkens-4041-j0-15-85: #ddeebd;
@sikkens-4041-j0-10-80: #d1dcbd;
@sikkens-4041-j0-15-75: #c5d2a6;
@sikkens-4041-j0-15-65: #aab791;
@sikkens-4041-j0-20-60: #9aaa7b;
@sikkens-4041-j0-20-50: #7b8b64;
@sikkens-4041-j0-20-40: #697453;
@sikkens-4041-j0-15-25: #4d5341;
@sikkens-4041-j0-20-80: #cbe1a5;
@sikkens-4041-j0-20-70: #b2c492;
@sikkens-4041-j0-30-70: #abc578;
@sikkens-4041-j0-30-60: #93aa69;
@sikkens-4041-j0-30-50: #7f925a;
@sikkens-4041-j0-30-40: #617545;
@sikkens-4041-j0-20-30: #51593d;
@sikkens-4041-j0-20-20: #414836;
@sikkens-4041-h9-21-83: #d6ebad;
@sikkens-4041-j0-30-80: #c6e08b;
@sikkens-4041-j0-40-70: #9bc962;
@sikkens-4041-j0-40-60: #8aae52;
@sikkens-4041-j0-40-50: #6e8e3d;
@sikkens-4041-j0-40-40: #60783b;
@sikkens-4041-j0-30-30: #57633e;
@sikkens-4041-j0-30-20: #3e4828;
@sikkens-4041-h7-22-83: #d6eba4;
@sikkens-4041-h7-38-79: #c3e571;
@sikkens-4041-j0-48-70: #9bcc4c;
@sikkens-4041-j0-50-60: #7fad3a;
@sikkens-4041-j0-50-50: #6c9331;
@sikkens-4041-j0-60-50: #6a9520;
@sikkens-4041-j0-50-40: #5c7829;
@sikkens-4041-j0-40-30: #4a5e25;
@sikkens-4041-j1-21-83: #d0ebae;
@sikkens-4041-j6-26-76: #a3d58d;
@sikkens-4041-j8-41-70: #87d372;
@sikkens-4041-j6-39-63: #84bd66;
@sikkens-4041-j6-45-53: #68a04a;
@sikkens-4041-j6-51-43: #4f8639;
@sikkens-4041-j7-41-35: #4a6f38;
@sikkens-4041-j4-44-25: #375328;
@sikkens-4041-j9-19-80: #bfe6b1;
@sikkens-4041-k0-28-76: #a4dd95;
@sikkens-4041-j8-48-64: #72c456;
@sikkens-4041-k2-50-60: #54b552;
@sikkens-4041-k2-50-50: #449944;
@sikkens-4041-k2-50-40: #3d823a;
@sikkens-4041-k2-60-40: #2b872f;
@sikkens-4041-k6-50-30: #2d6837;
@sikkens-4041-j6-11-83: #cee5c1;
@sikkens-4041-k0-26-76: #a8dd9a;
@sikkens-4041-k2-40-70: #80d074;
@sikkens-4041-k2-40-60: #6eb264;
@sikkens-4041-k2-40-50: #589954;
@sikkens-4041-k2-40-40: #497c43;
@sikkens-4041-k2-40-30: #396234;
@sikkens-4041-k2-45-20: #2f4f2e;
@sikkens-4041-k0-19-78: #bde3b2;
@sikkens-4041-k5-21-77: #a8ddac;
@sikkens-4041-k6-34-67: #7bc883;
@sikkens-4041-k5-44-64: #5cc56b;
@sikkens-4041-k7-48-56: #3db160;
@sikkens-4041-k7-58-44: #088e45;
@sikkens-4041-k7-60-30: #00692d;
@sikkens-4041-k4-54-23: #29572c;
@sikkens-4041-k2-10-80: #cbe0c5;
@sikkens-4041-k2-21-72: #a2d09c;
@sikkens-4041-k2-30-70: #90cd87;
@sikkens-4041-k2-30-60: #78ae72;
@sikkens-4041-k2-30-50: #699662;
@sikkens-4041-k2-30-40: #4f774b;
@sikkens-4041-k2-30-30: #42623f;
@sikkens-4041-k2-29-20: #344933;
@sikkens-4041-k0-09-85: #d9efd2;
@sikkens-4041-k2-20-80: #b8e4af;
@sikkens-4041-k2-20-70: #a3c99b;
@sikkens-4041-k2-20-60: #89ab80;
@sikkens-4041-k2-20-50: #779371;
@sikkens-4041-k2-20-45: #647e62;
@sikkens-4041-k2-20-40: #5c7457;
@sikkens-4041-k2-20-30: #485c44;
@sikkens-4041-k2-09-79: #c7dac0;
@sikkens-4041-k2-10-70: #b1c4a9;
@sikkens-4041-k2-15-65: #a1ba9a;
@sikkens-4041-k2-10-60: #9aa996;
@sikkens-4041-k2-10-50: #7f8d79;
@sikkens-4041-k2-10-40: #64705f;
@sikkens-4041-k2-10-30: #505a4c;
@sikkens-4041-k2-10-20: #3e433a;
@sikkens-4041-kn-02-87: #ecf2e6;
@sikkens-4041-k2-05-85: #e4eddf;
@sikkens-4041-k2-05-75: #c9d2c4;
@sikkens-4041-k2-05-65: #a7b1a4;
@sikkens-4041-k2-05-50: #82887e;
@sikkens-4041-k2-05-43: #72786f;
@sikkens-4041-k3-06-34: #5d625b;
@sikkens-4041-k2-05-25: #454a42;
@sikkens-4041-ln-02-88: #e8f0ea;
@sikkens-4041-ln-02-86: #e6efe8;
@sikkens-4041-ln-02-77: #ccd3ca;
@sikkens-4041-ln-02-67: #b4b9b2;
@sikkens-4041-ln-02-57: #979b96;
@sikkens-4041-ln-02-47: #7c7f7a;
@sikkens-4041-ln-02-37: #636863;
@sikkens-4041-ln-02-27: #4e514d;
@sikkens-4041-l0-03-88: #d8e3d9;
@sikkens-4041-l0-04-78: #cbd8cc;
@sikkens-4041-l0-05-75: #c2cfc2;
@sikkens-4041-l0-05-65: #a9b3aa;
@sikkens-4041-l0-05-55: #8f998f;
@sikkens-4041-l0-05-45: #757d75;
@sikkens-4041-l0-05-35: #5e655e;
@sikkens-4041-l0-05-25: #494f49;
@sikkens-4041-l0-05-85: #dbecdc;
@sikkens-4041-l0-07-82: #d0e6d2;
@sikkens-4041-l0-07-77: #c4dbc6;
@sikkens-4041-l0-10-70: #b2c9b4;
@sikkens-4041-l0-10-60: #90a493;
@sikkens-4041-l0-10-50: #7e9081;
@sikkens-4041-l0-10-40: #627365;
@sikkens-4041-l0-10-30: #4f5c51;
@sikkens-4041-l3-10-82: #c8e9d2;
@sikkens-4041-l0-15-75: #abd4af;
@sikkens-4041-l0-15-65: #93b89b;
@sikkens-4041-l0-15-55: #7f9d82;
@sikkens-4041-k8-23-45: #628765;
@sikkens-4041-l0-20-30: #445e49;
@sikkens-4041-l0-20-20: #304635;
@sikkens-4041-l0-15-20: #38463a;
@sikkens-4041-l0-10-80: #c0dfc5;
@sikkens-4041-l0-20-70: #96c69f;
@sikkens-4041-l0-20-60: #81ab87;
@sikkens-4041-l0-20-50: #6c9473;
@sikkens-4041-l0-20-40: #5b7760;
@sikkens-4041-l0-30-30: #315c3c;
@sikkens-4041-l0-35-20: #294833;
@sikkens-4041-l0-20-15: #2c3e32;
@sikkens-4041-l3-17-75: #99d3b0;
@sikkens-4041-l0-30-60: #65ad7b;
@sikkens-4041-l0-30-50: #569567;
@sikkens-4041-l0-30-40: #407950;
@sikkens-4041-l0-40-35: #377349;
@sikkens-4041-l0-40-30: #28613d;
@sikkens-4041-l0-30-20: #294730;
@sikkens-4041-l0-15-15: #2d372d;
@sikkens-4041-l0-30-70: #80d195;
@sikkens-4041-l0-40-60: #54b975;
@sikkens-4041-l0-50-50: #269951;
@sikkens-4041-l0-40-50: #42945e;
@sikkens-4041-l0-40-40: #307849;
@sikkens-4041-l0-50-40: #1f8246;
@sikkens-4041-l0-70-40: #008339;
@sikkens-4041-l0-50-30: #1c6e3d;
@sikkens-4041-l9-13-79: #b2e2c7;
@sikkens-4041-l5-21-73: #92d3ae;
@sikkens-4041-l4-32-66: #66c890;
@sikkens-4041-l8-40-60: #36ba82;
@sikkens-4041-l5-47-52: #06a269;
@sikkens-4041-l5-60-43: #008d4f;
@sikkens-4041-l5-63-33: #007241;
@sikkens-4041-l6-59-23: #005633;
@sikkens-4041-l8-20-70: #8dccac;
@sikkens-4041-l8-30-70: #68ce9f;
@sikkens-4041-l8-30-60: #62b68f;
@sikkens-4041-l8-50-50: #00a067;
@sikkens-4041-l8-50-40: #008355;
@sikkens-4041-l8-40-35: #187553;
@sikkens-4041-l8-40-30: #176547;
@sikkens-4041-l8-50-30: #006746;
@sikkens-4041-l8-05-85: #dbeddf;
@sikkens-4041-l8-05-75: #bfcec4;
@sikkens-4041-l8-10-60: #92ab9d;
@sikkens-4041-l8-19-60: #74ae91;
@sikkens-4041-l8-20-50: #63927a;
@sikkens-4041-l8-30-50: #499771;
@sikkens-4041-l8-30-40: #3a795c;
@sikkens-4041-l8-30-30: #33604b;
@sikkens-4041-m5-09-83: #cdecdb;
@sikkens-4041-l8-10-80: #bcdfca;
@sikkens-4041-l9-17-79: #ace6c9;
@sikkens-4041-m2-20-75: #8ad5ba;
@sikkens-4041-m2-40-60: #2eba8c;
@sikkens-4041-m2-30-60: #5ab592;
@sikkens-4041-m2-40-50: #129d76;
@sikkens-4041-m2-30-50: #489779;
@sikkens-4041-m8-06-85: #d6efe4;
@sikkens-4041-n0-12-78: #b0ddcf;
@sikkens-4041-n1-21-65: #77c0b1;
@sikkens-4041-n1-37-55: #1ca893;
@sikkens-4041-n0-40-50: #009680;
@sikkens-4041-n0-50-50: #009c82;
@sikkens-4041-n0-50-40: #00816b;
@sikkens-4041-n0-40-30: #006557;
@sikkens-4041-m8-11-81: #c0e8d9;
@sikkens-4041-m8-19-72: #8bd3c3;
@sikkens-4041-n0-28-70: #63d0b7;
@sikkens-4041-n0-30-60: #55b3a0;
@sikkens-4041-n0-30-50: #3c9885;
@sikkens-4041-n0-40-40: #00806c;
@sikkens-4041-n0-30-40: #2f7768;
@sikkens-4041-n0-40-20: #064e42;
@sikkens-4041-n0-10-80: #bcdfd6;
@sikkens-4041-n0-20-70: #89c8b8;
@sikkens-4041-n0-20-60: #78b2a2;
@sikkens-4041-n0-20-50: #5f9688;
@sikkens-4041-n0-20-40: #49786c;
@sikkens-4041-n0-20-30: #3a6056;
@sikkens-4041-n0-20-20: #29463f;
@sikkens-4041-n0-15-10: #293330;
@sikkens-4041-n0-05-85: #deece8;
@sikkens-4041-n8-09-81: #c4e7e3;
@sikkens-4041-n0-10-70: #a5c7bc;
@sikkens-4041-n0-10-60: #91aea5;
@sikkens-4041-n0-10-50: #748d85;
@sikkens-4041-n0-10-40: #5c716b;
@sikkens-4041-n0-10-30: #495a55;
@sikkens-4041-n0-10-20: #3b4542;
@sikkens-4041-nn-01-84: #e3e5e3;
@sikkens-4041-n7-04-73: #bdccc9;
@sikkens-4041-n6-08-70: #abc4bf;
@sikkens-4041-n1-06-88: #acbdb8;
@sikkens-4041-n0-05-65: #acb8b4;
@sikkens-4041-n1-05-55: #8a9894;
@sikkens-4041-n0-05-44: #727c79;
@sikkens-4041-m8-06-34: #5a6561;
@sikkens-4041-pn-02-82: #dae4e2;
@sikkens-4041-pn-02-77: #cbd4d2;
@sikkens-4041-p0-05-75: #bfd0cc;
@sikkens-4041-p0-05-65: #a5b4b2;
@sikkens-4041-p0-03-60: #a0a7a5;
@sikkens-4041-p0-03-55: #8d9494;
@sikkens-4041-p0-03-35: #5b6462;
@sikkens-4041-p0-05-25: #484e4d;
@sikkens-4041-p0-05-83: #d3e6e2;
@sikkens-4041-p0-07-85: #d4eae6;
@sikkens-4041-p0-07-77: #bfd9d6;
@sikkens-4041-p0-06-74: #b9d0cd;
@sikkens-4041-p5-08-58: #90a4a4;
@sikkens-4041-p0-05-55: #8a9996;
@sikkens-4041-p0-05-45: #778280;
@sikkens-4041-p0-10-30: #475b59;
@sikkens-4041-p1-03-79: #d3dedc;
@sikkens-4041-p0-04-78: #c8d8d6;
@sikkens-4041-p0-10-70: #a3c5c1;
@sikkens-4041-p1-11-63: #93b2b1;
@sikkens-4041-p0-10-60: #8faaa7;
@sikkens-4041-p0-10-50: #76908e;
@sikkens-4041-p0-10-40: #617575;
@sikkens-4041-p0-10-20: #354341;
@sikkens-4041-p4-10-75: #b2d0cf;
@sikkens-4041-p1-09-69: #a6c2c1;
@sikkens-4041-p0-15-65: #8ab9b5;
@sikkens-4041-p0-15-55: #749c99;
@sikkens-4041-p0-15-45: #62817e;
@sikkens-4041-p0-15-35: #4c6a68;
@sikkens-4041-p0-20-30: #395e5b;
@sikkens-4041-p0-20-20: #2a4544;
@sikkens-4041-p0-10-80: #bde3df;
@sikkens-4041-p0-20-70: #81cbc5;
@sikkens-4041-p0-20-60: #6eafaa;
@sikkens-4041-p0-20-50: #5e9491;
@sikkens-4041-p0-30-40: #337f7b;
@sikkens-4041-p0-20-40: #4e7a78;
@sikkens-4041-p0-30-30: #25635f;
@sikkens-4041-p0-30-25: #1e5553;
@sikkens-4041-p0-15-75: #a1d7d1;
@sikkens-4041-p0-30-60: #50b5b2;
@sikkens-4041-p0-30-50: #3b9691;
@sikkens-4041-p0-40-50: #009b97;
@sikkens-4041-p0-50-40: #00827f;
@sikkens-4041-p0-40-40: #007e7a;
@sikkens-4041-p0-50-30: #006663;
@sikkens-4041-p0-40-30: #006866;
@sikkens-4041-p2-11-80: #bbe3e1;
@sikkens-4041-p2-20-73: #88d2d2;
@sikkens-4041-p2-32-63: #4abebe;
@sikkens-4041-p3-35-53: #24a0a5;
@sikkens-4041-p3-40-44: #00888a;
@sikkens-4041-p2-46-33: #006b6d;
@sikkens-4041-p4-48-27: #005d60;
@sikkens-4041-q0-40-20: #004b51;
@sikkens-4041-q0-30-60: #57aeb7;
@sikkens-4041-q0-30-50: #3c949c;
@sikkens-4041-p9-38-49: #1195a2;
@sikkens-4041-q0-40-40: #007c87;
@sikkens-4041-q0-50-40: #00808d;
@sikkens-4041-q0-50-30: #00656f;
@sikkens-4041-q0-40-30: #006369;
@sikkens-4041-q0-50-20: #004b52;
@sikkens-4041-p9-14-77: #aadbe0;
@sikkens-4041-q0-20-73: #8fd2da;
@sikkens-4041-q0-29-65: #62bfcb;
@sikkens-4041-q0-40-50: #1f97a2;
@sikkens-4041-q0-30-40: #27767e;
@sikkens-4041-q0-30-30: #296067;
@sikkens-4041-q0-30-20: #1b474b;
@sikkens-4041-q1-19-10: #233335;
@sikkens-4041-q0-09-81: #c4e1e5;
@sikkens-4041-q0-10-80: #bedfe1;
@sikkens-4041-q0-20-70: #8cc7d0;
@sikkens-4041-q0-20-60: #7aaeb4;
@sikkens-4041-q0-20-50: #5d9096;
@sikkens-4041-q0-20-40: #4e7579;
@sikkens-4041-q0-20-30: #34585c;
@sikkens-4041-q0-20-20: #314a4d;
@sikkens-4041-q0-05-84: #d9eaeb;
@sikkens-4041-q6-09-81: #c9e4ea;
@sikkens-4041-q6-10-80: #c4e3e9;
@sikkens-4041-q5-10-76: #bbd8de;
@sikkens-4041-q0-10-70: #a7c5c8;
@sikkens-4041-q0-10-60: #91aaad;
@sikkens-4041-q0-10-50: #778d90;
@sikkens-4041-q0-10-40: #617578;
@sikkens-4041-qn-02-88: #eef4f3;
@sikkens-4041-qn-02-78: #d7dad9;
@sikkens-4041-p9-05-75: #c0d1d2;
@sikkens-4041-q0-05-65: #a6b6b7;
@sikkens-4041-q0-05-55: #939c9c;
@sikkens-4041-q5-05-44: #717b7d;
@sikkens-4041-q0-10-30: #4b5a5c;
@sikkens-4041-q0-10-20: #343e3e;
@sikkens-4041-r0-05-85: #dbe8eb;
@sikkens-4041-q5-06-80: #cbdce0;
@sikkens-4041-r0-05-75: #c4d3d6;
@sikkens-4041-q9-12-74: #b0d1dc;
@sikkens-4041-r0-10-60: #94a9b0;
@sikkens-4041-q9-10-50: #788b91;
@sikkens-4041-q9-10-40: #627278;
@sikkens-4041-r3-10-30: #4f5c61;
@sikkens-4041-r0-10-80: #c3dce3;
@sikkens-4041-q7-15-76: #abd8e3;
@sikkens-4041-r0-20-70: #92c7d9;
@sikkens-4041-r0-20-60: #7baab9;
@sikkens-4041-r0-20-50: #6a919e;
@sikkens-4041-r0-30-40: #3f7989;
@sikkens-4041-r0-30-30: #305f6c;
@sikkens-4041-r0-20-15: #25393e;
@sikkens-4041-r0-13-77: #b6d9e4;
@sikkens-4041-r1-17-73: #a1cedc;
@sikkens-4041-r1-23-72: #92cde1;
@sikkens-4041-r0-30-60: #6bafc4;
@sikkens-4041-r0-30-50: #4c94a5;
@sikkens-4041-r0-40-40: #147a92;
@sikkens-4041-r0-40-30: #005f6f;
@sikkens-4041-r0-28-19: #244650;
@sikkens-4041-r2-20-73: #9cd0e3;
@sikkens-4041-r2-22-66: #88bdd1;
@sikkens-4041-r2-29-68: #7cc5df;
@sikkens-4041-r2-33-55: #51a2bd;
@sikkens-4041-r0-40-50: #2698b3;
@sikkens-4041-r0-50-40: #007e9a;
@sikkens-4041-r0-50-30: #00657b;
@sikkens-4041-r1-35-23: #1d505f;
@sikkens-4041-r4-14-80: #afd6e1;
@sikkens-4041-r5-23-70: #82bed6;
@sikkens-4041-r5-37-56: #49a3c5;
@sikkens-4041-r4-42-47: #2b8daf;
@sikkens-4041-r5-52-49: #0092bf;
@sikkens-4041-r6-56-36: #007093;
@sikkens-4041-r7-43-26: #165770;
@sikkens-4041-r9-35-22: #224d61;
@sikkens-4041-r7-22-69: #91c4dd;
@sikkens-4041-r7-31-62: #70b3d5;
@sikkens-4041-r6-31-52: #5898b3;
@sikkens-4041-r7-33-47: #4d8aa6;
@sikkens-4041-r7-44-41: #217da0;
@sikkens-4041-r8-40-39: #2d7494;
@sikkens-4041-r8-33-36: #356a82;
@sikkens-4041-s0-40-20: #01485e;
@sikkens-4041-s0-30-60: #70acce;
@sikkens-4041-s0-40-60: #4bb0da;
@sikkens-4041-s0-50-50: #0096c7;
@sikkens-4041-s0-40-50: #3c90b9;
@sikkens-4041-s0-50-40: #007ba5;
@sikkens-4041-s0-40-40: #257699;
@sikkens-4041-s0-50-30: #006185;
@sikkens-4041-s0-40-30: #185d7b;
@sikkens-4041-s4-26-64: #83b7db;
@sikkens-4041-s1-38-56: #51a3d0;
@sikkens-4041-s4-43-49: #3a90c2;
@sikkens-4041-s4-43-46: #2f88b6;
@sikkens-4041-s3-56-42: #0081ba;
@sikkens-4041-s5-48-41: #137cad;
@sikkens-4041-s4-50-35: #006893;
@sikkens-4041-s5-44-30: #105f83;
@sikkens-4041-s1-13-73: #b1cada;
@sikkens-4041-s0-20-70: #9ec7de;
@sikkens-4041-s0-20-60: #83a8bd;
@sikkens-4041-s0-30-50: #5691ae;
@sikkens-4041-s0-30-40: #467790;
@sikkens-4041-s0-30-30: #305c71;
@sikkens-4041-s1-37-25: #22526c;
@sikkens-4041-s0-30-20: #224658;
@sikkens-4041-s0-10-80: #c6e0eb;
@sikkens-4041-s0-15-80: #bfdbea;
@sikkens-4041-s0-15-65: #96b5c5;
@sikkens-4041-s0-15-55: #7e9aaa;
@sikkens-4041-s0-20-50: #6b8da1;
@sikkens-4041-s0-20-40: #547485;
@sikkens-4041-s0-20-30: #3e5865;
@sikkens-4041-s0-20-20: #334752;
@sikkens-4041-s0-05-85: #dbe8ee;
@sikkens-4041-s0-11-78: #bbd7e5;
@sikkens-4041-s0-10-70: #b4c7d2;
@sikkens-4041-s0-10-60: #98a8b2;
@sikkens-4041-s0-10-50: #7c8d96;
@sikkens-4041-s0-10-40: #66727a;
@sikkens-4041-s0-10-30: #4f5a60;
@sikkens-4041-s0-10-20: #384146;
@sikkens-4041-sn-02-85: #e5ebed;
@sikkens-4041-sn-02-82: #d9dfdf;
@sikkens-4041-sn-02-77: #ced2d3;
@sikkens-4041-sn-02-67: #b2b9bb;
@sikkens-4041-sn-02-57: #9b9ea0;
@sikkens-4041-sn-02-47: #7e8082;
@sikkens-4041-sn-02-37: #696b6c;
@sikkens-4041-sn-02-27: #525454;
@sikkens-4041-s0-04-78: #cdd6d9;
@sikkens-4041-s0-07-77: #c6d7de;
@sikkens-4041-s0-05-75: #c1cdd2;
@sikkens-4041-s0-05-65: #a7b1b6;
@sikkens-4041-s0-05-55: #92989a;
@sikkens-4041-s0-05-45: #787f83;
@sikkens-4041-s0-05-35: #606669;
@sikkens-4041-s0-05-25: #484d50;
@sikkens-4041-s6-09-77: #c4d3e2;
@sikkens-4041-s2-10-71: #afc4d1;
@sikkens-4041-s3-10-73: #b8cdda;
@sikkens-4041-s8-10-65: #a1b1c0;
@sikkens-4041-s8-12-55: #8798a7;
@sikkens-4041-s8-15-41: #637687;
@sikkens-4041-s8-10-35: #5b656e;
@sikkens-4041-s8-14-17: #343f49;
@sikkens-4041-s2-07-80: #cedde7;
@sikkens-4041-s6-14-75: #b7d2e7;
@sikkens-4041-s8-12-68: #aabdcf;
@sikkens-4041-s6-15-65: #9db6cd;
@sikkens-4041-s7-19-60: #89a7c2;
@sikkens-4041-s6-29-43: #527d9d;
@sikkens-4041-s9-32-35: #3e6989;
@sikkens-4041-s8-22-29: #43586d;
@sikkens-4041-s7-17-72: #abcae6;
@sikkens-4041-s6-21-66: #94bad9;
@sikkens-4041-s7-27-61: #80aed3;
@sikkens-4041-s8-34-54: #639bc9;
@sikkens-4041-s9-35-56: #6ba1d0;
@sikkens-4041-s9-39-41: #3c78a7;
@sikkens-4041-s8-48-28: #005a87;
@sikkens-4041-t2-47-24: #005282;
@sikkens-4041-s8-16-73: #b1cce6;
@sikkens-4041-t0-20-70: #a0bfdf;
@sikkens-4041-s9-25-65: #8ab5de;
@sikkens-4041-t0-30-60: #76a8d4;
@sikkens-4041-t0-40-50: #488fc6;
@sikkens-4041-t0-50-40: #007bb8;
@sikkens-4041-t0-50-30: #005f91;
@sikkens-4041-t0-45-20: #1f5072;
@sikkens-4041-t0-12-73: #b5c9de;
@sikkens-4041-s9-18-69: #a0bdda;
@sikkens-4041-t0-20-60: #86a5c2;
@sikkens-4041-t6-39-52: #6095d5;
@sikkens-4041-t0-40-40: #3476a6;
@sikkens-4041-t0-45-35: #1f6a99;
@sikkens-4041-t0-40-30: #255b82;
@sikkens-4041-t0-40-20: #154a6f;
@sikkens-4041-t0-10-80: #d0dceb;
@sikkens-4041-t2-17-69: #a7c2df;
@sikkens-4041-t3-23-65: #95b6df;
@sikkens-4041-t0-30-50: #5f8db4;
@sikkens-4041-t0-30-40: #4e7699;
@sikkens-4041-t4-36-27: #2e567f;
@sikkens-4041-t0-30-30: #375c79;
@sikkens-4041-t0-30-20: #264560;
@sikkens-4041-t3-06-78: #d1d9e3;
@sikkens-4041-t0-13-64: #a0b1c6;
@sikkens-4041-t4-18-59: #8ba4c4;
@sikkens-4041-t3-20-50: #768ead;
@sikkens-4041-t0-23-48: #6988a6;
@sikkens-4041-t4-27-36: #4d698c;
@sikkens-4041-t4-40-30: #235680;
@sikkens-4041-t0-25-25: #374f66;
@sikkens-4041-t3-06-80: #cdd7e3;
@sikkens-4041-t0-10-70: #afbfd0;
@sikkens-4041-t0-10-60: #93a2b1;
@sikkens-4041-t3-14-55: #8798ad;
@sikkens-4041-t0-20-50: #6f8aa3;
@sikkens-4041-t0-20-40: #5c748a;
@sikkens-4041-t0-20-30: #41596e;
@sikkens-4041-t0-20-20: #344557;
@sikkens-4041-tn-02-82: #e0e2e4;
@sikkens-4041-s7-04-85: #e3ebf3;
@sikkens-4041-s7-05-75: #c4ccd3;
@sikkens-4041-s8-05-65: #aab1b8;
@sikkens-4041-t0-10-50: #7f8a98;
@sikkens-4041-t0-10-40: #66717c;
@sikkens-4041-t0-10-30: #4f5964;
@sikkens-4041-t0-10-20: #3b424b;
@sikkens-4041-un-02-82: #e5e4e9;
@sikkens-4041-un-02-85: #e7e9ee;
@sikkens-4041-un-02-77: #d3d3d8;
@sikkens-4041-u0-05-75: #cdd1dc;
@sikkens-4041-u0-05-65: #aeb1bb;
@sikkens-4041-u0-05-55: #9397a0;
@sikkens-4041-u0-05-45: #7a7d85;
@sikkens-4041-u0-05-35: #61636a;
@sikkens-4041-u0-04-84: #e5e7ec;
@sikkens-4041-t7-07-77: #cbd2e3;
@sikkens-4041-t9-07-67: #b0b8c5;
@sikkens-4041-u0-10-60: #9fa5b7;
@sikkens-4041-u0-10-50: #80879a;
@sikkens-4041-u0-10-40: #6b7080;
@sikkens-4041-u0-10-30: #535966;
@sikkens-4041-u0-10-20: #3b3f49;
@sikkens-4041-t9-07-82: #dbe0f0;
@sikkens-4041-t8-10-73: #bec9de;
@sikkens-4041-u0-15-65: #a0b0d0;
@sikkens-4041-u0-15-55: #8695b0;
@sikkens-4041-u0-20-50: #7b8bae;
@sikkens-4041-u0-20-40: #60708e;
@sikkens-4041-u0-20-30: #465572;
@sikkens-4041-u0-20-20: #3c465c;
@sikkens-4041-u0-10-70: #b5c3d9;
@sikkens-4041-u0-20-70: #aabbdf;
@sikkens-4041-u0-20-60: #90a5ce;
@sikkens-4041-u0-25-60: #87a4d1;
@sikkens-4041-u0-30-50: #6f8cc2;
@sikkens-4041-u0-30-40: #536f9f;
@sikkens-4041-u0-30-30: #445b82;
@sikkens-4041-u0-30-20: #2e4062;
@sikkens-4041-u2-09-75: #bdc6dc;
@sikkens-4041-u3-14-67: #abb5d3;
@sikkens-4041-u2-16-60: #97a3c3;
@sikkens-4041-u4-30-52: #798cc9;
@sikkens-4041-u0-40-40: #4570ad;
@sikkens-4041-u0-40-30: #315689;
@sikkens-4041-u0-40-20: #244974;
@sikkens-4041-u0-30-16: #273752;
@sikkens-4041-u3-07-78: #c4ccde;
@sikkens-4041-u3-20-64: #afbfdd;
@sikkens-4041-u3-19-64: #9eaeda;
@sikkens-4041-u4-25-55: #8495c9;
@sikkens-4041-u4-35-45: #6179bc;
@sikkens-4041-u5-44-35: #3f62ad;
@sikkens-4041-u5-19-25: #2c385b;
@sikkens-4041-u2-21-09: #222b3c;
@sikkens-4041-u7-03-81: #d2d4de;
@sikkens-4041-u6-06-73: #c6c7d8;
@sikkens-4041-u4-10-72: #c1c8e0;
@sikkens-4041-u6-18-63: #a4abd7;
@sikkens-4041-u6-26-46: #717daf;
@sikkens-4041-u7-27-36: #5c6595;
@sikkens-4041-u6-25-25: #434c70;
@sikkens-4041-u4-15-10: #2a2d3a;
@sikkens-4041-vn-02-85: #e9e8ec;
@sikkens-4041-u9-05-75: #cbcbd9;
@sikkens-4041-v0-15-65: #b1b4d4;
@sikkens-4041-v0-25-55: #8990c7;
@sikkens-4041-v0-37-42: #6771b9;
@sikkens-4041-v1-42-30: #48549c;
@sikkens-4041-v0-40-30: #465294;
@sikkens-4041-v0-47-19: #2c3e7d;
@sikkens-4041-v0-07-80: #dddcec;
@sikkens-4041-v0-10-70: #bbbbd6;
@sikkens-4041-v0-20-60: #9d9fd0;
@sikkens-4041-v0-20-50: #898db6;
@sikkens-4041-v0-25-45: #7378a9;
@sikkens-4041-v0-30-40: #686faa;
@sikkens-4041-v0-30-30: #4c5384;
@sikkens-4041-u9-30-20: #3a406e;
@sikkens-4041-v7-03-81: #e1dee4;
@sikkens-4041-v2-08-71: #c3c2d9;
@sikkens-4041-v5-14-60: #a7a1c5;
@sikkens-4041-v4-25-55: #958ecb;
@sikkens-4041-v5-25-45: #7d75ac;
@sikkens-4041-v0-25-35: #60618d;
@sikkens-4041-v0-25-25: #474b73;
@sikkens-4041-v3-35-14: #2e2f61;
@sikkens-4041-v8-04-79: #d8d3e0;
@sikkens-4041-v9-08-73: #cdc4dc;
@sikkens-4041-v9-11-69: #bdb0d0;
@sikkens-4041-v6-20-55: #9b90c0;
@sikkens-4041-v9-17-54: #9387b5;
@sikkens-4041-v8-23-44: #8175a6;
@sikkens-4041-v9-26-39: #73649c;
@sikkens-4041-v9-26-33: #655588;
@sikkens-4041-w0-05-75: #d2cadb;
@sikkens-4041-w0-08-71: #c9bfd6;
@sikkens-4041-w0-10-70: #c4bad6;
@sikkens-4041-w0-20-60: #ac9cc9;
@sikkens-4041-w0-25-50: #9380ba;
@sikkens-4041-w0-25-40: #7a67a0;
@sikkens-4041-w0-30-40: #7866a5;
@sikkens-4041-w0-30-30: #65548d;
@sikkens-4041-w1-03-81: #e3dce7;
@sikkens-4041-w0-07-77: #d5cde1;
@sikkens-4041-w0-15-65: #b7a9d1;
@sikkens-4041-w0-15-55: #9b8eb4;
@sikkens-4041-w0-15-45: #837899;
@sikkens-4041-w0-20-50: #9381b3;
@sikkens-4041-w0-20-40: #776996;
@sikkens-4041-w0-20-30: #5d5174;
@sikkens-4041-wn-02-82: #e6e1e8;
@sikkens-4041-wn-02-77: #d4cfd4;
@sikkens-4041-w0-05-70: #cdc5d3;
@sikkens-4041-w0-10-60: #ada1bb;
@sikkens-4041-w0-10-50: #8d889f;
@sikkens-4041-w0-10-40: #766d81;
@sikkens-4041-w0-10-30: #5d566a;
@sikkens-4041-w0-10-20: #393546;
@sikkens-4041-w0-03-84: #e7dfe5;
@sikkens-4041-w0-04-78: #d9d4df;
@sikkens-4041-w0-05-65: #b3afbb;
@sikkens-4041-w0-05-55: #9a94a2;
@sikkens-4041-w0-05-45: #817b87;
@sikkens-4041-w0-05-35: #68636d;
@sikkens-4041-w0-05-25: #514d58;
@sikkens-4041-w0-05-15: #3a373e;
@sikkens-4041-xn-01-83: #eae4e6;
@sikkens-4041-w6-05-72: #d0c4d2;
@sikkens-4041-w8-05-63: #b5aab9;
@sikkens-4041-w6-07-53: #998ea0;
@sikkens-4041-w7-07-44: #827788;
@sikkens-4041-w7-07-34: #6a606f;
@sikkens-4041-w7-08-24: #524957;
@sikkens-4041-x0-08-15: #403742;
@sikkens-4041-xn-01-84: #eae3e3;
@sikkens-4041-x0-04-80: #e1d5de;
@sikkens-4041-x0-10-70: #cfbad4;
@sikkens-4041-x0-10-60: #b39db8;
@sikkens-4041-x0-10-50: #96829b;
@sikkens-4041-x0-10-40: #7c6a80;
@sikkens-4041-x0-10-30: #615164;
@sikkens-4041-x0-10-20: #453b4d;
@sikkens-4041-zn-01-83: #ede7e6;
@sikkens-4041-x6-04-76: #dccdd9;
@sikkens-4041-x7-07-69: #ccb6c7;
@sikkens-4041-x7-13-58: #b896b3;
@sikkens-4041-x0-15-50: #9e82a7;
@sikkens-4041-x0-20-50: #9e7dac;
@sikkens-4041-x0-20-40: #83658d;
@sikkens-4041-x0-20-30: #694e70;
@sikkens-4041-x9-04-79: #e6d7e0;
@sikkens-4041-x9-06-79: #ecd4e5;
@sikkens-4041-x9-11-74: #e6c3dd;
@sikkens-4041-x7-16-66: #d3a5cd;
@sikkens-4041-x7-18-54: #b385ad;
@sikkens-4041-x9-21-44: #9d6a94;
@sikkens-4041-x9-24-33: #804d76;
@sikkens-4041-y0-30-18: #5b3059;
@sikkens-4041-yn-01-83: #ece5e6;
@sikkens-4041-yn-02-82: #eadee1;
@sikkens-4041-y1-08-73: #dec2d5;
@sikkens-4041-y0-12-63: #c8a3bf;
@sikkens-4041-y0-20-50: #aa7aa1;
@sikkens-4041-y0-20-40: #8b5f85;
@sikkens-4041-y0-20-30: #6c4665;
@sikkens-4041-y0-20-20: #5b3a56;
@sikkens-4041-yn-02-77: #d8ced1;
@sikkens-4041-y0-05-72: #d3c1c8;
@sikkens-4041-y0-10-70: #d6b5cd;
@sikkens-4041-y0-10-60: #bc9bb3;
@sikkens-4041-y0-10-50: #9e8298;
@sikkens-4041-y0-10-40: #81697c;
@sikkens-4041-y0-10-30: #614e5d;
@sikkens-4041-y0-10-20: #4a3c49;
@sikkens-4041-zn-01-85: #eee6e7;
@sikkens-4041-z2-06-81: #efd1d9;
@sikkens-4041-z1-10-70: #deb4c6;
@sikkens-4041-z0-10-60: #bc9ba9;
@sikkens-4041-z0-10-50: #9f7f8e;
@sikkens-4041-z0-10-40: #876a76;
@sikkens-4041-z0-10-30: #6b525d;
@sikkens-4041-z0-05-20: #484044;
@sikkens-4041-z8-05-81: #eacfd2;
@sikkens-4041-z1-10-80: #fccfe2;
@sikkens-4041-z1-14-71: #ebb2cb;
@sikkens-4041-z0-20-60: #d38bae;
@sikkens-4041-z0-20-50: #b07994;
@sikkens-4041-z0-20-40: #955c7a;
@sikkens-4041-z0-20-30: #784761;
@sikkens-4041-z0-19-20: #5d3a4e;
@sikkens-4041-z9-10-77: #efbfc8;
@sikkens-4041-z4-09-76: #ecbecd;
@sikkens-4041-z6-23-60: #e080a0;
@sikkens-4041-z5-31-48: #c3618c;
@sikkens-4041-z3-37-43: #bf5184;
@sikkens-4041-z9-35-38: #af4a6e;
@sikkens-4041-z2-32-33: #98456b;
@sikkens-4041-z0-30-30: #854167;
@sikkens-4041-z8-11-75: #f3c2cf;
@sikkens-4041-z9-16-68: #eba7ba;
@sikkens-4041-z8-18-63: #e297ad;
@sikkens-4041-z8-23-57: #d7819d;
@sikkens-4041-z9-32-49: #d16388;
@sikkens-4041-z9-30-35: #9f4664;
@sikkens-4041-z8-23-27: #794154;
@sikkens-4041-z3-23-24: #6c364d;