// md-color
@md-color-md-color-cm100: #f4f1cc;
@md-color-md-color-cm101: #efefae;
@md-color-md-color-cm102: #edea8a;
@md-color-md-color-cm103: #e9e069;
@md-color-md-color-cm104: #eddc35;
@md-color-md-color-cm105: #f6ed95;
@md-color-md-color-cm106: #f7e075;
@md-color-md-color-cm107: #f7dc54;
@md-color-md-color-cm108: #f8db42;
@md-color-md-color-cm109: #f7d61f;
@md-color-md-color-cm110: #f0efcf;
@md-color-md-color-cm111: #efe8b3;
@md-color-md-color-cm112: #f0e795;
@md-color-md-color-cm113: #eedb7a;
@md-color-md-color-cm114: #eccb3d;
@md-color-md-color-cm115: #fae7aa;
@md-color-md-color-cm116: #fde186;
@md-color-md-color-cm117: #fedc6a;
@md-color-md-color-cm118: #ffd142;
@md-color-md-color-cm119: #fbc300;
@md-color-md-color-cm120: #fce5aa;
@md-color-md-color-cm121: #fcda84;
@md-color-md-color-cm122: #ffd05d;
@md-color-md-color-cm123: #f2bd37;
@md-color-md-color-cm124: #e9af18;
@md-color-md-color-cm125: #f3ebce;
@md-color-md-color-cm126: #f6e7c1;
@md-color-md-color-cm127: #ffda93;
@md-color-md-color-cm128: #fbca62;
@md-color-md-color-cm129: #feb40d;
@md-color-md-color-cm130: #f4edd9;
@md-color-md-color-cm131: #fbe7be;
@md-color-md-color-cm132: #f7d79a;
@md-color-md-color-cm133: #fbcd78;
@md-color-md-color-cm134: #f9b83d;
@md-color-md-color-cm135: #fbe7be;
@md-color-md-color-cm136: #ffd79c;
@md-color-md-color-cm137: #ffc56b;
@md-color-md-color-cm138: #ffbd54;
@md-color-md-color-cm139: #ffb247;
@md-color-md-color-cm140: #fddcb1;
@md-color-md-color-cm141: #ffd69d;
@md-color-md-color-cm142: #ffcd83;
@md-color-md-color-cm143: #fcc06a;
@md-color-md-color-cm144: #f4ad4f;
@md-color-md-color-cm145: #f2e8d5;
@md-color-md-color-cm146: #eed4b1;
@md-color-md-color-cm147: #e7bb87;
@md-color-md-color-cm148: #d59b5c;
@md-color-md-color-cm149: #cd9560;
@md-color-md-color-cm150: #f4e9d4;
@md-color-md-color-cm151: #fae6c8;
@md-color-md-color-cm152: #f5d5a4;
@md-color-md-color-cm153: #ebb870;
@md-color-md-color-cm154: #d69242;
@md-color-md-color-cm155: #fcddb7;
@md-color-md-color-cm156: #fdce97;
@md-color-md-color-cm157: #fabc7f;
@md-color-md-color-cm158: #f3a64f;
@md-color-md-color-cm159: #ec9336;
@md-color-md-color-cm160: #fbe2bb;
@md-color-md-color-cm161: #fbd6a9;
@md-color-md-color-cm162: #ffc990;
@md-color-md-color-cm163: #ffb56c;
@md-color-md-color-cm164: #ffa85d;
@md-color-md-color-cm165: #f5e6ce;
@md-color-md-color-cm166: #f4d9b8;
@md-color-md-color-cm167: #efc598;
@md-color-md-color-cm168: #e1a66f;
@md-color-md-color-cm169: #d18447;
@md-color-md-color-cm170: #f9e9d9;
@md-color-md-color-cm171: #f3d0b0;
@md-color-md-color-cm172: #f5c89d;
@md-color-md-color-cm173: #febd83;
@md-color-md-color-cm174: #dc965b;
@md-color-md-color-cm175: #f5dbbc;
@md-color-md-color-cm176: #f5ca9e;
@md-color-md-color-cm177: #ebaf7d;
@md-color-md-color-cm178: #e69461;
@md-color-md-color-cm179: #e2804d;
@md-color-md-color-cm180: #f7d6bb;
@md-color-md-color-cm181: #f9c7a1;
@md-color-md-color-cm182: #f6a778;
@md-color-md-color-cm183: #ef8b60;
@md-color-md-color-cm184: #ef7a4e;
@md-color-md-color-cm185: #ffd5b7;
@md-color-md-color-cm186: #ffc699;
@md-color-md-color-cm187: #ffb47c;
@md-color-md-color-cm188: #f9944e;
@md-color-md-color-cm189: #fc933d;
@md-color-md-color-cm190: #fadfcd;
@md-color-md-color-cm191: #fdd6be;
@md-color-md-color-cm192: #ffc093;
@md-color-md-color-cm193: #f99d57;
@md-color-md-color-cm194: #f7813c;
@md-color-md-color-cm195: #f3e3d7;
@md-color-md-color-cm196: #f8ddca;
@md-color-md-color-cm197: #f6c5a9;
@md-color-md-color-cm198: #efa17a;
@md-color-md-color-cm199: #d56d42;
@md-color-md-color-cm200: #f7ece1;
@md-color-md-color-cm201: #fcd9bd;
@md-color-md-color-cm202: #faba9e;
@md-color-md-color-cm203: #e57a61;
@md-color-md-color-cm204: #c35d43;
@md-color-md-color-cm205: #f2e2d0;
@md-color-md-color-cm206: #f3d8c2;
@md-color-md-color-cm207: #e9bfa3;
@md-color-md-color-cm208: #d49570;
@md-color-md-color-cm209: #b46c46;
@md-color-md-color-cm210: #f7e1d3;
@md-color-md-color-cm211: #ffd8c2;
@md-color-md-color-cm212: #f6ccb5;
@md-color-md-color-cm213: #e3b297;
@md-color-md-color-cm214: #d0a38c;
@md-color-md-color-cm215: #f5d3cd;
@md-color-md-color-cm216: #f2bab3;
@md-color-md-color-cm217: #ec9b92;
@md-color-md-color-cm218: #ea8c82;
@md-color-md-color-cm219: #db6255;
@md-color-md-color-cm220: #fbd6c7;
@md-color-md-color-cm221: #fbd0bd;
@md-color-md-color-cm222: #e7bcaf;
@md-color-md-color-cm223: #cf776c;
@md-color-md-color-cm224: #9e4539;
@md-color-md-color-cm225: #f1cdc4;
@md-color-md-color-cm226: #e6b6a9;
@md-color-md-color-cm227: #dca495;
@md-color-md-color-cm228: #cb7e6b;
@md-color-md-color-cm229: #bc6955;
@md-color-md-color-cm230: #f7e6db;
@md-color-md-color-cm231: #da9a8b;
@md-color-md-color-cm232: #bf7a68;
@md-color-md-color-cm233: #a9675b;
@md-color-md-color-cm234: #994e3f;
@md-color-md-color-cm235: #cb9a8d;
@md-color-md-color-cm236: #b77f72;
@md-color-md-color-cm237: #a0675a;
@md-color-md-color-cm238: #91594c;
@md-color-md-color-cm239: #865044;
@md-color-md-color-cm240: #eed7cd;
@md-color-md-color-cm241: #eacec4;
@md-color-md-color-cm242: #e2beb4;
@md-color-md-color-cm243: #d8ada1;
@md-color-md-color-cm244: #c79e94;
@md-color-md-color-cm245: #e2bcb6;
@md-color-md-color-cm246: #d29891;
@md-color-md-color-cm247: #c87d75;
@md-color-md-color-cm248: #b45a54;
@md-color-md-color-cm249: #a24543;
@md-color-md-color-cm250: #f1d9d3;
@md-color-md-color-cm251: #d79690;
@md-color-md-color-cm252: #c37b75;
@md-color-md-color-cm253: #a6574f;
@md-color-md-color-cm254: #993f3a;
@md-color-md-color-cm255: #eaa7ac;
@md-color-md-color-cm256: #df8489;
@md-color-md-color-cm257: #d77179;
@md-color-md-color-cm258: #c34d4e;
@md-color-md-color-cm259: #b94040;
@md-color-md-color-cm260: #f0d8cf;
@md-color-md-color-cm261: #eabab3;
@md-color-md-color-cm262: #ed9790;
@md-color-md-color-cm263: #ca6360;
@md-color-md-color-cm264: #ad5957;
@md-color-md-color-cm265: #e8d6d4;
@md-color-md-color-cm266: #d5b6b4;
@md-color-md-color-cm267: #c39493;
@md-color-md-color-cm268: #b37878;
@md-color-md-color-cm269: #7c4441;
@md-color-md-color-cm270: #e3bfba;
@md-color-md-color-cm271: #cc9f99;
@md-color-md-color-cm272: #b37d75;
@md-color-md-color-cm273: #97655d;
@md-color-md-color-cm274: #81554e;
@md-color-md-color-cm275: #f4dcd5;
@md-color-md-color-cm276: #e9d2cb;
@md-color-md-color-cm277: #d6b9b0;
@md-color-md-color-cm278: #a4847c;
@md-color-md-color-cm279: #907168;
@md-color-md-color-cm280: #dbcecc;
@md-color-md-color-cm281: #c5b1ad;
@md-color-md-color-cm282: #967470;
@md-color-md-color-cm283: #805c58;
@md-color-md-color-cm284: #68433f;
@md-color-md-color-cm285: #efd5d8;
@md-color-md-color-cm286: #f0c8d0;
@md-color-md-color-cm287: #e6a9b8;
@md-color-md-color-cm288: #bd6372;
@md-color-md-color-cm289: #a7546b;
@md-color-md-color-cm290: #f1dbda;
@md-color-md-color-cm291: #f5cdcb;
@md-color-md-color-cm292: #eca2ae;
@md-color-md-color-cm293: #e18995;
@md-color-md-color-cm294: #ca6c78;
@md-color-md-color-cm295: #f2e0df;
@md-color-md-color-cm296: #f4d9da;
@md-color-md-color-cm297: #e3abbb;
@md-color-md-color-cm298: #a85056;
@md-color-md-color-cm299: #984149;
@md-color-md-color-cm300: #e8cdcd;
@md-color-md-color-cm301: #e2bbbf;
@md-color-md-color-cm302: #c9959a;
@md-color-md-color-cm303: #855059;
@md-color-md-color-cm304: #634044;
@md-color-md-color-cm305: #e6dbda;
@md-color-md-color-cm306: #cfaeb4;
@md-color-md-color-cm307: #b79097;
@md-color-md-color-cm308: #9f767d;
@md-color-md-color-cm309: #8a5963;
@md-color-md-color-cm310: #ede0e0;
@md-color-md-color-cm311: #ead1d8;
@md-color-md-color-cm312: #c2899c;
@md-color-md-color-cm313: #ad7183;
@md-color-md-color-cm314: #94566b;
@md-color-md-color-cm315: #e6d1e1;
@md-color-md-color-cm316: #dcbfd7;
@md-color-md-color-cm317: #ca9dbb;
@md-color-md-color-cm318: #995977;
@md-color-md-color-cm319: #844a5e;
@md-color-md-color-cm320: #e7e0dd;
@md-color-md-color-cm321: #d2c0c4;
@md-color-md-color-cm322: #b9a5ac;
@md-color-md-color-cm323: #9d8691;
@md-color-md-color-cm324: #836b79;
@md-color-md-color-cm325: #e5dde2;
@md-color-md-color-cm326: #d9cedc;
@md-color-md-color-cm327: #c0aec7;
@md-color-md-color-cm328: #9883a4;
@md-color-md-color-cm329: #68556b;
@md-color-md-color-cm330: #e9e3e8;
@md-color-md-color-cm331: #e3d7e6;
@md-color-md-color-cm332: #b0a0b6;
@md-color-md-color-cm333: #7a6a81;
@md-color-md-color-cm334: #52403f;
@md-color-md-color-cm335: #e5e1e2;
@md-color-md-color-cm336: #dbd5db;
@md-color-md-color-cm337: #c1b9c7;
@md-color-md-color-cm338: #978ca1;
@md-color-md-color-cm339: #60596b;
@md-color-md-color-cm340: #d5beda;
@md-color-md-color-cm341: #bf9fc8;
@md-color-md-color-cm342: #aa87b7;
@md-color-md-color-cm343: #855c8a;
@md-color-md-color-cm344: #654663;
@md-color-md-color-cm345: #f2eceb;
@md-color-md-color-cm346: #eee1e7;
@md-color-md-color-cm347: #e5d0e0;
@md-color-md-color-cm348: #d1b3d0;
@md-color-md-color-cm349: #af84af;
@md-color-md-color-cm350: #bdbadd;
@md-color-md-color-cm351: #a29dcd;
@md-color-md-color-cm352: #726c96;
@md-color-md-color-cm353: #564d7e;
@md-color-md-color-cm354: #493e61;
@md-color-md-color-cm355: #e6e4e9;
@md-color-md-color-cm356: #dddbe8;
@md-color-md-color-cm357: #cccae1;
@md-color-md-color-cm358: #bebadc;
@md-color-md-color-cm359: #a099ca;
@md-color-md-color-cm360: #dedfe8;
@md-color-md-color-cm361: #c0bccc;
@md-color-md-color-cm362: #a29eb4;
@md-color-md-color-cm363: #8a84a1;
@md-color-md-color-cm364: #625b73;
@md-color-md-color-cm365: #dfe3e8;
@md-color-md-color-cm366: #d4d8e7;
@md-color-md-color-cm367: #b5bddc;
@md-color-md-color-cm368: #8891c4;
@md-color-md-color-cm369: #545991;
@md-color-md-color-cm370: #cacde2;
@md-color-md-color-cm371: #a8aecc;
@md-color-md-color-cm372: #959dbf;
@md-color-md-color-cm373: #7b81a4;
@md-color-md-color-cm374: #5c6280;
@md-color-md-color-cm375: #c6d4e5;
@md-color-md-color-cm376: #b1c3e0;
@md-color-md-color-cm377: #8aa3d1;
@md-color-md-color-cm378: #6472a4;
@md-color-md-color-cm379: #485884;
@md-color-md-color-cm380: #d2e0ed;
@md-color-md-color-cm381: #bad0ea;
@md-color-md-color-cm382: #a5c0e0;
@md-color-md-color-cm383: #6f92c3;
@md-color-md-color-cm384: #526dab;
@md-color-md-color-cm385: #eaeced;
@md-color-md-color-cm386: #b8c5d9;
@md-color-md-color-cm387: #97a9c3;
@md-color-md-color-cm388: #7d93b6;
@md-color-md-color-cm389: #58759e;
@md-color-md-color-cm390: #b6c5d5;
@md-color-md-color-cm391: #9bb1cb;
@md-color-md-color-cm392: #7692b3;
@md-color-md-color-cm393: #4f6986;
@md-color-md-color-cm394: #335770;
@md-color-md-color-cm395: #d1d9e1;
@md-color-md-color-cm396: #97a5ba;
@md-color-md-color-cm397: #76879f;
@md-color-md-color-cm398: #576c8b;
@md-color-md-color-cm399: #395474;
@md-color-md-color-cm400: #92bbd8;
@md-color-md-color-cm401: #6899c0;
@md-color-md-color-cm402: #418dba;
@md-color-md-color-cm403: #3a5a82;
@md-color-md-color-cm404: #414761;
@md-color-md-color-cm405: #cfdfe7;
@md-color-md-color-cm406: #b7cddf;
@md-color-md-color-cm407: #8fb3d7;
@md-color-md-color-cm408: #6d95bf;
@md-color-md-color-cm409: #235d89;
@md-color-md-color-cm410: #a8bacc;
@md-color-md-color-cm411: #8493a5;
@md-color-md-color-cm412: #66778f;
@md-color-md-color-cm413: #586b7f;
@md-color-md-color-cm414: #405165;
@md-color-md-color-cm415: #adc1cc;
@md-color-md-color-cm416: #96adbb;
@md-color-md-color-cm417: #738e9f;
@md-color-md-color-cm418: #728e9f;
@md-color-md-color-cm419: #5c7b8e;
@md-color-md-color-cm420: #e3e7e4;
@md-color-md-color-cm421: #d9e1e1;
@md-color-md-color-cm422: #cfdadd;
@md-color-md-color-cm423: #c0cfd7;
@md-color-md-color-cm424: #8ea6b7;
@md-color-md-color-cm425: #e1eae9;
@md-color-md-color-cm426: #d0e6eb;
@md-color-md-color-cm427: #adccdb;
@md-color-md-color-cm428: #6eb1db;
@md-color-md-color-cm429: #1078a2;
@md-color-md-color-cm430: #84bcd4;
@md-color-md-color-cm431: #5ea8c8;
@md-color-md-color-cm432: #4296bb;
@md-color-md-color-cm433: #2f6e8f;
@md-color-md-color-cm434: #33546e;
@md-color-md-color-cm435: #dde8eb;
@md-color-md-color-cm436: #9dcee4;
@md-color-md-color-cm437: #6ea7c3;
@md-color-md-color-cm438: #488dac;
@md-color-md-color-cm439: #267290;
@md-color-md-color-cm440: #bdd9dd;
@md-color-md-color-cm441: #84c2d8;
@md-color-md-color-cm442: #66a9bf;
@md-color-md-color-cm443: #3f8ea6;
@md-color-md-color-cm444: #1a728b;
@md-color-md-color-cm445: #c6e2e4;
@md-color-md-color-cm446: #badbe3;
@md-color-md-color-cm447: #a7ced7;
@md-color-md-color-cm448: #7fc0cf;
@md-color-md-color-cm449: #45a5bb;
@md-color-md-color-cm450: #e2eaea;
@md-color-md-color-cm451: #bedade;
@md-color-md-color-cm452: #83a6ae;
@md-color-md-color-cm453: #688b94;
@md-color-md-color-cm454: #497580;
@md-color-md-color-cm455: #accdc9;
@md-color-md-color-cm456: #7fc4c2;
@md-color-md-color-cm457: #228d92;
@md-color-md-color-cm458: #3f7e7f;
@md-color-md-color-cm459: #086e6d;
@md-color-md-color-cm460: #c7deda;
@md-color-md-color-cm461: #b4d7d5;
@md-color-md-color-cm462: #88bcbb;
@md-color-md-color-cm463: #569696;
@md-color-md-color-cm464: #3e7372;
@md-color-md-color-cm465: #e1ebe6;
@md-color-md-color-cm466: #d1ebe7;
@md-color-md-color-cm467: #a5ddda;
@md-color-md-color-cm468: #84d0ce;
@md-color-md-color-cm469: #68c2c0;
@md-color-md-color-cm470: #abd9d1;
@md-color-md-color-cm471: #8dcbc0;
@md-color-md-color-cm472: #73bdb2;
@md-color-md-color-cm473: #3e8f80;
@md-color-md-color-cm474: #326056;
@md-color-md-color-cm475: #bee8d9;
@md-color-md-color-cm476: #9edfc9;
@md-color-md-color-cm477: #82d4bc;
@md-color-md-color-cm478: #50be98;
@md-color-md-color-cm479: #2fae84;
@md-color-md-color-cm480: #c2d4cb;
@md-color-md-color-cm481: #b3c4b8;
@md-color-md-color-cm482: #92ad9d;
@md-color-md-color-cm483: #809c8a;
@md-color-md-color-cm484: #5d6a5b;
@md-color-md-color-cm485: #bfd2cb;
@md-color-md-color-cm486: #a3c2b8;
@md-color-md-color-cm487: #86a69b;
@md-color-md-color-cm488: #607d73;
@md-color-md-color-cm489: #455551;
@md-color-md-color-cm490: #d9e1d8;
@md-color-md-color-cm491: #9ab39f;
@md-color-md-color-cm492: #6f8c75;
@md-color-md-color-cm493: #5b7b65;
@md-color-md-color-cm494: #3a5544;
@md-color-md-color-cm495: #d2d7cc;
@md-color-md-color-cm496: #a4ac9e;
@md-color-md-color-cm497: #6e756f;
@md-color-md-color-cm498: #575d57;
@md-color-md-color-cm499: #4d5348;
@md-color-md-color-cm500: #e1e5d9;
@md-color-md-color-cm501: #cbd5c7;
@md-color-md-color-cm502: #abbaa6;
@md-color-md-color-cm503: #5e6c5f;
@md-color-md-color-cm504: #525f57;
@md-color-md-color-cm505: #cedbd0;
@md-color-md-color-cm506: #b1c3b5;
@md-color-md-color-cm507: #90a895;
@md-color-md-color-cm508: #728d79;
@md-color-md-color-cm509: #3c5e49;
@md-color-md-color-cm510: #e7eae2;
@md-color-md-color-cm511: #d8ddd3;
@md-color-md-color-cm512: #a7afa3;
@md-color-md-color-cm513: #889283;
@md-color-md-color-cm514: #6e7b6e;
@md-color-md-color-cm515: #cfe3d3;
@md-color-md-color-cm516: #acc7b3;
@md-color-md-color-cm517: #8daf96;
@md-color-md-color-cm518: #7ba37f;
@md-color-md-color-cm519: #507f5e;
@md-color-md-color-cm520: #cee8d5;
@md-color-md-color-cm521: #8bb796;
@md-color-md-color-cm522: #639b75;
@md-color-md-color-cm523: #44875e;
@md-color-md-color-cm524: #226947;
@md-color-md-color-cm525: #c1e1bc;
@md-color-md-color-cm526: #a7d4a1;
@md-color-md-color-cm527: #83c17c;
@md-color-md-color-cm528: #5ea95b;
@md-color-md-color-cm529: #3d8c40;
@md-color-md-color-cm530: #e1edd2;
@md-color-md-color-cm531: #acd390;
@md-color-md-color-cm532: #8ac066;
@md-color-md-color-cm533: #68964c;
@md-color-md-color-cm534: #547a46;
@md-color-md-color-cm535: #d7dec0;
@md-color-md-color-cm536: #b0bf8b;
@md-color-md-color-cm537: #9aab6a;
@md-color-md-color-cm538: #879951;
@md-color-md-color-cm539: #728536;
@md-color-md-color-cm540: #c3c8a6;
@md-color-md-color-cm541: #aeb48d;
@md-color-md-color-cm542: #99a27b;
@md-color-md-color-cm543: #889267;
@md-color-md-color-cm544: #75815a;
@md-color-md-color-cm545: #dbe3bb;
@md-color-md-color-cm546: #ccdaa1;
@md-color-md-color-cm547: #b7c981;
@md-color-md-color-cm548: #a8bf66;
@md-color-md-color-cm549: #96b047;
@md-color-md-color-cm550: #ebefda;
@md-color-md-color-cm551: #e5f0cc;
@md-color-md-color-cm552: #d8ecba;
@md-color-md-color-cm553: #c5e69d;
@md-color-md-color-cm554: #aad97a;
@md-color-md-color-cm555: #edefbc;
@md-color-md-color-cm556: #e4e79e;
@md-color-md-color-cm557: #d8dd88;
@md-color-md-color-cm558: #cace59;
@md-color-md-color-cm559: #bfc142;
@md-color-md-color-cm560: #eae5a6;
@md-color-md-color-cm561: #eae26a;
@md-color-md-color-cm562: #e1da50;
@md-color-md-color-cm563: #bfb948;
@md-color-md-color-cm564: #a09845;
@md-color-md-color-cm565: #f1efdf;
@md-color-md-color-cm566: #f0efd8;
@md-color-md-color-cm567: #eaeac3;
@md-color-md-color-cm568: #dadc9e;
@md-color-md-color-cm569: #cbcc7f;
@md-color-md-color-cm570: #f2efd2;
@md-color-md-color-cm571: #f2ecc4;
@md-color-md-color-cm572: #e9de9e;
@md-color-md-color-cm573: #dac76c;
@md-color-md-color-cm574: #c1a93b;
@md-color-md-color-cm575: #d7cda6;
@md-color-md-color-cm576: #ccc092;
@md-color-md-color-cm577: #c0b281;
@md-color-md-color-cm578: #b1a36e;
@md-color-md-color-cm579: #998b53;
@md-color-md-color-cm580: #eee9d6;
@md-color-md-color-cm581: #ede8d0;
@md-color-md-color-cm582: #e6dec2;
@md-color-md-color-cm583: #dbd0aa;
@md-color-md-color-cm584: #a18d60;
@md-color-md-color-cm585: #e3d4a9;
@md-color-md-color-cm586: #d7c591;
@md-color-md-color-cm587: #c0aa6d;
@md-color-md-color-cm588: #b49c5c;
@md-color-md-color-cm589: #a48c4b;
@md-color-md-color-cm590: #f5f0e0;
@md-color-md-color-cm591: #f1e9d6;
@md-color-md-color-cm592: #f0e6cd;
@md-color-md-color-cm593: #e9debd;
@md-color-md-color-cm594: #d6c79d;
@md-color-md-color-cm595: #c9bb9c;
@md-color-md-color-cm596: #b6a582;
@md-color-md-color-cm597: #af9b7d;
@md-color-md-color-cm598: #9b8667;
@md-color-md-color-cm599: #857155;
@md-color-md-color-cm600: #ece7d9;
@md-color-md-color-cm601: #eae1d0;
@md-color-md-color-cm602: #e3dac5;
@md-color-md-color-cm603: #d9cdb3;
@md-color-md-color-cm604: #c8b797;
@md-color-md-color-cm605: #eccf9a;
@md-color-md-color-cm606: #e4be7f;
@md-color-md-color-cm607: #d5a55c;
@md-color-md-color-cm608: #c8944b;
@md-color-md-color-cm609: #bd873e;
@md-color-md-color-cm610: #eed89c;
@md-color-md-color-cm611: #e6c780;
@md-color-md-color-cm612: #dbb162;
@md-color-md-color-cm613: #d2a450;
@md-color-md-color-cm614: #d19945;
@md-color-md-color-cm615: #e5cca4;
@md-color-md-color-cm616: #d9ba8a;
@md-color-md-color-cm617: #c29b65;
@md-color-md-color-cm618: #b28952;
@md-color-md-color-cm619: #9e7543;
@md-color-md-color-cm620: #f2ebda;
@md-color-md-color-cm621: #f4e9d4;
@md-color-md-color-cm622: #f2e2c9;
@md-color-md-color-cm623: #ebdab9;
@md-color-md-color-cm624: #d8c6a2;
@md-color-md-color-cm625: #dac0a1;
@md-color-md-color-cm626: #cdad88;
@md-color-md-color-cm627: #b08b65;
@md-color-md-color-cm628: #9f7a55;
@md-color-md-color-cm629: #8f6a4a;
@md-color-md-color-cm630: #e3e0db;
@md-color-md-color-cm631: #dad8d2;
@md-color-md-color-cm632: #ceccc5;
@md-color-md-color-cm633: #c0bdb6;
@md-color-md-color-cm634: #dac6ac;
@md-color-md-color-cm635: #ddb99b;
@md-color-md-color-cm636: #d0a381;
@md-color-md-color-cm637: #b4825e;
@md-color-md-color-cm638: #a47150;
@md-color-md-color-cm639: #946245;
@md-color-md-color-cm640: #f3e7d7;
@md-color-md-color-cm641: #f3e2d0;
@md-color-md-color-cm642: #eed8c4;
@md-color-md-color-cm643: #e6cbb3;
@md-color-md-color-cm644: #d0b49b;
@md-color-md-color-cm645: #d9bfab;
@md-color-md-color-cm646: #cdad97;
@md-color-md-color-cm647: #ba967d;
@md-color-md-color-cm648: #9f7861;
@md-color-md-color-cm649: #8a654f;
@md-color-md-color-cm650: #f0e7dc;
@md-color-md-color-cm651: #f1e3d6;
@md-color-md-color-cm652: #e8d8c9;
@md-color-md-color-cm653: #e4cfbd;
@md-color-md-color-cm654: #ddbea4;
@md-color-md-color-cm655: #d6c5b5;
@md-color-md-color-cm656: #cbb7a4;
@md-color-md-color-cm657: #b69d89;
@md-color-md-color-cm658: #987e69;
@md-color-md-color-cm659: #866c58;
@md-color-md-color-cm660: #eae3d9;
@md-color-md-color-cm661: #ebe4d8;
@md-color-md-color-cm662: #e8dfd2;
@md-color-md-color-cm663: #dfd3c4;
@md-color-md-color-cm664: #b9a899;
@md-color-md-color-cm665: #b1a299;
@md-color-md-color-cm666: #988881;
@md-color-md-color-cm667: #8c7d77;
@md-color-md-color-cm668: #7a6961;
@md-color-md-color-cm669: #6b5b56;
@md-color-md-color-cm670: #e4ddd6;
@md-color-md-color-cm671: #dcd4cd;
@md-color-md-color-cm672: #d3c9c1;
@md-color-md-color-cm673: #c3b6ad;
@md-color-md-color-cm674: #a8998f;
@md-color-md-color-cm675: #ddd0cb;
@md-color-md-color-cm676: #c5b1aa;
@md-color-md-color-cm677: #9b7b72;
@md-color-md-color-cm678: #846056;
@md-color-md-color-cm679: #6f4b44;
@md-color-md-color-cm680: #f5eae8;
@md-color-md-color-cm681: #e1d0ce;
@md-color-md-color-cm682: #c5b2ac;
@md-color-md-color-cm683: #a3908a;
@md-color-md-color-cm684: #816f6b;
@md-color-md-color-cm685: #d2beb9;
@md-color-md-color-cm686: #bba29e;
@md-color-md-color-cm687: #937671;
@md-color-md-color-cm688: #6f5755;
@md-color-md-color-cm689: #564343;
@md-color-md-color-cm690: #d1c9c8;
@md-color-md-color-cm691: #b6aaa9;
@md-color-md-color-cm692: #9d8d8b;
@md-color-md-color-cm693: #6c5756;
@md-color-md-color-cm694: #55403f;
@md-color-md-color-cm695: #c6b4b7;
@md-color-md-color-cm696: #baa2a4;
@md-color-md-color-cm697: #9c898a;
@md-color-md-color-cm698: #877173;
@md-color-md-color-cm699: #6e585b;
@md-color-md-color-cm700: #ede9e5;
@md-color-md-color-cm701: #e4e1de;
@md-color-md-color-cm702: #c7c2bf;
@md-color-md-color-cm703: #b1a7a5;
@md-color-md-color-cm704: #978984;
@md-color-md-color-cm705: #c4c7d2;
@md-color-md-color-cm706: #9ea0ab;
@md-color-md-color-cm707: #74757e;
@md-color-md-color-cm708: #5a5b63;
@md-color-md-color-cm709: #46474d;
@md-color-md-color-cm710: #d6d3d9;
@md-color-md-color-cm711: #bab6bf;
@md-color-md-color-cm712: #ada8b2;
@md-color-md-color-cm713: #908d96;
@md-color-md-color-cm714: #605d66;
@md-color-md-color-cm715: #d4d3d8;
@md-color-md-color-cm716: #c6c7cc;
@md-color-md-color-cm717: #b5b6c0;
@md-color-md-color-cm718: #aaabb6;
@md-color-md-color-cm719: #91929a;
@md-color-md-color-cm720: #e0dedb;
@md-color-md-color-cm721: #dbd9d7;
@md-color-md-color-cm722: #bdbbbe;
@md-color-md-color-cm723: #918e91;
@md-color-md-color-cm724: #5a595c;
@md-color-md-color-cm725: #c8cccf;
@md-color-md-color-cm726: #abafb5;
@md-color-md-color-cm727: #90949b;
@md-color-md-color-cm728: #72777f;
@md-color-md-color-cm729: #575e6a;
@md-color-md-color-cm730: #bfc6ca;
@md-color-md-color-cm731: #a9b3b9;
@md-color-md-color-cm732: #8f9aa2;
@md-color-md-color-cm733: #7a8790;
@md-color-md-color-cm734: #707d86;
@md-color-md-color-cm735: #eaeae5;
@md-color-md-color-cm736: #e4e6e3;
@md-color-md-color-cm737: #d9dedd;
@md-color-md-color-cm738: #d0d5d6;
@md-color-md-color-cm739: #bbc1c3;
@md-color-md-color-cm740: #cbcfcf;
@md-color-md-color-cm741: #949fa4;
@md-color-md-color-cm742: #738086;
@md-color-md-color-cm743: #5e6a73;
@md-color-md-color-cm744: #4d5d67;
@md-color-md-color-cm745: #c1c5c4;
@md-color-md-color-cm746: #b3b8b9;
@md-color-md-color-cm747: #949ea2;
@md-color-md-color-cm748: #565d62;
@md-color-md-color-cm749: #3f474c;
@md-color-md-color-cm750: #c8cbcd;
@md-color-md-color-cm751: #acb0b4;
@md-color-md-color-cm752: #8d959a;
@md-color-md-color-cm753: #6f787e;
@md-color-md-color-cm754: #535e66;
@md-color-md-color-cm755: #a9a6a6;
@md-color-md-color-cm756: #908e8f;
@md-color-md-color-cm757: #6e6c6e;
@md-color-md-color-cm758: #5b5758;
@md-color-md-color-cm759: #4f4c4d;
@md-color-md-color-cm760: #ebe7e1;
@md-color-md-color-cm761: #e1dfda;
@md-color-md-color-cm762: #d8d6d4;
@md-color-md-color-cm763: #cccac8;
@md-color-md-color-cm764: #bbb9b8;
@md-color-md-color-cm765: #d0cdc6;
@md-color-md-color-cm766: #c1beb7;
@md-color-md-color-cm767: #afaba5;
@md-color-md-color-cm768: #94908b;
@md-color-md-color-cm769: #64615d;
@md-color-md-color-cm770: #e8e2d9;
@md-color-md-color-cm771: #e0d8cd;
@md-color-md-color-cm772: #bcb8b1;
@md-color-md-color-cm773: #aea79f;
@md-color-md-color-cm774: #847f78;
@md-color-md-color-cm775: #c5c0ba;
@md-color-md-color-cm776: #c0b9b1;
@md-color-md-color-cm777: #b8ada4;
@md-color-md-color-cm778: #948a7f;
@md-color-md-color-cm779: #797167;
@md-color-md-color-cm780: #e9e4da;
@md-color-md-color-cm781: #cfcbc0;
@md-color-md-color-cm782: #a79d8e;
@md-color-md-color-cm783: #938879;
@md-color-md-color-cm784: #877f73;
@md-color-md-color-cm785: #d4d6d0;
@md-color-md-color-cm786: #c4c7c1;
@md-color-md-color-cm787: #abaca7;
@md-color-md-color-cm788: #91928d;
@md-color-md-color-cm789: #757672;
@md-color-md-color-cm790: #dde1db;
@md-color-md-color-cm791: #d1d7d0;
@md-color-md-color-cm792: #c2c9c2;
@md-color-md-color-cm793: #a1a9a1;
@md-color-md-color-cm794: #888f89;
@md-color-md-color-cm795: #d7dfdc;
@md-color-md-color-cm796: #cfd7d6;
@md-color-md-color-cm797: #a1afac;
@md-color-md-color-cm798: #8b9291;
@md-color-md-color-cm799: #575e5e;