// scala-dunkle-farbtoene
@scala-dunkle-farbtoene-scala-03-03-21: #7f7d75;
@scala-dunkle-farbtoene-scala-03-03-24: #6d6a63;
@scala-dunkle-farbtoene-scala-03-03-25: #646058;
@scala-dunkle-farbtoene-scala-03-03-27: #5a544a;
@scala-dunkle-farbtoene-scala-03-03-30: #4b473d;
@scala-dunkle-farbtoene-scala-03-06-21: #847963;
@scala-dunkle-farbtoene-scala-03-06-24: #6b604c;
@scala-dunkle-farbtoene-scala-03-06-27: #595244;
@scala-dunkle-farbtoene-scala-03-06-30: #3e3c35;
@scala-dunkle-farbtoene-scala-03-09-21: #8e7c56;
@scala-dunkle-farbtoene-scala-03-09-24: #756446;
@scala-dunkle-farbtoene-scala-03-09-27: #554a2c;
@scala-dunkle-farbtoene-scala-03-12-21: #8f753c;
@scala-dunkle-farbtoene-scala-03-12-24: #746135;
@scala-dunkle-farbtoene-scala-03-15-21: #b08d1d;
@scala-dunkle-farbtoene-scala-03-15-24: #a28121;
@scala-dunkle-farbtoene-scala-06-06-21: #8b7f6c;
@scala-dunkle-farbtoene-scala-06-06-24: #625749;
@scala-dunkle-farbtoene-scala-06-06-27: #433d35;
@scala-dunkle-farbtoene-scala-06-09-21: #87714b;
@scala-dunkle-farbtoene-scala-06-09-24: #6f5d40;
@scala-dunkle-farbtoene-scala-06-09-27: #62543a;
@scala-dunkle-farbtoene-scala-06-12-21: #9d7b3e;
@scala-dunkle-farbtoene-scala-06-12-24: #7d643a;
@scala-dunkle-farbtoene-scala-06-15-21: #987629;
@scala-dunkle-farbtoene-scala-09-06-21: #786e62;
@scala-dunkle-farbtoene-scala-09-06-24: #5a4f41;
@scala-dunkle-farbtoene-scala-09-06-27: #454139;
@scala-dunkle-farbtoene-scala-09-09-21: #886e47;
@scala-dunkle-farbtoene-scala-09-09-24: #5e4e38;
@scala-dunkle-farbtoene-scala-09-12-21: #926f39;
@scala-dunkle-farbtoene-scala-09-12-24: #7a5e3a;
@scala-dunkle-farbtoene-scala-12-03-19: #8e8c86;
@scala-dunkle-farbtoene-scala-12-03-21: #817e79;
@scala-dunkle-farbtoene-scala-12-03-24: #706c66;
@scala-dunkle-farbtoene-scala-12-03-27: #5d5751;
@scala-dunkle-farbtoene-scala-12-06-19: #958575;
@scala-dunkle-farbtoene-scala-12-06-21: #897769;
@scala-dunkle-farbtoene-scala-12-06-24: #6e5e51;
@scala-dunkle-farbtoene-scala-12-06-27: #5c4c3e;
@scala-dunkle-farbtoene-scala-12-09-19: #9c7e63;
@scala-dunkle-farbtoene-scala-12-09-21: #8c6f56;
@scala-dunkle-farbtoene-scala-12-09-24: #775d45;
@scala-dunkle-farbtoene-scala-12-09-27: #634d3a;
@scala-dunkle-farbtoene-scala-12-09-30: #504036;
@scala-dunkle-farbtoene-scala-12-09-33: #292728;
@scala-dunkle-farbtoene-scala-12-12-21: #956e45;
@scala-dunkle-farbtoene-scala-12-12-24: #845f3d;
@scala-dunkle-farbtoene-scala-12-12-27: #725133;
@scala-dunkle-farbtoene-scala-12-15-21: #9a6738;
@scala-dunkle-farbtoene-scala-12-15-24: #86572f;
@scala-dunkle-farbtoene-scala-12-18-21: #ad6d2b;
@scala-dunkle-farbtoene-scala-15-03-21: #887e77;
@scala-dunkle-farbtoene-scala-15-03-22: #7d736e;
@scala-dunkle-farbtoene-scala-15-03-24: #756963;
@scala-dunkle-farbtoene-scala-15-06-21: #978275;
@scala-dunkle-farbtoene-scala-15-06-22: #836e60;
@scala-dunkle-farbtoene-scala-15-06-24: #765d4e;
@scala-dunkle-farbtoene-scala-15-06-27: #594941;
@scala-dunkle-farbtoene-scala-15-06-30: #493835;
@scala-dunkle-farbtoene-scala-15-09-21: #95735d;
@scala-dunkle-farbtoene-scala-15-09-24: #775541;
@scala-dunkle-farbtoene-scala-15-09-27: #62493b;
@scala-dunkle-farbtoene-scala-15-09-30: #554236;
@scala-dunkle-farbtoene-scala-15-12-21: #9e6d48;
@scala-dunkle-farbtoene-scala-15-12-24: #7e5133;
@scala-dunkle-farbtoene-scala-15-12-27: #704c35;
@scala-dunkle-farbtoene-scala-15-15-21: #a86d3d;
@scala-dunkle-farbtoene-scala-15-15-24: #8a5631;
@scala-dunkle-farbtoene-scala-15-18-21: #ad6c35;
@scala-dunkle-farbtoene-scala-18-06-21: #827875;
@scala-dunkle-farbtoene-scala-18-06-24: #6a5f5d;
@scala-dunkle-farbtoene-scala-18-06-27: #564b49;
@scala-dunkle-farbtoene-scala-18-06-30: #433a39;
@scala-dunkle-farbtoene-scala-18-06-33: #3a3130;
@scala-dunkle-farbtoene-scala-18-09-21: #967260;
@scala-dunkle-farbtoene-scala-18-09-24: #865f4c;
@scala-dunkle-farbtoene-scala-18-09-25: #6f4c3b;
@scala-dunkle-farbtoene-scala-18-09-27: #5e4134;
@scala-dunkle-farbtoene-scala-18-09-30: #53392f;
@scala-dunkle-farbtoene-scala-18-12-21: #a57254;
@scala-dunkle-farbtoene-scala-18-12-24: #8a563d;
@scala-dunkle-farbtoene-scala-18-12-27: #744736;
@scala-dunkle-farbtoene-scala-18-12-30: #613928;
@scala-dunkle-farbtoene-scala-18-15-21: #a86940;
@scala-dunkle-farbtoene-scala-18-15-24: #a15c36;
@scala-dunkle-farbtoene-scala-18-15-27: #905038;
@scala-dunkle-farbtoene-scala-18-15-30: #7f4b36;
@scala-dunkle-farbtoene-scala-18-15-33: #683e2e;
@scala-dunkle-farbtoene-scala-18-24-21: #d4721e;
@scala-dunkle-farbtoene-scala-21-06-21: #947e77;
@scala-dunkle-farbtoene-scala-21-06-24: #7b6862;
@scala-dunkle-farbtoene-scala-21-06-27: #63534d;
@scala-dunkle-farbtoene-scala-21-06-30: #50433e;
@scala-dunkle-farbtoene-scala-21-06-33: #3a2f2c;
@scala-dunkle-farbtoene-scala-21-09-21: #977366;
@scala-dunkle-farbtoene-scala-21-09-22: #89655a;
@scala-dunkle-farbtoene-scala-21-09-24: #795245;
@scala-dunkle-farbtoene-scala-21-09-27: #623b35;
@scala-dunkle-farbtoene-scala-21-12-21: #aa6b55;
@scala-dunkle-farbtoene-scala-21-12-24: #8c4f3c;
@scala-dunkle-farbtoene-scala-21-12-27: #6f4136;
@scala-dunkle-farbtoene-scala-21-12-30: #673b36;
@scala-dunkle-farbtoene-scala-21-15-21: #af6045;
@scala-dunkle-farbtoene-scala-21-15-24: #8e4e3b;
@scala-dunkle-farbtoene-scala-21-15-27: #814130;
@scala-dunkle-farbtoene-scala-21-16-21: #c66c4b;
@scala-dunkle-farbtoene-scala-21-16-24: #b65532;
@scala-dunkle-farbtoene-scala-21-18-21: #e56d2f;
@scala-dunkle-farbtoene-scala-21-18-24: #ca6135;
@scala-dunkle-farbtoene-scala-24-06-19: #927b75;
@scala-dunkle-farbtoene-scala-24-06-22: #846e69;
@scala-dunkle-farbtoene-scala-24-06-24: #78605b;
@scala-dunkle-farbtoene-scala-24-06-27: #60494a;
@scala-dunkle-farbtoene-scala-24-06-30: #473234;
@scala-dunkle-farbtoene-scala-24-09-21: #9d7d73;
@scala-dunkle-farbtoene-scala-24-09-24: #7d5650;
@scala-dunkle-farbtoene-scala-24-09-27: #634040;
@scala-dunkle-farbtoene-scala-24-09-30: #513630;
@scala-dunkle-farbtoene-scala-24-12-21: #a76c5d;
@scala-dunkle-farbtoene-scala-24-13-21: #b46d5c;
@scala-dunkle-farbtoene-scala-24-13-24: #9c5a50;
@scala-dunkle-farbtoene-scala-24-15-21: #c96956;
@scala-dunkle-farbtoene-scala-24-15-24: #954d3e;
@scala-dunkle-farbtoene-scala-24-15-27: #6f3e3a;
@scala-dunkle-farbtoene-scala-24-15-30: #5a3233;
@scala-dunkle-farbtoene-scala-24-18-21: #cf6651;
@scala-dunkle-farbtoene-scala-24-18-23: #ba5d4a;
@scala-dunkle-farbtoene-scala-24-18-24: #9e483b;
@scala-dunkle-farbtoene-scala-24-18-27: #8b493f;
@scala-dunkle-farbtoene-scala-24-18-30: #6e2d29;
@scala-dunkle-farbtoene-scala-24-21-21: #d45212;
@scala-dunkle-farbtoene-scala-24-21-24: #b65033;
@scala-dunkle-farbtoene-scala-24-24-21: #d14c2a;
@scala-dunkle-farbtoene-scala-24-24-24: #a94335;
@scala-dunkle-farbtoene-scala-27-09-19: #b58b80;
@scala-dunkle-farbtoene-scala-27-09-21: #ac7b6d;
@scala-dunkle-farbtoene-scala-27-09-23: #946861;
@scala-dunkle-farbtoene-scala-27-09-24: #825552;
@scala-dunkle-farbtoene-scala-27-09-27: #724143;
@scala-dunkle-farbtoene-scala-27-09-30: #5e2d33;
@scala-dunkle-farbtoene-scala-27-09-33: #43252a;
@scala-dunkle-farbtoene-scala-27-12-19: #b97e74;
@scala-dunkle-farbtoene-scala-27-12-21: #b17669;
@scala-dunkle-farbtoene-scala-27-12-23: #a0645f;
@scala-dunkle-farbtoene-scala-27-12-24: #894b48;
@scala-dunkle-farbtoene-scala-27-12-27: #7b3a3c;
@scala-dunkle-farbtoene-scala-27-12-30: #7a3435;
@scala-dunkle-farbtoene-scala-27-13-21: #b36e65;
@scala-dunkle-farbtoene-scala-27-13-24: #a95e58;
@scala-dunkle-farbtoene-scala-27-15-21: #b3625b;
@scala-dunkle-farbtoene-scala-27-15-24: #9d4641;
@scala-dunkle-farbtoene-scala-27-18-21: #bc5851;
@scala-dunkle-farbtoene-scala-27-18-24: #a4453d;
@scala-dunkle-farbtoene-scala-27-18-27: #953631;
@scala-dunkle-farbtoene-scala-27-18-30: #82292f;
@scala-dunkle-farbtoene-scala-27-21-21: #ba3e2f;
@scala-dunkle-farbtoene-scala-27-21-24: #b33639;
@scala-dunkle-farbtoene-scala-27-21-27: #982d30;
@scala-dunkle-farbtoene-scala-27-21-30: #a23940;
@scala-dunkle-farbtoene-scala-27-24-24: #b42624;
@scala-dunkle-farbtoene-scala-27-24-27: #a23230;
@scala-dunkle-farbtoene-scala-27-24-30: #993133;
@scala-dunkle-farbtoene-scala-30-06-21: #8b7477;
@scala-dunkle-farbtoene-scala-30-06-24: #735e61;
@scala-dunkle-farbtoene-scala-30-06-27: #5e4a4f;
@scala-dunkle-farbtoene-scala-30-06-30: #493a3f;
@scala-dunkle-farbtoene-scala-30-09-21: #9c7374;
@scala-dunkle-farbtoene-scala-30-09-24: #845c5f;
@scala-dunkle-farbtoene-scala-30-09-27: #694349;
@scala-dunkle-farbtoene-scala-30-09-30: #4e3238;
@scala-dunkle-farbtoene-scala-30-12-21: #a2696d;
@scala-dunkle-farbtoene-scala-30-12-24: #8e5258;
@scala-dunkle-farbtoene-scala-30-12-27: #723f47;
@scala-dunkle-farbtoene-scala-30-12-30: #562c36;
@scala-dunkle-farbtoene-scala-30-15-21: #c77578;
@scala-dunkle-farbtoene-scala-30-15-24: #b56262;
@scala-dunkle-farbtoene-scala-30-15-27: #944b4d;
@scala-dunkle-farbtoene-scala-30-15-30: #803945;
@scala-dunkle-farbtoene-scala-30-15-33: #632734;
@scala-dunkle-farbtoene-scala-30-18-21: #c65660;
@scala-dunkle-farbtoene-scala-30-18-24: #c44551;
@scala-dunkle-farbtoene-scala-30-18-27: #a83146;
@scala-dunkle-farbtoene-scala-30-18-30: #8d2835;
@scala-dunkle-farbtoene-scala-30-18-33: #6c2c33;
@scala-dunkle-farbtoene-scala-30-21-21: #c65667;
@scala-dunkle-farbtoene-scala-30-21-24: #a04655;
@scala-dunkle-farbtoene-scala-30-24-21: #b13741;
@scala-dunkle-farbtoene-scala-30-24-24: #9c313e;
@scala-dunkle-farbtoene-scala-33-06-21: #9a9190;
@scala-dunkle-farbtoene-scala-33-06-24: #827476;
@scala-dunkle-farbtoene-scala-33-06-27: #6c5f62;
@scala-dunkle-farbtoene-scala-33-06-30: #544a50;
@scala-dunkle-farbtoene-scala-33-09-21: #99747c;
@scala-dunkle-farbtoene-scala-33-09-24: #7c5962;
@scala-dunkle-farbtoene-scala-33-09-27: #65414c;
@scala-dunkle-farbtoene-scala-33-09-30: #592f3a;
@scala-dunkle-farbtoene-scala-33-12-21: #a16c7b;
@scala-dunkle-farbtoene-scala-33-12-24: #8c5869;
@scala-dunkle-farbtoene-scala-33-12-27: #6f3e50;
@scala-dunkle-farbtoene-scala-33-12-30: #512e3f;
@scala-dunkle-farbtoene-scala-33-15-21: #ad657a;
@scala-dunkle-farbtoene-scala-33-15-24: #8c4453;
@scala-dunkle-farbtoene-scala-33-15-27: #67283f;
@scala-dunkle-farbtoene-scala-33-18-24: #af344d;
@scala-dunkle-farbtoene-scala-33-18-27: #80273e;
@scala-dunkle-farbtoene-scala-36-03-21: #80787c;
@scala-dunkle-farbtoene-scala-36-03-24: #696066;
@scala-dunkle-farbtoene-scala-36-03-27: #534b52;
@scala-dunkle-farbtoene-scala-36-03-30: #413a41;
@scala-dunkle-farbtoene-scala-36-06-21: #917180;
@scala-dunkle-farbtoene-scala-36-06-24: #795b6a;
@scala-dunkle-farbtoene-scala-36-06-27: #604553;
@scala-dunkle-farbtoene-scala-36-06-30: #4d3543;
@scala-dunkle-farbtoene-scala-36-06-33: #412d38;
@scala-dunkle-farbtoene-scala-36-09-21: #aa6787;
@scala-dunkle-farbtoene-scala-36-09-24: #8e4e6f;
@scala-dunkle-farbtoene-scala-36-09-27: #723859;
@scala-dunkle-farbtoene-scala-36-09-30: #562945;
@scala-dunkle-farbtoene-scala-36-09-33: #4d3145;
@scala-dunkle-farbtoene-scala-36-09-36: #3a222f;
@scala-dunkle-farbtoene-scala-36-12-21: #c3628e;
@scala-dunkle-farbtoene-scala-36-12-24: #9f4274;
@scala-dunkle-farbtoene-scala-36-12-27: #833460;
@scala-dunkle-farbtoene-scala-36-15-21: #ba457b;
@scala-dunkle-farbtoene-scala-36-15-24: #a6376d;
@scala-dunkle-farbtoene-scala-36-15-27: #843356;
@scala-dunkle-farbtoene-scala-39-06-21: #877981;
@scala-dunkle-farbtoene-scala-39-06-24: #706269;
@scala-dunkle-farbtoene-scala-39-06-27: #574955;
@scala-dunkle-farbtoene-scala-39-06-30: #464141;
@scala-dunkle-farbtoene-scala-39-09-21: #9b8491;
@scala-dunkle-farbtoene-scala-39-09-24: #795e71;
@scala-dunkle-farbtoene-scala-39-09-27: #5e4156;
@scala-dunkle-farbtoene-scala-39-12-21: #986f88;
@scala-dunkle-farbtoene-scala-39-12-24: #7e5872;
@scala-dunkle-farbtoene-scala-39-12-27: #673d5e;
@scala-dunkle-farbtoene-scala-39-15-21: #a76b8f;
@scala-dunkle-farbtoene-scala-39-15-24: #864f73;
@scala-dunkle-farbtoene-scala-39-15-27: #753e63;
@scala-dunkle-farbtoene-scala-39-15-30: #502b49;
@scala-dunkle-farbtoene-scala-39-18-21: #ba6199;
@scala-dunkle-farbtoene-scala-39-18-24: #913a76;
@scala-dunkle-farbtoene-scala-42-03-21: #848181;
@scala-dunkle-farbtoene-scala-42-03-24: #757373;
@scala-dunkle-farbtoene-scala-42-03-27: #696667;
@scala-dunkle-farbtoene-scala-42-03-30: #555151;
@scala-dunkle-farbtoene-scala-42-06-21: #877c82;
@scala-dunkle-farbtoene-scala-42-06-24: #6b6169;
@scala-dunkle-farbtoene-scala-42-06-27: #5b4d5b;
@scala-dunkle-farbtoene-scala-42-09-21: #89748a;
@scala-dunkle-farbtoene-scala-42-09-24: #735f75;
@scala-dunkle-farbtoene-scala-42-09-27: #5b465f;
@scala-dunkle-farbtoene-scala-42-12-21: #93708f;
@scala-dunkle-farbtoene-scala-42-12-24: #846285;
@scala-dunkle-farbtoene-scala-42-15-21: #a06c98;
@scala-dunkle-farbtoene-scala-42-15-24: #84577f;
@scala-dunkle-farbtoene-scala-42-15-27: #644265;
@scala-dunkle-farbtoene-scala-42-15-30: #49324c;
@scala-dunkle-farbtoene-scala-42-18-21: #ab64a2;
@scala-dunkle-farbtoene-scala-42-18-24: #8e4788;
@scala-dunkle-farbtoene-scala-42-18-27: #7b3468;
@scala-dunkle-farbtoene-scala-42-21-21: #9f6ca4;
@scala-dunkle-farbtoene-scala-42-21-24: #884f84;
@scala-dunkle-farbtoene-scala-42-21-27: #713a71;
@scala-dunkle-farbtoene-scala-45-06-21: #817d85;
@scala-dunkle-farbtoene-scala-45-06-24: #67626a;
@scala-dunkle-farbtoene-scala-45-06-27: #534f59;
@scala-dunkle-farbtoene-scala-45-06-30: #3f3d4a;
@scala-dunkle-farbtoene-scala-45-09-21: #887c91;
@scala-dunkle-farbtoene-scala-45-09-24: #6c6178;
@scala-dunkle-farbtoene-scala-45-09-27: #554863;
@scala-dunkle-farbtoene-scala-45-09-30: #463857;
@scala-dunkle-farbtoene-scala-45-12-21: #88779c;
@scala-dunkle-farbtoene-scala-45-12-24: #746185;
@scala-dunkle-farbtoene-scala-45-12-27: #5a456d;
@scala-dunkle-farbtoene-scala-45-15-21: #8f7596;
@scala-dunkle-farbtoene-scala-45-15-24: #775d7f;
@scala-dunkle-farbtoene-scala-45-15-27: #5c4164;
@scala-dunkle-farbtoene-scala-45-18-21: #936faf;
@scala-dunkle-farbtoene-scala-45-18-24: #7a5497;
@scala-dunkle-farbtoene-scala-45-18-27: #603f7c;
@scala-dunkle-farbtoene-scala-45-18-30: #482e59;
@scala-dunkle-farbtoene-scala-48-06-21: #7c808c;
@scala-dunkle-farbtoene-scala-48-06-24: #5f6371;
@scala-dunkle-farbtoene-scala-48-06-27: #4f5262;
@scala-dunkle-farbtoene-scala-48-06-30: #393a48;
@scala-dunkle-farbtoene-scala-48-09-21: #817b93;
@scala-dunkle-farbtoene-scala-48-09-24: #69617b;
@scala-dunkle-farbtoene-scala-48-09-27: #524b64;
@scala-dunkle-farbtoene-scala-48-09-30: #3f3554;
@scala-dunkle-farbtoene-scala-48-12-21: #7f6a9c;
@scala-dunkle-farbtoene-scala-48-12-24: #685d80;
@scala-dunkle-farbtoene-scala-48-12-27: #54496c;
@scala-dunkle-farbtoene-scala-48-15-21: #8c78b4;
@scala-dunkle-farbtoene-scala-48-15-24: #745b9e;
@scala-dunkle-farbtoene-scala-48-15-27: #5d4580;
@scala-dunkle-farbtoene-scala-48-15-30: #4a3567;
@scala-dunkle-farbtoene-scala-48-15-33: #443662;
@scala-dunkle-farbtoene-scala-48-18-24: #695093;
@scala-dunkle-farbtoene-scala-51-03-24: #7d7f7e;
@scala-dunkle-farbtoene-scala-51-06-21: #7c7d89;
@scala-dunkle-farbtoene-scala-51-06-24: #666777;
@scala-dunkle-farbtoene-scala-51-06-27: #525162;
@scala-dunkle-farbtoene-scala-51-06-30: #3a3947;
@scala-dunkle-farbtoene-scala-51-09-21: #7a7b96;
@scala-dunkle-farbtoene-scala-51-09-24: #676881;
@scala-dunkle-farbtoene-scala-51-09-27: #50516b;
@scala-dunkle-farbtoene-scala-51-12-21: #7f7d9f;
@scala-dunkle-farbtoene-scala-51-12-24: #696990;
@scala-dunkle-farbtoene-scala-51-12-27: #525175;
@scala-dunkle-farbtoene-scala-51-12-30: #363760;
@scala-dunkle-farbtoene-scala-51-15-21: #7e7dae;
@scala-dunkle-farbtoene-scala-51-15-24: #656292;
@scala-dunkle-farbtoene-scala-51-15-27: #514d7d;
@scala-dunkle-farbtoene-scala-51-15-30: #403870;
@scala-dunkle-farbtoene-scala-51-18-21: #847eb8;
@scala-dunkle-farbtoene-scala-51-18-24: #6c65a0;
@scala-dunkle-farbtoene-scala-51-18-27: #524a83;
@scala-dunkle-farbtoene-scala-54-09-21: #767e94;
@scala-dunkle-farbtoene-scala-54-09-24: #5e657c;
@scala-dunkle-farbtoene-scala-54-09-27: #48506a;
@scala-dunkle-farbtoene-scala-54-09-30: #384055;
@scala-dunkle-farbtoene-scala-54-12-21: #7081ae;
@scala-dunkle-farbtoene-scala-54-12-24: #566595;
@scala-dunkle-farbtoene-scala-54-12-27: #414f7c;
@scala-dunkle-farbtoene-scala-54-12-30: #343e69;
@scala-dunkle-farbtoene-scala-54-15-21: #6c81b7;
@scala-dunkle-farbtoene-scala-54-15-24: #4e68aa;
@scala-dunkle-farbtoene-scala-54-15-27: #3e4b85;
@scala-dunkle-farbtoene-scala-54-15-30: #373e4a;
@scala-dunkle-farbtoene-scala-57-06-21: #798391;
@scala-dunkle-farbtoene-scala-57-06-24: #5f6874;
@scala-dunkle-farbtoene-scala-57-06-27: #4a525f;
@scala-dunkle-farbtoene-scala-57-06-30: #363e49;
@scala-dunkle-farbtoene-scala-57-06-33: #2e2f31;
@scala-dunkle-farbtoene-scala-57-09-21: #798599;
@scala-dunkle-farbtoene-scala-57-09-24: #5d687f;
@scala-dunkle-farbtoene-scala-57-09-27: #4d5770;
@scala-dunkle-farbtoene-scala-57-09-30: #384256;
@scala-dunkle-farbtoene-scala-57-09-33: #2c3746;
@scala-dunkle-farbtoene-scala-57-09-36: #242936;
@scala-dunkle-farbtoene-scala-57-12-21: #7284a7;
@scala-dunkle-farbtoene-scala-57-12-24: #57688b;
@scala-dunkle-farbtoene-scala-57-12-27: #3a5073;
@scala-dunkle-farbtoene-scala-57-12-30: #34425c;
@scala-dunkle-farbtoene-scala-57-12-33: #2c3a58;
@scala-dunkle-farbtoene-scala-57-15-21: #6a84b2;
@scala-dunkle-farbtoene-scala-57-15-24: #4d6793;
@scala-dunkle-farbtoene-scala-57-15-27: #32507d;
@scala-dunkle-farbtoene-scala-57-15-30: #234066;
@scala-dunkle-farbtoene-scala-57-18-21: #5479ae;
@scala-dunkle-farbtoene-scala-57-18-24: #44669b;
@scala-dunkle-farbtoene-scala-57-18-27: #2c5085;
@scala-dunkle-farbtoene-scala-57-18-30: #1e3f6c;
@scala-dunkle-farbtoene-scala-57-21-21: #6586c0;
@scala-dunkle-farbtoene-scala-57-21-24: #4b6db0;
@scala-dunkle-farbtoene-scala-57-21-27: #3a5f99;
@scala-dunkle-farbtoene-scala-57-21-30: #25528f;
@scala-dunkle-farbtoene-scala-60-03-24: #8f9396;
@scala-dunkle-farbtoene-scala-60-06-19: #868b92;
@scala-dunkle-farbtoene-scala-60-06-21: #787c83;
@scala-dunkle-farbtoene-scala-60-06-24: #62666c;
@scala-dunkle-farbtoene-scala-60-06-27: #55585e;
@scala-dunkle-farbtoene-scala-60-06-30: #4a4d53;
@scala-dunkle-farbtoene-scala-60-09-19: #7c90a7;
@scala-dunkle-farbtoene-scala-60-09-21: #6b7e97;
@scala-dunkle-farbtoene-scala-60-09-24: #56697f;
@scala-dunkle-farbtoene-scala-60-09-27: #42546a;
@scala-dunkle-farbtoene-scala-60-09-30: #303f53;
@scala-dunkle-farbtoene-scala-60-09-33: #2c2f37;
@scala-dunkle-farbtoene-scala-60-12-21: #6986a6;
@scala-dunkle-farbtoene-scala-60-12-24: #506c8e;
@scala-dunkle-farbtoene-scala-60-12-27: #3e5474;
@scala-dunkle-farbtoene-scala-60-12-30: #29405e;
@scala-dunkle-farbtoene-scala-60-15-21: #5f85af;
@scala-dunkle-farbtoene-scala-60-15-24: #426c96;
@scala-dunkle-farbtoene-scala-60-15-27: #2b537c;
@scala-dunkle-farbtoene-scala-60-15-30: #1d4267;
@scala-dunkle-farbtoene-scala-60-18-21: #4d8abf;
@scala-dunkle-farbtoene-scala-60-18-24: #3770a4;
@scala-dunkle-farbtoene-scala-60-18-27: #14537e;
@scala-dunkle-farbtoene-scala-60-21-21: #3887c5;
@scala-dunkle-farbtoene-scala-60-21-24: #1d73af;
@scala-dunkle-farbtoene-scala-60-21-27: #065589;
@scala-dunkle-farbtoene-scala-63-03-21: #80868b;
@scala-dunkle-farbtoene-scala-63-06-21: #727d87;
@scala-dunkle-farbtoene-scala-63-06-24: #5d6974;
@scala-dunkle-farbtoene-scala-63-06-27: #46525e;
@scala-dunkle-farbtoene-scala-63-06-30: #3a444d;
@scala-dunkle-farbtoene-scala-63-06-33: #383a3d;
@scala-dunkle-farbtoene-scala-63-09-21: #688293;
@scala-dunkle-farbtoene-scala-63-09-24: #4f6a7d;
@scala-dunkle-farbtoene-scala-63-09-27: #405768;
@scala-dunkle-farbtoene-scala-63-12-21: #6087a2;
@scala-dunkle-farbtoene-scala-63-12-24: #466c8d;
@scala-dunkle-farbtoene-scala-63-12-27: #2c5471;
@scala-dunkle-farbtoene-scala-63-12-30: #203f5a;
@scala-dunkle-farbtoene-scala-63-15-21: #5189ad;
@scala-dunkle-farbtoene-scala-63-15-24: #347095;
@scala-dunkle-farbtoene-scala-63-15-27: #36617a;
@scala-dunkle-farbtoene-scala-63-18-21: #3387b5;
@scala-dunkle-farbtoene-scala-63-18-24: #227db0;
@scala-dunkle-farbtoene-scala-63-18-27: #206186;
@scala-dunkle-farbtoene-scala-63-21-27: #005e8e;
@scala-dunkle-farbtoene-scala-66-06-21: #7c888f;
@scala-dunkle-farbtoene-scala-66-06-24: #606b71;
@scala-dunkle-farbtoene-scala-66-06-27: #44525c;
@scala-dunkle-farbtoene-scala-66-06-30: #323f46;
@scala-dunkle-farbtoene-scala-66-09-21: #5f8191;
@scala-dunkle-farbtoene-scala-66-09-24: #49697a;
@scala-dunkle-farbtoene-scala-66-09-27: #335060;
@scala-dunkle-farbtoene-scala-66-09-30: #27414f;
@scala-dunkle-farbtoene-scala-66-12-21: #52879e;
@scala-dunkle-farbtoene-scala-66-12-24: #3c6f87;
@scala-dunkle-farbtoene-scala-66-12-27: #24566f;
@scala-dunkle-farbtoene-scala-66-12-30: #0d495d;
@scala-dunkle-farbtoene-scala-66-15-21: #338aab;
@scala-dunkle-farbtoene-scala-66-15-24: #137291;
@scala-dunkle-farbtoene-scala-66-15-27: #005c7c;
@scala-dunkle-farbtoene-scala-66-15-30: #274f67;
@scala-dunkle-farbtoene-scala-66-18-21: #008eb9;
@scala-dunkle-farbtoene-scala-66-18-24: #00739e;
@scala-dunkle-farbtoene-scala-66-18-27: #006086;
@scala-dunkle-farbtoene-scala-69-03-21: #767e80;
@scala-dunkle-farbtoene-scala-69-03-24: #5d6669;
@scala-dunkle-farbtoene-scala-69-03-27: #4e565b;
@scala-dunkle-farbtoene-scala-69-03-30: #343e43;
@scala-dunkle-farbtoene-scala-69-06-21: #6d7f85;
@scala-dunkle-farbtoene-scala-69-06-24: #53696e;
@scala-dunkle-farbtoene-scala-69-06-27: #43555a;
@scala-dunkle-farbtoene-scala-69-06-30: #404a4c;
@scala-dunkle-farbtoene-scala-69-06-33: #313c3f;
@scala-dunkle-farbtoene-scala-69-06-36: #212c2f;
@scala-dunkle-farbtoene-scala-69-09-21: #5a858f;
@scala-dunkle-farbtoene-scala-69-09-24: #416a76;
@scala-dunkle-farbtoene-scala-69-09-27: #33555f;
@scala-dunkle-farbtoene-scala-69-09-30: #26464f;
@scala-dunkle-farbtoene-scala-69-12-21: #49899e;
@scala-dunkle-farbtoene-scala-69-12-24: #336d82;
@scala-dunkle-farbtoene-scala-69-12-27: #1b586d;
@scala-dunkle-farbtoene-scala-69-12-30: #03455a;
@scala-dunkle-farbtoene-scala-69-15-21: #2b8eae;
@scala-dunkle-farbtoene-scala-69-15-24: #007592;
@scala-dunkle-farbtoene-scala-69-15-27: #005e79;
@scala-dunkle-farbtoene-scala-69-18-21: #0092ac;
@scala-dunkle-farbtoene-scala-69-18-24: #007b90;
@scala-dunkle-farbtoene-scala-69-18-27: #005d75;
@scala-dunkle-farbtoene-scala-69-21-21: #0096a4;
@scala-dunkle-farbtoene-scala-69-21-24: #007887;
@scala-dunkle-farbtoene-scala-69-21-27: #005f6e;
@scala-dunkle-farbtoene-scala-69-24-24: #00768c;
@scala-dunkle-farbtoene-scala-72-06-24: #5e6466;
@scala-dunkle-farbtoene-scala-72-06-27: #585e62;
@scala-dunkle-farbtoene-scala-72-06-30: #3f4549;
@scala-dunkle-farbtoene-scala-72-09-21: #60868b;
@scala-dunkle-farbtoene-scala-72-09-24: #446d74;
@scala-dunkle-farbtoene-scala-72-09-27: #32575b;
@scala-dunkle-farbtoene-scala-72-09-30: #1b4d55;
@scala-dunkle-farbtoene-scala-72-12-21: #418798;
@scala-dunkle-farbtoene-scala-72-12-24: #2a7284;
@scala-dunkle-farbtoene-scala-72-12-27: #105868;
@scala-dunkle-farbtoene-scala-72-12-30: #004656;
@scala-dunkle-farbtoene-scala-72-15-21: #2b8e8f;
@scala-dunkle-farbtoene-scala-72-15-24: #197277;
@scala-dunkle-farbtoene-scala-72-15-27: #0d5d66;
@scala-dunkle-farbtoene-scala-72-15-30: #0d4951;
@scala-dunkle-farbtoene-scala-72-18-21: #009591;
@scala-dunkle-farbtoene-scala-72-18-24: #007879;
@scala-dunkle-farbtoene-scala-72-18-27: #005f67;
@scala-dunkle-farbtoene-scala-72-21-21: #00898e;
@scala-dunkle-farbtoene-scala-72-21-24: #007a81;
@scala-dunkle-farbtoene-scala-75-03-21: #7b807e;
@scala-dunkle-farbtoene-scala-75-03-24: #6d706e;
@scala-dunkle-farbtoene-scala-75-03-27: #535756;
@scala-dunkle-farbtoene-scala-75-06-21: #76817f;
@scala-dunkle-farbtoene-scala-75-06-24: #5e6968;
@scala-dunkle-farbtoene-scala-75-06-27: #475152;
@scala-dunkle-farbtoene-scala-75-09-21: #6e837e;
@scala-dunkle-farbtoene-scala-75-09-24: #566a66;
@scala-dunkle-farbtoene-scala-75-09-27: #2d4744;
@scala-dunkle-farbtoene-scala-75-09-30: #223532;
@scala-dunkle-farbtoene-scala-75-12-21: #5e8987;
@scala-dunkle-farbtoene-scala-75-12-24: #496f6e;
@scala-dunkle-farbtoene-scala-75-12-27: #214b4a;
@scala-dunkle-farbtoene-scala-75-15-21: #4c8880;
@scala-dunkle-farbtoene-scala-75-15-24: #456f69;
@scala-dunkle-farbtoene-scala-75-15-27: #2f5554;
@scala-dunkle-farbtoene-scala-75-18-21: #009788;
@scala-dunkle-farbtoene-scala-75-18-24: #007a72;
@scala-dunkle-farbtoene-scala-75-18-27: #00605a;
@scala-dunkle-farbtoene-scala-75-21-24: #006f5e;
@scala-dunkle-farbtoene-scala-78-01-21: #757978;
@scala-dunkle-farbtoene-scala-78-01-24: #626665;
@scala-dunkle-farbtoene-scala-78-01-27: #4f5252;
@scala-dunkle-farbtoene-scala-78-01-30: #434645;
@scala-dunkle-farbtoene-scala-78-01-33: #303534;
@scala-dunkle-farbtoene-scala-78-03-21: #6d8078;
@scala-dunkle-farbtoene-scala-78-03-24: #55655f;
@scala-dunkle-farbtoene-scala-78-03-27: #3b4f4d;
@scala-dunkle-farbtoene-scala-78-03-30: #3b4745;
@scala-dunkle-farbtoene-scala-78-06-21: #488a6e;
@scala-dunkle-farbtoene-scala-78-06-24: #417763;
@scala-dunkle-farbtoene-scala-78-06-27: #38594b;
@scala-dunkle-farbtoene-scala-78-06-30: #284438;
@scala-dunkle-farbtoene-scala-78-09-21: #5a8671;
@scala-dunkle-farbtoene-scala-78-09-24: #476e5d;
@scala-dunkle-farbtoene-scala-78-12-21: #00947e;
@scala-dunkle-farbtoene-scala-78-12-24: #007764;
@scala-dunkle-farbtoene-scala-78-12-27: #006152;
@scala-dunkle-farbtoene-scala-78-15-21: #478e78;
@scala-dunkle-farbtoene-scala-78-15-24: #2c705d;
@scala-dunkle-farbtoene-scala-78-15-27: #19584d;
@scala-dunkle-farbtoene-scala-78-18-21: #009673;
@scala-dunkle-farbtoene-scala-78-18-24: #007c59;
@scala-dunkle-farbtoene-scala-81-03-21: #757d77;
@scala-dunkle-farbtoene-scala-81-03-24: #626b66;
@scala-dunkle-farbtoene-scala-81-03-27: #48534f;
@scala-dunkle-farbtoene-scala-81-03-30: #383f3d;
@scala-dunkle-farbtoene-scala-81-03-33: #222e2e;
@scala-dunkle-farbtoene-scala-81-06-21: #6e7d6d;
@scala-dunkle-farbtoene-scala-81-06-24: #536353;
@scala-dunkle-farbtoene-scala-81-06-27: #475147;
@scala-dunkle-farbtoene-scala-81-06-30: #323f37;
@scala-dunkle-farbtoene-scala-81-06-33: #2a3731;
@scala-dunkle-farbtoene-scala-81-09-21: #638269;
@scala-dunkle-farbtoene-scala-81-09-24: #47654f;
@scala-dunkle-farbtoene-scala-81-09-27: #395443;
@scala-dunkle-farbtoene-scala-81-09-30: #21493c;
@scala-dunkle-farbtoene-scala-81-12-21: #708b6b;
@scala-dunkle-farbtoene-scala-81-12-24: #53674f;
@scala-dunkle-farbtoene-scala-81-12-27: #3d523e;
@scala-dunkle-farbtoene-scala-81-12-30: #34473b;
@scala-dunkle-farbtoene-scala-81-12-33: #353c31;
@scala-dunkle-farbtoene-scala-81-15-21: #109360;
@scala-dunkle-farbtoene-scala-81-15-24: #008655;
@scala-dunkle-farbtoene-scala-81-15-27: #278256;
@scala-dunkle-farbtoene-scala-81-15-30: #006c50;
@scala-dunkle-farbtoene-scala-81-18-21: #00934c;
@scala-dunkle-farbtoene-scala-81-18-24: #00784c;
@scala-dunkle-farbtoene-scala-81-18-27: #007141;
@scala-dunkle-farbtoene-scala-81-18-30: #00613b;
@scala-dunkle-farbtoene-scala-81-18-33: #06573f;
@scala-dunkle-farbtoene-scala-84-03-24: #808078;
@scala-dunkle-farbtoene-scala-84-06-21: #8e977f;
@scala-dunkle-farbtoene-scala-84-06-24: #808477;
@scala-dunkle-farbtoene-scala-84-06-25: #6c7163;
@scala-dunkle-farbtoene-scala-84-06-27: #5e6354;
@scala-dunkle-farbtoene-scala-84-06-30: #4b5146;
@scala-dunkle-farbtoene-scala-84-09-21: #8a9a72;
@scala-dunkle-farbtoene-scala-84-09-24: #869b7a;
@scala-dunkle-farbtoene-scala-84-09-27: #6b7f5e;
@scala-dunkle-farbtoene-scala-84-09-30: #46553e;
@scala-dunkle-farbtoene-scala-84-09-33: #3e4a3a;
@scala-dunkle-farbtoene-scala-84-12-21: #7c9e55;
@scala-dunkle-farbtoene-scala-84-12-24: #6b8555;
@scala-dunkle-farbtoene-scala-84-12-27: #5c7142;
@scala-dunkle-farbtoene-scala-84-12-30: #3c5533;
@scala-dunkle-farbtoene-scala-84-15-21: #6d9f42;
@scala-dunkle-farbtoene-scala-84-15-24: #5e823d;
@scala-dunkle-farbtoene-scala-84-15-27: #4d7340;
@scala-dunkle-farbtoene-scala-84-15-30: #396038;
@scala-dunkle-farbtoene-scala-84-18-21: #5aa84e;
@scala-dunkle-farbtoene-scala-84-18-24: #578246;
@scala-dunkle-farbtoene-scala-84-18-27: #3b6c40;
@scala-dunkle-farbtoene-scala-84-21-21: #72a428;
@scala-dunkle-farbtoene-scala-84-21-24: #5b9b42;
@scala-dunkle-farbtoene-scala-84-21-27: #2d8d33;
@scala-dunkle-farbtoene-scala-84-21-30: #0f7038;
@scala-dunkle-farbtoene-scala-87-03-21: #7c7e74;
@scala-dunkle-farbtoene-scala-87-03-24: #66675d;
@scala-dunkle-farbtoene-scala-87-03-27: #54554d;
@scala-dunkle-farbtoene-scala-87-03-30: #42443e;
@scala-dunkle-farbtoene-scala-87-06-21: #7c7f6d;
@scala-dunkle-farbtoene-scala-87-06-24: #5f6350;
@scala-dunkle-farbtoene-scala-87-09-21: #79815b;
@scala-dunkle-farbtoene-scala-87-09-24: #606643;
@scala-dunkle-farbtoene-scala-87-09-27: #4b553c;
@scala-dunkle-farbtoene-scala-87-12-21: #727e48;
@scala-dunkle-farbtoene-scala-87-12-24: #5f683c;
@scala-dunkle-farbtoene-scala-87-12-27: #43512c;
@scala-dunkle-farbtoene-scala-87-15-21: #7a8b28;
@scala-dunkle-farbtoene-scala-90-03-19: #98978b;
@scala-dunkle-farbtoene-scala-90-03-21: #78776a;
@scala-dunkle-farbtoene-scala-90-03-24: #60645c;
@scala-dunkle-farbtoene-scala-90-03-27: #5a5e5a;
@scala-dunkle-farbtoene-scala-90-03-30: #52514d;
@scala-dunkle-farbtoene-scala-90-06-21: #7f7d68;
@scala-dunkle-farbtoene-scala-90-06-24: #646350;
@scala-dunkle-farbtoene-scala-90-06-27: #4f5042;
@scala-dunkle-farbtoene-scala-90-06-30: #46463e;
@scala-dunkle-farbtoene-scala-90-06-33: #3f3e36;
@scala-dunkle-farbtoene-scala-90-09-21: #827e56;
@scala-dunkle-farbtoene-scala-90-09-24: #666542;
@scala-dunkle-farbtoene-scala-90-09-27: #535843;
@scala-dunkle-farbtoene-scala-90-12-21: #7e7c2d;
@scala-dunkle-farbtoene-scala-90-12-24: #676733;
@scala-dunkle-farbtoene-scala-93-03-21: #908971;
@scala-dunkle-farbtoene-scala-93-03-24: #827c69;
@scala-dunkle-farbtoene-scala-93-03-27: #635e4d;
@scala-dunkle-farbtoene-scala-93-03-30: #534f41;
@scala-dunkle-farbtoene-scala-93-03-33: #48433d;
@scala-dunkle-farbtoene-scala-93-06-21: #b8b093;
@scala-dunkle-farbtoene-scala-93-06-24: #96927a;
@scala-dunkle-farbtoene-scala-93-06-27: #7a775c;
@scala-dunkle-farbtoene-scala-93-06-30: #696756;
@scala-dunkle-farbtoene-scala-93-06-33: #565547;
@scala-dunkle-farbtoene-scala-93-09-21: #b5ac7a;
@scala-dunkle-farbtoene-scala-93-09-24: #9e9666;
@scala-dunkle-farbtoene-scala-93-09-27: #877e51;
@scala-dunkle-farbtoene-scala-93-09-30: #68613e;
@scala-dunkle-farbtoene-scala-93-09-33: #534e34;
@scala-dunkle-farbtoene-scala-93-12-21: #b8ac68;
@scala-dunkle-farbtoene-scala-93-12-24: #988e4b;
@scala-dunkle-farbtoene-scala-93-12-27: #847a3c;
@scala-dunkle-farbtoene-scala-93-15-21: #bcaf30;
@scala-dunkle-farbtoene-scala-93-15-24: #a29226;
@scala-dunkle-farbtoene-scala-96-09-21: #867b50;
@scala-dunkle-farbtoene-scala-96-09-24: #6e6540;
@scala-dunkle-farbtoene-scala-96-12-21: #86773d;
@scala-dunkle-farbtoene-scala-99-00-39: #7a7c7d;
@scala-dunkle-farbtoene-scala-99-00-42: #737576;
@scala-dunkle-farbtoene-scala-99-00-45: #696a6b;
@scala-dunkle-farbtoene-scala-99-00-48: #5f6063;
@scala-dunkle-farbtoene-scala-99-00-51: #56575b;
@scala-dunkle-farbtoene-scala-99-00-54: #4d4d50;
@scala-dunkle-farbtoene-scala-99-00-57: #47474a;
@scala-dunkle-farbtoene-scala-99-00-60: #3f3f43;
@scala-dunkle-farbtoene-scala-99-00-63: #393a3c;
@scala-dunkle-farbtoene-scala-99-00-66: #363637;
@scala-dunkle-farbtoene-scala-99-00-69: #171819;