// flamant-colour-chart-special-edition
@flamant-colour-chart-special-edition-204-ginger: #bfb09f;
@flamant-colour-chart-special-edition-205-muscade: #9d8d8a;
@flamant-colour-chart-special-edition-206-cumin: #c7aa67;
@flamant-colour-chart-special-edition-203-salvia: #bbccdb;
@flamant-colour-chart-special-edition-202-pesto: #a9ae6d;
@flamant-colour-chart-special-edition-207-violetta: #bfa4b3;
@flamant-colour-chart-special-edition-208-pavot: #927e89;