// flamant
@flamant-122-tennis-white: #f5f7f0;
@flamant-131-cotton-grey: #ebedeb;
@flamant-121-grey-pepper: #e8e6dd;
@flamant-105-castle-white: #ece9e0;
@flamant-106-old-church-white: #e8e0d2;
@flamant-120-voile: #f2f2e9;
@flamant-124-melting-snow: #e2dfce;
@flamant-123-most-white: #eff0ec;
@flamant-119-cool-ashes: #e4e4de;
@flamant-132-chalk-grey: #d9d7cb;
@flamant-se-315-perle: #cfcfc5;
@flamant-p02-craie: #d8d0bf;
@flamant-p04-wall-white: #c9bfa8;
@flamant-p03-vanille: #e8e2cb;
@flamant-se-316-amande: #e1d3b9;
@flamant-p05-blanc-des-dunes: #ddd7c4;
@flamant-se-313-ficelle: #d0c3a9;
@flamant-p08-pierre-de-france: #cfbb97;
@flamant-p09-biscuit: #c3b08e;
@flamant-p06-old-white: #c7c0ac;
@flamant-p13-dauphine: #917e68;
@flamant-p11-bord-de-seine: #b4a38d;
@flamant-p12-cappuccino: #beb197;
@flamant-se-317-artichaut: #998a71;
@flamant-p14-taupe: #8e8074;
@flamant-p15-gris-souris: #958673;
@flamant-p16-fin-de-siecle: #7d7465;
@flamant-153-potatoes: #7c7164;
@flamant-se-322-smoke: #b1b0a9;
@flamant-p17-blanc-de-bierges: #c9c3b0;
@flamant-p25-mistral: #bfb5a4;
@flamant-p27-poussiere: #aba38d;
@flamant-p21-cathedrale: #b2ad9e;
@flamant-p23-city: #bab8a7;
@flamant-se-311-mineral: #8c8c89;
@flamant-p26-gris-nuages: #ada898;
@flamant-p20-passe-partout: #aeb0a3;
@flamant-p19-after-rain: #b2b4ae;
@flamant-p28-zinc: #918e81;
@flamant-p29-paves-du-nord: #777b7c;
@flamant-p30-bleu-gris: #778186;
@flamant-p32-canon-de-fusil: #666a6a;
@flamant-p31-grey-flanel: #626a6c;
@flamant-p81-aqua: #b9beb5;
@flamant-p84-medicis-blue: #a1b5b0;
@flamant-p87-belle-ile-en-mer: #b4c3c8;
@flamant-p86-bleu-cap-ferrat: #a0b8c5;
@flamant-p89-ciel-dostende: #899d9d;
@flamant-p90-chinese-blue: #6c8d9e;
@flamant-150-les-flots-bleus: #657581;
@flamant-p92-bleu-deauville: #667f86;
@flamant-se-312-abysse: #545a68;
@flamant-151-copenhagen-blue: #8899b4;
@flamant-se-308-myrtille: #6c7c97;
@flamant-p96-black-tie: #454749;
@flamant-p94-blue-jeans: #4a5964;
@flamant-152-bleu-de-toi: #414550;
@flamant-p65-menthe: #c4bca1;
@flamant-p67-beauvais-green: #b1ac90;
@flamant-se-309-pastis: #b3b597;
@flamant-p73-campagne: #a59e7f;
@flamant-p71-tilleul: #8e9e85;
@flamant-p22-pigeon: #a1a697;
@flamant-p69-lake-green: #989a82;
@flamant-p75-olive: #8e8d71;
@flamant-p76-kaki: #75715a;
@flamant-p77-vert-verger: #76846a;
@flamant-p78-vert-de-gris: #878d7f;
@flamant-159-iode: #bbcac4;
@flamant-p24-castle-grey: #8a938a;
@flamant-se-323-vert-anglais: #52685a;
@flamant-p79-polo-green: #424e47;
@flamant-164-chou-blanc: #e6e1ca;
@flamant-p07-cream: #e0cfaa;
@flamant-p56-panama: #d6b37b;
@flamant-p55-houblon: #dab67e;
@flamant-p58-gres-de-flandre: #ccb281;
@flamant-p59-sahara: #ceaf78;
@flamant-p36-savane: #c3986c;
@flamant-p62-indian-summer: #bf916a;
@flamant-p34-dalle-industrielle: #d2af8c;
@flamant-p33-terre-de-picardie: #c19e80;
@flamant-p38-sienna: #b87e6e;
@flamant-p35-vieux-rose: #c8977f;
@flamant-p37-sierra-leone: #b27f73;
@flamant-p42-briques-de-bruges: #a86e63;
@flamant-se-320-coquille: #f4ecd5;
@flamant-p49-noordzeestrand: #e7d6b1;
@flamant-154-petit-beurre: #e9cd9d;
@flamant-p52-sable: #f3d9a7;
@flamant-p53-the-citron: #d9c08f;
@flamant-p57-soleil-de-provence: #dcb577;
@flamant-p54-canotier: #e8c781;
@flamant-p60-dunes: #c6a06c;
@flamant-se-318-coco: #896f4e;
@flamant-p64-caramel: #795f47;
@flamant-se-321-pompei: #644f4d;
@flamant-p63-havanna-smoke: #6f534a;
@flamant-se-307-praline: #69564e;
@flamant-p48-aubergine: #625658;
@flamant-p47-chocolat: #514847;
@flamant-hc-155-baton-rouge: #a94947;
@flamant-hc-156-rouge-baiser: #a14743;
@flamant-hc-157-lipstick: #964647;
@flamant-se-305-rouge-castille: #7e4446;
@flamant-se-302-prunes: #5b4146;
@flamant-se-303-glycine: #a7a1af;
@flamant-se-304-grand-cru: #6a4147;
@flamant-p43-digue: #b3a9a2;
@flamant-p44-moyen-ape: #8c7672;
@flamant-p45-sang-de-boeuf: #745151;
@flamant-p41-monseigneur: #7a504a;
@flamant-p39-balmoral-red: #985550;
@flamant-p40-terracotta: #9d664f;
@flamant-se-319-tango: #c57f59;
@flamant-p98-black: #404041;
@flamant-se-310-corail: #d8675e;
@flamant-163-venise: #7b7188;
@flamant-161-cherry-blossom: #c7919d;
@flamant-158-clic-clac: #b2969f;
@flamant-160-orage: #a7b5b1;
@flamant-162-lichen: #cdcfbf;