// marabu-tx
@marabu-tx-marabu-std-20: #e6df15;
@marabu-tx-marabu-std-21: #fea700;
@marabu-tx-marabu-std-23: #ed571e;
@marabu-tx-marabu-std-36: #ce332d;
@marabu-tx-marabu-std-32: #a82534;
@marabu-tx-marabu-std-59: #007caf;
@marabu-tx-marabu-std-57: #035281;
@marabu-tx-marabu-std-62: #009f49;
@marabu-tx-marabu-std-68: #00674f;
@marabu-tx-marabu-std-45: #453b33;
@marabu-tx-marabu-std-73: #383736;
@marabu-tx-marabu-std-170: #ebebef;
@marabu-tx-marabu-euro-429: #f8c800;
@marabu-tx-marabu-euro-439: #c73a60;
@marabu-tx-marabu-euro-459: #0084a7;
@marabu-tx-marabu-textil-deckwei-tx-170: #eef0ec;
@marabu-tx-marabu-texaplast-txp-20: #efdb00;
@marabu-tx-marabu-texaplast-txp-21: #ffad01;
@marabu-tx-marabu-texaplast-txp-23: #ea662b;
@marabu-tx-marabu-texaplast-txp-36: #ca3c2d;
@marabu-tx-marabu-texaplast-txp-32: #b12c46;
@marabu-tx-marabu-texaplast-txp-59: #007baf;
@marabu-tx-marabu-texaplast-txp-57: #09487d;
@marabu-tx-marabu-texaplast-txp-62: #00ac60;
@marabu-tx-marabu-texaplast-txp-68: #008255;
@marabu-tx-marabu-texaplast-txp-45: #4a3e35;
@marabu-tx-marabu-texaplast-txp-73: #313132;
@marabu-tx-marabu-texaplast-txp-170: #f6f6ef;