// pigmentmix
@pigmentmix-1-1l: #f7de69;
@pigmentmix-1-3l: #f6e797;
@pigmentmix-1-10l: #f6eebf;
@pigmentmix-2-1l: #ffcf6b;
@pigmentmix-2-3l: #fde29b;
@pigmentmix-2-10l: #f6e8ba;
@pigmentmix-3-1l: #ebba6b;
@pigmentmix-3-3l: #f5d397;
@pigmentmix-3-10l: #f8e3b8;
@pigmentmix-4-1l: #dba767;
@pigmentmix-4-3l: #eec68c;
@pigmentmix-4-10l: #f5dbb3;
@pigmentmix-5-1l: #fbaf71;
@pigmentmix-5-3l: #fbcc9d;
@pigmentmix-5-10l: #f9e2c1;
@pigmentmix-6-1l: #f59b73;
@pigmentmix-6-3l: #f9bd9f;
@pigmentmix-6-10l: #f6dcc6;
@pigmentmix-7-1l: #ce8f6a;
@pigmentmix-7-3l: #e4b290;
@pigmentmix-7-10l: #f0cfb3;
@pigmentmix-8-1l: #c0837e;
@pigmentmix-8-3l: #daaaa7;
@pigmentmix-8-10l: #ebcac2;
@pigmentmix-9-1l: #ee826a;
@pigmentmix-9-3l: #fbaf9f;
@pigmentmix-9-10l: #fdcbbc;
@pigmentmix-10-1l: #e7767a;
@pigmentmix-10-3l: #f09398;
@pigmentmix-10-10l: #f7cac7;
@pigmentmix-11-1l: #e46d82;
@pigmentmix-11-3l: #ef99aa;
@pigmentmix-11-10l: #f3b8c3;
@pigmentmix-12-1l: #967993;
@pigmentmix-12-3l: #bea9bc;
@pigmentmix-12-10l: #dbc8d3;
@pigmentmix-13-1l: #5378a2;
@pigmentmix-13-3l: #83a5c7;
@pigmentmix-13-10l: #a4c0d6;
@pigmentmix-14-1l: #2a8dc6;
@pigmentmix-14-3l: #6bb8e1;
@pigmentmix-14-10l: #9dd0e6;
@pigmentmix-15-1l: #41a8a1;
@pigmentmix-15-3l: #7dc8c1;
@pigmentmix-15-10l: #b4e4da;
@pigmentmix-16-1l: #44b081;
@pigmentmix-16-3l: #77cba5;
@pigmentmix-16-10l: #ace3c7;
@pigmentmix-17-1l: #6eb86f;
@pigmentmix-17-3l: #a0d299;
@pigmentmix-17-10l: #c6e4c0;
@pigmentmix-18-1l: #a8bd6b;
@pigmentmix-18-3l: #c8d697;
@pigmentmix-18-10l: #dfe3b5;
@pigmentmix-19-1l: #b1a66e;
@pigmentmix-19-3l: #d7cb9c;
@pigmentmix-19-10l: #e8ddb9;
@pigmentmix-20-1l: #ad8d6a;
@pigmentmix-20-3l: #cdb18d;
@pigmentmix-20-10l: #e3ccae;
@pigmentmix-21-1l: #a57a68;
@pigmentmix-21-3l: #c69f8f;
@pigmentmix-21-10l: #dec1b2;
@pigmentmix-22-1l: #998573;
@pigmentmix-22-3l: #bda997;
@pigmentmix-22-10l: #dbcbba;
@pigmentmix-23-1l: #957b75;
@pigmentmix-23-3l: #af9790;
@pigmentmix-23-10l: #cfbbb5;
@pigmentmix-24-1l: #525558;
@pigmentmix-24-3l: #66696c;
@pigmentmix-24-10l: #9c9e9e;