// hks-k-process
@hks-k-process-01-k: #ffe380;
@hks-k-process-02-k: #fee800;
@hks-k-process-03-k: #ffed00;
@hks-k-process-04-k: #ffcc00;
@hks-k-process-05-k: #fcba00;
@hks-k-process-06-k: #f69e14;
@hks-k-process-07-k: #f07f21;
@hks-k-process-08-k: #ee7523;
@hks-k-process-10-k: #e84829;
@hks-k-process-11-k: #f5a58b;
@hks-k-process-12-k: #e63c29;
@hks-k-process-13-k: #e41c2e;
@hks-k-process-14-k: #e31c2a;
@hks-k-process-15-k: #dd1d3b;
@hks-k-process-16-k: #b62936;
@hks-k-process-17-k: #b62845;
@hks-k-process-18-k: #8b333f;
@hks-k-process-21-k: #f1929e;
@hks-k-process-22-k: #e73c38;
@hks-k-process-23-k: #e41843;
@hks-k-process-24-k: #d51b55;
@hks-k-process-25-k: #e4056a;
@hks-k-process-26-k: #c6196f;
@hks-k-process-27-k: #dc007d;
@hks-k-process-28-k: #c61f5f;
@hks-k-process-29-k: #9d257f;
@hks-k-process-31-k: #c6127e;
@hks-k-process-32-k: #d4037d;
@hks-k-process-33-k: #942880;
@hks-k-process-34-k: #6d3182;
@hks-k-process-35-k: #3e418d;
@hks-k-process-36-k: #57418c;
@hks-k-process-37-k: #5a3483;
@hks-k-process-38-k: #023d5d;
@hks-k-process-39-k: #0073b6;
@hks-k-process-40-k: #0083b4;
@hks-k-process-41-k: #0b3d64;
@hks-k-process-42-k: #104692;
@hks-k-process-43-k: #0057a0;
@hks-k-process-44-k: #006fb5;
@hks-k-process-45-k: #4c5ca1;
@hks-k-process-46-k: #008abe;
@hks-k-process-47-k: #00a0e1;
@hks-k-process-48-k: #009fd1;
@hks-k-process-49-k: #008ec3;
@hks-k-process-50-k: #00bce3;
@hks-k-process-51-k: #009ca1;
@hks-k-process-52-k: #009988;
@hks-k-process-53-k: #00ab81;
@hks-k-process-54-k: #008c59;
@hks-k-process-55-k: #00795a;
@hks-k-process-56-k: #006f53;
@hks-k-process-57-k: #008148;
@hks-k-process-58-k: #4a7a52;
@hks-k-process-59-k: #00867d;
@hks-k-process-60-k: #1ea039;
@hks-k-process-61-k: #2c5228;
@hks-k-process-62-k: #818045;
@hks-k-process-63-k: #568539;
@hks-k-process-64-k: #169937;
@hks-k-process-65-k: #66b231;
@hks-k-process-66-k: #77b72e;
@hks-k-process-67-k: #88bc2a;
@hks-k-process-68-k: #e5c200;
@hks-k-process-69-k: #ebe000;
@hks-k-process-71-k: #e7a318;
@hks-k-process-72-k: #e28722;
@hks-k-process-73-k: #bd7d1e;
@hks-k-process-74-k: #976122;
@hks-k-process-75-k: #90753b;
@hks-k-process-76-k: #5c3c27;
@hks-k-process-77-k: #704539;
@hks-k-process-78-k: #943a31;
@hks-k-process-81-k: #da532a;
@hks-k-process-82-k: #b33f28;
@hks-k-process-83-k: #8e4539;
@hks-k-process-84-k: #793a34;
@hks-k-process-88-k: #2d2c2b;
@hks-k-process-89-k: #bcb195;
@hks-k-process-90-k: #463d37;
@hks-k-process-91-k: #a5ada3;
@hks-k-process-92-k: #757c7c;
@hks-k-process-93-k: #4c5757;
@hks-k-process-95-k: #949380;
@hks-k-process-96-k: #89857a;
@hks-k-process-97-k: #3f433a;