// lgchem-lc-2000-series
@lgchem-lc-2000-series-lc-2035: #ecce2b;
@lgchem-lc-2000-series-lc-2313: #ffd148;
@lgchem-lc-2000-series-lc-2034: #ffc33c;
@lgchem-lc-2000-series-lc-2032: #f6b351;
@lgchem-lc-2000-series-lc-2203: #f8ab41;
@lgchem-lc-2000-series-lc-2018: #ff7e38;
@lgchem-lc-2000-series-lc-2017: #ff6542;
@lgchem-lc-2000-series-lc-2015: #d64942;
@lgchem-lc-2000-series-lc-2102: #c23f3e;
@lgchem-lc-2000-series-lc-2013: #ba474b;
@lgchem-lc-2000-series-lc-2012: #af464c;
@lgchem-lc-2000-series-lc-2091: #8b3b4b;
@lgchem-lc-2000-series-lc-2024: #a7d7c4;
@lgchem-lc-2000-series-lc-2022: #96d7a1;
@lgchem-lc-2000-series-lc-2047: #8ebe4d;
@lgchem-lc-2000-series-lc-2431: #5abd53;
@lgchem-lc-2000-series-lc-2045: #00944b;
@lgchem-lc-2000-series-lc-2434: #00997b;
@lgchem-lc-2000-series-lc-2044: #009762;
@lgchem-lc-2000-series-lc-2414: #00764b;
@lgchem-lc-2000-series-lc-2042: #15664e;
@lgchem-lc-2000-series-lc-2054: #00a396;
@lgchem-lc-2000-series-lc-2052: #098287;
@lgchem-lc-2000-series-lc-2534: #0093a9;
@lgchem-lc-2000-series-lc-2506: #abdae3;
@lgchem-lc-2000-series-lc-2504: #26b7d4;
@lgchem-lc-2000-series-lc-2068: #29b7d9;
@lgchem-lc-2000-series-lc-2513: #0092c1;
@lgchem-lc-2000-series-lc-2067: #0088ba;
@lgchem-lc-2000-series-lc-2055: #0778b1;
@lgchem-lc-2000-series-lc-2064: #2164a6;
@lgchem-lc-2000-series-lc-2065: #316396;
@lgchem-lc-2000-series-lc-2062: #41497a;
@lgchem-lc-2000-series-lc-2063: #48528c;
@lgchem-lc-2000-series-lc-2066: #456ba8;
@lgchem-lc-2000-series-lc-2056: #4d5c99;
@lgchem-lc-2000-series-lc-2092: #7d62a1;
@lgchem-lc-2000-series-lc-2098: #a54168;
@lgchem-lc-2000-series-lc-2095: #c34492;
@lgchem-lc-2000-series-lc-2038: #efac85;
@lgchem-lc-2000-series-lc-2236: #9b613b;
@lgchem-lc-2000-series-lc-2085: #533b36;
@lgchem-lc-2000-series-lc-2099: #f1f1f4;
@lgchem-lc-2000-series-lc-2074: #7b7c7a;
@lgchem-lc-2000-series-lc-2073: #646565;
@lgchem-lc-2000-series-lc-2072: #3b3b3d;