// oracal-serie-641
@oracal-serie-641-oracal-010-weiss: #e5eaef;
@oracal-serie-641-oracal-020-goldgelb: #f2a000;
@oracal-serie-641-oracal-019-signalgelb: #e7a100;
@oracal-serie-641-oracal-021-gelb: #febc00;
@oracal-serie-641-oracal-022-shellgelb: #ecc100;
@oracal-serie-641-oracal-025-schwefelgelb: #ebda00;
@oracal-serie-641-oracal-030-dunkelrot: #821a1d;
@oracal-serie-641-oracal-031-rot: #a80b18;
@oracal-serie-641-oracal-032-hellrot: #bb1b0f;
@oracal-serie-641-oracal-034-orange: #d24d1c;
@oracal-serie-641-oracal-036-hellrotorange: #dd6513;
@oracal-serie-641-oracal-035-pastellorange: #f36702;
@oracal-serie-641-oracal-040-violett: #5e336e;
@oracal-serie-641-oracal-043-lavendel: #7b67a7;
@oracal-serie-641-oracal-042-flieder: #b99ac0;
@oracal-serie-641-oracal-041-pink: #bb3673;
@oracal-serie-641-oracal-045-hellrosa: #e688b8;
@oracal-serie-641-oracal-050-dunkelblau: #273961;
@oracal-serie-641-oracal-049-koenigsblau: #213779;
@oracal-serie-641-oracal-086-brillantblau: #2d44a6;
@oracal-serie-641-oracal-051-enzianblau: #005283;
@oracal-serie-641-oracal-052-azurblau: #006fad;
@oracal-serie-641-oracal-053-hellblau: #0094c2;
@oracal-serie-641-oracal-056-lichtblau: #4cabd1;
@oracal-serie-641-oracal-066-tuerkisblau: #008b89;
@oracal-serie-641-oracal-054-tuerkis: #00a394;
@oracal-serie-641-oracal-055-mint: #6bd2b6;
@oracal-serie-641-oracal-060-dunkelgruen: #004029;
@oracal-serie-641-oracal-061-gruen: #007c4b;
@oracal-serie-641-oracal-062-hellgruen: #008835;
@oracal-serie-641-oracal-064-gelbgruen: #3f9300;
@oracal-serie-641-oracal-063-lindgruen: #72a427;
@oracal-serie-641-oracal-070-schwarz: #0d0e10;
@oracal-serie-641-oracal-073-dunkelgrau: #4a4b4b;
@oracal-serie-641-oracal-071-grau: #767d7c;
@oracal-serie-641-oracal-074-mittelgrau: #8d918d;
@oracal-serie-641-oracal-072-hellgrau: #c2c4c3;
@oracal-serie-641-oracal-080-braun: #412e1f;
@oracal-serie-641-oracal-083-haselnussbraun: #a75520;
@oracal-serie-641-oracal-081-hellbraun: #a5845a;
@oracal-serie-641-oracal-082-beige: #cfbd9d;
@oracal-serie-641-oracal-090-silbergrau: #8c8e8e;
@oracal-serie-641-oracal-091-gold: #957e46;
@oracal-serie-641-oracal-092-kupfer: #93602f;