// filmnormex-d-cx-intermediate-grade
@filmnormex-d-cx-intermediate-grade-d-cx-4: #dbcc53;
@filmnormex-d-cx-intermediate-grade-d-cx-24: #d4cd00;
@filmnormex-d-cx-intermediate-grade-d-cx-34: #dfa900;
@filmnormex-d-cx-intermediate-grade-d-cx-17: #e7a000;
@filmnormex-d-cx-intermediate-grade-d-cx-20-new: #df6300;
@filmnormex-d-cx-intermediate-grade-d-cx-8: #d56000;
@filmnormex-d-cx-intermediate-grade-d-cx-28: #c93f0a;
@filmnormex-d-cx-intermediate-grade-d-cx-1: #cb2200;
@filmnormex-d-cx-intermediate-grade-d-cx-41: #b51901;
@filmnormex-d-cx-intermediate-grade-d-cx-21: #b10000;
@filmnormex-d-cx-intermediate-grade-d-cx-22-new: #8d0006;
@filmnormex-d-cx-intermediate-grade-d-cx-31: #990715;
@filmnormex-d-cx-intermediate-grade-d-cx-10: #6b000b;
@filmnormex-d-cx-intermediate-grade-d-cx-18: #c72c97;
@filmnormex-d-cx-intermediate-grade-d-cx-39: #b71d71;
@filmnormex-d-cx-intermediate-grade-d-cx-30: #b2006b;
@filmnormex-d-cx-intermediate-grade-d-cx-5: #b357ae;
@filmnormex-d-cx-intermediate-grade-d-cx-48: #540765;
@filmnormex-d-cx-intermediate-grade-d-cx-47: #71b100;
@filmnormex-d-cx-intermediate-grade-d-cx-26: #008000;
@filmnormex-d-cx-intermediate-grade-d-cx-16: #007b32;
@filmnormex-d-cx-intermediate-grade-d-cx-11: #003929;
@filmnormex-d-cx-intermediate-grade-d-cx-35-new: #008c5d;
@filmnormex-d-cx-intermediate-grade-d-cx-25-new: #00b89b;
@filmnormex-d-cx-intermediate-grade-d-cx-2: #00afa5;
@filmnormex-d-cx-intermediate-grade-d-cx-7: #4eb9de;
@filmnormex-d-cx-intermediate-grade-d-cx-43: #0085c8;
@filmnormex-d-cx-intermediate-grade-d-cx-3: #0092ce;
@filmnormex-d-cx-intermediate-grade-d-cx-23: #0069bb;
@filmnormex-d-cx-intermediate-grade-d-cx-12: #023bab;
@filmnormex-d-cx-intermediate-grade-d-cx-33: #2a23a5;
@filmnormex-d-cx-intermediate-grade-d-cx-14: #893f00;
@filmnormex-d-cx-intermediate-grade-d-cx-44: #571b13;
@filmnormex-d-cx-intermediate-grade-d-cx-9: #a8b2b8;
@filmnormex-d-cx-intermediate-grade-d-cx-19: #6a6a6c;
@filmnormex-d-cx-intermediate-grade-d-cx-29: #4a473c;