// fascal800
@fascal800-fascal-867-pf-deep-purple: #6a1138;
@fascal800-fascal-802-pf-burgundy-red: #6a192b;
@fascal800-fascal-858-pf-dark-red: #8a0b1a;
@fascal800-fascal-864-pf-red: #a7221c;
@fascal800-fascal-803-pf-cherry-red: #b00d13;
@fascal800-fascal-849-pf-geranium-red: #bd041b;
@fascal800-fascal-850-pf-tomato-red: #c90b11;
@fascal800-fascal-826-pf-medium-red: #cb1b0e;
@fascal800-fascal-837-pf-bright-red: #d42100;
@fascal800-fascal-865-pf-warm-red: #e33b05;
@fascal800-fascal-848-pf-bright-orange: #f05711;
@fascal800-fascal-805-pf-orange: #ec6500;
@fascal800-fascal-866-pf-light-orange: #f76700;
@fascal800-fascal-860-pf-corn-yellow: #ffab00;
@fascal800-fascal-862-pf-signal-yellow: #f6a900;
@fascal800-fascal-856-pf-dark-yellow: #ffab00;
@fascal800-fascal-806-pf-sunflower-yellow: #ffbf00;
@fascal800-fascal-855-pf-yellow: #ffc600;
@fascal800-fascal-839-pf-bright-yellow: #ffc900;
@fascal800-fascal-807-pf-primrose-yellow: #ffe400;
@fascal800-fascal-814-pf-lime: #85ce30;
@fascal800-fascal-813-pf-grass-green: #3eaa00;
@fascal800-fascal-879-pf-bright-green: #009235;
@fascal800-fascal-812-pf-cactus-green: #009151;
@fascal800-fascal-854-pf-green: #008550;
@fascal800-fascal-834-pf-kelly-green: #007a40;
@fascal800-fascal-878-pf-leaf-green: #135612;
@fascal800-fascal-811-pf-forest-green: #004e2a;
@fascal800-fascal-824-pf-cobalt-blue: #161a41;
@fascal800-fascal-823-pf-dark-blue: #16265d;
@fascal800-fascal-853-pf-royal-blue: #1a2d71;
@fascal800-fascal-876-pf-navy-blue: #253a65;
@fascal800-fascal-847-pf-marine-blue: #123675;
@fascal800-fascal-851-pf-vivid-blue: #0f3881;
@fascal800-fascal-852-pf-sapphire-blue: #213881;
@fascal800-fascal-875-pf-standard-blue: #004a81;
@fascal800-fascal-874-pf-brilliant-blue: #1f4ca3;
@fascal800-fascal-808-pf-cosmos-blue: #00549b;
@fascal800-fascal-841-pf-scuba-blue: #0066b0;
@fascal800-fascal-869-pf-intense-blue: #0075bc;
@fascal800-fascal-809-pf-ocean-blue: #0086be;
@fascal800-fascal-877-pf-bright-blue: #009bcf;
@fascal800-fascal-832-pf-light-blue: #54afd8;
@fascal800-fascal-829-pf-mint: #76d8be;
@fascal800-fascal-842-pf-teal: #00a599;
@fascal800-fascal-831-pf-turquoise: #009597;
@fascal800-fascal-833-pf-blue: #00547d;
@fascal800-fascal-817-pf-violet: #613f89;
@fascal800-fascal-868-pf-purple: #5f356e;
@fascal800-fascal-870-pf-lavender: #816bae;
@fascal800-fascal-871-pf-lilac: #c198c5;
@fascal800-fascal-815-pf-cyclamen: #ba2969;
@fascal800-fascal-872-pf-blossom: #bf3a74;
@fascal800-fascal-873-pf-magenta: #d55d8b;
@fascal800-fascal-816-pf-pink: #f18fbb;
@fascal800-fascal-880-pf-brown: #422a21;
@fascal800-fascal-818-pf-chocolate-brown: #523425;
@fascal800-fascal-882-pf-chestnut-brown: #5f231b;
@fascal800-fascal-863-pf-dark-burgundy: #63101c;
@fascal800-fascal-883-pf-hazelnut-brown: #b15620;
@fascal800-fascal-827-pf-tan: #b3854f;
@fascal800-fascal-884-pf-dark-beige: #a5815a;
@fascal800-fascal-819-pf-beige: #e8cb9c;
@fascal800-fascal-861-pf-cream: #f7df9e;
@fascal800-fascal-857-pf-ivory: #f0dac2;
@fascal800-fascal-845-pf-mist: #c9c8c7;
@fascal800-fascal-859-pf-light-grey: #cbcbc7;
@fascal800-fascal-844-pf-dove-grey: #929590;
@fascal800-fascal-886-pf-cool-grey: #8d9093;
@fascal800-fascal-825-pf-medium-grey: #7d888e;
@fascal800-fascal-885-pf-cloud-grey: #6d706c;
@fascal800-fascal-820-pf-grey: #5e6364;
@fascal800-fascal-881-pf-dark-grey: #4c4d4c;
@fascal800-fascal-801-pf-black: #121312;
@fascal800-fascal-821-pf-black-matt: #3d3d3d;
@fascal800-fascal-800-pf-white: #fffffa;
@fascal800-fascal-830-pf-white-matt: #fefff9;
@fascal800-fascal-846-pf-grey-metallic: #434444;
@fascal800-fascal-835-pf-silver-metallic: #979899;
@fascal800-fascal-836-pf-gold-metallic: #a18c53;