// lgchem-vizuoncast-9000-translucent
@lgchem-vizuoncast-9000-translucent-lg-la9207: #aa284a;
@lgchem-vizuoncast-9000-translucent-lg-la9149: #6e1726;
@lgchem-vizuoncast-9000-translucent-lg-la9153: #9f1521;
@lgchem-vizuoncast-9000-translucent-lg-la9133: #b8171e;
@lgchem-vizuoncast-9000-translucent-lg-la9143: #c22624;
@lgchem-vizuoncast-9000-translucent-lg-la9444: #e25b31;
@lgchem-vizuoncast-9000-translucent-lg-la9445: #e46237;
@lgchem-vizuoncast-9000-translucent-lg-la9901p: #f05700;
@lgchem-vizuoncast-9000-translucent-lg-la9446: #f17e25;
@lgchem-vizuoncast-9000-translucent-lg-la9425: #f6a413;
@lgchem-vizuoncast-9000-translucent-lg-la9423: #fcaa00;
@lgchem-vizuoncast-9000-translucent-lg-la9415: #f6c200;
@lgchem-vizuoncast-9000-translucent-lg-la9402: #ead700;
@lgchem-vizuoncast-9000-translucent-lg-la9506: #76ab29;
@lgchem-vizuoncast-9000-translucent-lg-la9516: #24b246;
@lgchem-vizuoncast-9000-translucent-lg-la9572: #009a42;
@lgchem-vizuoncast-9000-translucent-lg-la9355: #009044;
@lgchem-vizuoncast-9000-translucent-lg-la9556: #117e3c;
@lgchem-vizuoncast-9000-translucent-lg-la9526: #006b28;
@lgchem-vizuoncast-9000-translucent-lg-la9576: #005029;
@lgchem-vizuoncast-9000-translucent-lg-la9585: #009679;
@lgchem-vizuoncast-9000-translucent-lg-la9502gs: #58c9c7;
@lgchem-vizuoncast-9000-translucent-lg-la9522gs: #008784;
@lgchem-vizuoncast-9000-translucent-lg-la9582: #00807e;
@lgchem-vizuoncast-9000-translucent-lg-la9637: #0089ad;
@lgchem-vizuoncast-9000-translucent-lg-la9593: #00616f;
@lgchem-vizuoncast-9000-translucent-lg-la9595: #005758;
@lgchem-vizuoncast-9000-translucent-lg-la9636: #1d79be;
@lgchem-vizuoncast-9000-translucent-lg-la9629: #0080bc;
@lgchem-vizuoncast-9000-translucent-lg-la9627: #0073af;
@lgchem-vizuoncast-9000-translucent-lg-la9667: #0065a0;
@lgchem-vizuoncast-9000-translucent-lg-la9626: #006daf;
@lgchem-vizuoncast-9000-translucent-lg-la9603: #005296;
@lgchem-vizuoncast-9000-translucent-lg-la9659: #1c4985;
@lgchem-vizuoncast-9000-translucent-lg-la9665: #144590;
@lgchem-vizuoncast-9000-translucent-lg-la96sf: #004c8a;
@lgchem-vizuoncast-9000-translucent-lg-la96ss: #034687;
@lgchem-vizuoncast-9000-translucent-lg-la9605: #153c70;
@lgchem-vizuoncast-9000-translucent-lg-la9679: #193960;
@lgchem-vizuoncast-9000-translucent-lg-la9680: #1e3963;
@lgchem-vizuoncast-9000-translucent-lg-la9683: #1b345e;
@lgchem-vizuoncast-9000-translucent-lg-la96sh: #23345d;
@lgchem-vizuoncast-9000-translucent-lg-la9677: #11315a;
@lgchem-vizuoncast-9000-translucent-lg-la9651h: #4169b0;
@lgchem-vizuoncast-9000-translucent-lg-la9654: #323a76;
@lgchem-vizuoncast-9000-translucent-lg-la9687: #302d6f;
@lgchem-vizuoncast-9000-translucent-lg-la9696: #633772;
@lgchem-vizuoncast-9000-translucent-lg-la9759: #49312d;
@lgchem-vizuoncast-9000-translucent-lg-la9405: #dfd2a9;
@lgchem-vizuoncast-9000-translucent-lg-la9327: #706f66;
@lgchem-vizuoncast-9000-translucent-lg-la9365: #787a7b;
@lgchem-vizuoncast-9000-translucent-lg-la9431: #646c6e;
@lgchem-vizuoncast-9000-translucent-lg-la9421: #b6b4af;
@lgchem-vizuoncast-9000-translucent-lg-la9351: #8b9493;
@lgchem-vizuoncast-9000-translucent-lg-la9430: #868d91;
@lgchem-vizuoncast-9000-translucent-lg-la9001t: #b28f68;
@lgchem-vizuoncast-9000-translucent-lg-la9002: #b9bbbb;
@lgchem-vizuoncast-9000-translucent-lg-la8024gs: #bbbebe;
@lgchem-vizuoncast-9000-translucent-lg-la9220: #eeefeb;
@lgchem-vizuoncast-9000-translucent-lg-la9012: #27292b;