// yosima
@yosima-ro-0: #a57464;
@yosima-ro-1: #be8e7c;
@yosima-ro-2: #d2ac9c;
@yosima-ro-3: #e0c2b0;
@yosima-ro-4: #e5d1c1;
@yosima-ge-0: #ba966c;
@yosima-ge-1: #cba97e;
@yosima-ge-2: #d5b58b;
@yosima-ge-3: #dcc39d;
@yosima-ge-4: #e8d7ba;
@yosima-gr-0: #aba586;
@yosima-gr-1: #b9b08f;
@yosima-gr-2: #c4ba9b;
@yosima-gr-3: #cdc4a7;
@yosima-gr-4: #d6ceb4;
@yosima-br-0: #987964;
@yosima-br-1: #b0947f;
@yosima-br-2: #bba18a;
@yosima-br-3: #cdb59f;
@yosima-br-4: #decebb;
@yosima-sc-0: #6b6964;
@yosima-sc-1: #918e8b;
@yosima-sc-2: #aba8a3;
@yosima-sc-3: #c6c3bc;
@yosima-sc-4: #d5cfc5;
@yosima-we-0: #f0eadc;
@yosima-roge-1-0: #a77460;
@yosima-roge-1-1: #c08f79;
@yosima-roge-1-2: #d4ad98;
@yosima-roge-1-3: #e6ceb9;
@yosima-roge-2-0: #ac7d66;
@yosima-roge-2-1: #c5997f;
@yosima-roge-2-2: #d8b59d;
@yosima-roge-2-3: #e5cbb6;
@yosima-roge-3-0: #af8568;
@yosima-roge-3-1: #c59d7f;
@yosima-roge-3-2: #d4b094;
@yosima-roge-3-3: #e0c5aa;
@yosima-roge-4-0: #b58a68;
@yosima-roge-4-1: #caa481;
@yosima-roge-4-2: #d6b594;
@yosima-roge-4-3: #e0c4a5;
@yosima-scbr-1-0: #827569;
@yosima-scbr-1-1: #9e9183;
@yosima-scbr-1-2: #b4a796;
@yosima-scbr-1-3: #cec2b4;
@yosima-scbr-2-0: #87776a;
@yosima-scbr-2-1: #9d8d7f;
@yosima-scbr-2-2: #b8a897;
@yosima-scbr-2-3: #d3c5b5;
@yosima-scbr-3-0: #8e7765;
@yosima-scbr-3-1: #a38f7d;
@yosima-scbr-3-2: #bdab99;
@yosima-scbr-3-3: #d3c4b2;
@yosima-scbr-4-0: #927863;
@yosima-scbr-4-1: #ac927b;
@yosima-scbr-4-2: #c5ad97;
@yosima-scbr-4-3: #dbc8b5;
@yosima-scge-1-0: #8a7f6b;
@yosima-scge-1-1: #a29780;
@yosima-scge-1-2: #b8ad95;
@yosima-scge-1-3: #cbc0aa;
@yosima-scge-2-0: #96866a;
@yosima-scge-2-1: #ae9d7f;
@yosima-scge-2-2: #c3b394;
@yosima-scge-2-3: #d5c6ab;
@yosima-scge-3-0: #a28e70;
@yosima-scge-3-1: #b8a281;
@yosima-scge-3-2: #c5b190;
@yosima-scge-3-3: #d6c6a8;
@yosima-scge-4-0: #a98f6b;
@yosima-scge-4-1: #bfa57f;
@yosima-scge-4-2: #ceb690;
@yosima-scge-4-3: #d9c7a7;
@yosima-brge-1-0: #9e8168;
@yosima-brge-1-1: #b6987b;
@yosima-brge-1-2: #caaf93;
@yosima-brge-1-3: #d8c1a7;
@yosima-brge-2-0: #a6896e;
@yosima-brge-2-1: #bb9e7f;
@yosima-brge-2-2: #caae8f;
@yosima-brge-2-3: #dbc4a8;
@yosima-brge-3-0: #ab8969;
@yosima-brge-3-1: #be9e7d;
@yosima-brge-3-2: #ccaf8d;
@yosima-brge-3-3: #dcc4a6;
@yosima-brge-4-0: #b28f6c;
@yosima-brge-4-1: #c4a47d;
@yosima-brge-4-2: #d1b48e;
@yosima-brge-4-3: #e0c8a6;
@yosima-grge-1-0: #aea382;
@yosima-grge-1-1: #c2b694;
@yosima-grge-1-2: #d0c6a8;
@yosima-grge-1-3: #dfd6bf;
@yosima-grge-2-0: #b4a07b;
@yosima-grge-2-1: #c4b28d;
@yosima-grge-2-2: #d7c7a6;
@yosima-grge-2-3: #ded1b4;
@yosima-grge-3-0: #b99d71;
@yosima-grge-3-1: #c9b28a;
@yosima-grge-3-2: #d8c5a2;
@yosima-grge-3-3: #e1d2b3;
@yosima-grge-4-0: #b8996e;
@yosima-grge-4-1: #c5aa7f;
@yosima-grge-4-2: #d5bc96;
@yosima-grge-4-3: #e0ceac;
@yosima-scge-1-0: #8a897c;
@yosima-scge-1-1: #a19e90;
@yosima-scge-1-2: #b3b0a0;
@yosima-scge-1-3: #d2cebe;
@yosima-scge-2-0: #939180;
@yosima-scge-2-1: #aca997;
@yosima-scge-2-2: #c2bdab;
@yosima-scge-2-3: #d7d2c0;
@yosima-scge-3-0: #999782;
@yosima-scge-3-1: #b2ae98;
@yosima-scge-3-2: #c5c0a9;
@yosima-scge-3-3: #dad4c1;
@yosima-scge-4-0: #a29e85;
@yosima-scge-4-1: #b8b399;
@yosima-scge-4-2: #cac4ab;
@yosima-scge-4-3: #d9d3bf;
@yosima-scro-1-0: #a18e84;
@yosima-scro-1-1: #9f8c81;
@yosima-scro-1-2: #c0aea3;
@yosima-scro-1-3: #daccbe;
@yosima-scro-2-0: #886f64;
@yosima-scro-2-1: #a4897d;
@yosima-scro-2-2: #c7b0a3;
@yosima-scro-2-3: #d9c8bc;
@yosima-scro-3-0: #906d5f;
@yosima-scro-3-1: #a17f71;
@yosima-scro-3-2: #caaea0;
@yosima-scro-3-3: #dbc6b8;
@yosima-scro-4-0: #966c5d;
@yosima-scro-4-1: #af8575;
@yosima-scro-4-2: #caa796;
@yosima-scro-4-3: #ddc3b5;