// farrow-ball
@farrow-ball-all-white-2005: #faf9ef;
@farrow-ball-pointing-2003: #f9f3e3;
@farrow-ball-james-white-2010: #ece9d7;
@farrow-ball-white-tie-2002: #f2ead6;
@farrow-ball-clunch-2009: #e5dcc8;
@farrow-ball-blackened-2011: #dfdfdb;
@farrow-ball-tallow-203: #f5ead2;
@farrow-ball-dimity-2008: #ece2d2;
@farrow-ball-great-white-2006: #e6e1dc;
@farrow-ball-strong-white-2001: #e9e7dd;
@farrow-ball-slipper-satin-2004: #eae4d3;
@farrow-ball-shaded-white-201: #dad4c2;
@farrow-ball-new-white-59: #f4e9d0;
@farrow-ball-lime-white-1: #e9dfc9;
@farrow-ball-ringworld-ground-208: #efe0c5;
@farrow-ball-matchstick-2013: #e6d8be;
@farrow-ball-house-white-2012: #f2e7c9;
@farrow-ball-off-white-3: #e0d6c0;
@farrow-ball-string-8: #dcceb0;
@farrow-ball-savage-ground-213: #d7c5a9;
@farrow-ball-cord-16: #d6c39f;
@farrow-ball-cream-44: #e3cea7;
@farrow-ball-hay-37: #d8c194;
@farrow-ball-light-stone-9: #d1c1a0;
@farrow-ball-joas-white-226: #e2d4be;
@farrow-ball-archive-227: #decbb3;
@farrow-ball-stony-ground-211: #cdc2ad;
@farrow-ball-cornforth-white-228: #d4cfc7;
@farrow-ball-elephants-breath-229: #cdc3b7;
@farrow-ball-lamp-room-gray-88: #b7b6ae;
@farrow-ball-light-blue-22: #b9beb5;
@farrow-ball-hardwick-white-5: #b6b1a1;
@farrow-ball-blue-gray-91: #b5b7a7;
@farrow-ball-french-gray-18: #b4b19a;
@farrow-ball-pigeon-25: #9fa195;
@farrow-ball-card-room-green-79: #899081;
@farrow-ball-old-white-4: #cdc3ad;
@farrow-ball-bone-15: #cdc4ae;
@farrow-ball-fawn-10: #ccbfa5;
@farrow-ball-biscuit-38: #bca783;
@farrow-ball-light-gray-17: #b2a894;
@farrow-ball-mouses-back-40: #968975;
@farrow-ball-smoked-trout-60: #bea895;
@farrow-ball-dead-salmon-28: #b09b8c;
@farrow-ball-london-stone-6: #b2a18d;
@farrow-ball-buff-20: #b59e82;
@farrow-ball-drab-41: #9b8a6f;
@farrow-ball-dauphin-54: #928069;
@farrow-ball-pink-ground-202: #ecd8ca;
@farrow-ball-calamine-230: #e8d6d1;
@farrow-ball-setting-plaster-231: #dbc2b0;
@farrow-ball-dutch-pink-62: #d5b08a;
@farrow-ball-entrance-hall-pink-61: #c39e80;
@farrow-ball-flower-pink-39: #d6a787;
@farrow-ball-pintment-pink-21: #c7997e;
@farrow-ball-red-earth-64: #bb7b69;
@farrow-ball-porphyry-pink-49: #b17b6c;
@farrow-ball-fox-red-48: #a8725d;
@farrow-ball-loggia-232: #aa6d5b;
@farrow-ball-blazer-212: #ac514c;
@farrow-ball-book-room-red-50: #a3695b;
@farrow-ball-picture-gallery-red-42: #975b4f;
@farrow-ball-rectory-red-217: #99434c;
@farrow-ball-radiocchio-96: #8f4a51;
@farrow-ball-etruscan-red-56: #7e534a;
@farrow-ball-eating-room-red-43: #864e4f;
@farrow-ball-pale-hound-71: #e6ddb8;
@farrow-ball-hound-lemon-2: #e2d2a4;
@farrow-ball-farrows-cream-67: #e8d4b0;
@farrow-ball-dayroom-yellow-233: #f2dc9e;
@farrow-ball-dorset-cream-68: #eacfa2;
@farrow-ball-gervase-yellow-72: #dcc98f;
@farrow-ball-yellow-ground-218: #efca89;
@farrow-ball-citron-74: #eecc81;
@farrow-ball-ciara-yellow-73: #e1c17e;
@farrow-ball-straw-52: #d7b37e;
@farrow-ball-print-room-yellow-69: #dbb678;
@farrow-ball-babouche-223: #eabe67;
@farrow-ball-sudbury-yellow-51: #d9b475;
@farrow-ball-octagon-yellow-7: #d1ae72;
@farrow-ball-orangery-70: #e0ae6c;
@farrow-ball-india-yellow-66: #c09759;
@farrow-ball-cane-53: #caa26c;
@farrow-ball-sand-45: #ba9166;
@farrow-ball-green-ground-206: #dbd8b6;
@farrow-ball-cooking-apple-green-32: #c4c3a2;
@farrow-ball-vert-de-terre-243: #babca4;
@farrow-ball-ball-green-75: #bab393;
@farrow-ball-stone-white-11: #b3ac8c;
@farrow-ball-green-stone-12: #a59c78;
@farrow-ball-lichen-19: #9e9f87;
@farrow-ball-olive-13: #8b896b;
@farrow-ball-sutcliffe-green-78: #899677;
@farrow-ball-pea-green-33: #849779;
@farrow-ball-calke-green-34: #77866a;
@farrow-ball-minster-green-224: #586552;
@farrow-ball-powder-blue-23: #acbdb4;
@farrow-ball-chappell-green-83: #93a595;
@farrow-ball-saxon-green-80: #99a680;
@farrow-ball-folly-green-76: #95aa86;
@farrow-ball-breakfast-room-green-81: #94a588;
@farrow-ball-arsenic-214: #88b49b;
@farrow-ball-pale-powder-204: #dde1d5;
@farrow-ball-borrowed-light-235: #d8dfdc;
@farrow-ball-skylight-205: #c6ccc7;
@farrow-ball-teresas-green-236: #c2cfc2;
@farrow-ball-green-blue-84: #aebdb1;
@farrow-ball-castle-gray-92: #8d988c;
@farrow-ball-blue-ground-210: #a7c9c8;
@farrow-ball-dix-blue-82: #9ab1ab;
@farrow-ball-ballroom-blue-24: #8faba7;
@farrow-ball-sugar-bag-light-29: #81a09a;
@farrow-ball-oval-room-blue-85: #8b9d9b;
@farrow-ball-berrington-blue-14: #7e9495;
@farrow-ball-parma-gray-27: #b1c0c2;
@farrow-ball-lulworth-blue-89: #a2b8c7;
@farrow-ball-stone-blue-86: #77989f;
@farrow-ball-chinese-blue-90: #6f96a6;
@farrow-ball-cooks-blue-90: #6f94b3;
@farrow-ball-pitch-blue-220: #61718e;
@farrow-ball-wainscot-55: #7e634e;
@farrow-ball-down-pipe-26: #626665;
@farrow-ball-hague-blue-30: #3e4e56;
@farrow-ball-brinjal-222: #5a4348;
@farrow-ball-mahogany-36: #524947;
@farrow-ball-off-black-57: #424548;
@farrow-ball-green-smoke-47: #717b70;
@farrow-ball-monkey-puzzle-238: #4b5853;
@farrow-ball-caggiage-green-94: #434c47;
@farrow-ball-railings-31: #43474a;
@farrow-ball-studio-green-93: #474d4a;
@farrow-ball-black-blue-95: #3d4345;