// lgchem-la-9000-series
@lgchem-la-9000-series-la-9153: #991b23;
@lgchem-la-9000-series-la-9133: #be2c28;
@lgchem-la-9000-series-la-9143: #bc2019;
@lgchem-la-9000-series-la-9444: #d95b33;
@lgchem-la-9000-series-la-9445: #db5f36;
@lgchem-la-9000-series-la-9446: #ea7e29;
@lgchem-la-9000-series-la-9207: #a72447;
@lgchem-la-9000-series-la-9178: #c0375b;
@lgchem-la-9000-series-la-9219: #c02462;
@lgchem-la-9000-series-la-9168: #d97691;
@lgchem-la-9000-series-la-9423: #faa900;
@lgchem-la-9000-series-la-9425: #f0a61c;
@lgchem-la-9000-series-la-9415: #f0c000;
@lgchem-la-9000-series-la-9435: #dbcf1f;
@lgchem-la-9000-series-la-9506: #7dad2d;
@lgchem-la-9000-series-la-9536: #66b641;
@lgchem-la-9000-series-la-9556: #188141;
@lgchem-la-9000-series-la-9355: #009548;
@lgchem-la-9000-series-la-9526: #007b2d;
@lgchem-la-9000-series-la-9576: #005d31;
@lgchem-la-9000-series-la-9528: #00935d;
@lgchem-la-9000-series-la-9546: #009d66;
@lgchem-la-9000-series-la-9584: #009478;
@lgchem-la-9000-series-la-9585: #009072;
@lgchem-la-9000-series-la-9566: #00887e;
@lgchem-la-9000-series-la-9587: #00746f;
@lgchem-la-9000-series-la-9586: #00837d;
@lgchem-la-9000-series-la-9589: #00565d;
@lgchem-la-9000-series-la-9657: #008cb4;
@lgchem-la-9000-series-la-9647: #0087b2;
@lgchem-la-9000-series-la-9627: #0074af;
@lgchem-la-9000-series-la-9667: #0066a0;
@lgchem-la-9000-series-la-9659: #194683;
@lgchem-la-9000-series-la-9274: #37367f;
@lgchem-la-9000-series-la-9687: #2c2e79;
@lgchem-la-9000-series-la-9677: #00315e;
@lgchem-la-9000-series-la-9617: #8099bc;
@lgchem-la-9000-series-la-9613: #82a8a7;
@lgchem-la-9000-series-la-9759: #4a3634;
@lgchem-la-9000-series-la-9709: #732f28;
@lgchem-la-9000-series-la-9729: #ca8358;
@lgchem-la-9000-series-la-9431: #656d71;
@lgchem-la-9000-series-la-9361: #6b767f;
@lgchem-la-9000-series-la-9430: #868c90;
@lgchem-la-9000-series-la-9351: #8d9697;
@lgchem-la-9000-series-la-9421: #b5b4b2;
@lgchem-la-9000-series-la-9220: #ecedea;
@lgchem-la-9000-series-la-9012: #252729;
@lgchem-la-9000-series-la-9371: #938b86;
@lgchem-la-9000-series-la-9405: #ddd3ae;
@lgchem-la-9000-series-la-9696: #633873;