// lgchem-lc-3000-series
@lgchem-lc-3000-series-lc-3065: #d76792;
@lgchem-lc-3000-series-lc-3064: #c95481;
@lgchem-lc-3000-series-lc-3063: #b02f60;
@lgchem-lc-3000-series-lc-3011: #a10d1c;
@lgchem-lc-3000-series-lc-3013: #ba1d19;
@lgchem-lc-3000-series-lc-3012: #c73123;
@lgchem-lc-3000-series-lc-3021: #da4400;
@lgchem-lc-3000-series-lc-3022: #f87429;
@lgchem-lc-3000-series-lc-3031: #feb905;
@lgchem-lc-3000-series-lc-3032: #ffcb00;
@lgchem-lc-3000-series-lc-3034: #ecc300;
@lgchem-lc-3000-series-lc-3033: #f7db80;
@lgchem-lc-3000-series-lc-3043: #007f81;
@lgchem-lc-3000-series-lc-3042: #7daa00;
@lgchem-lc-3000-series-lc-3045: #228b27;
@lgchem-lc-3000-series-lc-3044: #005a2a;
@lgchem-lc-3000-series-lc-3046: #004b2c;
@lgchem-lc-3000-series-lc-3050: #0e2238;
@lgchem-lc-3000-series-lc-3052: #232661;
@lgchem-lc-3000-series-lc-3051: #1b3c67;
@lgchem-lc-3000-series-lc-3057: #003880;
@lgchem-lc-3000-series-lc-3053: #0d4e99;
@lgchem-lc-3000-series-lc-3049: #043982;
@lgchem-lc-3000-series-lc-3154: #005088;
@lgchem-lc-3000-series-lc-3056: #0066aa;
@lgchem-lc-3000-series-lc-3058: #008ebe;
@lgchem-lc-3000-series-lc-3055: #0079b7;
@lgchem-lc-3000-series-lc-3054: #0094c2;
@lgchem-lc-3000-series-lc-3059: #46b3d3;
@lgchem-lc-3000-series-lc-3062: #602c60;
@lgchem-lc-3000-series-lc-3060: #433072;
@lgchem-lc-3000-series-lc-3061: #7d3b70;
@lgchem-lc-3000-series-lc-3029: #470f1a;
@lgchem-lc-3000-series-lc-3028: #553525;
@lgchem-lc-3000-series-lc-3027: #6a3419;
@lgchem-lc-3000-series-lc-3025: #e7ca98;
@lgchem-lc-3000-series-lc-3071: #f2f5f4;
@lgchem-lc-3000-series-lc-3075: #bfbcb5;
@lgchem-lc-3000-series-lc-3079: #a4a5a7;
@lgchem-lc-3000-series-lc-3077: #636768;
@lgchem-lc-3000-series-lc-3080: #0f1013;
@lgchem-lc-3000-series-lc-gold: #8a6a3a;
@lgchem-lc-3000-series-lc-silver: #888b8b;