// trendline-collection
@trendline-collection-trendline-lumnezia-polarweiss: #f0eee6;
@trendline-collection-trendline-lumnezia-altweiss: #f7f4e7;
@trendline-collection-trendline-lumnezia-casa-ton: #f4f0e2;
@trendline-collection-trendline-lumnezia-ral-9010: #f3f1e7;
@trendline-collection-trendline-lumnezia-ncs-s0500-n: #f2f1ea;
@trendline-collection-trendline-lumnezia-ncs-0500: #f3f0e6;
@trendline-collection-trendline-lumnezia-ncs-s1000-n: #e0deda;
@trendline-collection-trendline-lumnezia-g-0200: #eceee7;
@trendline-collection-trendline-lumnezia-g-0210: #f3f1e7;
@trendline-collection-trendline-lumnezia-g-0220: #eae8de;
@trendline-collection-trendline-lumnezia-g-0230: #ece4d7;
@trendline-collection-trendline-lumnezia-g-0240: #eee5de;
@trendline-collection-trendline-lumnezia-g-0250: #f0ebe3;
@trendline-collection-trendline-lumnezia-g-0260: #dcdcd9;
@trendline-collection-trendline-lumnezia-g-0270: #f0f0e9;
@trendline-collection-trendline-lumnezia-g-0280: #eaede9;
@trendline-collection-trendline-lumnezia-g-0290: #eeebdf;
@trendline-collection-trendline-lumnezia-g-0300: #eff1e8;
@trendline-collection-trendline-lumnezia-g-0320: #eff5e8;
@trendline-collection-trendline-lumnezia-g-0330: #e7efe8;
@trendline-collection-trendline-lumnezia-g-0350: #e9ece9;
@trendline-collection-trendline-lumnezia-g-0360: #f4efd7;
@trendline-collection-trendline-lumnezia-g-0370: #f3efd7;
@trendline-collection-trendline-deserto-g-1000: #f6edd3;
@trendline-collection-trendline-deserto-g-1010: #f5eace;
@trendline-collection-trendline-deserto-g-1020: #f6eac3;
@trendline-collection-trendline-deserto-g-1030: #f5e4b5;
@trendline-collection-trendline-deserto-g-1040: #f1d59e;
@trendline-collection-trendline-deserto-g-1050: #f2debc;
@trendline-collection-trendline-deserto-g-1060: #f2d3a3;
@trendline-collection-trendline-deserto-g-1070: #f5e8d2;
@trendline-collection-trendline-deserto-g-1080: #d8b88d;
@trendline-collection-trendline-deserto-g-1090: #efe2c5;
@trendline-collection-trendline-deserto-g-1100: #e9d9bc;
@trendline-collection-trendline-deserto-g-1110: #f7daa7;
@trendline-collection-trendline-deserto-g-1120: #f2cf96;
@trendline-collection-trendline-deserto-g-1130: #e5b77a;
@trendline-collection-trendline-deserto-g-1140: #e9c598;
@trendline-collection-trendline-deserto-g-1150: #f0ba82;
@trendline-collection-trendline-deserto-g-1160: #db9b61;
@trendline-collection-trendline-deserto-g-1170: #f3ebbb;
@trendline-collection-trendline-deserto-g-1180: #eadeb0;
@trendline-collection-trendline-deserto-g-1200: #fae595;
@trendline-collection-trendline-deserto-g-1210: #f9e3ae;
@trendline-collection-trendline-deserto-g-1220: #f6f298;
@trendline-collection-trendline-deserto-g-1230: #f8ec73;
@trendline-collection-trendline-deserto-g-1240: #e8bb50;
@trendline-collection-trendline-deserto-g-1250: #d9944e;
@trendline-collection-trendline-deserto-g-1260: #c9854d;
@trendline-collection-trendline-deserto-g-1270: #c17d50;
@trendline-collection-trendline-montagna-g-2000: #c5caca;
@trendline-collection-trendline-montagna-g-2010: #b0b7bb;
@trendline-collection-trendline-montagna-g-2020: #dee2df;
@trendline-collection-trendline-montagna-g-2030: #cbcece;
@trendline-collection-trendline-montagna-g-2040: #eae9e1;
@trendline-collection-trendline-montagna-g-2050: #d2cfc8;
@trendline-collection-trendline-montagna-g-2060: #cccbcc;
@trendline-collection-trendline-montagna-g-2070: #babbbd;
@trendline-collection-trendline-montagna-g-2080: #a5a6a8;
@trendline-collection-trendline-montagna-g-2090: #8e8e93;
@trendline-collection-trendline-montagna-g-2100: #989ca0;
@trendline-collection-trendline-montagna-g-2110: #83888d;
@trendline-collection-trendline-montagna-g-2120: #d6d8d6;
@trendline-collection-trendline-montagna-g-2130: #c6c9c9;
@trendline-collection-trendline-montagna-g-2140: #b4b7b6;
@trendline-collection-trendline-montagna-g-2150: #d2cec5;
@trendline-collection-trendline-montagna-g-2160: #c4bfb6;
@trendline-collection-trendline-montagna-g-2170: #b6b2ab;
@trendline-collection-trendline-montagna-g-2180: #a6a39d;
@trendline-collection-trendline-montagna-g-2190: #b6b2ad;
@trendline-collection-trendline-montagna-g-2200: #aba89f;
@trendline-collection-trendline-montagna-g-2210: #d4d4cb;
@trendline-collection-trendline-montagna-g-2220: #bdbfb9;
@trendline-collection-trendline-montagna-g-2230: #aeb0a5;
@trendline-collection-trendline-montagna-g-2240: #9da0a2;
@trendline-collection-trendline-montagna-g-2250: #c8c6c4;
@trendline-collection-trendline-montagna-g-2260: #8f8e8c;
@trendline-collection-trendline-montagna-g-2270: #d7d4d4;
@trendline-collection-trendline-tramonto-g-3000: #f2d8d0;
@trendline-collection-trendline-tramonto-g-3010: #e4baac;
@trendline-collection-trendline-tramonto-g-3020: #d8a899;
@trendline-collection-trendline-tramonto-g-3030: #c99485;
@trendline-collection-trendline-tramonto-g-3040: #ebd3c8;
@trendline-collection-trendline-tramonto-g-3060: #dba495;
@trendline-collection-trendline-tramonto-g-3070: #c18272;
@trendline-collection-trendline-tramonto-g-3100: #eddacc;
@trendline-collection-trendline-tramonto-g-3110: #e8c7b6;
@trendline-collection-trendline-tramonto-g-3120: #f0d8cb;
@trendline-collection-trendline-tramonto-g-3130: #d8b8a8;
@trendline-collection-trendline-tramonto-g-3140: #dbc3ba;
@trendline-collection-trendline-tramonto-g-3145: #cdb8b1;
@trendline-collection-trendline-tramonto-g-3146: #927978;
@trendline-collection-trendline-tramonto-g-3172: #bd745e;
@trendline-collection-trendline-tramonto-g-3174: #b46e62;
@trendline-collection-trendline-tramonto-g-3176: #a36259;
@trendline-collection-trendline-tramonto-g-3180: #e0a083;
@trendline-collection-trendline-ozeano-g-4000: #d8dcda;
@trendline-collection-trendline-ozeano-g-4010: #ccd5d5;
@trendline-collection-trendline-ozeano-g-4020: #e0ebe5;
@trendline-collection-trendline-ozeano-g-4030: #c6dadd;
@trendline-collection-trendline-ozeano-g-4040: #e3e7e3;
@trendline-collection-trendline-ozeano-g-4050: #cbd3d0;
@trendline-collection-trendline-ozeano-g-4060: #c2d2d6;
@trendline-collection-trendline-ozeano-g-4070: #a3bdc6;
@trendline-collection-trendline-ozeano-g-4080: #95b2be;
@trendline-collection-trendline-ozeano-g-4090: #d2dbe1;
@trendline-collection-trendline-ozeano-g-4100: #ced8de;
@trendline-collection-trendline-ozeano-g-4110: #b5c1c6;
@trendline-collection-trendline-ozeano-g-4200: #bcd0ec;
@trendline-collection-trendline-ozeano-g-4210: #a0bbe7;
@trendline-collection-trendline-ozeano-g-4220: #87a7e3;
@trendline-collection-trendline-ozeano-g-4230: #dae5ec;
@trendline-collection-trendline-ozeano-g-4240: #c0ddf0;
@trendline-collection-trendline-ozeano-g-4250: #8ebde5;
@trendline-collection-trendline-ozeano-g-4260: #76afe1;
@trendline-collection-trendline-ozeano-g-4270: #b1e5e2;
@trendline-collection-trendline-ozeano-g-4280: #99dfdf;
@trendline-collection-trendline-ozeano-g-4290: #6ed0cf;
@trendline-collection-trendline-fiore-g-5000: #dfedda;
@trendline-collection-trendline-fiore-g-5010: #c6d9b2;
@trendline-collection-trendline-fiore-g-5020: #c9d0c2;
@trendline-collection-trendline-fiore-g-5040: #abb8a1;
@trendline-collection-trendline-fiore-g-5050: #9bab90;
@trendline-collection-trendline-fiore-g-5060: #d1dbce;
@trendline-collection-trendline-fiore-g-5070: #c9d5ca;
@trendline-collection-trendline-fiore-g-5080: #bec8bb;
@trendline-collection-trendline-fiore-g-5100: #c0ccc4;
@trendline-collection-trendline-fiore-g-5110: #a8bab6;
@trendline-collection-trendline-fiore-g-5120: #93a8a4;
@trendline-collection-trendline-fiore-g-5130: #e9e3c8;
@trendline-collection-trendline-fiore-g-5150: #d1c9a0;
@trendline-collection-trendline-fiore-g-5160: #bcb58e;
@trendline-collection-trendline-fiore-g-5200: #8bc198;
@trendline-collection-trendline-fiore-g-5210: #b1dbb8;
@trendline-collection-trendline-pilastro-g-6000: #e0dad2;
@trendline-collection-trendline-pilastro-g-6010: #cec5bd;
@trendline-collection-trendline-pilastro-g-6020: #bdb5ae;
@trendline-collection-trendline-pilastro-g-6030: #aba097;
@trendline-collection-trendline-pilastro-g-6040: #cabdb2;
@trendline-collection-trendline-pilastro-g-6050: #b2a398;
@trendline-collection-trendline-pilastro-g-6060: #ab998b;
@trendline-collection-trendline-pilastro-g-6070: #eae6d8;
@trendline-collection-trendline-pilastro-g-6080: #d9d3c4;
@trendline-collection-trendline-pilastro-g-6090: #c8c0ae;
@trendline-collection-trendline-pilastro-g-6100: #bfb6a5;
@trendline-collection-trendline-pilastro-g-6110: #e9dac6;
@trendline-collection-trendline-pilastro-g-6120: #e4d1b5;
@trendline-collection-trendline-pilastro-g-6130: #a19c8c;
@trendline-collection-trendline-armonia-1-g-8010: #ddd8d3;
@trendline-collection-trendline-armonia-1-g-8030: #dcd9d0;
@trendline-collection-trendline-armonia-1-g-8040: #eaeae4;
@trendline-collection-trendline-armonia-1-g-8050: #f2f0e9;
@trendline-collection-trendline-armonia-1-g-8060: #ebe0cd;
@trendline-collection-trendline-armonia-1-g-8070: #f2e4d2;
@trendline-collection-trendline-armonia-1-g-8080: #e8d2bd;
@trendline-collection-trendline-armonia-1-g-8090: #eee4d6;
@trendline-collection-trendline-armonia-1-g-8100: #f1d2b2;
@trendline-collection-trendline-armonia-1-g-8110: #ead9cc;
@trendline-collection-trendline-armonia-1-g-8120: #d8bca9;
@trendline-collection-trendline-armonia-1-g-8130: #f0ecdf;
@trendline-collection-trendline-armonia-1-g-8140: #e3dac6;
@trendline-collection-trendline-armonia-2-g-9000: #d7a687;
@trendline-collection-trendline-armonia-2-g-9010: #f1ecdb;
@trendline-collection-trendline-armonia-2-g-9020: #eccaaf;
@trendline-collection-trendline-armonia-2-g-9030: #ebcfb6;
@trendline-collection-trendline-armonia-2-g-9040: #dcd7ca;
@trendline-collection-trendline-armonia-2-g-9050: #eae3cf;
@trendline-collection-trendline-armonia-2-g-9060: #f2bf8e;
@trendline-collection-trendline-armonia-2-g-9070: #f7e3c8;
@trendline-collection-trendline-armonia-2-g-9080: #f1e9d8;
@trendline-collection-trendline-armonia-2-g-9200: #ce984a;
@trendline-collection-trendline-armonia-2-g-9210: #ce8647;
@trendline-collection-trendline-armonia-2-g-9220: #f5dd45;
@trendline-collection-trendline-armonia-2-g-9230: #3bc0bc;
@trendline-collection-trendline-armonia-2-g-9240: #7394d9;
@trendline-collection-trendline-armonia-2-g-9250: #619ed1;
@trendline-collection-trendline-armonia-2-g-9260: #5b5b60;
@trendline-collection-trendline-armonia-2-g-9270: #83595a;
@trendline-collection-trendline-armonia-2-g-9280: #708867;
@trendline-collection-trendline-armonia-2-g-9290: #62a275;
@trendline-collection-trendline-armonia-2-g-9292: #924e42;