// colortrend-facade-plus
@colortrend-facade-plus-f001: #d3e2eb;
@colortrend-facade-plus-f002: #c8dded;
@colortrend-facade-plus-f003: #bad3e3;
@colortrend-facade-plus-f004: #a7c8e3;
@colortrend-facade-plus-f005: #8cb9dd;
@colortrend-facade-plus-f006: #77acda;
@colortrend-facade-plus-f007: #eaefee;
@colortrend-facade-plus-f008: #c7ddee;
@colortrend-facade-plus-f009: #b7d3eb;
@colortrend-facade-plus-f010: #a7c9e5;
@colortrend-facade-plus-f011: #87b7de;
@colortrend-facade-plus-f012: #66a2d6;
@colortrend-facade-plus-f013: #4d8fcd;
@colortrend-facade-plus-f014: #246cb1;
@colortrend-facade-plus-f015: #dae5e2;
@colortrend-facade-plus-f016: #d3e0dc;
@colortrend-facade-plus-f017: #aac3c9;
@colortrend-facade-plus-f018: #96b6bf;
@colortrend-facade-plus-f019: #769cab;
@colortrend-facade-plus-f020: #5f8895;
@colortrend-facade-plus-f021: #ceddda;
@colortrend-facade-plus-f022: #c1d3ce;
@colortrend-facade-plus-f023: #b7c8c0;
@colortrend-facade-plus-f024: #9db3aa;
@colortrend-facade-plus-f025: #839f93;
@colortrend-facade-plus-f026: #708d7f;
@colortrend-facade-plus-f027: #e8ece7;
@colortrend-facade-plus-f028: #cad8ce;
@colortrend-facade-plus-f029: #afc4b1;
@colortrend-facade-plus-f030: #9cb09e;
@colortrend-facade-plus-f031: #829983;
@colortrend-facade-plus-f032: #6f876f;
@colortrend-facade-plus-f033: #dee5d9;
@colortrend-facade-plus-f034: #d1dacb;
@colortrend-facade-plus-f035: #c9d2bd;
@colortrend-facade-plus-f036: #a6b59a;
@colortrend-facade-plus-f037: #a2b397;
@colortrend-facade-plus-f038: #92a687;
@colortrend-facade-plus-f039: #e9ece5;
@colortrend-facade-plus-f040: #cfdacb;
@colortrend-facade-plus-f041: #c3d0be;
@colortrend-facade-plus-f042: #b5c2ab;
@colortrend-facade-plus-f043: #9db195;
@colortrend-facade-plus-f044: #839a78;
@colortrend-facade-plus-f045: #738a65;
@colortrend-facade-plus-f046: #607954;
@colortrend-facade-plus-f047: #dbe3c8;
@colortrend-facade-plus-f048: #d2dbb6;
@colortrend-facade-plus-f049: #cad3a3;
@colortrend-facade-plus-f050: #b3c589;
@colortrend-facade-plus-f051: #a5b872;
@colortrend-facade-plus-f052: #93a85b;
@colortrend-facade-plus-f053: #e2e8ca;
@colortrend-facade-plus-f054: #d9e0bc;
@colortrend-facade-plus-f055: #ccd6a3;
@colortrend-facade-plus-f056: #bfcc91;
@colortrend-facade-plus-f057: #adbd78;
@colortrend-facade-plus-f058: #9db063;
@colortrend-facade-plus-f059: #eeefe2;
@colortrend-facade-plus-f060: #e1e9c6;
@colortrend-facade-plus-f061: #cdd69e;
@colortrend-facade-plus-f062: #bcca87;
@colortrend-facade-plus-f063: #a7b86b;
@colortrend-facade-plus-f064: #98aa5a;
@colortrend-facade-plus-f065: #e4ecc9;
@colortrend-facade-plus-f066: #dce4b9;
@colortrend-facade-plus-f067: #d9deaa;
@colortrend-facade-plus-f068: #cbd48f;
@colortrend-facade-plus-f069: #b8c572;
@colortrend-facade-plus-f070: #adbd64;
@colortrend-facade-plus-f071: #f0f0cf;
@colortrend-facade-plus-f072: #eff0c1;
@colortrend-facade-plus-f073: #ebebae;
@colortrend-facade-plus-f074: #edeb9c;
@colortrend-facade-plus-f075: #ece57e;
@colortrend-facade-plus-f076: #eae369;
@colortrend-facade-plus-f077: #f0f2df;
@colortrend-facade-plus-f078: #f0f0bf;
@colortrend-facade-plus-f079: #efeeac;
@colortrend-facade-plus-f080: #eae999;
@colortrend-facade-plus-f081: #ebe580;
@colortrend-facade-plus-f082: #eee25e;
@colortrend-facade-plus-f083: #eedf43;
@colortrend-facade-plus-f084: #ecd824;
@colortrend-facade-plus-f085: #f1ecba;
@colortrend-facade-plus-f086: #f3ecb4;
@colortrend-facade-plus-f087: #ece192;
@colortrend-facade-plus-f088: #eedd7d;
@colortrend-facade-plus-f089: #efd662;
@colortrend-facade-plus-f090: #ebc847;
@colortrend-facade-plus-f091: #f3e8bc;
@colortrend-facade-plus-f092: #f5e4ad;
@colortrend-facade-plus-f093: #eedc93;
@colortrend-facade-plus-f094: #edd57c;
@colortrend-facade-plus-f095: #eac85f;
@colortrend-facade-plus-f096: #e8b942;
@colortrend-facade-plus-f097: #f3eddc;
@colortrend-facade-plus-f098: #f2e4b9;
@colortrend-facade-plus-f099: #f2ddaa;
@colortrend-facade-plus-f100: #f0d795;
@colortrend-facade-plus-f101: #ecca77;
@colortrend-facade-plus-f102: #e6b959;
@colortrend-facade-plus-f103: #dfad44;
@colortrend-facade-plus-f104: #d6a134;
@colortrend-facade-plus-f105: #f0e4c8;
@colortrend-facade-plus-f106: #f3e0bc;
@colortrend-facade-plus-f107: #efd6a9;
@colortrend-facade-plus-f108: #efcc91;
@colortrend-facade-plus-f109: #eabf7b;
@colortrend-facade-plus-f110: #e6b56a;
@colortrend-facade-plus-f111: #f3edde;
@colortrend-facade-plus-f112: #eedab5;
@colortrend-facade-plus-f113: #f0d2a4;
@colortrend-facade-plus-f114: #eecc95;
@colortrend-facade-plus-f115: #eabf79;
@colortrend-facade-plus-f116: #dfac5e;
@colortrend-facade-plus-f117: #d39a47;
@colortrend-facade-plus-f118: #c98f3b;
@colortrend-facade-plus-f119: #edceb3;
@colortrend-facade-plus-f120: #eac4ab;
@colortrend-facade-plus-f121: #e4b08a;
@colortrend-facade-plus-f122: #d99d72;
@colortrend-facade-plus-f123: #cb8859;
@colortrend-facade-plus-f124: #bd774b;
@colortrend-facade-plus-f125: #eac3af;
@colortrend-facade-plus-f126: #e5b69e;
@colortrend-facade-plus-f127: #dfa688;
@colortrend-facade-plus-f128: #d48f6e;
@colortrend-facade-plus-f129: #c57b57;
@colortrend-facade-plus-f130: #b76d4b;
@colortrend-facade-plus-f131: #efdbd2;
@colortrend-facade-plus-f132: #e6b9aa;
@colortrend-facade-plus-f133: #dfa99a;
@colortrend-facade-plus-f134: #d6967f;
@colortrend-facade-plus-f135: #ca7f67;
@colortrend-facade-plus-f136: #b66950;
@colortrend-facade-plus-f137: #ab5a43;
@colortrend-facade-plus-f138: #a05038;
@colortrend-facade-plus-f139: #e8c0b7;
@colortrend-facade-plus-f140: #e1afa6;
@colortrend-facade-plus-f141: #da9b8e;
@colortrend-facade-plus-f142: #ca8374;
@colortrend-facade-plus-f143: #bf7060;
@colortrend-facade-plus-f144: #b46151;
@colortrend-facade-plus-f145: #f1dbd4;
@colortrend-facade-plus-f146: #dea99f;
@colortrend-facade-plus-f147: #d2978c;
@colortrend-facade-plus-f148: #cc8272;
@colortrend-facade-plus-f149: #be6c5e;
@colortrend-facade-plus-f150: #aa5b4a;
@colortrend-facade-plus-f151: #9d4d3d;
@colortrend-facade-plus-f152: #924332;
@colortrend-facade-plus-f153: #ddb8b3;
@colortrend-facade-plus-f154: #d3a9a3;
@colortrend-facade-plus-f155: #cd998d;
@colortrend-facade-plus-f156: #ba7e73;
@colortrend-facade-plus-f157: #a96c5f;
@colortrend-facade-plus-f158: #9a5c4f;
@colortrend-facade-plus-f159: #ecdcd8;
@colortrend-facade-plus-f160: #d4b8b3;
@colortrend-facade-plus-f161: #c8a29d;
@colortrend-facade-plus-f162: #c1968d;
@colortrend-facade-plus-f163: #ae7c73;
@colortrend-facade-plus-f164: #956257;
@colortrend-facade-plus-f165: #855448;
@colortrend-facade-plus-f166: #744235;
@colortrend-facade-plus-f167: #edebe5;
@colortrend-facade-plus-f168: #dad7ce;
@colortrend-facade-plus-f169: #d7d1c8;
@colortrend-facade-plus-f170: #d1cbc3;
@colortrend-facade-plus-f171: #cfc5b8;
@colortrend-facade-plus-f172: #b7ac9c;
@colortrend-facade-plus-f173: #9e9180;
@colortrend-facade-plus-f174: #897968;
@colortrend-facade-plus-f175: #ceccc6;
@colortrend-facade-plus-f176: #bab9b5;
@colortrend-facade-plus-f177: #b3ada5;
@colortrend-facade-plus-f178: #98928a;
@colortrend-facade-plus-f179: #7b766e;
@colortrend-facade-plus-f180: #645d56;
@colortrend-facade-plus-f181: #c1c1bf;
@colortrend-facade-plus-f182: #b1b0af;
@colortrend-facade-plus-f183: #a4a09b;
@colortrend-facade-plus-f184: #888681;
@colortrend-facade-plus-f185: #6d6a67;
@colortrend-facade-plus-f186: #575452;
@colortrend-facade-plus-f187: #e0dfde;
@colortrend-facade-plus-f188: #c9c9c9;
@colortrend-facade-plus-f189: #b9b9b9;
@colortrend-facade-plus-f190: #b0b0b0;
@colortrend-facade-plus-f191: #a6a6a6;
@colortrend-facade-plus-f192: #969694;
@colortrend-facade-plus-f193: #7c7976;
@colortrend-facade-plus-f194: #6b6a69;
@colortrend-facade-plus-f195: #5e5b5a;
@colortrend-facade-plus-f196: #545251;
@colortrend-facade-plus-f197: #494644;
@colortrend-facade-plus-f198: #423f3e;
@colortrend-facade-plus-f199: #5d6166;
@colortrend-facade-plus-f200: #43474d;
@colortrend-facade-plus-f201: #505655;
@colortrend-facade-plus-f202: #545852;
@colortrend-facade-plus-f203: #515650;
@colortrend-facade-plus-f204: #4f5449;
@colortrend-facade-plus-f205: #676960;
@colortrend-facade-plus-f206: #55594a;
@colortrend-facade-plus-f207: #66674c;
@colortrend-facade-plus-f208: #5d6140;
@colortrend-facade-plus-f209: #66674c;
@colortrend-facade-plus-f210: #5c6142;
@colortrend-facade-plus-f211: #727056;
@colortrend-facade-plus-f212: #6b6945;
@colortrend-facade-plus-f213: #696442;
@colortrend-facade-plus-f214: #696041;
@colortrend-facade-plus-f215: #786e58;
@colortrend-facade-plus-f216: #6d5e43;
@colortrend-facade-plus-f217: #6e503e;
@colortrend-facade-plus-f218: #724a3a;
@colortrend-facade-plus-f219: #795246;
@colortrend-facade-plus-f220: #754538;
@colortrend-facade-plus-f221: #6e4c42;
@colortrend-facade-plus-f222: #5f4237;
@colortrend-facade-plus-f223: #67594a;
@colortrend-facade-plus-f224: #514a44;
@colortrend-facade-plus-f225: #dee7ef;
@colortrend-facade-plus-f226: #d4e2ed;
@colortrend-facade-plus-f227: #c6d7e5;
@colortrend-facade-plus-f228: #b3c9e2;
@colortrend-facade-plus-f229: #9cbce5;
@colortrend-facade-plus-f230: #8aafde;
@colortrend-facade-plus-f231: #eceeee;
@colortrend-facade-plus-f232: #d4e2ed;
@colortrend-facade-plus-f233: #bed5ed;
@colortrend-facade-plus-f234: #b3c9e2;
@colortrend-facade-plus-f235: #9dbce3;
@colortrend-facade-plus-f236: #7aa4dd;
@colortrend-facade-plus-f237: #618ed1;
@colortrend-facade-plus-f238: #3e6ac0;
@colortrend-facade-plus-f239: #c9dfdb;
@colortrend-facade-plus-f240: #b7d5d0;
@colortrend-facade-plus-f241: #adcdc8;
@colortrend-facade-plus-f242: #91bfb9;
@colortrend-facade-plus-f243: #70a99f;
@colortrend-facade-plus-f244: #50958a;
@colortrend-facade-plus-f245: #c0d9dd;
@colortrend-facade-plus-f246: #a3c8cb;
@colortrend-facade-plus-f247: #8cb9bd;
@colortrend-facade-plus-f248: #69a0a3;
@colortrend-facade-plus-f249: #dfebe0;
@colortrend-facade-plus-f250: #d5e7d8;
@colortrend-facade-plus-f251: #c6ddc7;
@colortrend-facade-plus-f252: #b4d4b8;
@colortrend-facade-plus-f253: #9ec9a3;
@colortrend-facade-plus-f254: #93c199;
@colortrend-facade-plus-f255: #eff2eb;
@colortrend-facade-plus-f256: #cfe5d4;
@colortrend-facade-plus-f257: #c3dec9;
@colortrend-facade-plus-f258: #b8d6bd;
@colortrend-facade-plus-f259: #9ec9a5;
@colortrend-facade-plus-f260: #82b88d;
@colortrend-facade-plus-f261: #6aa675;
@colortrend-facade-plus-f262: #52915d;
@colortrend-facade-plus-f263: #cde3c1;
@colortrend-facade-plus-f264: #c0d9ab;
@colortrend-facade-plus-f265: #a8cb91;
@colortrend-facade-plus-f266: #8ebd76;
@colortrend-facade-plus-f267: #dae7c5;
@colortrend-facade-plus-f268: #c8dfa9;
@colortrend-facade-plus-f269: #b7d28f;
@colortrend-facade-plus-f270: #9fc476;
@colortrend-facade-plus-f271: #84b65a;
@colortrend-facade-plus-f272: #74a64d;
@colortrend-facade-plus-f273: #f0e9b8;
@colortrend-facade-plus-f274: #eedf9c;
@colortrend-facade-plus-f275: #f0d881;
@colortrend-facade-plus-f276: #eccb5d;
@colortrend-facade-plus-f277: #f2e8c1;
@colortrend-facade-plus-f278: #f4e4b1;
@colortrend-facade-plus-f279: #eedfa4;
@colortrend-facade-plus-f280: #edd586;
@colortrend-facade-plus-f281: #f0c96a;
@colortrend-facade-plus-f282: #eebb4c;
@colortrend-facade-plus-f283: #f0ebdb;
@colortrend-facade-plus-f284: #f3e6d3;
@colortrend-facade-plus-f285: #eddebf;
@colortrend-facade-plus-f286: #f0d6ac;
@colortrend-facade-plus-f287: #efcb97;
@colortrend-facade-plus-f288: #f0c48a;
@colortrend-facade-plus-f289: #f0eee6;
@colortrend-facade-plus-f290: #f4e6cf;
@colortrend-facade-plus-f291: #f6dec0;
@colortrend-facade-plus-f292: #efd6b0;
@colortrend-facade-plus-f293: #efcb97;
@colortrend-facade-plus-f294: #efb877;
@colortrend-facade-plus-f295: #efa960;
@colortrend-facade-plus-f296: #e7983e;
@colortrend-facade-plus-f297: #f3ebcc;
@colortrend-facade-plus-f298: #f5e7be;
@colortrend-facade-plus-f299: #f2e8b8;
@colortrend-facade-plus-f300: #f0e9b0;
@colortrend-facade-plus-f301: #f1ebd2;
@colortrend-facade-plus-f302: #f5eac8;
@colortrend-facade-plus-f303: #f4e7c0;
@colortrend-facade-plus-f304: #f2e0bc;
@colortrend-facade-plus-f305: #eecf2a;
@colortrend-facade-plus-f306: #eac125;
@colortrend-facade-plus-f307: #efb635;
@colortrend-facade-plus-f308: #efae33;
@colortrend-facade-plus-f309: #efaa36;
@colortrend-facade-plus-f310: #eaa433;
@colortrend-facade-plus-f311: #e79931;
@colortrend-facade-plus-f312: #e99c3e;
@colortrend-facade-plus-f313: #b5a5a5;
@colortrend-facade-plus-f314: #e2c2b9;
@colortrend-facade-plus-f315: #c7c2c4;
@colortrend-facade-plus-f316: #c7c2c4;
@colortrend-facade-plus-f317: #c6c6c8;
@colortrend-facade-plus-f318: #bdc4cf;
@colortrend-facade-plus-f319: #a8b8ca;
@colortrend-facade-plus-f320: #85b656;
@colortrend-facade-plus-f321: #9bb545;
@colortrend-facade-plus-f322: #aeb747;
@colortrend-facade-plus-f323: #b9bf3d;
@colortrend-facade-plus-f324: #c0bd3e;
@colortrend-facade-plus-f325: #d5c53d;
@colortrend-facade-plus-f326: #dfc135;
@colortrend-facade-plus-f327: #d9925d;
@colortrend-facade-plus-f328: #d58b60;
@colortrend-facade-plus-f329: #cc7b5a;
@colortrend-facade-plus-f330: #d6904f;
@colortrend-facade-plus-f331: #d48850;
@colortrend-facade-plus-f332: #c36f43;
@colortrend-facade-plus-f333: #628cc8;
@colortrend-facade-plus-f334: #4b8dc3;
@colortrend-facade-plus-f335: #4874b6;
@colortrend-facade-plus-f336: #3d6daf;
@colortrend-facade-plus-f337: #3875a7;
@colortrend-facade-plus-f338: #3666a0;
@colortrend-facade-plus-f339: #367570;
@colortrend-facade-plus-f340: #3b5e71;
@colortrend-facade-plus-f341: #3d6473;
@colortrend-facade-plus-f342: #3d6569;
@colortrend-facade-plus-f343: #425b64;
@colortrend-facade-plus-f344: #41595c;
@colortrend-facade-plus-f345: #4d514e;
@colortrend-facade-plus-f346: #424b4d;
@colortrend-facade-plus-f347: #616853;
@colortrend-facade-plus-f348: #505d4c;
@colortrend-facade-plus-f349: #565d5d;
@colortrend-facade-plus-f350: #45474b;