// threem-scotchcal-serie-100
@threem-scotchcal-serie-100-100-25: #ffae00;
@threem-scotchcal-serie-100-100-15: #fec000;
@threem-scotchcal-serie-100-100-2432: #fecc00;
@threem-scotchcal-serie-100-100-385: #e3c900;
@threem-scotchcal-serie-100-100-2433: #f5d808;
@threem-scotchcal-serie-100-100-2434: #f36100;
@threem-scotchcal-serie-100-100-410: #e35202;
@threem-scotchcal-serie-100-100-14: #e65d00;
@threem-scotchcal-serie-100-100-717: #f47b00;
@threem-scotchcal-serie-100-100-598: #f59931;
@threem-scotchcal-serie-100-100-2400: #85061a;
@threem-scotchcal-serie-100-100-176: #a10c13;
@threem-scotchcal-serie-100-100-368: #bf1a01;
@threem-scotchcal-serie-100-100-13: #b71a0e;
@threem-scotchcal-serie-100-100-266: #da3c0a;
@threem-scotchcal-serie-100-100-386: #53161d;
@threem-scotchcal-serie-100-100-723: #6c0420;
@threem-scotchcal-serie-100-100-23: #8a161d;
@threem-scotchcal-serie-100-100-53: #95081c;
@threem-scotchcal-serie-100-100-720: #a7031d;
@threem-scotchcal-serie-100-100-2401: #50141f;
@threem-scotchcal-serie-100-100-2402: #751521;
@threem-scotchcal-serie-100-100-2403: #5f1223;
@threem-scotchcal-serie-100-100-2404: #621433;
@threem-scotchcal-serie-100-100-2405: #621436;
@threem-scotchcal-serie-100-100-2406: #891017;
@threem-scotchcal-serie-100-100-2407: #5e201b;
@threem-scotchcal-serie-100-100-29: #653420;
@threem-scotchcal-serie-100-100-107: #422c1d;
@threem-scotchcal-serie-100-100-19: #4a2c20;
@threem-scotchcal-serie-100-100-597: #4d2c50;
@threem-scotchcal-serie-100-100-265: #623668;
@threem-scotchcal-serie-100-100-2409: #632a5b;
@threem-scotchcal-serie-100-100-721: #85427f;
@threem-scotchcal-serie-100-100-2410: #ae4881;
@threem-scotchcal-serie-100-100-595: #402b6f;
@threem-scotchcal-serie-100-100-984: #58377d;
@threem-scotchcal-serie-100-100-2411: #583d8b;
@threem-scotchcal-serie-100-100-2412: #7c67ad;
@threem-scotchcal-serie-100-100-2413: #bc90bf;
@threem-scotchcal-serie-100-100-714: #e67d89;
@threem-scotchcal-serie-100-100-454: #bd295c;
@threem-scotchcal-serie-100-100-1916: #b32164;
@threem-scotchcal-serie-100-100-821: #c4417e;
@threem-scotchcal-serie-100-100-2415: #eb8ab8;
@threem-scotchcal-serie-100-100-47: #0065a1;
@threem-scotchcal-serie-100-100-415: #0070b3;
@threem-scotchcal-serie-100-100-57: #008ac7;
@threem-scotchcal-serie-100-100-123: #0099d0;
@threem-scotchcal-serie-100-100-453: #4eadda;
@threem-scotchcal-serie-100-100-37: #0f3a79;
@threem-scotchcal-serie-100-100-003: #1a3964;
@threem-scotchcal-serie-100-100-1789: #004c7c;
@threem-scotchcal-serie-100-100-17: #005495;
@threem-scotchcal-serie-100-100-002: #005995;
@threem-scotchcal-serie-100-100-27: #112235;
@threem-scotchcal-serie-100-100-2416: #121e3e;
@threem-scotchcal-serie-100-100-1794: #24225a;
@threem-scotchcal-serie-100-100-2189: #1c275f;
@threem-scotchcal-serie-100-100-1182: #183270;
@threem-scotchcal-serie-100-100-1024: #223577;
@threem-scotchcal-serie-100-100-2417: #00458e;
@threem-scotchcal-serie-100-100-1579: #0a2a53;
@threem-scotchcal-serie-100-100-724: #002a4a;
@threem-scotchcal-serie-100-100-2274: #3b4d70;
@threem-scotchcal-serie-100-100-2418: #3e4f21;
@threem-scotchcal-serie-100-100-2419: #00401d;
@threem-scotchcal-serie-100-100-008: #0b3e27;
@threem-scotchcal-serie-100-100-727: #0c4c40;
@threem-scotchcal-serie-100-100-56: #00563a;
@threem-scotchcal-serie-100-100-027: #008d56;
@threem-scotchcal-serie-100-100-1645: #007a51;
@threem-scotchcal-serie-100-100-450: #005d2a;
@threem-scotchcal-serie-100-100-722: #007939;
@threem-scotchcal-serie-100-100-122: #007a2e;
@threem-scotchcal-serie-100-100-719: #599900;
@threem-scotchcal-serie-100-100-2420: #4e982d;
@threem-scotchcal-serie-100-100-047: #7eb443;
@threem-scotchcal-serie-100-100-449: #b2c411;
@threem-scotchcal-serie-100-100-1683: #e2c400;
@threem-scotchcal-serie-100-100-2422: #00616a;
@threem-scotchcal-serie-100-100-603: #008588;
@threem-scotchcal-serie-100-100-718: #00ab99;
@threem-scotchcal-serie-100-100-716: #52ccaf;
@threem-scotchcal-serie-100-100-600: #8cdcd9;
@threem-scotchcal-serie-100-100-725: #30576e;
@threem-scotchcal-serie-100-100-726: #7991a0;
@threem-scotchcal-serie-100-100-467: #736657;
@threem-scotchcal-serie-100-100-2424: #8a817e;
@threem-scotchcal-serie-100-100-2425: #a69e8d;
@threem-scotchcal-serie-100-100-2436: #605851;
@threem-scotchcal-serie-100-100-2034: #68665e;
@threem-scotchcal-serie-100-100-2477: #5b584f;
@threem-scotchcal-serie-100-100-2437: #465247;
@threem-scotchcal-serie-100-100-2290: #444542;
@threem-scotchcal-serie-100-100-12: #101011;
@threem-scotchcal-serie-100-100-22: #313231;
@threem-scotchcal-serie-100-100-012: #4b4d4d;
@threem-scotchcal-serie-100-100-706: #565757;
@threem-scotchcal-serie-100-100-2426: #636668;
@threem-scotchcal-serie-100-100-2435: #7c8487;
@threem-scotchcal-serie-100-100-038: #798080;
@threem-scotchcal-serie-100-100-822: #898a8b;
@threem-scotchcal-serie-100-100-605: #a8a9a6;
@threem-scotchcal-serie-100-100-384: #c6caca;
@threem-scotchcal-serie-100-100-1833: #5d6365;
@threem-scotchcal-serie-100-100-2427: #90958e;
@threem-scotchcal-serie-100-100-079: #b8b4a4;
@threem-scotchcal-serie-100-100-2428: #c6c8c5;
@threem-scotchcal-serie-100-100-11: #d9d9d3;
@threem-scotchcal-serie-100-100-2429: #c7aa7c;
@threem-scotchcal-serie-100-100-728: #af9d86;
@threem-scotchcal-serie-100-100-119: #d7c5a6;
@threem-scotchcal-serie-100-100-2430: #e6d4bb;
@threem-scotchcal-serie-100-100-2431: #ebe0b9;
@threem-scotchcal-serie-100-100-20: #f8f9f6;
@threem-scotchcal-serie-100-100-10: #f7f8f5;
@threem-scotchcal-serie-100-100-114: #e4e4e8;
@threem-scotchcal-serie-100-100-383: #f1e6d7;
@threem-scotchcal-serie-100-100-731: #e6d6ab;
@threem-scotchcal-serie-100-100-58: #b7b9ba;
@threem-scotchcal-serie-100-100-2442: #6d6c6a;
@threem-scotchcal-serie-100-100-144: #535355;
@threem-scotchcal-serie-100-100-2476: #3c3f41;
@threem-scotchcal-serie-100-100-1996: #27292a;
@threem-scotchcal-serie-100-100-2443: #a8a197;
@threem-scotchcal-serie-100-100-2444: #84807c;
@threem-scotchcal-serie-100-100-2259: #53504a;
@threem-scotchcal-serie-100-100-1771: #8f765f;
@threem-scotchcal-serie-100-100-2445: #b3a38e;
@threem-scotchcal-serie-100-100-2446: #a78e5f;
@threem-scotchcal-serie-100-100-54: #9b7f47;
@threem-scotchcal-serie-100-100-2065: #8b6f36;
@threem-scotchcal-serie-100-100-1231: #8c592a;
@threem-scotchcal-serie-100-100-2447: #8d725f;
@threem-scotchcal-serie-100-100-2448: #959a58;
@threem-scotchcal-serie-100-100-2449: #65685a;
@threem-scotchcal-serie-100-100-2450: #265434;
@threem-scotchcal-serie-100-100-2451: #004526;
@threem-scotchcal-serie-100-100-2452: #37453b;
@threem-scotchcal-serie-100-100-2453: #162333;
@threem-scotchcal-serie-100-100-2455: #19375b;
@threem-scotchcal-serie-100-100-2454: #004571;
@threem-scotchcal-serie-100-100-2456: #00566a;
@threem-scotchcal-serie-100-100-2457: #117990;
@threem-scotchcal-serie-100-100-2458: #7e4070;
@threem-scotchcal-serie-100-100-2459: #55274a;
@threem-scotchcal-serie-100-100-2460: #441c48;
@threem-scotchcal-serie-100-100-2461: #381e52;
@threem-scotchcal-serie-100-100-2471: #373d68;
@threem-scotchcal-serie-100-100-2462: #8e1728;
@threem-scotchcal-serie-100-100-2463: #72222f;
@threem-scotchcal-serie-100-100-2464: #571317;
@threem-scotchcal-serie-100-100-2465: #711439;
@threem-scotchcal-serie-100-100-2466: #963b60;
@threem-scotchcal-serie-100-100-2467: #c69e1e;
@threem-scotchcal-serie-100-100-2468: #b0822f;
@threem-scotchcal-serie-100-100-2469: #d18118;
@threem-scotchcal-serie-100-100-2470: #c95c18;
@threem-scotchcal-serie-100-100-1927: #a81e1b;
@threem-scotchcal-serie-100-100-2472: #96aea8;
@threem-scotchcal-serie-100-100-2473: #99a9ae;
@threem-scotchcal-serie-100-100-1452: #8195a3;
@threem-scotchcal-serie-100-100-2113: #888081;
@threem-scotchcal-serie-100-100-2474: #a48f99;
@threem-scotchcal-serie-100-100-2438: #acaeaf;
@threem-scotchcal-serie-100-100-2439: #7a7575;
@threem-scotchcal-serie-100-100-2440: #464648;
@threem-scotchcal-serie-100-100-2475: #9d8166;
@threem-scotchcal-serie-100-100-2441: #9b8594;