// british-standard-colours
@british-standard-colours-lizard-brown: #887c63;
@british-standard-colours-bs10b25-turtle: #6d644d;
@british-standard-colours-bs10b27-brown: #50452d;
@british-standard-colours-bs10b29-ironstone: #373326;
@british-standard-colours-bs10c31-champagne: #f3e2bf;
@british-standard-colours-bs10c33-pollen: #e6d298;
@british-standard-colours-bs10c35-golden-bronze: #c1a65e;
@british-standard-colours-bs10c37-yellow-brown: #937725;
@british-standard-colours-bs10c39-saluki: #5a4c25;
@british-standard-colours-bs10d41-yellow: #eed079;
@british-standard-colours-bs10d43-banana: #c89e00;
@british-standard-colours-bs10d44-light-olive: #be9129;
@british-standard-colours-bs10d45-florida: #967701;
@british-standard-colours-bs10e49-pale-lemon: #eae4a2;
@british-standard-colours-bs10e50-forsythia: #f0d15d;
@british-standard-colours-bs10e51-yellow: #eab700;
@british-standard-colours-bs10e53-canary: #edc300;
@british-standard-colours-bs10e55-camery-yellow: #ffca00;
@british-standard-colours-bs10e56-yellow: #d8a900;
@british-standard-colours-bs12b15-seafoam: #eae9d2;
@british-standard-colours-bs12b17-willow: #cccaa9;
@british-standard-colours-bs12b19-beige: #b0af90;
@british-standard-colours-bs12b21-opaline: #99997c;
@british-standard-colours-bs12b23-green: #7e7f63;
@british-standard-colours-bs12b25-thyme: #61634e;
@british-standard-colours-bs12b27-green: #616151;
@british-standard-colours-bs12b29-juniper: #343626;
@british-standard-colours-bs12b31-light-yellow: #eae9be;
@british-standard-colours-bs12c33-catkin: #c9ca90;
@british-standard-colours-bs12c35-green: #afb17a;
@british-standard-colours-bs12c37-green: #777d2d;
@british-standard-colours-bs12c39-orchard: #464b24;
@british-standard-colours-bs12c40-green: #313724;
@british-standard-colours-bs12d41-green: #cac973;
@british-standard-colours-bs12d43-sapling: #8e8f25;
@british-standard-colours-bs12d44-green: #777a07;
@british-standard-colours-bs12d45-tundra: #63641f;
@british-standard-colours-bs12e51-citrine: #c8c92a;
@british-standard-colours-bs12e53-linden: #99af2b;
@british-standard-colours-bs12e55-green: #739e20;
@british-standard-colours-bs14c31-green-alpine: #d9e7d6;
@british-standard-colours-bs14c33-green: #b9d0be;
@british-standard-colours-bs14c35-braemer: #9bb19e;
@british-standard-colours-bs14c37-green: #5c876d;
@british-standard-colours-bs14c39-hollybush: #2f5440;
@british-standard-colours-bs14c40-green: #2c3a31;
@british-standard-colours-bs14c41-green: #8dba9b;
@british-standard-colours-bs14d43-green: #478966;
@british-standard-colours-bs14d44-green: #29704e;
@british-standard-colours-bs14d45-green: #005333;
@british-standard-colours-bs14e49-light-green: #d3ebd5;
@british-standard-colours-bs14e50-green: #aad8b3;
@british-standard-colours-bs14e51-goblin: #56ad6d;
@british-standard-colours-bs14e53-avarice: #01905e;
@british-standard-colours-bs14e56-green: #00703e;
@british-standard-colours-bs14e58-green: #1f4231;
@british-standard-colours-bs16a03-grey: #c6cac1;
@british-standard-colours-bs16a07-mid-grey: #8d918d;
@british-standard-colours-bs16a11-grey: #5e6664;
@british-standard-colours-bs16c33-duckegg: #b3cec7;
@british-standard-colours-bs16c35-green: #9bb6af;
@british-standard-colours-bs16c37-green: #548481;
@british-standard-colours-bs16c39-green: #1d5452;
@british-standard-colours-bs16c40-deep-green: #2a3838;
@british-standard-colours-bs16d41-green: #83bdb6;
@british-standard-colours-bs16d43-green: #298c86;
@british-standard-colours-bs16d44-green: #00716c;
@british-standard-colours-bs16d45-green-blue: #005550;
@british-standard-colours-bs16e50-turquoise: #a2dbd3;
@british-standard-colours-bs16e53-seafarer: #008e8a;
@british-standard-colours-bs16e56-green: #007772;
@british-standard-colours-bs18a14-black: #333639;
@british-standard-colours-bs18b15-white: #e5e9e2;
@british-standard-colours-bs18b17-silver-haze: #c2ccca;
@british-standard-colours-bs18b19-grey: #b1b8b7;
@british-standard-colours-bs18b21-blue: #8e9897;
@british-standard-colours-bs18b23-grey: #767e7d;
@british-standard-colours-bs18b25-dk-admir-grey: #5f6a6c;
@british-standard-colours-bs18b27-grey: #444e51;
@british-standard-colours-bs18b29-blue: #262d32;
@british-standard-colours-bs18c31-blue: #e6ece5;
@british-standard-colours-bs18c33-blue: #bbcccc;
@british-standard-colours-bs18c35-blue: #96adb6;
@british-standard-colours-bs18c37-blue: #587f8b;
@british-standard-colours-bs18c39-deep-river: #225160;
@british-standard-colours-bs18c40-black: #223238;
@british-standard-colours-bs18d41-blue: #87bbc5;
@british-standard-colours-bs18d43-dresden-blue: #418297;
@british-standard-colours-bs18d44-blue: #2a7088;
@british-standard-colours-bs18d45-blue: #00566c;
@british-standard-colours-bs18e49-astral-blue: #d2e7e2;
@british-standard-colours-bs18e50-blue: #a8d3dc;
@british-standard-colours-bs18e51-mermaid: #42a5c1;
@british-standard-colours-bs18e53-cobalt-blue: #00739d;
@british-standard-colours-bs18e58-blue: #003e52;
@british-standard-colours-bs20c33-pompadour: #bccedd;
@british-standard-colours-bs20c35-blue: #a2b2c4;
@british-standard-colours-bs20c37-viking: #67839f;
@british-standard-colours-bs20c39-blue: #374963;
@british-standard-colours-bs20c40-midnight: #202d44;
@british-standard-colours-bs20d41-powder-blue: #9ebbd6;
@british-standard-colours-bs20d43-blue: #5a84b1;
@british-standard-colours-bs20d44-blue: #416a9d;
@british-standard-colours-bs20d45-maritime: #26557f;
@british-standard-colours-bs20e50-blue: #bad5ea;
@british-standard-colours-bs20e51-corfu-purple: #66a2d2;
@british-standard-colours-bs20e53-blue: #096da9;
@british-standard-colours-bs20e56-blue: #005b8d;
@british-standard-colours-bs22b15-swansdown: #e6e6e1;
@british-standard-colours-bs22b17-lavender-haze: #c6c4c9;
@british-standard-colours-bs22b19-soft-blue: #afb1b9;
@british-standard-colours-bs22b21-kashmir: #96949e;
@british-standard-colours-bs22b23-purple: #7b7a84;
@british-standard-colours-bs22b25-nightshade: #63626f;
@british-standard-colours-bs22b27-violet: #4d4959;
@british-standard-colours-bs22b29-deep-purple: #2f2d3b;
@british-standard-colours-bs22c31-white: #e4e4e3;
@british-standard-colours-bs22c33-soft-purple: #c6c6d5;
@british-standard-colours-bs22c35-purple: #afafc2;
@british-standard-colours-bs22c37-violet: #7a759b;
@british-standard-colours-bs22c39-purple: #4c456f;
@british-standard-colours-bs22c40-purple: #3a314a;
@british-standard-colours-bs22d41-violet: #adafd2;
@british-standard-colours-bs22d43-violet: #837eb2;
@british-standard-colours-bs22d44-purple: #6a6494;
@british-standard-colours-bs22d45-purple: #4e477b;
@british-standard-colours-bs22e53-purple: #635b91;
@british-standard-colours-bs22e58-purple: #392c59;
@british-standard-colours-bs24c33-lilac: #d2c2ce;
@british-standard-colours-bs24c35-pink: #b7a5b5;
@british-standard-colours-bs24c37-purple: #8e708d;
@british-standard-colours-bs24c38-amethyst: #5d3e65;
@british-standard-colours-bs24c39-regalia: #5c3b62;
@british-standard-colours-bs24c40-purple: #3d293e;
@british-standard-colours-bs24e50-pink: #e1c6db;
@british-standard-colours-bs24e53-purple: #7e5086;
@british-standard-colours-bs24e56-violet: #7c4a82;
@british-standard-colours-bs24e58-purple: #49244a;