// alligator-collection-5000
@alligator-collection-5000-korall-125: #804442;
@alligator-collection-5000-korall-100: #735350;
@alligator-collection-5000-korall-155: #ac5753;
@alligator-collection-5000-korall-135: #9d5d58;
@alligator-collection-5000-korall-105: #805855;
@alligator-collection-5000-korall-115: #8e615c;
@alligator-collection-5000-korall-70: #a37974;
@alligator-collection-5000-korall-95: #584544;
@alligator-collection-5000-korall-110: #755c5a;
@alligator-collection-5000-korall-65: #967975;
@alligator-collection-5000-korall-35: #b7a5a2;
@alligator-collection-5000-korall-45: #d0bfbb;
@alligator-collection-5000-korall-20: #e8dcd7;
@alligator-collection-5000-korall-5: #a1908e;
@alligator-collection-5000-korall-10: #b5a9a7;
@alligator-collection-5000-korall-15: #dbcec9;
@alligator-collection-5000-bordeaux-65: #a54640;
@alligator-collection-5000-bordeaux-75: #af6259;
@alligator-collection-5000-bordeaux-45: #b27269;
@alligator-collection-5000-bordeaux-55: #d2a39d;
@alligator-collection-5000-bordeaux-35: #80544d;
@alligator-collection-5000-bordeaux-50: #b98379;
@alligator-collection-5000-bordeaux-60: #e9c4bd;
@alligator-collection-5000-bordeaux-5: #a98b85;
@alligator-collection-5000-bordeaux-10: #bb9a92;
@alligator-collection-5000-bordeaux-15: #bfa8a3;
@alligator-collection-5000-cameo-125: #a15545;
@alligator-collection-5000-cameo-95: #8a5649;
@alligator-collection-5000-cameo-130: #ac685b;
@alligator-collection-5000-cameo-135: #c7806e;
@alligator-collection-5000-cameo-65: #927068;
@alligator-collection-5000-cameo-70: #ab8b82;
@alligator-collection-5000-cameo-50: #cbb5ae;
@alligator-collection-5000-cameo-35: #87736f;
@alligator-collection-5000-cameo-40: #a7938d;
@alligator-collection-5000-cameo-20: #dfd3cc;
@alligator-collection-5000-cameo-5: #9b8c88;
@alligator-collection-5000-cameo-10: #b8ada9;
@alligator-collection-5000-cameo-15: #d0c9c6;
@alligator-collection-5000-lachs-100: #bc654b;
@alligator-collection-5000-lachs-65: #aa6952;
@alligator-collection-5000-lachs-70: #ce8163;
@alligator-collection-5000-lachs-80: #e69981;
@alligator-collection-5000-lachs-35: #b7826f;
@alligator-collection-5000-lachs-50: #dda693;
@alligator-collection-5000-lachs-85: #ffc4af;
@alligator-collection-5000-lachs-45: #cda597;
@alligator-collection-5000-lachs-20: #efd2c5;
@alligator-collection-5000-lachs-30: #fae8dd;
@alligator-collection-5000-aprico-125: #c86d46;
@alligator-collection-5000-aprico-135: #c97f5f;
@alligator-collection-5000-aprico-100: #d28d6e;
@alligator-collection-5000-aprico-110: #e39e7c;
@alligator-collection-5000-aprico-105: #c5927a;
@alligator-collection-5000-aprico-75: #e5b097;
@alligator-collection-5000-aprico-55: #efd2c4;
@alligator-collection-5000-aprico-70: #bd9989;
@alligator-collection-5000-aprico-50: #e2c6b8;
@alligator-collection-5000-aprico-60: #fbe5d7;
@alligator-collection-5000-aprico-10: #c0aa9f;
@alligator-collection-5000-aprico-15: #d6c9c1;
@alligator-collection-5000-aprico-20: #e0d5cf;
@alligator-collection-5000-siena-155: #c78243;
@alligator-collection-5000-siena-130: #c7996f;
@alligator-collection-5000-siena-165: #ecae7d;
@alligator-collection-5000-siena-175: #ffc592;
@alligator-collection-5000-siena-135: #e2b185;
@alligator-collection-5000-siena-140: #fecda4;
@alligator-collection-5000-siena-145: #feddc2;
@alligator-collection-5000-siena-85: #d2b9a4;
@alligator-collection-5000-siena-90: #e7cdb6;
@alligator-collection-5000-siena-55: #e6d5c3;
@alligator-collection-5000-siena-40: #aa9685;
@alligator-collection-5000-siena-45: #c4b2a3;
@alligator-collection-5000-siena-50: #ddcec1;
@alligator-collection-5000-siena-10: #928479;
@alligator-collection-5000-siena-15: #aa9e94;
@alligator-collection-5000-siena-20: #c6bcb4;
@alligator-collection-5000-onyx-155: #bd884f;
@alligator-collection-5000-onyx-220: #eb9b3a;
@alligator-collection-5000-onyx-230: #ffba61;
@alligator-collection-5000-onyx-200: #ffc387;
@alligator-collection-5000-onyx-185: #dd9f5e;
@alligator-collection-5000-onyx-170: #f2c089;
@alligator-collection-5000-onyx-175: #facfa2;
@alligator-collection-5000-onyx-125: #bd9875;
@alligator-collection-5000-onyx-105: #d7b592;
@alligator-collection-5000-onyx-110: #e2c5a8;
@alligator-collection-5000-onyx-95: #9b856e;
@alligator-collection-5000-onyx-65: #b39a83;
@alligator-collection-5000-onyx-70: #d1c0af;
@alligator-collection-5000-caramel-94: #af8b5d;
@alligator-collection-5000-caramel-110: #f8d29f;
@alligator-collection-5000-caramel-120: #ffdfb5;
@alligator-collection-5000-caramel-90: #faf1e4;
@alligator-collection-5000-caramel-65: #d1b491;
@alligator-collection-5000-caramel-75: #ecd8be;
@alligator-collection-5000-caramel-85: #f3e4cf;
@alligator-collection-5000-palazzo-245: #9c7c48;
@alligator-collection-5000-palazzo-350: #f1af16;
@alligator-collection-5000-palazzo-355: #fabd39;
@alligator-collection-5000-palazzo-360: #fecf61;
@alligator-collection-5000-palazzo-305: #b68940;
@alligator-collection-5000-palazzo-285: #d2a44e;
@alligator-collection-5000-palazzo-295: #eec075;
@alligator-collection-5000-palazzo-290: #e0af5c;
@alligator-collection-5000-palazzo-265: #f8d18f;
@alligator-collection-5000-palazzo-270: #fedca0;
@alligator-collection-5000-palazzo-250: #b48d4b;
@alligator-collection-5000-palazzo-255: #d5ac68;
@alligator-collection-5000-palazzo-260: #e3bc80;
@alligator-collection-5000-palazzo-190: #967e57;
@alligator-collection-5000-palazzo-200: #c5ae8a;
@alligator-collection-5000-palazzo-170: #d0bfa1;
@alligator-collection-5000-palazzo-205: #e3c59d;
@alligator-collection-5000-palazzo-175: #ead4b4;
@alligator-collection-5000-palazzo-180: #f9ebd2;
@alligator-collection-5000-palazzo-135: #8d7f6a;
@alligator-collection-5000-palazzo-145: #c7b9a4;
@alligator-collection-5000-palazzo-150: #dfcfb6;
@alligator-collection-5000-palazzo-100: #988c7c;
@alligator-collection-5000-palazzo-110: #b8afa1;
@alligator-collection-5000-palazzo-85: #c7bdb0;
@alligator-collection-5000-palazzo-75: #817c74;
@alligator-collection-5000-palazzo-40: #b1aba3;
@alligator-collection-5000-palazzo-50: #d3ccc1;
@alligator-collection-5000-ginster-94: #a88b4a;
@alligator-collection-5000-ginster-100: #e7c580;
@alligator-collection-5000-ginster-110: #f2d494;
@alligator-collection-5000-ginster-115: #f6deaf;
@alligator-collection-5000-ginster-70: #c2ac81;
@alligator-collection-5000-ginster-80: #e0cea8;
@alligator-collection-5000-ginster-60: #f2e5cd;
@alligator-collection-5000-ginster-35: #8c7b61;
@alligator-collection-5000-ginster-45: #b6aa91;
@alligator-collection-5000-ginster-50: #d6c8b0;
@alligator-collection-5000-ginster-40: #9a8e75;
@alligator-collection-5000-ginster-5: #b3a996;
@alligator-collection-5000-ginster-15: #cdc5b7;
@alligator-collection-5000-curry-32: #817556;
@alligator-collection-5000-curry-110: #f0d794;
@alligator-collection-5000-curry-120: #fae7ae;
@alligator-collection-5000-curry-90: #fbeec6;
@alligator-collection-5000-curry-40: #c2b080;
@alligator-collection-5000-curry-45: #dbca9d;
@alligator-collection-5000-curry-80: #f0ddb0;
@alligator-collection-5000-curry-5: #beb195;
@alligator-collection-5000-curry-10: #cec5ac;
@alligator-collection-5000-curry-15: #dfd7c5;
@alligator-collection-5000-melisse-32: #7e7961;
@alligator-collection-5000-melisse-75: #bcad78;
@alligator-collection-5000-melisse-80: #ded19a;
@alligator-collection-5000-melisse-90: #f8f0d2;
@alligator-collection-5000-melisse-35: #b7ad8d;
@alligator-collection-5000-melisse-40: #d1caaf;
@alligator-collection-5000-melisse-50: #eae2c8;
@alligator-collection-5000-jade-62: #767764;
@alligator-collection-5000-jade-105: #bbc08f;
@alligator-collection-5000-jade-110: #d9dcab;
@alligator-collection-5000-jade-85: #e2e2c7;
@alligator-collection-5000-jade-100: #a1a57f;
@alligator-collection-5000-jade-75: #bebea4;
@alligator-collection-5000-jade-80: #d2d4b2;
@alligator-collection-5000-jade-5: #b1b1aa;
@alligator-collection-5000-jade-50: #cccbc1;
@alligator-collection-5000-jade-25: #e2dfd7;
@alligator-collection-5000-moos-62: #6d775c;
@alligator-collection-5000-moos-85: #d6dbc1;
@alligator-collection-5000-moos-60: #dee0d2;
@alligator-collection-5000-moos-90: #edeedc;
@alligator-collection-5000-moos-35: #969b86;
@alligator-collection-5000-moos-40: #a9ac9d;
@alligator-collection-5000-moos-50: #bfc0b3;
@alligator-collection-5000-moos-20: #a7a6a2;
@alligator-collection-5000-moos-45: #bbbbb4;
@alligator-collection-5000-moos-55: #d3d2c9;
@alligator-collection-5000-oase-44: #68755c;
@alligator-collection-5000-oase-75: #92a284;
@alligator-collection-5000-oase-115: #b2c59f;
@alligator-collection-5000-oase-85: #d5dcca;
@alligator-collection-5000-oase-45: #788468;
@alligator-collection-5000-oase-50: #b5c1a9;
@alligator-collection-5000-oase-60: #ecefe5;
@alligator-collection-5000-oase-5: #879080;
@alligator-collection-5000-oase-15: #a9b0a3;
@alligator-collection-5000-oase-20: #c6cbc0;
@alligator-collection-5000-mint-32: #466252;
@alligator-collection-5000-mint-45: #8ca592;
@alligator-collection-5000-mint-50: #a4b6ac;
@alligator-collection-5000-mint-55: #bdcdc0;
@alligator-collection-5000-mint-5: #8c938c;
@alligator-collection-5000-mint-10: #a4aca5;
@alligator-collection-5000-mint-15: #c4cbc4;
@alligator-collection-5000-verona-64: #365d60;
@alligator-collection-5000-verona-75: #7f918f;
@alligator-collection-5000-verona-80: #a4b1af;
@alligator-collection-5000-verona-85: #cddad6;
@alligator-collection-5000-verona-40: #8e9795;
@alligator-collection-5000-verona-45: #b1b8b5;
@alligator-collection-5000-verona-50: #c1c5c2;
@alligator-collection-5000-verona-5: #abaead;
@alligator-collection-5000-verona-10: #c9cac7;
@alligator-collection-5000-verona-15: #cfd3cf;
@alligator-collection-5000-pacific-34: #465560;
@alligator-collection-5000-pacific-40: #657079;
@alligator-collection-5000-pacific-45: #7a868e;
@alligator-collection-5000-pacific-110: #8496a3;
@alligator-collection-5000-pacific-65: #9aa5aa;
@alligator-collection-5000-pacific-75: #a5b3bb;
@alligator-collection-5000-pacific-80: #c1ced3;
@alligator-collection-5000-lazur-100: #5c6c83;
@alligator-collection-5000-lazur-70: #576170;
@alligator-collection-5000-lazur-75: #717a88;
@alligator-collection-5000-lazur-80: #8894a5;
@alligator-collection-5000-lazur-85: #a7b0bc;
@alligator-collection-5000-lazur-35: #c6ccd5;
@alligator-collection-5000-lazur-40: #d4d9e0;
@alligator-collection-5000-lazur-5: #7e858f;
@alligator-collection-5000-lazur-10: #949aa1;
@alligator-collection-5000-lazur-15: #abafb4;
@alligator-collection-5000-astra-62: #495569;
@alligator-collection-5000-astra-65: #6a778f;
@alligator-collection-5000-astra-70: #8795ab;
@alligator-collection-5000-astra-35: #a4aebe;
@alligator-collection-5000-astra-5: #9ba1aa;
@alligator-collection-5000-astra-40: #b5bdc8;
@alligator-collection-5000-astra-15: #c6ccd3;
@alligator-collection-5000-astra-10: #babdc3;
@alligator-collection-5000-astra-20: #d7dade;
@alligator-collection-5000-astra-30: #e6e8e8;
@alligator-collection-5000-lavendel-65: #51556b;
@alligator-collection-5000-lavendel-40: #5d5e68;
@alligator-collection-5000-lavendel-45: #777781;
@alligator-collection-5000-lavendel-50: #a2a3ae;
@alligator-collection-5000-lavendel-5: #95969e;
@alligator-collection-5000-lavendel-10: #b0b0ba;
@alligator-collection-5000-lavendel-15: #bcbcc6;
@alligator-collection-5000-lavendel-20: #ccccd0;
@alligator-collection-5000-lavendel-25: #d9d9dc;
@alligator-collection-5000-lavendel-30: #e6e5e6;
@alligator-collection-5000-flamenco-62: #654750;
@alligator-collection-5000-flamenco-35: #877479;
@alligator-collection-5000-flamenco-45: #b19da1;
@alligator-collection-5000-flamenco-85: #dcc8c9;
@alligator-collection-5000-flamenco-5: #82797a;
@alligator-collection-5000-flamenco-40: #9d8e92;
@alligator-collection-5000-flamenco-50: #beb0b3;
@alligator-collection-5000-flamenco-10: #b8adae;
@alligator-collection-5000-flamenco-15: #d2c8c8;
@alligator-collection-5000-flamenco-20: #dfd8d6;
@alligator-collection-5000-quarz-2: #77706e;
@alligator-collection-5000-quarz-4: #827c79;
@alligator-collection-5000-quarz-5: #938b89;
@alligator-collection-5000-quarz-8: #aca5a2;
@alligator-collection-5000-quarz-14: #c3bfbd;
@alligator-collection-5000-quarz-18: #d1cdcb;
@alligator-collection-5000-palazzo-2: #56524d;
@alligator-collection-5000-palazzo-4: #6f6a63;
@alligator-collection-5000-palazzo-35: #87827a;
@alligator-collection-5000-palazzo-5: #a5a19b;
@alligator-collection-5000-palazzo-15: #c0bdb6;
@alligator-collection-5000-palazzo-25: #dbd8d1;
@alligator-collection-5000-jade-1: #52534c;
@alligator-collection-5000-jade-2: #6f6e68;
@alligator-collection-5000-jade-3: #83827e;
@alligator-collection-5000-jade-4: #a09f9b;
@alligator-collection-5000-jade-8: #bebdb8;
@alligator-collection-5000-jade-14: #cccbc6;
@alligator-collection-5000-petrol-5: #515859;
@alligator-collection-5000-petrol-10: #6f7472;
@alligator-collection-5000-petrol-15: #808484;
@alligator-collection-5000-petrol-20: #959899;
@alligator-collection-5000-petrol-25: #a9aaa9;
@alligator-collection-5000-petrol-30: #bebebd;
@alligator-collection-5000-pacific-8: #6c6d6d;
@alligator-collection-5000-pacific-12: #7d7e80;
@alligator-collection-5000-pacific-14: #9fa0a1;
@alligator-collection-5000-pacific-18: #afaeae;
@alligator-collection-5000-pacific-24: #c4c3c2;
@alligator-collection-5000-pacific-28: #d6d6d5;
@alligator-collection-5000-schwarz-grau: #545353;
@alligator-collection-5000-grau-35: #6f6c6c;
@alligator-collection-5000-grau-5: #787776;
@alligator-collection-5000-grau-10: #93908e;
@alligator-collection-5000-grau-15: #b1aeab;
@alligator-collection-5000-grau-20: #cdcac7;
@alligator-collection-5000-rose-85: #d7b3b9;
@alligator-collection-5000-rose-90: #fce1e1;
@alligator-collection-5000-rose-60: #f9e8e6;
@alligator-collection-5000-cameo-145: #f6bbac;
@alligator-collection-5000-cameo-120: #fde0d6;
@alligator-collection-5000-cameo-60: #f1e7e2;
@alligator-collection-5000-aprico-80: #ecbfac;
@alligator-collection-5000-aprico-175: #ffdecc;
@alligator-collection-5000-aprico-25: #eee8e2;
@alligator-collection-5000-onyx-205: #ffd4a3;
@alligator-collection-5000-onyx-180: #ffe0c0;
@alligator-collection-5000-onyx-90: #f7ecdc;
@alligator-collection-5000-palazzo-230: #f7d5a1;
@alligator-collection-5000-palazzo-235: #ffe2b5;
@alligator-collection-5000-palazzo-240: #fbf1dc;
@alligator-collection-5000-ginster-105: #f8d48e;
@alligator-collection-5000-ginster-150: #fee099;
@alligator-collection-5000-ginster-120: #fdeac2;
@alligator-collection-5000-curry-145: #fee38a;
@alligator-collection-5000-curry-85: #fdecc2;
@alligator-collection-5000-curry-55: #faeed2;
@alligator-collection-5000-melisse-85: #f9ecb3;
@alligator-collection-5000-melisse-120: #f9f0c3;
@alligator-collection-5000-melisse-30: #f9f3dd;
@alligator-collection-5000-jade-115: #dee5ad;
@alligator-collection-5000-jade-120: #e5eca7;
@alligator-collection-5000-jade-90: #f1f0d9;
@alligator-collection-5000-moos-110: #c6d29f;
@alligator-collection-5000-moos-115: #e3ecc6;
@alligator-collection-5000-moos-120: #e9f2d2;
@alligator-collection-5000-patina-85: #a6d5c7;
@alligator-collection-5000-patina-60: #c8dbd3;
@alligator-collection-5000-patina-90: #e9f1e8;
@alligator-collection-5000-pacific-150: #b3d1e0;
@alligator-collection-5000-pacific-120: #bccfd8;
@alligator-collection-5000-pacific-85: #e0e8e7;
@alligator-collection-5000-lazur-145: #9eb2cd;
@alligator-collection-5000-lazur-120: #bfcdde;
@alligator-collection-5000-lazur-25: #d5d6d6;
@alligator-collection-5000-aquarell-110: #bacbe8;
@alligator-collection-5000-aquarell-85: #d2d8e9;
@alligator-collection-5000-aquarell-115: #e6e9ef;
@alligator-collection-5000-amethyst-80: #b2acbc;
@alligator-collection-5000-amethyst-85: #ccc6d1;
@alligator-collection-5000-amethyst-90: #ebe6ea;