// oracal-951-premium-cast
@oracal-951-premium-cast-201-krokusgelb: #ebd802;
@oracal-951-premium-cast-216-verkehrsgelb: #f6c200;
@oracal-951-premium-cast-209-maisgelb: #fbb900;
@oracal-951-premium-cast-219-dottergeld: #f5aa00;
@oracal-951-premium-cast-020-goldgelb: #faa300;
@oracal-951-premium-cast-204-melonengelb: #eda300;
@oracal-951-premium-cast-208-postgelb: #d9a000;
@oracal-951-premium-cast-019-signalgelb: #eca600;
@oracal-951-premium-cast-817-mandel: #ece0d2;
@oracal-951-premium-cast-023-creme: #eed89c;
@oracal-951-premium-cast-804-beigebraun: #e4c798;
@oracal-951-premium-cast-818-safrangelb: #debb91;
@oracal-951-premium-cast-816-papyrus: #d8c8ab;
@oracal-951-premium-cast-341-koralle: #f28775;
@oracal-951-premium-cast-035-pastellorange: #ee6100;
@oracal-951-premium-cast-332-tieforange: #e36300;
@oracal-951-premium-cast-333-reinorange: #e15518;
@oracal-951-premium-cast-335-marsrot: #d93e0d;
@oracal-951-premium-cast-326-signalrot: #c32809;
@oracal-951-premium-cast-035-hellrot: #c1210e;
@oracal-951-premium-cast-324-blutrot: #c01918;
@oracal-951-premium-cast-359-tomato: #b1260d;
@oracal-951-premium-cast-031-rot: #a51d18;
@oracal-951-premium-cast-028-kardinalrot: #b30f1f;
@oracal-951-premium-cast-305-geranienrot: #a81418;
@oracal-951-premium-cast-334-feuerwehrrot: #9f1f17;
@oracal-951-premium-cast-348-scarlet-red: #920f21;
@oracal-951-premium-cast-030-dunkelrot: #871320;
@oracal-951-premium-cast-026-purpurrot: #5c131e;
@oracal-951-premium-cast-340-marone: #4a1b28;
@oracal-951-premium-cast-347-red-coral: #d54244;
@oracal-951-premium-cast-044-magenta: #cb5485;
@oracal-951-premium-cast-402-zyklam: #ad336a;
@oracal-951-premium-cast-409-helllila: #b78cbe;
@oracal-951-premium-cast-043-lavendel: #8268ad;
@oracal-951-premium-cast-407-tiefviolett: #5b3d84;
@oracal-951-premium-cast-415-summer-plum: #5e295c;
@oracal-951-premium-cast-048-bordeaux: #621238;
@oracal-951-premium-cast-549-taubenblau: #7792a3;
@oracal-951-premium-cast-555-gletscherblau: #4e81be;
@oracal-951-premium-cast-056-lichtblau: #52afd8;
@oracal-951-premium-cast-053-hellblau: #0097cc;
@oracal-951-premium-cast-547-fjordblau: #0086bf;
@oracal-951-premium-cast-052-azurblau: #0073b8;
@oracal-951-premium-cast-545-ozeanblau: #0065a9;
@oracal-951-premium-cast-086-blillantblau: #3342ad;
@oracal-951-premium-cast-546-samtblau: #194a9a;
@oracal-951-premium-cast-509-meeresblau: #005497;
@oracal-951-premium-cast-544-indigoblau: #005177;
@oracal-951-premium-cast-067-blau: #004b7e;
@oracal-951-premium-cast-536-mittelblau: #113d7e;
@oracal-951-premium-cast-049-konigsblau: #233b7f;
@oracal-951-premium-cast-511-nachtblau: #223b7f;
@oracal-951-premium-cast-065-kobaltblau: #1d2c6c;
@oracal-951-premium-cast-537-tiefblau: #15235a;
@oracal-951-premium-cast-050-dunkelblau: #203965;
@oracal-951-premium-cast-564-light-navy: #082b4f;
@oracal-951-premium-cast-570-mooblight-blue: #192b43;
@oracal-951-premium-cast-518-stahlblau: #191d42;
@oracal-951-premium-cast-571-mystic-blue: #0f2535;
@oracal-951-premium-cast-501-mintblau: #6ed0b9;
@oracal-951-premium-cast-502-blauturkis: #009f96;
@oracal-951-premium-cast-503-wasserblau: #008d8f;
@oracal-951-premium-cast-553-lagune: #00859a;
@oracal-951-premium-cast-628-seegrun: #007367;
@oracal-951-premium-cast-630-blaugrun: #005269;
@oracal-951-premium-cast-601-limettengrun: #82c736;
@oracal-951-premium-cast-602-grasgrun: #479e12;
@oracal-951-premium-cast-062-hellgrun: #00903a;
@oracal-951-premium-cast-619-verkehrsgrun: #008d4f;
@oracal-951-premium-cast-603-mintgrun: #008451;
@oracal-951-premium-cast-604-kaktusgrun: #006f37;
@oracal-951-premium-cast-612-polizeigrun: #007038;
@oracal-951-premium-cast-078-laubgrun: #165619;
@oracal-951-premium-cast-625-moosgrun: #005738;
@oracal-951-premium-cast-060-dunkelgrun: #004c29;
@oracal-951-premium-cast-622-tannengrun: #134228;
@oracal-951-premium-cast-635-forest-green: #174a40;
@oracal-951-premium-cast-820-goldbraun: #d69838;
@oracal-951-premium-cast-811-sahara-beige: #b08353;
@oracal-951-premium-cast-812-terracotta: #ac5121;
@oracal-951-premium-cast-810-kakaobraun: #54352a;
@oracal-951-premium-cast-079-rotbraun: #5f261d;
@oracal-951-premium-cast-080-braun: #442e26;
@oracal-951-premium-cast-070-schwarz: #121213;
@oracal-951-premium-cast-010-wei: #f4f6f4;
@oracal-951-premium-cast-109-hull-white: #dce1e1;
@oracal-951-premium-cast-711-steingrau: #c8c7c7;
@oracal-951-premium-cast-730-simple-grey: #aeb1b1;
@oracal-951-premium-cast-724-eisgrau: #a7a6a2;
@oracal-951-premium-cast-074-mittelgrau: #91928e;
@oracal-951-premium-cast-076-telegrau: #868a8e;
@oracal-951-premium-cast-721-schiefergrau: #7a868d;
@oracal-951-premium-cast-071-grau: #6e716d;
@oracal-951-premium-cast-713-eisengrau: #5e6467;
@oracal-951-premium-cast-073-dunkelgrau: #4e5150;
@oracal-951-premium-cast-704-schwarz-metallic: #202122;
@oracal-951-premium-cast-093-anthrazit: #404243;
@oracal-951-premium-cast-937-holzkohle-metallic: #3d4146;
@oracal-951-premium-cast-936-silizium: #4c4f4c;
@oracal-951-premium-cast-934-zink-metallic: #6a6a65;
@oracal-951-premium-cast-932-graphit-metallic: #5b5d5f;
@oracal-951-premium-cast-935-graugu: #656765;
@oracal-951-premium-cast-905-grau-metallic: #717271;
@oracal-951-premium-cast-908-aluminium: #706e6b;
@oracal-951-premium-cast-906-silber-metallic: #878b8e;
@oracal-951-premium-cast-933-zinn-metallic: #898a89;
@oracal-951-premium-cast-090-silbergrau: #a8aaaa;
@oracal-951-premium-cast-904-silbersee: #a8aaaa;
@oracal-951-premium-cast-092-kupfer: #955e2b;
@oracal-951-premium-cast-920-bronze: #8d6639;
@oracal-951-premium-cast-925-bleichgold: #987e4c;
@oracal-951-premium-cast-926-pyrit: #ab9058;
@oracal-951-premium-cast-091-gold: #a08d56;
@oracal-951-premium-cast-919-gold-metallic: #a38557;
@oracal-951-premium-cast-922-messing: #a29179;
@oracal-951-premium-cast-921-bronze-antik: #7d6351;
@oracal-951-premium-cast-923-hellbraun-metallic: #8b8079;
@oracal-951-premium-cast-924-champagner: #a19590;
@oracal-951-premium-cast-369-rotbraun-metallic: #61191f;
@oracal-951-premium-cast-368-dunkelrot-metallic: #860823;
@oracal-951-premium-cast-367-rot-metallic: #8c0e27;
@oracal-951-premium-cast-366-rotgold: #986448;
@oracal-951-premium-cast-406-violett-metallic: #463365;
@oracal-951-premium-cast-190-moonlight-metallic: #142030;
@oracal-951-premium-cast-191-grunblau-metallic: #0e3046;
@oracal-951-premium-cast-192-tiefblau-metallic: #172d52;
@oracal-951-premium-cast-189-midnight-metallic: #1f3655;
@oracal-951-premium-cast-193-navy-metallic: #253e5b;
@oracal-951-premium-cast-196-nachtblau-metallic: #004574;
@oracal-951-premium-cast-580-bever-blue-metallic: #005f8d;
@oracal-951-premium-cast-197-azur-metallic: #005b8b;
@oracal-951-premium-cast-194-blaugrau-metallic: #385f71;
@oracal-951-premium-cast-199-turkis-metallic: #005770;
@oracal-951-premium-cast-195-taubenblau-metallic: #7595a8;
@oracal-951-premium-cast-673-jade-metallic: #253337;
@oracal-951-premium-cast-677-tannengrun-metallic: #30483e;
@oracal-951-premium-cast-678-herbstgrun-metallic: #3c453a;
@oracal-951-premium-cast-679-laubgrun-metallic: #2b4b2b;
@oracal-951-premium-cast-680-steppengrun-metallic: #666651;
@oracal-951-premium-cast-676-waldgrun-metallic: #00564c;
@oracal-951-premium-cast-675-seegrun-metallic: #0a545a;
@oracal-951-premium-cast-637-teal-metallic: #005e68;
@oracal-951-premium-cast-674-mint-metallic: #487376;
@oracal-951-premium-cast-681-graugrun-metallic: #869493;