// alligator-collection-5000-plus
@alligator-collection-5000-plus-korall-135: #9b5d58;
@alligator-collection-5000-plus-korall-70: #a07772;
@alligator-collection-5000-plus-korall-115: #8d5f5b;
@alligator-collection-5000-plus-korall-105: #7d5653;
@alligator-collection-5000-plus-korall-65: #947875;
@alligator-collection-5000-plus-korall-110: #745c5b;
@alligator-collection-5000-plus-korall-95: #554343;
@alligator-collection-5000-plus-korall-20: #e2d7d3;
@alligator-collection-5000-plus-korall-45: #cfbfba;
@alligator-collection-5000-plus-korall-35: #b6a4a1;
@alligator-collection-5000-plus-korall-15: #dacdc9;
@alligator-collection-5000-plus-korall-10: #b5aaa8;
@alligator-collection-5000-plus-korall-5: #a0908d;
@alligator-collection-5000-plus-bordeaux-55: #cfa19c;
@alligator-collection-5000-plus-bordeaux-45: #af7269;
@alligator-collection-5000-plus-bordeaux-73: #ad6a63;
@alligator-collection-5000-plus-bordeaux-60: #e9c4bc;
@alligator-collection-5000-plus-bordeaux-50: #b78178;
@alligator-collection-5000-plus-bordeaux-35: #7e514b;
@alligator-collection-5000-plus-bordeaux-15: #bda7a1;
@alligator-collection-5000-plus-bordeaux-10: #b99891;
@alligator-collection-5000-plus-bordeaux-5: #a88b85;
@alligator-collection-5000-plus-cameo-125: #a15545;
@alligator-collection-5000-plus-cameo-135: #c57f6e;
@alligator-collection-5000-plus-cameo-130: #aa685b;
@alligator-collection-5000-plus-cameo-95: #8a5649;
@alligator-collection-5000-plus-cameo-50: #cbb6af;
@alligator-collection-5000-plus-cameo-70: #aa8a81;
@alligator-collection-5000-plus-cameo-65: #906f66;
@alligator-collection-5000-plus-cameo-20: #ddd1ca;
@alligator-collection-5000-plus-cameo-40: #a5928c;
@alligator-collection-5000-plus-cameo-35: #85726e;
@alligator-collection-5000-plus-cameo-15: #cec7c3;
@alligator-collection-5000-plus-cameo-10: #b8ada9;
@alligator-collection-5000-plus-cameo-5: #9a8c88;
@alligator-collection-5000-plus-lachs-100: #ba654b;
@alligator-collection-5000-plus-lachs-75: #d58d6e;
@alligator-collection-5000-plus-lachs-70: #cd8063;
@alligator-collection-5000-plus-lachs-65: #a86751;
@alligator-collection-5000-plus-lachs-10: #d6b4a6;
@alligator-collection-5000-plus-lachs-50: #dba693;
@alligator-collection-5000-plus-lachs-35: #b7826f;
@alligator-collection-5000-plus-lachs-30: #fae7db;
@alligator-collection-5000-plus-lachs-20: #efd2c5;
@alligator-collection-5000-plus-lachs-45: #cca597;
@alligator-collection-5000-plus-aprico-125: #c66c46;
@alligator-collection-5000-plus-aprico-110: #e19d7c;
@alligator-collection-5000-plus-aprico-100: #d18e6f;
@alligator-collection-5000-plus-aprico-135: #c87f5f;
@alligator-collection-5000-plus-aprico-55: #eed1c4;
@alligator-collection-5000-plus-aprico-75: #e3b098;
@alligator-collection-5000-plus-aprico-105: #c3917a;
@alligator-collection-5000-plus-aprico-60: #fbe3d4;
@alligator-collection-5000-plus-aprico-50: #e2c5b7;
@alligator-collection-5000-plus-aprico-70: #bb9887;
@alligator-collection-5000-plus-aprico-20: #e0d5cd;
@alligator-collection-5000-plus-aprico-15: #d5c8bf;
@alligator-collection-5000-plus-aprico-10: #c0a99f;
@alligator-collection-5000-plus-aprico-25: #ede6de;
@alligator-collection-5000-plus-aprico-80: #e9bdaa;
@alligator-collection-5000-plus-aprico-45: #dab4a5;
@alligator-collection-5000-plus-siena-155: #c48246;
@alligator-collection-5000-plus-siena-165: #eaad7c;
@alligator-collection-5000-plus-siena-135: #dfaf85;
@alligator-collection-5000-plus-siena-130: #c4976d;
@alligator-collection-5000-plus-siena-55: #e6d4c2;
@alligator-collection-5000-plus-siena-90: #e5cab3;
@alligator-collection-5000-plus-siena-85: #d0b7a1;
@alligator-collection-5000-plus-siena-50: #dacdc0;
@alligator-collection-5000-plus-siena-45: #c3b0a1;
@alligator-collection-5000-plus-siena-40: #a99483;
@alligator-collection-5000-plus-siena-20: #c4bab2;
@alligator-collection-5000-plus-siena-15: #a89c92;
@alligator-collection-5000-plus-siena-10: #928478;
@alligator-collection-5000-plus-onyx-220: #e7993b;
@alligator-collection-5000-plus-onyx-175: #f9cca1;
@alligator-collection-5000-plus-onyx-170: #f0be88;
@alligator-collection-5000-plus-onyx-185: #db9d5b;
@alligator-collection-5000-plus-onyx-90: #f6e9d9;
@alligator-collection-5000-plus-onyx-75: #dfccb7;
@alligator-collection-5000-plus-onyx-183: #f6dabb;
@alligator-collection-5000-plus-onyx-110: #e0c3a6;
@alligator-collection-5000-plus-onyx-105: #d6b491;
@alligator-collection-5000-plus-onyx-125: #bb9673;
@alligator-collection-5000-plus-onyx-70: #d0c0b0;
@alligator-collection-5000-plus-onyx-65: #b29981;
@alligator-collection-5000-plus-onyx-95: #98826b;
@alligator-collection-5000-plus-mais-0: #e7a837;
@alligator-collection-5000-plus-mais-14: #f9e19d;
@alligator-collection-5000-plus-mais-13: #f7d681;
@alligator-collection-5000-plus-mais-12: #f2c55e;
@alligator-collection-5000-plus-mais-18: #f6f1d9;
@alligator-collection-5000-plus-mais-16: #f8ebc3;
@alligator-collection-5000-plus-mais-15: #f8e8b4;
@alligator-collection-5000-plus-caramel-94: #ad8a5e;
@alligator-collection-5000-plus-caramel-90: #f9f0e2;
@alligator-collection-5000-plus-caramel-123: #f6d8b0;
@alligator-collection-5000-plus-caramel-110: #f6cf9c;
@alligator-collection-5000-plus-caramel-85: #f2e3ce;
@alligator-collection-5000-plus-caramel-75: #ebd5bb;
@alligator-collection-5000-plus-caramel-65: #d0b491;
@alligator-collection-5000-plus-palazzo-245: #997a4a;
@alligator-collection-5000-plus-palazzo-295: #ecbf74;
@alligator-collection-5000-plus-palazzo-285: #cfa34f;
@alligator-collection-5000-plus-palazzo-305: #b48740;
@alligator-collection-5000-plus-palazzo-260: #dfba7f;
@alligator-collection-5000-plus-palazzo-255: #d2aa66;
@alligator-collection-5000-plus-palazzo-250: #b28b49;
@alligator-collection-5000-plus-palazzo-265: #f5ce8e;
@alligator-collection-5000-plus-palazzo-290: #ddac5b;
@alligator-collection-5000-plus-palazzo-225: #d3b689;
@alligator-collection-5000-plus-palazzo-240: #f8eeda;
@alligator-collection-5000-plus-palazzo-235: #fbdeb2;
@alligator-collection-5000-plus-palazzo-230: #f4d29f;
@alligator-collection-5000-plus-palazzo-180: #f6e7cf;
@alligator-collection-5000-plus-palazzo-175: #e8d3b3;
@alligator-collection-5000-plus-palazzo-205: #e1c49c;
@alligator-collection-5000-plus-palazzo-170: #cebc9e;
@alligator-collection-5000-plus-palazzo-200: #c4ad8a;
@alligator-collection-5000-plus-palazzo-190: #937c57;
@alligator-collection-5000-plus-palazzo-150: #ddccb3;
@alligator-collection-5000-plus-palazzo-145: #c6b8a3;
@alligator-collection-5000-plus-palazzo-135: #8e7f6a;
@alligator-collection-5000-plus-palazzo-85: #c6bcaf;
@alligator-collection-5000-plus-palazzo-110: #b7aea0;
@alligator-collection-5000-plus-palazzo-100: #968b7b;
@alligator-collection-5000-plus-palazzo-50: #d2ccc0;
@alligator-collection-5000-plus-palazzo-40: #b0aaa2;
@alligator-collection-5000-plus-palazzo-75: #827c73;
@alligator-collection-5000-plus-ginster-94: #a58a4a;
@alligator-collection-5000-plus-ginster-115: #f4ddae;
@alligator-collection-5000-plus-ginster-110: #efd291;
@alligator-collection-5000-plus-ginster-100: #e6c480;
@alligator-collection-5000-plus-ginster-120: #f9e7c0;
@alligator-collection-5000-plus-ginster-105: #f5d08b;
@alligator-collection-5000-plus-ginster-95: #d9bf8c;
@alligator-collection-5000-plus-ginster-60: #f0e4cc;
@alligator-collection-5000-plus-ginster-80: #decda8;
@alligator-collection-5000-plus-ginster-70: #c1ab81;
@alligator-collection-5000-plus-ginster-50: #d4c7ae;
@alligator-collection-5000-plus-ginster-45: #b5aa91;
@alligator-collection-5000-plus-ginster-35: #8b7b62;
@alligator-collection-5000-plus-ginster-15: #cbc4b6;
@alligator-collection-5000-plus-ginster-5: #b2a895;
@alligator-collection-5000-plus-ginster-40: #998d75;
@alligator-collection-5000-plus-curry-110: #eed591;
@alligator-collection-5000-plus-curry-55: #f4e9ce;
@alligator-collection-5000-plus-curry-85: #f8e9be;
@alligator-collection-5000-plus-curry-120: #f8e5ad;
@alligator-collection-5000-plus-curry-80: #eedcae;
@alligator-collection-5000-plus-curry-45: #dbca9d;
@alligator-collection-5000-plus-curry-40: #c0af80;
@alligator-collection-5000-plus-curry-15: #dcd5c2;
@alligator-collection-5000-plus-curry-10: #cdc4aa;
@alligator-collection-5000-plus-curry-5: #beb295;
@alligator-collection-5000-plus-melisse-32: #7d7860;
@alligator-collection-5000-plus-melisse-90: #f7efd0;
@alligator-collection-5000-plus-melisse-80: #ddcf99;
@alligator-collection-5000-plus-melisse-75: #b9aa77;
@alligator-collection-5000-plus-melisse-30: #f5eed8;
@alligator-collection-5000-plus-melisse-120: #f6edbf;
@alligator-collection-5000-plus-melisse-85: #f7e9b1;
@alligator-collection-5000-plus-melisse-50: #e8e0c6;
@alligator-collection-5000-plus-melisse-40: #d0c9ae;
@alligator-collection-5000-plus-melisse-35: #b7ad8c;
@alligator-collection-5000-plus-marone-0: #7a5948;
@alligator-collection-5000-plus-marone-14: #d3b8a0;
@alligator-collection-5000-plus-marone-13: #c4a388;
@alligator-collection-5000-plus-marone-12: #ab856b;
@alligator-collection-5000-plus-marone-18: #f1e6da;
@alligator-collection-5000-plus-marone-16: #e8d6c6;
@alligator-collection-5000-plus-marone-15: #e0cab6;
@alligator-collection-5000-plus-nutria-0: #705b4b;
@alligator-collection-5000-plus-nutria-14: #cbb69f;
@alligator-collection-5000-plus-nutria-13: #b9a087;
@alligator-collection-5000-plus-nutria-12: #9e846c;
@alligator-collection-5000-plus-nutria-18: #ede6da;
@alligator-collection-5000-plus-nutria-16: #e2d6c6;
@alligator-collection-5000-plus-nutria-15: #d8c8b4;
@alligator-collection-5000-plus-terra-0: #976649;
@alligator-collection-5000-plus-terra-14: #e2b793;
@alligator-collection-5000-plus-terra-13: #d3a279;
@alligator-collection-5000-plus-terra-12: #bf875c;
@alligator-collection-5000-plus-terra-18: #f4e4d4;
@alligator-collection-5000-plus-terra-16: #efd5bc;
@alligator-collection-5000-plus-terra-15: #e8c6a7;
@alligator-collection-5000-plus-havanna-0: #846145;
@alligator-collection-5000-plus-havanna-14: #d5b895;
@alligator-collection-5000-plus-havanna-13: #c8a681;
@alligator-collection-5000-plus-havanna-12: #ad8762;
@alligator-collection-5000-plus-havanna-18: #f1e6d6;
@alligator-collection-5000-plus-havanna-16: #ead7c1;
@alligator-collection-5000-plus-havanna-15: #e3caad;
@alligator-collection-5000-plus-muskat-0: #736453;
@alligator-collection-5000-plus-muskat-14: #d2c4ad;
@alligator-collection-5000-plus-muskat-13: #c2b196;
@alligator-collection-5000-plus-muskat-12: #a19076;
@alligator-collection-5000-plus-muskat-18: #f2ece0;
@alligator-collection-5000-plus-muskat-16: #e8dfcf;
@alligator-collection-5000-plus-muskat-15: #ded4c0;
@alligator-collection-5000-plus-jade-62: #767662;
@alligator-collection-5000-plus-jade-80: #cfd1b1;
@alligator-collection-5000-plus-jade-75: #bcbda3;
@alligator-collection-5000-plus-jade-100: #a0a47e;
@alligator-collection-5000-plus-jade-85: #e1e0c5;
@alligator-collection-5000-plus-jade-110: #d6daa9;
@alligator-collection-5000-plus-jade-105: #b9be8d;
@alligator-collection-5000-plus-jade-90: #eeedd6;
@alligator-collection-5000-plus-jade-120: #e1e8a3;
@alligator-collection-5000-plus-jade-115: #dae1aa;
@alligator-collection-5000-plus-jade-25: #e0ddd5;
@alligator-collection-5000-plus-jade-50: #cbcac1;
@alligator-collection-5000-plus-jade-5: #b0b0a9;
@alligator-collection-5000-plus-moos-62: #6c765d;
@alligator-collection-5000-plus-moos-120: #e5edcf;
@alligator-collection-5000-plus-moss-115: #dfe8c3;
@alligator-collection-5000-plus-moos-110: #c2cf9d;
@alligator-collection-5000-plus-moos-90: #ebecd8;
@alligator-collection-5000-plus-moos-60: #dddfcf;
@alligator-collection-5000-plus-moos-85: #d3d9bf;
@alligator-collection-5000-plus-moos-50: #bebfb2;
@alligator-collection-5000-plus-moos-40: #a7aa9c;
@alligator-collection-5000-plus-moos-35: #959a86;
@alligator-collection-5000-plus-moos-55: #d0d0c7;
@alligator-collection-5000-plus-moos-45: #b9b9b2;
@alligator-collection-5000-plus-moos-20: #a6a6a2;
@alligator-collection-5000-plus-oase-44: #68765c;
@alligator-collection-5000-plus-oase-85: #d1d9c8;
@alligator-collection-5000-plus-oase-115: #afc39d;
@alligator-collection-5000-plus-oase-75: #909f81;
@alligator-collection-5000-plus-oase-60: #eaece0;
@alligator-collection-5000-plus-oase-50: #b4c0a7;
@alligator-collection-5000-plus-oase-45: #788368;
@alligator-collection-5000-plus-oase-20: #c5cbbf;
@alligator-collection-5000-plus-oase-15: #a8afa1;
@alligator-collection-5000-plus-oase-5: #87907f;
@alligator-collection-5000-plus-mint-33: #597263;
@alligator-collection-5000-plus-mint-55: #bbcbbe;
@alligator-collection-5000-plus-mint-50: #a3b5ab;
@alligator-collection-5000-plus-mint-45: #8aa390;
@alligator-collection-5000-plus-mint-15: #c2c9c0;
@alligator-collection-5000-plus-mint-10: #a2aaa4;
@alligator-collection-5000-plus-mint-5: #8c938c;
@alligator-collection-5000-plus-verona-63: #526d6e;
@alligator-collection-5000-plus-verona-85: #cad8d3;
@alligator-collection-5000-plus-verona-80: #a4b2af;
@alligator-collection-5000-plus-verona-75: #7e8f8e;
@alligator-collection-5000-plus-verona-50: #bdc2bf;
@alligator-collection-5000-plus-verona-45: #b0b7b5;
@alligator-collection-5000-plus-verona-40: #8c9493;
@alligator-collection-5000-plus-verona-15: #ced2cd;
@alligator-collection-5000-plus-verona-10: #c7c9c5;
@alligator-collection-5000-plus-verona-5: #a9adac;
@alligator-collection-5000-plus-pacific-34: #465560;
@alligator-collection-5000-plus-pacific-110: #8194a1;
@alligator-collection-5000-plus-pacific-45: #78868d;
@alligator-collection-5000-plus-pacific-40: #647079;
@alligator-collection-5000-plus-pacific-80: #becbd0;
@alligator-collection-5000-plus-pacific-75: #a3b2ba;
@alligator-collection-5000-plus-pacific-65: #9aa5ab;
@alligator-collection-5000-plus-pacific-140: #7b97a8;
@alligator-collection-5000-plus-pacific-135: #5f7d8f;
@alligator-collection-5000-plus-pacific-100: #436070;
@alligator-collection-5000-plus-pacific-55: #ced2d2;
@alligator-collection-5000-plus-pacific-145: #99b2bf;
@alligator-collection-5000-plus-pacific-105: #819aa8;
@alligator-collection-5000-plus-pacific-85: #dce5e3;
@alligator-collection-5000-plus-pacific-120: #b8cbd3;
@alligator-collection-5000-plus-pacific-150: #b0cedc;
@alligator-collection-5000-plus-flamenco-85: #d8c3c5;
@alligator-collection-5000-plus-flamenco-50: #bcafb2;
@alligator-collection-5000-plus-flamenco-5: #807878;
@alligator-collection-5000-plus-flamenco-20: #ddd6d3;
@alligator-collection-5000-plus-flamenco-15: #d0c6c5;
@alligator-collection-5000-plus-flamenco-10: #b8adaf;
@alligator-collection-5000-plus-quarz-5: #928b87;
@alligator-collection-5000-plus-quarz-4: #827d79;
@alligator-collection-5000-plus-quarz-2: #756f6c;
@alligator-collection-5000-plus-quarz-18: #d0ccc9;
@alligator-collection-5000-plus-quarz-14: #c0bcb9;
@alligator-collection-5000-plus-quarz-8: #a9a29f;
@alligator-collection-5000-plus-palazzo-35: #858078;
@alligator-collection-5000-plus-palazzo-4: #6f6a63;
@alligator-collection-5000-plus-palazzo-2: #54514e;
@alligator-collection-5000-plus-palazzo-25: #dad6d0;
@alligator-collection-5000-plus-palazzo: #bebbb4;
@alligator-collection-5000-plus-palazzo-5: #a19d98;
@alligator-collection-5000-plus-jade-3: #84837f;
@alligator-collection-5000-plus-jade-2: #706f67;
@alligator-collection-5000-plus-jade-1: #4f504c;
@alligator-collection-5000-plus-jade-14: #cac8c4;
@alligator-collection-5000-plus-jade-8: #bbbab6;
@alligator-collection-5000-plus-jade-4: #9f9e9b;
@alligator-collection-5000-plus-petrol-15: #7e8484;
@alligator-collection-5000-plus-petrol-10: #6d7271;
@alligator-collection-5000-plus-petrol-5: #505859;
@alligator-collection-5000-plus-petrol-30: #bdbcba;
@alligator-collection-5000-plus-petrol-25: #a9aaa9;
@alligator-collection-5000-plus-petrol-20: #919597;
@alligator-collection-5000-plus-pacific-14: #9e9fa0;
@alligator-collection-5000-plus-pacific-12: #7c7e80;
@alligator-collection-5000-plus-pacific-8: #686a6a;
@alligator-collection-5000-plus-pacific-28: #d4d4d2;
@alligator-collection-5000-plus-pacific-24: #c0bfbf;
@alligator-collection-5000-plus-pacific-18: #afaead;
@alligator-collection-5000-plus-grau-5: #797776;
@alligator-collection-5000-plus-grau-35: #6f6d6d;
@alligator-collection-5000-plus-schwarz-grau: #525252;
@alligator-collection-5000-plus-grau-20: #c9c7c4;
@alligator-collection-5000-plus-grau-15: #aeaca9;
@alligator-collection-5000-plus-grau-10: #928f8e;
@alligator-collection-5000-plus-marill-30: #dad3c9;
@alligator-collection-5000-plus-marill-25: #c2b8ac;
@alligator-collection-5000-plus-marill-20: #a99f92;
@alligator-collection-5000-plus-marill-150: #fee0b8;
@alligator-collection-5000-plus-marill-145: #ffd89d;
@alligator-collection-5000-plus-marill-140: #ffcf89;
@alligator-collection-5000-plus-marill-135: #ffc66c;
@alligator-collection-5000-plus-marill-130: #ffbf54;
@alligator-collection-5000-plus-marill-125: #ffb736;
@alligator-collection-5000-plus-oase-150: #acd58f;
@alligator-collection-5000-plus-oase-145: #8bc667;
@alligator-collection-5000-plus-oase-140: #7db754;
@alligator-collection-5000-plus-oase-135: #80a668;
@alligator-collection-5000-plus-oase-130: #62994a;
@alligator-collection-5000-plus-oase-125: #527e44;
@alligator-collection-5000-plus-lago-120: #d3e5ee;
@alligator-collection-5000-plus-lago-115: #b1cbdd;
@alligator-collection-5000-plus-lago-105: #6b95b5;
@alligator-collection-5000-plus-lazur-25: #d3d4d4;
@alligator-collection-5000-plus-lazur-120: #bccbdb;
@alligator-collection-5000-plus-lazur-145: #9aafc9;
@alligator-collection-5000-plus-aquarell-115: #e3e5e8;
@alligator-collection-5000-plus-aquarell-85: #cdd4e3;
@alligator-collection-5000-plus-aquarell-110: #b6c9e4;
@alligator-collection-5000-plus-amethyst-90: #e6e1e3;
@alligator-collection-5000-plus-amethyst-85: #cac5cf;
@alligator-collection-5000-plus-amethyst-80: #b1abbb;
@alligator-collection-5000-plus-rose-60: #f2e2df;
@alligator-collection-5000-plus-rose-90: #f7dcdc;
@alligator-collection-5000-plus-rose-85: #d3b1b7;
@alligator-collection-5000-plus-kuhl-wei: #e5e5e0;
@alligator-collection-5000-plus-grau-wei: #efede5;
@alligator-collection-5000-plus-hell-wei: #f4f3eb;
@alligator-collection-5000-plus-natur-wei: #e9e6dc;
@alligator-collection-5000-plus-umbra-wei: #eae7dc;
@alligator-collection-5000-plus-warm-wei: #ebe7df;
@alligator-collection-5000-plus-echtgelb: #ffd715;
@alligator-collection-5000-plus-echtrot: #d24343;
@alligator-collection-5000-plus-echtblau: #34527d;
@alligator-collection-5000-plus-oxidgelb: #bb8144;
@alligator-collection-5000-plus-mittelbraun: #8a6a4c;
@alligator-collection-5000-plus-oxidrot: #864a42;
@alligator-collection-5000-plus-oxidgruen: #5a7250;
@alligator-collection-5000-plus-braun: #684f47;
@alligator-collection-5000-plus-dunkelbraun: #5a4d48;
@alligator-collection-5000-plus-wei: #faf7ef;
@alligator-collection-5000-plus-mittelgrau: #81827d;
@alligator-collection-5000-plus-schwarz: #3a3a3b;