// brillux-acrylcolor
@brillux-acrylcolor-anthrazitgrau: #4d4f4b;
@brillux-acrylcolor-anthrazitgrau-1: #5e5d57;
@brillux-acrylcolor-anthrazitgrau-2: #767670;
@brillux-acrylcolor-anthrazitgrau-3: #8e8d85;
@brillux-acrylcolor-anthrazitgrau-4: #abaaa2;
@brillux-acrylcolor-anthrazitgrau-5: #b6b6ae;
@brillux-acrylcolor-anthrazitgrau-6: #c6c5bd;
@brillux-acrylcolor-anthrazitgrau-7: #cfcfca;
@brillux-acrylcolor-anthrazitgrau-8: #d9d9d3;
@brillux-acrylcolor-aprikosenrot: #c37238;
@brillux-acrylcolor-aprikosenrot-1: #db904f;
@brillux-acrylcolor-aprikosenrot-2: #e5a05d;
@brillux-acrylcolor-aprikosenrot-3: #efb378;
@brillux-acrylcolor-aprikosenrot-4: #f6ca99;
@brillux-acrylcolor-aprikosenrot-5: #f3d2ab;
@brillux-acrylcolor-aprikosenrot-6: #f3d9b6;
@brillux-acrylcolor-aprikosenrot-7: #f5e5cd;
@brillux-acrylcolor-aprikosenrot-8: #f1e3ca;
@brillux-acrylcolor-beigebraun: #85684c;
@brillux-acrylcolor-beigebraun-1: #9c7550;
@brillux-acrylcolor-beigebraun-2: #b2906b;
@brillux-acrylcolor-beigebraun-3: #c3a07c;
@brillux-acrylcolor-beigebraun-4: #d2b898;
@brillux-acrylcolor-beigebraun-5: #dec9ad;
@brillux-acrylcolor-beigebraun-6: #e3ceb4;
@brillux-acrylcolor-beigebraun-7: #eddec8;
@brillux-acrylcolor-beigebraun-8: #e9decc;
@brillux-acrylcolor-blau: #2d558a;
@brillux-acrylcolor-braun: #756253;
@brillux-acrylcolor-braunorange: #cb8646;
@brillux-acrylcolor-braunorange-1: #d89755;
@brillux-acrylcolor-braunorange-2: #e3a864;
@brillux-acrylcolor-braunorange-3: #eebd7f;
@brillux-acrylcolor-braunorange-4: #f6cf9c;
@brillux-acrylcolor-braunorange-5: #f5d8af;
@brillux-acrylcolor-braunorange-6: #f7deb8;
@brillux-acrylcolor-braunorange-7: #f8e7cc;
@brillux-acrylcolor-braunorange-8: #f5e8d0;
@brillux-acrylcolor-dunkelbraun: #584944;
@brillux-acrylcolor-farngruen: #6b7953;
@brillux-acrylcolor-farngruen-1: #859466;
@brillux-acrylcolor-farngruen-2: #99a87b;
@brillux-acrylcolor-farngruen-3: #a8ba91;
@brillux-acrylcolor-farngruen-4: #c3cead;
@brillux-acrylcolor-farngruen-5: #cdd8bb;
@brillux-acrylcolor-farngruen-6: #d3ddc3;
@brillux-acrylcolor-farngruen-7: #dfe7d2;
@brillux-acrylcolor-farngruen-8: #e4ead8;
@brillux-acrylcolor-fjordblau: #576168;
@brillux-acrylcolor-fjordblau-1: #6a7981;
@brillux-acrylcolor-fjordblau-2: #7f8f98;
@brillux-acrylcolor-fjordblau-3: #99a7ae;
@brillux-acrylcolor-fjordblau-4: #afbdc1;
@brillux-acrylcolor-fjordblau-5: #bec9cc;
@brillux-acrylcolor-fjordblau-6: #c6cfd1;
@brillux-acrylcolor-fjordblau-7: #d5dbd9;
@brillux-acrylcolor-fjordblau-8: #dee2de;
@brillux-acrylcolor-forstgruen: #51694f;
@brillux-acrylcolor-gelb: #eebd00;
@brillux-acrylcolor-goldgelb: #e2a41e;
@brillux-acrylcolor-goldgelb-1: #e7b742;
@brillux-acrylcolor-goldgelb-2: #efc150;
@brillux-acrylcolor-goldgelb-3: #f6d477;
@brillux-acrylcolor-goldgelb-4: #f9de92;
@brillux-acrylcolor-goldgelb-5: #f6e5a8;
@brillux-acrylcolor-goldgelb-6: #f9e9b6;
@brillux-acrylcolor-goldgelb-7: #f7ecc6;
@brillux-acrylcolor-goldgelb-8: #f2e8c8;
@brillux-acrylcolor-goldocker: #bb8e3b;
@brillux-acrylcolor-goldocker-1: #cd9d3a;
@brillux-acrylcolor-goldocker-2: #e2b250;
@brillux-acrylcolor-goldocker-3: #e8c370;
@brillux-acrylcolor-goldocker-4: #e7cb8b;
@brillux-acrylcolor-goldocker-5: #f0daa6;
@brillux-acrylcolor-goldocker-6: #f3ddad;
@brillux-acrylcolor-goldocker-7: #eee1c1;
@brillux-acrylcolor-goldocker-8: #f2e8cc;
@brillux-acrylcolor-inkarot: #8e5048;
@brillux-acrylcolor-inkarot-1: #a5675d;
@brillux-acrylcolor-inkarot-2: #b47a6e;
@brillux-acrylcolor-inkarot-3: #c6948a;
@brillux-acrylcolor-inkarot-4: #d5aba1;
@brillux-acrylcolor-inkarot-5: #dcb8b0;
@brillux-acrylcolor-inkarot-6: #e1c4bd;
@brillux-acrylcolor-inkarot-7: #eed2c8;
@brillux-acrylcolor-inkarot-8: #eed9cf;
@brillux-acrylcolor-lavagrau: #675e4d;
@brillux-acrylcolor-lavagrau-1: #847760;
@brillux-acrylcolor-lavagrau-2: #9c8e75;
@brillux-acrylcolor-lavagrau-3: #b5a990;
@brillux-acrylcolor-lavagrau-4: #c4bba5;
@brillux-acrylcolor-lavagrau-5: #d5ccb8;
@brillux-acrylcolor-lavagrau-6: #dbd3c0;
@brillux-acrylcolor-lavagrau-7: #e7e0d0;
@brillux-acrylcolor-lavagrau-8: #ede6d9;
@brillux-acrylcolor-lehmbraun: #a6704c;
@brillux-acrylcolor-lehmbraun-1: #b87e54;
@brillux-acrylcolor-lehmbraun-2: #ca966b;
@brillux-acrylcolor-lehmbraun-3: #d9aa7d;
@brillux-acrylcolor-lehmbraun-4: #e2bd97;
@brillux-acrylcolor-lehmbraun-5: #e5c6a9;
@brillux-acrylcolor-lehmbraun-6: #ead1b8;
@brillux-acrylcolor-lehmbraun-7: #f0dcc9;
@brillux-acrylcolor-lehmbraun-8: #f0dcca;
@brillux-acrylcolor-limbagruen: #8c7345;
@brillux-acrylcolor-limbagruen-1: #a6874b;
@brillux-acrylcolor-limbagruen-2: #ba9a57;
@brillux-acrylcolor-limbagruen-3: #ccae6b;
@brillux-acrylcolor-limbagruen-4: #d7be85;
@brillux-acrylcolor-limbagruen-5: #e2cd9c;
@brillux-acrylcolor-limbagruen-6: #e8d5aa;
@brillux-acrylcolor-limbagruen-7: #f1e3be;
@brillux-acrylcolor-limbagruen-8: #f5e8cc;
@brillux-acrylcolor-lindgruen: #9f953e;
@brillux-acrylcolor-lindgruen-1: #b8a64f;
@brillux-acrylcolor-lindgruen-2: #c8b760;
@brillux-acrylcolor-lindgruen-3: #d8ca81;
@brillux-acrylcolor-lindgruen-4: #dfd293;
@brillux-acrylcolor-lindgruen-5: #e8dda9;
@brillux-acrylcolor-lindgruen-6: #ebe3b6;
@brillux-acrylcolor-lindgruen-7: #f2ebcc;
@brillux-acrylcolor-lindgruen-8: #f4efd3;
@brillux-acrylcolor-marocbraun: #8f643b;
@brillux-acrylcolor-marocbraun-1: #ac7f4c;
@brillux-acrylcolor-marocbraun-2: #c3965e;
@brillux-acrylcolor-marocbraun-3: #d2aa76;
@brillux-acrylcolor-marocbraun-4: #dfc396;
@brillux-acrylcolor-marocbraun-5: #e6cea9;
@brillux-acrylcolor-marocbraun-6: #ebd7b6;
@brillux-acrylcolor-marocbraun-7: #f3e4cb;
@brillux-acrylcolor-marocbraun-8: #f3e8d1;
@brillux-acrylcolor-ocker: #af8140;
@brillux-acrylcolor-olivgelb: #8a814d;
@brillux-acrylcolor-olivgelb-1: #a3965e;
@brillux-acrylcolor-olivgelb-2: #b8aa71;
@brillux-acrylcolor-olivgelb-3: #cbbc88;
@brillux-acrylcolor-olivgelb-4: #d7cea1;
@brillux-acrylcolor-olivgelb-5: #ded8b9;
@brillux-acrylcolor-olivgelb-6: #e3ddc1;
@brillux-acrylcolor-olivgelb-7: #ece7ce;
@brillux-acrylcolor-olivgelb-8: #f1ecd7;
@brillux-acrylcolor-orange: #cd5a3d;
@brillux-acrylcolor-rot: #b13b3f;
@brillux-acrylcolor-rotbraun: #6f403c;
@brillux-acrylcolor-rubinrot: #882d32;
@brillux-acrylcolor-safrangelb: #d39234;
@brillux-acrylcolor-safrangelb-1: #e5ac4b;
@brillux-acrylcolor-safrangelb-2: #f0bc61;
@brillux-acrylcolor-safrangelb-3: #f2ca7f;
@brillux-acrylcolor-safrangelb-4: #fadda2;
@brillux-acrylcolor-safrangelb-5: #f8e0b2;
@brillux-acrylcolor-safrangelb-6: #f8e6c0;
@brillux-acrylcolor-safrangelb-7: #f9edd0;
@brillux-acrylcolor-safrangelb-8: #f8eed4;
@brillux-acrylcolor-schwarz: #6e5f4f;
@brillux-acrylcolor-sepialbraun: #6e5f4f;
@brillux-acrylcolor-sepialbraun-1: #7e6e5b;
@brillux-acrylcolor-sepialbraun-2: #92826c;
@brillux-acrylcolor-sepialbraun-3: #a79983;
@brillux-acrylcolor-sepialbraun-4: #beb19c;
@brillux-acrylcolor-sepialbraun-5: #ccc1b1;
@brillux-acrylcolor-sepialbraun-6: #d4cabc;
@brillux-acrylcolor-sepialbraun-7: #dbd3c6;
@brillux-acrylcolor-sepialbraun-8: #e5ded1;
@brillux-acrylcolor-tabakbraun: #7a6152;
@brillux-acrylcolor-tabakbraun-1: #89725f;
@brillux-acrylcolor-tabakbraun-2: #a08772;
@brillux-acrylcolor-tabakbraun-3: #b09b87;
@brillux-acrylcolor-tabakbraun-4: #c8b8a7;
@brillux-acrylcolor-tabakbraun-5: #d2c4b5;
@brillux-acrylcolor-tabakbraun-6: #dcd0c2;
@brillux-acrylcolor-tabakbraun-7: #e6dacc;
@brillux-acrylcolor-tabakbraun-8: #eae1d6;
@brillux-acrylcolor-tropicbraun: #67553f;
@brillux-acrylcolor-tropicbraun-1: #836d4d;
@brillux-acrylcolor-tropicbraun-2: #9f8765;
@brillux-acrylcolor-tropicbraun-3: #b49c76;
@brillux-acrylcolor-tropicbraun-4: #c9b696;
@brillux-acrylcolor-tropicbraun-5: #dcccaf;
@brillux-acrylcolor-tropicbraun-6: #e0d0b8;
@brillux-acrylcolor-tropicbraun-7: #e9dcc6;
@brillux-acrylcolor-tropicbraun-8: #eae1ce;
@brillux-acrylcolor-tuerkisgruen: #1c6d55;
@brillux-acrylcolor-umbragruen: #756253;