// al-jazeera-kids-colors
@al-jazeera-kids-colors-k-6079: #ffba00;
@al-jazeera-kids-colors-m-0159: #f8efd6;
@al-jazeera-kids-colors-k-6010: #fbe9c6;
@al-jazeera-kids-colors-k-6115: #e9c498;
@al-jazeera-kids-colors-k-6019: #fde5af;
@al-jazeera-kids-colors-k-6114: #eccf9f;
@al-jazeera-kids-colors-k-6212: #d5a573;
@al-jazeera-kids-colors-k-6039: #ffd983;
@al-jazeera-kids-colors-k-6134: #f6c173;
@al-jazeera-kids-colors-k-6232: #d7904c;
@al-jazeera-kids-colors-k-6006: #f4e7dc;
@al-jazeera-kids-colors-k-6015: #fbdfcf;
@al-jazeera-kids-colors-h-7063: #eac0be;
@al-jazeera-kids-colors-k-6110: #e8d0c5;
@al-jazeera-kids-colors-k-6120: #e9bdaf;
@al-jazeera-kids-colors-h-7074: #e5afb7;
@al-jazeera-kids-colors-k-6208: #d1a69e;
@al-jazeera-kids-colors-k-6228: #cb817b;
@al-jazeera-kids-colors-k-6248: #bd5855;
@al-jazeera-kids-colors-k-6262: #af322f;
@al-jazeera-kids-colors-h-7370: #005f9b;
@al-jazeera-kids-colors-h-7071: #bacdde;
@al-jazeera-kids-colors-t-8026: #c9dbdf;
@al-jazeera-kids-colors-t-8012: #c0e7e1;
@al-jazeera-kids-colors-h-7147: #91a8c9;
@al-jazeera-kids-colors-t-8032: #b2d3de;
@al-jazeera-kids-colors-t-8034: #aed7d7;
@al-jazeera-kids-colors-h-7376: #668dc4;
@al-jazeera-kids-colors-h-7158: #74a2c6;
@al-jazeera-kids-colors-t-8089: #5fa8bb;
@al-jazeera-kids-colors-r-9089: #cfdecd;
@al-jazeera-kids-colors-r-9093: #dce1c6;
@al-jazeera-kids-colors-r-9023: #e8f0bc;
@al-jazeera-kids-colors-r-9184: #a3c0a4;
@al-jazeera-kids-colors-r-9101: #c7dab3;
@al-jazeera-kids-colors-r-9105: #dddda9;
@al-jazeera-kids-colors-r-9205: #82b17a;
@al-jazeera-kids-colors-r-9196: #9eb887;
@al-jazeera-kids-colors-r-9125: #d2d274;
@al-jazeera-kids-colors-r-9305: #007937;