// heidelberger-ip-oberputze
@heidelberger-ip-oberputze-heidelberger-009-a: #f2f1ea;
@heidelberger-ip-oberputze-heidelberger-010-a: #f5f1e6;
@heidelberger-ip-oberputze-heidelberger-011-a: #e5ded1;
@heidelberger-ip-oberputze-heidelberger-030-a: #ada0a5;
@heidelberger-ip-oberputze-heidelberger-032-a: #c4b8bc;
@heidelberger-ip-oberputze-heidelberger-034-a: #d2c8c9;
@heidelberger-ip-oberputze-heidelberger-036-a: #d9d2d2;
@heidelberger-ip-oberputze-heidelberger-040-a: #b7aea6;
@heidelberger-ip-oberputze-heidelberger-042-a: #c8c0ba;
@heidelberger-ip-oberputze-heidelberger-044-a: #d4cbc4;
@heidelberger-ip-oberputze-heidelberger-046-a: #e7e1dc;
@heidelberger-ip-oberputze-heidelberger-050-a: #b3acb1;
@heidelberger-ip-oberputze-heidelberger-052-a: #c0b9bd;
@heidelberger-ip-oberputze-heidelberger-054-a: #c9c5c8;
@heidelberger-ip-oberputze-heidelberger-056-a: #d5d2d3;
@heidelberger-ip-oberputze-heidelberger-060-a: #e0aca0;
@heidelberger-ip-oberputze-heidelberger-061-a: #bc887b;
@heidelberger-ip-oberputze-heidelberger-062-a: #e7beb6;
@heidelberger-ip-oberputze-heidelberger-063-a: #c99b90;
@heidelberger-ip-oberputze-heidelberger-064-a: #edcbc2;
@heidelberger-ip-oberputze-heidelberger-065-a: #d4aea3;
@heidelberger-ip-oberputze-heidelberger-066-a: #f1d9d2;
@heidelberger-ip-oberputze-heidelberger-067-a: #ddc0b6;
@heidelberger-ip-oberputze-heidelberger-080-a: #caaca1;
@heidelberger-ip-oberputze-heidelberger-082-a: #d1b7ab;
@heidelberger-ip-oberputze-heidelberger-084-a: #ddc9c0;
@heidelberger-ip-oberputze-heidelberger-086-a: #e1d2ca;
@heidelberger-ip-oberputze-heidelberger-120-a: #c9a797;
@heidelberger-ip-oberputze-heidelberger-122-a: #d5b6a7;
@heidelberger-ip-oberputze-heidelberger-124-a: #e0c9bd;
@heidelberger-ip-oberputze-heidelberger-126-a: #e9dad0;
@heidelberger-ip-oberputze-heidelberger-130-a: #ce9771;
@heidelberger-ip-oberputze-heidelberger-131-a: #ca8867;
@heidelberger-ip-oberputze-heidelberger-132-a: #d2a07b;
@heidelberger-ip-oberputze-heidelberger-133-a: #d79a7b;
@heidelberger-ip-oberputze-heidelberger-134-a: #ddb492;
@heidelberger-ip-oberputze-heidelberger-135-a: #e1ae92;
@heidelberger-ip-oberputze-heidelberger-136-a: #e2c2a7;
@heidelberger-ip-oberputze-heidelberger-137-a: #e7c0a7;
@heidelberger-ip-oberputze-heidelberger-14031: #dcac68;
@heidelberger-ip-oberputze-heidelberger-14050: #88624f;
@heidelberger-ip-oberputze-heidelberger-14052: #b38f7b;
@heidelberger-ip-oberputze-heidelberger-14071: #ab6858;
@heidelberger-ip-oberputze-heidelberger-14102: #927876;
@heidelberger-ip-oberputze-heidelberger-14122: #948275;
@heidelberger-ip-oberputze-heidelberger-14152: #868a7d;
@heidelberger-ip-oberputze-heidelberger-14181: #708781;
@heidelberger-ip-oberputze-heidelberger-14192: #6a90a2;
@heidelberger-ip-oberputze-heidelberger-14201: #b3995c;
@heidelberger-ip-oberputze-heidelberger-14214: #7f8488;
@heidelberger-ip-oberputze-heidelberger-14224: #8b8a8e;
@heidelberger-ip-oberputze-heidelberger-160-a: #cfbaa3;
@heidelberger-ip-oberputze-heidelberger-162-a: #d7c6b3;
@heidelberger-ip-oberputze-heidelberger-164-a: #e5d8ca;
@heidelberger-ip-oberputze-heidelberger-166-a: #e9e0d2;
@heidelberger-ip-oberputze-heidelberger-180-a: #bd9276;
@heidelberger-ip-oberputze-heidelberger-181-a: #c5a284;
@heidelberger-ip-oberputze-heidelberger-182-a: #c4a189;
@heidelberger-ip-oberputze-heidelberger-183-a: #d0af93;
@heidelberger-ip-oberputze-heidelberger-184-a: #d1b098;
@heidelberger-ip-oberputze-heidelberger-185-a: #dec2a9;
@heidelberger-ip-oberputze-heidelberger-186-a: #e0c4b0;
@heidelberger-ip-oberputze-heidelberger-187-a: #e6d0bc;
@heidelberger-ip-oberputze-heidelberger-200-a: #e2c09d;
@heidelberger-ip-oberputze-heidelberger-202-a: #e5caaf;
@heidelberger-ip-oberputze-heidelberger-204-a: #f1dfca;
@heidelberger-ip-oberputze-heidelberger-206-a: #f2e5d5;
@heidelberger-ip-oberputze-heidelberger-240-a: #e4c39c;
@heidelberger-ip-oberputze-heidelberger-242-a: #e9d3b9;
@heidelberger-ip-oberputze-heidelberger-244-a: #e7d7c3;
@heidelberger-ip-oberputze-heidelberger-246-a: #ede4d6;
@heidelberger-ip-oberputze-heidelberger-280-a: #e4caa2;
@heidelberger-ip-oberputze-heidelberger-282-a: #e3ceaa;
@heidelberger-ip-oberputze-heidelberger-284-a: #e9dcc3;
@heidelberger-ip-oberputze-heidelberger-286-a: #efe6d3;
@heidelberger-ip-oberputze-heidelberger-310-a: #efe1a6;
@heidelberger-ip-oberputze-heidelberger-312-a: #f5eabc;
@heidelberger-ip-oberputze-heidelberger-314-a: #ece4c3;
@heidelberger-ip-oberputze-heidelberger-316-a: #f3eacf;
@heidelberger-ip-oberputze-heidelberger-320-a: #f3d59f;
@heidelberger-ip-oberputze-heidelberger-322-a: #f2daad;
@heidelberger-ip-oberputze-heidelberger-324-a: #f0e1c4;
@heidelberger-ip-oberputze-heidelberger-326-a: #efe5d1;
@heidelberger-ip-oberputze-heidelberger-340-a: #b6c4a7;
@heidelberger-ip-oberputze-heidelberger-342-a: #c2cdb4;
@heidelberger-ip-oberputze-heidelberger-344-a: #d7decb;
@heidelberger-ip-oberputze-heidelberger-346-a: #dfe1d1;
@heidelberger-ip-oberputze-heidelberger-351-a: #c2c7af;
@heidelberger-ip-oberputze-heidelberger-353-a: #cecfbd;
@heidelberger-ip-oberputze-heidelberger-355-a: #dadac8;
@heidelberger-ip-oberputze-heidelberger-357-a: #dedccd;
@heidelberger-ip-oberputze-heidelberger-360-a: #cfc8a5;
@heidelberger-ip-oberputze-heidelberger-362-a: #d7d0b2;
@heidelberger-ip-oberputze-heidelberger-364-a: #e3deca;
@heidelberger-ip-oberputze-heidelberger-366-a: #e5e2d3;
@heidelberger-ip-oberputze-heidelberger-400-a: #beb99c;
@heidelberger-ip-oberputze-heidelberger-402-a: #ccc8ad;
@heidelberger-ip-oberputze-heidelberger-404-a: #ded9c6;
@heidelberger-ip-oberputze-heidelberger-406-a: #e6e2d4;
@heidelberger-ip-oberputze-heidelberger-440-a: #c6bca0;
@heidelberger-ip-oberputze-heidelberger-442-a: #cfc6ae;
@heidelberger-ip-oberputze-heidelberger-444-a: #e4ddca;
@heidelberger-ip-oberputze-heidelberger-446-a: #e8e1d2;
@heidelberger-ip-oberputze-heidelberger-460-a: #cbb57d;
@heidelberger-ip-oberputze-heidelberger-462-a: #d6c597;
@heidelberger-ip-oberputze-heidelberger-464-a: #dfd0a7;
@heidelberger-ip-oberputze-heidelberger-466-a: #e4d6b6;
@heidelberger-ip-oberputze-heidelberger-480-a: #c2b498;
@heidelberger-ip-oberputze-heidelberger-482-a: #d1c3a9;
@heidelberger-ip-oberputze-heidelberger-484-a: #e3d7c1;
@heidelberger-ip-oberputze-heidelberger-486-a: #e8dfcd;
@heidelberger-ip-oberputze-heidelberger-520-a: #c6bdab;
@heidelberger-ip-oberputze-heidelberger-522-a: #cfc7b7;
@heidelberger-ip-oberputze-heidelberger-524-a: #dcd5c7;
@heidelberger-ip-oberputze-heidelberger-526-a: #e0dcd2;
@heidelberger-ip-oberputze-heidelberger-560-a: #c2bdaf;
@heidelberger-ip-oberputze-heidelberger-562-a: #c8c3b8;
@heidelberger-ip-oberputze-heidelberger-564-a: #dbd8d0;
@heidelberger-ip-oberputze-heidelberger-566-a: #dfdcd4;
@heidelberger-ip-oberputze-heidelberger-600-a: #aeaca3;
@heidelberger-ip-oberputze-heidelberger-602-a: #c3c0b7;
@heidelberger-ip-oberputze-heidelberger-604-a: #d5d4d0;
@heidelberger-ip-oberputze-heidelberger-606-a: #dbdbd7;
@heidelberger-ip-oberputze-heidelberger-640-a: #b4b2b0;
@heidelberger-ip-oberputze-heidelberger-642-a: #c0bdbb;
@heidelberger-ip-oberputze-heidelberger-644-a: #d7d5d1;
@heidelberger-ip-oberputze-heidelberger-646-a: #e5e2de;
@heidelberger-ip-oberputze-heidelberger-660-a: #b5bdc2;
@heidelberger-ip-oberputze-heidelberger-662-a: #c4cbce;
@heidelberger-ip-oberputze-heidelberger-664-a: #ced4d5;
@heidelberger-ip-oberputze-heidelberger-666-a: #dddfde;
@heidelberger-ip-oberputze-heidelberger-670-a: #98c3d9;
@heidelberger-ip-oberputze-heidelberger-672-a: #a9cad8;
@heidelberger-ip-oberputze-heidelberger-674-a: #c1d4dc;
@heidelberger-ip-oberputze-heidelberger-676-a: #d0e0e5;
@heidelberger-ip-oberputze-heidelberger-681-a: #9eb0b6;
@heidelberger-ip-oberputze-heidelberger-683-a: #b1c0c4;
@heidelberger-ip-oberputze-heidelberger-685-a: #c5cfd3;
@heidelberger-ip-oberputze-heidelberger-687-a: #d2d8d8;
@heidelberger-ip-oberputze-heidelberger-690-a: #a4b3a7;
@heidelberger-ip-oberputze-heidelberger-692-a: #b7c4b9;
@heidelberger-ip-oberputze-heidelberger-694-a: #c1cbc3;
@heidelberger-ip-oberputze-heidelberger-696-a: #ccd5cd;