// caparol-panorama
@caparol-panorama-burgund-01: #a46b5b;
@caparol-panorama-burgund-02: #a26954;
@caparol-panorama-burgund-03: #946c5f;
@caparol-panorama-burgund-04: #a77b65;
@caparol-panorama-burgund-05: #a28373;
@caparol-panorama-burgund-06: #ae9080;
@caparol-panorama-burgund-07: #c8a898;
@caparol-panorama-burgund-08: #c0a894;
@caparol-panorama-burgund-09: #b8a491;
@caparol-panorama-burgund-10: #9e8f7c;
@caparol-panorama-burgund-11: #b09485;
@caparol-panorama-burgund-12: #957f6f;
@caparol-panorama-burgund-13: #a9755c;
@caparol-panorama-burgund-14: #cb9478;
@caparol-panorama-flandern-01: #889d9d;
@caparol-panorama-flandern-02: #687f82;
@caparol-panorama-flandern-03: #92a09e;
@caparol-panorama-flandern-04: #afb4ad;
@caparol-panorama-flandern-05: #b4b6b1;
@caparol-panorama-flandern-06: #a5a5a3;
@caparol-panorama-flandern-07: #d0c8c3;
@caparol-panorama-flandern-08: #cfc9be;
@caparol-panorama-flandern-09: #ddd5c7;
@caparol-panorama-flandern-10: #e6d7c7;
@caparol-panorama-flandern-11: #ddcfbd;
@caparol-panorama-flandern-12: #c7bdaf;
@caparol-panorama-flandern-13: #b2aea2;
@caparol-panorama-flandern-14: #a29d90;
@caparol-panorama-flandern-15: #aaa396;
@caparol-panorama-flandern-16: #89877f;
@caparol-panorama-flandern-17: #918b81;
@caparol-panorama-flandern-18: #a29b93;
@caparol-panorama-flandern-19: #a69a8c;
@caparol-panorama-navarra-01: #e2d0ba;
@caparol-panorama-navarra-02: #d4c5af;
@caparol-panorama-navarra-03: #b6a893;
@caparol-panorama-navarra-04: #c0aa95;
@caparol-panorama-navarra-05: #ac947f;
@caparol-panorama-navarra-06: #9c8470;
@caparol-panorama-navarra-07: #a3816a;
@caparol-panorama-navarra-08: #ba9a81;
@caparol-panorama-navarra-09: #cfb291;
@caparol-panorama-navarra-10: #b29070;
@caparol-panorama-navarra-11: #b59675;
@caparol-panorama-navarra-12: #baa387;
@caparol-panorama-navarra-13: #d4bda2;
@caparol-panorama-navarra-14: #af9d81;
@caparol-panorama-navarra-15: #d3c1a3;
@caparol-panorama-provence-01: #ceab7c;
@caparol-panorama-provence-02: #bda580;
@caparol-panorama-provence-03: #d1ad80;
@caparol-panorama-provence-04: #d09e74;
@caparol-panorama-provence-05: #e4c098;
@caparol-panorama-provence-06: #e4b483;
@caparol-panorama-provence-07: #d4a064;
@caparol-panorama-provence-08: #d4a568;
@caparol-panorama-provence-09: #e2b371;
@caparol-panorama-provence-10: #f0c27f;
@caparol-panorama-provence-11: #dab679;
@caparol-panorama-provence-12: #e0c695;
@caparol-panorama-provence-13: #e9d29a;
@caparol-panorama-provence-14: #d7bd83;
@caparol-panorama-rotsandstein: #987263;
@caparol-panorama-tessin-01: #aa998d;
@caparol-panorama-tessin-02: #d8cab7;
@caparol-panorama-tessin-03: #cdbcac;
@caparol-panorama-tessin-04: #c9b8ab;
@caparol-panorama-tessin-05: #b0a297;
@caparol-panorama-tessin-06: #9e8e8b;
@caparol-panorama-tessin-07: #b7a59d;
@caparol-panorama-tessin-08: #b7aaa6;
@caparol-panorama-tessin-09: #d3c5bb;
@caparol-panorama-tessin-10: #9f8b85;
@caparol-panorama-tessin-11: #c5aca7;
@caparol-panorama-tessin-12: #b6a1a2;
@caparol-panorama-tessin-13: #a3837f;
@caparol-panorama-tessin-14: #b18f89;
@caparol-panorama-tessin-15: #b7887a;
@caparol-panorama-tessin-16: #ab7c6d;
@caparol-panorama-toscana-01: #c2ae80;
@caparol-panorama-toscana-02: #a4957a;
@caparol-panorama-toscana-03: #b4a17e;
@caparol-panorama-toscana-04: #d1c09f;
@caparol-panorama-toscana-05: #c5b491;
@caparol-panorama-toscana-06: #dbd0b9;
@caparol-panorama-toscana-07: #c2b19a;
@caparol-panorama-toscana-08: #c1b49d;
@caparol-panorama-toscana-09: #aca089;
@caparol-panorama-toscana-10: #8e816f;
@caparol-panorama-toscana-11: #bfb4a0;
@caparol-panorama-toscana-12: #bbbaa9;
@caparol-panorama-toscana-13: #9c9886;
@caparol-panorama-toscana-14: #8f8e7b;
@caparol-panorama-toscana-15: #b7b496;
@caparol-panorama-toscana-16: #bbb28b;
@caparol-panorama-toscana-17: #83815f;
@caparol-panorama-toscana-18: #9a9e78;
@caparol-panorama-toscana-19: #9ea083;
@caparol-panorama-toscana-20: #a4a48a;
@caparol-panorama-toscana-21: #96a591;
@caparol-panorama-toscana-22: #a3ae9f;
@caparol-panorama-toscana-23: #8c998f;