// hks-n
@hks-n-1-n: #ffdc68;
@hks-n-2-n: #f9dc13;
@hks-n-3-n: #ffd800;
@hks-n-4-n: #ffc900;
@hks-n-5-n: #ffbc06;
@hks-n-6-n: #ff9e1c;
@hks-n-7-n: #ff7d21;
@hks-n-8-n: #ff6b2b;
@hks-n-10-n: #f6502f;
@hks-n-11-n: #ff9879;
@hks-n-12-n: #ec4e3b;
@hks-n-13-n: #ed3a40;
@hks-n-14-n: #e13f41;
@hks-n-15-n: #d53049;
@hks-n-16-n: #ad3a45;
@hks-n-17-n: #a93b50;
@hks-n-18-n: #954152;
@hks-n-21-n: #f77486;
@hks-n-22-n: #ec4446;
@hks-n-23-n: #d82740;
@hks-n-24-n: #d83866;
@hks-n-25-n: #cf2d5b;
@hks-n-26-n: #bf2f6c;
@hks-n-27-n: #d42975;
@hks-n-28-n: #b33859;
@hks-n-29-n: #a42b93;
@hks-n-31-n: #c2387c;
@hks-n-32-n: #c83375;
@hks-n-33-n: #a13397;
@hks-n-34-n: #774291;
@hks-n-35-n: #524993;
@hks-n-36-n: #6a468d;
@hks-n-37-n: #644385;
@hks-n-38-n: #41546a;
@hks-n-39-n: #0f69b5;
@hks-n-40-n: #0080ae;
@hks-n-41-n: #364e6d;
@hks-n-42-n: #2655ac;
@hks-n-43-n: #0d59ab;
@hks-n-44-n: #006ab3;
@hks-n-45-n: #475696;
@hks-n-46-n: #0084b2;
@hks-n-47-n: #007cbf;
@hks-n-48-n: #0081b1;
@hks-n-49-n: #007dac;
@hks-n-50-n: #00b4d6;
@hks-n-51-n: #00909b;
@hks-n-52-n: #008c7f;
@hks-n-53-n: #00a686;
@hks-n-54-n: #009368;
@hks-n-55-n: #007b63;
@hks-n-56-n: #156459;
@hks-n-57-n: #008554;
@hks-n-58-n: #47704f;
@hks-n-59-n: #008089;
@hks-n-60-n: #4a993f;
@hks-n-61-n: #446344;
@hks-n-62-n: #787940;
@hks-n-63-n: #5c8649;
@hks-n-64-n: #28a144;
@hks-n-65-n: #50b543;
@hks-n-66-n: #7dbb2a;
@hks-n-67-n: #86c12e;
@hks-n-68-n: #d4ba28;
@hks-n-69-n: #d6ca18;
@hks-n-71-n: #e29e3e;
@hks-n-72-n: #dc9035;
@hks-n-73-n: #b57e40;
@hks-n-74-n: #997042;
@hks-n-75-n: #8d7545;
@hks-n-76-n: #645243;
@hks-n-77-n: #725547;
@hks-n-78-n: #8c5745;
@hks-n-81-n: #cd6740;
@hks-n-82-n: #b65b42;
@hks-n-83-n: #8b4d45;
@hks-n-84-n: #7a4f4a;
@hks-n-88-n: #43403e;
@hks-n-89-n: #a59984;
@hks-n-90-n: #544946;
@hks-n-91-n: #9aa29c;
@hks-n-92-n: #6a7070;
@hks-n-93-n: #535a5f;
@hks-n-95-n: #8f9085;
@hks-n-96-n: #8a8780;
@hks-n-97-n: #414440;