// rubens-atelier
@rubens-atelier-rubens-323102-titanweiss: #deddd6;
@rubens-atelier-rubens-323205-echtgelb-zitron: #dad50f;
@rubens-atelier-rubens-323206-echtgelb-hell: #e9bf00;
@rubens-atelier-rubens-323212-indischgelb: #f19d00;
@rubens-atelier-rubens-323303-echtorange: #db4d1a;
@rubens-atelier-rubens-323306-zinnoberrot: #b3292b;
@rubens-atelier-rubens-323312-karminrot: #9e263a;
@rubens-atelier-rubens-323317-krapprot: #832d42;
@rubens-atelier-rubens-323318-magenta: #9d3465;
@rubens-atelier-rubens-323403-rotviolett: #5f375d;
@rubens-atelier-rubens-323405-blauviolett: #3e2f60;
@rubens-atelier-rubens-323408-kobaltblau: #292e54;
@rubens-atelier-rubens-323410-ultramarinblau: #39259c;
@rubens-atelier-rubens-323418-phthaloblau: #18406f;
@rubens-atelier-rubens-323420-coelinblau: #00607d;
@rubens-atelier-rubens-323412-indigo: #303740;
@rubens-atelier-rubens-323504-phthalogruen: #00604b;
@rubens-atelier-rubens-323505-permanentgruen-dunkel: #00704a;
@rubens-atelier-rubens-323507-permanentgruen-hell: #1fb134;
@rubens-atelier-rubens-323515-laubgruen: #50764e;
@rubens-atelier-rubens-323516-olivgruen: #4d593b;
@rubens-atelier-rubens-323217-hautfarbe: #d7ae8f;
@rubens-atelier-rubens-323602-lichter-ocker: #c1883b;
@rubens-atelier-rubens-323610-terra-di-siena-gebrannt: #8f4a38;
@rubens-atelier-rubens-323612-englischrot: #81423c;
@rubens-atelier-rubens-323618-umbra-gebrannt: #554642;
@rubens-atelier-rubens-323701-schiefergrau: #4b4842;
@rubens-atelier-rubens-323704-paynes-grey: #32373b;
@rubens-atelier-rubens-323706-schwarz: #2c2d2e;
@rubens-atelier-rubens-323802-gold: #9a7a41;
@rubens-atelier-rubens-323804-silber: #a8a5a2;
@rubens-atelier-rubens-323806-kupfer: #ad7957;