// bannerrite
@bannerrite-hellblau: #73cde3;
@bannerrite-gelb: #efdc56;
@bannerrite-rot: #b13944;
@bannerrite-weiss: #f5f5f7;
@bannerrite-blau: #364d79;
@bannerrite-gruen: #2ba366;
@bannerrite-pink-fluoreszierend: #ff3ea8;
@bannerrite-schwarz: #3e3e41;
@bannerrite-pv20: #fafaf3;