// threem-scotchcal-serie-80
@threem-scotchcal-serie-80-2563-canary-yellow: #f2db1f;
@threem-scotchcal-serie-80-2562-buttercup: #f3c900;
@threem-scotchcal-serie-80-2549-goldrod: #fbc000;
@threem-scotchcal-serie-80-15-cadmium-yellow: #ffc100;
@threem-scotchcal-serie-80-25-yellow: #ffb100;
@threem-scotchcal-serie-80-2550-golden-yellow: #ffa000;
@threem-scotchcal-serie-80-717-light-orange: #f47a00;
@threem-scotchcal-serie-80-2434-signal-orange: #f26000;
@threem-scotchcal-serie-80-14-bright-orange: #e45d00;
@threem-scotchcal-serie-80-410-mandarin: #e35106;
@threem-scotchcal-serie-80-266-red-orange: #da3c0b;
@threem-scotchcal-serie-80-2551-signal-red: #c42513;
@threem-scotchcal-serie-80-368-light-red: #bf1c04;
@threem-scotchcal-serie-80-2552-sanguine: #c10a02;
@threem-scotchcal-serie-80-13-tomato-red: #b61a0b;
@threem-scotchcal-serie-80-176-geranium-red: #a30d12;
@threem-scotchcal-serie-80-2553-fire-brick: #9d2217;
@threem-scotchcal-serie-80-53-cardinal-red: #92091c;
@threem-scotchcal-serie-80-23-ruby-red: #8a181d;
@threem-scotchcal-serie-80-2554-deep-red: #830e19;
@threem-scotchcal-serie-80-2400-intense-red: #860619;
@threem-scotchcal-serie-80-2415-light-pink: #e88ab8;
@threem-scotchcal-serie-80-1916-intense-pink: #b02267;
@threem-scotchcal-serie-80-2410-fuchsia: #ac4982;
@threem-scotchcal-serie-80-2413-lilac: #bc90bc;
@threem-scotchcal-serie-80-721-bright-violet: #85437f;
@threem-scotchcal-serie-80-2409-aubergine: #61295c;
@threem-scotchcal-serie-80-597-purple: #4d2d51;
@threem-scotchcal-serie-80-2412-lavender: #7b65ae;
@threem-scotchcal-serie-80-2411-intense-violet: #583c8b;
@threem-scotchcal-serie-80-595-royal-purple: #3e2a6f;
@threem-scotchcal-serie-80-1794-deep-blue: #23205b;
@threem-scotchcal-serie-80-2416-basalt-blue: #111e3f;
@threem-scotchcal-serie-80-2557-night-blue: #0b2558;
@threem-scotchcal-serie-80-1024-bluet: #1d3577;
@threem-scotchcal-serie-80-2556-gentian: #1d4a98;
@threem-scotchcal-serie-80-2565-highway-blue: #113980;
@threem-scotchcal-serie-80-37-sapphire-blue: #0e3a79;
@threem-scotchcal-serie-80-003-dark-blue: #1a3964;
@threem-scotchcal-serie-80-724-light-navy: #002a4a;
@threem-scotchcal-serie-80-1789-fjord-blue: #004c7b;
@threem-scotchcal-serie-80-17-vivid-blue: #005394;
@threem-scotchcal-serie-80-47-intense-blue: #0065a0;
@threem-scotchcal-serie-80-2555-curacao: #0073ba;
@threem-scotchcal-serie-80-57-olympic-blue: #008ac6;
@threem-scotchcal-serie-80-123-light-blue: #0097d0;
@threem-scotchcal-serie-80-453-soft-blue: #54add9;
@threem-scotchcal-serie-80-600-robin-egg-blue: #8edbd7;
@threem-scotchcal-serie-80-716-aqua: #53ccb0;
@threem-scotchcal-serie-80-603-teal: #008689;
@threem-scotchcal-serie-80-449-lime-green: #b1c41a;
@threem-scotchcal-serie-80-719-apple-green: #5a9900;
@threem-scotchcal-serie-80-1583-clear-green: #008e2c;
@threem-scotchcal-serie-80-1645-intense-green: #007951;
@threem-scotchcal-serie-80-56-dark-green: #005739;
@threem-scotchcal-serie-80-008-fir-tree-green: #0f3f29;
@threem-scotchcal-serie-80-384-light-grey: #c7cbcb;
@threem-scotchcal-serie-80-2428-crystal-grey: #c6c9c6;
@threem-scotchcal-serie-80-605-medium-grey: #a7a7a6;
@threem-scotchcal-serie-80-822-mid-grey: #88898a;
@threem-scotchcal-serie-80-038-traffic-grey: #7a8281;
@threem-scotchcal-serie-80-2558-cool-grey: #666a67;
@threem-scotchcal-serie-80-1833-fossil-grey: #5d6365;
@threem-scotchcal-serie-80-012-grey: #4a4d4e;
@threem-scotchcal-serie-80-706-dark-grey: #555757;
@threem-scotchcal-serie-80-12-black: #121214;
@threem-scotchcal-serie-80-22-black-matte: #333333;
@threem-scotchcal-serie-80-19-deep-mahogany-brown: #4a2b20;
@threem-scotchcal-serie-80-2407-red-brown: #5e211b;
@threem-scotchcal-serie-80-2429-nevada-beige: #c7ab7d;
@threem-scotchcal-serie-80-2430-sand: #e5d4ba;
@threem-scotchcal-serie-80-2431-almond: #ece0ba;
@threem-scotchcal-serie-80-2564-wheat: #f1d69c;
@threem-scotchcal-serie-80-114-transparent: #e5e3d8;
@threem-scotchcal-serie-80-10-white: #f8f9f6;
@threem-scotchcal-serie-80-20-white-matte: #f8f9f6;
@threem-scotchcal-serie-80-58-aluminium-metallic: #b2b4b5;
@threem-scotchcal-serie-80-144-anthracite-metallic: #616162;
@threem-scotchcal-serie-80-2476-granite-metallic: #484b4b;
@threem-scotchcal-serie-80-2560-black-metallic: #28292a;
@threem-scotchcal-serie-80-2559-golden-mica-metallic: #9e8847;
@threem-scotchcal-serie-80-54-gold-metallic: #9d824d;
@threem-scotchcal-serie-80-2065-venus-gold-metallic: #866b34;
@threem-scotchcal-serie-80-2561-navy-blue-metallic: #223e60;