// threem-scotchcal-serie-2330
@threem-scotchcal-serie-2330-threem-2330-12: #28292b;
@threem-scotchcal-serie-2330-threem-2330-14: #9ba0a5;
@threem-scotchcal-serie-2330-threem-2330-93: #cacccb;
@threem-scotchcal-serie-2330-threem-2330-10: #dfeaeb;
@threem-scotchcal-serie-2330-threem-2330-96: #e7c08a;
@threem-scotchcal-serie-2330-threem-2330-92: #4b3530;
@threem-scotchcal-serie-2330-threem-2330-78: #1a442f;
@threem-scotchcal-serie-2330-threem-2330-74: #006b2f;
@threem-scotchcal-serie-2330-threem-2330-76: #007237;
@threem-scotchcal-serie-2330-threem-2330-745: #00a033;
@threem-scotchcal-serie-2330-threem-2330-72: #5db600;
@threem-scotchcal-serie-2330-threem-2330-22: #dbc800;
@threem-scotchcal-serie-2330-threem-2330-24: #fbc400;
@threem-scotchcal-serie-2330-threem-2330-26: #ffa900;
@threem-scotchcal-serie-2330-threem-2330-32: #dc5719;
@threem-scotchcal-serie-2330-threem-2330-44: #cd320f;
@threem-scotchcal-serie-2330-threem-2330-45: #ce3141;
@threem-scotchcal-serie-2330-threem-2330-46: #b2201f;
@threem-scotchcal-serie-2330-threem-2330-48: #a01421;
@threem-scotchcal-serie-2330-threem-2330-49: #6f1626;
@threem-scotchcal-serie-2330-threem-2330-61: #e79293;
@threem-scotchcal-serie-2330-threem-2330-63: #d16bb5;
@threem-scotchcal-serie-2330-threem-2330-64: #ab106d;
@threem-scotchcal-serie-2330-threem-2330-66: #5c1e62;
@threem-scotchcal-serie-2330-threem-2330-79: #009795;
@threem-scotchcal-serie-2330-threem-2330-82: #009dd7;
@threem-scotchcal-serie-2330-threem-2330-84: #0075b6;
@threem-scotchcal-serie-2330-threem-2330-86: #24489e;
@threem-scotchcal-serie-2330-threem-2330-87: #312279;
@threem-scotchcal-serie-2330-threem-2330-88: #073f74;
@threem-scotchcal-serie-2330-threem-2330-89: #2e1e62;
@threem-scotchcal-serie-2330-threem-2330-90: #2b2e60;
@threem-scotchcal-serie-2330-threem-2330-545: #b9a267;
@threem-scotchcal-serie-2330-threem-2330-58: #b7b9b8;