// little-greene-colour-scales
@little-greene-colour-scales-french-grey-pale-161: #e5e3de;
@little-greene-colour-scales-french-grey-mid-162: #d9d7d1;
@little-greene-colour-scales-french-grey-original-113: #cecac2;
@little-greene-colour-scales-french-grey-dark-163: #b4aea4;
@little-greene-colour-scales-slaked-lime-original-105: #f3f0e9;
@little-greene-colour-scales-slaked-lime-mid-149: #e8e4db;
@little-greene-colour-scales-slaked-lime-deep-150: #d6d1c5;
@little-greene-colour-scales-slaked-lime-dark-151: #cac4b7;
@little-greene-colour-scales-portland-stone-pale-155: #ebe6da;
@little-greene-colour-scales-portland-stone-original-77: #d2cbbc;
@little-greene-colour-scales-portland-stone-deep-156: #cac2b0;
@little-greene-colour-scales-portland-stone-dark-157: #bdb5a1;
@little-greene-colour-scales-clay-pale-152: #eee7da;
@little-greene-colour-scales-clay-mid-153: #e6dccb;
@little-greene-colour-scales-clay-deep-154: #dbceba;
@little-greene-colour-scales-clay-original-39: #d1c2ab;
@little-greene-colour-scales-stock-original-37: #eee7da;
@little-greene-colour-scales-stock-mid-173: #f0e3cd;
@little-greene-colour-scales-stock-deep-174: #e8d9c0;
@little-greene-colour-scales-stock-dark-175: #dfcdaf;
@little-greene-colour-scales-white-lead-original-74: #f5f0e0;
@little-greene-colour-scales-white-lead-mid-170: #f4edd6;
@little-greene-colour-scales-white-lead-deep-171: #eee5c8;
@little-greene-colour-scales-white-lead-dark-172: #e4d7b3;
@little-greene-colour-scales-pearl-colour-pale-167: #e7e9e3;
@little-greene-colour-scales-pearl-colour-mid-168: #e0e2dc;
@little-greene-colour-scales-pearl-colour-original-100: #d3d6ce;
@little-greene-colour-scales-pearl-colour-dark-169: #bdc2b9;
@little-greene-colour-scales-bone-china-blue-pale-182: #dfe5e5;
@little-greene-colour-scales-bone-china-blue-mid-183: #d3dadc;
@little-greene-colour-scales-bone-china-blue-deep-184: #bac4c8;
@little-greene-colour-scales-bone-china-blue-original-107: #a6b2b6;
@little-greene-colour-scales-gauze-original-106: #e6e7e7;
@little-greene-colour-scales-gauze-mid-164: #dbdedf;
@little-greene-colour-scales-gauze-deep-165: #d4d7d9;
@little-greene-colour-scales-gauze-dark-166: #c6cacd;
@little-greene-colour-scales-welcome-pale-179: #eae7e5;
@little-greene-colour-scales-welcome-original-109: #e1dddc;
@little-greene-colour-scales-welcome-deep-180: #d4d1d0;
@little-greene-colour-scales-welcome-dark-181: #c1bcbd;
@little-greene-colour-scales-china-clay-original-1: #f0ebe5;
@little-greene-colour-scales-china-clay-mid-176: #e5dbd5;
@little-greene-colour-scales-china-clay-deep-177: #d9cec6;
@little-greene-colour-scales-china-clay-dark-178: #cdbfb6;
@little-greene-colour-scales-rolling-fog-pale-158: #ebe7df;
@little-greene-colour-scales-rolling-fog-mid-159: #e2dacf;
@little-greene-colour-scales-rolling-fog-original-143: #cabeb1;
@little-greene-colour-scales-rolling-fog-dark-160: #b0a291;