// filmmegarex-d-mm-economy-grade
@filmmegarex-d-mm-economy-grade-d-mm-6630: #ebe25c;
@filmmegarex-d-mm-economy-grade-d-mm-6631: #f4ca21;
@filmmegarex-d-mm-economy-grade-d-mm-6632: #fcb527;
@filmmegarex-d-mm-economy-grade-d-mm-6641: #f2733c;
@filmmegarex-d-mm-economy-grade-d-mm-6640: #c84437;
@filmmegarex-d-mm-economy-grade-d-mm-6643: #af363a;
@filmmegarex-d-mm-economy-grade-d-mm-6644: #a12f32;
@filmmegarex-d-mm-economy-grade-d-mm-6650: #75363a;
@filmmegarex-d-mm-economy-grade-d-mm-6691: #5fbce5;
@filmmegarex-d-mm-economy-grade-d-mm-6692: #009ed2;
@filmmegarex-d-mm-economy-grade-d-mm-6694: #077db5;
@filmmegarex-d-mm-economy-grade-d-mm-6695: #26628e;
@filmmegarex-d-mm-economy-grade-d-mm-6686: #4757ae;
@filmmegarex-d-mm-economy-grade-d-mm-6696: #3e4d85;
@filmmegarex-d-mm-economy-grade-d-mm-6697: #304367;
@filmmegarex-d-mm-economy-grade-d-mm-6662: #579e37;
@filmmegarex-d-mm-economy-grade-d-mm-6663: #008d47;
@filmmegarex-d-mm-economy-grade-d-mm-6665: #007f50;
@filmmegarex-d-mm-economy-grade-d-mm-6666: #166243;
@filmmegarex-d-mm-economy-grade-d-mm-6800: #e9d9b9;
@filmmegarex-d-mm-economy-grade-d-mm-6700: #b1b4aa;
@filmmegarex-d-mm-economy-grade-d-mm-6710: #848685;
@filmmegarex-d-mm-economy-grade-d-mm-6720: #6a6d6d;
@filmmegarex-d-mm-economy-grade-d-mm-6620: #ebeff3;
@filmmegarex-d-mm-economy-grade-d-mm-6610: #3c3d3e;