// terranova-43
@terranova-43-terranova-b007: #b8bdbe;
@terranova-43-terranova-b093: #cbdbe4;
@terranova-43-terranova-b620: #9aadb1;
@terranova-43-terranova-b621: #92a9b3;
@terranova-43-terranova-e113: #eedcc5;
@terranova-43-terranova-e115: #dbb18a;
@terranova-43-terranova-e612: #ac6e4f;
@terranova-43-terranova-g092: #daddcd;
@terranova-43-terranova-g113: #d2ceb0;
@terranova-43-terranova-g115: #b3b38f;
@terranova-43-terranova-g621: #aaaf8f;
@terranova-43-terranova-l007: #e4d8bd;
@terranova-43-terranova-l013: #e2d1b7;
@terranova-43-terranova-l053: #e1c495;
@terranova-43-terranova-l091: #efdfc3;
@terranova-43-terranova-l092: #efdcbb;
@terranova-43-terranova-l093: #e4c69b;
@terranova-43-terranova-l094: #dcb273;
@terranova-43-terranova-l096: #cc9b57;
@terranova-43-terranova-l111: #e4decc;
@terranova-43-terranova-l113: #e0d5b7;
@terranova-43-terranova-l211: #e9e0cc;
@terranova-43-terranova-l213: #e1c9a3;
@terranova-43-terranova-l611: #e5ddc9;
@terranova-43-terranova-l613: #dbd2ba;
@terranova-43-terranova-n004: #c4aa8f;
@terranova-43-terranova-n020: #c4a589;
@terranova-43-terranova-n630: #cfc2af;
@terranova-43-terranova-n631: #ad9986;
@terranova-43-terranova-n642: #876755;
@terranova-43-terranova-n652: #755e52;
@terranova-43-terranova-r611: #d3c3b8;
@terranova-43-terranova-r613: #d8bfb2;
@terranova-43-terranova-r620: #d9ae9e;
@terranova-43-terranova-r632: #8d5949;
@terranova-43-terranova-u005: #dcccb2;
@terranova-43-terranova-u081: #bdb8ab;
@terranova-43-terranova-u083: #999491;
@terranova-43-terranova-u085: #747474;
@terranova-43-terranova-u621: #8e8f87;
@terranova-43-terranova-u811: #c7c1b3;
@terranova-43-terranova-w001: #eeede3;
@terranova-43-terranova-w003: #e3ded2;