// prb-color
@prb-color-prb-antheor: #e1b69d;
@prb-color-prb-aquitaine: #e7dfd0;
@prb-color-prb-ardeche: #bcb59b;
@prb-color-prb-auvergne: #9c9791;
@prb-color-prb-azay-le-rideau: #e9d9c5;
@prb-color-prb-blanc-noirmoutier: #f2efe6;
@prb-color-prb-bocage-vendeen: #c9b4a0;
@prb-color-prb-camargue: #c4ae92;
@prb-color-prb-cap-corse: #cf966f;
@prb-color-prb-carnac: #c1c1bf;
@prb-color-prb-cevennes: #c0b39d;
@prb-color-prb-chambord: #eadbc3;
@prb-color-prb-champagne: #dfc9b1;
@prb-color-prb-cheverny: #e9d3b1;
@prb-color-prb-collioure: #eed6bd;
@prb-color-prb-cote-d-azur: #e4c8af;
@prb-color-prb-cote-d-emeraude: #b6beb8;
@prb-color-prb-cote-dopale: #cdd1d1;
@prb-color-prb-cote-dor: #dcae70;
@prb-color-prb-finistere: #b8b2a7;
@prb-color-prb-franche-comte: #ab9b80;
@prb-color-prb-gres-dalsace: #ac786a;
@prb-color-prb-gris-ouessant: #cfcec9;
@prb-color-prb-ile-dyeu: #cad7e9;
@prb-color-prb-ile-de-france: #d9c6ad;
@prb-color-prb-jaune-touraine: #eadfca;
@prb-color-prb-jaune-touraine-fonce: #efd7b3;
@prb-color-prb-lascaux: #bd9e7c;
@prb-color-prb-medov: #bca8a1;
@prb-color-prb-midi-pyrenees: #c4a18b;
@prb-color-prb-perigord: #c18e77;
@prb-color-prb-picardie: #efdac0;
@prb-color-prb-plaine-de-lucon: #dacbba;
@prb-color-prb-rose-anjou: #e1cdc0;
@prb-color-prb-rose-provence: #d6b7a3;
@prb-color-prb-rouge-esterel: #dcb4a1;
@prb-color-prb-rouge-sologne: #dba783;
@prb-color-prb-saint-tropez: #e1b78f;
@prb-color-prb-terre-de-languedoc: #d4a56e;
@prb-color-prb-ton-pierre: #efeade;
@prb-color-prb-ton-sable: #ccb293;
@prb-color-prb-val-de-loire: #eacbaa;
@prb-color-prb-vallee-de-la-sevre: #d5c7b0;
@prb-color-prb-vert-daubrac: #8aa19c;
@prb-color-prb-vert-monaco: #dae1cf;
@prb-color-prb-vieux-pise: #f5d5a2;
@prb-color-prb-vieux-tuffeau: #e4d5c4;
@prb-color-prb-yallauris: #dbae8d;