// caparol-alpinacolor
@caparol-alpinacolor-amazonas-0: #666f48;
@caparol-alpinacolor-amazonas-11: #758055;
@caparol-alpinacolor-amazonas-12: #8a9563;
@caparol-alpinacolor-amazonas-13: #a8b384;
@caparol-alpinacolor-amazonas-14: #b8c299;
@caparol-alpinacolor-amazonas-15: #cad2ae;
@caparol-alpinacolor-amazonas-16: #d4ddc1;
@caparol-alpinacolor-amazonas-17: #dde1cc;
@caparol-alpinacolor-amazonas-18: #e6e8d7;
@caparol-alpinacolor-aprikose-0: #ce7936;
@caparol-alpinacolor-aprikose-11: #db843b;
@caparol-alpinacolor-aprikose-12: #e89644;
@caparol-alpinacolor-aprikose-13: #eeae5f;
@caparol-alpinacolor-aprikose-14: #f2be7c;
@caparol-alpinacolor-aprikose-15: #f3cc96;
@caparol-alpinacolor-aprikose-16: #f4d7aa;
@caparol-alpinacolor-aprikose-17: #f6dfbb;
@caparol-alpinacolor-aprikose-18: #f3e4c9;
@caparol-alpinacolor-basalt-0: #524f4f;
@caparol-alpinacolor-basalt-11: #6b686a;
@caparol-alpinacolor-basalt-12: #868283;
@caparol-alpinacolor-basalt-13: #a4a3a1;
@caparol-alpinacolor-basalt-14: #b7b9b7;
@caparol-alpinacolor-basalt-15: #cbc8c5;
@caparol-alpinacolor-basalt-16: #d4d3d0;
@caparol-alpinacolor-basalt-17: #dedcd6;
@caparol-alpinacolor-basalt-18: #e6e3dc;
@caparol-alpinacolor-bison-0: #665547;
@caparol-alpinacolor-bison-11: #786552;
@caparol-alpinacolor-bison-12: #907c64;
@caparol-alpinacolor-bison-13: #b19d85;
@caparol-alpinacolor-bison-14: #c1b099;
@caparol-alpinacolor-bison-15: #d0c1ae;
@caparol-alpinacolor-bison-16: #dcd1c2;
@caparol-alpinacolor-bison-17: #e5dccf;
@caparol-alpinacolor-bison-18: #e9e3d7;
@caparol-alpinacolor-cognac-0: #b3763e;
@caparol-alpinacolor-cognac-11: #ca8a49;
@caparol-alpinacolor-cognac-12: #dea25c;
@caparol-alpinacolor-cognac-13: #eebc79;
@caparol-alpinacolor-cognac-14: #efc892;
@caparol-alpinacolor-cognac-15: #f1d3aa;
@caparol-alpinacolor-cognac-16: #f3ddb9;
@caparol-alpinacolor-cognac-17: #f3e3c8;
@caparol-alpinacolor-cognac-18: #f5e9d4;
@caparol-alpinacolor-gobi-0: #bf8935;
@caparol-alpinacolor-gobi-11: #cf9841;
@caparol-alpinacolor-gobi-12: #dca84b;
@caparol-alpinacolor-gobi-13: #ecc16f;
@caparol-alpinacolor-gobi-14: #f1ce8b;
@caparol-alpinacolor-gobi-15: #f2d9a3;
@caparol-alpinacolor-gobi-16: #f5e0b6;
@caparol-alpinacolor-gobi-17: #f2e3c2;
@caparol-alpinacolor-gobi-18: #f2e9d2;
@caparol-alpinacolor-granat-0: #8b5346;
@caparol-alpinacolor-granat-11: #9c6154;
@caparol-alpinacolor-granat-12: #ae7364;
@caparol-alpinacolor-granat-13: #ca9587;
@caparol-alpinacolor-granat-14: #d9aea1;
@caparol-alpinacolor-granat-15: #e2beb0;
@caparol-alpinacolor-granat-16: #eacfc1;
@caparol-alpinacolor-granat-17: #eed8ce;
@caparol-alpinacolor-granat-18: #f1e1d7;
@caparol-alpinacolor-havanna-0: #7e6044;
@caparol-alpinacolor-havanna-11: #8e6f50;
@caparol-alpinacolor-havanna-12: #a4805a;
@caparol-alpinacolor-havanna-13: #c09f7c;
@caparol-alpinacolor-havanna-14: #d1b393;
@caparol-alpinacolor-havanna-15: #d9c1a7;
@caparol-alpinacolor-havanna-16: #e5d1b9;
@caparol-alpinacolor-havanna-17: #eadac7;
@caparol-alpinacolor-havanna-18: #eee0d2;
@caparol-alpinacolor-iris-0: #4a6575;
@caparol-alpinacolor-iris-11: #55798d;
@caparol-alpinacolor-iris-12: #678fa5;
@caparol-alpinacolor-iris-13: #84acbe;
@caparol-alpinacolor-iris-14: #9bbcca;
@caparol-alpinacolor-iris-15: #b1ccd6;
@caparol-alpinacolor-iris-16: #c2d5dc;
@caparol-alpinacolor-iris-17: #d1dedf;
@caparol-alpinacolor-iris-18: #dce4e2;
@caparol-alpinacolor-island-0: #676a53;
@caparol-alpinacolor-island-11: #7a7d63;
@caparol-alpinacolor-island-12: #949578;
@caparol-alpinacolor-island-13: #b2b196;
@caparol-alpinacolor-island-14: #c3c4ad;
@caparol-alpinacolor-island-15: #d0d1bd;
@caparol-alpinacolor-island-16: #dbdaca;
@caparol-alpinacolor-island-17: #e2e2d5;
@caparol-alpinacolor-island-18: #e9e6d9;
@caparol-alpinacolor-lava-0: #625848;
@caparol-alpinacolor-lava-11: #776c58;
@caparol-alpinacolor-lava-12: #93856d;
@caparol-alpinacolor-lava-13: #b1a38c;
@caparol-alpinacolor-lava-14: #c4b9a3;
@caparol-alpinacolor-lava-15: #d4cab9;
@caparol-alpinacolor-lava-16: #e0d7c7;
@caparol-alpinacolor-lava-17: #e6dfd2;
@caparol-alpinacolor-lava-18: #ebe5d9;
@caparol-alpinacolor-mais-0: #eaa531;
@caparol-alpinacolor-mais-11: #f1b340;
@caparol-alpinacolor-mais-12: #f5c257;
@caparol-alpinacolor-mais-13: #f7d071;
@caparol-alpinacolor-mais-14: #f6da8d;
@caparol-alpinacolor-mais-15: #f6e2a7;
@caparol-alpinacolor-mais-16: #f7e7b9;
@caparol-alpinacolor-mais-17: #f6ecc8;
@caparol-alpinacolor-mais-18: #f4ebd0;
@caparol-alpinacolor-mallaga-0: #875c46;
@caparol-alpinacolor-mallaga-11: #9b6f57;
@caparol-alpinacolor-mallaga-12: #b08569;
@caparol-alpinacolor-mallaga-13: #caa58a;
@caparol-alpinacolor-mallaga-14: #d5b49c;
@caparol-alpinacolor-mallaga-15: #e4cab6;
@caparol-alpinacolor-mallaga-16: #e9d5c5;
@caparol-alpinacolor-mallaga-17: #edddcf;
@caparol-alpinacolor-mallaga-18: #f0e3d6;
@caparol-alpinacolor-mandarin-0: #de9237;
@caparol-alpinacolor-mandarin-11: #e79f3f;
@caparol-alpinacolor-mandarin-12: #edad50;
@caparol-alpinacolor-mandarin-13: #f0c06d;
@caparol-alpinacolor-mandarin-14: #f6cf8c;
@caparol-alpinacolor-mandarin-15: #f6dba3;
@caparol-alpinacolor-mandarin-16: #f5e1b8;
@caparol-alpinacolor-mandarin-17: #f4e7c6;
@caparol-alpinacolor-mandarin-18: #f4e9d0;
@caparol-alpinacolor-maroc-0: #8e6845;
@caparol-alpinacolor-maroc-11: #a67c50;
@caparol-alpinacolor-maroc-12: #bc8f5f;
@caparol-alpinacolor-maroc-13: #d5ae7f;
@caparol-alpinacolor-maroc-14: #debe94;
@caparol-alpinacolor-maroc-15: #e6ccad;
@caparol-alpinacolor-maroc-16: #ecd7bc;
@caparol-alpinacolor-maroc-17: #eee1cb;
@caparol-alpinacolor-maroc-18: #eee5d3;
@caparol-alpinacolor-marone-0: #725341;
@caparol-alpinacolor-marone-11: #8a6850;
@caparol-alpinacolor-marone-12: #9e7b61;
@caparol-alpinacolor-marone-13: #bb9a7d;
@caparol-alpinacolor-marone-14: #ccb097;
@caparol-alpinacolor-marone-15: #d8bfaa;
@caparol-alpinacolor-marone-16: #e3cebd;
@caparol-alpinacolor-marone-17: #e9daca;
@caparol-alpinacolor-marone-18: #e8ded2;
@caparol-alpinacolor-mistral-0: #9f763f;
@caparol-alpinacolor-mistral-11: #b2884d;
@caparol-alpinacolor-mistral-12: #cca15f;
@caparol-alpinacolor-mistral-13: #dfba7f;
@caparol-alpinacolor-mistral-14: #e6c897;
@caparol-alpinacolor-mistral-15: #ebd4ac;
@caparol-alpinacolor-mistral-16: #f1dec0;
@caparol-alpinacolor-mistral-17: #f0e1c9;
@caparol-alpinacolor-mistral-18: #f1e7d3;
@caparol-alpinacolor-nutria-0: #6d5746;
@caparol-alpinacolor-nutria-11: #806a57;
@caparol-alpinacolor-nutria-12: #977c65;
@caparol-alpinacolor-nutria-13: #b69c83;
@caparol-alpinacolor-nutria-14: #c6b29c;
@caparol-alpinacolor-nutria-15: #d4c1ae;
@caparol-alpinacolor-nutria-16: #dfd0bf;
@caparol-alpinacolor-nutria-17: #e7dacd;
@caparol-alpinacolor-nutria-18: #ebe1d6;
@caparol-alpinacolor-olive-0: #857b46;
@caparol-alpinacolor-olive-11: #978a4d;
@caparol-alpinacolor-olive-12: #ad9f5e;
@caparol-alpinacolor-olive-13: #c6b87b;
@caparol-alpinacolor-olive-14: #d2c796;
@caparol-alpinacolor-olive-15: #dbd2aa;
@caparol-alpinacolor-olive-16: #e5ddbb;
@caparol-alpinacolor-olive-17: #e9e2c8;
@caparol-alpinacolor-olive-18: #ece6d3;
@caparol-alpinacolor-palma-0: #6e6748;
@caparol-alpinacolor-palma-11: #7f7752;
@caparol-alpinacolor-palma-12: #978b60;
@caparol-alpinacolor-palma-13: #b6a97c;
@caparol-alpinacolor-palma-14: #c7bd95;
@caparol-alpinacolor-palma-15: #d5cdac;
@caparol-alpinacolor-palma-16: #ddd6bb;
@caparol-alpinacolor-palma-17: #e6e0ca;
@caparol-alpinacolor-palma-18: #ece6d3;
@caparol-alpinacolor-schiefer-0: #54514b;
@caparol-alpinacolor-schiefer-11: #5d5950;
@caparol-alpinacolor-schiefer-12: #726e64;
@caparol-alpinacolor-schiefer-13: #918d82;
@caparol-alpinacolor-schiefer-14: #a7a297;
@caparol-alpinacolor-schiefer-15: #bcb7ac;
@caparol-alpinacolor-schiefer-16: #cbc7be;
@caparol-alpinacolor-schiefer-17: #d6d3cc;
@caparol-alpinacolor-schiefer-18: #dcdad3;
@caparol-alpinacolor-schilf-0: #a89148;
@caparol-alpinacolor-schilf-11: #b49c4f;
@caparol-alpinacolor-schilf-12: #c4b167;
@caparol-alpinacolor-schilf-13: #d7c384;
@caparol-alpinacolor-schilf-14: #e1d098;
@caparol-alpinacolor-schilf-15: #e4d9ad;
@caparol-alpinacolor-schilf-16: #ebe2c2;
@caparol-alpinacolor-schilf-17: #ede7cd;
@caparol-alpinacolor-schilf-18: #f0e9d2;
@caparol-alpinacolor-siam-0: #5e4e45;
@caparol-alpinacolor-siam-11: #76655b;
@caparol-alpinacolor-siam-12: #8e7c71;
@caparol-alpinacolor-siam-13: #ae9d91;
@caparol-alpinacolor-siam-14: #c2b3a7;
@caparol-alpinacolor-siam-15: #cfc3b8;
@caparol-alpinacolor-siam-16: #dcd2c9;
@caparol-alpinacolor-siam-17: #e4dbd1;
@caparol-alpinacolor-siam-18: #e7dfd6;
@caparol-alpinacolor-taiga-0: #796848;
@caparol-alpinacolor-taiga-11: #8d7954;
@caparol-alpinacolor-taiga-12: #a28d63;
@caparol-alpinacolor-taiga-13: #bfaa81;
@caparol-alpinacolor-taiga-14: #cebd98;
@caparol-alpinacolor-taiga-15: #dccbab;
@caparol-alpinacolor-taiga-16: #e5d7be;
@caparol-alpinacolor-taiga-17: #e6ddc9;
@caparol-alpinacolor-taiga-18: #ede5d5;
@caparol-alpinacolor-terra-0: #966444;
@caparol-alpinacolor-terra-11: #a77450;
@caparol-alpinacolor-terra-12: #bf8a5f;
@caparol-alpinacolor-terra-13: #d3a57b;
@caparol-alpinacolor-terra-14: #e0ba96;
@caparol-alpinacolor-terra-15: #e8c8aa;
@caparol-alpinacolor-terra-16: #edd4bd;
@caparol-alpinacolor-terra-17: #f3ddc3;
@caparol-alpinacolor-terra-18: #f3e3d0;
@caparol-alpinacolor-tibet-0: #626f6d;
@caparol-alpinacolor-tibet-11: #70807f;
@caparol-alpinacolor-tibet-12: #849290;
@caparol-alpinacolor-tibet-13: #a3adab;
@caparol-alpinacolor-tibet-14: #b5bfbc;
@caparol-alpinacolor-tibet-15: #c6cdcb;
@caparol-alpinacolor-tibet-16: #d3d8d3;
@caparol-alpinacolor-tibet-17: #e0e2dc;
@caparol-alpinacolor-tibet-18: #e5e6de;