// maxit-xl-classic
@maxit-xl-classic-maxit-cl291: #ffd38b;
@maxit-xl-classic-maxit-cl292: #ffdb96;
@maxit-xl-classic-maxit-cl293: #ffe6ac;
@maxit-xl-classic-maxit-cl294: #fff2c1;
@maxit-xl-classic-maxit-cl295: #fffdda;
@maxit-xl-classic-maxit-cl301: #f19d6c;
@maxit-xl-classic-maxit-cl302: #f8aa7c;
@maxit-xl-classic-maxit-cl303: #ffc39a;
@maxit-xl-classic-maxit-cl304: #ffcfaa;
@maxit-xl-classic-maxit-cl305: #ffe8ca;
@maxit-xl-classic-maxit-cl311: #cc7a69;
@maxit-xl-classic-maxit-cl312: #de8b7c;
@maxit-xl-classic-maxit-cl313: #f0a698;
@maxit-xl-classic-maxit-cl314: #ffbfb2;
@maxit-xl-classic-maxit-cl315: #ffddd2;
@maxit-xl-classic-maxit-cl321: #dbb1a9;
@maxit-xl-classic-maxit-cl322: #e7c1b8;
@maxit-xl-classic-maxit-cl323: #f3d1c8;
@maxit-xl-classic-maxit-cl324: #ffe4dd;
@maxit-xl-classic-maxit-cl325: #fff8ef;
@maxit-xl-classic-maxit-cl331: #b5a29d;
@maxit-xl-classic-maxit-cl332: #c3b0aa;
@maxit-xl-classic-maxit-cl333: #dacac5;
@maxit-xl-classic-maxit-cl334: #e8dad4;
@maxit-xl-classic-maxit-cl335: #fdf1ea;
@maxit-xl-classic-maxit-cl341: #9fb2ca;
@maxit-xl-classic-maxit-cl342: #b0c1d5;
@maxit-xl-classic-maxit-cl343: #ceddee;
@maxit-xl-classic-maxit-cl344: #dfecf9;
@maxit-xl-classic-maxit-cl345: #f6fafb;
@maxit-xl-classic-maxit-cl351: #7296a7;
@maxit-xl-classic-maxit-cl352: #82a4b4;
@maxit-xl-classic-maxit-cl353: #9bb9c6;
@maxit-xl-classic-maxit-cl354: #b9d1da;
@maxit-xl-classic-maxit-cl355: #dfecf0;
@maxit-xl-classic-maxit-cl361: #8ba287;
@maxit-xl-classic-maxit-cl362: #99af97;
@maxit-xl-classic-maxit-cl363: #adc0aa;
@maxit-xl-classic-maxit-cl364: #c4d4c0;
@maxit-xl-classic-maxit-cl365: #e0ebdb;
@maxit-xl-classic-maxit-cl371: #c3af6c;
@maxit-xl-classic-maxit-cl372: #d1ba78;
@maxit-xl-classic-maxit-cl373: #ddc889;
@maxit-xl-classic-maxit-cl374: #edd99f;
@maxit-xl-classic-maxit-cl375: #fff1c7;
@maxit-xl-classic-maxit-cl381: #9a9278;
@maxit-xl-classic-maxit-cl382: #aaa38a;
@maxit-xl-classic-maxit-cl383: #bab39b;
@maxit-xl-classic-maxit-cl384: #cdc5b1;
@maxit-xl-classic-maxit-cl385: #eee7d6;
@maxit-xl-classic-maxit-cl391: #b2976d;
@maxit-xl-classic-maxit-cl392: #c5a97d;
@maxit-xl-classic-maxit-cl393: #d8bf97;
@maxit-xl-classic-maxit-cl394: #e6d0ac;
@maxit-xl-classic-maxit-cl395: #f9e8ca;
@maxit-xl-classic-maxit-cl401: #9b8165;
@maxit-xl-classic-maxit-cl402: #a58a6d;
@maxit-xl-classic-maxit-cl403: #b99d81;
@maxit-xl-classic-maxit-cl404: #ceb59a;
@maxit-xl-classic-maxit-cl405: #ecd7c1;
@maxit-xl-classic-maxit-cl411: #af765b;
@maxit-xl-classic-maxit-cl412: #ba7f62;
@maxit-xl-classic-maxit-cl413: #cc9276;
@maxit-xl-classic-maxit-cl414: #dca88e;
@maxit-xl-classic-maxit-cl415: #fbd0b8;
@maxit-xl-classic-maxit-cl421: #c09477;
@maxit-xl-classic-maxit-cl422: #cba289;
@maxit-xl-classic-maxit-cl423: #ddb7a0;
@maxit-xl-classic-maxit-cl424: #efcfba;
@maxit-xl-classic-maxit-cl425: #fee7d5;
@maxit-xl-classic-maxit-cl431: #f1c384;
@maxit-xl-classic-maxit-cl432: #f8cd93;
@maxit-xl-classic-maxit-cl433: #ffdfaa;
@maxit-xl-classic-maxit-cl434: #ffefc4;
@maxit-xl-classic-maxit-cl435: #fffcdd;
@maxit-xl-classic-maxit-cl441: #968f84;
@maxit-xl-classic-maxit-cl442: #a7a196;
@maxit-xl-classic-maxit-cl443: #beb8af;
@maxit-xl-classic-maxit-cl444: #d6d0c7;
@maxit-xl-classic-maxit-cl445: #e9e4da;
@maxit-xl-classic-maxit-cl451: #9c9693;
@maxit-xl-classic-maxit-cl452: #aaa3a1;
@maxit-xl-classic-maxit-cl453: #c2bcbb;
@maxit-xl-classic-maxit-cl454: #d4cecc;
@maxit-xl-classic-maxit-cl455: #e2dfdc;