// caparol-3d-plus
@caparol-3d-plus-kuehl-weiss: #ebeae6;
@caparol-3d-plus-grau-weiss: #e9e8e2;
@caparol-3d-plus-hell-weiss: #f6f5f0;
@caparol-3d-plus-natur-weiss: #f0ede5;
@caparol-3d-plus-umbra-weiss: #eeebe0;
@caparol-3d-plus-warm-weiss: #eeeae3;
@caparol-3d-plus-off-white-50: #f1f3f0;
@caparol-3d-plus-off-white-40: #edf5ef;
@caparol-3d-plus-off-white-30: #f6f8eb;
@caparol-3d-plus-off-white-25: #f8f6e6;
@caparol-3d-plus-off-white-20: #f9f4e4;
@caparol-3d-plus-off-white-15: #faf2eb;
@caparol-3d-plus-granit-30: #939392;
@caparol-3d-plus-granit-25: #868685;
@caparol-3d-plus-granit-20: #797979;
@caparol-3d-plus-granit-15: #6a6a6a;
@caparol-3d-plus-granit-10: #575757;
@caparol-3d-plus-granit-5: #464646;
@caparol-3d-plus-granit-60: #e3e2df;
@caparol-3d-plus-granit-55: #d8d6d4;
@caparol-3d-plus-granit-50: #cccac8;
@caparol-3d-plus-granit-45: #bdbdbc;
@caparol-3d-plus-granit-40: #afafad;
@caparol-3d-plus-granit-35: #a3a2a1;
@caparol-3d-plus-ferro-30: #989390;
@caparol-3d-plus-ferro-25: #8a8684;
@caparol-3d-plus-ferro-20: #7d7977;
@caparol-3d-plus-ferro-15: #706b6a;
@caparol-3d-plus-ferro-10: #5b5755;
@caparol-3d-plus-ferro-5: #4c4747;
@caparol-3d-plus-ferro-60: #e5e2df;
@caparol-3d-plus-ferro-55: #dad6d3;
@caparol-3d-plus-ferro-50: #d0cbc8;
@caparol-3d-plus-ferro-45: #c0bbb9;
@caparol-3d-plus-ferro-40: #b4aeac;
@caparol-3d-plus-ferro-35: #a5a19f;
@caparol-3d-plus-jura-30: #94938e;
@caparol-3d-plus-jura-25: #868581;
@caparol-3d-plus-jura-20: #777772;
@caparol-3d-plus-jura-15: #6b6a67;
@caparol-3d-plus-jura-10: #595754;
@caparol-3d-plus-jura-5: #464543;
@caparol-3d-plus-jura-60: #e3e1de;
@caparol-3d-plus-jura-55: #d8d6d2;
@caparol-3d-plus-jura-50: #cdcac6;
@caparol-3d-plus-jura-45: #bdbcb7;
@caparol-3d-plus-jura-40: #b1afab;
@caparol-3d-plus-jura-35: #a2a19c;
@caparol-3d-plus-venato-30: #909495;
@caparol-3d-plus-venato-25: #838688;
@caparol-3d-plus-venato-20: #777b7c;
@caparol-3d-plus-venato-15: #6c6f71;
@caparol-3d-plus-venato-10: #57595c;
@caparol-3d-plus-venato-5: #494b4c;
@caparol-3d-plus-venato-60: #e1e2e1;
@caparol-3d-plus-venato-55: #d6d7d6;
@caparol-3d-plus-venato-50: #c9cbcb;
@caparol-3d-plus-venato-45: #bbbdbe;
@caparol-3d-plus-venato-40: #adb0b2;
@caparol-3d-plus-venato-35: #a0a3a5;
@caparol-3d-plus-rose-30: #f0eee9;
@caparol-3d-plus-rose-25: #eee8e4;
@caparol-3d-plus-rose-20: #efe6e3;
@caparol-3d-plus-rose-15: #efe2e0;
@caparol-3d-plus-rose-10: #dcd6d3;
@caparol-3d-plus-rose-5: #c7bfbd;
@caparol-3d-plus-rose-60: #f8e9e8;
@caparol-3d-plus-rose-55: #e4d0cf;
@caparol-3d-plus-rose-50: #cdbbbe;
@caparol-3d-plus-rose-45: #bfafb1;
@caparol-3d-plus-rose-40: #bfa7a9;
@caparol-3d-plus-rose-35: #a28f91;
@caparol-3d-plus-rose-90: #fae2e3;
@caparol-3d-plus-rose-85: #d9b6bc;
@caparol-3d-plus-rose-80: #c0979d;
@caparol-3d-plus-rose-75: #a67b82;
@caparol-3d-plus-rose-70: #897376;
@caparol-3d-plus-rose-65: #745d61;
@caparol-3d-plus-rose-120: #e1b3b9;
@caparol-3d-plus-rose-115: #db8a98;
@caparol-3d-plus-rose-110: #b0727d;
@caparol-3d-plus-rose-105: #8f5f69;
@caparol-3d-plus-rose-100: #ae516b;
@caparol-3d-plus-rose-95: #ae4964;
@caparol-3d-plus-baccara-30: #f9d7d9;
@caparol-3d-plus-baccara-25: #f2a9b3;
@caparol-3d-plus-baccara-20: #e38392;
@caparol-3d-plus-baccara-15: #c76979;
@caparol-3d-plus-baccara-10: #8a5059;
@caparol-3d-plus-baccara-5: #6c484a;
@caparol-3d-plus-barolo-30: #dad1cf;
@caparol-3d-plus-barolo-25: #c0b2b1;
@caparol-3d-plus-barolo-20: #a49493;
@caparol-3d-plus-barolo-15: #8b7877;
@caparol-3d-plus-barolo-10: #715c5b;
@caparol-3d-plus-barolo-5: #5c4444;
@caparol-3d-plus-barolo-60: #e2d6d4;
@caparol-3d-plus-barolo-55: #cab6b4;
@caparol-3d-plus-barolo-50: #b19795;
@caparol-3d-plus-barolo-45: #997877;
@caparol-3d-plus-barolo-40: #825b5b;
@caparol-3d-plus-barolo-35: #6b4243;
@caparol-3d-plus-barolo-90: #eadbd9;
@caparol-3d-plus-barolo-85: #d3b8b6;
@caparol-3d-plus-barolo-80: #be9897;
@caparol-3d-plus-barolo-75: #a87878;
@caparol-3d-plus-barolo-70: #945b5b;
@caparol-3d-plus-barolo-65: #7d4144;
@caparol-3d-plus-barolo-120: #f1dfdc;
@caparol-3d-plus-barolo-115: #debcb9;
@caparol-3d-plus-barolo-110: #ca9998;
@caparol-3d-plus-barolo-105: #b97b7b;
@caparol-3d-plus-barolo-100: #a35a5d;
@caparol-3d-plus-barolo-95: #8a3e42;
@caparol-3d-plus-barolo-150: #f7e1e0;
@caparol-3d-plus-barolo-145: #e8bebd;
@caparol-3d-plus-barolo-140: #d69d9c;
@caparol-3d-plus-barolo-135: #c77b7a;
@caparol-3d-plus-barolo-130: #b3575c;
@caparol-3d-plus-barolo-125: #a23843;
@caparol-3d-plus-venezia-30: #fce4e0;
@caparol-3d-plus-venezia-25: #fde1df;
@caparol-3d-plus-venezia-20: #fab7b8;
@caparol-3d-plus-venezia-15: #e98b8d;
@caparol-3d-plus-venezia-10: #e08081;
@caparol-3d-plus-venezia-5: #d25e65;
@caparol-3d-plus-grenadin-30: #dad1ce;
@caparol-3d-plus-grenadin-25: #beb2af;
@caparol-3d-plus-grenadin-20: #a49390;
@caparol-3d-plus-grenadin-15: #8b7975;
@caparol-3d-plus-grenadin-10: #735e5a;
@caparol-3d-plus-grenadin-5: #5b4543;
@caparol-3d-plus-grenadin-60: #e1d5d2;
@caparol-3d-plus-grenadin-55: #cbb7b3;
@caparol-3d-plus-grenadin-50: #b39895;
@caparol-3d-plus-grenadin-45: #9e7c78;
@caparol-3d-plus-grenadin-40: #87605c;
@caparol-3d-plus-grenadin-35: #6d4440;
@caparol-3d-plus-grenadin-90: #ebdcd7;
@caparol-3d-plus-grenadin-85: #d6bab6;
@caparol-3d-plus-grenadin-80: #c19a95;
@caparol-3d-plus-grenadin-75: #af7f79;
@caparol-3d-plus-grenadin-70: #995e5a;
@caparol-3d-plus-grenadin-65: #864641;
@caparol-3d-plus-grenadin-120: #efdeda;
@caparol-3d-plus-grenadin-115: #e0bdb7;
@caparol-3d-plus-grenadin-110: #cf9d97;
@caparol-3d-plus-grenadin-105: #be8079;
@caparol-3d-plus-grenadin-100: #a85f59;
@caparol-3d-plus-grenadin-95: #974642;
@caparol-3d-plus-grenadin-150: #f7e2dd;
@caparol-3d-plus-grenadin-145: #eac0ba;
@caparol-3d-plus-grenadin-140: #dd9f98;
@caparol-3d-plus-grenadin-135: #cf8178;
@caparol-3d-plus-grenadin-130: #bf615b;
@caparol-3d-plus-grenadin-125: #af4846;
@caparol-3d-plus-bordeaux-30: #f1e7e3;
@caparol-3d-plus-bordeaux-25: #e1d8d5;
@caparol-3d-plus-bordeaux-20: #ccb9b5;
@caparol-3d-plus-bordeaux-15: #c1a9a5;
@caparol-3d-plus-bordeaux-10: #bd9c94;
@caparol-3d-plus-bordeaux-5: #ad8e88;
@caparol-3d-plus-bordeaux-60: #ebc6bf;
@caparol-3d-plus-bordeaux-55: #d4a59e;
@caparol-3d-plus-bordeaux-50: #bb847b;
@caparol-3d-plus-bordeaux-45: #b4736a;
@caparol-3d-plus-bordeaux-40: #9f6b63;
@caparol-3d-plus-bordeaux-35: #845650;
@caparol-3d-plus-bordeaux-90: #ffdcd5;
@caparol-3d-plus-bordeaux-85: #ffa097;
@caparol-3d-plus-bordeaux-80: #d3796c;
@caparol-3d-plus-bordeaux-75: #ae6057;
@caparol-3d-plus-bordeaux-70: #af5f56;
@caparol-3d-plus-bordeaux-65: #a94842;
@caparol-3d-plus-magma-30: #dbd2ce;
@caparol-3d-plus-magma-25: #c1b4b0;
@caparol-3d-plus-magma-20: #a69893;
@caparol-3d-plus-magma-15: #8e7c77;
@caparol-3d-plus-magma-10: #76615c;
@caparol-3d-plus-magma-5: #5e4944;
@caparol-3d-plus-magma-60: #e4d6d1;
@caparol-3d-plus-magma-55: #cdb8b2;
@caparol-3d-plus-magma-50: #b49891;
@caparol-3d-plus-magma-45: #a07f77;
@caparol-3d-plus-magma-40: #866259;
@caparol-3d-plus-magma-35: #734b42;
@caparol-3d-plus-magma-90: #ebd9d3;
@caparol-3d-plus-magma-85: #d9bcb4;
@caparol-3d-plus-magma-80: #c49d92;
@caparol-3d-plus-magma-75: #b08175;
@caparol-3d-plus-magma-70: #9b665b;
@caparol-3d-plus-magma-65: #884a3e;
@caparol-3d-plus-magma-120: #f4ddd5;
@caparol-3d-plus-magma-115: #e4beb4;
@caparol-3d-plus-magma-110: #d29f93;
@caparol-3d-plus-magma-105: #c18475;
@caparol-3d-plus-magma-100: #ae6657;
@caparol-3d-plus-magma-95: #99493b;
@caparol-3d-plus-magma-150: #fde0d7;
@caparol-3d-plus-magma-145: #f2c4b8;
@caparol-3d-plus-magma-140: #e3a798;
@caparol-3d-plus-magma-135: #d48878;
@caparol-3d-plus-magma-130: #c26b58;
@caparol-3d-plus-magma-125: #a94d3f;
@caparol-3d-plus-cameo-30: #f1eee8;
@caparol-3d-plus-cameo-25: #ede9e5;
@caparol-3d-plus-cameo-20: #e1d4cf;
@caparol-3d-plus-cameo-15: #d2cbc8;
@caparol-3d-plus-cameo-10: #bbafac;
@caparol-3d-plus-cameo-5: #9f908c;
@caparol-3d-plus-cameo-60: #faf0ec;
@caparol-3d-plus-cameo-55: #e8d8d4;
@caparol-3d-plus-cameo-50: #cbb7b0;
@caparol-3d-plus-cameo-45: #c0a79f;
@caparol-3d-plus-cameo-40: #aa9690;
@caparol-3d-plus-cameo-35: #897671;
@caparol-3d-plus-cameo-90: #fce5de;
@caparol-3d-plus-cameo-85: #efd7d0;
@caparol-3d-plus-cameo-80: #e0c2b8;
@caparol-3d-plus-cameo-75: #cca298;
@caparol-3d-plus-cameo-70: #ad8c83;
@caparol-3d-plus-cameo-65: #94736a;
@caparol-3d-plus-cameo-120: #fde2d8;
@caparol-3d-plus-cameo-115: #f2ccc3;
@caparol-3d-plus-cameo-110: #e2b2a6;
@caparol-3d-plus-cameo-105: #e19e91;
@caparol-3d-plus-cameo-100: #af7d6e;
@caparol-3d-plus-cameo-95: #8c574a;
@caparol-3d-plus-cameo-150: #fde7df;
@caparol-3d-plus-cameo-145: #f6bcad;
@caparol-3d-plus-cameo-140: #f5a998;
@caparol-3d-plus-cameo-135: #c78170;
@caparol-3d-plus-cameo-130: #ae695c;
@caparol-3d-plus-cameo-125: #a25545;
@caparol-3d-plus-cameo-180: #ffc9bb;
@caparol-3d-plus-cameo-175: #ffa492;
@caparol-3d-plus-cameo-170: #eb7f68;
@caparol-3d-plus-cameo-165: #e35b42;
@caparol-3d-plus-cameo-160: #da5946;
@caparol-3d-plus-cameo-155: #d05f4c;
@caparol-3d-plus-lachs-30: #feebe2;
@caparol-3d-plus-lachs-25: #fce5db;
@caparol-3d-plus-lachs-20: #f2d4c8;
@caparol-3d-plus-lachs-15: #e6c5b8;
@caparol-3d-plus-lachs-10: #d6b4a6;
@caparol-3d-plus-lachs-5: #c3a295;
@caparol-3d-plus-lachs-60: #fbdcce;
@caparol-3d-plus-lachs-55: #eec2b4;
@caparol-3d-plus-lachs-50: #dfa996;
@caparol-3d-plus-lachs-45: #d0a89a;
@caparol-3d-plus-lachs-40: #c29788;
@caparol-3d-plus-lachs-35: #ba8573;
@caparol-3d-plus-lachs-90: #ffd4c1;
@caparol-3d-plus-lachs-85: #ffc5b0;
@caparol-3d-plus-lachs-80: #e79a82;
@caparol-3d-plus-lachs-75: #da8f70;
@caparol-3d-plus-lachs-70: #d18163;
@caparol-3d-plus-lachs-65: #ac6a53;
@caparol-3d-plus-lachs-120: #fea489;
@caparol-3d-plus-lachs-115: #e88465;
@caparol-3d-plus-lachs-110: #df6441;
@caparol-3d-plus-lachs-105: #cf7555;
@caparol-3d-plus-lachs-100: #bd664c;
@caparol-3d-plus-lachs-95: #c05b40;
@caparol-3d-plus-aprico-30: #f1ede8;
@caparol-3d-plus-aprico-25: #f1eae5;
@caparol-3d-plus-aprico-20: #e3d9d2;
@caparol-3d-plus-aprico-15: #daccc3;
@caparol-3d-plus-aprico-10: #c3ada3;
@caparol-3d-plus-aprico-5: #b7a094;
@caparol-3d-plus-aprico-60: #fce5d7;
@caparol-3d-plus-aprico-55: #f3d5c8;
@caparol-3d-plus-aprico-50: #e4c9bb;
@caparol-3d-plus-aprico-45: #dab5a6;
@caparol-3d-plus-aprico-40: #aa8d7e;
@caparol-3d-plus-aprico-35: #957669;
@caparol-3d-plus-aprico-90: #f6d0bf;
@caparol-3d-plus-aprico-85: #e8c1b2;
@caparol-3d-plus-aprico-80: #edc1ae;
@caparol-3d-plus-aprico-75: #e7b299;
@caparol-3d-plus-aprico-70: #c09b89;
@caparol-3d-plus-aprico-65: #b58d7b;
@caparol-3d-plus-aprico-120: #eaae92;
@caparol-3d-plus-aprico-115: #f1ac8b;
@caparol-3d-plus-aprico-110: #e39e7d;
@caparol-3d-plus-aprico-105: #c6927a;
@caparol-3d-plus-aprico-100: #d59272;
@caparol-3d-plus-aprico-95: #a57660;
@caparol-3d-plus-aprico-150: #ffb593;
@caparol-3d-plus-aprico-145: #fd864f;
@caparol-3d-plus-aprico-140: #f17e4d;
@caparol-3d-plus-aprico-135: #ca7f5e;
@caparol-3d-plus-aprico-130: #d58258;
@caparol-3d-plus-aprico-125: #c66c46;
@caparol-3d-plus-aprico-180: #fce9dc;
@caparol-3d-plus-aprico-175: #ffdecd;
@caparol-3d-plus-aprico-170: #ffc4a5;
@caparol-3d-plus-aprico-165: #f8ab84;
@caparol-3d-plus-aprico-160: #eb9166;
@caparol-3d-plus-aprico-155: #d87240;
@caparol-3d-plus-papaya-30: #ddd3ca;
@caparol-3d-plus-papaya-25: #c7b9b1;
@caparol-3d-plus-papaya-20: #b0a097;
@caparol-3d-plus-papaya-15: #97877d;
@caparol-3d-plus-papaya-10: #806f64;
@caparol-3d-plus-papaya-5: #68554a;
@caparol-3d-plus-papaya-60: #e7d6cb;
@caparol-3d-plus-papaya-55: #d6beaf;
@caparol-3d-plus-papaya-50: #c4a796;
@caparol-3d-plus-papaya-45: #b3907c;
@caparol-3d-plus-papaya-40: #a07862;
@caparol-3d-plus-papaya-35: #895f47;
@caparol-3d-plus-papaya-90: #f3ddcf;
@caparol-3d-plus-papaya-85: #e6c4b0;
@caparol-3d-plus-papaya-80: #dbb096;
@caparol-3d-plus-papaya-75: #cd9978;
@caparol-3d-plus-papaya-70: #ba805e;
@caparol-3d-plus-papaya-65: #b37048;
@caparol-3d-plus-papaya-120: #fddfce;
@caparol-3d-plus-papaya-115: #f6caaf;
@caparol-3d-plus-papaya-110: #ecb391;
@caparol-3d-plus-papaya-105: #e59f75;
@caparol-3d-plus-papaya-100: #d78858;
@caparol-3d-plus-papaya-95: #c9733e;
@caparol-3d-plus-papaya-150: #ffe1cd;
@caparol-3d-plus-papaya-145: #ffceaf;
@caparol-3d-plus-papaya-140: #ffb88f;
@caparol-3d-plus-papaya-135: #fca571;
@caparol-3d-plus-papaya-130: #f99355;
@caparol-3d-plus-papaya-125: #ef7f39;
@caparol-3d-plus-ceramic-30: #d9cbc3;
@caparol-3d-plus-ceramic-25: #cdbdb2;
@caparol-3d-plus-ceramic-20: #bfaca0;
@caparol-3d-plus-ceramic-15: #c3aa98;
@caparol-3d-plus-ceramic-10: #aa8f7c;
@caparol-3d-plus-ceramic-5: #947a68;
@caparol-3d-plus-ceramic-60: #fbe4d4;
@caparol-3d-plus-ceramic-55: #e3cbba;
@caparol-3d-plus-ceramic-50: #e5c4ad;
@caparol-3d-plus-ceramic-45: #e3c0a9;
@caparol-3d-plus-ceramic-40: #d6b7a4;
@caparol-3d-plus-ceramic-35: #cbaa94;
@caparol-3d-plus-ceramic-90: #fbf0e7;
@caparol-3d-plus-ceramic-85: #fee6d6;
@caparol-3d-plus-ceramic-80: #ffdac1;
@caparol-3d-plus-ceramic-75: #f7d1b6;
@caparol-3d-plus-ceramic-70: #e2b392;
@caparol-3d-plus-ceramic-65: #c99d7e;
@caparol-3d-plus-amber-30: #ded4cb;
@caparol-3d-plus-amber-25: #c6baaf;
@caparol-3d-plus-amber-20: #b0a195;
@caparol-3d-plus-amber-15: #99897b;
@caparol-3d-plus-amber-10: #837162;
@caparol-3d-plus-amber-5: #604f41;
@caparol-3d-plus-amber-60: #e9d9cc;
@caparol-3d-plus-amber-55: #d8c0af;
@caparol-3d-plus-amber-50: #c7aa93;
@caparol-3d-plus-amber-45: #b49278;
@caparol-3d-plus-amber-40: #a47e60;
@caparol-3d-plus-amber-35: #8f6645;
@caparol-3d-plus-amber-90: #f3dcc9;
@caparol-3d-plus-amber-85: #e6c5aa;
@caparol-3d-plus-amber-80: #dbb08d;
@caparol-3d-plus-amber-75: #ce9b73;
@caparol-3d-plus-amber-70: #c18757;
@caparol-3d-plus-amber-65: #b4753d;
@caparol-3d-plus-amber-120: #fcdfc8;
@caparol-3d-plus-amber-115: #f7cba8;
@caparol-3d-plus-amber-110: #f0b98a;
@caparol-3d-plus-amber-105: #e8a76d;
@caparol-3d-plus-amber-100: #df944f;
@caparol-3d-plus-amber-95: #d98234;
@caparol-3d-plus-amber-150: #ffe2c6;
@caparol-3d-plus-amber-145: #ffd0a6;
@caparol-3d-plus-amber-140: #ffc288;
@caparol-3d-plus-amber-135: #ffaf66;
@caparol-3d-plus-amber-130: #ff9f45;
@caparol-3d-plus-amber-125: #fc8e28;
@caparol-3d-plus-siena-30: #eeeae5;
@caparol-3d-plus-siena-25: #e2dbd6;
@caparol-3d-plus-siena-20: #c8beb7;
@caparol-3d-plus-siena-15: #ac9f96;
@caparol-3d-plus-siena-10: #93857a;
@caparol-3d-plus-siena-5: #827163;
@caparol-3d-plus-siena-60: #fbf0e4;
@caparol-3d-plus-siena-55: #eadac9;
@caparol-3d-plus-siena-50: #e0d1c4;
@caparol-3d-plus-siena-45: #c4b2a3;
@caparol-3d-plus-siena-40: #ac9887;
@caparol-3d-plus-siena-35: #907c6b;
@caparol-3d-plus-siena-90: #e9cfb8;
@caparol-3d-plus-siena-85: #d3baa6;
@caparol-3d-plus-siena-80: #b79a80;
@caparol-3d-plus-siena-75: #b18c6c;
@caparol-3d-plus-siena-70: #a17e60;
@caparol-3d-plus-siena-65: #876b53;
@caparol-3d-plus-siena-120: #fbe6d5;
@caparol-3d-plus-siena-115: #fadec8;
@caparol-3d-plus-siena-110: #f2ceb2;
@caparol-3d-plus-siena-105: #dfbfa4;
@caparol-3d-plus-siena-100: #dbb89e;
@caparol-3d-plus-siena-95: #c7a78b;
@caparol-3d-plus-siena-150: #ffe9d9;
@caparol-3d-plus-siena-145: #ffdfc4;
@caparol-3d-plus-siena-140: #ffd0a7;
@caparol-3d-plus-siena-135: #e4b286;
@caparol-3d-plus-siena-130: #c6986e;
@caparol-3d-plus-siena-125: #cf9760;
@caparol-3d-plus-siena-180: #ffd09c;
@caparol-3d-plus-siena-175: #ffc794;
@caparol-3d-plus-siena-170: #ffb874;
@caparol-3d-plus-siena-165: #efb07e;
@caparol-3d-plus-siena-160: #e99e5c;
@caparol-3d-plus-siena-155: #ca8547;
@caparol-3d-plus-onyx-30: #e4e2de;
@caparol-3d-plus-onyx-25: #dad4ce;
@caparol-3d-plus-onyx-20: #dbd3cc;
@caparol-3d-plus-onyx-15: #ccc7c1;
@caparol-3d-plus-onyx-10: #c7c0b8;
@caparol-3d-plus-onyx-5: #b4aea7;
@caparol-3d-plus-onyx-60: #f7efe8;
@caparol-3d-plus-onyx-55: #e9e1d8;
@caparol-3d-plus-onyx-50: #e2d8ce;
@caparol-3d-plus-onyx-45: #bdb3aa;
@caparol-3d-plus-onyx-40: #988f84;
@caparol-3d-plus-onyx-35: #80776e;
@caparol-3d-plus-onyx-90: #faefe1;
@caparol-3d-plus-onyx-85: #f3e8db;
@caparol-3d-plus-onyx-80: #ead8c7;
@caparol-3d-plus-onyx-75: #e4d0bc;
@caparol-3d-plus-onyx-70: #d3c3b3;
@caparol-3d-plus-onyx-65: #b39b84;
@caparol-3d-plus-onyx-120: #fdeedc;
@caparol-3d-plus-onyx-115: #eed7c1;
@caparol-3d-plus-onyx-110: #e3c8ab;
@caparol-3d-plus-onyx-105: #dab793;
@caparol-3d-plus-onyx-100: #b69c80;
@caparol-3d-plus-onyx-95: #9d866e;
@caparol-3d-plus-onyx-150: #ffe8d2;
@caparol-3d-plus-onyx-145: #f9dcbf;
@caparol-3d-plus-onyx-140: #f1cfab;
@caparol-3d-plus-onyx-135: #e5bd93;
@caparol-3d-plus-onyx-130: #d7aa7c;
@caparol-3d-plus-onyx-125: #c09a77;
@caparol-3d-plus-onyx-180: #ffe3c3;
@caparol-3d-plus-onyx-175: #fcd0a4;
@caparol-3d-plus-onyx-170: #f4c28b;
@caparol-3d-plus-onyx-165: #e6b07c;
@caparol-3d-plus-onyx-160: #c59764;
@caparol-3d-plus-onyx-155: #c18d54;
@caparol-3d-plus-onyx-210: #fcf2e9;
@caparol-3d-plus-onyx-205: #ffd4a3;
@caparol-3d-plus-onyx-200: #ffc488;
@caparol-3d-plus-onyx-195: #f5b46f;
@caparol-3d-plus-onyx-190: #e9a45d;
@caparol-3d-plus-onyx-185: #dea05f;
@caparol-3d-plus-onyx-240: #ffd197;
@caparol-3d-plus-onyx-235: #ffc67a;
@caparol-3d-plus-onyx-230: #ffb961;
@caparol-3d-plus-onyx-225: #ffb857;
@caparol-3d-plus-onyx-220: #ee9a33;
@caparol-3d-plus-onyx-215: #df8e27;
@caparol-3d-plus-marill-30: #e0d8ce;
@caparol-3d-plus-marill-25: #c6bcb0;
@caparol-3d-plus-marill-20: #b0a699;
@caparol-3d-plus-marill-15: #998e7f;
@caparol-3d-plus-marill-10: #7d7160;
@caparol-3d-plus-marill-5: #6b5e4b;
@caparol-3d-plus-marill-60: #e7dbcb;
@caparol-3d-plus-marill-55: #d2c0aa;
@caparol-3d-plus-marill-50: #c0ac91;
@caparol-3d-plus-marill-45: #af997a;
@caparol-3d-plus-marill-40: #9c8362;
@caparol-3d-plus-marill-35: #8d734f;
@caparol-3d-plus-marill-90: #f0e0c9;
@caparol-3d-plus-marill-85: #e4caa7;
@caparol-3d-plus-marill-80: #dab98f;
@caparol-3d-plus-marill-75: #cda877;
@caparol-3d-plus-marill-70: #c19a62;
@caparol-3d-plus-marill-65: #b48849;
@caparol-3d-plus-marill-120: #fce5c6;
@caparol-3d-plus-marill-115: #f5d1a3;
@caparol-3d-plus-marill-110: #f0c589;
@caparol-3d-plus-marill-105: #efbd76;
@caparol-3d-plus-marill-100: #e4ad5a;
@caparol-3d-plus-marill-95: #dfa340;
@caparol-3d-plus-marill-150: #ffe6bc;
@caparol-3d-plus-marill-145: #ffdca0;
@caparol-3d-plus-marill-140: #ffd48d;
@caparol-3d-plus-marill-135: #ffcb6f;
@caparol-3d-plus-marill-130: #ffc255;
@caparol-3d-plus-marill-125: #ffbd3d;
@caparol-3d-plus-palazzo-30: #ece9e3;
@caparol-3d-plus-palazzo-25: #dddbd6;
@caparol-3d-plus-palazzo-20: #cfccc6;
@caparol-3d-plus-palazzo-15: #c2beb9;
@caparol-3d-plus-palazzo-10: #b3b0ab;
@caparol-3d-plus-palazzo-5: #a8a4a0;
@caparol-3d-plus-palazzo-60: #f0e9e1;
@caparol-3d-plus-palazzo-55: #e5ddd3;
@caparol-3d-plus-palazzo-50: #d6d0c5;
@caparol-3d-plus-palazzo-45: #c3beb5;
@caparol-3d-plus-palazzo-40: #b2aca4;
@caparol-3d-plus-palazzo-35: #8a867e;
@caparol-3d-plus-palazzo-90: #f7f0e3;
@caparol-3d-plus-palazzo-85: #cac1b3;
@caparol-3d-plus-palazzo-80: #a59e92;
@caparol-3d-plus-palazzo-75: #817c74;
@caparol-3d-plus-palazzo-70: #645f58;
@caparol-3d-plus-palazzo-65: #4c4840;
@caparol-3d-plus-palazzo-120: #efe3d1;
@caparol-3d-plus-palazzo-115: #ded5c8;
@caparol-3d-plus-palazzo-110: #bab1a3;
@caparol-3d-plus-palazzo-105: #aca293;
@caparol-3d-plus-palazzo-100: #9a8e7d;
@caparol-3d-plus-palazzo-95: #8c8478;
@caparol-3d-plus-palazzo-150: #e1d1ba;
@caparol-3d-plus-palazzo-145: #c9bba6;
@caparol-3d-plus-palazzo-140: #b2a28c;
@caparol-3d-plus-palazzo-135: #8e7f6b;
@caparol-3d-plus-palazzo-130: #73695a;
@caparol-3d-plus-palazzo-125: #5c5447;
@caparol-3d-plus-palazzo-180: #fcedd5;
@caparol-3d-plus-palazzo-175: #eed8b8;
@caparol-3d-plus-palazzo-170: #d3c1a3;
@caparol-3d-plus-palazzo-165: #9c8d74;
@caparol-3d-plus-palazzo-160: #7e725b;
@caparol-3d-plus-palazzo-155: #6f604c;
@caparol-3d-plus-palazzo-210: #fae7c8;
@caparol-3d-plus-palazzo-205: #e4c79f;
@caparol-3d-plus-palazzo-200: #c9b08b;
@caparol-3d-plus-palazzo-195: #b9a279;
@caparol-3d-plus-palazzo-190: #967d55;
@caparol-3d-plus-palazzo-185: #7b6343;
@caparol-3d-plus-palazzo-240: #fdf2e0;
@caparol-3d-plus-palazzo-235: #ffe3b7;
@caparol-3d-plus-palazzo-230: #f7d5a3;
@caparol-3d-plus-palazzo-225: #d8b98b;
@caparol-3d-plus-palazzo-220: #cdb082;
@caparol-3d-plus-palazzo-215: #b18f55;
@caparol-3d-plus-palazzo-270: #ffdfa3;
@caparol-3d-plus-palazzo-265: #fbd290;
@caparol-3d-plus-palazzo-260: #e2bc80;
@caparol-3d-plus-palazzo-255: #d5ab66;
@caparol-3d-plus-palazzo-250: #b38d48;
@caparol-3d-plus-palazzo-245: #9f7f4b;
@caparol-3d-plus-palazzo-300: #ffdb92;
@caparol-3d-plus-palazzo-295: #f1c276;
@caparol-3d-plus-palazzo-290: #e1b05c;
@caparol-3d-plus-palazzo-285: #d4a54e;
@caparol-3d-plus-palazzo-280: #9b7436;
@caparol-3d-plus-palazzo-275: #936e38;
@caparol-3d-plus-palazzo-330: #ffd67c;
@caparol-3d-plus-palazzo-325: #ffcf7a;
@caparol-3d-plus-palazzo-320: #e8b145;
@caparol-3d-plus-palazzo-315: #c99943;
@caparol-3d-plus-palazzo-310: #c69237;
@caparol-3d-plus-palazzo-305: #b6873e;
@caparol-3d-plus-palazzo-360: #ffd365;
@caparol-3d-plus-palazzo-355: #febe32;
@caparol-3d-plus-palazzo-350: #ffbd00;
@caparol-3d-plus-palazzo-345: #e9af2a;
@caparol-3d-plus-palazzo-340: #d2992d;
@caparol-3d-plus-palazzo-335: #c28e26;
@caparol-3d-plus-curcuma-30: #e2ddd2;
@caparol-3d-plus-curcuma-25: #ccc3b3;
@caparol-3d-plus-curcuma-20: #b4a994;
@caparol-3d-plus-curcuma-15: #9d9077;
@caparol-3d-plus-curcuma-10: #86775a;
@caparol-3d-plus-curcuma-5: #726244;
@caparol-3d-plus-curcuma-60: #ebe0cd;
@caparol-3d-plus-curcuma-55: #dbccb0;
@caparol-3d-plus-curcuma-50: #ccb78f;
@caparol-3d-plus-curcuma-45: #baa270;
@caparol-3d-plus-curcuma-40: #ac9155;
@caparol-3d-plus-curcuma-35: #9c7f3b;
@caparol-3d-plus-curcuma-90: #f1e3cb;
@caparol-3d-plus-curcuma-85: #edd6ac;
@caparol-3d-plus-curcuma-80: #e8c98a;
@caparol-3d-plus-curcuma-75: #e0ba69;
@caparol-3d-plus-curcuma-70: #d8ae4c;
@caparol-3d-plus-curcuma-65: #cd9e25;
@caparol-3d-plus-curcuma-120: #feeac4;
@caparol-3d-plus-curcuma-115: #ffe2a4;
@caparol-3d-plus-curcuma-110: #ffd882;
@caparol-3d-plus-curcuma-105: #ffcf61;
@caparol-3d-plus-curcuma-100: #fcc637;
@caparol-3d-plus-curcuma-95: #febc00;
@caparol-3d-plus-ginster-30: #f3efe8;
@caparol-3d-plus-ginster-25: #f0ebe2;
@caparol-3d-plus-ginster-20: #e2dbcf;
@caparol-3d-plus-ginster-15: #cfc7b9;
@caparol-3d-plus-ginster-10: #c4b9a8;
@caparol-3d-plus-ginster-5: #b8ad99;
@caparol-3d-plus-ginster-60: #f6e8d1;
@caparol-3d-plus-ginster-55: #e8dbc4;
@caparol-3d-plus-ginster-50: #d9cbb3;
@caparol-3d-plus-ginster-45: #baad94;
@caparol-3d-plus-ginster-40: #9c8f76;
@caparol-3d-plus-ginster-35: #8c7c61;
@caparol-3d-plus-ginster-90: #fef0d5;
@caparol-3d-plus-ginster-85: #f5e2be;
@caparol-3d-plus-ginster-80: #e4d0aa;
@caparol-3d-plus-ginster-75: #d2c09f;
@caparol-3d-plus-ginster-70: #c4ae83;
@caparol-3d-plus-ginster-65: #aa9467;
@caparol-3d-plus-ginster-120: #ffecc6;
@caparol-3d-plus-ginster-115: #f8dfb1;
@caparol-3d-plus-ginster-110: #f4d695;
@caparol-3d-plus-ginster-105: #fad58f;
@caparol-3d-plus-ginster-100: #e8c782;
@caparol-3d-plus-ginster-95: #dbc18e;
@caparol-3d-plus-ginster-150: #ffe19a;
@caparol-3d-plus-ginster-145: #ffd661;
@caparol-3d-plus-ginster-140: #fad06f;
@caparol-3d-plus-ginster-135: #fecf4c;
@caparol-3d-plus-ginster-130: #f8c100;
@caparol-3d-plus-ginster-125: #eeb408;
@caparol-3d-plus-curry-30: #fdf5e3;
@caparol-3d-plus-curry-25: #f7f0e1;
@caparol-3d-plus-curry-20: #ede5d5;
@caparol-3d-plus-curry-15: #e2dac8;
@caparol-3d-plus-curry-10: #d2c9b0;
@caparol-3d-plus-curry-5: #c0b499;
@caparol-3d-plus-curry-60: #fcf5de;
@caparol-3d-plus-curry-55: #faf0d5;
@caparol-3d-plus-curry-50: #eee0be;
@caparol-3d-plus-curry-45: #decc9f;
@caparol-3d-plus-curry-40: #c4b281;
@caparol-3d-plus-curry-35: #a59364;
@caparol-3d-plus-curry-90: #fff1ca;
@caparol-3d-plus-curry-85: #fdedc4;
@caparol-3d-plus-curry-80: #f3e0b3;
@caparol-3d-plus-curry-75: #e6d19d;
@caparol-3d-plus-curry-70: #d8c283;
@caparol-3d-plus-curry-65: #c2ae76;
@caparol-3d-plus-curry-120: #feeab1;
@caparol-3d-plus-curry-115: #f9e094;
@caparol-3d-plus-curry-110: #f2d894;
@caparol-3d-plus-curry-105: #e7ca7a;
@caparol-3d-plus-curry-100: #c7af66;
@caparol-3d-plus-curry-95: #b79c3e;
@caparol-3d-plus-curry-150: #ffec9e;
@caparol-3d-plus-curry-145: #fde38b;
@caparol-3d-plus-curry-140: #fcdb60;
@caparol-3d-plus-curry-135: #f0d169;
@caparol-3d-plus-curry-130: #eac430;
@caparol-3d-plus-curry-125: #dab62f;
@caparol-3d-plus-citrus-30: #e5e0d3;
@caparol-3d-plus-citrus-25: #cbc5b3;
@caparol-3d-plus-citrus-20: #b1ab94;
@caparol-3d-plus-citrus-15: #999176;
@caparol-3d-plus-citrus-10: #7f7759;
@caparol-3d-plus-citrus-5: #6a6344;
@caparol-3d-plus-citrus-60: #ece4c8;
@caparol-3d-plus-citrus-55: #ddd2a9;
@caparol-3d-plus-citrus-50: #cdc08b;
@caparol-3d-plus-citrus-45: #bdae6f;
@caparol-3d-plus-citrus-40: #ac9c51;
@caparol-3d-plus-citrus-35: #9b8c3c;
@caparol-3d-plus-citrus-90: #f9ecbf;
@caparol-3d-plus-citrus-85: #f4e3a2;
@caparol-3d-plus-citrus-80: #ecd987;
@caparol-3d-plus-citrus-75: #e6d069;
@caparol-3d-plus-citrus-70: #dec84c;
@caparol-3d-plus-citrus-65: #ccb42b;
@caparol-3d-plus-citrus-120: #ffefb2;
@caparol-3d-plus-citrus-115: #fde996;
@caparol-3d-plus-citrus-110: #fee778;
@caparol-3d-plus-citrus-105: #fce559;
@caparol-3d-plus-citrus-100: #fce23c;
@caparol-3d-plus-citrus-95: #fee016;
@caparol-3d-plus-melisse-30: #faf5e0;
@caparol-3d-plus-melisse-25: #f6efdf;
@caparol-3d-plus-melisse-20: #f2efe8;
@caparol-3d-plus-melisse-15: #edeae1;
@caparol-3d-plus-melisse-10: #dfdcd2;
@caparol-3d-plus-melisse-5: #d1cec3;
@caparol-3d-plus-melisse-60: #fbf6e8;
@caparol-3d-plus-melisse-55: #f7f0da;
@caparol-3d-plus-melisse-50: #ece5cc;
@caparol-3d-plus-melisse-45: #e3dbc3;
@caparol-3d-plus-melisse-40: #d3ccb2;
@caparol-3d-plus-melisse-35: #b9b190;
@caparol-3d-plus-melisse-90: #faf4d6;
@caparol-3d-plus-melisse-85: #fcedb6;
@caparol-3d-plus-melisse-80: #e0d39c;
@caparol-3d-plus-melisse-75: #bcae79;
@caparol-3d-plus-melisse-70: #9d9676;
@caparol-3d-plus-melisse-65: #857c56;
@caparol-3d-plus-melisse-120: #fbf2c6;
@caparol-3d-plus-melisse-115: #faea75;
@caparol-3d-plus-melisse-110: #f5e050;
@caparol-3d-plus-melisse-105: #ebd54c;
@caparol-3d-plus-melisse-100: #d4bf37;
@caparol-3d-plus-melisse-95: #ceb73d;
@caparol-3d-plus-soja-30: #f9f5e2;
@caparol-3d-plus-soja-25: #fbf5df;
@caparol-3d-plus-soja-20: #faf4d6;
@caparol-3d-plus-soja-15: #eee8d1;
@caparol-3d-plus-soja-10: #d2cdbe;
@caparol-3d-plus-soja-5: #c1bca5;
@caparol-3d-plus-tundra-30: #f3efe2;
@caparol-3d-plus-tundra-25: #e7e4d5;
@caparol-3d-plus-tundra-20: #c2beb1;
@caparol-3d-plus-tundra-15: #918e82;
@caparol-3d-plus-tundra-10: #79776b;
@caparol-3d-plus-tundra-5: #61615d;
@caparol-3d-plus-tundra-60: #f9f7e9;
@caparol-3d-plus-tundra-55: #f4efda;
@caparol-3d-plus-tundra-50: #dedbca;
@caparol-3d-plus-tundra-45: #d1cdb5;
@caparol-3d-plus-tundra-40: #c4bfa0;
@caparol-3d-plus-tundra-35: #aea78d;
@caparol-3d-plus-tundra-90: #e2dcbb;
@caparol-3d-plus-tundra-85: #b8b18e;
@caparol-3d-plus-tundra-80: #9c9469;
@caparol-3d-plus-tundra-75: #888661;
@caparol-3d-plus-tundra-70: #7b7a5f;
@caparol-3d-plus-tundra-65: #676250;
@caparol-3d-plus-tundra-120: #d7cf94;
@caparol-3d-plus-tundra-115: #c9c090;
@caparol-3d-plus-tundra-110: #aaa265;
@caparol-3d-plus-tundra-105: #9a9458;
@caparol-3d-plus-tundra-100: #89824f;
@caparol-3d-plus-tundra-95: #827e52;
@caparol-3d-plus-tundra-150: #f8f2bb;
@caparol-3d-plus-tundra-145: #f5ec6e;
@caparol-3d-plus-tundra-140: #eae24f;
@caparol-3d-plus-tundra-135: #d7cf45;
@caparol-3d-plus-tundra-130: #c8c149;
@caparol-3d-plus-tundra-125: #a8a04b;
@caparol-3d-plus-mai-30: #f7f4e8;
@caparol-3d-plus-mai-25: #e2dfd3;
@caparol-3d-plus-mai-20: #cbc8bc;
@caparol-3d-plus-mai-15: #aeaba1;
@caparol-3d-plus-mai-10: #88857f;
@caparol-3d-plus-mai-05: #75746d;
@caparol-3d-plus-mai-60: #f9f6dd;
@caparol-3d-plus-mai-55: #ebe5cc;
@caparol-3d-plus-mai-50: #d1ceb6;
@caparol-3d-plus-mai-45: #bdbaa2;
@caparol-3d-plus-mai-40: #9c9982;
@caparol-3d-plus-mai-35: #8b876f;
@caparol-3d-plus-mai-90: #eae681;
@caparol-3d-plus-mai-85: #dde08f;
@caparol-3d-plus-mai-80: #cecf5d;
@caparol-3d-plus-mai-75: #c0c744;
@caparol-3d-plus-mai-70: #b3b751;
@caparol-3d-plus-mai-65: #b2b47e;
@caparol-3d-plus-jade-30: #f1efe9;
@caparol-3d-plus-jade-25: #e5e3dd;
@caparol-3d-plus-jade-20: #dddbd5;
@caparol-3d-plus-jade-15: #d7d5ce;
@caparol-3d-plus-jade-10: #c1c0b9;
@caparol-3d-plus-jade-5: #b3b4ae;
@caparol-3d-plus-jade-60: #f2f0e5;
@caparol-3d-plus-jade-55: #deddd5;
@caparol-3d-plus-jade-50: #d0cfc5;
@caparol-3d-plus-jade-45: #c2c2b4;
@caparol-3d-plus-jade-40: #b5b4a8;
@caparol-3d-plus-jade-35: #959690;
@caparol-3d-plus-jade-90: #f3f1dc;
@caparol-3d-plus-jade-85: #e5e4ca;
@caparol-3d-plus-jade-80: #d5d6b4;
@caparol-3d-plus-jade-75: #bebfa6;
@caparol-3d-plus-jade-70: #a6a58f;
@caparol-3d-plus-jade-65: #87896b;
@caparol-3d-plus-jade-120: #e6eca6;
@caparol-3d-plus-jade-115: #dfe6af;
@caparol-3d-plus-jade-110: #dddfad;
@caparol-3d-plus-jade-105: #bcc290;
@caparol-3d-plus-jade-100: #a2a781;
@caparol-3d-plus-jade-95: #737854;
@caparol-3d-plus-pinie-30: #dcded2;
@caparol-3d-plus-pinie-25: #c3c5b6;
@caparol-3d-plus-pinie-20: #a7a998;
@caparol-3d-plus-pinie-15: #8a8e7a;
@caparol-3d-plus-pinie-10: #6f745e;
@caparol-3d-plus-pinie-5: #5b604a;
@caparol-3d-plus-pinie-60: #e1e5ce;
@caparol-3d-plus-pinie-55: #c9cdb0;
@caparol-3d-plus-pinie-50: #aeb692;
@caparol-3d-plus-pinie-45: #959f73;
@caparol-3d-plus-pinie-40: #7c8859;
@caparol-3d-plus-pinie-35: #687440;
@caparol-3d-plus-pinie-90: #e2e9ca;
@caparol-3d-plus-pinie-85: #ced7ac;
@caparol-3d-plus-pinie-80: #b7c58d;
@caparol-3d-plus-pinie-75: #a0b16e;
@caparol-3d-plus-pinie-70: #8ca153;
@caparol-3d-plus-pinie-65: #7b8e3e;
@caparol-3d-plus-pinie-120: #e5edc2;
@caparol-3d-plus-pinie-115: #d4e1a5;
@caparol-3d-plus-pinie-110: #bfd186;
@caparol-3d-plus-pinie-105: #aec468;
@caparol-3d-plus-pinie-100: #9ab546;
@caparol-3d-plus-pinie-95: #84a72d;
@caparol-3d-plus-moos-30: #ecebe5;
@caparol-3d-plus-moos-25: #d9dad4;
@caparol-3d-plus-moos-20: #a9a9a5;
@caparol-3d-plus-moos-15: #8c8d86;
@caparol-3d-plus-moos-10: #74746d;
@caparol-3d-plus-moos-5: #60615a;
@caparol-3d-plus-moos-60: #e0e3d6;
@caparol-3d-plus-moos-55: #d5d5cd;
@caparol-3d-plus-moos-50: #c1c2b6;
@caparol-3d-plus-moos-45: #bdbdb7;
@caparol-3d-plus-moos-40: #abad9f;
@caparol-3d-plus-moos-35: #989d89;
@caparol-3d-plus-moos-90: #eff2e0;
@caparol-3d-plus-moos-85: #d7ddc3;
@caparol-3d-plus-moos-80: #cbd0ba;
@caparol-3d-plus-moos-75: #b2b7a0;
@caparol-3d-plus-moos-70: #9ca87c;
@caparol-3d-plus-moos-65: #838c70;
@caparol-3d-plus-oase-30: #e9eae2;
@caparol-3d-plus-oase-25: #dbddd3;
@caparol-3d-plus-oase-20: #c9cfc4;
@caparol-3d-plus-oase-15: #acb2a4;
@caparol-3d-plus-oase-10: #a0a798;
@caparol-3d-plus-oase-5: #8c9383;
@caparol-3d-plus-oase-60: #eef1e9;
@caparol-3d-plus-oase-55: #dadfd3;
@caparol-3d-plus-oase-50: #b6c2aa;
@caparol-3d-plus-oase-45: #7a8569;
@caparol-3d-plus-oase-40: #5c6454;
@caparol-3d-plus-oase-35: #4e564a;
@caparol-3d-plus-oase-90: #eaede1;
@caparol-3d-plus-oase-85: #d8e0ce;
@caparol-3d-plus-oase-80: #c8d1bc;
@caparol-3d-plus-oase-75: #96a486;
@caparol-3d-plus-oase-70: #5d6f55;
@caparol-3d-plus-oase-65: #51614a;
@caparol-3d-plus-oase-120: #e9f5da;
@caparol-3d-plus-oase-115: #b5c7a1;
@caparol-3d-plus-oase-110: #aac992;
@caparol-3d-plus-oase-105: #83916d;
@caparol-3d-plus-oase-100: #627e52;
@caparol-3d-plus-oase-95: #4c6943;
@caparol-3d-plus-oase-150: #b4da93;
@caparol-3d-plus-oase-145: #93cb6c;
@caparol-3d-plus-oase-140: #84bc55;
@caparol-3d-plus-oase-135: #87aa6a;
@caparol-3d-plus-oase-130: #6a9d4d;
@caparol-3d-plus-oase-125: #5d834c;
@caparol-3d-plus-agave-30: #f2f1e9;
@caparol-3d-plus-agave-25: #dbdcd5;
@caparol-3d-plus-agave-20: #cccec7;
@caparol-3d-plus-agave-15: #b2b2ac;
@caparol-3d-plus-agave-10: #979993;
@caparol-3d-plus-agave-5: #7b7b77;
@caparol-3d-plus-agave-60: #f7f7f0;
@caparol-3d-plus-agave-55: #edf1e8;
@caparol-3d-plus-agave-50: #e2e5db;
@caparol-3d-plus-agave-45: #c9cfc4;
@caparol-3d-plus-agave-40: #adb6a8;
@caparol-3d-plus-agave-35: #8f9888;
@caparol-3d-plus-agave-90: #e7ece5;
@caparol-3d-plus-agave-85: #d7dfd0;
@caparol-3d-plus-agave-80: #cce2c7;
@caparol-3d-plus-agave-75: #b6c4ae;
@caparol-3d-plus-agave-70: #a9c59d;
@caparol-3d-plus-agave-65: #96a88c;
@caparol-3d-plus-agave-120: #ecf7e8;
@caparol-3d-plus-agave-115: #e5f5dc;
@caparol-3d-plus-agave-110: #d1edc6;
@caparol-3d-plus-agave-105: #b1e3b0;
@caparol-3d-plus-agave-100: #83ac7b;
@caparol-3d-plus-agave-95: #649457;
@caparol-3d-plus-agave-150: #c6efbc;
@caparol-3d-plus-agave-145: #a3db99;
@caparol-3d-plus-agave-140: #9cd08c;
@caparol-3d-plus-agave-135: #81c771;
@caparol-3d-plus-agave-130: #7fbd74;
@caparol-3d-plus-agave-125: #63b05b;
@caparol-3d-plus-malachit-30: #d4d9d3;
@caparol-3d-plus-malachit-25: #b8c0b8;
@caparol-3d-plus-malachit-20: #9aa49b;
@caparol-3d-plus-malachit-15: #7e897f;
@caparol-3d-plus-malachit-10: #616f65;
@caparol-3d-plus-malachit-5: #4b594f;
@caparol-3d-plus-malachit-60: #d4e1d6;
@caparol-3d-plus-malachit-55: #b4c7b9;
@caparol-3d-plus-malachit-50: #95ae9b;
@caparol-3d-plus-malachit-45: #74927d;
@caparol-3d-plus-malachit-40: #53765e;
@caparol-3d-plus-malachit-35: #3c6149;
@caparol-3d-plus-malachit-90: #d5e8d9;
@caparol-3d-plus-malachit-85: #b2cdb8;
@caparol-3d-plus-malachit-80: #92b49b;
@caparol-3d-plus-malachit-75: #6f9c7e;
@caparol-3d-plus-malachit-70: #4d815e;
@caparol-3d-plus-malachit-65: #2f6847;
@caparol-3d-plus-malachit-120: #d4efdc;
@caparol-3d-plus-malachit-115: #afd5b9;
@caparol-3d-plus-malachit-110: #8aba98;
@caparol-3d-plus-malachit-105: #66a179;
@caparol-3d-plus-malachit-100: #40885c;
@caparol-3d-plus-malachit-95: #1c7043;
@caparol-3d-plus-mint-30: #f0eee9;
@caparol-3d-plus-mint-25: #e4e6e1;
@caparol-3d-plus-mint-20: #d5dad3;
@caparol-3d-plus-mint-15: #c5cdc6;
@caparol-3d-plus-mint-10: #a6ada7;
@caparol-3d-plus-mint-5: #8b918b;
@caparol-3d-plus-mint-60: #e3eae0;
@caparol-3d-plus-mint-55: #c0d0c3;
@caparol-3d-plus-mint-50: #a6b7ad;
@caparol-3d-plus-mint-45: #8da592;
@caparol-3d-plus-mint-40: #718f78;
@caparol-3d-plus-mint-35: #728072;
@caparol-3d-plus-patina-30: #eff0eb;
@caparol-3d-plus-patina-25: #d5dbd7;
@caparol-3d-plus-patina-20: #c2cec9;
@caparol-3d-plus-patina-15: #b2c0bb;
@caparol-3d-plus-patina-10: #a0b3ac;
@caparol-3d-plus-patina-5: #7e9890;
@caparol-3d-plus-patina-60: #c8dcd5;
@caparol-3d-plus-patina-55: #afc4be;
@caparol-3d-plus-patina-50: #8a9b95;
@caparol-3d-plus-patina-45: #5c716a;
@caparol-3d-plus-patina-40: #41554f;
@caparol-3d-plus-patina-35: #505856;
@caparol-3d-plus-patina-90: #eaf1ea;
@caparol-3d-plus-patina-85: #a9d7c9;
@caparol-3d-plus-patina-80: #a9c6bc;
@caparol-3d-plus-patina-75: #88a89d;
@caparol-3d-plus-patina-70: #617f75;
@caparol-3d-plus-patina-65: #315d53;
@caparol-3d-plus-patina-120: #83baaa;
@caparol-3d-plus-patina-115: #6abfa9;
@caparol-3d-plus-patina-110: #5d9d8c;
@caparol-3d-plus-patina-105: #3aa08b;
@caparol-3d-plus-patina-100: #338573;
@caparol-3d-plus-patina-95: #2b7869;
@caparol-3d-plus-verona-30: #f1f1ec;
@caparol-3d-plus-verona-25: #ebeae5;
@caparol-3d-plus-verona-20: #dcdcd9;
@caparol-3d-plus-verona-15: #d5d7d3;
@caparol-3d-plus-verona-10: #cccdca;
@caparol-3d-plus-verona-5: #b0b3b1;
@caparol-3d-plus-verona-60: #e2e8e5;
@caparol-3d-plus-verona-55: #d8dfdd;
@caparol-3d-plus-verona-50: #c4c8c5;
@caparol-3d-plus-verona-45: #b4bbb9;
@caparol-3d-plus-verona-40: #919998;
@caparol-3d-plus-verona-35: #606868;
@caparol-3d-plus-verona-90: #e4f2ee;
@caparol-3d-plus-verona-85: #cfddd9;
@caparol-3d-plus-verona-80: #a9b5b4;
@caparol-3d-plus-verona-75: #849492;
@caparol-3d-plus-verona-70: #667d7c;
@caparol-3d-plus-verona-65: #3b6162;
@caparol-3d-plus-verona-120: #d6eeea;
@caparol-3d-plus-verona-115: #b5d6d3;
@caparol-3d-plus-verona-110: #9cb9b8;
@caparol-3d-plus-verona-105: #679c9c;
@caparol-3d-plus-verona-100: #5d8080;
@caparol-3d-plus-verona-95: #428384;
@caparol-3d-plus-verona-150: #b1e2e1;
@caparol-3d-plus-verona-145: #86cbc8;
@caparol-3d-plus-verona-140: #61afae;
@caparol-3d-plus-verona-135: #239396;
@caparol-3d-plus-verona-130: #007c7f;
@caparol-3d-plus-verona-125: #007272;
@caparol-3d-plus-arctis-30: #e6e8e6;
@caparol-3d-plus-arctis-25: #d3d9d8;
@caparol-3d-plus-arctis-20: #b9c2c2;
@caparol-3d-plus-arctis-15: #9fa6a9;
@caparol-3d-plus-arctis-10: #80878b;
@caparol-3d-plus-arctis-5: #697073;
@caparol-3d-plus-arctis-60: #e6edeb;
@caparol-3d-plus-arctis-55: #c7d0cf;
@caparol-3d-plus-arctis-50: #a7b3b4;
@caparol-3d-plus-arctis-45: #879598;
@caparol-3d-plus-arctis-40: #6f7d81;
@caparol-3d-plus-arctis-35: #688088;
@caparol-3d-plus-arctis-90: #cedfe1;
@caparol-3d-plus-arctis-85: #c4e0e5;
@caparol-3d-plus-arctis-80: #becfd3;
@caparol-3d-plus-arctis-75: #a4c5cc;
@caparol-3d-plus-arctis-70: #9cb5ba;
@caparol-3d-plus-arctis-65: #809ba2;
@caparol-3d-plus-arctis-120: #c1e4ee;
@caparol-3d-plus-arctis-115: #acd4dc;
@caparol-3d-plus-arctis-110: #83c7d6;
@caparol-3d-plus-arctis-105: #85a9b2;
@caparol-3d-plus-arctis-100: #698c96;
@caparol-3d-plus-arctis-95: #487581;
@caparol-3d-plus-coelin-30: #f3f6f5;
@caparol-3d-plus-coelin-25: #edf0ee;
@caparol-3d-plus-coelin-20: #e4e4e2;
@caparol-3d-plus-coelin-15: #d3d6d5;
@caparol-3d-plus-coelin-10: #c5c9ca;
@caparol-3d-plus-coelin-5: #b7bcbf;
@caparol-3d-plus-coelin-60: #eaf3f6;
@caparol-3d-plus-coelin-55: #e4ecec;
@caparol-3d-plus-coelin-50: #d5dddf;
@caparol-3d-plus-coelin-45: #c5d0d4;
@caparol-3d-plus-coelin-40: #b8c4c8;
@caparol-3d-plus-coelin-35: #a7b6bc;
@caparol-3d-plus-coelin-90: #d7edf1;
@caparol-3d-plus-coelin-85: #c0e0ea;
@caparol-3d-plus-coelin-80: #b2d4e0;
@caparol-3d-plus-coelin-75: #a3c8d6;
@caparol-3d-plus-coelin-70: #90b9c8;
@caparol-3d-plus-coelin-65: #89b0be;
@caparol-3d-plus-coelin-120: #b7dae8;
@caparol-3d-plus-coelin-115: #9bd8ec;
@caparol-3d-plus-coelin-110: #86cae3;
@caparol-3d-plus-coelin-105: #6bb0c7;
@caparol-3d-plus-coelin-100: #4194ae;
@caparol-3d-plus-coelin-95: #267894;
@caparol-3d-plus-pacific-30: #dee2e0;
@caparol-3d-plus-pacific-25: #cccece;
@caparol-3d-plus-pacific-20: #b9bfbf;
@caparol-3d-plus-pacific-15: #9aa4a9;
@caparol-3d-plus-pacific-10: #5b6267;
@caparol-3d-plus-pacific-5: #454d52;
@caparol-3d-plus-pacific-60: #e3e7e6;
@caparol-3d-plus-pacific-55: #d2d7d8;
@caparol-3d-plus-pacific-50: #c1c8ca;
@caparol-3d-plus-pacific-45: #7a888f;
@caparol-3d-plus-pacific-40: #647079;
@caparol-3d-plus-pacific-35: #566570;
@caparol-3d-plus-pacific-90: #e9f1f0;
@caparol-3d-plus-pacific-85: #e2eae9;
@caparol-3d-plus-pacific-80: #c3d0d6;
@caparol-3d-plus-pacific-75: #a7b5bd;
@caparol-3d-plus-pacific-70: #a3b3bd;
@caparol-3d-plus-pacific-65: #9ca8ae;
@caparol-3d-plus-pacific-120: #bed1da;
@caparol-3d-plus-pacific-115: #bad2df;
@caparol-3d-plus-pacific-110: #8598a4;
@caparol-3d-plus-pacific-105: #859eac;
@caparol-3d-plus-pacific-100: #476473;
@caparol-3d-plus-pacific-95: #32495b;
@caparol-3d-plus-pacific-150: #b4d2e1;
@caparol-3d-plus-pacific-145: #9cb6c4;
@caparol-3d-plus-pacific-140: #809aab;
@caparol-3d-plus-pacific-135: #628091;
@caparol-3d-plus-pacific-130: #3b697d;
@caparol-3d-plus-pacific-125: #365a6d;
@caparol-3d-plus-pacific-180: #a3d4ec;
@caparol-3d-plus-pacific-175: #74acc9;
@caparol-3d-plus-pacific-170: #729bb1;
@caparol-3d-plus-pacific-165: #4d91b1;
@caparol-3d-plus-pacific-160: #588197;
@caparol-3d-plus-pacific-155: #2c7695;
@caparol-3d-plus-lago-30: #d2d5d6;
@caparol-3d-plus-lago-25: #b1b7ba;
@caparol-3d-plus-lago-20: #939a9f;
@caparol-3d-plus-lago-15: #757e84;
@caparol-3d-plus-lago-10: #58636b;
@caparol-3d-plus-lago-5: #3e4952;
@caparol-3d-plus-lago-60: #d3dce2;
@caparol-3d-plus-lago-55: #b4c1c9;
@caparol-3d-plus-lago-50: #93a3ae;
@caparol-3d-plus-lago-45: #748695;
@caparol-3d-plus-lago-40: #526879;
@caparol-3d-plus-lago-35: #335063;
@caparol-3d-plus-lago-90: #d6e2eb;
@caparol-3d-plus-lago-85: #b4c8d6;
@caparol-3d-plus-lago-80: #93abbd;
@caparol-3d-plus-lago-75: #7490a5;
@caparol-3d-plus-lago-70: #55778f;
@caparol-3d-plus-lago-65: #2d5a76;
@caparol-3d-plus-lago-120: #d9e9f5;
@caparol-3d-plus-lago-115: #b5cfe2;
@caparol-3d-plus-lago-110: #93b4cc;
@caparol-3d-plus-lago-105: #7099b8;
@caparol-3d-plus-lago-100: #4b7ea0;
@caparol-3d-plus-lago-95: #25658b;
@caparol-3d-plus-lazur-30: #eaeae7;
@caparol-3d-plus-lazur-25: #dadada;
@caparol-3d-plus-lazur-20: #cccdce;
@caparol-3d-plus-lazur-15: #adb2b8;
@caparol-3d-plus-lazur-10: #969ca3;
@caparol-3d-plus-lazur-5: #818892;
@caparol-3d-plus-lazur-60: #f2f3f1;
@caparol-3d-plus-lazur-55: #eff0ef;
@caparol-3d-plus-lazur-50: #ecebeb;
@caparol-3d-plus-lazur-45: #e4e9ec;
@caparol-3d-plus-lazur-40: #d5dce3;
@caparol-3d-plus-lazur-35: #c9d0d9;
@caparol-3d-plus-lazur-90: #c6d1dc;
@caparol-3d-plus-lazur-85: #a8b2bf;
@caparol-3d-plus-lazur-80: #8895a6;
@caparol-3d-plus-lazur-75: #737c89;
@caparol-3d-plus-lazur-70: #576270;
@caparol-3d-plus-lazur-65: #4e5b68;
@caparol-3d-plus-lazur-120: #c1d0e0;
@caparol-3d-plus-lazur-115: #b0c1d3;
@caparol-3d-plus-lazur-110: #8a99ab;
@caparol-3d-plus-lazur-105: #697b94;
@caparol-3d-plus-lazur-100: #5b6d83;
@caparol-3d-plus-lazur-95: #44566b;
@caparol-3d-plus-lazur-150: #a3b3c7;
@caparol-3d-plus-lazur-145: #a0b5cf;
@caparol-3d-plus-lazur-140: #8698af;
@caparol-3d-plus-lazur-135: #7c98b9;
@caparol-3d-plus-lazur-130: #576f8c;
@caparol-3d-plus-lazur-125: #3e5c78;
@caparol-3d-plus-lazur-180: #a9c1dc;
@caparol-3d-plus-lazur-175: #94b7dd;
@caparol-3d-plus-lazur-170: #799bc0;
@caparol-3d-plus-lazur-165: #5e7fa3;
@caparol-3d-plus-lazur-160: #4c6f93;
@caparol-3d-plus-lazur-155: #335e81;
@caparol-3d-plus-lazur-210: #80a4cc;
@caparol-3d-plus-lazur-205: #739bc6;
@caparol-3d-plus-lazur-200: #649ace;
@caparol-3d-plus-lazur-195: #5581ac;
@caparol-3d-plus-lazur-190: #2f648f;
@caparol-3d-plus-lazur-185: #225f8f;
@caparol-3d-plus-saphir-30: #d4d6d9;
@caparol-3d-plus-saphir-25: #b4b7bc;
@caparol-3d-plus-saphir-20: #969ba2;
@caparol-3d-plus-saphir-15: #797e87;
@caparol-3d-plus-saphir-10: #595f6b;
@caparol-3d-plus-saphir-5: #434956;
@caparol-3d-plus-saphir-60: #d8dce1;
@caparol-3d-plus-saphir-55: #b8bdc7;
@caparol-3d-plus-saphir-50: #99a0ad;
@caparol-3d-plus-saphir-45: #7a8496;
@caparol-3d-plus-saphir-40: #5b687b;
@caparol-3d-plus-saphir-35: #3e4f67;
@caparol-3d-plus-saphir-90: #dce2ea;
@caparol-3d-plus-saphir-85: #bcc5d5;
@caparol-3d-plus-saphir-80: #9eabc0;
@caparol-3d-plus-saphir-75: #7b8ca5;
@caparol-3d-plus-saphir-70: #5b7191;
@caparol-3d-plus-saphir-65: #39577a;
@caparol-3d-plus-saphir-120: #e0e7f4;
@caparol-3d-plus-saphir-115: #bfcce0;
@caparol-3d-plus-saphir-110: #9eb0cb;
@caparol-3d-plus-saphir-105: #8198ba;
@caparol-3d-plus-saphir-100: #5e7aa3;
@caparol-3d-plus-saphir-95: #3a608d;
@caparol-3d-plus-aquarell-30: #f1efeb;
@caparol-3d-plus-aquarell-25: #ecebe9;
@caparol-3d-plus-aquarell-20: #dbdbdc;
@caparol-3d-plus-aquarell-15: #cecfd3;
@caparol-3d-plus-aquarell-10: #bfc0c5;
@caparol-3d-plus-aquarell-5: #a0a5af;
@caparol-3d-plus-aquarell-60: #eeeff0;
@caparol-3d-plus-aquarell-55: #e8eaed;
@caparol-3d-plus-aquarell-50: #dbdce0;
@caparol-3d-plus-aquarell-45: #cacfd6;
@caparol-3d-plus-aquarell-40: #b4b8c2;
@caparol-3d-plus-aquarell-35: #abb2c2;
@caparol-3d-plus-aquarell-90: #e7ecf1;
@caparol-3d-plus-aquarell-85: #d3daeb;
@caparol-3d-plus-aquarell-80: #c5cee0;
@caparol-3d-plus-aquarell-75: #a9b3c8;
@caparol-3d-plus-aquarell-70: #8c96ad;
@caparol-3d-plus-aquarell-65: #747d94;
@caparol-3d-plus-aquarell-120: #f0f1f1;
@caparol-3d-plus-aquarell-115: #e6ebf1;
@caparol-3d-plus-aquarell-110: #bdcdea;
@caparol-3d-plus-aquarell-105: #a6bfe8;
@caparol-3d-plus-aquarell-100: #789bcf;
@caparol-3d-plus-aquarell-95: #6487be;
@caparol-3d-plus-lavendel-30: #e8e6e8;
@caparol-3d-plus-lavendel-25: #dcdbdf;
@caparol-3d-plus-lavendel-20: #ceced3;
@caparol-3d-plus-lavendel-15: #bebfc9;
@caparol-3d-plus-lavendel-10: #b1b1bb;
@caparol-3d-plus-lavendel-5: #9899a1;
@caparol-3d-plus-lavendel-60: #e9eaf0;
@caparol-3d-plus-lavendel-55: #cfd0db;
@caparol-3d-plus-lavendel-50: #a3a5b0;
@caparol-3d-plus-lavendel-45: #777881;
@caparol-3d-plus-lavendel-40: #5c5e67;
@caparol-3d-plus-lavendel-35: #494a52;
@caparol-3d-plus-lavendel-90: #acb0c7;
@caparol-3d-plus-lavendel-85: #a2a5bd;
@caparol-3d-plus-lavendel-80: #9ba2bc;
@caparol-3d-plus-lavendel-75: #7e839e;
@caparol-3d-plus-lavendel-70: #656c84;
@caparol-3d-plus-lavendel-65: #50566d;
@caparol-3d-plus-lavendel-120: #e5e6f0;
@caparol-3d-plus-lavendel-115: #d9dae8;
@caparol-3d-plus-lavendel-110: #bbbecf;
@caparol-3d-plus-lavendel-105: #b7bbd6;
@caparol-3d-plus-lavendel-100: #7c84a7;
@caparol-3d-plus-lavendel-95: #5f6584;
@caparol-3d-plus-lavendel-150: #d2d6ef;
@caparol-3d-plus-lavendel-145: #d0d4ea;
@caparol-3d-plus-lavendel-140: #c6cceb;
@caparol-3d-plus-lavendel-135: #b3bbdd;
@caparol-3d-plus-lavendel-130: #acb2d0;
@caparol-3d-plus-lavendel-125: #99a1c3;
@caparol-3d-plus-lavendel-180: #8c97c3;
@caparol-3d-plus-lavendel-175: #6d7aad;
@caparol-3d-plus-lavendel-170: #515d86;
@caparol-3d-plus-lavendel-165: #4c5c8b;
@caparol-3d-plus-lavendel-160: #41517c;
@caparol-3d-plus-lavendel-155: #3f4664;
@caparol-3d-plus-velvet-30: #d6d4d8;
@caparol-3d-plus-velvet-25: #b9b7bc;
@caparol-3d-plus-velvet-20: #9a97a1;
@caparol-3d-plus-velvet-15: #7e7a86;
@caparol-3d-plus-velvet-10: #5f5b6a;
@caparol-3d-plus-velvet-5: #413e4e;
@caparol-3d-plus-velvet-60: #dcd9df;
@caparol-3d-plus-velvet-55: #c1bdc7;
@caparol-3d-plus-velvet-50: #a29dad;
@caparol-3d-plus-velvet-45: #878196;
@caparol-3d-plus-velvet-40: #69627b;
@caparol-3d-plus-velvet-35: #46425c;
@caparol-3d-plus-velvet-90: #e3dfe8;
@caparol-3d-plus-velvet-85: #c5c2d1;
@caparol-3d-plus-velvet-80: #a8a3b9;
@caparol-3d-plus-velvet-75: #8f89a5;
@caparol-3d-plus-velvet-70: #736c8e;
@caparol-3d-plus-velvet-65: #524c70;
@caparol-3d-plus-velvet-120: #e9e4ee;
@caparol-3d-plus-velvet-115: #cdc7da;
@caparol-3d-plus-velvet-110: #b2aac7;
@caparol-3d-plus-velvet-105: #998fb3;
@caparol-3d-plus-velvet-100: #78709d;
@caparol-3d-plus-velvet-95: #5b5386;
@caparol-3d-plus-viola-30: #f2efeb;
@caparol-3d-plus-viola-25: #ece8e5;
@caparol-3d-plus-viola-20: #dddadb;
@caparol-3d-plus-viola-15: #c2bec2;
@caparol-3d-plus-viola-10: #a8a1a9;
@caparol-3d-plus-viola-5: #8b828d;
@caparol-3d-plus-viola-60: #f7eff0;
@caparol-3d-plus-viola-55: #e3d9e0;
@caparol-3d-plus-viola-50: #c8bcc6;
@caparol-3d-plus-viola-45: #ac9ead;
@caparol-3d-plus-viola-40: #8d7f8d;
@caparol-3d-plus-viola-35: #6c5f6f;
@caparol-3d-plus-viola-90: #e7d6e4;
@caparol-3d-plus-viola-85: #ceb8d0;
@caparol-3d-plus-viola-80: #b09bb3;
@caparol-3d-plus-viola-75: #847388;
@caparol-3d-plus-viola-70: #7b6380;
@caparol-3d-plus-viola-65: #6e5970;
@caparol-3d-plus-viola-120: #c3a8c5;
@caparol-3d-plus-viola-115: #a88daf;
@caparol-3d-plus-viola-110: #8b6c8f;
@caparol-3d-plus-viola-105: #946b9a;
@caparol-3d-plus-viola-100: #745179;
@caparol-3d-plus-viola-95: #58425e;
@caparol-3d-plus-flamenco-30: #f2eeea;
@caparol-3d-plus-flamenco-25: #e7e3e2;
@caparol-3d-plus-flamenco-20: #e2dbd9;
@caparol-3d-plus-flamenco-15: #d5cccc;
@caparol-3d-plus-flamenco-10: #bab0b2;
@caparol-3d-plus-flamenco-5: #847c7e;
@caparol-3d-plus-flamenco-60: #f1e8e5;
@caparol-3d-plus-flamenco-55: #dacccf;
@caparol-3d-plus-flamenco-50: #bfb1b4;
@caparol-3d-plus-flamenco-45: #b29fa3;
@caparol-3d-plus-flamenco-40: #9e9094;
@caparol-3d-plus-flamenco-35: #8a797d;
@caparol-3d-plus-flamenco-90: #f8ecea;
@caparol-3d-plus-flamenco-85: #ddc9cb;
@caparol-3d-plus-flamenco-80: #c4acb0;
@caparol-3d-plus-flamenco-75: #a88d95;
@caparol-3d-plus-flamenco-70: #8c6e77;
@caparol-3d-plus-flamenco-65: #725c63;
@caparol-3d-plus-flamenco-120: #fae4e6;
@caparol-3d-plus-flamenco-115: #e5c5cc;
@caparol-3d-plus-flamenco-110: #cba8b1;
@caparol-3d-plus-flamenco-105: #af8a96;
@caparol-3d-plus-flamenco-100: #8c616e;
@caparol-3d-plus-flamenco-95: #7d5a65;
@caparol-3d-plus-flamenco-150: #f8d2de;
@caparol-3d-plus-flamenco-145: #ecafc3;
@caparol-3d-plus-flamenco-140: #cd90a4;
@caparol-3d-plus-flamenco-135: #b47487;
@caparol-3d-plus-flamenco-130: #9b5a70;
@caparol-3d-plus-flamenco-125: #8a4a60;
@caparol-3d-plus-diva-30: #832c64;
@caparol-3d-plus-diva-25: #67376d;
@caparol-3d-plus-diva-20: #534d5f;
@caparol-3d-plus-diva-15: #46386e;
@caparol-3d-plus-diva-10: #404e81;
@caparol-3d-plus-diva-5: #1c366a;
@caparol-3d-plus-blu-30: #366289;
@caparol-3d-plus-blu-25: #27435c;
@caparol-3d-plus-blu-20: #005a7b;
@caparol-3d-plus-blu-15: #07364c;
@caparol-3d-plus-blu-10: #3498a8;
@caparol-3d-plus-blu-5: #004351;
@caparol-3d-plus-peru-30: #006a74;
@caparol-3d-plus-peru-25: #00474e;
@caparol-3d-plus-peru-20: #007d72;
@caparol-3d-plus-peru-15: #00403b;
@caparol-3d-plus-peru-10: #005949;
@caparol-3d-plus-peru-5: #004a3e;
@caparol-3d-plus-verdo-30: #00835e;
@caparol-3d-plus-verdo-25: #2b4c44;
@caparol-3d-plus-verdo-20: #00642f;
@caparol-3d-plus-verdo-15: #13462c;
@caparol-3d-plus-verdo-10: #468320;
@caparol-3d-plus-verdo-5: #365129;
@caparol-3d-plus-oliv-30: #cbc700;
@caparol-3d-plus-oliv-25: #8e8418;
@caparol-3d-plus-oliv-20: #c8aa00;
@caparol-3d-plus-oliv-15: #595534;
@caparol-3d-plus-oliv-10: #d49a00;
@caparol-3d-plus-oliv-5: #1e1f21;
@caparol-3d-plus-brasil-30: #ffb700;
@caparol-3d-plus-brasil-25: #4c4333;
@caparol-3d-plus-brasil-20: #ba7631;
@caparol-3d-plus-brasil-15: #5b3c26;
@caparol-3d-plus-brasil-10: #f17900;
@caparol-3d-plus-brasil-5: #4f2b28;
@caparol-3d-plus-rubin-30: #c04117;
@caparol-3d-plus-rubin-25: #623624;
@caparol-3d-plus-rubin-20: #a82a1b;
@caparol-3d-plus-rubin-15: #7b2b21;
@caparol-3d-plus-rubin-10: #af2331;
@caparol-3d-plus-rubin-5: #4f212b;
@caparol-3d-plus-pink-30: #a85f9b;
@caparol-3d-plus-pink-25: #603556;
@caparol-3d-plus-pink-20: #b54f88;
@caparol-3d-plus-pink-15: #55203e;
@caparol-3d-plus-pink-10: #be4c77;
@caparol-3d-plus-pink-5: #7e1e42;
@caparol-3d-plus-laser-30: #ec5509;
@caparol-3d-plus-laser-25: #c82f37;
@caparol-3d-plus-laser-20: #ac1c38;
@caparol-3d-plus-laser-15: #a22c58;
@caparol-3d-plus-laser-10: #773468;
@caparol-3d-plus-laser-5: #593d71;
@caparol-3d-plus-laser-60: #79b31c;
@caparol-3d-plus-laser-55: #c3c700;
@caparol-3d-plus-laser-50: #eed913;
@caparol-3d-plus-laser-45: #fdc000;
@caparol-3d-plus-laser-40: #fca200;
@caparol-3d-plus-laser-35: #fc8700;
@caparol-3d-plus-laser-90: #33417d;
@caparol-3d-plus-laser-85: #124880;
@caparol-3d-plus-laser-80: #005686;
@caparol-3d-plus-laser-75: #006977;
@caparol-3d-plus-laser-70: #00805f;
@caparol-3d-plus-laser-65: #248d2f;
@caparol-3d-plus-curcuma-45-met: #9e8954;
@caparol-3d-plus-palazzo-160-met: #786a55;
@caparol-3d-plus-palazzo-125-met: #524a41;
@caparol-3d-plus-venato-45-met: #8f9398;
@caparol-3d-plus-venato-20-met: #686a6d;
@caparol-3d-plus-venato-10-met: #48474a;
@caparol-3d-plus-saphir-5-met: #343642;
@caparol-3d-plus-patina-45-met: #546768;
@caparol-3d-plus-mai-70-met: #99a340;
@caparol-3d-plus-amber-95-met: #b26931;
@caparol-3d-plus-grenadin-95-met: #7a3a35;
@caparol-3d-plus-rose-95-met: #87394d;