// gori-bbz-lack
@gori-bbz-lack-9016-wei-sg-hg: #f9f8ef;
@gori-bbz-lack-9001-cremewei-sg: #f2e9d6;
@gori-bbz-lack-8017-schokoladenbraun-sg: #443331;
@gori-bbz-lack-3000-feuerrot-sg: #a33331;
@gori-bbz-lack-8003-lehmbraun-sg: #7e502f;
@gori-bbz-lack-7001-silbergrau-sg: #8f999d;
@gori-bbz-lack-9005-tiefschwarz-sg-hg: #1e2021;
@gori-bbz-lack-5010-enzianblau-sg: #004c7d;
@gori-bbz-lack-1023-verkehrsgelb-sg: #f7c000;
@gori-bbz-lack-1015-hellelfenbein-sg: #e9d9bb;
@gori-bbz-lack-6005-moosgruen-sg: #174335;
@gori-bbz-lack-7035-lichtgrau-sg: #d0d0cc;