// faust-colour-mix
@faust-colour-mix-1h2-8: #f78f2e;
@faust-colour-mix-2f1-1: #f9ecdc;
@faust-colour-mix-2g1-4: #fec89e;
@faust-colour-mix-1g2-6: #faa766;
@faust-colour-mix-2i2-5: #fbd084;
@faust-colour-mix-1h2-2: #fce2ba;
@faust-colour-mix-1g2-4: #fecc9b;
@faust-colour-mix-1g2-2: #ffe5c5;
@faust-colour-mix-3i1-6: #e2b36d;
@faust-colour-mix-1g1-2: #ffe2c7;
@faust-colour-mix-2g3-5: #febe88;
@faust-colour-mix-1h2-4: #ffd898;
@faust-colour-mix-1i2-1: #f9f5dd;
@faust-colour-mix-3k1-4: #e4e1a7;
@faust-colour-mix-2k1-7: #d8ce5e;
@faust-colour-mix-3j3-2: #f8f1ca;
@faust-colour-mix-1h3-3: #ffe0aa;
@faust-colour-mix-1h2-7: #feab48;
@faust-colour-mix-1i3-3: #fce9ab;
@faust-colour-mix-1h2-5: #ffc97c;
@faust-colour-mix-4i2-1: #f9f0de;
@faust-colour-mix-2i3-4: #ffe4a0;
@faust-colour-mix-2i2-1: #faf4dc;
@faust-colour-mix-2i3-8: #e7a226;
@faust-colour-mix-1i1-5: #ffd47f;
@faust-colour-mix-1j3-5: #fcea8c;
@faust-colour-mix-1j2-7: #fdd749;
@faust-colour-mix-1i1-6: #ffc64f;
@faust-colour-mix-1h1-7: #fca148;
@faust-colour-mix-2k2-7: #c9ca5a;
@faust-colour-mix-1i1-7: #ffbc33;
@faust-colour-mix-2i2-3: #fde7b9;
@faust-colour-mix-2h2-7: #f1a656;
@faust-colour-mix-1i3-8: #ffb200;
@faust-colour-mix-1j3-6: #ffe367;
@faust-colour-mix-1h1-1: #fbeed0;
@faust-colour-mix-1i3-7: #ffcb46;
@faust-colour-mix-2k2-6: #d3d673;
@faust-colour-mix-1h1-4: #ffd39c;
@faust-colour-mix-1j3-7: #fbde4b;
@faust-colour-mix-3j3-3: #f5edbe;
@faust-colour-mix-3k1-5: #dbd791;
@faust-colour-mix-1i2-3: #fee7b0;
@faust-colour-mix-1i1-8: #ffa600;
@faust-colour-mix-3i1-5: #f0cc94;
@faust-colour-mix-3l1-8: #749246;
@faust-colour-mix-2l1-5: #d4e6a5;
@faust-colour-mix-2l3-7: #9ac774;
@faust-colour-mix-3l1-7: #96b064;
@faust-colour-mix-1l2-7: #a7cf59;
@faust-colour-mix-3l2-1: #e6f2d9;
@faust-colour-mix-3l1-6: #a9c079;
@faust-colour-mix-3k3-4: #d6e0af;
@faust-colour-mix-3l3-7: #81a46d;
@faust-colour-mix-3l1-4: #cedfab;
@faust-colour-mix-2k3-7: #c3d06e;
@faust-colour-mix-3l2-6: #a4c48a;
@faust-colour-mix-3l1-2: #e6f3d6;
@faust-colour-mix-1m1-5: #ade2aa;
@faust-colour-mix-3m1-6: #84bd93;
@faust-colour-mix-1l1-7: #c4d856;
@faust-colour-mix-3m3-7: #50a489;
@faust-colour-mix-3k3-7: #a9b55f;
@faust-colour-mix-1l3-7: #9bcf5f;
@faust-colour-mix-2n1-8: #0f8354;
@faust-colour-mix-1m1-3: #d1eec3;
@faust-colour-mix-1l3-8: #75b740;
@faust-colour-mix-1m1-6: #91d382;
@faust-colour-mix-4l3-7: #758e70;
@faust-colour-mix-1m1-8: #4fa942;
@faust-colour-mix-4m3-8: #436758;
@faust-colour-mix-3k2-8: #8c903c;
@faust-colour-mix-2m1-8: #4a9e4a;
@faust-colour-mix-4l1-5: #afbb99;
@faust-colour-mix-4k2-8: #757148;
@faust-colour-mix-3m1-8: #497f56;
@faust-colour-mix-2l1-8: #88a233;
@faust-colour-mix-2k1-8: #b1a831;
@faust-colour-mix-1n3-8: #009b82;
@faust-colour-mix-2o1-1: #d9f4ec;
@faust-colour-mix-2m3-8: #2b9a5f;
@faust-colour-mix-1n3-7: #04b397;
@faust-colour-mix-4n3-7: #518b8b;
@faust-colour-mix-5m2-6: #77998a;
@faust-colour-mix-2n3-5: #70d0bf;
@faust-colour-mix-1n2-8: #00966c;
@faust-colour-mix-1n1-2: #c7efdb;
@faust-colour-mix-1n2-2: #c3eedf;
@faust-colour-mix-2o2-8: #007a77;
@faust-colour-mix-3n3-7: #26a7a2;
@faust-colour-mix-1d3-8: #bb3e3f;
@faust-colour-mix-2d1-7: #cb6b78;
@faust-colour-mix-1d1-8: #bf4a5e;
@faust-colour-mix-2d3-8: #af504d;
@faust-colour-mix-2c1-8: #8e414a;
@faust-colour-mix-1c1-3: #f3cde3;
@faust-colour-mix-2d2-8: #b35454;
@faust-colour-mix-1e3-7: #e5776c;
@faust-colour-mix-1e2-1: #fceae3;
@faust-colour-mix-2d1-8: #984946;
@faust-colour-mix-1e3-5: #f7a8a2;
@faust-colour-mix-1e3-6: #f08b83;
@faust-colour-mix-3c2-8: #874041;
@faust-colour-mix-1d2-8: #b4454e;
@faust-colour-mix-5b3-8: #5f444b;
@faust-colour-mix-3c1-8: #7f4144;
@faust-colour-mix-1e1-2: #f8d0d1;
@faust-colour-mix-1d1-5: #f2a7c0;
@faust-colour-mix-2c2-8: #85424b;
@faust-colour-mix-1e3-8: #c8463b;
@faust-colour-mix-1f1-6: #fba088;
@faust-colour-mix-2b2-8: #8a4861;
@faust-colour-mix-2e3-7: #eb826e;
@faust-colour-mix-1a2-8: #83507f;
@faust-colour-mix-1b2-8: #9e4b7f;
@faust-colour-mix-4b2-8: #604253;
@faust-colour-mix-2f1-8: #bb5639;
@faust-colour-mix-1c1-8: #c15886;
@faust-colour-mix-1c2-5: #e5a1c0;
@faust-colour-mix-3b1-8: #724056;
@faust-colour-mix-1c2-7: #d06a91;
@faust-colour-mix-3c1-6: #b77888;
@faust-colour-mix-3c2-3: #e6bac2;
@faust-colour-mix-1c1-6: #e293bc;
@faust-colour-mix-2e1-8: #be4d46;
@faust-colour-mix-2g1-8: #dc754e;
@faust-colour-mix-1c1-5: #e39fc4;
@faust-colour-mix-1c2-1: #f9e2e7;
@faust-colour-mix-2g1-7: #f09157;
@faust-colour-mix-1d1-4: #f6b8cd;
@faust-colour-mix-2f1-7: #e68163;
@faust-colour-mix-2f2-8: #ca5f3f;
@faust-colour-mix-1d1-3: #f8c7d7;
@faust-colour-mix-3c3-8: #8d433d;
@faust-colour-mix-2g3-8: #d8773b;
@faust-colour-mix-4g2-1: #f5e7d3;
@faust-colour-mix-3g2-3: #f2d1b1;
@faust-colour-mix-5g2-5: #cba68a;
@faust-colour-mix-5h2-2: #ebdbc5;
@faust-colour-mix-5j1-6: #b1a17f;
@faust-colour-mix-3h1-8: #b87c45;
@faust-colour-mix-5g3-3: #e6cfb7;
@faust-colour-mix-4h1-2: #f7e7cf;
@faust-colour-mix-5f3-8: #7b5746;
@faust-colour-mix-3h1-5: #e2b88a;
@faust-colour-mix-2h3-8: #d48b3d;
@faust-colour-mix-3g1-8: #aa6c42;
@faust-colour-mix-2g2-6: #ffb379;
@faust-colour-mix-4i3-5: #d7bf93;
@faust-colour-mix-5i2-1: #f5eddd;
@faust-colour-mix-4f2-6: #c88c69;
@faust-colour-mix-5f1-7: #976655;
@faust-colour-mix-5d3-8: #6d4c40;
@faust-colour-mix-4e3-6: #be8269;
@faust-colour-mix-3f3-3: #efcab1;
@faust-colour-mix-5i3-7: #a38c69;
@faust-colour-mix-3e3-7: #bb765b;
@faust-colour-mix-5h3-5: #d1b591;
@faust-colour-mix-1g1-1: #fcebd3;
@faust-colour-mix-3e1-7: #b06855;
@faust-colour-mix-4f1-5: #d2a084;
@faust-colour-mix-5f2-7: #a47661;
@faust-colour-mix-3d2-7: #ad6059;
@faust-colour-mix-5h2-4: #e0c6a5;
@faust-colour-mix-5i2-6: #bba17a;
@faust-colour-mix-3d3-8: #8d4538;
@faust-colour-mix-4h2-7: #bf955d;
@faust-colour-mix-4g3-8: #a87748;
@faust-colour-mix-5g1-8: #8d6049;
@faust-colour-mix-4h2-1: #faefd9;
@faust-colour-mix-2h1-8: #e0823e;
@faust-colour-mix-5g3-7: #aa7f5c;
@faust-colour-mix-3g1-7: #cb8b5e;
@faust-colour-mix-3h2-6: #dda96f;
@faust-colour-mix-5h1-5: #cfb393;
@faust-colour-mix-5g3-8: #8e694e;
@faust-colour-mix-4h1-3: #f1d8b7;
@faust-colour-mix-5g1-1: #eeded2;
@faust-colour-mix-3f3-7: #c2815b;
@faust-colour-mix-5c2-7: #876569;
@faust-colour-mix-6s1-5: #9da8b9;
@faust-colour-mix-6l1-2: #d7d7d3;
@faust-colour-mix-6f3-7: #756662;
@faust-colour-mix-6s1-3: #c6ced8;
@faust-colour-mix-6e2-8: #59443f;
@faust-colour-mix-6r1-1: #e1e3e2;
@faust-colour-mix-6j1-1: #f0eade;
@faust-colour-mix-6k1-4: #c1bdb6;
@faust-colour-mix-6q2-6: #7d848a;
@faust-colour-mix-6j1-3: #dfd8cd;
@faust-colour-mix-5h2-8: #8b6745;
@faust-colour-mix-1r3-3: #c1d1e7;
@faust-colour-mix-6j1-5: #bdb1a2;
@faust-colour-mix-6p3-5: #90a0ac;
@faust-colour-mix-6k1-1: #e4e5e0;
@faust-colour-mix-6j1-6: #a99987;
@faust-colour-mix-6j2-1: #f1ede3;
@faust-colour-mix-5d3-3: #d1b6af;
@faust-colour-mix-6j1-7: #938372;
@faust-colour-mix-5d1-8: #6a4940;
@faust-colour-mix-6k2-1: #e1e1db;
@faust-colour-mix-6g1-7: #706867;
@faust-colour-mix-6k1-5: #aeaba4;
@faust-colour-mix-1r3-2: #d0ddef;
@faust-colour-mix-6h1-8: #4f433d;
@faust-colour-mix-6r1-2: #ccd1d6;
@faust-colour-mix-4s2-8: #474c6d;
@faust-colour-mix-6q3-8: #323333;
@faust-colour-mix-5i3-8: #766347;
@faust-colour-mix-4s2-5: #a0aaca;
@faust-colour-mix-6q2-7: #697076;
@faust-colour-mix-6h3-5: #b3aca7;
@faust-colour-mix-5e1-3: #d4bbb2;
@faust-colour-mix-6p1-6: #738b97;
@faust-colour-mix-6i1-1: #f1e8e0;
@faust-colour-mix-6d3-8: #6d554e;
@faust-colour-mix-6p2-5: #92a7b4;
@faust-colour-mix-6p2-7: #607480;
@faust-colour-mix-6g2-5: #9e9998;
@faust-colour-mix-6p2-4: #a4b6c0;
@faust-colour-mix-6j3-8: #49433e;
@faust-colour-mix-6q3-7: #6b6f75;
@faust-colour-mix-6g2-3: #c5c1be;
@faust-colour-mix-6b3-5: #a7969a;
@faust-colour-mix-6d1-8: #503e39;
@faust-colour-mix-1r1-2: #cadfed;
@faust-colour-mix-3r1-7: #5e80b1;
@faust-colour-mix-3r1-5: #8eadd4;
@faust-colour-mix-1q3-3: #adcfe6;
@faust-colour-mix-2q2-5: #81b3d6;
@faust-colour-mix-1q2-7: #3e96c8;
@faust-colour-mix-1q2-4: #90caec;
@faust-colour-mix-1q2-6: #5faddc;
@faust-colour-mix-1q1-3: #b2dff2;
@faust-colour-mix-1r1-6: #699fce;
@faust-colour-mix-1q2-1: #d7e9f1;
@faust-colour-mix-1p3-5: #74bfd9;
@faust-colour-mix-1q3-7: #4690c7;
@faust-colour-mix-1p3-4: #97d4eb;
@faust-colour-mix-4r1-7: #5e7fa2;
@faust-colour-mix-1r1-8: #3871a8;
@faust-colour-mix-3q1-7: #478db4;
@faust-colour-mix-5q2-1: #e0edeb;
@faust-colour-mix-3r1-8: #3f5f91;
@faust-colour-mix-3r2-3: #c1d0e4;
@faust-colour-mix-1q3-8: #2b75ac;
@faust-colour-mix-4r3-8: #485673;
@faust-colour-mix-3s3-7: #817aa4;
@faust-colour-mix-3t1-3: #d5cfe0;
@faust-colour-mix-4r3-7: #677a9c;
@faust-colour-mix-3r2-8: #465987;
@faust-colour-mix-3s3-5: #acaccd;
@faust-colour-mix-3r2-5: #94add2;
@faust-colour-mix-4r2-4: #a7bdd6;
@faust-colour-mix-4r1-8: #3c5879;
@faust-colour-mix-3r3-3: #c1cde3;
@faust-colour-mix-4p3-7: #5084a1;
@faust-colour-mix-5o2-3: #b1d2d6;
@faust-colour-mix-3o2-4: #90cad3;
@faust-colour-mix-1p2-7: #139eb5;
@faust-colour-mix-2q3-8: #33628a;
@faust-colour-mix-1p2-5: #6fc0d5;
@faust-colour-mix-2p2-3: #afdae5;
@faust-colour-mix-3p1-7: #408fa7;
@faust-colour-mix-2p1-7: #269fad;
@faust-colour-mix-1o2-5: #72cdce;
@faust-colour-mix-5o1-1: #d6e9e5;
@faust-colour-mix-1p3-8: #0082a2;
@faust-colour-mix-5q2-8: #3b4f5e;
@faust-colour-mix-5q2-7: #5b7787;