// anpa
@anpa-71-1: #e9faff;
@anpa-71-2: #d8f4fe;
@anpa-71-4: #b4e8fc;
@anpa-71-6: #70d4f3;
@anpa-71-8: #17c6ee;
@anpa-71-0: #00bbec;
@anpa-72-1: #fff1f8;
@anpa-72-2: #ffebf5;
@anpa-72-4: #ffd7ea;
@anpa-72-6: #f9aed3;
@anpa-72-8: #f484b7;
@anpa-72-0: #ec5399;
@anpa-73-1: #ffffeb;
@anpa-73-2: #fffede;
@anpa-73-4: #fffcbe;
@anpa-73-6: #fff98d;
@anpa-73-8: #fff669;
@anpa-73-0: #fff537;
@anpa-74-1: #ffeaf0;
@anpa-74-2: #fddee7;
@anpa-74-4: #fdc4d5;
@anpa-74-6: #fb9cb8;
@anpa-74-8: #fa7ca3;
@anpa-74-0: #f54882;
@anpa-75-1: #ffebed;
@anpa-75-2: #ffe5e9;
@anpa-75-4: #ffd1d8;
@anpa-75-6: #ffa6b3;
@anpa-75-8: #ff7b8a;
@anpa-75-0: #ff4b5a;
@anpa-76-1: #fcf2fd;
@anpa-76-2: #f6e6f8;
@anpa-76-4: #eaccf3;
@anpa-76-6: #d7a2e6;
@anpa-76-8: #c981dd;
@anpa-76-0: #bd59d4;
@anpa-77-1: #f3f2fc;
@anpa-77-2: #ebe7fb;
@anpa-77-4: #d5d0f4;
@anpa-77-6: #b3aaec;
@anpa-77-8: #9e8de3;
@anpa-77-0: #846add;
@anpa-70-1: #ffffff;
@anpa-70-2: #ffffff;
@anpa-70-4: #ffffff;
@anpa-70-6: #ffffff;
@anpa-70-8: #ffffff;
@anpa-70-0: #ffffff;
@anpa-701-1: #eff4ff;
@anpa-701-2: #e3ebfe;
@anpa-701-4: #c4d3f6;
@anpa-701-6: #92afec;
@anpa-701-8: #6d93e1;
@anpa-701-0: #2c6ed5;
@anpa-702-1: #e5f6eb;
@anpa-702-2: #d9f1e3;
@anpa-702-4: #b3e2c5;
@anpa-702-6: #78cc99;
@anpa-702-8: #46bc7b;
@anpa-702-0: #00ad5f;
@anpa-703-1: #fffcf2;
@anpa-703-2: #ffece0;
@anpa-703-4: #ffd6bf;
@anpa-703-6: #ffb58b;
@anpa-703-8: #ff9e5c;
@anpa-703-0: #ff8300;
@anpa-704-1: #ffe9ec;
@anpa-704-2: #ffdee1;
@anpa-704-4: #ffbfc6;
@anpa-704-6: #ff909b;
@anpa-704-8: #ff6e7b;
@anpa-704-0: #fa4251;
@anpa-720-1: #fff0f7;
@anpa-720-2: #ffe3ee;
@anpa-720-4: #ffc5db;
@anpa-720-6: #fd95b9;
@anpa-720-8: #f972a1;
@anpa-720-0: #f24385;
@anpa-721-1: #ffecf3;
@anpa-721-2: #ffdfe7;
@anpa-721-4: #ffbdcb;
@anpa-721-6: #ff8ba2;
@anpa-721-8: #ff6784;
@anpa-721-0: #ff3e64;
@anpa-722-1: #fff1f6;
@anpa-722-2: #ffe5ec;
@anpa-722-4: #ffcad8;
@anpa-722-6: #ff9eb6;
@anpa-722-8: #fd7899;
@anpa-722-0: #f74877;
@anpa-723-1: #fff0ef;
@anpa-723-2: #ffe6e4;
@anpa-723-4: #ffc6c5;
@anpa-723-6: #f89291;
@anpa-723-8: #f17272;
@anpa-723-0: #eb4947;
@anpa-724-1: #fff3f7;
@anpa-724-2: #ffe4eb;
@anpa-724-4: #f9c4d1;
@anpa-724-6: #eb91a8;
@anpa-724-8: #e26d8d;
@anpa-724-0: #d73765;
@anpa-725-1: #ffeef4;
@anpa-725-2: #fee1e9;
@anpa-725-4: #f3bfce;
@anpa-725-6: #e492aa;
@anpa-725-8: #d97390;
@anpa-725-0: #c83f69;
@anpa-726-1: #ffedfb;
@anpa-726-2: #ffe1f4;
@anpa-726-4: #fbc2e4;
@anpa-726-6: #f08fc8;
@anpa-726-8: #ea6db5;
@anpa-726-0: #e03e9c;
@anpa-727-1: #fffaff;
@anpa-727-2: #fff3ff;
@anpa-727-4: #f6e0ff;
@anpa-727-6: #ebc4fd;
@anpa-727-8: #e3b2fa;
@anpa-727-0: #dda0f6;
@anpa-728-1: #f7f3ff;
@anpa-728-2: #eee7f9;
@anpa-728-4: #d4cbeb;
@anpa-728-6: #b3a0da;
@anpa-728-8: #9b80ce;
@anpa-728-0: #8058bd;
@anpa-729-1: #faf5ff;
@anpa-729-2: #f1ebff;
@anpa-729-4: #dcd5fb;
@anpa-729-6: #bbb1f4;
@anpa-729-8: #a598ee;
@anpa-729-0: #8e7de5;
@anpa-730-1: #f8f6ff;
@anpa-730-2: #ececff;
@anpa-730-4: #d4d6fc;
@anpa-730-6: #adb1f2;
@anpa-730-8: #8f96eb;
@anpa-730-0: #6c7ae0;
@anpa-731-1: #f1f5ff;
@anpa-731-2: #e4ecff;
@anpa-731-4: #c5d3f8;
@anpa-731-6: #96adeb;
@anpa-731-8: #7292e4;
@anpa-731-0: #4272d7;
@anpa-732-1: #f0f9ff;
@anpa-732-2: #e3eff6;
@anpa-732-4: #c3dae6;
@anpa-732-6: #90b9d2;
@anpa-732-8: #68a3c2;
@anpa-732-0: #2389b0;
@anpa-733-1: #f2feff;
@anpa-733-2: #e3f8ff;
@anpa-733-4: #bfeaff;
@anpa-733-6: #81d3f7;
@anpa-733-8: #43c7f3;
@anpa-733-0: #00b5e9;
@anpa-734-1: #f9ffff;
@anpa-734-2: #edfbff;
@anpa-734-4: #d0f0ff;
@anpa-734-6: #a1deff;
@anpa-734-8: #7cd3fd;
@anpa-734-0: #4ec8f7;
@anpa-735-1: #fbffff;
@anpa-735-2: #edfffe;
@anpa-735-4: #ccf7ff;
@anpa-735-6: #9cebff;
@anpa-735-8: #76e3ff;
@anpa-735-0: #46d9f9;
@anpa-736-1: #f0fffe;
@anpa-736-2: #e2fbfd;
@anpa-736-4: #bdf0f5;
@anpa-736-6: #7fdce6;
@anpa-736-8: #47d1de;
@anpa-736-0: #00c2d1;
@anpa-737-1: #f3fefd;
@anpa-737-2: #ebfdfd;
@anpa-737-4: #daf8f7;
@anpa-737-6: #b4eeee;
@anpa-737-8: #88e2e2;
@anpa-737-0: #27cacc;
@anpa-738-1: #fbffff;
@anpa-738-2: #edfffa;
@anpa-738-4: #d3faed;
@anpa-738-6: #a8edd6;
@anpa-738-8: #88e5c8;
@anpa-738-0: #62d8b6;
@anpa-739-1: #f1fff5;
@anpa-739-2: #e2faeb;
@anpa-739-4: #c0ebd1;
@anpa-739-6: #89d6aa;
@anpa-739-8: #5cc790;
@anpa-739-0: #00b26f;
@anpa-740-1: #f6fff5;
@anpa-740-2: #e9fce9;
@anpa-740-4: #cff0ce;
@anpa-740-6: #a3dfa5;
@anpa-740-8: #85d487;
@anpa-740-0: #63c76a;
@anpa-741-1: #f0faed;
@anpa-741-2: #eaf8e6;
@anpa-741-4: #dbf1d1;
@anpa-741-6: #bde4aa;
@anpa-741-8: #98d482;
@anpa-741-0: #57b846;
@anpa-742-1: #fdfff3;
@anpa-742-2: #f2fee9;
@anpa-742-4: #dcf6ce;
@anpa-742-6: #bbe8a4;
@anpa-742-8: #a2df86;
@anpa-742-0: #83d160;
@anpa-743-1: #fffff5;
@anpa-743-2: #f9ffe6;
@anpa-743-4: #edf9c8;
@anpa-743-6: #dbf09c;
@anpa-743-8: #d0ea7c;
@anpa-743-0: #c2e254;
@anpa-744-1: #ffffed;
@anpa-744-2: #fffde5;
@anpa-744-4: #fff8c9;
@anpa-744-6: #fff1a3;
@anpa-744-8: #ffed83;
@anpa-744-0: #ffe151;
@anpa-745-1: #fffff3;
@anpa-745-2: #fffee6;
@anpa-745-4: #fff9c6;
@anpa-745-6: #ffef97;
@anpa-745-8: #ffe972;
@anpa-745-0: #ffe048;
@anpa-746-1: #fffff5;
@anpa-746-2: #ffffea;
@anpa-746-4: #fff9cc;
@anpa-746-6: #ffeb9f;
@anpa-746-8: #ffe47d;
@anpa-746-0: #ffd84f;
@anpa-747-1: #fffff5;
@anpa-747-2: #ffffea;
@anpa-747-4: #fff4ce;
@anpa-747-6: #ffe3a4;
@anpa-747-8: #ffd985;
@anpa-747-0: #faca57;
@anpa-748-1: #fffff5;
@anpa-748-2: #ffffeb;
@anpa-748-4: #fff7cd;
@anpa-748-6: #ffeaa2;
@anpa-748-8: #ffe387;
@anpa-748-0: #ffd965;
@anpa-749-1: #fffff1;
@anpa-749-2: #fff4e3;
@anpa-749-4: #ffe1c4;
@anpa-749-6: #ffc38e;
@anpa-749-8: #ffb26a;
@anpa-749-0: #ffa037;
@anpa-750-1: #fffaef;
@anpa-750-2: #fff0e2;
@anpa-750-4: #ffdbc1;
@anpa-750-6: #f9b98f;
@anpa-750-8: #f4a469;
@anpa-750-0: #ea8c38;
@anpa-751-1: #f9f2f0;
@anpa-751-2: #f5ebe7;
@anpa-751-4: #e7d5d0;
@anpa-751-6: #ceaea5;
@anpa-751-8: #af867b;
@anpa-751-0: #875546;
@anpa-752-1: #fef7f4;
@anpa-752-2: #f9efec;
@anpa-752-4: #efddd7;
@anpa-752-6: #d9b6ac;
@anpa-752-8: #bb8c80;
@anpa-752-0: #955542;
@anpa-753-1: #fff5f3;
@anpa-753-2: #ffefeb;
@anpa-753-4: #fadbd3;
@anpa-753-6: #eab7aa;
@anpa-753-8: #d48e7c;
@anpa-753-0: #b45b3e;
@anpa-754-1: #fff3ee;
@anpa-754-2: #ffe7df;
@anpa-754-4: #ffc8bc;
@anpa-754-6: #f79d87;
@anpa-754-8: #f18162;
@anpa-754-0: #e45d27;
@anpa-755-1: #fff3ee;
@anpa-755-2: #ffe7e2;
@anpa-755-4: #ffc8be;
@anpa-755-6: #ff9c8f;
@anpa-755-8: #ff806b;
@anpa-755-0: #ff5f3d;
@anpa-756-1: #fffdf0;
@anpa-756-2: #fff0e5;
@anpa-756-4: #ffd8c3;
@anpa-756-6: #ffbb99;
@anpa-756-8: #ffa577;
@anpa-756-0: #ff8e50;
@anpa-757-1: #fff5f2;
@anpa-757-2: #ffece9;
@anpa-757-4: #ffdad4;
@anpa-757-6: #ffbeb4;
@anpa-757-8: #ffac9f;
@anpa-757-0: #ff9584;