// scala-raum-und-detail
@scala-raum-und-detail-scala-03-03-03: #e7e6e0;
@scala-raum-und-detail-scala-03-03-09: #d4d3ca;
@scala-raum-und-detail-scala-03-03-25: #646058;
@scala-raum-und-detail-scala-03-06-03: #f3edd9;
@scala-raum-und-detail-scala-03-06-15: #b1a995;
@scala-raum-und-detail-scala-03-06-21: #847963;
@scala-raum-und-detail-scala-03-09-01: #f5edd9;
@scala-raum-und-detail-scala-03-09-12: #dac792;
@scala-raum-und-detail-scala-03-09-18: #a18f62;
@scala-raum-und-detail-scala-03-12-01: #f6edc7;
@scala-raum-und-detail-scala-03-12-06: #f3dea1;
@scala-raum-und-detail-scala-03-12-12: #e1c87b;
@scala-raum-und-detail-scala-03-12-16: #ba9f5c;
@scala-raum-und-detail-scala-03-15-01: #f6edc1;
@scala-raum-und-detail-scala-03-15-02: #f6ebb5;
@scala-raum-und-detail-scala-03-15-03: #f5e3a0;
@scala-raum-und-detail-scala-03-15-09: #f7d166;
@scala-raum-und-detail-scala-03-15-15: #d4b139;
@scala-raum-und-detail-scala-03-18-18: #eeb900;
@scala-raum-und-detail-scala-03-21-12: #facc2d;
@scala-raum-und-detail-scala-06-06-09: #d7cfbb;
@scala-raum-und-detail-scala-06-06-18: #9c917a;
@scala-raum-und-detail-scala-06-09-15: #c5ab7a;
@scala-raum-und-detail-scala-06-09-24: #6f5d40;
@scala-raum-und-detail-scala-06-12-01: #f2eddb;
@scala-raum-und-detail-scala-06-12-02: #f2e9cd;
@scala-raum-und-detail-scala-06-12-03: #eee2be;
@scala-raum-und-detail-scala-06-12-09: #e3c98f;
@scala-raum-und-detail-scala-06-15-01: #f6efd1;
@scala-raum-und-detail-scala-06-15-02: #f5e9bd;
@scala-raum-und-detail-scala-06-15-03: #f5e4ac;
@scala-raum-und-detail-scala-06-15-06: #f3de98;
@scala-raum-und-detail-scala-06-15-09: #f1cb75;
@scala-raum-und-detail-scala-06-15-21: #987629;
@scala-raum-und-detail-scala-06-21-12: #f7cc59;
@scala-raum-und-detail-scala-06-21-15: #f8b400;
@scala-raum-und-detail-scala-09-07-03: #ece4d2;
@scala-raum-und-detail-scala-09-07-09: #dacdb6;
@scala-raum-und-detail-scala-09-09-01: #f6f0df;
@scala-raum-und-detail-scala-09-09-02: #f7edd8;
@scala-raum-und-detail-scala-09-09-03: #f6e7d0;
@scala-raum-und-detail-scala-09-09-06: #ebdcc1;
@scala-raum-und-detail-scala-09-11-12: #dcc294;
@scala-raum-und-detail-scala-09-12-01: #f1ead8;
@scala-raum-und-detail-scala-09-12-24: #7a5e3a;
@scala-raum-und-detail-scala-09-15-02: #f7e7c6;
@scala-raum-und-detail-scala-09-15-18: #b6873b;
@scala-raum-und-detail-scala-09-18-03: #f6e5b9;
@scala-raum-und-detail-scala-09-18-09: #f6d48c;
@scala-raum-und-detail-scala-09-18-15: #dfae5e;
@scala-raum-und-detail-scala-09-21-12: #fdc560;
@scala-raum-und-detail-scala-09-24-15: #faa900;
@scala-raum-und-detail-scala-12-03-03: #e5ded7;
@scala-raum-und-detail-scala-12-03-09: #ccc7bd;
@scala-raum-und-detail-scala-12-03-24: #706c66;
@scala-raum-und-detail-scala-12-06-12: #bfae9e;
@scala-raum-und-detail-scala-12-06-19: #958575;
@scala-raum-und-detail-scala-12-09-06: #ebd6ba;
@scala-raum-und-detail-scala-12-09-30: #504036;
@scala-raum-und-detail-scala-12-15-03: #f6e9cc;
@scala-raum-und-detail-scala-12-15-12: #eebb76;
@scala-raum-und-detail-scala-12-15-24: #86572f;
@scala-raum-und-detail-scala-12-18-02: #f6e3be;
@scala-raum-und-detail-scala-12-18-03: #f7e0b3;
@scala-raum-und-detail-scala-12-18-06: #fadaa3;
@scala-raum-und-detail-scala-12-18-07: #f8d195;
@scala-raum-und-detail-scala-12-18-12: #edaa55;
@scala-raum-und-detail-scala-12-21-12: #ffb245;
@scala-raum-und-detail-scala-15-03-03: #eee8de;
@scala-raum-und-detail-scala-15-09-09: #dfcab5;
@scala-raum-und-detail-scala-15-09-15: #cbac92;
@scala-raum-und-detail-scala-15-09-21: #95735d;
@scala-raum-und-detail-scala-15-09-27: #62493b;
@scala-raum-und-detail-scala-15-12-21: #9e6d48;
@scala-raum-und-detail-scala-15-15-01: #f6eddd;
@scala-raum-und-detail-scala-15-15-03: #f7e8d5;
@scala-raum-und-detail-scala-15-15-06: #f7dabd;
@scala-raum-und-detail-scala-15-15-12: #eab486;
@scala-raum-und-detail-scala-15-15-18: #c3844c;
@scala-raum-und-detail-scala-15-18-06: #f9dab9;
@scala-raum-und-detail-scala-15-18-07: #f6cea4;
@scala-raum-und-detail-scala-15-18-12: #fdb268;
@scala-raum-und-detail-scala-15-18-21: #ad6c35;
@scala-raum-und-detail-scala-15-21-15: #f09427;
@scala-raum-und-detail-scala-18-06-03: #f0e9e1;
@scala-raum-und-detail-scala-18-09-03: #f1e2d1;
@scala-raum-und-detail-scala-18-09-09: #e1c5ae;
@scala-raum-und-detail-scala-18-09-12: #dbbaa2;
@scala-raum-und-detail-scala-18-09-25: #6f4c3b;
@scala-raum-und-detail-scala-18-12-03: #f0dac6;
@scala-raum-und-detail-scala-18-12-06: #f9d9c0;
@scala-raum-und-detail-scala-18-12-07: #f2ceb4;
@scala-raum-und-detail-scala-18-12-13: #e1b08e;
@scala-raum-und-detail-scala-18-12-15: #d7a07c;
@scala-raum-und-detail-scala-18-12-21: #a57254;
@scala-raum-und-detail-scala-18-15-18: #c37b52;
@scala-raum-und-detail-scala-18-15-30: #7f4b36;
@scala-raum-und-detail-scala-18-18-12: #f7a972;
@scala-raum-und-detail-scala-18-21-15: #f88f45;
@scala-raum-und-detail-scala-18-21-18: #dc722c;
@scala-raum-und-detail-scala-21-06-24: #7b6862;
@scala-raum-und-detail-scala-21-06-30: #50433e;
@scala-raum-und-detail-scala-21-09-03: #f7e9db;
@scala-raum-und-detail-scala-21-12-06: #fcdbc7;
@scala-raum-und-detail-scala-21-12-09: #ecc9b6;
@scala-raum-und-detail-scala-21-12-27: #6f4136;
@scala-raum-und-detail-scala-21-15-12: #ecb292;
@scala-raum-und-detail-scala-21-15-16: #d9906f;
@scala-raum-und-detail-scala-21-16-18: #d27750;
@scala-raum-und-detail-scala-21-16-24: #b65532;
@scala-raum-und-detail-scala-21-18-16: #f9965f;
@scala-raum-und-detail-scala-21-18-21: #e56d2f;
@scala-raum-und-detail-scala-24-06-03: #f3e8e3;
@scala-raum-und-detail-scala-24-06-06: #e8d9cf;
@scala-raum-und-detail-scala-24-06-12: #d2bfb7;
@scala-raum-und-detail-scala-24-06-19: #927b75;
@scala-raum-und-detail-scala-24-06-27: #60494a;
@scala-raum-und-detail-scala-24-09-12: #dcb8aa;
@scala-raum-und-detail-scala-24-09-16: #c19a8e;
@scala-raum-und-detail-scala-24-09-24: #7d5650;
@scala-raum-und-detail-scala-24-12-03: #f4e2d7;
@scala-raum-und-detail-scala-24-12-06: #fad9cb;
@scala-raum-und-detail-scala-24-12-16: #d09682;
@scala-raum-und-detail-scala-24-13-18: #c98674;
@scala-raum-und-detail-scala-24-13-21: #b46d5c;
@scala-raum-und-detail-scala-24-13-24: #9c5a50;
@scala-raum-und-detail-scala-24-15-15: #ec9d83;
@scala-raum-und-detail-scala-24-18-18: #da7a63;
@scala-raum-und-detail-scala-24-18-23: #ba5d4a;
@scala-raum-und-detail-scala-24-21-15: #ea6742;
@scala-raum-und-detail-scala-24-24-21: #d14c2a;
@scala-raum-und-detail-scala-24-24-24: #a94335;
@scala-raum-und-detail-scala-27-09-03: #eddbd3;
@scala-raum-und-detail-scala-27-09-06: #f0dcd5;
@scala-raum-und-detail-scala-27-09-09: #e5ccc7;
@scala-raum-und-detail-scala-27-09-19: #b58b80;
@scala-raum-und-detail-scala-27-09-30: #5e2d33;
@scala-raum-und-detail-scala-27-09-33: #43252a;
@scala-raum-und-detail-scala-27-12-06: #f6dbd4;
@scala-raum-und-detail-scala-27-12-09: #ebc9c2;
@scala-raum-und-detail-scala-27-15-06: #fdd4cc;
@scala-raum-und-detail-scala-27-15-12: #f3b0a7;
@scala-raum-und-detail-scala-27-15-24: #9d4641;
@scala-raum-und-detail-scala-27-18-15: #ef978a;
@scala-raum-und-detail-scala-27-21-18: #e46d64;
@scala-raum-und-detail-scala-27-21-30: #a23940;
@scala-raum-und-detail-scala-27-24-24: #b42624;
@scala-raum-und-detail-scala-27-24-27: #a23230;
@scala-raum-und-detail-scala-30-06-06: #ebdcda;
@scala-raum-und-detail-scala-30-06-12: #d4c4c5;
@scala-raum-und-detail-scala-30-06-30: #493a3f;
@scala-raum-und-detail-scala-30-09-03: #f8e4e1;
@scala-raum-und-detail-scala-30-09-06: #f2dbdb;
@scala-raum-und-detail-scala-30-09-09: #e5caca;
@scala-raum-und-detail-scala-30-12-24: #8e5258;
@scala-raum-und-detail-scala-30-15-06: #f9d8d7;
@scala-raum-und-detail-scala-30-15-15: #e09a99;
@scala-raum-und-detail-scala-30-15-27: #944b4d;
@scala-raum-und-detail-scala-30-15-33: #632734;
@scala-raum-und-detail-scala-30-18-12: #efaeb4;
@scala-raum-und-detail-scala-30-18-15: #ea9199;
@scala-raum-und-detail-scala-30-18-27: #a83146;
@scala-raum-und-detail-scala-30-21-21: #c65667;
@scala-raum-und-detail-scala-30-24-21: #b13741;
@scala-raum-und-detail-scala-33-06-03: #efe9e8;
@scala-raum-und-detail-scala-33-06-06: #ecdfdd;
@scala-raum-und-detail-scala-33-06-12: #ccc1c1;
@scala-raum-und-detail-scala-33-06-27: #6c5f62;
@scala-raum-und-detail-scala-33-09-13: #d2bcbf;
@scala-raum-und-detail-scala-33-09-16: #b7a0a1;
@scala-raum-und-detail-scala-33-09-18: #997f83;
@scala-raum-und-detail-scala-33-12-06: #efdede;
@scala-raum-und-detail-scala-33-12-09: #e4cacd;
@scala-raum-und-detail-scala-33-12-15: #d4a0a8;
@scala-raum-und-detail-scala-33-12-18: #b8858e;
@scala-raum-und-detail-scala-33-18-27: #80273e;
@scala-raum-und-detail-scala-36-03-03: #f0e7e8;
@scala-raum-und-detail-scala-36-06-06: #ecdbe0;
@scala-raum-und-detail-scala-36-06-09: #e2ccd4;
@scala-raum-und-detail-scala-36-06-12: #d9bdc8;
@scala-raum-und-detail-scala-36-09-21: #aa6787;
@scala-raum-und-detail-scala-36-09-30: #562945;
@scala-raum-und-detail-scala-36-09-36: #3a222f;
@scala-raum-und-detail-scala-36-15-27: #843356;
@scala-raum-und-detail-scala-39-06-06: #e9dce1;
@scala-raum-und-detail-scala-39-06-24: #706269;
@scala-raum-und-detail-scala-39-06-27: #574955;
@scala-raum-und-detail-scala-39-09-09: #e0ced6;
@scala-raum-und-detail-scala-39-09-15: #bfa9b7;
@scala-raum-und-detail-scala-39-09-21: #9b8491;
@scala-raum-und-detail-scala-39-12-09: #eaccd8;
@scala-raum-und-detail-scala-39-12-12: #d9b9cb;
@scala-raum-und-detail-scala-39-12-18: #b48aa5;
@scala-raum-und-detail-scala-39-12-24: #7e5872;
@scala-raum-und-detail-scala-39-15-09: #f0dbe4;
@scala-raum-und-detail-scala-39-15-12: #e5afce;
@scala-raum-und-detail-scala-42-03-03: #e7e6e3;
@scala-raum-und-detail-scala-42-06-06: #e7dee1;
@scala-raum-und-detail-scala-42-06-18: #9f939c;
@scala-raum-und-detail-scala-42-12-06: #f0dae6;
@scala-raum-und-detail-scala-42-12-12: #d6bccd;
@scala-raum-und-detail-scala-42-15-15: #cda1c2;
@scala-raum-und-detail-scala-42-15-30: #49324c;
@scala-raum-und-detail-scala-42-21-27: #713a71;
@scala-raum-und-detail-scala-45-06-03: #eceaec;
@scala-raum-und-detail-scala-45-06-15: #b4b1b7;
@scala-raum-und-detail-scala-45-06-21: #817d85;
@scala-raum-und-detail-scala-45-09-24: #6c6178;
@scala-raum-und-detail-scala-45-12-06: #e1dce9;
@scala-raum-und-detail-scala-45-12-12: #ccbfd7;
@scala-raum-und-detail-scala-45-15-27: #5c4164;
@scala-raum-und-detail-scala-45-18-15: #bfa5d5;
@scala-raum-und-detail-scala-48-06-06: #dadde5;
@scala-raum-und-detail-scala-48-09-12: #c5c2d2;
@scala-raum-und-detail-scala-48-12-18: #9c92b4;
@scala-raum-und-detail-scala-48-15-30: #4a3567;
@scala-raum-und-detail-scala-51-06-06: #dcdce2;
@scala-raum-und-detail-scala-51-09-09: #cfd3e0;
@scala-raum-und-detail-scala-51-09-12: #c2c4d6;
@scala-raum-und-detail-scala-51-09-15: #aeaec4;
@scala-raum-und-detail-scala-51-09-21: #7a7b96;
@scala-raum-und-detail-scala-51-12-30: #363760;
@scala-raum-und-detail-scala-51-15-18: #9c9aca;
@scala-raum-und-detail-scala-51-15-24: #656292;
@scala-raum-und-detail-scala-54-12-06: #dce2eb;
@scala-raum-und-detail-scala-54-15-12: #b8c5e5;
@scala-raum-und-detail-scala-54-15-18: #849acb;
@scala-raum-und-detail-scala-54-15-24: #4e68aa;
@scala-raum-und-detail-scala-57-06-03: #e2e4e3;
@scala-raum-und-detail-scala-57-06-06: #d7dee6;
@scala-raum-und-detail-scala-57-06-09: #d0d8e2;
@scala-raum-und-detail-scala-57-06-15: #a8b4c0;
@scala-raum-und-detail-scala-57-06-21: #798391;
@scala-raum-und-detail-scala-57-09-12: #b7c3d1;
@scala-raum-und-detail-scala-57-09-18: #8b97ab;
@scala-raum-und-detail-scala-57-09-36: #242936;
@scala-raum-und-detail-scala-57-12-09: #c5d4e7;
@scala-raum-und-detail-scala-57-15-12: #b0c3e5;
@scala-raum-und-detail-scala-57-15-27: #32507d;
@scala-raum-und-detail-scala-57-18-18: #7b9cd0;
@scala-raum-und-detail-scala-57-18-30: #1e3f6c;
@scala-raum-und-detail-scala-57-21-18: #7499d3;
@scala-raum-und-detail-scala-57-21-21: #6586c0;
@scala-raum-und-detail-scala-57-21-27: #3a5f99;
@scala-raum-und-detail-scala-60-06-03: #e9ebe9;
@scala-raum-und-detail-scala-60-06-15: #acb0b6;
@scala-raum-und-detail-scala-60-09-03: #dee7eb;
@scala-raum-und-detail-scala-60-09-19: #7c90a7;
@scala-raum-und-detail-scala-60-12-30: #29405e;
@scala-raum-und-detail-scala-60-15-15: #92b3d8;
@scala-raum-und-detail-scala-60-15-21: #5f85af;
@scala-raum-und-detail-scala-60-18-27: #14537e;
@scala-raum-und-detail-scala-63-06-03: #dbe4ed;
@scala-raum-und-detail-scala-63-06-09: #c4d1dc;
@scala-raum-und-detail-scala-63-06-15: #a7b3bf;
@scala-raum-und-detail-scala-63-06-21: #727d87;
@scala-raum-und-detail-scala-63-06-27: #46525e;
@scala-raum-und-detail-scala-63-09-03: #d8e9ef;
@scala-raum-und-detail-scala-63-12-06: #c4e2ed;
@scala-raum-und-detail-scala-63-12-09: #acd2e7;
@scala-raum-und-detail-scala-63-15-18: #6ea5ca;
@scala-raum-und-detail-scala-63-18-12: #95cce8;
@scala-raum-und-detail-scala-63-18-21: #3387b5;
@scala-raum-und-detail-scala-63-18-27: #206186;
@scala-raum-und-detail-scala-66-03-03: #dbded9;
@scala-raum-und-detail-scala-66-03-09: #c5cece;
@scala-raum-und-detail-scala-66-09-12: #b1c9d1;
@scala-raum-und-detail-scala-66-09-18: #7d99a8;
@scala-raum-und-detail-scala-66-12-06: #cae3ed;
@scala-raum-und-detail-scala-66-15-27: #005c7c;
@scala-raum-und-detail-scala-66-18-15: #56bbdf;
@scala-raum-und-detail-scala-66-18-24: #00739e;
@scala-raum-und-detail-scala-69-03-03: #e7edea;
@scala-raum-und-detail-scala-69-03-12: #b2bdbf;
@scala-raum-und-detail-scala-69-03-18: #8e9799;
@scala-raum-und-detail-scala-69-06-33: #313c3f;
@scala-raum-und-detail-scala-69-09-12: #b2cad1;
@scala-raum-und-detail-scala-69-09-18: #769ba9;
@scala-raum-und-detail-scala-69-09-27: #33555f;
@scala-raum-und-detail-scala-69-15-21: #2b8eae;
@scala-raum-und-detail-scala-69-18-03: #cde8e8;
@scala-raum-und-detail-scala-69-18-06: #bee6e8;
@scala-raum-und-detail-scala-69-18-15: #4bbccd;
@scala-raum-und-detail-scala-69-18-21: #0092ac;
@scala-raum-und-detail-scala-72-09-03: #d0e0db;
@scala-raum-und-detail-scala-72-12-06: #c5e5e6;
@scala-raum-und-detail-scala-72-12-09: #abd9dd;
@scala-raum-und-detail-scala-72-15-15: #71bbbc;
@scala-raum-und-detail-scala-72-15-18: #58a6a5;
@scala-raum-und-detail-scala-72-18-24: #007879;
@scala-raum-und-detail-scala-72-18-27: #005f67;
@scala-raum-und-detail-scala-72-21-18: #00abaf;
@scala-raum-und-detail-scala-75-03-03: #ecede8;
@scala-raum-und-detail-scala-75-06-03: #e5ede7;
@scala-raum-und-detail-scala-75-06-06: #dae0dc;
@scala-raum-und-detail-scala-75-09-03: #e0ede6;
@scala-raum-und-detail-scala-75-09-09: #c1d7cf;
@scala-raum-und-detail-scala-75-09-18: #879d98;
@scala-raum-und-detail-scala-75-12-06: #c9e4de;
@scala-raum-und-detail-scala-75-12-12: #9ccbc5;
@scala-raum-und-detail-scala-75-15-15: #8bb8ae;
@scala-raum-und-detail-scala-75-18-03: #c9ece1;
@scala-raum-und-detail-scala-75-18-18: #00b2a1;
@scala-raum-und-detail-scala-75-18-24: #007a72;
@scala-raum-und-detail-scala-78-01-03: #e3e9e5;
@scala-raum-und-detail-scala-78-01-09: #c7cbc7;
@scala-raum-und-detail-scala-78-01-15: #9a9f9d;
@scala-raum-und-detail-scala-78-03-03: #e3ece2;
@scala-raum-und-detail-scala-78-09-03: #dbe6db;
@scala-raum-und-detail-scala-78-09-06: #cce4d7;
@scala-raum-und-detail-scala-78-12-18: #55a68a;
@scala-raum-und-detail-scala-78-12-24: #007764;
@scala-raum-und-detail-scala-81-03-03: #e6ebe4;
@scala-raum-und-detail-scala-81-06-03: #e6eee0;
@scala-raum-und-detail-scala-81-06-09: #cbd4c4;
@scala-raum-und-detail-scala-81-06-16: #93a393;
@scala-raum-und-detail-scala-81-09-03: #e3eed2;
@scala-raum-und-detail-scala-81-09-09: #c5d8b7;
@scala-raum-und-detail-scala-81-09-15: #9bb795;
@scala-raum-und-detail-scala-81-09-21: #638269;
@scala-raum-und-detail-scala-81-12-06: #c9e7ad;
@scala-raum-und-detail-scala-81-12-12: #a4ca94;
@scala-raum-und-detail-scala-81-18-18: #4aa961;
@scala-raum-und-detail-scala-81-18-30: #00613b;
@scala-raum-und-detail-scala-84-06-03: #e6eada;
@scala-raum-und-detail-scala-84-09-09: #dce2c3;
@scala-raum-und-detail-scala-84-15-09: #d3e8aa;
@scala-raum-und-detail-scala-84-15-12: #c1de97;
@scala-raum-und-detail-scala-84-18-18: #72c75b;
@scala-raum-und-detail-scala-84-21-03: #daebc7;
@scala-raum-und-detail-scala-84-21-06: #d4e6b9;
@scala-raum-und-detail-scala-84-21-12: #bbe17a;
@scala-raum-und-detail-scala-87-03-03: #eaebe1;
@scala-raum-und-detail-scala-87-03-12: #babcb1;
@scala-raum-und-detail-scala-87-03-21: #7c7e74;
@scala-raum-und-detail-scala-87-03-27: #54554d;
@scala-raum-und-detail-scala-87-03-30: #42443e;
@scala-raum-und-detail-scala-87-06-06: #dfe2ca;
@scala-raum-und-detail-scala-87-09-03: #e8edc8;
@scala-raum-und-detail-scala-87-09-06: #dce5ae;
@scala-raum-und-detail-scala-87-09-12: #bdc497;
@scala-raum-und-detail-scala-87-12-09: #c5d88b;
@scala-raum-und-detail-scala-87-12-18: #94a05f;
@scala-raum-und-detail-scala-87-15-15: #a3b93e;
@scala-raum-und-detail-scala-90-06-03: #ebead8;
@scala-raum-und-detail-scala-90-09-15: #b0af7c;
@scala-raum-und-detail-scala-90-09-27: #535843;
@scala-raum-und-detail-scala-90-12-06: #e1e2af;
@scala-raum-und-detail-scala-90-12-09: #d3d49c;
@scala-raum-und-detail-scala-90-12-21: #7e7c2d;
@scala-raum-und-detail-scala-90-15-06: #dce279;
@scala-raum-und-detail-scala-90-18-12: #c2cb23;
@scala-raum-und-detail-scala-93-03-03: #e9ebe8;
@scala-raum-und-detail-scala-93-03-12: #d9d3bc;
@scala-raum-und-detail-scala-93-03-18: #b2ab91;
@scala-raum-und-detail-scala-93-06-09: #ede8d6;
@scala-raum-und-detail-scala-93-06-27: #7a775c;
@scala-raum-und-detail-scala-93-09-12: #e2e0b5;
@scala-raum-und-detail-scala-93-09-33: #534e34;
@scala-raum-und-detail-scala-93-12-21: #b8ac68;
@scala-raum-und-detail-scala-96-12-01: #f0ecdb;
@scala-raum-und-detail-scala-96-12-03: #ece8cf;
@scala-raum-und-detail-scala-96-12-09: #e2d493;
@scala-raum-und-detail-scala-96-12-21: #86773d;
@scala-raum-und-detail-scala-96-15-06: #eee1b1;
@scala-raum-und-detail-scala-96-18-01: #f1ecd6;
@scala-raum-und-detail-scala-96-18-02: #f4e9bc;
@scala-raum-und-detail-scala-96-18-03: #f5e6a8;
@scala-raum-und-detail-scala-96-18-06: #f1df94;
@scala-raum-und-detail-scala-96-18-12: #e1c75d;
@scala-raum-und-detail-scala-96-18-18: #a8951d;
@scala-raum-und-detail-scala-96-24-09: #efcc3f;
@scala-raum-und-detail-scala-99-00-03: #ecece6;
@scala-raum-und-detail-scala-99-00-06: #e7e7e3;
@scala-raum-und-detail-scala-99-00-12: #d4d5d3;
@scala-raum-und-detail-scala-99-00-18: #c1c2c2;
@scala-raum-und-detail-scala-99-00-24: #adafaf;
@scala-raum-und-detail-scala-99-00-30: #979899;
@scala-raum-und-detail-scala-99-00-36: #828383;
@scala-raum-und-detail-scala-99-00-42: #737576;
@scala-raum-und-detail-scala-99-00-48: #5f6063;
@scala-raum-und-detail-scala-99-00-57: #47474a;