// obi
@obi-orchidee-1: #883854;
@obi-orchidee-2: #a74a7d;
@obi-orchidee-3: #973e6a;
@obi-orchidee-4: #b3558f;
@obi-orchidee-5: #ba5c97;
@obi-orchidee-6: #cd7bb5;
@obi-orchidee-7: #c468a4;
@obi-orchidee-8: #d88fc4;
@obi-orchidee-9: #e0a3cf;
@obi-orchidee-10: #f0c7e5;
@obi-orchidee-11: #eab7dc;
@obi-orchidee-12: #f4d5ea;
@obi-orchidee-13: #f8e1ef;
@obi-orchidee-14: #f9e9f0;
@obi-merlot-1: #8e4145;
@obi-merlot-2: #a04f5e;
@obi-merlot-3: #954751;
@obi-merlot-4: #aa586c;
@obi-merlot-5: #b16076;
@obi-merlot-6: #c57c94;
@obi-merlot-7: #b86880;
@obi-merlot-8: #d290a7;
@obi-merlot-9: #dda4b9;
@obi-merlot-10: #edc9d7;
@obi-merlot-11: #e6b8c9;
@obi-merlot-12: #f3d7df;
@obi-merlot-13: #f6e2e7;
@obi-merlot-14: #f7e9ea;
@obi-wood-1: #5d4c46;
@obi-wood-2: #766562;
@obi-wood-3: #82726f;
@obi-wood-4: #a59794;
@obi-wood-5: #d1cac8;
@obi-cramberry-1: #a1383d;
@obi-cramberry-2: #b54356;
@obi-cramberry-3: #ab3b49;
@obi-cramberry-4: #c14e67;
@obi-cramberry-5: #c4526d;
@obi-cramberry-6: #d66d8c;
@obi-cramberry-7: #cc5c79;
@obi-cramberry-8: #df819f;
@obi-cramberry-9: #e896b2;
@obi-cramberry-10: #f3bdd0;
@obi-cramberry-11: #f0acc4;
@obi-cramberry-12: #f7cedb;
@obi-cramberry-13: #fbdde6;
@obi-cramberry-14: #fcecec;
@obi-blackberry-1: #503e3b;
@obi-blackberry-2: #5f454b;
@obi-blackberry-3: #5d4748;
@obi-blackberry-4: #70525c;
@obi-blackberry-5: #765863;
@obi-blackberry-6: #906d7d;
@obi-blackberry-7: #7d5c6a;
@obi-blackberry-8: #a37f91;
@obi-blackberry-9: #b593a5;
@obi-blackberry-10: #d5bbc8;
@obi-blackberry-11: #c7aab9;
@obi-blackberry-12: #e1ced7;
@obi-blackberry-13: #eadbe0;
@obi-blackberry-14: #f1e6e7;
@obi-oxid-1: #774643;
@obi-oxid-2: #774642;
@obi-oxid-3: #96545d;
@obi-oxid-4: #a4606d;
@obi-oxid-5: #c48292;
@obi-cherry-1: #e7bdc8;
@obi-cherry-2: #bd3a3a;
@obi-cherry-3: #cb444a;
@obi-cherry-4: #c54043;
@obi-cherry-5: #d14d59;
@obi-cherry-6: #d65261;
@obi-cherry-7: #e3697d;
@obi-cherry-8: #dc5a6b;
@obi-cherry-9: #eb7d92;
@obi-cherry-10: #f193a7;
@obi-cherry-11: #fabac9;
@obi-cherry-12: #f6a6b8;
@obi-cherry-13: #fbcbd5;
@obi-cherry-14: #fdd9e0;
@obi-mohn-1: #fee4e7;
@obi-mohn-2: #a64739;
@obi-mohn-3: #b75049;
@obi-mohn-4: #b24f45;
@obi-mohn-5: #c65b59;
@obi-mohn-6: #ca5d5c;
@obi-mohn-7: #da7579;
@obi-mohn-8: #d16667;
@obi-mohn-9: #e7898f;
@obi-mohn-10: #ef9ca3;
@obi-mohn-11: #f8c0c4;
@obi-mohn-12: #f5b0b5;
@obi-mohn-13: #fdd1d3;
@obi-mohn-14: #fedddd;
@obi-earth-1: #fee7e5;
@obi-earth-2: #af7669;
@obi-earth-3: #bb8478;
@obi-earth-4: #d3a79d;
@obi-earth-5: #ecd6cf;
@obi-tomato-1: #ce443a;
@obi-tomato-2: #da5049;
@obi-tomato-3: #d64a41;
@obi-tomato-4: #e05956;
@obi-tomato-5: #e4605e;
@obi-tomato-6: #ef787a;
@obi-tomato-7: #e96667;
@obi-tomato-8: #f68a8e;
@obi-tomato-9: #f99ca1;
@obi-tomato-10: #ffc3c6;
@obi-tomato-11: #ffb2b5;
@obi-tomato-12: #ffd2d3;
@obi-tomato-13: #ffdedf;
@obi-tomato-14: #fdebe8;
@obi-sepia-1: #7d4b41;
@obi-sepia-2: #92554f;
@obi-sepia-3: #8a5048;
@obi-sepia-4: #a15f5b;
@obi-sepia-5: #a86663;
@obi-sepia-6: #c07f7e;
@obi-sepia-7: #b06e6b;
@obi-sepia-8: #ce9292;
@obi-sepia-9: #d9a4a3;
@obi-sepia-10: #edc9c7;
@obi-sepia-11: #e5b8b7;
@obi-sepia-12: #f3d7d5;
@obi-sepia-13: #f7e3de;
@obi-sepia-14: #f9ede7;
@obi-magma-1: #c26447;
@obi-magma-3: #e28e71;
@obi-magma-4: #efb198;
@obi-magma-5: #f9dccd;
@obi-paprica-1: #e95c2c;
@obi-paprica-2: #f1673f;
@obi-paprica-3: #f16337;
@obi-paprica-4: #f97351;
@obi-paprica-5: #fb7757;
@obi-paprica-6: #ff8e77;
@obi-paprica-7: #fe8064;
@obi-paprica-8: #ff9f8f;
@obi-paprica-9: #ffafa2;
@obi-paprica-10: #ffcec5;
@obi-paprica-11: #ffbfb5;
@obi-paprica-12: #ffd9d3;
@obi-paprica-13: #ffe2dd;
@obi-paprica-14: #fff0ea;
@obi-grenadine-1: #a34f35;
@obi-grenadine-2: #b45f46;
@obi-grenadine-3: #ae5942;
@obi-grenadine-4: #bf6b54;
@obi-grenadine-5: #c5715a;
@obi-grenadine-6: #d78b76;
@obi-grenadine-7: #cb7a64;
@obi-grenadine-8: #e19d8a;
@obi-grenadine-9: #ecb0a0;
@obi-grenadine-10: #f9d2c8;
@obi-grenadine-11: #f2c2b5;
@obi-grenadine-12: #fbdfd5;
@obi-grenadine-13: #fde7df;
@obi-grenadine-14: #feefe8;
@obi-terra-1: #a66049;
@obi-terra-2: #c07e65;
@obi-terra-3: #cc8d74;
@obi-terra-4: #e2b19b;
@obi-terra-5: #f3ddcf;
@obi-mandarine-1: #f56f2f;
@obi-mandarine-2: #fc7f3e;
@obi-mandarine-3: #fa7733;
@obi-mandarine-4: #fe8a4d;
@obi-mandarine-5: #ff9056;
@obi-mandarine-6: #ffa774;
@obi-mandarine-7: #ff985f;
@obi-mandarine-8: #ffb689;
@obi-mandarine-9: #ffc59f;
@obi-mandarine-10: #ffddc4;
@obi-mandarine-11: #ffd2b2;
@obi-mandarine-12: #ffe6d1;
@obi-mandarine-13: #ffeddb;
@obi-mandarine-14: #fff2e5;
@obi-zimt-1: #d9793b;
@obi-zimt-2: #e78a4c;
@obi-zimt-3: #e28243;
@obi-zimt-4: #ee9456;
@obi-zimt-5: #ef9a5d;
@obi-zimt-6: #fab07b;
@obi-zimt-7: #f5a268;
@obi-zimt-8: #fdbd8f;
@obi-zimt-9: #ffcca5;
@obi-zimt-10: #ffe3c9;
@obi-zimt-11: #ffd9ba;
@obi-zimt-12: #ffebd7;
@obi-zimt-13: #fdf0e1;
@obi-zimt-14: #fef4e8;
@obi-bernstein-1: #c68345;
@obi-bernstein-2: #dfa168;
@obi-bernstein-3: #e8ae79;
@obi-bernstein-4: #f3c89f;
@obi-bernstein-5: #fde9d5;
@obi-papaya-1: #ff8b28;
@obi-papaya-2: #ff9733;
@obi-papaya-3: #ff9233;
@obi-papaya-4: #ffa548;
@obi-papaya-5: #ffaa51;
@obi-papaya-6: #ffbe6e;
@obi-papaya-7: #ffb057;
@obi-papaya-8: #ffca85;
@obi-papaya-9: #ffd69b;
@obi-papaya-10: #ffe8c3;
@obi-papaya-11: #ffe0b2;
@obi-papaya-12: #ffedd1;
@obi-papaya-13: #fdf2dd;
@obi-papaya-14: #fdf9ea;
@obi-cognac-1: #ab693d;
@obi-cognac-2: #bc7a46;
@obi-cognac-3: #b3703b;
@obi-cognac-4: #c98953;
@obi-cognac-5: #ce8f59;
@obi-cognac-6: #dea773;
@obi-cognac-7: #d3965e;
@obi-cognac-8: #e6b787;
@obi-cognac-9: #eec69c;
@obi-cognac-10: #f7e0c3;
@obi-cognac-11: #f4d5b5;
@obi-cognac-12: #faead4;
@obi-cognac-13: #fcf0de;
@obi-cognac-14: #fdf4e6;
@obi-taiga-1: #a26d4b;
@obi-taiga-2: #bf8b66;
@obi-taiga-3: #cc9b76;
@obi-taiga-5: #f5e3d0;
@obi-physalis-1: #ff9824;
@obi-physalis-2: #ffaa33;
@obi-physalis-3: #ffa32a;
@obi-physalis-4: #ffb442;
@obi-physalis-5: #ffb849;
@obi-physalis-6: #ffc96b;
@obi-physalis-7: #ffbe56;
@obi-physalis-8: #ffd483;
@obi-physalis-9: #ffde99;
@obi-physalis-10: #ffedc1;
@obi-physalis-11: #ffe6af;
@obi-physalis-12: #fff2d1;
@obi-physalis-13: #fdf4da;
@obi-physalis-14: #fbf8e8;
@obi-cacao-1: #7e5a3f;
@obi-cacao-2: #976b4c;
@obi-cacao-3: #8f6548;
@obi-cacao-4: #a77858;
@obi-cacao-5: #ad7d5d;
@obi-cacao-6: #c49676;
@obi-cacao-7: #b58664;
@obi-cacao-8: #d1a88a;
@obi-cacao-9: #ddba9e;
@obi-cacao-10: #f0d9c4;
@obi-cacao-11: #e8cbb2;
@obi-cacao-12: #f3e3d1;
@obi-cacao-13: #f9eddd;
@obi-cacao-14: #faf3e4;
@obi-caramel-1: #c9933f;
@obi-caramel-2: #e1b05f;
@obi-caramel-3: #eabc71;
@obi-caramel-4: #f4d398;
@obi-caramel-5: #fdeed1;
@obi-marille-1: #ffae12;
@obi-marille-2: #ffbb2b;
@obi-marille-3: #ffb41d;
@obi-marille-4: #ffc13c;
@obi-marille-5: #ffc744;
@obi-marille-6: #ffd367;
@obi-marille-7: #ffcc52;
@obi-marille-8: #ffdd7f;
@obi-marille-9: #ffe599;
@obi-marille-10: #fff1c2;
@obi-marille-11: #ffebaf;
@obi-marille-12: #fff5d0;
@obi-marille-13: #fdf7dc;
@obi-marille-14: #fdfae8;
@obi-kandis-1: #715a47;
@obi-kandis-2: #856c57;
@obi-kandis-3: #7e6653;
@obi-kandis-4: #957d68;
@obi-kandis-5: #9c846f;
@obi-kandis-6: #b49f8b;
@obi-kandis-7: #a38d78;
@obi-kandis-8: #c3b19e;
@obi-kandis-9: #d1c1af;
@obi-kandis-10: #e8ddcf;
@obi-kandis-11: #ded0c0;
@obi-kandis-12: #efe6da;
@obi-kandis-13: #f5efe4;
@obi-kandis-14: #f7f3ea;
@obi-sand-1: #c29f41;
@obi-sand-2: #dcbb64;
@obi-sand-3: #e4c676;
@obi-sand-4: #f1da9d;
@obi-sand-5: #fcf2d4;
@obi-grapefruit-1: #ffb805;
@obi-grapefruit-2: #ffc324;
@obi-grapefruit-3: #ffbc12;
@obi-grapefruit-4: #ffca38;
@obi-grapefruit-5: #ffcc3c;
@obi-grapefruit-6: #ffd965;
@obi-grapefruit-7: #ffd24e;
@obi-grapefruit-8: #ffe180;
@obi-grapefruit-9: #ffe897;
@obi-grapefruit-10: #fff2c0;
@obi-grapefruit-11: #ffeeae;
@obi-grapefruit-12: #fff6d2;
@obi-grapefruit-13: #fdf6db;
@obi-grapefruit-14: #fdf8e4;
@obi-safran-1: #d2953b;
@obi-safran-2: #e0a549;
@obi-safran-3: #dc9f43;
@obi-safran-4: #e8b057;
@obi-safran-5: #ecb45c;
@obi-safran-6: #f6c779;
@obi-safran-7: #f0bc67;
@obi-safran-8: #f9d18e;
@obi-safran-9: #fbdca4;
@obi-safran-10: #feedca;
@obi-safran-11: #fee6b9;
@obi-safran-12: #fef2d7;
@obi-safran-13: #fbf4e0;
@obi-safran-14: #fcf7e8;
@obi-macchia-1: #6e764d;
@obi-macchia-2: #8c9567;
@obi-macchia-3: #9ba274;
@obi-macchia-4: #bbc19a;
@obi-macchia-5: #e2e6d0;
@obi-citro-1: #ffcf00;
@obi-citro-2: #ffd700;
@obi-citro-3: #ffd500;
@obi-citro-4: #ffdb31;
@obi-citro-5: #ffdd39;
@obi-citro-6: #ffe564;
@obi-citro-7: #ffe14d;
@obi-citro-8: #ffea81;
@obi-citro-9: #ffee99;
@obi-citro-10: #fff4bf;
@obi-citro-11: #fff1ac;
@obi-citro-12: #fff7cf;
@obi-citro-13: #fff8da;
@obi-citro-14: #fdf9e3;
@obi-anis-1: #936d3c;
@obi-anis-2: #a87f49;
@obi-anis-3: #9e7742;
@obi-anis-4: #b58c54;
@obi-anis-5: #bb935a;
@obi-anis-6: #d0ab76;
@obi-anis-7: #c49c64;
@obi-anis-8: #dbbb8a;
@obi-anis-9: #e5ca9f;
@obi-anis-10: #f3e2c3;
@obi-anis-11: #edd7b4;
@obi-anis-12: #f8ead1;
@obi-anis-13: #f9efd9;
@obi-anis-14: #fcf6e7;
@obi-petrol-1: #4e686c;
@obi-petrol-2: #82a0a4;
@obi-petrol-3: #96b2b5;
@obi-petrol-4: #bfd2d3;
@obi-petrol-5: #e5eeeb;
@obi-pistachio-1: #a1bb13;
@obi-pistachio-2: #b8c72d;
@obi-pistachio-3: #b2c421;
@obi-pistachio-4: #c6cf3f;
@obi-pistachio-5: #cbd247;
@obi-pistachio-6: #dcde6a;
@obi-pistachio-7: #d1d653;
@obi-pistachio-8: #e5e481;
@obi-pistachio-9: #ecea98;
@obi-pistachio-10: #f8f4c4;
@obi-pistachio-11: #f2eeaf;
@obi-pistachio-12: #f9f5d0;
@obi-pistachio-13: #f9f7db;
@obi-pistachio-14: #fcf9e4;
@obi-curuma-1: #dd9d2b;
@obi-curuma-2: #e7ac32;
@obi-curuma-3: #e1a428;
@obi-curuma-4: #eeb640;
@obi-curuma-5: #f1bb47;
@obi-curuma-6: #f8cb65;
@obi-curuma-7: #f4c153;
@obi-curuma-8: #fbd57b;
@obi-curuma-9: #fedf95;
@obi-curuma-10: #ffefc0;
@obi-curuma-11: #ffe8ac;
@obi-curuma-12: #fff4cf;
@obi-curuma-13: #fef6dc;
@obi-curuma-14: #fef9e5;
@obi-rock-1: #4d575d;
@obi-rock-2: #606e76;
@obi-rock-3: #6d7c86;
@obi-rock-4: #909fa7;
@obi-rock-5: #c6d1d6;
@obi-apple-1: #7eaf2b;
@obi-apple-2: #99bd37;
@obi-apple-3: #8bb72a;
@obi-apple-4: #a9c746;
@obi-apple-5: #aeca4f;
@obi-apple-6: #c5d86f;
@obi-apple-7: #b6cf58;
@obi-apple-8: #d1de83;
@obi-apple-9: #dde79b;
@obi-apple-10: #edf2c2;
@obi-apple-11: #e7edae;
@obi-apple-12: #f5f7d2;
@obi-apple-13: #f6f8dd;
@obi-apple-14: #f9f9e4;
@obi-cumin-1: #92763b;
@obi-cumin-2: #ab8743;
@obi-cumin-3: #a0803f;
@obi-cumin-4: #b99551;
@obi-cumin-5: #be9b55;
@obi-cumin-6: #d3b170;
@obi-cumin-7: #c7a25c;
@obi-cumin-8: #ddbf82;
@obi-cumin-9: #e7cc96;
@obi-cumin-10: #f6e6c0;
@obi-cumin-11: #efdcaf;
@obi-cumin-12: #f9efd0;
@obi-cumin-13: #fbf4db;
@obi-cumin-14: #fcf8e4;
@obi-amethyst-1: #617591;
@obi-amethyst-2: #8fa2bb;
@obi-amethyst-3: #9fb1c7;
@obi-amethyst-4: #c2cfdd;
@obi-amethyst-5: #e8eef0;
@obi-avocado-1: #30853e;
@obi-avocado-2: #429c48;
@obi-avocado-3: #33933f;
@obi-avocado-4: #58ac5b;
@obi-avocado-5: #60b160;
@obi-avocado-6: #80c67e;
@obi-avocado-7: #6dba6c;
@obi-avocado-8: #96d393;
@obi-avocado-9: #abdca6;
@obi-avocado-10: #d0eecb;
@obi-avocado-11: #bee7ba;
@obi-avocado-12: #ddf4d8;
@obi-avocado-13: #e8f8e4;
@obi-avocado-14: #effaea;
@obi-muskat-1: #756647;
@obi-muskat-2: #887756;
@obi-muskat-3: #7f6e4e;
@obi-muskat-4: #958360;
@obi-muskat-5: #998765;
@obi-muskat-6: #b2a180;
@obi-muskat-7: #a3916e;
@obi-muskat-8: #c2b293;
@obi-muskat-9: #cfc2a5;
@obi-muskat-10: #e5dcc8;
@obi-muskat-11: #dbd0b8;
@obi-muskat-12: #eee6d5;
@obi-muskat-13: #f3eddf;
@obi-muskat-14: #f7f3e6;
@obi-lapislazuli-1: #43547b;
@obi-lapislazuli-2: #759ac1;
@obi-lapislazuli-3: #89accf;
@obi-lapislazuli-4: #b2cbe2;
@obi-lapislazuli-5: #dfebf2;
@obi-peppermint-1: #115d50;
@obi-peppermint-2: #008c74;
@obi-peppermint-3: #007b64;
@obi-peppermint-4: #00a58b;
@obi-peppermint-5: #00a98f;
@obi-peppermint-6: #33c3ac;
@obi-peppermint-7: #00b39a;
@obi-peppermint-8: #56d2be;
@obi-peppermint-9: #79dcca;
@obi-peppermint-10: #aeecdf;
@obi-peppermint-11: #94e4d6;
@obi-peppermint-12: #c3f2e7;
@obi-peppermint-13: #d3f6ec;
@obi-peppermint-14: #e7f9f0;
@obi-coffee-1: #585147;
@obi-coffee-2: #696156;
@obi-coffee-3: #625a51;
@obi-coffee-4: #786f64;
@obi-coffee-5: #7f766b;
@obi-coffee-6: #9a9186;
@obi-coffee-7: #887f74;
@obi-coffee-8: #aaa299;
@obi-coffee-9: #bdb6ac;
@obi-coffee-10: #dad5cc;
@obi-coffee-11: #ccc5bc;
@obi-coffee-12: #e4e0d7;
@obi-coffee-13: #eceae2;
@obi-coffee-14: #f2f1e9;
@obi-lava-1: #524f4a;
@obi-lava-2: #524f4a;
@obi-lava-3: #71706a;
@obi-lava-4: #81817a;
@obi-lava-5: #a5a59f;
@obi-curacao-1: #d7d7d1;
@obi-curacao-2: #2d4f53;
@obi-curacao-3: #007575;
@obi-curacao-4: #006667;
@obi-curacao-5: #008989;
@obi-curacao-6: #008f8f;
@obi-curacao-7: #21adae;
@obi-curacao-8: #009c9d;
@obi-curacao-9: #49bdbf;
@obi-curacao-10: #6ccacc;
@obi-curacao-11: #a7e3e3;
@obi-curacao-12: #8cd8da;
@obi-curacao-13: #bdebeb;
@obi-curacao-14: #cef2f1;
@obi-olive-1: #dcf6f3;
@obi-olive-2: #7f8f39;
@obi-olive-3: #97a44c;
@obi-olive-4: #8b9944;
@obi-olive-5: #a7b15c;
@obi-olive-6: #aab45f;
@obi-olive-7: #bfc67b;
@obi-olive-8: #ccd18f;
@obi-olive-9: #d9dda5;
@obi-olive-10: #eceeca;
@obi-olive-11: #e3e7b9;
@obi-olive-12: #f1f2d7;
@obi-olive-13: #f6f7e3;
@obi-olive-14: #f9f9e9;
@obi-blueberry-1: #3c4067;
@obi-blueberry-2: #245b95;
@obi-blueberry-3: #2c4f85;
@obi-blueberry-4: #1f6ba8;
@obi-blueberry-5: #1f73b0;
@obi-blueberry-6: #2c8ec8;
@obi-blueberry-7: #1d7ebb;
@obi-blueberry-8: #409fd5;
@obi-blueberry-9: #60b2e2;
@obi-blueberry-10: #93cff0;
@obi-blueberry-11: #7ac1e8;
@obi-blueberry-12: #acdbf2;
@obi-blueberry-13: #c0e3f3;
@obi-blueberry-14: #dbf0f5;
@obi-alovera-1: #33554d;
@obi-alovera-2: #347567;
@obi-alovera-3: #34695d;
@obi-alovera-4: #3e8677;
@obi-alovera-5: #418d7d;
@obi-alovera-6: #5daa9b;
@obi-alovera-7: #499687;
@obi-alovera-8: #75bcae;
@obi-alovera-9: #8fcdc1;
@obi-alovera-10: #bbe5dc;
@obi-alovera-11: #a6dad0;
@obi-alovera-12: #ccece4;
@obi-alovera-13: #d9f2eb;
@obi-alovera-14: #e5f6ee;
@obi-enzian-1: #3e3c5c;
@obi-enzian-2: #3e4d84;
@obi-enzian-3: #3c4374;
@obi-enzian-4: #415b98;
@obi-enzian-5: #4161a1;
@obi-enzian-6: #4b79bb;
@obi-enzian-7: #4368ab;
@obi-enzian-8: #5c8ecb;
@obi-enzian-9: #70a1d9;
@obi-enzian-10: #a0c6ec;
@obi-enzian-11: #8ab5e3;
@obi-enzian-12: #b4d4ee;
@obi-enzian-13: #c6dff3;
@obi-enzian-14: #dcecf4;
@obi-eucalypto-1: #3b5157;
@obi-eucalypto-2: #43656d;
@obi-eucalypto-3: #405c64;
@obi-eucalypto-4: #48717c;
@obi-eucalypto-5: #4a7680;
@obi-eucalypto-6: #64929e;
@obi-eucalypto-7: #53818c;
@obi-eucalypto-8: #78a5b2;
@obi-eucalypto-9: #8fb8c3;
@obi-eucalypto-10: #bad6dd;
@obi-eucalypto-11: #a5c8d1;
@obi-eucalypto-12: #cce2e6;
@obi-eucalypto-13: #d9e9ec;
@obi-eucalypto-14: #e6f1f0;
@obi-lavendel-1: #443d49;
@obi-lavendel-2: #514376;
@obi-lavendel-3: #4b3d66;
@obi-lavendel-4: #5b4b8c;
@obi-lavendel-5: #615093;
@obi-lavendel-6: #7b6bb4;
@obi-lavendel-7: #6a59a1;
@obi-lavendel-8: #8d7ec3;
@obi-lavendel-9: #9f92d1;
@obi-lavendel-10: #c3b9e6;
@obi-lavendel-11: #b2a6db;
@obi-lavendel-12: #d1c9ea;
@obi-lavendel-13: #ddd6ef;
@obi-lavendel-14: #ebe8f2;
@obi-plum-1: #40485c;
@obi-plum-2: #445973;
@obi-plum-3: #45536a;
@obi-plum-4: #486683;
@obi-plum-5: #4b6b89;
@obi-plum-6: #5c85a5;
@obi-plum-7: #4f7392;
@obi-plum-8: #6e97b6;
@obi-plum-9: #86acc8;
@obi-plum-10: #b3cfe1;
@obi-plum-11: #9ec0d7;
@obi-plum-12: #c4dbe7;
@obi-plum-13: #d4e6ee;
@obi-plum-14: #dfecf0;
@obi-aubergine-1: #4e3b50;
@obi-aubergine-2: #674578;
@obi-aubergine-3: #60426d;
@obi-aubergine-4: #764e8b;
@obi-aubergine-5: #7e5693;
@obi-aubergine-6: #9a71b1;
@obi-aubergine-7: #88609f;
@obi-aubergine-8: #ac86c1;
@obi-aubergine-9: #be9bd1;
@obi-aubergine-10: #d9c2e5;
@obi-aubergine-11: #cdb0db;
@obi-aubergine-12: #e4d1ea;
@obi-aubergine-13: #eadcee;
@obi-aubergine-14: #f0e5ee;
@obi-crocus-1: #4a4153;
@obi-crocus-2: #4e4a6a;
@obi-crocus-3: #4a455f;
@obi-crocus-4: #545379;
@obi-crocus-5: #5b5a82;
@obi-crocus-6: #6f719e;
@obi-crocus-7: #62638c;
@obi-crocus-8: #8487b2;
@obi-crocus-9: #999cc4;
@obi-crocus-10: #bec1dd;
@obi-crocus-11: #adb0d2;
@obi-crocus-12: #cccfe2;
@obi-crocus-13: #d9dceb;
@obi-crocus-14: #e3e5ed;