// auro-farbtonblock-iii-nr-344-350
@auro-farbtonblock-iii-nr-344-350-k05-1: #fdf3e1;
@auro-farbtonblock-iii-nr-344-350-k05-2: #fbecd4;
@auro-farbtonblock-iii-nr-344-350-k05-3: #fce7c8;
@auro-farbtonblock-iii-nr-344-350-k05-4: #f9ddb3;
@auro-farbtonblock-iii-nr-344-350-k05-5: #fadaab;
@auro-farbtonblock-iii-nr-344-350-k05-6: #f6d099;
@auro-farbtonblock-iii-nr-344-350-k05-7: #f2c785;
@auro-farbtonblock-iii-nr-344-350-k05-8: #e4a94f;
@auro-farbtonblock-iii-nr-344-350-k35-1: #f7e0dd;
@auro-farbtonblock-iii-nr-344-350-k35-2: #f4d8d4;
@auro-farbtonblock-iii-nr-344-350-k35-3: #eec9c5;
@auro-farbtonblock-iii-nr-344-350-k35-4: #e5b7b2;
@auro-farbtonblock-iii-nr-344-350-k35-5: #dda8a3;
@auro-farbtonblock-iii-nr-344-350-k35-6: #d6958d;
@auro-farbtonblock-iii-nr-344-350-k35-7: #cb867e;
@auro-farbtonblock-iii-nr-344-350-k35-8: #aa5140;
@auro-farbtonblock-iii-nr-344-350-k45-1: #f1e6e6;
@auro-farbtonblock-iii-nr-344-350-k45-2: #ebdbdd;
@auro-farbtonblock-iii-nr-344-350-k45-3: #e3cfd2;
@auro-farbtonblock-iii-nr-344-350-k45-4: #d7bdc1;
@auro-farbtonblock-iii-nr-344-350-k45-5: #d0b4b8;
@auro-farbtonblock-iii-nr-344-350-k45-6: #c4a2a6;
@auro-farbtonblock-iii-nr-344-350-k45-7: #b79095;
@auro-farbtonblock-iii-nr-344-350-k45-8: #8f595a;
@auro-farbtonblock-iii-nr-344-350-k55-1: #f0f5f6;
@auro-farbtonblock-iii-nr-344-350-k55-2: #e9f1f6;
@auro-farbtonblock-iii-nr-344-350-k55-3: #e0edf6;
@auro-farbtonblock-iii-nr-344-350-k55-4: #d3e6f6;
@auro-farbtonblock-iii-nr-344-350-k55-5: #c8dff3;
@auro-farbtonblock-iii-nr-344-350-k55-6: #bbd8f3;
@auro-farbtonblock-iii-nr-344-350-k55-7: #afd2f3;
@auro-farbtonblock-iii-nr-344-350-k55-8: #70aee8;
@auro-farbtonblock-iii-nr-344-350-k65-1: #edf0e8;
@auro-farbtonblock-iii-nr-344-350-k65-2: #e9eee5;
@auro-farbtonblock-iii-nr-344-350-k65-3: #e0e7db;
@auro-farbtonblock-iii-nr-344-350-k65-4: #d0dbca;
@auro-farbtonblock-iii-nr-344-350-k65-5: #c9d5c2;
@auro-farbtonblock-iii-nr-344-350-k65-6: #bccbb4;
@auro-farbtonblock-iii-nr-344-350-k65-7: #abbda2;
@auro-farbtonblock-iii-nr-344-350-k65-8: #809a71;
@auro-farbtonblock-iii-nr-344-350-k85-1: #eee4e2;
@auro-farbtonblock-iii-nr-344-350-k85-2: #e5d8d6;
@auro-farbtonblock-iii-nr-344-350-k85-3: #dacac8;
@auro-farbtonblock-iii-nr-344-350-k85-4: #ceb9b6;
@auro-farbtonblock-iii-nr-344-350-k85-5: #c5aca9;
@auro-farbtonblock-iii-nr-344-350-k85-6: #ba9e9b;
@auro-farbtonblock-iii-nr-344-350-k85-7: #a58683;
@auro-farbtonblock-iii-nr-344-350-k85-8: #7d5348;
@auro-farbtonblock-iii-nr-344-350-k95-1: #e5e6e5;
@auro-farbtonblock-iii-nr-344-350-k95-2: #dedede;
@auro-farbtonblock-iii-nr-344-350-k95-3: #d0d0d0;
@auro-farbtonblock-iii-nr-344-350-k95-4: #c1c1c2;
@auro-farbtonblock-iii-nr-344-350-k95-5: #b5b5b7;
@auro-farbtonblock-iii-nr-344-350-k95-6: #a6a6a7;
@auro-farbtonblock-iii-nr-344-350-k95-7: #939395;
@auro-farbtonblock-iii-nr-344-350-k95-8: #5b5857;
@auro-farbtonblock-iii-nr-344-350-k196: #f5e6ca;
@auro-farbtonblock-iii-nr-344-350-k238: #f4ddb8;
@auro-farbtonblock-iii-nr-344-350-k244: #f1dcb4;
@auro-farbtonblock-iii-nr-344-350-k160: #f0e8d1;
@auro-farbtonblock-iii-nr-344-350-k246: #e6dab7;
@auro-farbtonblock-iii-nr-344-350-k291: #ded1a7;
@auro-farbtonblock-iii-nr-344-350-k290: #cac294;
@auro-farbtonblock-iii-nr-344-350-k836: #c2dbec;
@auro-farbtonblock-iii-nr-344-350-k834: #b3cfe0;
@auro-farbtonblock-iii-nr-344-350-k333: #aec4d7;
@auro-farbtonblock-iii-nr-344-350-k184: #f2ddc8;
@auro-farbtonblock-iii-nr-344-350-k226: #efd4b3;
@auro-farbtonblock-iii-nr-344-350-k232: #f3d3b2;
@auro-farbtonblock-iii-nr-344-350-k234: #ebbfa6;
@auro-farbtonblock-iii-nr-344-350-k501: #e3ae79;
@auro-farbtonblock-iii-nr-344-350-k500: #d49352;
@auro-farbtonblock-iii-nr-344-350-k1013: #d19164;
@auro-farbtonblock-iii-nr-344-350-k679: #e1b5af;
@auro-farbtonblock-iii-nr-344-350-k278: #d79b82;
@auro-farbtonblock-iii-nr-344-350-k504: #ce8b70;
@auro-farbtonblock-iii-nr-344-350-k707: #c59995;
@auro-farbtonblock-iii-nr-344-350-k1011: #bc704d;
@auro-farbtonblock-iii-nr-344-350-k1002: #b27a52;
@auro-farbtonblock-iii-nr-344-350-k1000: #a0685e;