// neverlak-frescolithe-superfresco
@neverlak-frescolithe-superfresco-200-1-1: #f4d500;
@neverlak-frescolithe-superfresco-205-1-1: #f7c800;
@neverlak-frescolithe-superfresco-210-1-1: #dd4d34;
@neverlak-frescolithe-superfresco-215-1-1: #bd3230;
@neverlak-frescolithe-superfresco-220-1-1: #a43649;
@neverlak-frescolithe-superfresco-225-1-1: #922c49;
@neverlak-frescolithe-superfresco-200-1-10: #e4e869;
@neverlak-frescolithe-superfresco-205-1-10: #e7d028;
@neverlak-frescolithe-superfresco-210-1-10: #f26f44;
@neverlak-frescolithe-superfresco-215-1-10: #d64c5a;
@neverlak-frescolithe-superfresco-220-1-10: #c86597;
@neverlak-frescolithe-superfresco-225-1-10: #d77fbc;
@neverlak-frescolithe-superfresco-230-1-1: #41364d;
@neverlak-frescolithe-superfresco-235-1-1: #403e42;
@neverlak-frescolithe-superfresco-240-1-1: #4167d3;
@neverlak-frescolithe-superfresco-245-1-1: #30426a;
@neverlak-frescolithe-superfresco-250-1-1: #0873b5;
@neverlak-frescolithe-superfresco-255-1-1: #2e6e7e;
@neverlak-frescolithe-superfresco-230-1-10: #876ab7;
@neverlak-frescolithe-superfresco-235-1-10: #646e8d;
@neverlak-frescolithe-superfresco-240-1-10: #83a8eb;
@neverlak-frescolithe-superfresco-245-1-10: #008ec5;
@neverlak-frescolithe-superfresco-250-1-10: #339ad7;
@neverlak-frescolithe-superfresco-255-1-10: #1093a7;
@neverlak-frescolithe-superfresco-260-1-1: #006951;
@neverlak-frescolithe-superfresco-265-1-1: #1b633e;
@neverlak-frescolithe-superfresco-270-1-1: #374f3c;
@neverlak-frescolithe-superfresco-275-1-1: #587554;
@neverlak-frescolithe-superfresco-280-1-1: #1b8a41;
@neverlak-frescolithe-superfresco-285-1-1: #d2903c;
@neverlak-frescolithe-superfresco-260-1-10: #00b697;
@neverlak-frescolithe-superfresco-265-1-10: #4a9b5a;
@neverlak-frescolithe-superfresco-270-1-10: #6f9269;
@neverlak-frescolithe-superfresco-275-1-10: #89a383;
@neverlak-frescolithe-superfresco-280-1-10: #57b261;
@neverlak-frescolithe-superfresco-285-1-10: #e6ab56;
@neverlak-frescolithe-superfresco-290-1-1: #b25e3d;
@neverlak-frescolithe-superfresco-295-1-1: #854439;
@neverlak-frescolithe-superfresco-300-1-1: #574d46;
@neverlak-frescolithe-superfresco-305-1-1: #5f5147;
@neverlak-frescolithe-superfresco-310-1-1: #5d443e;
@neverlak-frescolithe-superfresco-315-1-1: #3e3d3e;
@neverlak-frescolithe-superfresco-290-1-10: #db844f;
@neverlak-frescolithe-superfresco-295-1-10: #a75c52;
@neverlak-frescolithe-superfresco-300-1-10: #887269;
@neverlak-frescolithe-superfresco-305-1-10: #836553;
@neverlak-frescolithe-superfresco-310-1-10: #825a59;
@neverlak-frescolithe-superfresco-315-1-10: #727175;