// hks-e-process
@hks-e-process-01-e: #ffec81;
@hks-e-process-02-e: #ffea00;
@hks-e-process-03-e: #ffed00;
@hks-e-process-04-e: #ffe000;
@hks-e-process-05-e: #ffd400;
@hks-e-process-06-e: #fcba00;
@hks-e-process-07-e: #f69e14;
@hks-e-process-08-e: #f4941a;
@hks-e-process-10-e: #ee7535;
@hks-e-process-11-e: #f8bba5;
@hks-e-process-12-e: #ed6a35;
@hks-e-process-13-e: #e73c3e;
@hks-e-process-14-e: #e84944;
@hks-e-process-15-e: #e41843;
@hks-e-process-16-e: #d5203c;
@hks-e-process-17-e: #d51d4d;
@hks-e-process-18-e: #be254e;
@hks-e-process-21-e: #f29db1;
@hks-e-process-22-e: #ea554c;
@hks-e-process-23-e: #e52e41;
@hks-e-process-24-e: #e7386f;
@hks-e-process-25-e: #e4016e;
@hks-e-process-26-e: #dc007d;
@hks-e-process-27-e: #d8007d;
@hks-e-process-28-e: #ce1866;
@hks-e-process-29-e: #b03b89;
@hks-e-process-31-e: #cc2883;
@hks-e-process-32-e: #dc3589;
@hks-e-process-33-e: #a73b8a;
@hks-e-process-34-e: #8b5096;
@hks-e-process-35-e: #5d569b;
@hks-e-process-36-e: #6a4f96;
@hks-e-process-37-e: #6b4890;
@hks-e-process-38-e: #315f83;
@hks-e-process-39-e: #008bca;
@hks-e-process-40-e: #009ac9;
@hks-e-process-41-e: #16598b;
@hks-e-process-42-e: #0069b0;
@hks-e-process-43-e: #0074ba;
@hks-e-process-44-e: #008ccf;
@hks-e-process-45-e: #0063aa;
@hks-e-process-46-e: #0097c7;
@hks-e-process-47-e: #00a0e1;
@hks-e-process-48-e: #009fce;
@hks-e-process-49-e: #009ac6;
@hks-e-process-50-e: #82d1e9;
@hks-e-process-51-e: #00a1b3;
@hks-e-process-52-e: #009f99;
@hks-e-process-53-e: #34b7a8;
@hks-e-process-54-e: #00a577;
@hks-e-process-55-e: #009876;
@hks-e-process-56-e: #00867d;
@hks-e-process-57-e: #00a46e;
@hks-e-process-58-e: #008344;
@hks-e-process-59-e: #009b99;
@hks-e-process-60-e: #66b231;
@hks-e-process-61-e: #008147;
@hks-e-process-62-e: #b1ad56;
@hks-e-process-63-e: #8cb326;
@hks-e-process-64-e: #76b845;
@hks-e-process-65-e: #87bd43;
@hks-e-process-66-e: #a5c631;
@hks-e-process-67-e: #b2cb2d;
@hks-e-process-68-e: #f6dc00;
@hks-e-process-69-e: #fae700;
@hks-e-process-71-e: #fec64a;
@hks-e-process-72-e: #fcba00;
@hks-e-process-73-e: #e7a50c;
@hks-e-process-74-e: #ca9217;
@hks-e-process-75-e: #bf9f1f;
@hks-e-process-76-e: #9f6823;
@hks-e-process-77-e: #9c5639;
@hks-e-process-78-e: #c56727;
@hks-e-process-81-e: #f07f21;
@hks-e-process-82-e: #dd6728;
@hks-e-process-83-e: #c45e28;
@hks-e-process-84-e: #a94628;
@hks-e-process-88-e: #2d2c2b;
@hks-e-process-89-e: #cfbfa1;
@hks-e-process-90-e: #5d534f;
@hks-e-process-91-e: #c0c8bc;
@hks-e-process-92-e: #9ba39a;
@hks-e-process-93-e: #75817d;
@hks-e-process-95-e: #b6b8ac;
@hks-e-process-96-e: #a8a899;
@hks-e-process-97-e: #686e5f;