// db-eisenglimmer
@db-eisenglimmer-db-301: #8f5c5a;
@db-eisenglimmer-db-310: #884542;
@db-eisenglimmer-db-501: #739193;
@db-eisenglimmer-db-502: #44636f;
@db-eisenglimmer-db-503: #3f5c6e;
@db-eisenglimmer-db-510: #3e6581;
@db-eisenglimmer-db-601: #7e8573;
@db-eisenglimmer-db-602: #6d8471;
@db-eisenglimmer-db-603: #627369;
@db-eisenglimmer-db-610: #51897d;
@db-eisenglimmer-db-701: #a5a4a2;
@db-eisenglimmer-db-702: #92908e;
@db-eisenglimmer-db-703: #5c5c5c;
@db-eisenglimmer-db-704: #a4a5a1;