// baumit-granolan
@baumit-granolan-0a9: #d9dddc;
@baumit-granolan-0k9: #ddded2;
@baumit-granolan-0m9: #ece5d2;
@baumit-granolan-0r9: #e0d2cb;
@baumit-granolan-0u9: #e2dcd7;
@baumit-granolan-0w7: #e2e1da;
@baumit-granolan-0w9: #e6e4dc;
@baumit-granolan-1a1: #677da5;
@baumit-granolan-1a3: #8396b7;
@baumit-granolan-1a5: #a7b5cd;
@baumit-granolan-1a7: #c1ccda;
@baumit-granolan-1a9: #d2d7da;
@baumit-granolan-1c1: #b87b4f;
@baumit-granolan-1c3: #ce9769;
@baumit-granolan-1c5: #dcac81;
@baumit-granolan-1c7: #e1c2a1;
@baumit-granolan-1c9: #e8d4bd;
@baumit-granolan-1f1: #79565a;
@baumit-granolan-1f3: #947378;
@baumit-granolan-1f5: #b39699;
@baumit-granolan-1f7: #c6b1b3;
@baumit-granolan-1f9: #d4c6c6;
@baumit-granolan-1g1: #e5c10f;
@baumit-granolan-1g3: #ecd34d;
@baumit-granolan-1g5: #ebdf7f;
@baumit-granolan-1g7: #e9e5a9;
@baumit-granolan-1g9: #ebe8c4;
@baumit-granolan-1j1: #66a594;
@baumit-granolan-1j3: #89bcad;
@baumit-granolan-1j5: #b2cfc7;
@baumit-granolan-1j7: #c9dbd3;
@baumit-granolan-1j9: #d6dfd8;
@baumit-granolan-1k1: #6c8768;
@baumit-granolan-1k3: #879f82;
@baumit-granolan-1k5: #a5b79f;
@baumit-granolan-1k7: #c1cdbc;
@baumit-granolan-1k9: #d2d7cc;
@baumit-granolan-1m1: #d5a339;
@baumit-granolan-1m3: #e2b85a;
@baumit-granolan-1m5: #eace82;
@baumit-granolan-1m7: #e9daa7;
@baumit-granolan-1m9: #e9e0bd;
@baumit-granolan-1o1: #84bb55;
@baumit-granolan-1o3: #a3cb77;
@baumit-granolan-1o5: #bed895;
@baumit-granolan-1o7: #d0dcb2;
@baumit-granolan-1o9: #dce1c7;
@baumit-granolan-1r1: #dc7043;
@baumit-granolan-1r3: #e79163;
@baumit-granolan-1r5: #e8aa82;
@baumit-granolan-1r7: #ebc3a3;
@baumit-granolan-1r9: #ebd7c1;
@baumit-granolan-1s1: #626059;
@baumit-granolan-1s3: #7a786f;
@baumit-granolan-1s5: #9b988e;
@baumit-granolan-1s7: #b7b4ab;
@baumit-granolan-1s9: #cfcdc5;
@baumit-granolan-1t1: #59b2c5;
@baumit-granolan-1t3: #7ebfcd;
@baumit-granolan-1t5: #a9d0d6;
@baumit-granolan-1t7: #c1d7d9;
@baumit-granolan-1t9: #cfdad7;
@baumit-granolan-1u1: #8b6050;
@baumit-granolan-1u3: #a47967;
@baumit-granolan-1u5: #bd9989;
@baumit-granolan-1u7: #d3b7a8;
@baumit-granolan-1u9: #dfcdc2;
@baumit-granolan-1v1: #755fa1;
@baumit-granolan-1v3: #957fbc;
@baumit-granolan-1v5: #b5a3d2;
@baumit-granolan-1v7: #c7b9d7;
@baumit-granolan-1v9: #d8d1dc;
@baumit-granolan-1z1: #8c5c53;
@baumit-granolan-1z3: #a6766b;
@baumit-granolan-1z5: #bc9388;
@baumit-granolan-1z7: #ccaea4;
@baumit-granolan-1z9: #decac1;
@baumit-granolan-2a1: #627c96;
@baumit-granolan-2a3: #7a91a6;
@baumit-granolan-2a5: #9cb0c0;
@baumit-granolan-2a7: #b9c5ce;
@baumit-granolan-2a9: #ccd3d6;
@baumit-granolan-2f1: #855c67;
@baumit-granolan-2f3: #a67b88;
@baumit-granolan-2f5: #c09ba4;
@baumit-granolan-2f7: #d7bbc0;
@baumit-granolan-2f9: #dbcaca;
@baumit-granolan-2g1: #e2b528;
@baumit-granolan-2g3: #e5c44f;
@baumit-granolan-2g5: #e9d67d;
@baumit-granolan-2g7: #e8dfa1;
@baumit-granolan-2g9: #e9e6c1;
@baumit-granolan-2j1: #6a9980;
@baumit-granolan-2j3: #8ab29e;
@baumit-granolan-2j5: #adcaba;
@baumit-granolan-2j7: #c1d4c9;
@baumit-granolan-2j9: #d3ddd5;
@baumit-granolan-2k1: #718961;
@baumit-granolan-2k3: #8ba27a;
@baumit-granolan-2k5: #afc19e;
@baumit-granolan-2k7: #c7d1b8;
@baumit-granolan-2k9: #d3d9c8;
@baumit-granolan-2m1: #c79447;
@baumit-granolan-2m3: #d9ac61;
@baumit-granolan-2m5: #e2bf80;
@baumit-granolan-2m7: #ecd3a4;
@baumit-granolan-2m9: #efe1c3;
@baumit-granolan-2o1: #adbc35;
@baumit-granolan-2o3: #c8cc56;
@baumit-granolan-2o5: #d6d883;
@baumit-granolan-2o7: #dfdfa9;
@baumit-granolan-2o9: #e2e2c2;
@baumit-granolan-2r1: #d75c48;
@baumit-granolan-2r3: #e37e66;
@baumit-granolan-2r5: #eb9d88;
@baumit-granolan-2r7: #e9b5a7;
@baumit-granolan-2r9: #ebcabe;
@baumit-granolan-2s1: #5b5b59;
@baumit-granolan-2s3: #777774;
@baumit-granolan-2s5: #969591;
@baumit-granolan-2s7: #b2b2af;
@baumit-granolan-2s9: #cdcdca;
@baumit-granolan-2t1: #51bbc0;
@baumit-granolan-2t3: #85cacf;
@baumit-granolan-2t5: #a7d3d4;
@baumit-granolan-2t7: #c1d8d4;
@baumit-granolan-2t9: #d9e4de;
@baumit-granolan-2u1: #63504c;
@baumit-granolan-2u3: #7d6763;
@baumit-granolan-2u5: #9b857f;
@baumit-granolan-2u7: #b9a69f;
@baumit-granolan-2u9: #ccbfbc;
@baumit-granolan-2v1: #727390;
@baumit-granolan-2v3: #9192ab;
@baumit-granolan-2v5: #b0b2c7;
@baumit-granolan-2v7: #c5c5d1;
@baumit-granolan-2v9: #d4d5d9;
@baumit-granolan-2z1: #965748;
@baumit-granolan-2z3: #aa6b5b;
@baumit-granolan-2z5: #c58b7a;
@baumit-granolan-2z7: #d7a99a;
@baumit-granolan-2z9: #e2c3b7;
@baumit-granolan-3a1: #59859e;
@baumit-granolan-3a3: #7ba2b9;
@baumit-granolan-3a5: #a1bfd0;
@baumit-granolan-3a7: #bacdd6;
@baumit-granolan-3a9: #d0dadb;
@baumit-granolan-3k1: #758f58;
@baumit-granolan-3k3: #93aa72;
@baumit-granolan-3k5: #b1c291;
@baumit-granolan-3k7: #c7d1af;
@baumit-granolan-3k9: #d3d7c2;
@baumit-granolan-3m1: #c78949;
@baumit-granolan-3m3: #dca260;
@baumit-granolan-3m5: #e3b881;
@baumit-granolan-3m7: #eed1a9;
@baumit-granolan-3m9: #ecdcbf;
@baumit-granolan-3r1: #d6564b;
@baumit-granolan-3r3: #e5726b;
@baumit-granolan-3r5: #e68e8b;
@baumit-granolan-3r7: #e8abab;
@baumit-granolan-3r9: #e9c3c3;
@baumit-granolan-3s1: #5f5a5d;
@baumit-granolan-3s3: #777275;
@baumit-granolan-3s5: #8e8b8c;
@baumit-granolan-3s7: #b3b0b0;
@baumit-granolan-3s9: #c6c6c6;
@baumit-granolan-3u1: #65504e;
@baumit-granolan-3u3: #7c6664;
@baumit-granolan-3u5: #9c8885;
@baumit-granolan-3u7: #baa9a6;
@baumit-granolan-3u9: #cdc1be;
@baumit-granolan-3z1: #8a4e47;
@baumit-granolan-3z3: #a2655f;
@baumit-granolan-3z5: #ba817a;
@baumit-granolan-3z7: #d2a8a1;
@baumit-granolan-3z9: #dbbcb6;
@baumit-granolan-4a1: #5e91c6;
@baumit-granolan-4a3: #78aad8;
@baumit-granolan-4a5: #9bbfda;
@baumit-granolan-4a7: #bed2df;
@baumit-granolan-4a9: #d0dee3;
@baumit-granolan-4m1: #c7824d;
@baumit-granolan-4m3: #d89b63;
@baumit-granolan-4m5: #e7b687;
@baumit-granolan-4m7: #edcdab;
@baumit-granolan-4m9: #ecdac2;
@baumit-granolan-4r1: #a95a58;
@baumit-granolan-4r3: #c57273;
@baumit-granolan-4r5: #da9091;
@baumit-granolan-4r7: #deacae;
@baumit-granolan-4r9: #e5c4c5;
@baumit-granolan-4s1: #58595c;
@baumit-granolan-4s3: #717276;
@baumit-granolan-4s5: #919295;
@baumit-granolan-4s7: #b3b3b4;
@baumit-granolan-4s9: #c8c8c7;
@baumit-granolan-4u1: #5b4f4c;
@baumit-granolan-4u3: #736461;
@baumit-granolan-4u5: #91827e;
@baumit-granolan-4u7: #afa29d;
@baumit-granolan-4u9: #c4bcb7;
@baumit-granolan-4z1: #8e4f46;
@baumit-granolan-4z3: #a25f53;
@baumit-granolan-4z5: #bd8075;
@baumit-granolan-4z7: #d2a299;
@baumit-granolan-4z9: #ddbcb4;
@baumit-granolan-5a1: #53a0c6;
@baumit-granolan-5a3: #7cb5d2;
@baumit-granolan-5a5: #a3cadb;
@baumit-granolan-5a7: #c0d7dd;
@baumit-granolan-5a9: #cfd9d9;
@baumit-granolan-5r1: #815050;
@baumit-granolan-5r3: #9a6869;
@baumit-granolan-5r5: #b28887;
@baumit-granolan-5r7: #cdacab;
@baumit-granolan-5r9: #d9c2be;
@baumit-granolan-5s1: #4e4f53;
@baumit-granolan-5s3: #66676b;
@baumit-granolan-5s5: #858688;
@baumit-granolan-5s7: #a7a8a9;
@baumit-granolan-5s9: #c1c2c2;
@baumit-granolan-5u1: #67594f;
@baumit-granolan-5u3: #807064;
@baumit-granolan-5u5: #9f8f82;
@baumit-granolan-5u7: #bbaea2;
@baumit-granolan-5u9: #cec5bb;
@baumit-granolan-6s1: #57606a;
@baumit-granolan-6s3: #747e87;
@baumit-granolan-6s5: #949ca3;
@baumit-granolan-6s7: #b5bbc0;
@baumit-granolan-6s9: #bcc1c4;