// hexis-ecotacplus-e3000
@hexis-ecotacplus-e3000-e-3115b: #e9c700;
@hexis-ecotacplus-e3000-e-3109b: #f6bb00;
@hexis-ecotacplus-e3000-e-3123b: #eca400;
@hexis-ecotacplus-e3000-e-3151b: #e2640f;
@hexis-ecotacplus-e3000-e-3179b: #d03b1b;
@hexis-ecotacplus-e3000-e-3485b: #c22b16;
@hexis-ecotacplus-e3000-e-3186b: #a9101e;
@hexis-ecotacplus-e3000-e-3505b: #601c29;
@hexis-ecotacplus-e3000-e-3220b: #b62a64;
@hexis-ecotacplus-e3000-e-3527b: #5a3a89;
@hexis-ecotacplus-e3000-e-3281b: #22365e;
@hexis-ecotacplus-e3000-e-3280b: #193777;
@hexis-ecotacplus-e3000-e-3eleb: #2e44aa;
@hexis-ecotacplus-e3000-e-3286b: #18529d;
@hexis-ecotacplus-e3000-e-3294b: #004d86;
@hexis-ecotacplus-e3000-e-3293b: #004f8d;
@hexis-ecotacplus-e3000-e-3300b: #006dac;
@hexis-ecotacplus-e3000-e-3prob: #0080b2;
@hexis-ecotacplus-e3000-e-3298b: #0092c1;
@hexis-ecotacplus-e3000-e-3297b: #63b8d8;
@hexis-ecotacplus-e3000-e-3320b: #009392;
@hexis-ecotacplus-e3000-e-3376b: #77ae00;
@hexis-ecotacplus-e3000-e-3360b: #53a537;
@hexis-ecotacplus-e3000-e-3362b: #198b31;
@hexis-ecotacplus-e3000-e-3340b: #007b48;
@hexis-ecotacplus-e3000-e-3348b: #00713c;
@hexis-ecotacplus-e3000-e-3349b: #005f25;
@hexis-ecotacplus-e3000-e-3336b: #004d2a;
@hexis-ecotacplus-e3000-e-3357b: #063f24;
@hexis-ecotacplus-e3000-e-3155b: #f1db9b;
@hexis-ecotacplus-e3000-e-3461b: #e1c495;
@hexis-ecotacplus-e3000-e-3476b: #4d3326;
@hexis-ecotacplus-e3000-e-3889b: #0f1013;
@hexis-ecotacplus-e3000-e-3444b: #6c6f6a;
@hexis-ecotacplus-e3000-e-3430b: #908f8d;
@hexis-ecotacplus-e3000-e-3877b: #979899;
@hexis-ecotacplus-e3000-e-3871b: #9f8648;
@hexis-ecotacplus-e3000-e-3899b: #e0dfe2;
@hexis-ecotacplus-e3000-e-3829b: #edeef1;
@hexis-ecotacplus-e3000-e-3115m: #ecca21;
@hexis-ecotacplus-e3000-e-3109m: #f9c023;
@hexis-ecotacplus-e3000-e-3123m: #eba700;
@hexis-ecotacplus-e3000-e-3151m: #e06a2e;
@hexis-ecotacplus-e3000-e-3179m: #d54b32;
@hexis-ecotacplus-e3000-e-3485m: #c2392d;
@hexis-ecotacplus-e3000-e-3186m: #b33a3e;
@hexis-ecotacplus-e3000-e-3505m: #6d343d;
@hexis-ecotacplus-e3000-e-3220m: #b8436f;
@hexis-ecotacplus-e3000-e-3527m: #5e418b;
@hexis-ecotacplus-e3000-e-3281m: #334062;
@hexis-ecotacplus-e3000-e-3280m: #2b3f78;
@hexis-ecotacplus-e3000-e-3elem: #384baa;
@hexis-ecotacplus-e3000-e-3286m: #1f569e;
@hexis-ecotacplus-e3000-e-3294m: #00558b;
@hexis-ecotacplus-e3000-e-3293m: #0d5a92;
@hexis-ecotacplus-e3000-e-3300m: #0070ac;
@hexis-ecotacplus-e3000-e-3prom: #0088b7;
@hexis-ecotacplus-e3000-e-3298m: #0096c3;
@hexis-ecotacplus-e3000-e-3297m: #6dbddc;
@hexis-ecotacplus-e3000-e-3320m: #009797;
@hexis-ecotacplus-e3000-e-3376m: #7bb118;
@hexis-ecotacplus-e3000-e-3360m: #5aa745;
@hexis-ecotacplus-e3000-e-3362m: #2d903f;
@hexis-ecotacplus-e3000-e-3340m: #008257;
@hexis-ecotacplus-e3000-e-3348m: #007542;
@hexis-ecotacplus-e3000-e-3349m: #00662e;
@hexis-ecotacplus-e3000-e-3336m: #005235;
@hexis-ecotacplus-e3000-e-3357m: #284e3c;
@hexis-ecotacplus-e3000-e-3461m: #e1c597;
@hexis-ecotacplus-e3000-e-3476m: #523c31;
@hexis-ecotacplus-e3000-e-3889m: #3b3b3c;
@hexis-ecotacplus-e3000-e-3444m: #6c706c;
@hexis-ecotacplus-e3000-e-3430m: #929290;
@hexis-ecotacplus-e3000-e-3829m: #eaedf0;