// filmnormex
@filmnormex-filmnormex-d-cum-054-schwefelgelb: #faf061;
@filmnormex-filmnormex-d-cum-04-gelb: #ffc82a;
@filmnormex-filmnormex-d-cum-044-dunkelgelb: #ffc13b;
@filmnormex-filmnormex-d-cum-024-goldgelb: #f19c31;
@filmnormex-filmnormex-d-cum-038-orangebraun: #e29956;
@filmnormex-filmnormex-d-cum-028-hellorange: #ff813d;
@filmnormex-filmnormex-d-cum-08-orange: #ec6e46;
@filmnormex-filmnormex-d-cum-041-zinnoberrot: #db543e;
@filmnormex-filmnormex-d-cum-01-rot: #c34543;
@filmnormex-filmnormex-d-cum-051-glutrot: #b34246;
@filmnormex-filmnormex-d-cum-010-dunkelrot: #a04342;
@filmnormex-filmnormex-d-cum-020-bordeaux: #754452;
@filmnormex-filmnormex-d-cum-048-hellrosa: #fdc1d2;
@filmnormex-filmnormex-d-cum-055-erikarot: #d57da2;
@filmnormex-filmnormex-d-cum-018-flieder: #b74d7d;
@filmnormex-filmnormex-d-cum-058-blaulila: #9b91bb;
@filmnormex-filmnormex-d-cum-059-violett: #835080;
@filmnormex-filmnormex-d-cum-026-gelbgruen: #d0e35a;
@filmnormex-filmnormex-d-cum-06-hellgruen: #76bb3d;
@filmnormex-filmnormex-d-cum-042-brillantgruen: #00b25b;
@filmnormex-filmnormex-d-cum-02-gruen: #00996c;
@filmnormex-filmnormex-d-cum-046-tuerkisgruen: #0f7f63;
@filmnormex-filmnormex-d-cum-022-grasgruen: #618452;
@filmnormex-filmnormex-d-cum-052-tuerkisgruen: #448871;
@filmnormex-filmnormex-d-cum-036-laubgruen: #286f4c;
@filmnormex-filmnormex-d-cum-011-dunkelgruen: #3d5c4e;
@filmnormex-filmnormex-d-cum-07-hellblau: #4bb1d3;
@filmnormex-filmnormex-d-cum-050-prozessblau: #1fade1;
@filmnormex-filmnormex-d-cum-056-tuerkisblau: #009fa8;
@filmnormex-filmnormex-d-cum-027-himmelblau: #408aba;
@filmnormex-filmnormex-d-cum-03-blau: #0976b7;
@filmnormex-filmnormex-d-cum-053-enzianblau: #3a648a;
@filmnormex-filmnormex-d-cum-057-nachtblau: #575674;
@filmnormex-filmnormex-d-cum-012-dunkelblau: #394d6f;
@filmnormex-filmnormex-d-cum-032-elfenbein: #f3e2c3;
@filmnormex-filmnormex-d-cum-045-dunkelbeige: #d3c1ac;
@filmnormex-filmnormex-d-cum-025-beige: #e7c8a8;
@filmnormex-filmnormex-d-cum-031-hellbraun: #976a4e;
@filmnormex-filmnormex-d-cum-014-braun: #6f5448;
@filmnormex-filmnormex-d-cum-043-nussbraun: #69534b;
@filmnormex-filmnormex-d-cum-030-mahagoni: #644c45;
@filmnormex-filmnormex-d-cum-040-schokobraun: #514846;
@filmnormex-filmnormex-d-cum-016-weiss: #fcfcfa;
@filmnormex-filmnormex-d-cum-049-hellgrau: #cbccc5;
@filmnormex-filmnormex-d-cum-09-grau: #9fa19b;
@filmnormex-filmnormex-d-cum-019-dunkelgrau: #737677;
@filmnormex-filmnormex-d-cum-015-schwarz: #3d3d3e;
@filmnormex-filmnormex-d-cx-4: #e0ca39;
@filmnormex-filmnormex-d-cx-34: #eab300;
@filmnormex-filmnormex-d-cx-17: #eea300;
@filmnormex-filmnormex-d-cx-8: #e16b00;
@filmnormex-filmnormex-d-cx-28: #d94e00;
@filmnormex-filmnormex-d-cx-13: #df6465;
@filmnormex-filmnormex-d-cx-1: #d42600;
@filmnormex-filmnormex-d-cx-41: #c11800;
@filmnormex-filmnormex-d-cx-31: #a00216;
@filmnormex-filmnormex-d-cx-10: #6e0011;
@filmnormex-filmnormex-d-cx-18: #cf2598;
@filmnormex-filmnormex-d-cx-39: #bb276a;
@filmnormex-filmnormex-d-cx-5: #b65e9b;
@filmnormex-filmnormex-d-cx-38: #971d6b;
@filmnormex-filmnormex-d-cx-6: #00bc79;
@filmnormex-filmnormex-d-cx-26: #008000;
@filmnormex-filmnormex-d-cx-16: #008a32;
@filmnormex-filmnormex-d-cx-11: #003c26;
@filmnormex-filmnormex-d-cx-2: #00baa5;
@filmnormex-filmnormex-d-cx-7: #41c0e3;
@filmnormex-filmnormex-d-cx-3: #0091b6;
@filmnormex-filmnormex-d-cx-23: #0069b7;
@filmnormex-filmnormex-d-cx-12: #004ab5;
@filmnormex-filmnormex-d-cx-33: #1e2595;
@filmnormex-filmnormex-d-cx-14: #923d00;
@filmnormex-filmnormex-d-cx-9: #b1baba;
@filmnormex-filmnormex-d-cx-19: #6b6b6e;
@filmnormex-filmnormex-d-mx-300: #3a3c3e;
@filmnormex-filmnormex-d-mx-302: #454d36;
@filmnormex-filmnormex-d-mx-303: #423c33;
@filmnormex-filmnormex-d-mxc-301: #aeb1b3;
@filmnormex-filmnormex-d-mxc-304: #978965;
@filmnormex-filmnormex-d-mxc-325: #b48678;
@filmnormex-filmnormex-d-mxc-324: #a57824;
@filmnormex-filmnormex-d-mxc-328: #9f4c3c;
@filmnormex-filmnormex-d-mxc-321: #ab3e3a;
@filmnormex-filmnormex-d-mxc-326: #6c9434;
@filmnormex-filmnormex-d-mxc-327: #789b9c;
@filmnormex-filmnormex-d-mxc-330: #5f4642;
@filmnormex-filmnormex-d-lx-54: #f7fb00;
@filmnormex-filmnormex-d-lx-58: #ff8f00;
@filmnormex-filmnormex-d-lx-51: #ff0b00;
@filmnormex-filmnormex-d-lx-50: #ff3cbe;
@filmnormex-filmnormex-d-lx-52: #00b800;
@filmnormex-filmnormex-d-pm-201-perlmutt: #b9b9b8;
@filmnormex-filmnormex-txb-24: #f2c13f;
@filmnormex-filmnormex-txb-28: #e0573d;
@filmnormex-filmnormex-txb-21: #b23337;
@filmnormex-filmnormex-txb-22: #35755c;
@filmnormex-filmnormex-txb-27: #5f91ac;
@filmnormex-filmnormex-txb-316: #eae5e0;
@filmnormex-filmnormex-txb-29: #c0c1bb;
@filmnormex-filmnormex-txb-25: #37393a;
@filmnormex-filmnormex-txb-248: #d5bda0;
@filmnormex-filmnormex-d-cxm-24: #ef9910;
@filmnormex-filmnormex-d-cxm-34: #ec870d;
@filmnormex-filmnormex-d-cxm-25: #e4a996;
@filmnormex-filmnormex-d-cxm-28: #d04a39;
@filmnormex-filmnormex-d-cxm-21: #bd413d;
@filmnormex-filmnormex-d-cxm-39: #b94183;
@filmnormex-filmnormex-d-cxm-38: #96327f;
@filmnormex-filmnormex-d-cxm-35: #694593;
@filmnormex-filmnormex-d-cxm-20: #4e3378;
@filmnormex-filmnormex-d-cxm-37: #53395e;
@filmnormex-filmnormex-d-cxm-26: #7eb01e;
@filmnormex-filmnormex-d-cxm-36: #589b29;
@filmnormex-filmnormex-d-cxm-22: #00a378;
@filmnormex-filmnormex-d-cxm-27: #8cc5cb;
@filmnormex-filmnormex-d-cxm-23: #007eba;
@filmnormex-filmnormex-d-cxm-33: #3d3691;
@filmnormex-filmnormex-d-cxm-30: #67403b;
@filmnormex-filmnormex-d-cxm-29: #868982;
@filmnormex-filmnormex-mf: #630a16;
@filmnormex-filmnormex-tf: #455e54;