// gori-compact-buntlack
@gori-compact-buntlack-9016-wei-sg-hg: #f9f8ef;
@gori-compact-buntlack-9001-cremewei-sg-hg: #f2ead7;
@gori-compact-buntlack-3000-feuerrot-sg-hg: #a33433;
@gori-compact-buntlack-1011-braunbeige-sg-hg: #af8654;
@gori-compact-buntlack-8001-ockerbraun-sg-hg: #956531;
@gori-compact-buntlack-7001-silbergrau-sg-hg: #90999d;
@gori-compact-buntlack-8011-nussbraun-sg-hg: #583e31;
@gori-compact-buntlack-5010-enzianblau-sg-hg: #004c7d;
@gori-compact-buntlack-7035-lichtgrau-sg-hg: #d0d0cc;
@gori-compact-buntlack-7016-anthrazitgrau-sg-hg: #414649;
@gori-compact-buntlack-6002-laubgruen-sg-hg: #346239;
@gori-compact-buntlack-6005-moosgruen-sg-hg: #164235;
@gori-compact-buntlack-9005-tiefschwarz-sg-hg: #1d1e1f;
@gori-compact-buntlack-1023-verkehrsgelb-sg-hg: #f8c000;
@gori-compact-buntlack-9010-reinweiss: #f3f1e5;