// hartmann-classen
@hartmann-classen-hartmann-classen-026-013-wool-line-daunen: #f8f3fd;
@hartmann-classen-hartmann-classen-056-000-cranes-crest-weiss-gl: #fdfaf8;
@hartmann-classen-hartmann-classen-057-000-cranes-crest-weiss-gl: #fefbf9;
@hartmann-classen-hartmann-classen-031-009-teton-alpina-alpina: #fdfaf5;
@hartmann-classen-hartmann-classen-033-011-gainsborough-marmor: #f0edeb;
@hartmann-classen-hartmann-classen-033-718-gainsborough-silber: #e9e5df;
@hartmann-classen-hartmann-classen-057-002-cranes-crest-elfgl: #fdf7e6;
@hartmann-classen-hartmann-classen-055-802-cranes-crest-elfger: #f9f4e7;
@hartmann-classen-hartmann-classen-033-012-gainsborough-naturw: #f3eddd;
@hartmann-classen-hartmann-classen-033-002-gainsborough-vanilla: #f2e7d1;
@hartmann-classen-hartmann-classen-026-447-wool-line-chiffon: #faeed0;
@hartmann-classen-hartmann-classen-031-010-teton-champagner: #fdf5e2;
@hartmann-classen-hartmann-classen-031-002-teton-elfenbein: #fcefd0;
@hartmann-classen-hartmann-classen-847-446-papago-vanille: #f4e0b4;
@hartmann-classen-hartmann-classen-027-448-wool-line-lambswool: #f9e4b0;
@hartmann-classen-hartmann-classen-031-507-teton-sahara: #f7e4c2;
@hartmann-classen-hartmann-classen-033-444-gainsborough-weizen: #eedebc;
@hartmann-classen-hartmann-classen-031-517-teton-karamel: #e9d6b8;
@hartmann-classen-hartmann-classen-456-400-perfector-gelb: #f8ed97;
@hartmann-classen-hartmann-classen-847-416-papago-mais: #f7ba2d;
@hartmann-classen-hartmann-classen-847-220-papago-oliv: #cab25d;
@hartmann-classen-hartmann-classen-847-505-papago-tabac: #d6a875;
@hartmann-classen-hartmann-classen-847-409-papago-chamois: #fcba82;
@hartmann-classen-hartmann-classen-847-320-papago-lachs: #fea262;
@hartmann-classen-hartmann-classen-456-306-perfector-orange: #ef7437;
@hartmann-classen-hartmann-classen-847-333-papago-orangerot: #e65a3b;
@hartmann-classen-hartmann-classen-847-315-papago-purpurrot: #bc4852;
@hartmann-classen-hartmann-classen-028-332-wool-line-purpur: #b63d4d;
@hartmann-classen-hartmann-classen-847-435-papago-apricot: #f8caae;
@hartmann-classen-hartmann-classen-456-352-perfector-rosa: #fdcccf;
@hartmann-classen-hartmann-classen-847-331-papago-flieder: #d6b1cd;
@hartmann-classen-hartmann-classen-032-331-teton-flieder: #927d80;
@hartmann-classen-hartmann-classen-032-332-teton-purpur: #735461;
@hartmann-classen-hartmann-classen-028-335-wool-line-brokat: #7a515a;
@hartmann-classen-hartmann-classen-034-334-gainsborough-barot: #7a595a;
@hartmann-classen-hartmann-classen-033-101-gainsborough-glblau: #ced0cf;
@hartmann-classen-hartmann-classen-847-124-papago-pastellblau: #c6e0e2;
@hartmann-classen-hartmann-classen-456-100-perfector-blau: #a6d3dd;
@hartmann-classen-hartmann-classen-025-135-wool-line-jersey: #aec8d1;
@hartmann-classen-hartmann-classen-847-131-papago-rauchblau: #a2b1c0;
@hartmann-classen-hartmann-classen-027-134-wool-line-velvet: #9da5ba;
@hartmann-classen-hartmann-classen-847-108-papago-azurblau: #58bfd8;
@hartmann-classen-hartmann-classen-456-111-perfector-koenigsblau: #5fbfdb;
@hartmann-classen-hartmann-classen-847-125-papago-meerblau: #5e94c3;
@hartmann-classen-hartmann-classen-034-132-gainsborough-marine: #515c70;
@hartmann-classen-hartmann-classen-032-115-teton-empireblau: #475160;
@hartmann-classen-hartmann-classen-032-129-teton-schwarzblau: #414651;
@hartmann-classen-hartmann-classen-027-246-wool-line-alpaka: #e3f0ce;
@hartmann-classen-hartmann-classen-847-241-papago-mintgruen: #d1e7c6;
@hartmann-classen-hartmann-classen-456-200-perfector-gruen: #c9ebb8;
@hartmann-classen-hartmann-classen-847-231-papago-tuerkis: #8bd9b8;
@hartmann-classen-hartmann-classen-847-243-papago-petrol: #3fbd9f;
@hartmann-classen-hartmann-classen-847-204-papago-lindgruen: #a4c2b8;
@hartmann-classen-hartmann-classen-847-242-papago-froschgruen: #88c24c;
@hartmann-classen-hartmann-classen-027-219-wool-line-moos: #9bac76;
@hartmann-classen-hartmann-classen-028-244-wool-line-loden: #667362;
@hartmann-classen-hartmann-classen-034-209-gainsborough-tannengr: #455651;
@hartmann-classen-hartmann-classen-034-520-gainsborough-erde: #716456;
@hartmann-classen-hartmann-classen-033-422-gainsborough-beige: #b8a995;
@hartmann-classen-hartmann-classen-027-521-wool-line-kaschmir: #bda47a;
@hartmann-classen-hartmann-classen-847-519-papago-kakao: #c69482;
@hartmann-classen-hartmann-classen-028-304-wool-line-rosenholz: #b37c67;
@hartmann-classen-hartmann-classen-031-717-teton-nebelgrau: #dcd6c8;
@hartmann-classen-hartmann-classen-031-701-teton-rauchgrau: #d5ccc1;
@hartmann-classen-hartmann-classen-033-518-gainsborough-granit: #c9bcaf;
@hartmann-classen-hartmann-classen-034-721-gainsborough-asphgr: #b5aea1;
@hartmann-classen-hartmann-classen-032-718-teton-steingrau: #bfb8b2;
@hartmann-classen-hartmann-classen-847-702-papago-silbergrau: #d1cfc8;
@hartmann-classen-hartmann-classen-027-722-wool-line-mohair: #c9ccc5;
@hartmann-classen-hartmann-classen-032-127-teton-basaltgrau: #a5a5a3;
@hartmann-classen-hartmann-classen-032-128-teton-anthrazit: #91989b;
@hartmann-classen-hartmann-classen-027-724-wool-line-flanell: #aaaca3;
@hartmann-classen-hartmann-classen-034-703-gainsborough-shetlgr: #a5a09a;
@hartmann-classen-hartmann-classen-847-719-papago-diamantschwarz: #3e3d3c;
@hartmann-classen-hartmann-classen-028-725-wool-line-tiefsamt: #454344;
@hartmann-classen-hartmann-classen-034-700-gainsborough-schwarz: #3b3c40;