// threem-scotchlite-serie-580-680
@threem-scotchlite-serie-580-680-580-680-10: #b1b5b4;
@threem-scotchlite-serie-580-680-580-680-81: #ab9c00;
@threem-scotchlite-serie-580-680-580-680-71: #be8300;
@threem-scotchlite-serie-580-680-580-680-64: #a6793b;
@threem-scotchlite-serie-580-680-580-680-14: #d15500;
@threem-scotchlite-serie-580-680-580-680-72: #941208;
@threem-scotchlite-serie-580-680-580-680-82: #87030a;
@threem-scotchlite-serie-580-680-580-680-76: #00599a;
@threem-scotchlite-serie-580-680-580-680-75: #00326d;
@threem-scotchlite-serie-580-680-580-680-77: #00543a;
@threem-scotchlite-serie-580-680-580-680-85: #1c1c1e;