// brillux-kunstharzputz
@brillux-kunstharzputz-1201: #ce9d40;
@brillux-kunstharzputz-1221: #e9be6a;
@brillux-kunstharzputz-1232: #e1c98a;
@brillux-kunstharzputz-1241: #efd295;
@brillux-kunstharzputz-1252: #e6d5a5;
@brillux-kunstharzputz-1271: #ebe1be;
@brillux-kunstharzputz-3200: #b3784f;
@brillux-kunstharzputz-3230: #e0aa7c;
@brillux-kunstharzputz-3260: #e7caa8;
@brillux-kunstharzputz-6200: #94874f;
@brillux-kunstharzputz-6202: #948564;
@brillux-kunstharzputz-6220: #b7aa72;
@brillux-kunstharzputz-6232: #c4b596;
@brillux-kunstharzputz-6250: #ded4af;
@brillux-kunstharzputz-6262: #ded6bf;
@brillux-kunstharzputz-6270: #e7e1c4;
@brillux-kunstharzputz-7250: #bebeb4;
@brillux-kunstharzputz-7270: #d8d7cb;
@brillux-kunstharzputz-8201: #796b5d;
@brillux-kunstharzputz-8202: #9d8466;
@brillux-kunstharzputz-8204: #55453f;
@brillux-kunstharzputz-8221: #a29581;
@brillux-kunstharzputz-8222: #baa282;
@brillux-kunstharzputz-8251: #d0c4b1;
@brillux-kunstharzputz-8252: #d8c8ac;
@brillux-kunstharzputz-8271: #ded7c7;
@brillux-kunstharzputz-8272: #e7deca;