// zero-fassaden-col-277
@zero-fassaden-col-277-zero-fassaden-renotop-housepaint-gold: #b0a063;
@zero-fassaden-col-277-zero-fassaden-renotop-housepaint-silver: #a5a8ac;
@zero-fassaden-col-277-zero-fassaden-reno-top-housepaint-copper: #ab8c67;
@zero-fassaden-col-277-zero-fassaden-g200-altweiss: #ede8dd;
@zero-fassaden-col-277-zero-fassaden-j200-altweiss: #f3ecdf;
@zero-fassaden-col-277-zero-fassaden-e001: #e4eae7;
@zero-fassaden-col-277-zero-fassaden-d001: #cddfe3;
@zero-fassaden-col-277-zero-fassaden-c001: #b3cbd5;
@zero-fassaden-col-277-zero-fassaden-b001: #9ab9c8;
@zero-fassaden-col-277-zero-fassaden-a001: #6c95ac;
@zero-fassaden-col-277-zero-fassaden-e002: #e0e3dc;
@zero-fassaden-col-277-zero-fassaden-d002: #dae1de;
@zero-fassaden-col-277-zero-fassaden-c002: #d5dedd;
@zero-fassaden-col-277-zero-fassaden-b002: #c4d3d7;
@zero-fassaden-col-277-zero-fassaden-a002: #b5c7cf;
@zero-fassaden-col-277-zero-fassaden-e003: #edefe9;
@zero-fassaden-col-277-zero-fassaden-d003: #dfe4e3;
@zero-fassaden-col-277-zero-fassaden-c003: #c7d4da;
@zero-fassaden-col-277-zero-fassaden-b003: #acbfcd;
@zero-fassaden-col-277-zero-fassaden-a003: #92a7b9;
@zero-fassaden-col-277-zero-fassaden-e004: #f0efe9;
@zero-fassaden-col-277-zero-fassaden-d004: #dfe1de;
@zero-fassaden-col-277-zero-fassaden-c004: #c9cdcf;
@zero-fassaden-col-277-zero-fassaden-b004: #acb0b9;
@zero-fassaden-col-277-zero-fassaden-a004: #969aa4;
@zero-fassaden-col-277-zero-fassaden-e005: #d9ddd9;
@zero-fassaden-col-277-zero-fassaden-d005: #cdd3d1;
@zero-fassaden-col-277-zero-fassaden-c005: #b9c5c9;
@zero-fassaden-col-277-zero-fassaden-b005: #aebcc0;
@zero-fassaden-col-277-zero-fassaden-a005: #9dacb2;
@zero-fassaden-col-277-zero-fassaden-e006: #dce6e1;
@zero-fassaden-col-277-zero-fassaden-d006: #c5d6d7;
@zero-fassaden-col-277-zero-fassaden-c006: #acc3c6;
@zero-fassaden-col-277-zero-fassaden-b006: #92b0b5;
@zero-fassaden-col-277-zero-fassaden-a006: #6b8e97;
@zero-fassaden-col-277-zero-fassaden-e007: #e3ebe8;
@zero-fassaden-col-277-zero-fassaden-d007: #cce0e5;
@zero-fassaden-col-277-zero-fassaden-c007: #b1d2dd;
@zero-fassaden-col-277-zero-fassaden-b007: #96c4d4;
@zero-fassaden-col-277-zero-fassaden-a007: #67a4b9;
@zero-fassaden-col-277-zero-fassaden-e008: #eef1ea;
@zero-fassaden-col-277-zero-fassaden-d008: #e3ecea;
@zero-fassaden-col-277-zero-fassaden-c008: #cbe2e2;
@zero-fassaden-col-277-zero-fassaden-b008: #acd1d3;
@zero-fassaden-col-277-zero-fassaden-a008: #92c3c6;
@zero-fassaden-col-277-zero-fassaden-e009: #f1f3eb;
@zero-fassaden-col-277-zero-fassaden-d009: #e0e8e3;
@zero-fassaden-col-277-zero-fassaden-c009: #c6d5cf;
@zero-fassaden-col-277-zero-fassaden-b009: #aec4c0;
@zero-fassaden-col-277-zero-fassaden-a009: #8bacab;
@zero-fassaden-col-277-zero-fassaden-e010: #eff0e8;
@zero-fassaden-col-277-zero-fassaden-d010: #e4ede7;
@zero-fassaden-col-277-zero-fassaden-c010: #cbdfd5;
@zero-fassaden-col-277-zero-fassaden-b010: #b0d0c8;
@zero-fassaden-col-277-zero-fassaden-a010: #92c2b5;
@zero-fassaden-col-277-zero-fassaden-e011: #eff3e5;
@zero-fassaden-col-277-zero-fassaden-d011: #e0ebdd;
@zero-fassaden-col-277-zero-fassaden-c011: #cadbcd;
@zero-fassaden-col-277-zero-fassaden-b011: #b1ccbd;
@zero-fassaden-col-277-zero-fassaden-a011: #96b7a6;
@zero-fassaden-col-277-zero-fassaden-e012: #eff0e7;
@zero-fassaden-col-277-zero-fassaden-d012: #e0e4df;
@zero-fassaden-col-277-zero-fassaden-c012: #c3cdcb;
@zero-fassaden-col-277-zero-fassaden-b012: #a9b7b6;
@zero-fassaden-col-277-zero-fassaden-a012: #92a5a7;
@zero-fassaden-col-277-zero-fassaden-e013: #ecede4;
@zero-fassaden-col-277-zero-fassaden-d013: #dde0d8;
@zero-fassaden-col-277-zero-fassaden-c013: #c5cdc6;
@zero-fassaden-col-277-zero-fassaden-b013: #a8b6b1;
@zero-fassaden-col-277-zero-fassaden-a013: #8d9f9b;
@zero-fassaden-col-277-zero-fassaden-e014: #edeee3;
@zero-fassaden-col-277-zero-fassaden-d014: #dce4d6;
@zero-fassaden-col-277-zero-fassaden-c014: #c4d1c3;
@zero-fassaden-col-277-zero-fassaden-b014: #a8b7a7;
@zero-fassaden-col-277-zero-fassaden-a014: #8fa491;
@zero-fassaden-col-277-zero-fassaden-e015: #e3e3d5;
@zero-fassaden-col-277-zero-fassaden-d015: #d8dacd;
@zero-fassaden-col-277-zero-fassaden-c015: #ced2c4;
@zero-fassaden-col-277-zero-fassaden-b015: #bfc7b8;
@zero-fassaden-col-277-zero-fassaden-a015: #b6bda9;
@zero-fassaden-col-277-zero-fassaden-e016: #edeee3;
@zero-fassaden-col-277-zero-fassaden-d016: #dfe4d3;
@zero-fassaden-col-277-zero-fassaden-c016: #cdd5bb;
@zero-fassaden-col-277-zero-fassaden-b016: #b4bf9f;
@zero-fassaden-col-277-zero-fassaden-a016: #94a381;
@zero-fassaden-col-277-zero-fassaden-e017: #eae7d6;
@zero-fassaden-col-277-zero-fassaden-d017: #e4e3cc;
@zero-fassaden-col-277-zero-fassaden-c017: #dee1c5;
@zero-fassaden-col-277-zero-fassaden-b017: #d0d4b3;
@zero-fassaden-col-277-zero-fassaden-a017: #bfc49f;
@zero-fassaden-col-277-zero-fassaden-e018: #e0dfd3;
@zero-fassaden-col-277-zero-fassaden-d018: #d0cebd;
@zero-fassaden-col-277-zero-fassaden-c018: #b9b8a2;
@zero-fassaden-col-277-zero-fassaden-b018: #a4a38a;
@zero-fassaden-col-277-zero-fassaden-a018: #898871;
@zero-fassaden-col-277-zero-fassaden-e019: #f1eddb;
@zero-fassaden-col-277-zero-fassaden-d019: #eae0c9;
@zero-fassaden-col-277-zero-fassaden-c019: #d9c9aa;
@zero-fassaden-col-277-zero-fassaden-b019: #c2ae8a;
@zero-fassaden-col-277-zero-fassaden-a019: #ad9671;
@zero-fassaden-col-277-zero-fassaden-e020: #ebe5ce;
@zero-fassaden-col-277-zero-fassaden-d020: #e6dec0;
@zero-fassaden-col-277-zero-fassaden-c020: #e2dab8;
@zero-fassaden-col-277-zero-fassaden-b020: #ded3aa;
@zero-fassaden-col-277-zero-fassaden-a020: #d3c89c;
@zero-fassaden-col-277-zero-fassaden-e021: #f1f1db;
@zero-fassaden-col-277-zero-fassaden-d021: #f1f0ce;
@zero-fassaden-col-277-zero-fassaden-c021: #f2efc2;
@zero-fassaden-col-277-zero-fassaden-b021: #f1eab8;
@zero-fassaden-col-277-zero-fassaden-a021: #f2eaac;
@zero-fassaden-col-277-zero-fassaden-e022: #f2f2dd;
@zero-fassaden-col-277-zero-fassaden-d022: #f2eccb;
@zero-fassaden-col-277-zero-fassaden-c022: #eee1b3;
@zero-fassaden-col-277-zero-fassaden-b022: #ecdba2;
@zero-fassaden-col-277-zero-fassaden-a022: #e7d292;
@zero-fassaden-col-277-zero-fassaden-e023: #f2eeda;
@zero-fassaden-col-277-zero-fassaden-d023: #f3eac4;
@zero-fassaden-col-277-zero-fassaden-c023: #f4e4b3;
@zero-fassaden-col-277-zero-fassaden-b023: #f2d892;
@zero-fassaden-col-277-zero-fassaden-a023: #ebcb7f;
@zero-fassaden-col-277-zero-fassaden-e024: #f1e7d0;
@zero-fassaden-col-277-zero-fassaden-d024: #f4e5c1;
@zero-fassaden-col-277-zero-fassaden-c024: #f3dfb2;
@zero-fassaden-col-277-zero-fassaden-b024: #f2dca9;
@zero-fassaden-col-277-zero-fassaden-a024: #ebd096;
@zero-fassaden-col-277-zero-fassaden-e025: #efe4d2;
@zero-fassaden-col-277-zero-fassaden-d025: #efdfc1;
@zero-fassaden-col-277-zero-fassaden-c025: #ebd0a1;
@zero-fassaden-col-277-zero-fassaden-b025: #e6c48a;
@zero-fassaden-col-277-zero-fassaden-a025: #d7b170;
@zero-fassaden-col-277-zero-fassaden-e026: #f4e9cf;
@zero-fassaden-col-277-zero-fassaden-d026: #f3deb2;
@zero-fassaden-col-277-zero-fassaden-c026: #f2d8a2;
@zero-fassaden-col-277-zero-fassaden-b026: #efcc90;
@zero-fassaden-col-277-zero-fassaden-a026: #e6c27b;
@zero-fassaden-col-277-zero-fassaden-e027: #f4e7cb;
@zero-fassaden-col-277-zero-fassaden-d027: #f3d9ab;
@zero-fassaden-col-277-zero-fassaden-c027: #edc78a;
@zero-fassaden-col-277-zero-fassaden-b027: #e6b874;
@zero-fassaden-col-277-zero-fassaden-a027: #d3a261;
@zero-fassaden-col-277-zero-fassaden-e028: #f3ecdd;
@zero-fassaden-col-277-zero-fassaden-d028: #f3e3ca;
@zero-fassaden-col-277-zero-fassaden-c028: #f1d0a9;
@zero-fassaden-col-277-zero-fassaden-b028: #e7bb89;
@zero-fassaden-col-277-zero-fassaden-a028: #dda76f;
@zero-fassaden-col-277-zero-fassaden-e029: #f1dfc5;
@zero-fassaden-col-277-zero-fassaden-d029: #eecda4;
@zero-fassaden-col-277-zero-fassaden-c029: #e5b583;
@zero-fassaden-col-277-zero-fassaden-b029: #d9a069;
@zero-fassaden-col-277-zero-fassaden-a029: #c28958;
@zero-fassaden-col-277-zero-fassaden-e030: #f2e1cd;
@zero-fassaden-col-277-zero-fassaden-d030: #e9caad;
@zero-fassaden-col-277-zero-fassaden-c030: #deb590;
@zero-fassaden-col-277-zero-fassaden-b030: #cf9f78;
@zero-fassaden-col-277-zero-fassaden-a030: #af7953;
@zero-fassaden-col-277-zero-fassaden-e031: #f0dac3;
@zero-fassaden-col-277-zero-fassaden-d031: #e8c09f;
@zero-fassaden-col-277-zero-fassaden-c031: #dea881;
@zero-fassaden-col-277-zero-fassaden-b031: #cd936c;
@zero-fassaden-col-277-zero-fassaden-a031: #c48557;
@zero-fassaden-col-277-zero-fassaden-e032: #e6d8c2;
@zero-fassaden-col-277-zero-fassaden-d032: #d5bda1;
@zero-fassaden-col-277-zero-fassaden-c032: #c0a281;
@zero-fassaden-col-277-zero-fassaden-b032: #ad8b6a;
@zero-fassaden-col-277-zero-fassaden-a032: #927356;
@zero-fassaden-col-277-zero-fassaden-e033: #e4d9cb;
@zero-fassaden-col-277-zero-fassaden-d033: #dfd2c3;
@zero-fassaden-col-277-zero-fassaden-c033: #dcccb9;
@zero-fassaden-col-277-zero-fassaden-b033: #ccb9a4;
@zero-fassaden-col-277-zero-fassaden-a033: #b6a18a;
@zero-fassaden-col-277-zero-fassaden-e034: #ebe7da;
@zero-fassaden-col-277-zero-fassaden-d034: #d8d0be;
@zero-fassaden-col-277-zero-fassaden-c034: #c9c0aa;
@zero-fassaden-col-277-zero-fassaden-b034: #b3a58d;
@zero-fassaden-col-277-zero-fassaden-a034: #9e8c73;
@zero-fassaden-col-277-zero-fassaden-e035: #ddd4c5;
@zero-fassaden-col-277-zero-fassaden-d035: #cbbdaa;
@zero-fassaden-col-277-zero-fassaden-c035: #b6a48e;
@zero-fassaden-col-277-zero-fassaden-b035: #a28e77;
@zero-fassaden-col-277-zero-fassaden-a035: #7d6d59;
@zero-fassaden-col-277-zero-fassaden-e036: #e7d6ca;
@zero-fassaden-col-277-zero-fassaden-d036: #d4b9a6;
@zero-fassaden-col-277-zero-fassaden-c036: #bc9a86;
@zero-fassaden-col-277-zero-fassaden-b036: #ac8772;
@zero-fassaden-col-277-zero-fassaden-a036: #896959;
@zero-fassaden-col-277-zero-fassaden-e037: #efd9cb;
@zero-fassaden-col-277-zero-fassaden-d037: #e2c1ad;
@zero-fassaden-col-277-zero-fassaden-c037: #d6a991;
@zero-fassaden-col-277-zero-fassaden-b037: #c4927a;
@zero-fassaden-col-277-zero-fassaden-a037: #a2715b;
@zero-fassaden-col-277-zero-fassaden-e038: #e2bba9;
@zero-fassaden-col-277-zero-fassaden-d038: #d3a08c;
@zero-fassaden-col-277-zero-fassaden-c038: #c08672;
@zero-fassaden-col-277-zero-fassaden-b038: #a86f5c;
@zero-fassaden-col-277-zero-fassaden-a038: #946253;
@zero-fassaden-col-277-zero-fassaden-e039: #eed4c4;
@zero-fassaden-col-277-zero-fassaden-d039: #dcbca9;
@zero-fassaden-col-277-zero-fassaden-c039: #cca694;
@zero-fassaden-col-277-zero-fassaden-b039: #bc8f7b;
@zero-fassaden-col-277-zero-fassaden-a039: #a97969;
@zero-fassaden-col-277-zero-fassaden-e040: #e8c8bf;
@zero-fassaden-col-277-zero-fassaden-d040: #d6a89e;
@zero-fassaden-col-277-zero-fassaden-c040: #c0897f;
@zero-fassaden-col-277-zero-fassaden-b040: #a86f64;
@zero-fassaden-col-277-zero-fassaden-a040: #9b675e;
@zero-fassaden-col-277-zero-fassaden-e041: #eccec1;
@zero-fassaden-col-277-zero-fassaden-d041: #e4c1b4;
@zero-fassaden-col-277-zero-fassaden-c041: #cfa396;
@zero-fassaden-col-277-zero-fassaden-b041: #cc9b8e;
@zero-fassaden-col-277-zero-fassaden-a041: #bc8478;
@zero-fassaden-col-277-zero-fassaden-e042: #e1cfc7;
@zero-fassaden-col-277-zero-fassaden-d042: #e0cac2;
@zero-fassaden-col-277-zero-fassaden-c042: #d8baaf;
@zero-fassaden-col-277-zero-fassaden-b042: #c29c91;
@zero-fassaden-col-277-zero-fassaden-a042: #b48c80;
@zero-fassaden-col-277-zero-fassaden-e043: #e8d4ce;
@zero-fassaden-col-277-zero-fassaden-d043: #d4b8b2;
@zero-fassaden-col-277-zero-fassaden-c043: #bf9b95;
@zero-fassaden-col-277-zero-fassaden-b043: #aa807a;
@zero-fassaden-col-277-zero-fassaden-a043: #8f665f;
@zero-fassaden-col-277-zero-fassaden-e044: #dbd5d1;
@zero-fassaden-col-277-zero-fassaden-d044: #c6bdbb;
@zero-fassaden-col-277-zero-fassaden-c044: #aea3a4;
@zero-fassaden-col-277-zero-fassaden-b044: #9a8d8f;
@zero-fassaden-col-277-zero-fassaden-a044: #7f767b;
@zero-fassaden-col-277-zero-fassaden-e045: #dbd8d7;
@zero-fassaden-col-277-zero-fassaden-d045: #c8c5c7;
@zero-fassaden-col-277-zero-fassaden-c045: #adaaae;
@zero-fassaden-col-277-zero-fassaden-b045: #929299;
@zero-fassaden-col-277-zero-fassaden-a045: #7b7a83;
@zero-fassaden-col-277-zero-fassaden-e046: #dedad9;
@zero-fassaden-col-277-zero-fassaden-d046: #cbc5c6;
@zero-fassaden-col-277-zero-fassaden-c046: #b1aaac;
@zero-fassaden-col-277-zero-fassaden-b046: #9d9498;
@zero-fassaden-col-277-zero-fassaden-a046: #7f7a81;
@zero-fassaden-col-277-zero-fassaden-e047: #e8ded5;
@zero-fassaden-col-277-zero-fassaden-d047: #decec3;
@zero-fassaden-col-277-zero-fassaden-c047: #c6afa2;
@zero-fassaden-col-277-zero-fassaden-b047: #ab9183;
@zero-fassaden-col-277-zero-fassaden-a047: #95796d;
@zero-fassaden-col-277-zero-fassaden-e048: #ddd6cc;
@zero-fassaden-col-277-zero-fassaden-d048: #c6bbaf;
@zero-fassaden-col-277-zero-fassaden-c048: #afa094;
@zero-fassaden-col-277-zero-fassaden-b048: #9c8c80;
@zero-fassaden-col-277-zero-fassaden-a048: #84776d;
@zero-fassaden-col-277-zero-fassaden-e049: #dbd9d1;
@zero-fassaden-col-277-zero-fassaden-d049: #cbc6bf;
@zero-fassaden-col-277-zero-fassaden-c049: #b4b0ac;
@zero-fassaden-col-277-zero-fassaden-b049: #a29d97;
@zero-fassaden-col-277-zero-fassaden-a049: #88847e;
@zero-fassaden-col-277-zero-fassaden-e050: #e6ddd1;
@zero-fassaden-col-277-zero-fassaden-d050: #d8d3c8;
@zero-fassaden-col-277-zero-fassaden-c050: #c9c2b3;
@zero-fassaden-col-277-zero-fassaden-b050: #b2a796;
@zero-fassaden-col-277-zero-fassaden-a050: #a59a8b;
@zero-fassaden-col-277-zero-fassaden-e051: #e9e7de;
@zero-fassaden-col-277-zero-fassaden-d051: #dbdad3;
@zero-fassaden-col-277-zero-fassaden-c051: #c2c2ba;
@zero-fassaden-col-277-zero-fassaden-b051: #acada5;
@zero-fassaden-col-277-zero-fassaden-a051: #8f928c;
@zero-fassaden-col-277-zero-fassaden-e052: #e3ded5;
@zero-fassaden-col-277-zero-fassaden-d052: #d9d5ce;
@zero-fassaden-col-277-zero-fassaden-c052: #d3cec9;
@zero-fassaden-col-277-zero-fassaden-b052: #c7c6c4;
@zero-fassaden-col-277-zero-fassaden-a052: #b4b5b6;
@zero-fassaden-col-277-zero-fassaden-e053: #ebece6;
@zero-fassaden-col-277-zero-fassaden-d053: #dee1de;
@zero-fassaden-col-277-zero-fassaden-c053: #c0c7c9;
@zero-fassaden-col-277-zero-fassaden-b053: #9ca7af;
@zero-fassaden-col-277-zero-fassaden-a053: #8c959c;
@zero-fassaden-col-277-zero-fassaden-e054: #dfddd6;
@zero-fassaden-col-277-zero-fassaden-d054: #d5d4d1;
@zero-fassaden-col-277-zero-fassaden-c054: #cececa;
@zero-fassaden-col-277-zero-fassaden-b054: #c7c9c8;
@zero-fassaden-col-277-zero-fassaden-a054: #c1c4c2;
@zero-fassaden-col-277-zero-fassaden-e055: #dcddd9;
@zero-fassaden-col-277-zero-fassaden-d055: #c8c9c8;
@zero-fassaden-col-277-zero-fassaden-c055: #b0b0b0;
@zero-fassaden-col-277-zero-fassaden-b055: #8c8e91;
@zero-fassaden-col-277-zero-fassaden-a055: #767a7f;