// krautol-trend2
@krautol-trend2-krautol-achat-11: #6c7478;
@krautol-trend2-krautol-achat-12: #828b91;
@krautol-trend2-krautol-achat-13: #96a0a6;
@krautol-trend2-krautol-achat-14: #a9b0b5;
@krautol-trend2-krautol-achat-15: #b8c0c3;
@krautol-trend2-krautol-achat-16: #cbd1d1;
@krautol-trend2-krautol-achat-17: #d3d7d5;
@krautol-trend2-krautol-achat-18: #dee2de;
@krautol-trend2-krautol-aubergine-11: #865976;
@krautol-trend2-krautol-aubergine-12: #966c8b;
@krautol-trend2-krautol-aubergine-13: #ac82a1;
@krautol-trend2-krautol-aubergine-14: #bf9ab4;
@krautol-trend2-krautol-aubergine-15: #c8adc2;
@krautol-trend2-krautol-aubergine-16: #d4c0cc;
@krautol-trend2-krautol-aubergine-17: #ddcfd5;
@krautol-trend2-krautol-aubergine-18: #e5dadd;
@krautol-trend2-krautol-avokadogruen-11: #849559;
@krautol-trend2-krautol-avokadogruen-12: #93a76a;
@krautol-trend2-krautol-avokadogruen-13: #a3b47f;
@krautol-trend2-krautol-avokadogruen-14: #b6c593;
@krautol-trend2-krautol-avokadogruen-15: #c5d1a4;
@krautol-trend2-krautol-avokadogruen-16: #cdd6b7;
@krautol-trend2-krautol-avokadogruen-17: #d9e1c1;
@krautol-trend2-krautol-avokadogruen-18: #e3e7cf;
@krautol-trend2-krautol-bambusgelb-11: #d49a43;
@krautol-trend2-krautol-bambusgelb-12: #e0a95b;
@krautol-trend2-krautol-bambusgelb-13: #e6b76e;
@krautol-trend2-krautol-bambusgelb-14: #eec88b;
@krautol-trend2-krautol-bambusgelb-15: #efd09d;
@krautol-trend2-krautol-bambusgelb-16: #efd9ae;
@krautol-trend2-krautol-bambusgelb-17: #f1e2c0;
@krautol-trend2-krautol-bambusgelb-18: #f0e7c6;
@krautol-trend2-krautol-bermuda-11: #4a6f7f;
@krautol-trend2-krautol-bermuda-12: #5f899a;
@krautol-trend2-krautol-bermuda-13: #739dab;
@krautol-trend2-krautol-bermuda-14: #8eb2bf;
@krautol-trend2-krautol-bermuda-15: #9ebfc8;
@krautol-trend2-krautol-bermuda-16: #b2cdd2;
@krautol-trend2-krautol-bermuda-17: #c4dadc;
@krautol-trend2-krautol-bermuda-18: #d3e2e0;
@krautol-trend2-krautol-biber-11: #9d7358;
@krautol-trend2-krautol-biber-12: #a67f66;
@krautol-trend2-krautol-biber-13: #b7947c;
@krautol-trend2-krautol-biber-14: #c5a58e;
@krautol-trend2-krautol-biber-15: #d4b9a5;
@krautol-trend2-krautol-biber-16: #dec8b8;
@krautol-trend2-krautol-biber-17: #e2d1c2;
@krautol-trend2-krautol-biber-18: #eaddd1;
@krautol-trend2-krautol-birke-11: #9e8e4d;
@krautol-trend2-krautol-birke-12: #a99a58;
@krautol-trend2-krautol-birke-13: #baab6d;
@krautol-trend2-krautol-birke-14: #cdc186;
@krautol-trend2-krautol-birke-15: #d3c997;
@krautol-trend2-krautol-birke-16: #e1d8af;
@krautol-trend2-krautol-birke-17: #e5e1bf;
@krautol-trend2-krautol-birke-18: #ece7c9;
@krautol-trend2-krautol-brasil-11: #8d6352;
@krautol-trend2-krautol-brasil-12: #9a7160;
@krautol-trend2-krautol-brasil-13: #ab8473;
@krautol-trend2-krautol-brasil-14: #ba998a;
@krautol-trend2-krautol-brasil-15: #c9aca1;
@krautol-trend2-krautol-brasil-16: #d7beb1;
@krautol-trend2-krautol-brasil-17: #dec9be;
@krautol-trend2-krautol-brasil-18: #e4d6cc;
@krautol-trend2-krautol-caramel-11: #977658;
@krautol-trend2-krautol-caramel-12: #a48469;
@krautol-trend2-krautol-caramel-13: #b89a7e;
@krautol-trend2-krautol-caramel-14: #c7ad93;
@krautol-trend2-krautol-caramel-15: #d1bca5;
@krautol-trend2-krautol-caramel-16: #decdb9;
@krautol-trend2-krautol-caramel-17: #e3d6c3;
@krautol-trend2-krautol-caramel-18: #eee5d5;
@krautol-trend2-krautol-curry-11: #e19d43;
@krautol-trend2-krautol-curry-12: #e8a953;
@krautol-trend2-krautol-curry-13: #f3bb6f;
@krautol-trend2-krautol-curry-14: #f3c27e;
@krautol-trend2-krautol-curry-15: #f3ce95;
@krautol-trend2-krautol-curry-16: #f6daab;
@krautol-trend2-krautol-curry-17: #f1deb9;
@krautol-trend2-krautol-curry-18: #f8eacc;
@krautol-trend2-krautol-dattelbraun-11: #7f6e56;
@krautol-trend2-krautol-dattelbraun-12: #8e7d66;
@krautol-trend2-krautol-dattelbraun-13: #a3947d;
@krautol-trend2-krautol-dattelbraun-14: #b3a48f;
@krautol-trend2-krautol-dattelbraun-15: #c5b8a3;
@krautol-trend2-krautol-dattelbraun-16: #d0c7b5;
@krautol-trend2-krautol-dattelbraun-17: #dcd4c6;
@krautol-trend2-krautol-dattelbraun-18: #e5ddcf;
@krautol-trend2-krautol-enzianblau-11: #00749c;
@krautol-trend2-krautol-enzianblau-12: #008bb5;
@krautol-trend2-krautol-enzianblau-13: #37a0c6;
@krautol-trend2-krautol-enzianblau-14: #59b2d1;
@krautol-trend2-krautol-enzianblau-15: #74c3de;
@krautol-trend2-krautol-enzianblau-16: #8ecddf;
@krautol-trend2-krautol-enzianblau-17: #aad6e1;
@krautol-trend2-krautol-enzianblau-18: #bfe4e7;
@krautol-trend2-krautol-erdbraun-11: #6b5d53;
@krautol-trend2-krautol-erdbraun-12: #776b62;
@krautol-trend2-krautol-erdbraun-13: #8d8178;
@krautol-trend2-krautol-erdbraun-14: #a1978f;
@krautol-trend2-krautol-erdbraun-15: #afa59f;
@krautol-trend2-krautol-erdbraun-16: #bfb7af;
@krautol-trend2-krautol-erdbraun-17: #cec6be;
@krautol-trend2-krautol-erdbraun-18: #d8d3cb;
@krautol-trend2-krautol-farn-11: #758c5a;
@krautol-trend2-krautol-farn-12: #7f9366;
@krautol-trend2-krautol-farn-13: #98ad83;
@krautol-trend2-krautol-farn-14: #aabb96;
@krautol-trend2-krautol-farn-15: #b6c5a6;
@krautol-trend2-krautol-farn-16: #c8d7bc;
@krautol-trend2-krautol-farn-17: #d8e3cb;
@krautol-trend2-krautol-farn-18: #dee6ce;
@krautol-trend2-krautol-feuerrot-11: #ce6363;
@krautol-trend2-krautol-feuerrot-12: #d47376;
@krautol-trend2-krautol-feuerrot-13: #df8a8d;
@krautol-trend2-krautol-feuerrot-14: #e59b9e;
@krautol-trend2-krautol-feuerrot-15: #ebb7b5;
@krautol-trend2-krautol-feuerrot-16: #edcac9;
@krautol-trend2-krautol-feuerrot-17: #ebd8d6;
@krautol-trend2-krautol-feuerrot-18: #e9e2dd;
@krautol-trend2-krautol-graphit-11: #79766c;
@krautol-trend2-krautol-graphit-12: #8b8a80;
@krautol-trend2-krautol-graphit-13: #a09e95;
@krautol-trend2-krautol-graphit-14: #b4b3ab;
@krautol-trend2-krautol-graphit-15: #c6c5bd;
@krautol-trend2-krautol-graphit-16: #d0d0c7;
@krautol-trend2-krautol-graphit-17: #dcdcd3;
@krautol-trend2-krautol-graphit-18: #e5e5dc;
@krautol-trend2-krautol-haselnuss-11: #a77a53;
@krautol-trend2-krautol-haselnuss-12: #b48a65;
@krautol-trend2-krautol-haselnuss-13: #c7a07e;
@krautol-trend2-krautol-haselnuss-14: #d1b191;
@krautol-trend2-krautol-haselnuss-15: #d8bea1;
@krautol-trend2-krautol-haselnuss-16: #e0cdb5;
@krautol-trend2-krautol-haselnuss-17: #ebd9c4;
@krautol-trend2-krautol-haselnuss-18: #eee3d1;
@krautol-trend2-krautol-jasmin-11: #9b815a;
@krautol-trend2-krautol-jasmin-12: #ab936b;
@krautol-trend2-krautol-jasmin-13: #bca47e;
@krautol-trend2-krautol-jasmin-14: #ccb794;
@krautol-trend2-krautol-jasmin-15: #d3c3a4;
@krautol-trend2-krautol-jasmin-16: #e3d5bc;
@krautol-trend2-krautol-jasmin-17: #e8ddc7;
@krautol-trend2-krautol-jasmin-18: #eae4d1;
@krautol-trend2-krautol-khaki-11: #81775d;
@krautol-trend2-krautol-khaki-12: #928971;
@krautol-trend2-krautol-khaki-13: #a49c84;
@krautol-trend2-krautol-khaki-14: #b5af9a;
@krautol-trend2-krautol-khaki-15: #c2bca8;
@krautol-trend2-krautol-khaki-16: #d0cbb9;
@krautol-trend2-krautol-khaki-17: #dbd9cb;
@krautol-trend2-krautol-khaki-18: #e4e3d5;
@krautol-trend2-krautol-korallenrot-11: #f5936b;
@krautol-trend2-krautol-korallenrot-12: #fba282;
@krautol-trend2-krautol-korallenrot-13: #fbb89f;
@krautol-trend2-krautol-korallenrot-14: #f8c6af;
@krautol-trend2-krautol-korallenrot-15: #fad5c2;
@krautol-trend2-krautol-korallenrot-16: #f8dcc6;
@krautol-trend2-krautol-korallenrot-17: #f5e3d1;
@krautol-trend2-krautol-korallenrot-18: #f1eadb;
@krautol-trend2-krautol-lehm-11: #9b7856;
@krautol-trend2-krautol-lehm-12: #ac8c6a;
@krautol-trend2-krautol-lehm-13: #bd9f81;
@krautol-trend2-krautol-lehm-14: #cdb294;
@krautol-trend2-krautol-lehm-15: #d5bfa5;
@krautol-trend2-krautol-lehm-16: #e2cfb9;
@krautol-trend2-krautol-lehm-17: #e7d9c5;
@krautol-trend2-krautol-lehm-18: #eadfce;
@krautol-trend2-krautol-limonengelb-11: #eec928;
@krautol-trend2-krautol-limonengelb-12: #fcda53;
@krautol-trend2-krautol-limonengelb-13: #fdde73;
@krautol-trend2-krautol-limonengelb-14: #fce58e;
@krautol-trend2-krautol-limonengelb-15: #f9e99f;
@krautol-trend2-krautol-limonengelb-16: #f9ecb5;
@krautol-trend2-krautol-limonengelb-17: #f3eac2;
@krautol-trend2-krautol-limonengelb-18: #f1edcf;
@krautol-trend2-krautol-linde-11: #b19742;
@krautol-trend2-krautol-linde-12: #bca557;
@krautol-trend2-krautol-linde-13: #c8b36d;
@krautol-trend2-krautol-linde-14: #d3c082;
@krautol-trend2-krautol-linde-15: #dece96;
@krautol-trend2-krautol-linde-16: #e1d6ab;
@krautol-trend2-krautol-linde-17: #ebe2be;
@krautol-trend2-krautol-linde-18: #ede6ca;
@krautol-trend2-krautol-lorbeergruen-11: #8c8060;
@krautol-trend2-krautol-lorbeergruen-12: #9d9372;
@krautol-trend2-krautol-lorbeergruen-13: #a9a185;
@krautol-trend2-krautol-lorbeergruen-14: #b7b096;
@krautol-trend2-krautol-lorbeergruen-15: #c8c4ac;
@krautol-trend2-krautol-lorbeergruen-16: #d5d0bd;
@krautol-trend2-krautol-lorbeergruen-17: #e1ddcb;
@krautol-trend2-krautol-lorbeergruen-18: #ede9d8;
@krautol-trend2-krautol-magentapink-11: #c35b7c;
@krautol-trend2-krautol-magentapink-12: #cd6a8f;
@krautol-trend2-krautol-magentapink-13: #d67ba2;
@krautol-trend2-krautol-magentapink-14: #df90b4;
@krautol-trend2-krautol-magentapink-15: #e8a6c6;
@krautol-trend2-krautol-magentapink-16: #e9b5cd;
@krautol-trend2-krautol-magentapink-17: #eec8d9;
@krautol-trend2-krautol-magentapink-18: #eed6df;
@krautol-trend2-krautol-magentarot-11: #9e5876;
@krautol-trend2-krautol-magentarot-12: #b0698b;
@krautol-trend2-krautol-magentarot-13: #bb7a9d;
@krautol-trend2-krautol-magentarot-14: #cc8eae;
@krautol-trend2-krautol-magentarot-15: #dca6c4;
@krautol-trend2-krautol-magentarot-16: #e5b8d1;
@krautol-trend2-krautol-magentarot-17: #eac7d7;
@krautol-trend2-krautol-magentarot-18: #f0d9e3;
@krautol-trend2-krautol-mandelbraun-11: #bf8355;
@krautol-trend2-krautol-mandelbraun-12: #ce946b;
@krautol-trend2-krautol-mandelbraun-13: #d5a37b;
@krautol-trend2-krautol-mandelbraun-14: #e3b891;
@krautol-trend2-krautol-mandelbraun-15: #e7c6a7;
@krautol-trend2-krautol-mandelbraun-16: #ecd1b3;
@krautol-trend2-krautol-mandelbraun-17: #f1dec5;
@krautol-trend2-krautol-mandelbraun-18: #ede1ce;
@krautol-trend2-krautol-mimose-11: #dca940;
@krautol-trend2-krautol-mimose-12: #e5b852;
@krautol-trend2-krautol-mimose-13: #f0c76c;
@krautol-trend2-krautol-mimose-14: #f2d081;
@krautol-trend2-krautol-mimose-15: #f4d995;
@krautol-trend2-krautol-mimose-16: #f8e4b3;
@krautol-trend2-krautol-mimose-17: #f7eac4;
@krautol-trend2-krautol-mimose-18: #f2e9cb;
@krautol-trend2-krautol-minze-11: #658a59;
@krautol-trend2-krautol-minze-12: #789b6a;
@krautol-trend2-krautol-minze-13: #8ead83;
@krautol-trend2-krautol-minze-14: #a0be97;
@krautol-trend2-krautol-minze-15: #b7d0b1;
@krautol-trend2-krautol-minze-16: #c5d8be;
@krautol-trend2-krautol-minze-17: #d3e3cb;
@krautol-trend2-krautol-minze-18: #dde9ce;
@krautol-trend2-krautol-mohnrot-11: #d05666;
@krautol-trend2-krautol-mohnrot-12: #dd6f80;
@krautol-trend2-krautol-mohnrot-13: #e38a97;
@krautol-trend2-krautol-mohnrot-14: #eaa1ab;
@krautol-trend2-krautol-mohnrot-15: #f0bac0;
@krautol-trend2-krautol-mohnrot-16: #f0c6c9;
@krautol-trend2-krautol-mohnrot-17: #eed4d2;
@krautol-trend2-krautol-mohnrot-18: #ebdfd8;
@krautol-trend2-krautol-oliv-11: #767e5b;
@krautol-trend2-krautol-oliv-12: #899371;
@krautol-trend2-krautol-oliv-13: #9da789;
@krautol-trend2-krautol-oliv-14: #b1b99c;
@krautol-trend2-krautol-oliv-15: #c1c9b0;
@krautol-trend2-krautol-oliv-16: #ccd2bb;
@krautol-trend2-krautol-oliv-17: #dce1ca;
@krautol-trend2-krautol-oliv-18: #e0e4cc;
@krautol-trend2-krautol-petrol-11: #44807d;
@krautol-trend2-krautol-petrol-12: #549593;
@krautol-trend2-krautol-petrol-13: #71acac;
@krautol-trend2-krautol-petrol-14: #88bcb8;
@krautol-trend2-krautol-petrol-15: #9dcac7;
@krautol-trend2-krautol-petrol-16: #b1d4d0;
@krautol-trend2-krautol-petrol-17: #c2dfda;
@krautol-trend2-krautol-petrol-18: #cbe1da;
@krautol-trend2-krautol-rauch-11: #62605f;
@krautol-trend2-krautol-rauch-12: #747374;
@krautol-trend2-krautol-rauch-13: #878686;
@krautol-trend2-krautol-rauch-14: #9f9f9f;
@krautol-trend2-krautol-rauch-15: #b2b2b1;
@krautol-trend2-krautol-rauch-16: #c0c1bf;
@krautol-trend2-krautol-rauch-17: #d2d2ce;
@krautol-trend2-krautol-rauch-18: #d8dad5;
@krautol-trend2-krautol-rose-11: #ad6c6d;
@krautol-trend2-krautol-rose-12: #bb7d81;
@krautol-trend2-krautol-rose-13: #cd979c;
@krautol-trend2-krautol-rose-14: #d7aaae;
@krautol-trend2-krautol-rose-15: #ddbbbc;
@krautol-trend2-krautol-rose-16: #e4c9c4;
@krautol-trend2-krautol-rose-17: #ecd8d3;
@krautol-trend2-krautol-rose-18: #ebdfd8;
@krautol-trend2-krautol-rot-11: #d96462;
@krautol-trend2-krautol-rot-12: #e37879;
@krautol-trend2-krautol-rot-13: #e78d8e;
@krautol-trend2-krautol-rot-14: #eda5a4;
@krautol-trend2-krautol-rot-15: #f2bab7;
@krautol-trend2-krautol-rot-16: #f3cbc2;
@krautol-trend2-krautol-rot-17: #ebd3c6;
@krautol-trend2-krautol-rot-18: #f0dcd2;
@krautol-trend2-krautol-rubinrot-11: #a75967;
@krautol-trend2-krautol-rubinrot-12: #b96f81;
@krautol-trend2-krautol-rubinrot-13: #c78493;
@krautol-trend2-krautol-rubinrot-14: #d59ba9;
@krautol-trend2-krautol-rubinrot-15: #ddadb7;
@krautol-trend2-krautol-rubinrot-16: #eac3c7;
@krautol-trend2-krautol-rubinrot-17: #e6cbce;
@krautol-trend2-krautol-rubinrot-18: #e5d8d6;
@krautol-trend2-krautol-rubinviolett-11: #976eab;
@krautol-trend2-krautol-rubinviolett-12: #a37eb8;
@krautol-trend2-krautol-rubinviolett-13: #b08fc4;
@krautol-trend2-krautol-rubinviolett-14: #c3a7d2;
@krautol-trend2-krautol-rubinviolett-15: #ceb6d8;
@krautol-trend2-krautol-rubinviolett-16: #dac5e0;
@krautol-trend2-krautol-rubinviolett-17: #e4d4e3;
@krautol-trend2-krautol-rubinviolett-18: #eae2e7;
@krautol-trend2-krautol-sand-11: #b08962;
@krautol-trend2-krautol-sand-12: #bb9976;
@krautol-trend2-krautol-sand-13: #d1b290;
@krautol-trend2-krautol-sand-14: #dcc1a6;
@krautol-trend2-krautol-sand-15: #e7ceb2;
@krautol-trend2-krautol-sand-16: #e9d9c3;
@krautol-trend2-krautol-sand-17: #ede2cf;
@krautol-trend2-krautol-sand-18: #eee7d7;
@krautol-trend2-krautol-schiefer-11: #646761;
@krautol-trend2-krautol-schiefer-12: #7b7f7b;
@krautol-trend2-krautol-schiefer-13: #919590;
@krautol-trend2-krautol-schiefer-14: #a6aaa4;
@krautol-trend2-krautol-schiefer-15: #babcb6;
@krautol-trend2-krautol-schiefer-16: #cacdc6;
@krautol-trend2-krautol-schiefer-17: #d5d7d1;
@krautol-trend2-krautol-schiefer-18: #ddded7;
@krautol-trend2-krautol-smaragdgruen-11: #518d5d;
@krautol-trend2-krautol-smaragdgruen-12: #629e6d;
@krautol-trend2-krautol-smaragdgruen-13: #76b189;
@krautol-trend2-krautol-smaragdgruen-14: #8fc19b;
@krautol-trend2-krautol-smaragdgruen-15: #a6d1af;
@krautol-trend2-krautol-smaragdgruen-16: #b4d9bb;
@krautol-trend2-krautol-smaragdgruen-17: #c5e2c8;
@krautol-trend2-krautol-smaragdgruen-18: #d0e4ca;
@krautol-trend2-krautol-stahlblau-11: #427081;
@krautol-trend2-krautol-stahlblau-12: #4e8597;
@krautol-trend2-krautol-stahlblau-13: #679cad;
@krautol-trend2-krautol-stahlblau-14: #7fafbe;
@krautol-trend2-krautol-stahlblau-15: #97c1cd;
@krautol-trend2-krautol-stahlblau-16: #b2d4dc;
@krautol-trend2-krautol-stahlblau-17: #bbd6db;
@krautol-trend2-krautol-stahlblau-18: #cfe3e3;
@krautol-trend2-krautol-stella-11: #856d62;
@krautol-trend2-krautol-stella-12: #998279;
@krautol-trend2-krautol-stella-13: #b09b92;
@krautol-trend2-krautol-stella-14: #bcaca3;
@krautol-trend2-krautol-stella-15: #cabeb5;
@krautol-trend2-krautol-stella-16: #dacfc5;
@krautol-trend2-krautol-stella-17: #e1d9cf;
@krautol-trend2-krautol-stella-18: #e9e5dc;
@krautol-trend2-krautol-sunset-11: #815e50;
@krautol-trend2-krautol-sunset-12: #8f6f63;
@krautol-trend2-krautol-sunset-13: #a38578;
@krautol-trend2-krautol-sunset-14: #b39789;
@krautol-trend2-krautol-sunset-15: #c5aca1;
@krautol-trend2-krautol-sunset-16: #cfbdb1;
@krautol-trend2-krautol-sunset-17: #dacdc1;
@krautol-trend2-krautol-sunset-18: #e2d7cf;
@krautol-trend2-krautol-terracotta-11: #c58048;
@krautol-trend2-krautol-terracotta-12: #d4925b;
@krautol-trend2-krautol-terracotta-13: #d9a373;
@krautol-trend2-krautol-terracotta-14: #e7b68a;
@krautol-trend2-krautol-terracotta-15: #e8c29c;
@krautol-trend2-krautol-terracotta-16: #e9ccab;
@krautol-trend2-krautol-terracotta-17: #f1dabe;
@krautol-trend2-krautol-terracotta-18: #f3e4cd;
@krautol-trend2-krautol-traubenrot-11: #855651;
@krautol-trend2-krautol-traubenrot-12: #966866;
@krautol-trend2-krautol-traubenrot-13: #aa7c7b;
@krautol-trend2-krautol-traubenrot-14: #b7908d;
@krautol-trend2-krautol-traubenrot-15: #c9a4a3;
@krautol-trend2-krautol-traubenrot-16: #d3b5b1;
@krautol-trend2-krautol-traubenrot-17: #d9c1bc;
@krautol-trend2-krautol-traubenrot-18: #e4d5cf;
@krautol-trend2-krautol-zeder-11: #5c7262;
@krautol-trend2-krautol-zeder-12: #6d8673;
@krautol-trend2-krautol-zeder-13: #839d8c;
@krautol-trend2-krautol-zeder-14: #97b0a1;
@krautol-trend2-krautol-zeder-15: #abbfb0;
@krautol-trend2-krautol-zeder-16: #bccec2;
@krautol-trend2-krautol-zeder-17: #c8d7cd;
@krautol-trend2-krautol-zeder-18: #dae3d8;