// filmstarex-d-cl-premium-grade
@filmstarex-d-cl-premium-grade-d-cl-1214: #dab300;
@filmstarex-d-cl-premium-grade-d-cl-1254: #efca2e;
@filmstarex-d-cl-premium-grade-d-cl-1204: #e9b400;
@filmstarex-d-cl-premium-grade-d-cl-1244: #e49f00;
@filmstarex-d-cl-premium-grade-d-cl-1218: #db7222;
@filmstarex-d-cl-premium-grade-d-cl-1208: #d25921;
@filmstarex-d-cl-premium-grade-d-cl-1261: #c4412f;
@filmstarex-d-cl-premium-grade-d-cl-1251: #ba3125;
@filmstarex-d-cl-premium-grade-d-cl-1210: #951821;
@filmstarex-d-cl-premium-grade-d-cl-1271: #6b212b;
@filmstarex-d-cl-premium-grade-d-cl-1275: #a3226c;
@filmstarex-d-cl-premium-grade-d-cl-1246: #5aa800;
@filmstarex-d-cl-premium-grade-d-cl-1226: #579a39;
@filmstarex-d-cl-premium-grade-d-cl-1222: #008d53;
@filmstarex-d-cl-premium-grade-d-cl-1236: #006f39;
@filmstarex-d-cl-premium-grade-d-cl-1276: #234a38;
@filmstarex-d-cl-premium-grade-d-cl-1277: #009394;
@filmstarex-d-cl-premium-grade-d-cl-1268: #007879;
@filmstarex-d-cl-premium-grade-d-cl-1227: #75b7bd;
@filmstarex-d-cl-premium-grade-d-cl-1278: #0096cb;
@filmstarex-d-cl-premium-grade-d-cl-1217: #0070ad;
@filmstarex-d-cl-premium-grade-d-cl-1207: #358cba;
@filmstarex-d-cl-premium-grade-d-cl-1247: #0064a0;
@filmstarex-d-cl-premium-grade-d-cl-1233: #36267d;
@filmstarex-d-cl-premium-grade-d-cl-1267: #382762;
@filmstarex-d-cl-premium-grade-d-cl-1212: #273a7f;
@filmstarex-d-cl-premium-grade-d-cl-1257: #333463;
@filmstarex-d-cl-premium-grade-d-cl-1221: #601e67;
@filmstarex-d-cl-premium-grade-d-cl-1237: #451e5e;
@filmstarex-d-cl-premium-grade-d-cl-1230: #4f332a;
@filmstarex-d-cl-premium-grade-d-cl-1219: #9da3a7;
@filmstarex-d-cl-premium-grade-d-cl-1209: #8f9292;
@filmstarex-d-cl-premium-grade-d-cl-1266: #e7eae7;
@filmstarex-d-cl-premium-grade-d-cl-1216: #f3f7f4;
@filmstarex-d-cl-premium-grade-d-cl-1215: #303132;
@filmstarex-d-cl-premium-grade-d-cl-1299: #c0aa72;