// herbol-design
@herbol-design-herbol-a1: #009d72;
@herbol-design-herbol-a2: #44bf94;
@herbol-design-herbol-a3: #5fc69e;
@herbol-design-herbol-a4: #86ceac;
@herbol-design-herbol-a5: #a0d6bc;
@herbol-design-herbol-a6: #b7d7c8;
@herbol-design-herbol-a7: #cae5d1;
@herbol-design-herbol-a8: #ddeae0;
@herbol-design-herbol-a9: #e4e9e0;
@herbol-design-herbol-b1: #009783;
@herbol-design-herbol-b2: #30a895;
@herbol-design-herbol-b3: #65c1ae;
@herbol-design-herbol-b4: #81d0bf;
@herbol-design-herbol-b5: #a0d7c9;
@herbol-design-herbol-b6: #afd8cd;
@herbol-design-herbol-b7: #b7e0d0;
@herbol-design-herbol-b8: #d6e7df;
@herbol-design-herbol-b9: #dee9e2;
@herbol-design-herbol-c1: #009c95;
@herbol-design-herbol-c2: #36aaa3;
@herbol-design-herbol-c3: #45bbaf;
@herbol-design-herbol-c4: #7ac8c2;
@herbol-design-herbol-c5: #99d2cd;
@herbol-design-herbol-c6: #afd4d0;
@herbol-design-herbol-c7: #c4e8df;
@herbol-design-herbol-c8: #daebe4;
@herbol-design-herbol-c9: #dce9e4;
@herbol-design-herbol-color-a: #007d58;
@herbol-design-herbol-color-b: #00806f;
@herbol-design-herbol-color-c: #00827c;
@herbol-design-herbol-color-d: #007f85;
@herbol-design-herbol-color-e: #007c91;
@herbol-design-herbol-color-f: #2c6999;
@herbol-design-herbol-color-g: #5760a3;
@herbol-design-herbol-color-h: #7c5b8d;
@herbol-design-herbol-color-i: #8d4561;
@herbol-design-herbol-color-j: #963949;
@herbol-design-herbol-color-k: #933b38;
@herbol-design-herbol-color-l: #9b4830;
@herbol-design-herbol-color-m: #d27341;
@herbol-design-herbol-color-n: #ed9026;
@herbol-design-herbol-color-o: #eeb03f;
@herbol-design-herbol-color-p: #ddbe29;
@herbol-design-herbol-color-q: #c0b830;
@herbol-design-herbol-color-r: #8e942f;
@herbol-design-herbol-color-s: #6a973a;
@herbol-design-herbol-color-t: #248f4b;
@herbol-design-herbol-d1: #00a0a4;
@herbol-design-herbol-d2: #3bacad;
@herbol-design-herbol-d3: #59b7bc;
@herbol-design-herbol-d4: #7ac7c8;
@herbol-design-herbol-d5: #91cbcd;
@herbol-design-herbol-d6: #add3d3;
@herbol-design-herbol-d7: #bde1e0;
@herbol-design-herbol-d8: #d3e7e6;
@herbol-design-herbol-d9: #dbe8e3;
@herbol-design-herbol-e1: #0595ae;
@herbol-design-herbol-e2: #2ea6ba;
@herbol-design-herbol-e3: #47afc3;
@herbol-design-herbol-e4: #7bc6d3;
@herbol-design-herbol-e5: #96cdd7;
@herbol-design-herbol-e6: #b8d8de;
@herbol-design-herbol-e7: #c1e2e5;
@herbol-design-herbol-e8: #d8e8e7;
@herbol-design-herbol-e9: #e1ece9;
@herbol-design-herbol-f1: #3181bb;
@herbol-design-herbol-f2: #428ec2;
@herbol-design-herbol-f3: #6ca7d5;
@herbol-design-herbol-f4: #83b2da;
@herbol-design-herbol-f5: #a2c2d8;
@herbol-design-herbol-f6: #bad2e2;
@herbol-design-herbol-f7: #c8dee5;
@herbol-design-herbol-f8: #d7e5e6;
@herbol-design-herbol-f9: #dce6e4;
@herbol-design-herbol-g1: #6972b6;
@herbol-design-herbol-g2: #7b8ec8;
@herbol-design-herbol-g3: #8d9dd4;
@herbol-design-herbol-g4: #9fafd9;
@herbol-design-herbol-g5: #b4bfde;
@herbol-design-herbol-g6: #c5cde1;
@herbol-design-herbol-g7: #cfd7e3;
@herbol-design-herbol-g8: #d7dee4;
@herbol-design-herbol-g9: #e4e8e9;
@herbol-design-herbol-grey-b: #9da0a2;
@herbol-design-herbol-grey-b1: #b3b7b9;
@herbol-design-herbol-grey-b2: #ced2ce;
@herbol-design-herbol-grey-b3: #d8dbd7;
@herbol-design-herbol-grey-b4: #e3e6e4;
@herbol-design-herbol-grey-g: #a0a39f;
@herbol-design-herbol-grey-g1: #b5b9b4;
@herbol-design-herbol-grey-g2: #d1d2c9;
@herbol-design-herbol-grey-g3: #d8dad4;
@herbol-design-herbol-grey-g4: #e8ece3;
@herbol-design-herbol-grey-r: #a09c99;
@herbol-design-herbol-grey-r1: #b9b4b2;
@herbol-design-herbol-grey-r2: #d1cdc9;
@herbol-design-herbol-grey-r3: #ded7d0;
@herbol-design-herbol-grey-r4: #eae5de;
@herbol-design-herbol-grey-y: #a5a49f;
@herbol-design-herbol-grey-y1: #bcb9b3;
@herbol-design-herbol-grey-y2: #d2d0cb;
@herbol-design-herbol-grey-y3: #ded9cb;
@herbol-design-herbol-grey-y4: #e8e6db;
@herbol-design-herbol-h1: #8b5c8e;
@herbol-design-herbol-h2: #a57ca5;
@herbol-design-herbol-h3: #a98db7;
@herbol-design-herbol-h4: #bda8c9;
@herbol-design-herbol-h5: #c8b5d3;
@herbol-design-herbol-h6: #d1c3d6;
@herbol-design-herbol-h7: #dcd0de;
@herbol-design-herbol-h8: #e3dfe1;
@herbol-design-herbol-h9: #ebe7e4;
@herbol-design-herbol-i1: #ae567a;
@herbol-design-herbol-i2: #bf7496;
@herbol-design-herbol-i3: #c18aa5;
@herbol-design-herbol-i4: #d99ab2;
@herbol-design-herbol-i5: #d8aec0;
@herbol-design-herbol-i6: #e0c1cd;
@herbol-design-herbol-i7: #eacfd4;
@herbol-design-herbol-i8: #ebdcdc;
@herbol-design-herbol-i9: #ede6e3;
@herbol-design-herbol-j1: #bb586c;
@herbol-design-herbol-j2: #dc7481;
@herbol-design-herbol-j3: #e58597;
@herbol-design-herbol-j4: #e398a0;
@herbol-design-herbol-j5: #e7b1b3;
@herbol-design-herbol-j6: #e4c1c2;
@herbol-design-herbol-j7: #eeccce;
@herbol-design-herbol-j8: #f8eae2;
@herbol-design-herbol-j9: #f1e7e0;
@herbol-design-herbol-k1: #ae4441;
@herbol-design-herbol-k2: #d65c52;
@herbol-design-herbol-k3: #e0807b;
@herbol-design-herbol-k4: #e1968d;
@herbol-design-herbol-k5: #e6aaa5;
@herbol-design-herbol-k6: #ebc3b9;
@herbol-design-herbol-k7: #f3cdc5;
@herbol-design-herbol-k8: #f2ded6;
@herbol-design-herbol-k9: #efe4dd;
@herbol-design-herbol-l1: #bc5a3d;
@herbol-design-herbol-l2: #e06648;
@herbol-design-herbol-l3: #e78668;
@herbol-design-herbol-l4: #f0a185;
@herbol-design-herbol-l5: #eeb09b;
@herbol-design-herbol-l6: #ebc4b3;
@herbol-design-herbol-l7: #f6cab6;
@herbol-design-herbol-l8: #f5dece;
@herbol-design-herbol-l9: #f0dfd3;
@herbol-design-herbol-m1: #e9823c;
@herbol-design-herbol-m2: #f48b4c;
@herbol-design-herbol-m3: #ef9762;
@herbol-design-herbol-m4: #f2ac81;
@herbol-design-herbol-m5: #f2bb99;
@herbol-design-herbol-m6: #f0c5a7;
@herbol-design-herbol-m7: #faceaf;
@herbol-design-herbol-m8: #f8e2cd;
@herbol-design-herbol-m9: #f1e7d7;
@herbol-design-herbol-n1: #f8982c;
@herbol-design-herbol-n2: #fc9f3c;
@herbol-design-herbol-n3: #eea95f;
@herbol-design-herbol-n4: #efb475;
@herbol-design-herbol-n5: #f0be88;
@herbol-design-herbol-n6: #ebc69b;
@herbol-design-herbol-n7: #f9d8b0;
@herbol-design-herbol-n8: #f6e5cc;
@herbol-design-herbol-n9: #f2e7d1;
@herbol-design-herbol-o1: #ffbc00;
@herbol-design-herbol-o2: #ffc131;
@herbol-design-herbol-o3: #f1c15b;
@herbol-design-herbol-o4: #f2cc7f;
@herbol-design-herbol-o5: #e8ca90;
@herbol-design-herbol-o6: #edd5a5;
@herbol-design-herbol-o7: #f9e4b1;
@herbol-design-herbol-o8: #eee5ca;
@herbol-design-herbol-o9: #f2ebd9;
@herbol-design-herbol-p1: #efcf07;
@herbol-design-herbol-p2: #f0d436;
@herbol-design-herbol-p3: #dbc85a;
@herbol-design-herbol-p4: #e2d078;
@herbol-design-herbol-p5: #ded290;
@herbol-design-herbol-p6: #e9dfad;
@herbol-design-herbol-p7: #f4ebba;
@herbol-design-herbol-p8: #f1eaca;
@herbol-design-herbol-p9: #edecdd;
@herbol-design-herbol-q1: #cbce27;
@herbol-design-herbol-q2: #ddcd22;
@herbol-design-herbol-q3: #cecf5e;
@herbol-design-herbol-q4: #cfcd73;
@herbol-design-herbol-q5: #d9dc8f;
@herbol-design-herbol-q6: #dfe0ac;
@herbol-design-herbol-q7: #f2eeb3;
@herbol-design-herbol-q8: #f3f1d0;
@herbol-design-herbol-q9: #ecebd8;
@herbol-design-herbol-r1: #afb333;
@herbol-design-herbol-r2: #c1c636;
@herbol-design-herbol-r3: #b6c865;
@herbol-design-herbol-r4: #bccf80;
@herbol-design-herbol-r5: #ccd797;
@herbol-design-herbol-r6: #d3dbaa;
@herbol-design-herbol-r7: #e7eebb;
@herbol-design-herbol-r8: #e7ead1;
@herbol-design-herbol-r9: #e9edda;
@herbol-design-herbol-s1: #7fb042;
@herbol-design-herbol-s2: #8cbd63;
@herbol-design-herbol-s3: #99c574;
@herbol-design-herbol-s4: #aecf90;
@herbol-design-herbol-s5: #b8d09c;
@herbol-design-herbol-s6: #c7dbb6;
@herbol-design-herbol-s7: #dfefca;
@herbol-design-herbol-s8: #e2edd6;
@herbol-design-herbol-s9: #e6eadc;
@herbol-design-herbol-t1: #5cab62;
@herbol-design-herbol-t2: #64c472;
@herbol-design-herbol-t3: #80c889;
@herbol-design-herbol-t4: #90cc98;
@herbol-design-herbol-t5: #afd4af;
@herbol-design-herbol-t6: #c0ddc0;
@herbol-design-herbol-t7: #d1edcd;
@herbol-design-herbol-t8: #dbe9d8;
@herbol-design-herbol-t9: #deebdf;