// caparol-amphisilan
@caparol-amphisilan-chromoxidgruen-25s: #8f7a3e;
@caparol-amphisilan-chromoxidgruen-25s-1: #96834f;
@caparol-amphisilan-chromoxidgruen-25s-2: #af9d6c;
@caparol-amphisilan-chromoxidgruen-25s-3: #cdbf98;
@caparol-amphisilan-chromoxidgruen-25s-4: #e2d8bd;
@caparol-amphisilan-chromoxidgruen-25s-5: #eae4d0;
@caparol-amphisilan-chromoxidgruen-26s: #908149;
@caparol-amphisilan-chromoxidgruen-26s-1: #988a55;
@caparol-amphisilan-chromoxidgruen-26s-2: #ada16e;
@caparol-amphisilan-chromoxidgruen-26s-3: #cbc197;
@caparol-amphisilan-chromoxidgruen-26s-4: #e6dec3;
@caparol-amphisilan-chromoxidgruen-26s-5: #ede8d4;
@caparol-amphisilan-chromoxidgruen-27s: #888651;
@caparol-amphisilan-chromoxidgruen-27s-1: #92915e;
@caparol-amphisilan-chromoxidgruen-27s-2: #aca97d;
@caparol-amphisilan-chromoxidgruen-27s-3: #c7c6a6;
@caparol-amphisilan-chromoxidgruen-27s-4: #dbdac4;
@caparol-amphisilan-chromoxidgruen-27s-5: #e9e9d9;
@caparol-amphisilan-chromoxidgruen-28s: #6d7d56;
@caparol-amphisilan-chromoxidgruen-28s-1: #7c8a66;
@caparol-amphisilan-chromoxidgruen-28s-2: #909c7d;
@caparol-amphisilan-chromoxidgruen-28s-3: #b9c2a9;
@caparol-amphisilan-chromoxidgruen-28s-4: #d6daca;
@caparol-amphisilan-chromoxidgruen-28s-5: #e0e4d6;
@caparol-amphisilan-chromoxidgruen-29s: #707459;
@caparol-amphisilan-chromoxidgruen-29s-1: #787d64;
@caparol-amphisilan-chromoxidgruen-29s-2: #929781;
@caparol-amphisilan-chromoxidgruen-29s-3: #bcc0ad;
@caparol-amphisilan-chromoxidgruen-29s-4: #d8d9cb;
@caparol-amphisilan-chromoxidgruen-29s-5: #e4e4d7;
@caparol-amphisilan-chromoxidgruen-30s: #5d7261;
@caparol-amphisilan-chromoxidgruen-30s-1: #6e8371;
@caparol-amphisilan-chromoxidgruen-30s-2: #899c8e;
@caparol-amphisilan-chromoxidgruen-30s-3: #b0c0b6;
@caparol-amphisilan-chromoxidgruen-30s-4: #cfd8d0;
@caparol-amphisilan-chromoxidgruen-30s-5: #dfe4db;
@caparol-amphisilan-chromoxidgruen-37s: #7a7a6b;
@caparol-amphisilan-chromoxidgruen-37s-1: #838374;
@caparol-amphisilan-chromoxidgruen-37s-2: #98998b;
@caparol-amphisilan-chromoxidgruen-37s-3: #bbbcae;
@caparol-amphisilan-chromoxidgruen-37s-4: #d8d7cd;
@caparol-amphisilan-chromoxidgruen-37s-5: #e9e8dd;
@caparol-amphisilan-gelb: #efe276;
@caparol-amphisilan-gruen: #5b7550;
@caparol-amphisilan-kobaltblau: #1e86ae;
@caparol-amphisilan-kobaltblau-31s: #4e7080;
@caparol-amphisilan-kobaltblau-31s-1: #5f7f8f;
@caparol-amphisilan-kobaltblau-31s-2: #7e9baa;
@caparol-amphisilan-kobaltblau-31s-3: #adc2ca;
@caparol-amphisilan-kobaltblau-31s-4: #cbd8db;
@caparol-amphisilan-kobaltblau-31s-5: #d8e1e2;
@caparol-amphisilan-nickeltitangelb-1s: #dec36b;
@caparol-amphisilan-nickeltitangelb-1s-1: #e1c875;
@caparol-amphisilan-nickeltitangelb-1s-2: #e9d691;
@caparol-amphisilan-nickeltitangelb-1s-3: #f3e7bd;
@caparol-amphisilan-nickeltitangelb-1s-4: #f3eed8;
@caparol-amphisilan-nickeltitangelb-1s-5: #f1eede;
@caparol-amphisilan-ocker: #cf9542;
@caparol-amphisilan-oxidbraun: #7c6046;
@caparol-amphisilan-oxidbraun-13s: #8e583c;
@caparol-amphisilan-oxidbraun-13s-1: #9b6951;
@caparol-amphisilan-oxidbraun-13s-2: #af7f68;
@caparol-amphisilan-oxidbraun-13s-3: #cfa997;
@caparol-amphisilan-oxidbraun-13s-4: #e4cabc;
@caparol-amphisilan-oxidbraun-13s-5: #e8d7cc;
@caparol-amphisilan-oxidbraun-14s: #82533e;
@caparol-amphisilan-oxidbraun-14s-1: #895d4b;
@caparol-amphisilan-oxidbraun-14s-2: #a27767;
@caparol-amphisilan-oxidbraun-14s-3: #c2a194;
@caparol-amphisilan-oxidbraun-14s-4: #dcc4b8;
@caparol-amphisilan-oxidbraun-14s-5: #e7d4ca;
@caparol-amphisilan-oxidbraun-15s: #78554b;
@caparol-amphisilan-oxidbraun-15s-1: #826158;
@caparol-amphisilan-oxidbraun-15s-2: #9b7d76;
@caparol-amphisilan-oxidbraun-15s-3: #bfa8a3;
@caparol-amphisilan-oxidbraun-15s-4: #d8cac5;
@caparol-amphisilan-oxidbraun-15s-5: #e2d6d2;
@caparol-amphisilan-oxidbraun-16s: #6c4a3d;
@caparol-amphisilan-oxidbraun-16s-1: #735347;
@caparol-amphisilan-oxidbraun-16s-2: #8d6f65;
@caparol-amphisilan-oxidbraun-16s-3: #b39d95;
@caparol-amphisilan-oxidbraun-16s-4: #d2c2bc;
@caparol-amphisilan-oxidbraun-16s-5: #e2d7d1;
@caparol-amphisilan-oxidbraun-17s: #614c3d;
@caparol-amphisilan-oxidbraun-17s-1: #6c584a;
@caparol-amphisilan-oxidbraun-17s-2: #8a786c;
@caparol-amphisilan-oxidbraun-17s-3: #b3a398;
@caparol-amphisilan-oxidbraun-17s-4: #d0c7c0;
@caparol-amphisilan-oxidbraun-17s-5: #e1d9d2;
@caparol-amphisilan-oxidbraun-18s: #715f4c;
@caparol-amphisilan-oxidbraun-18s-1: #7c6a59;
@caparol-amphisilan-oxidbraun-18s-2: #928272;
@caparol-amphisilan-oxidbraun-18s-3: #b6aa9d;
@caparol-amphisilan-oxidbraun-18s-4: #d3cbc1;
@caparol-amphisilan-oxidbraun-18s-5: #e4ded6;
@caparol-amphisilan-oxidbraun-19s: #846043;
@caparol-amphisilan-oxidbraun-19s-1: #8e6a4e;
@caparol-amphisilan-oxidbraun-19s-2: #a28066;
@caparol-amphisilan-oxidbraun-19s-3: #c7ac97;
@caparol-amphisilan-oxidbraun-19s-4: #ddccbf;
@caparol-amphisilan-oxidbraun-19s-5: #e7dbcf;
@caparol-amphisilan-oxidbraun-20s: #7b5f48;
@caparol-amphisilan-oxidbraun-20s-1: #83664e;
@caparol-amphisilan-oxidbraun-20s-2: #987d66;
@caparol-amphisilan-oxidbraun-20s-3: #bca593;
@caparol-amphisilan-oxidbraun-20s-4: #dbcec1;
@caparol-amphisilan-oxidbraun-20s-5: #e2dad0;
@caparol-amphisilan-oxidbraun-36s: #675a51;
@caparol-amphisilan-oxidbraun-36s-1: #6a5d52;
@caparol-amphisilan-oxidbraun-36s-2: #7e7368;
@caparol-amphisilan-oxidbraun-36s-3: #a79c92;
@caparol-amphisilan-oxidbraun-36s-4: #cbc2b9;
@caparol-amphisilan-oxidbraun-36s-5: #e3dcd3;
@caparol-amphisilan-oxidgelb-2s: #d5a957;
@caparol-amphisilan-oxidgelb-2s-1: #dbb163;
@caparol-amphisilan-oxidgelb-2s-2: #e2c180;
@caparol-amphisilan-oxidgelb-2s-3: #edd8ae;
@caparol-amphisilan-oxidgelb-2s-4: #f0e6cb;
@caparol-amphisilan-oxidgelb-2s-5: #f2ead7;
@caparol-amphisilan-oxidgelb-35s: #c78642;
@caparol-amphisilan-oxidgelb-35s-1: #d0904b;
@caparol-amphisilan-oxidgelb-35s-2: #d69a57;
@caparol-amphisilan-oxidgelb-35s-3: #e7b77d;
@caparol-amphisilan-oxidgelb-35s-4: #f0d3ac;
@caparol-amphisilan-oxidgelb-35s-5: #f0dcc0;
@caparol-amphisilan-oxidgelb-3s: #d29d4c;
@caparol-amphisilan-oxidgelb-3s-1: #d5a359;
@caparol-amphisilan-oxidgelb-3s-2: #e3b877;
@caparol-amphisilan-oxidgelb-3s-3: #ebcfa1;
@caparol-amphisilan-oxidgelb-3s-4: #f0e1c1;
@caparol-amphisilan-oxidgelb-3s-5: #eee6d1;
@caparol-amphisilan-oxidgelb-4s: #ca8d39;
@caparol-amphisilan-oxidgelb-4s-1: #d49847;
@caparol-amphisilan-oxidgelb-4s-2: #dba85c;
@caparol-amphisilan-oxidgelb-4s-3: #ecc58c;
@caparol-amphisilan-oxidgelb-4s-4: #f4deb8;
@caparol-amphisilan-oxidgelb-4s-5: #f1e2c8;
@caparol-amphisilan-oxidgelb-5s: #ab7940;
@caparol-amphisilan-oxidgelb-5s-1: #b48249;
@caparol-amphisilan-oxidgelb-5s-2: #c59764;
@caparol-amphisilan-oxidgelb-5s-3: #dab88f;
@caparol-amphisilan-oxidgelb-5s-4: #ecd5b7;
@caparol-amphisilan-oxidgelb-5s-5: #f4e5cf;
@caparol-amphisilan-oxidgelb-6s: #b87a43;
@caparol-amphisilan-oxidgelb-6s-1: #bf834b;
@caparol-amphisilan-oxidgelb-6s-2: #cd9764;
@caparol-amphisilan-oxidgelb-6s-3: #e1b98f;
@caparol-amphisilan-oxidgelb-6s-4: #edd4b7;
@caparol-amphisilan-oxidgelb-6s-5: #f3e2cb;
@caparol-amphisilan-oxidorange: #904b3a;
@caparol-amphisilan-oxidrot: #7f443e;
@caparol-amphisilan-oxidrot-10s: #9f573e;
@caparol-amphisilan-oxidrot-10s-1: #a45f46;
@caparol-amphisilan-oxidrot-10s-2: #b8765f;
@caparol-amphisilan-oxidrot-10s-3: #d4a18e;
@caparol-amphisilan-oxidrot-10s-4: #e3c1b4;
@caparol-amphisilan-oxidrot-10s-5: #ecd4c7;
@caparol-amphisilan-oxidrot-11s: #a0533f;
@caparol-amphisilan-oxidrot-11s-1: #a35440;
@caparol-amphisilan-oxidrot-11s-2: #bd715e;
@caparol-amphisilan-oxidrot-11s-3: #d79683;
@caparol-amphisilan-oxidrot-11s-4: #eac1b5;
@caparol-amphisilan-oxidrot-11s-5: #f0d3c8;
@caparol-amphisilan-oxidrot-12s: #924e3f;
@caparol-amphisilan-oxidrot-12s-1: #995749;
@caparol-amphisilan-oxidrot-12s-2: #a96b5c;
@caparol-amphisilan-oxidrot-12s-3: #c8968b;
@caparol-amphisilan-oxidrot-12s-4: #debbb1;
@caparol-amphisilan-oxidrot-12s-5: #ead1c7;
@caparol-amphisilan-oxidrot-7s: #ad6b3d;
@caparol-amphisilan-oxidrot-7s-1: #b37347;
@caparol-amphisilan-oxidrot-7s-2: #c58b60;
@caparol-amphisilan-oxidrot-7s-3: #dbaf8d;
@caparol-amphisilan-oxidrot-7s-4: #ecd1ba;
@caparol-amphisilan-oxidrot-7s-5: #f2e1d0;
@caparol-amphisilan-oxidrot-8s: #a5643c;
@caparol-amphisilan-oxidrot-8s-1: #ac6d4a;
@caparol-amphisilan-oxidrot-8s-2: #bd8364;
@caparol-amphisilan-oxidrot-8s-3: #d5a88f;
@caparol-amphisilan-oxidrot-8s-4: #e9cbb9;
@caparol-amphisilan-oxidrot-8s-5: #f0dccc;
@caparol-amphisilan-oxidrot-9s: #b36743;
@caparol-amphisilan-oxidrot-9s-1: #bb6f4b;
@caparol-amphisilan-oxidrot-9s-2: #c98563;
@caparol-amphisilan-oxidrot-9s-3: #e1ac8e;
@caparol-amphisilan-oxidrot-9s-4: #edccb7;
@caparol-amphisilan-oxidrot-9s-5: #edd6c6;
@caparol-amphisilan-oxidschwarz-32s: #4e4b47;
@caparol-amphisilan-oxidschwarz-32s-1: #585551;
@caparol-amphisilan-oxidschwarz-32s-2: #73716f;
@caparol-amphisilan-oxidschwarz-32s-3: #a5a4a1;
@caparol-amphisilan-oxidschwarz-32s-4: #c7c7c3;
@caparol-amphisilan-oxidschwarz-32s-5: #d7d7d3;
@caparol-amphisilan-oxidschwarz-33s: #554f43;
@caparol-amphisilan-oxidschwarz-33s-1: #60594d;
@caparol-amphisilan-oxidschwarz-33s-2: #7a746b;
@caparol-amphisilan-oxidschwarz-33s-3: #a5a198;
@caparol-amphisilan-oxidschwarz-33s-4: #cdcac1;
@caparol-amphisilan-oxidschwarz-33s-5: #dbd8d0;
@caparol-amphisilan-oxidschwarz-34s: #675b49;
@caparol-amphisilan-oxidschwarz-34s-1: #706451;
@caparol-amphisilan-oxidschwarz-34s-2: #877d6b;
@caparol-amphisilan-oxidschwarz-34s-3: #b1a999;
@caparol-amphisilan-oxidschwarz-34s-4: #d3cec3;
@caparol-amphisilan-oxidschwarz-34s-5: #ddd7cd;
@caparol-amphisilan-oxidschwarz-38s: #6d7478;
@caparol-amphisilan-oxidschwarz-38s-1: #777d82;
@caparol-amphisilan-oxidschwarz-38s-2: #8e9497;
@caparol-amphisilan-oxidschwarz-38s-3: #b7bcbc;
@caparol-amphisilan-oxidschwarz-38s-4: #d2d5d5;
@caparol-amphisilan-oxidschwarz-38s-5: #eaeae5;
@caparol-amphisilan-schwarz: #3b3b3c;
@caparol-amphisilan-sylitol-gelb: #ede37d;
@caparol-amphisilan-sylitol-gruen: #5e7b56;
@caparol-amphisilan-sylitol-kobaltblau: #147ea5;
@caparol-amphisilan-sylitol-ocker: #c68d3d;
@caparol-amphisilan-sylitol-oxidbraun: #785b46;
@caparol-amphisilan-sylitol-oxidorange: #9b4f3e;
@caparol-amphisilan-sylitol-oxidrot: #84453d;
@caparol-amphisilan-sylitol-schwarz: #3f4042;
@caparol-amphisilan-sylitol-umbra: #726346;
@caparol-amphisilan-umbra: #7a6846;
@caparol-amphisilan-umbra-21s: #836847;
@caparol-amphisilan-umbra-21s-1: #8f7758;
@caparol-amphisilan-umbra-21s-2: #a28a6a;
@caparol-amphisilan-umbra-21s-3: #c5b399;
@caparol-amphisilan-umbra-21s-4: #dccfbd;
@caparol-amphisilan-umbra-21s-5: #e9e0d0;
@caparol-amphisilan-umbra-22s: #8c724c;
@caparol-amphisilan-umbra-22s-1: #967d57;
@caparol-amphisilan-umbra-22s-2: #a8916f;
@caparol-amphisilan-umbra-22s-3: #c7b599;
@caparol-amphisilan-umbra-22s-4: #ded2bf;
@caparol-amphisilan-umbra-22s-5: #ebe2d3;
@caparol-amphisilan-umbra-23s: #9d7a41;
@caparol-amphisilan-umbra-23s-1: #a9854d;
@caparol-amphisilan-umbra-23s-2: #b69765;
@caparol-amphisilan-umbra-23s-3: #d5bc95;
@caparol-amphisilan-umbra-23s-4: #e8d8bc;
@caparol-amphisilan-umbra-23s-5: #eae0cc;
@caparol-amphisilan-umbra-24s: #aa8847;
@caparol-amphisilan-umbra-24s-1: #b18e4e;
@caparol-amphisilan-umbra-24s-2: #bd9e65;
@caparol-amphisilan-umbra-24s-3: #dbc193;
@caparol-amphisilan-umbra-24s-4: #e9d8b9;
@caparol-amphisilan-umbra-24s-5: #f0e4cc;