// macal-cad-cam-serie-9700
@macal-cad-cam-serie-9700-macal-970200-orange: #ee612d;
@macal-cad-cam-serie-9700-macal-970800-gelb: #f9ce04;
@macal-cad-cam-serie-9700-macal-970801-gelb: #f2c100;
@macal-cad-cam-serie-9700-macal-970802-maisgelb: #fbad10;
@macal-cad-cam-serie-9700-macal-972800-weiss: #e8e8e4;
@macal-cad-cam-serie-9700-macal-973800-blau: #0074b1;
@macal-cad-cam-serie-9700-macal-973801-blau: #0062a4;
@macal-cad-cam-serie-9700-macal-973802-koenigsblau: #382986;
@macal-cad-cam-serie-9700-macal-973803-dunkelblau: #324285;
@macal-cad-cam-serie-9700-macal-973804-himmelblau: #0090b9;
@macal-cad-cam-serie-9700-macal-974800-gruen: #00834c;
@macal-cad-cam-serie-9700-macal-974801-mintgruen: #007d3b;
@macal-cad-cam-serie-9700-macal-974802-gelbgruen: #86bc00;
@macal-cad-cam-serie-9700-macal-974803-tuerkis: #00a0a0;
@macal-cad-cam-serie-9700-macal-975800-rot: #c43935;
@macal-cad-cam-serie-9700-macal-975801-feuerrot: #c33e31;
@macal-cad-cam-serie-9700-macal-975802-weinrot: #703038;
@macal-cad-cam-serie-9700-macal-975803-pink: #b62c7d;
@macal-cad-cam-serie-9700-macal-976800-silber: #9fa0a1;
@macal-cad-cam-serie-9700-macal-977800-gold: #ad9860;
@macal-cad-cam-serie-9700-macal-978801-grau: #969d9c;