// caparol-3d-system
@caparol-3d-system-grau-30: #efece7;
@caparol-3d-system-grau-25: #e0dfdc;
@caparol-3d-system-grau-20: #cbcac8;
@caparol-3d-system-grau-15: #b0adab;
@caparol-3d-system-grau-10: #908e8d;
@caparol-3d-system-grau-5: #767575;
@caparol-3d-system-grau-60: #e8e6e3;
@caparol-3d-system-grau-55: #d9d8d4;
@caparol-3d-system-grau-50: #bdbbb9;
@caparol-3d-system-grau-45: #a19e9d;
@caparol-3d-system-grau-40: #848182;
@caparol-3d-system-grau-35: #696765;
@caparol-3d-system-schiefer-grau: #5d6064;
@caparol-3d-system-blaeulich-grau: #777c80;
@caparol-3d-system-graphit-grau: #6a6967;
@caparol-3d-system-umbra-grau: #5b5957;
@caparol-3d-system-sepia-grau: #5f5c5c;
@caparol-3d-system-schwarz-grau: #4e4e4e;
@caparol-3d-system-warm-weiss: #ece9e2;
@caparol-3d-system-natur-weiss: #f1eee6;
@caparol-3d-system-umbra-weiss: #ece8de;
@caparol-3d-system-hell-weiss: #f9f7ef;
@caparol-3d-system-grau-weiss: #f1efe8;
@caparol-3d-system-kuehl-weiss: #e8e9e5;
@caparol-3d-system-off-white-30: #f4f4e6;
@caparol-3d-system-off-white-25: #f7f3e1;
@caparol-3d-system-off-white-20: #f5f0e0;
@caparol-3d-system-off-white-15: #f7efe6;
@caparol-3d-system-off-white-10: #f6efe8;
@caparol-3d-system-off-white-5: #f6eeea;
@caparol-3d-system-off-white-60: #f0ebeb;
@caparol-3d-system-off-white-55: #f2f0ed;
@caparol-3d-system-off-white-50: #eef0ed;
@caparol-3d-system-off-white-45: #ecf1ee;
@caparol-3d-system-off-white-40: #ebf4eb;
@caparol-3d-system-off-white-35: #eff5ec;
@caparol-3d-system-rose-30: #efebe5;
@caparol-3d-system-rose-25: #ebe6e1;
@caparol-3d-system-rose-20: #ece3df;
@caparol-3d-system-rose-15: #ece0de;
@caparol-3d-system-rose-10: #d8d2cf;
@caparol-3d-system-rose-5: #c3bbb9;
@caparol-3d-system-rose-60: #f7e7e5;
@caparol-3d-system-rose-55: #e0cdcc;
@caparol-3d-system-rose-50: #cab8bb;
@caparol-3d-system-rose-45: #bbadae;
@caparol-3d-system-rose-40: #bda5a7;
@caparol-3d-system-rose-35: #9f8b8d;
@caparol-3d-system-rose-90: #f8dee0;
@caparol-3d-system-rose-85: #d5b2b7;
@caparol-3d-system-rose-80: #bd949a;
@caparol-3d-system-rose-75: #a3797f;
@caparol-3d-system-rose-70: #866f72;
@caparol-3d-system-rose-65: #6d5559;
@caparol-3d-system-rose-120: #ddafb6;
@caparol-3d-system-rose-115: #d88795;
@caparol-3d-system-rose-110: #ac6e79;
@caparol-3d-system-rose-105: #8e5d67;
@caparol-3d-system-rose-100: #ac4e68;
@caparol-3d-system-rose-95: #aa3d5d;
@caparol-3d-system-baccara-30: #f9d5d7;
@caparol-3d-system-baccara-25: #f1a7b1;
@caparol-3d-system-baccara-20: #e38392;
@caparol-3d-system-baccara-15: #c46575;
@caparol-3d-system-baccara-10: #864952;
@caparol-3d-system-baccara-5: #6b4547;
@caparol-3d-system-quarz-30: #e9dfdd;
@caparol-3d-system-quarz-25: #d8cecc;
@caparol-3d-system-quarz-20: #d0c6c5;
@caparol-3d-system-quarz-15: #c0b7b6;
@caparol-3d-system-quarz-10: #aba3a4;
@caparol-3d-system-quarz-60: #e9dbdb;
@caparol-3d-system-quarz-55: #ddcdcc;
@caparol-3d-system-quarz-50: #d4bdbc;
@caparol-3d-system-quarz-45: #cfb4b4;
@caparol-3d-system-venezia-30: #fae0dc;
@caparol-3d-system-venezia-25: #fbdedb;
@caparol-3d-system-venezia-20: #fab6b6;
@caparol-3d-system-venezia-15: #e98b8c;
@caparol-3d-system-venezia-10: #de7d80;
@caparol-3d-system-venezia-5: #cf5c63;
@caparol-3d-system-korall-30: #e8e3dd;
@caparol-3d-system-korall-25: #e4ded9;
@caparol-3d-system-korall-20: #e6dbd5;
@caparol-3d-system-korall-15: #daceca;
@caparol-3d-system-korall-10: #b5a9a7;
@caparol-3d-system-korall-5: #9e8e8c;
@caparol-3d-system-korall-60: #f7dfd7;
@caparol-3d-system-korall-55: #f0d8d1;
@caparol-3d-system-korall-50: #d5c2bd;
@caparol-3d-system-korall-45: #cfc0bb;
@caparol-3d-system-korall-40: #c0a9a5;
@caparol-3d-system-korall-35: #b6a4a2;
@caparol-3d-system-korall-90: #e2beb8;
@caparol-3d-system-korall-85: #d6b1ab;
@caparol-3d-system-korall-80: #ba928d;
@caparol-3d-system-korall-75: #c48f8a;
@caparol-3d-system-korall-70: #a27772;
@caparol-3d-system-korall-65: #967875;
@caparol-3d-system-korall-120: #7c6563;
@caparol-3d-system-korall-115: #8a5d58;
@caparol-3d-system-korall-110: #715655;
@caparol-3d-system-korall-105: #7e5652;
@caparol-3d-system-korall-100: #6e4d4a;
@caparol-3d-system-korall-95: #594544;
@caparol-3d-system-korall-150: #dc9893;
@caparol-3d-system-korall-145: #c57a74;
@caparol-3d-system-korall-140: #bb6c65;
@caparol-3d-system-korall-135: #9b5954;
@caparol-3d-system-korall-130: #6c4240;
@caparol-3d-system-korall-125: #7e413d;
@caparol-3d-system-korall-180: #eba59e;
@caparol-3d-system-korall-175: #f3918b;
@caparol-3d-system-korall-170: #e26f6b;
@caparol-3d-system-korall-165: #d16562;
@caparol-3d-system-korall-160: #b05754;
@caparol-3d-system-korall-155: #aa534f;
@caparol-3d-system-bordeaux-30: #ede5e0;
@caparol-3d-system-bordeaux-25: #ded5d1;
@caparol-3d-system-bordeaux-20: #cab7b3;
@caparol-3d-system-bordeaux-15: #bea7a2;
@caparol-3d-system-bordeaux-10: #bb9991;
@caparol-3d-system-bordeaux-5: #a98b84;
@caparol-3d-system-bordeaux-60: #e8c3bc;
@caparol-3d-system-bordeaux-55: #d2a39d;
@caparol-3d-system-bordeaux-50: #ba827a;
@caparol-3d-system-bordeaux-45: #b17066;
@caparol-3d-system-bordeaux-40: #9b665e;
@caparol-3d-system-bordeaux-35: #7f5049;
@caparol-3d-system-bordeaux-90: #ffdad2;
@caparol-3d-system-bordeaux-85: #fb9e93;
@caparol-3d-system-bordeaux-80: #cf7668;
@caparol-3d-system-bordeaux-75: #ab5f55;
@caparol-3d-system-bordeaux-70: #ac5b51;
@caparol-3d-system-bordeaux-65: #a13f38;
@caparol-3d-system-cameo-30: #efeae5;
@caparol-3d-system-cameo-25: #ebe7e3;
@caparol-3d-system-cameo-20: #ded3ce;
@caparol-3d-system-cameo-15: #cfc8c6;
@caparol-3d-system-cameo-10: #b6aba8;
@caparol-3d-system-cameo-5: #9c8d89;
@caparol-3d-system-cameo-60: #f8ede7;
@caparol-3d-system-cameo-55: #e5d5d0;
@caparol-3d-system-cameo-50: #cab5ae;
@caparol-3d-system-cameo-45: #bea59d;
@caparol-3d-system-cameo-40: #a6928b;
@caparol-3d-system-cameo-35: #85716d;
@caparol-3d-system-cameo-90: #fae2db;
@caparol-3d-system-cameo-85: #edd4cd;
@caparol-3d-system-cameo-80: #dec0b6;
@caparol-3d-system-cameo-75: #ca9f95;
@caparol-3d-system-cameo-70: #a9887f;
@caparol-3d-system-cameo-65: #8e6d64;
@caparol-3d-system-cameo-120: #fbded4;
@caparol-3d-system-cameo-115: #edc7bf;
@caparol-3d-system-cameo-110: #dfb0a3;
@caparol-3d-system-cameo-105: #de9c8d;
@caparol-3d-system-cameo-100: #ad796b;
@caparol-3d-system-cameo-95: #885243;
@caparol-3d-system-cameo-150: #fae4db;
@caparol-3d-system-cameo-145: #f4baab;
@caparol-3d-system-cameo-140: #f2a695;
@caparol-3d-system-cameo-135: #c57f6d;
@caparol-3d-system-cameo-130: #ac6758;
@caparol-3d-system-cameo-125: #9f5140;
@caparol-3d-system-cameo-180: #ffc8b9;
@caparol-3d-system-cameo-175: #ffa390;
@caparol-3d-system-cameo-170: #e97d65;
@caparol-3d-system-cameo-165: #df5940;
@caparol-3d-system-cameo-160: #d6543f;
@caparol-3d-system-cameo-155: #cd5a46;
@caparol-3d-system-lachs-30: #fae7de;
@caparol-3d-system-lachs-25: #fae1d8;
@caparol-3d-system-lachs-20: #efd1c5;
@caparol-3d-system-lachs-15: #e3c2b5;
@caparol-3d-system-lachs-55: #ecc0b3;
@caparol-3d-system-lachs-50: #dca592;
@caparol-3d-system-lachs-45: #cea697;
@caparol-3d-system-lachs-40: #c09485;
@caparol-3d-system-lachs-35: #b47e6c;
@caparol-3d-system-lachs-85: #ffc3ae;
@caparol-3d-system-lachs-80: #e4977e;
@caparol-3d-system-lachs-75: #d88c6c;
@caparol-3d-system-lachs-70: #cd7c5e;
@caparol-3d-system-lachs-65: #a9664e;
@caparol-3d-system-lachs-120: #fba086;
@caparol-3d-system-lachs-115: #e58160;
@caparol-3d-system-lachs-110: #db603b;
@caparol-3d-system-lachs-105: #cb7150;
@caparol-3d-system-lachs-100: #b96247;
@caparol-3d-system-lachs-95: #ba5231;
@caparol-3d-system-aprico-30: #efeae5;
@caparol-3d-system-aprico-25: #eee8e3;
@caparol-3d-system-aprico-20: #e0d6d0;
@caparol-3d-system-aprico-15: #d7c9c1;
@caparol-3d-system-aprico-10: #c0a99f;
@caparol-3d-system-aprico-5: #b39c91;
@caparol-3d-system-aprico-60: #fae3d5;
@caparol-3d-system-aprico-55: #f0d2c5;
@caparol-3d-system-aprico-50: #e1c5b8;
@caparol-3d-system-aprico-45: #d7b1a3;
@caparol-3d-system-aprico-40: #a7897b;
@caparol-3d-system-aprico-35: #917365;
@caparol-3d-system-aprico-90: #f4cdbd;
@caparol-3d-system-aprico-85: #e7c0b0;
@caparol-3d-system-aprico-80: #eabfac;
@caparol-3d-system-aprico-75: #e4af97;
@caparol-3d-system-aprico-70: #bc9887;
@caparol-3d-system-aprico-65: #b38b79;
@caparol-3d-system-aprico-120: #e8ac90;
@caparol-3d-system-aprico-115: #efa988;
@caparol-3d-system-aprico-110: #e19d7b;
@caparol-3d-system-aprico-105: #c38f78;
@caparol-3d-system-aprico-100: #d08d6d;
@caparol-3d-system-aprico-95: #9f7058;
@caparol-3d-system-aprico-150: #ffb392;
@caparol-3d-system-aprico-145: #fd8751;
@caparol-3d-system-aprico-140: #ef7c4b;
@caparol-3d-system-aprico-135: #c87e5e;
@caparol-3d-system-aprico-130: #d27e54;
@caparol-3d-system-aprico-125: #c46b45;
@caparol-3d-system-aprico-180: #fae5d9;
@caparol-3d-system-aprico-175: #ffdbca;
@caparol-3d-system-perl-30: #f9e0d4;
@caparol-3d-system-perl-25: #e7c2ae;
@caparol-3d-system-perl-20: #e1b199;
@caparol-3d-system-perl-15: #d7ab93;
@caparol-3d-system-perl-10: #bd9883;
@caparol-3d-system-perl-5: #ac8c79;
@caparol-3d-system-perl-60: #fee5d8;
@caparol-3d-system-perl-55: #ffdbc7;
@caparol-3d-system-perl-50: #f8ceb9;
@caparol-3d-system-perl-45: #e7b599;
@caparol-3d-system-perl-40: #d3a58d;
@caparol-3d-system-ceramic-30: #d6c9c0;
@caparol-3d-system-cermic-25: #cbbaaf;
@caparol-3d-system-cermic-20: #bfac9f;
@caparol-3d-system-cermic-15: #c1a895;
@caparol-3d-system-cermic-10: #a68c7a;
@caparol-3d-system-cermic-5: #907663;
@caparol-3d-system-cermic-60: #f8e0d0;
@caparol-3d-system-cermic-55: #e1c9b8;
@caparol-3d-system-cermic-50: #e4c3ac;
@caparol-3d-system-cermic-45: #e1bda6;
@caparol-3d-system-cermic-40: #d4b5a1;
@caparol-3d-system-cermic-35: #c8a690;
@caparol-3d-system-cermic-90: #f9eee4;
@caparol-3d-system-cermic-85: #fce4d3;
@caparol-3d-system-cermic-80: #ffd9c0;
@caparol-3d-system-cermic-75: #f5cfb5;
@caparol-3d-system-cermic-70: #dfb08f;
@caparol-3d-system-cermic-65: #c69a7b;
@caparol-3d-system-cermic-105: #ffc8a2;
@caparol-3d-system-cermic-100: #fca665;
@caparol-3d-system-cermic-95: #fb831e;
@caparol-3d-system-kreide-30: #efebe6;
@caparol-3d-system-kreide-25: #ece7e1;
@caparol-3d-system-kreide-20: #e5ded7;
@caparol-3d-system-kreide-15: #dbd1ca;
@caparol-3d-system-kreide-10: #cec4bb;
@caparol-3d-system-kreide-5: #b1aba6;
@caparol-3d-system-siena-30: #eae5df;
@caparol-3d-system-siena-25: #e0dbd5;
@caparol-3d-system-siena-20: #c6bdb5;
@caparol-3d-system-siena-15: #a99d94;
@caparol-3d-system-siena-10: #918377;
@caparol-3d-system-siena-5: #7d6c5e;
@caparol-3d-system-siena-60: #f7ebdf;
@caparol-3d-system-siena-55: #e7d7c7;
@caparol-3d-system-siena-50: #dccec0;
@caparol-3d-system-siena-45: #c5b2a3;
@caparol-3d-system-siena-40: #aa9685;
@caparol-3d-system-siena-35: #917c6b;
@caparol-3d-system-siena-90: #e7cdb6;
@caparol-3d-system-siena-85: #d2baa4;
@caparol-3d-system-siena-80: #b5987e;
@caparol-3d-system-siena-75: #af8b6a;
@caparol-3d-system-siena-70: #9f7c5e;
@caparol-3d-system-siena-65: #86694f;
@caparol-3d-system-siena-120: #f8e3d1;
@caparol-3d-system-siena-115: #f8dcc7;
@caparol-3d-system-siena-110: #f0ccb0;
@caparol-3d-system-siena-105: #debda3;
@caparol-3d-system-siena-100: #ddb89e;
@caparol-3d-system-siena-95: #c4a488;
@caparol-3d-system-siena-150: #fee6d4;
@caparol-3d-system-siena-145: #ffdcc1;
@caparol-3d-system-siena-140: #ffcea5;
@caparol-3d-system-siena-135: #e0af84;
@caparol-3d-system-siena-130: #c5976c;
@caparol-3d-system-siena-125: #d2985f;
@caparol-3d-system-siena-175: #ffc491;
@caparol-3d-system-siena-170: #ffb874;
@caparol-3d-system-siena-165: #eaad7b;
@caparol-3d-system-siena-160: #e69b59;
@caparol-3d-system-siena-155: #c4803f;
@caparol-3d-system-falb-30: #f0ebe7;
@caparol-3d-system-falb-25: #ece7e1;
@caparol-3d-system-falb-20: #ded5cc;
@caparol-3d-system-falb-15: #d3c9c0;
@caparol-3d-system-falb-10: #c9bbaf;
@caparol-3d-system-falb-5: #bead9e;
@caparol-3d-system-falb-60: #f6e4d2;
@caparol-3d-system-falb-55: #dac6b4;
@caparol-3d-system-falb-50: #c0aa98;
@caparol-3d-system-falb-45: #c4aa95;
@caparol-3d-system-falb-40: #a7917d;
@caparol-3d-system-falb-35: #8f7761;
@caparol-3d-system-falb-80: #f5d3b5;
@caparol-3d-system-falb-75: #e5c5ab;
@caparol-3d-system-falb-70: #d9baa1;
@caparol-3d-system-falb-65: #ab8d72;
@caparol-3d-system-onyx-30: #e3e0dc;
@caparol-3d-system-onyx-25: #d7d2cc;
@caparol-3d-system-onyx-20: #d9d0c9;
@caparol-3d-system-onyx-15: #c9c4be;
@caparol-3d-system-onyx-10: #c3bcb4;
@caparol-3d-system-onyx-5: #b0aaa4;
@caparol-3d-system-onyx-60: #f4ece4;
@caparol-3d-system-onyx-55: #e5ded5;
@caparol-3d-system-onyx-50: #e2d7ce;
@caparol-3d-system-onyx-45: #bcb1a8;
@caparol-3d-system-onyx-40: #978d83;
@caparol-3d-system-onyx-35: #7e756c;
@caparol-3d-system-onyx-90: #f8ebde;
@caparol-3d-system-onyx-85: #f0e4d8;
@caparol-3d-system-onyx-80: #e7d7c6;
@caparol-3d-system-onyx-75: #e2cdb9;
@caparol-3d-system-onyx-70: #d1c1b0;
@caparol-3d-system-onyx-65: #b29a83;
@caparol-3d-system-onyx-120: #f9e9d7;
@caparol-3d-system-onyx-115: #edd6bf;
@caparol-3d-system-onyx-110: #e0c5a9;
@caparol-3d-system-onyx-105: #d7b592;
@caparol-3d-system-onyx-100: #b99d81;
@caparol-3d-system-onyx-95: #9c866f;
@caparol-3d-system-onyx-150: #fee4ce;
@caparol-3d-system-onyx-145: #f7dabe;
@caparol-3d-system-onyx-140: #eecca9;
@caparol-3d-system-onyx-135: #e2ba90;
@caparol-3d-system-onyx-130: #d3a87a;
@caparol-3d-system-onyx-125: #be9876;
@caparol-3d-system-onyx-180: #ffdebe;
@caparol-3d-system-onyx-175: #facea2;
@caparol-3d-system-onyx-170: #f3c18a;
@caparol-3d-system-onyx-165: #e4ae7c;
@caparol-3d-system-onyx-160: #c39664;
@caparol-3d-system-onyx-155: #bc884f;
@caparol-3d-system-onyx-210: #faf0e7;
@caparol-3d-system-onyx-205: #ffd2a1;
@caparol-3d-system-onyx-200: #ffc488;
@caparol-3d-system-onyx-195: #f3b36e;
@caparol-3d-system-onyx-190: #e5a259;
@caparol-3d-system-onyx-185: #dd9e5c;
@caparol-3d-system-onyx-230: #ffb75e;
@caparol-3d-system-onyx-225: #ffb653;
@caparol-3d-system-onyx-220: #ec9932;
@caparol-3d-system-caramel-30: #edebe6;
@caparol-3d-system-caramel-25: #ebe7e0;
@caparol-3d-system-caramel-20: #e0dad1;
@caparol-3d-system-caramel-15: #d4cbc0;
@caparol-3d-system-caramel-10: #c8bcaf;
@caparol-3d-system-caramel-5: #b9ac9b;
@caparol-3d-system-caramel-60: #f7ebdd;
@caparol-3d-system-caramel-55: #e7d7c5;
@caparol-3d-system-caramel-50: #d8c8b4;
@caparol-3d-system-caramel-45: #bbaa96;
@caparol-3d-system-caramel-40: #9f8c78;
@caparol-3d-system-caramel-35: #8d7960;
@caparol-3d-system-caramel-90: #fbf0e4;
@caparol-3d-system-caramel-85: #f7e5d0;
@caparol-3d-system-caramel-80: #fae2c9;
@caparol-3d-system-caramel-75: #ecd7bd;
@caparol-3d-system-caramel-70: #e0ccb2;
@caparol-3d-system-caramel-65: #d2b692;
@caparol-3d-system-caramel-120: #ffdeb5;
@caparol-3d-system-caramel-115: #ffd8a2;
@caparol-3d-system-caramel-110: #f8d19e;
@caparol-3d-system-caramel-105: #f7b23e;
@caparol-3d-system-caramel-100: #e9b068;
@caparol-3d-system-caramel-95: #cfa26c;
@caparol-3d-system-palazzo-30: #e9e6e0;
@caparol-3d-system-palazzo-25: #dcd8d2;
@caparol-3d-system-palazzo-20: #ccc9c4;
@caparol-3d-system-palazzo-15: #bebbb6;
@caparol-3d-system-palazzo-10: #b1ada7;
@caparol-3d-system-palazzo-5: #a6a19d;
@caparol-3d-system-palazzo-60: #ede7de;
@caparol-3d-system-palazzo-55: #e3dbd1;
@caparol-3d-system-palazzo-50: #d3cdc2;
@caparol-3d-system-palazzo-45: #c3bcb3;
@caparol-3d-system-palazzo-40: #b1aba3;
@caparol-3d-system-palazzo-35: #86817a;
@caparol-3d-system-palazzo-90: #f5ecdf;
@caparol-3d-system-palazzo-85: #c8beb1;
@caparol-3d-system-palazzo-80: #a49d91;
@caparol-3d-system-palazzo-75: #7f7a72;
@caparol-3d-system-palazzo-70: #635e56;
@caparol-3d-system-palazzo-65: #48433b;
@caparol-3d-system-palazzo-120: #ebdfce;
@caparol-3d-system-palazzo-115: #dbd2c6;
@caparol-3d-system-palazzo-110: #b8afa2;
@caparol-3d-system-palazzo-105: #aba192;
@caparol-3d-system-palazzo-100: #988d7d;
@caparol-3d-system-palazzo-95: #8b8376;
@caparol-3d-system-palazzo-150: #dfcfb7;
@caparol-3d-system-palazzo-145: #c8baa4;
@caparol-3d-system-palazzo-140: #b0a18a;
@caparol-3d-system-palazzo-135: #8c7e69;
@caparol-3d-system-palazzo-130: #706656;
@caparol-3d-system-palazzo-125: #5b5142;
@caparol-3d-system-palazzo-180: #faead3;
@caparol-3d-system-palazzo-175: #ead4b4;
@caparol-3d-system-palazzo-170: #d2bfa1;
@caparol-3d-system-palazzo-165: #9b8c73;
@caparol-3d-system-palazzo-160: #7d6f58;
@caparol-3d-system-palazzo-155: #6c5e4a;
@caparol-3d-system-palazzo-210: #f8e4c6;
@caparol-3d-system-palazzo-205: #e1c59d;
@caparol-3d-system-palazzo-200: #c6ae8a;
@caparol-3d-system-palazzo-195: #b89f78;
@caparol-3d-system-palazzo-190: #977e56;
@caparol-3d-system-palazzo-185: #755d3a;
@caparol-3d-system-palazzo-240: #f9eedc;
@caparol-3d-system-palazzo-235: #fddfb4;
@caparol-3d-system-palazzo-230: #f4d2a0;
@caparol-3d-system-palazzo-225: #d4b589;
@caparol-3d-system-palazzo-220: #caac7e;
@caparol-3d-system-palazzo-215: #ac8b52;
@caparol-3d-system-palazzo-270: #ffdb9f;
@caparol-3d-system-palazzo-265: #f8cf8f;
@caparol-3d-system-palazzo-260: #e1ba7e;
@caparol-3d-system-palazzo-255: #d5ab67;
@caparol-3d-system-palazzo-250: #b18a45;
@caparol-3d-system-palazzo-245: #9b7a46;
@caparol-3d-system-palazzo-300: #ffd890;
@caparol-3d-system-palazzo-295: #eebf74;
@caparol-3d-system-palazzo-290: #deac57;
@caparol-3d-system-palazzo-285: #d3a34b;
@caparol-3d-system-palazzo-280: #9b7537;
@caparol-3d-system-palazzo-330: #ffd379;
@caparol-3d-system-palazzo-325: #ffcd78;
@caparol-3d-system-palazzo-320: #e4ae3f;
@caparol-3d-system-palazzo-315: #c6973e;
@caparol-3d-system-palazzo-310: #c39033;
@caparol-3d-system-palazzo-305: #b5863b;
@caparol-3d-system-palazzo-360: #ffcf60;
@caparol-3d-system-palazzo-355: #fcbc33;
@caparol-3d-system-palazzo-350: #ffba00;
@caparol-3d-system-palazzo-345: #e5ae2c;
@caparol-3d-system-palazzo-340: #ce9832;
@caparol-3d-system-ginster-30: #efebe5;
@caparol-3d-system-ginster-25: #eee8e0;
@caparol-3d-system-ginster-20: #dfd8ce;
@caparol-3d-system-ginster-15: #cec5b8;
@caparol-3d-system-ginster-10: #c1b6a6;
@caparol-3d-system-ginster-5: #b4a996;
@caparol-3d-system-ginster-60: #f3e6cf;
@caparol-3d-system-ginster-55: #e4d8c1;
@caparol-3d-system-ginster-50: #d7cab2;
@caparol-3d-system-ginster-45: #b7aa93;
@caparol-3d-system-ginster-40: #9b8e76;
@caparol-3d-system-ginster-35: #8c7c60;
@caparol-3d-system-ginster-90: #faecd0;
@caparol-3d-system-ginster-85: #f1debb;
@caparol-3d-system-ginster-80: #e0cda7;
@caparol-3d-system-ginster-75: #d0be9c;
@caparol-3d-system-ginster-70: #c2ac82;
@caparol-3d-system-ginster-65: #a69064;
@caparol-3d-system-ginster-120: #fbe7c1;
@caparol-3d-system-ginster-115: #f5ddae;
@caparol-3d-system-ginster-110: #f1d393;
@caparol-3d-system-ginster-105: #f7d28d;
@caparol-3d-system-ginster-100: #e5c480;
@caparol-3d-system-ginster-95: #dabf8d;
@caparol-3d-system-ginster-150: #fdde97;
@caparol-3d-system-ginster-145: #ffd460;
@caparol-3d-system-ginster-140: #f8ce6d;
@caparol-3d-system-ginster-135: #facb48;
@caparol-3d-system-ginster-130: #f1bb00;
@caparol-3d-system-ginster-125: #e9b000;
@caparol-3d-system-curry-30: #f9f1df;
@caparol-3d-system-curry-25: #f4eedf;
@caparol-3d-system-curry-20: #e9e2d3;
@caparol-3d-system-curry-15: #dfd7c5;
@caparol-3d-system-curry-10: #cfc5ad;
@caparol-3d-system-curry-5: #beb196;
@caparol-3d-system-curry-55: #f7ecd1;
@caparol-3d-system-curry-50: #eaddbb;
@caparol-3d-system-curry-45: #dac99d;
@caparol-3d-system-curry-40: #c2b180;
@caparol-3d-system-curry-35: #a49162;
@caparol-3d-system-curry-90: #fbedc7;
@caparol-3d-system-curry-85: #fbeac1;
@caparol-3d-system-curry-80: #efddb1;
@caparol-3d-system-curry-75: #e2ce9b;
@caparol-3d-system-curry-70: #d4bf81;
@caparol-3d-system-curry-65: #beaa72;
@caparol-3d-system-curry-120: #fae6af;
@caparol-3d-system-curry-115: #f5dd91;
@caparol-3d-system-curry-110: #eed592;
@caparol-3d-system-curry-105: #e4c77b;
@caparol-3d-system-curry-100: #c3ab63;
@caparol-3d-system-curry-95: #b59a3a;
@caparol-3d-system-curry-145: #fbe089;
@caparol-3d-system-curry-140: #f8d75f;
@caparol-3d-system-curry-135: #edcf6a;
@caparol-3d-system-curry-130: #e5c132;
@caparol-3d-system-curry-125: #d2b231;
@caparol-3d-system-melisse-30: #f7f0dd;
@caparol-3d-system-melisse-25: #f3ecdd;
@caparol-3d-system-melisse-20: #efece6;
@caparol-3d-system-melisse-15: #e9e6dd;
@caparol-3d-system-melisse-10: #dcd9cf;
@caparol-3d-system-melisse-5: #cecac0;
@caparol-3d-system-melisse-60: #f8f3e6;
@caparol-3d-system-melisse-55: #f4edd8;
@caparol-3d-system-melisse-50: #e8e1c9;
@caparol-3d-system-melisse-45: #dfd9c1;
@caparol-3d-system-melisse-40: #d0caaf;
@caparol-3d-system-melisse-35: #b7ad8d;
@caparol-3d-system-melisse-90: #f7f0d3;
@caparol-3d-system-melisse-85: #f7e9b2;
@caparol-3d-system-melisse-80: #dbcf99;
@caparol-3d-system-melisse-75: #b9ab76;
@caparol-3d-system-melisse-70: #9a9374;
@caparol-3d-system-melisse-65: #7d754d;
@caparol-3d-system-melisse-120: #f7edc1;
@caparol-3d-system-melisse-115: #f4e672;
@caparol-3d-system-melisse-110: #f1dd4f;
@caparol-3d-system-melisse-105: #e7d24c;
@caparol-3d-system-melisse-100: #cfbb35;
@caparol-3d-system-melisse-95: #c6b12f;
@caparol-3d-system-soja-30: #f5f1de;
@caparol-3d-system-soja-25: #f7f2db;
@caparol-3d-system-soja-20: #f7f0d3;
@caparol-3d-system-soja-15: #ebe5cf;
@caparol-3d-system-soja-10: #cec9b9;
@caparol-3d-system-soja-5: #beb9a3;
@caparol-3d-system-tundra-30: #efecdf;
@caparol-3d-system-tundra-25: #e5e0d1;
@caparol-3d-system-tundra-20: #c0bcaf;
@caparol-3d-system-tundra-15: #908d81;
@caparol-3d-system-tundra-10: #7a776b;
@caparol-3d-system-tundra-5: #5d5d59;
@caparol-3d-system-tundra-60: #f7f5e6;
@caparol-3d-system-tundra-55: #f1ecd8;
@caparol-3d-system-tundra-50: #dad8c7;
@caparol-3d-system-tundra-45: #d0ccb3;
@caparol-3d-system-tundra-40: #c3bc9e;
@caparol-3d-system-tundra-35: #ada48b;
@caparol-3d-system-tundra-90: #e0dab9;
@caparol-3d-system-tundra-85: #b6af8d;
@caparol-3d-system-tundra-80: #999368;
@caparol-3d-system-tundra-75: #858461;
@caparol-3d-system-tundra-70: #79785f;
@caparol-3d-system-tundra-65: #636044;
@caparol-3d-system-tundra-120: #d4cc92;
@caparol-3d-system-tundra-115: #c4bd8e;
@caparol-3d-system-tundra-110: #a8a063;
@caparol-3d-system-tundra-105: #989256;
@caparol-3d-system-tundra-100: #867f4b;
@caparol-3d-system-tundra-95: #7e7a4e;
@caparol-3d-system-tundra-150: #f6f0b9;
@caparol-3d-system-tundra-145: #f1e96b;
@caparol-3d-system-tundra-140: #e5de4d;
@caparol-3d-system-tundra-135: #d4cd46;
@caparol-3d-system-tundra-130: #c5be45;
@caparol-3d-system-tundra-125: #a59d46;
@caparol-3d-system-mai-30: #f3f0e5;
@caparol-3d-system-mai-25: #dfddd2;
@caparol-3d-system-mai-20: #c8c6bb;
@caparol-3d-system-mai-15: #aba9a0;
@caparol-3d-system-mai-10: #85827c;
@caparol-3d-system-mai-05: #706d68;
@caparol-3d-system-mai-60: #f5f1da;
@caparol-3d-system-mai-55: #e8e2c9;
@caparol-3d-system-mai-50: #cdcab3;
@caparol-3d-system-mai-45: #bab79f;
@caparol-3d-system-mai-40: #9a9981;
@caparol-3d-system-mai-35: #86836c;
@caparol-3d-system-mai-90: #e6e37e;
@caparol-3d-system-mai-85: #d9de8c;
@caparol-3d-system-mai-80: #cccd5b;
@caparol-3d-system-mai-75: #bdc540;
@caparol-3d-system-mai-70: #b0b550;
@caparol-3d-system-mai-65: #acad77;
@caparol-3d-system-jade-30: #edebe5;
@caparol-3d-system-jade-25: #e2e0da;
@caparol-3d-system-jade-20: #d9d8d1;
@caparol-3d-system-jade-15: #d4d3cb;
@caparol-3d-system-jade-10: #bebeb7;
@caparol-3d-system-jade-5: #b0b0aa;
@caparol-3d-system-jade-60: #eeece2;
@caparol-3d-system-jade-55: #d9d8d0;
@caparol-3d-system-jade-50: #cecdc4;
@caparol-3d-system-jade-45: #c1c0b2;
@caparol-3d-system-jade-40: #b3b3a7;
@caparol-3d-system-jade-35: #93948d;
@caparol-3d-system-jade-90: #efefd9;
@caparol-3d-system-jade-85: #e1e1c7;
@caparol-3d-system-jade-80: #d1d3b1;
@caparol-3d-system-jade-75: #bcbca4;
@caparol-3d-system-jade-70: #a3a38e;
@caparol-3d-system-jade-65: #828466;
@caparol-3d-system-jade-120: #e3e9a4;
@caparol-3d-system-jade-115: #dce3ac;
@caparol-3d-system-jade-110: #d8dbaa;
@caparol-3d-system-jade-105: #b9c08e;
@caparol-3d-system-jade-100: #9ea37c;
@caparol-3d-system-herba-30: #f1f2e7;
@caparol-3d-system-herba-25: #dde0d0;
@caparol-3d-system-herba-20: #c8cbb3;
@caparol-3d-system-herba-15: #b2b49c;
@caparol-3d-system-herba-10: #9ea38a;
@caparol-3d-system-herba-5: #92977e;
@caparol-3d-system-herba-60: #f1f3df;
@caparol-3d-system-herba-55: #d5e6a7;
@caparol-3d-system-herba-50: #d6e598;
@caparol-3d-system-herba-45: #b5ca5d;
@caparol-3d-system-herba-40: #a0bb4a;
@caparol-3d-system-moos-30: #e8e6e1;
@caparol-3d-system-moos-25: #d5d7d1;
@caparol-3d-system-moos-20: #a7a7a4;
@caparol-3d-system-moos-15: #8b8c86;
@caparol-3d-system-moos-10: #73746d;
@caparol-3d-system-moos-5: #5f605a;
@caparol-3d-system-moos-60: #dde0d1;
@caparol-3d-system-moos-55: #d1d3ca;
@caparol-3d-system-moos-50: #bebfb4;
@caparol-3d-system-moos-45: #babbb4;
@caparol-3d-system-moos-40: #a8ab9d;
@caparol-3d-system-moos-35: #969b87;
@caparol-3d-system-moos-90: #eeefdd;
@caparol-3d-system-moos-85: #d6dbc2;
@caparol-3d-system-moos-80: #c9cdb8;
@caparol-3d-system-moos-75: #b0b49e;
@caparol-3d-system-moos-70: #9aa67b;
@caparol-3d-system-moos-120: #e7f0d0;
@caparol-3d-system-moos-115: #e2ebc5;
@caparol-3d-system-moos-110: #c5d09f;
@caparol-3d-system-moos-105: #a7b385;
@caparol-3d-system-moos-100: #9eb371;
@caparol-3d-system-moos-95: #869f4b;
@caparol-3d-system-oase-30: #e5e6df;
@caparol-3d-system-oase-25: #d8dbd2;
@caparol-3d-system-oase-20: #c6ccc1;
@caparol-3d-system-oase-15: #a9b0a2;
@caparol-3d-system-oase-10: #9ca396;
@caparol-3d-system-oase-5: #868f7f;
@caparol-3d-system-oase-60: #eaede4;
@caparol-3d-system-oase-55: #d7ddd1;
@caparol-3d-system-oase-50: #b4bfa8;
@caparol-3d-system-oase-45: #788468;
@caparol-3d-system-oase-40: #5b6455;
@caparol-3d-system-oase-35: #4d5549;
@caparol-3d-system-oase-90: #e5e9dc;
@caparol-3d-system-oase-85: #d5dccb;
@caparol-3d-system-oase-80: #c6cfbb;
@caparol-3d-system-oase-75: #93a284;
@caparol-3d-system-oase-70: #5c6d52;
@caparol-3d-system-oase-65: #495a41;
@caparol-3d-system-oase-120: #e6f1d6;
@caparol-3d-system-oase-115: #b2c59f;
@caparol-3d-system-oase-110: #a6c68f;
@caparol-3d-system-oase-105: #818f6b;
@caparol-3d-system-oase-100: #5e7c50;
@caparol-3d-system-oase-95: #4b6740;
@caparol-3d-system-oase-150: #b0d891;
@caparol-3d-system-oase-145: #90c869;
@caparol-3d-system-oase-140: #81b851;
@caparol-3d-system-oase-135: #83a769;
@caparol-3d-system-oase-130: #679c4c;
@caparol-3d-system-oase-125: #557e44;
@caparol-3d-system-agave-30: #eeeee6;
@caparol-3d-system-agave-25: #d8d9d2;
@caparol-3d-system-agave-20: #cacbc4;
@caparol-3d-system-agave-15: #b0b0aa;
@caparol-3d-system-agave-10: #959690;
@caparol-3d-system-agave-5: #787975;
@caparol-3d-system-agave-60: #f4f3ee;
@caparol-3d-system-agave-55: #ebefe5;
@caparol-3d-system-agave-50: #dee2d7;
@caparol-3d-system-agave-45: #c7cdc3;
@caparol-3d-system-agave-40: #abb4a7;
@caparol-3d-system-agave-35: #8b9586;
@caparol-3d-system-agave-90: #e2e8e0;
@caparol-3d-system-agave-85: #d2dccd;
@caparol-3d-system-agave-80: #c9dfc5;
@caparol-3d-system-agave-75: #b3c1ac;
@caparol-3d-system-agave-70: #a7c39c;
@caparol-3d-system-agave-65: #92a488;
@caparol-3d-system-agave-120: #e8f3e6;
@caparol-3d-system-agave-115: #e0f1d9;
@caparol-3d-system-agave-110: #cfecc4;
@caparol-3d-system-agave-105: #aee0ad;
@caparol-3d-system-agave-100: #85ab7b;
@caparol-3d-system-agave-95: #5d9052;
@caparol-3d-system-agave-140: #97cd8b;
@caparol-3d-system-agave-135: #79c26e;
@caparol-3d-system-agave-130: #78b970;
@caparol-3d-system-agave-125: #56ab53;
@caparol-3d-system-palm-30: #9db8a5;
@caparol-3d-system-palm-25: #839b85;
@caparol-3d-system-palm-20: #737a73;
@caparol-3d-system-palm-15: #5e6c5f;
@caparol-3d-system-palm-10: #5a615b;
@caparol-3d-system-palm-5: #536159;
@caparol-3d-system-palm-60: #5e7e67;
@caparol-3d-system-palm-55: #4d805e;
@caparol-3d-system-palm-50: #3f7151;
@caparol-3d-system-palm-45: #44624e;
@caparol-3d-system-palm-40: #356444;
@caparol-3d-system-palm-35: #355442;
@caparol-3d-system-palm-75: #408154;
@caparol-3d-system-palm-70: #2e7447;
@caparol-3d-system-palm-65: #216d40;
@caparol-3d-system-mint-30: #eeede8;
@caparol-3d-system-mint-25: #e1e4de;
@caparol-3d-system-mint-20: #d4d9d3;
@caparol-3d-system-mint-15: #c4ccc5;
@caparol-3d-system-mint-10: #a6aea7;
@caparol-3d-system-mint-5: #8e948e;
@caparol-3d-system-mint-60: #e1e8df;
@caparol-3d-system-mint-55: #bfcfc2;
@caparol-3d-system-mint-50: #a5b5ac;
@caparol-3d-system-mint-45: #8da492;
@caparol-3d-system-mint-40: #728e78;
@caparol-3d-system-mint-35: #737f71;
@caparol-3d-system-mint-90: #cfe9d5;
@caparol-3d-system-mint-85: #8db79c;
@caparol-3d-system-mint-80: #7abc97;
@caparol-3d-system-mint-75: #5aa076;
@caparol-3d-system-mint-70: #4e8666;
@caparol-3d-system-mint-65: #32895e;
@caparol-3d-system-patina-30: #ededea;
@caparol-3d-system-patina-25: #d5dad6;
@caparol-3d-system-patina-20: #c1cdc7;
@caparol-3d-system-patina-15: #b2c0ba;
@caparol-3d-system-patina-10: #9db1aa;
@caparol-3d-system-patina-5: #78938b;
@caparol-3d-system-patina-60: #c5dad3;
@caparol-3d-system-patina-55: #aec3bc;
@caparol-3d-system-patina-50: #8c9c95;
@caparol-3d-system-patina-45: #586d67;
@caparol-3d-system-patina-40: #3f554f;
@caparol-3d-system-patina-35: #4c5451;
@caparol-3d-system-patina-90: #e8efe8;
@caparol-3d-system-patina-85: #a5d4c7;
@caparol-3d-system-patina-80: #a8c5bb;
@caparol-3d-system-patina-75: #86a69c;
@caparol-3d-system-patina-70: #5e7d73;
@caparol-3d-system-patina-65: #2b594f;
@caparol-3d-system-patina-120: #81b8a8;
@caparol-3d-system-patina-115: #63bca6;
@caparol-3d-system-patina-110: #5a9b8b;
@caparol-3d-system-patina-105: #379e89;
@caparol-3d-system-patina-100: #368473;
@caparol-3d-system-patina-95: #257565;
@caparol-3d-system-verona-30: #ecede8;
@caparol-3d-system-verona-25: #e7e7e2;
@caparol-3d-system-verona-20: #d9d9d7;
@caparol-3d-system-verona-15: #d2d5d1;
@caparol-3d-system-verona-10: #cacbc9;
@caparol-3d-system-verona-5: #adb0ae;
@caparol-3d-system-verona-60: #dee5e1;
@caparol-3d-system-verona-55: #d4dbd9;
@caparol-3d-system-verona-50: #c2c6c3;
@caparol-3d-system-verona-45: #b1b8b6;
@caparol-3d-system-verona-40: #8f9896;
@caparol-3d-system-verona-35: #586161;
@caparol-3d-system-verona-90: #dfeee9;
@caparol-3d-system-verona-85: #cddbd7;
@caparol-3d-system-verona-80: #a5b2b1;
@caparol-3d-system-verona-75: #80908f;
@caparol-3d-system-verona-70: #637978;
@caparol-3d-system-verona-65: #325d5d;
@caparol-3d-system-verona-120: #d4ece8;
@caparol-3d-system-verona-115: #b1d4d0;
@caparol-3d-system-verona-110: #99b6b5;
@caparol-3d-system-verona-105: #669a9a;
@caparol-3d-system-verona-100: #587c7b;
@caparol-3d-system-verona-95: #377e80;
@caparol-3d-system-verona-145: #83c9c6;
@caparol-3d-system-verona-135: #1f9194;
@caparol-3d-system-verona-125: #00706e;
@caparol-3d-system-arctis-30: #e2e4e2;
@caparol-3d-system-arctis-25: #d4dad9;
@caparol-3d-system-arctis-20: #b8bfbf;
@caparol-3d-system-arctis-15: #9da4a6;
@caparol-3d-system-arctis-10: #7e8689;
@caparol-3d-system-arctis-5: #636b6d;
@caparol-3d-system-arctis-60: #e4e9e7;
@caparol-3d-system-arctis-55: #c5cdce;
@caparol-3d-system-arctis-50: #a7b2b3;
@caparol-3d-system-arctis-45: #859399;
@caparol-3d-system-arctis-40: #6c797e;
@caparol-3d-system-arctis-35: #657e86;
@caparol-3d-system-arctis-90: #ccdcdd;
@caparol-3d-system-arctis-85: #c1dde1;
@caparol-3d-system-arctis-80: #bdced1;
@caparol-3d-system-arctis-75: #a2c3ca;
@caparol-3d-system-arctis-70: #99b2b8;
@caparol-3d-system-arctis-65: #7d99a0;
@caparol-3d-system-arctis-120: #bfe1eb;
@caparol-3d-system-arctis-115: #aad1d9;
@caparol-3d-system-arctis-110: #80c4d3;
@caparol-3d-system-arctis-105: #84a8b1;
@caparol-3d-system-arctis-100: #668993;
@caparol-3d-system-arctis-95: #42727d;
@caparol-3d-system-coelin-25: #eaedec;
@caparol-3d-system-coelin-20: #e1e2e1;
@caparol-3d-system-coelin-15: #d0d3d3;
@caparol-3d-system-coelin-10: #c4c7c8;
@caparol-3d-system-coelin-5: #b4b9bb;
@caparol-3d-system-coelin-55: #e0e9e9;
@caparol-3d-system-coelin-50: #d2dadc;
@caparol-3d-system-coelin-45: #c3ced2;
@caparol-3d-system-coelin-40: #b6c1c5;
@caparol-3d-system-coelin-35: #a5b4b9;
@caparol-3d-system-coelin-90: #d4eaef;
@caparol-3d-system-coelin-85: #bddce7;
@caparol-3d-system-coelin-80: #b0d1de;
@caparol-3d-system-coelin-75: #a2c6d4;
@caparol-3d-system-coelin-70: #92b7c7;
@caparol-3d-system-coelin-65: #85aab9;
@caparol-3d-system-coelin-115: #9ad5ea;
@caparol-3d-system-coelin-110: #85c8e0;
@caparol-3d-system-coelin-105: #6aafc6;
@caparol-3d-system-coelin-100: #4093ac;
@caparol-3d-system-coelin-95: #0f7491;
@caparol-3d-system-pacific-30: #dcdedd;
@caparol-3d-system-pacific-25: #cbcccc;
@caparol-3d-system-pacific-20: #b8bcbd;
@caparol-3d-system-pacific-15: #99a2a7;
@caparol-3d-system-pacific-10: #575f64;
@caparol-3d-system-pacific-5: #434b50;
@caparol-3d-system-pacific-60: #e1e4e3;
@caparol-3d-system-pacific-55: #cfd3d4;
@caparol-3d-system-pacific-50: #bec5c7;
@caparol-3d-system-pacific-45: #78858c;
@caparol-3d-system-pacific-40: #636d76;
@caparol-3d-system-pacific-35: #51626d;
@caparol-3d-system-pacific-90: #e5eded;
@caparol-3d-system-pacific-85: #dde6e7;
@caparol-3d-system-pacific-80: #c0cdd3;
@caparol-3d-system-pacific-75: #a4b2bb;
@caparol-3d-system-pacific-70: #a1b1bb;
@caparol-3d-system-pacific-65: #98a3aa;
@caparol-3d-system-pacific-120: #bbced7;
@caparol-3d-system-pacific-115: #b7ceda;
@caparol-3d-system-pacific-110: #8194a1;
@caparol-3d-system-pacific-105: #869cab;
@caparol-3d-system-pacific-100: #46606f;
@caparol-3d-system-pacific-95: #234255;
@caparol-3d-system-pacific-150: #b0cfde;
@caparol-3d-system-pacific-145: #9ab2c1;
@caparol-3d-system-pacific-140: #7b96a6;
@caparol-3d-system-pacific-135: #5f7c8e;
@caparol-3d-system-pacific-130: #37667a;
@caparol-3d-system-pacific-125: #2b5467;
@caparol-3d-system-pacific-180: #9fd1e8;
@caparol-3d-system-pacific-175: #70a9c4;
@caparol-3d-system-pacific-170: #7099af;
@caparol-3d-system-pacific-165: #488fae;
@caparol-3d-system-pacific-160: #537d93;
@caparol-3d-system-pacific-155: #1e7190;
@caparol-3d-system-marin-30: #e9e9e7;
@caparol-3d-system-marin-25: #e6e7e6;
@caparol-3d-system-marin-20: #d6dbde;
@caparol-3d-system-marin-15: #c5cdd4;
@caparol-3d-system-marin-10: #b5c1cb;
@caparol-3d-system-marin-5: #a3b3c0;
@caparol-3d-system-marin-60: #e1ebef;
@caparol-3d-system-marin-55: #cddbe6;
@caparol-3d-system-marin-50: #bacedd;
@caparol-3d-system-marin-45: #a1b4c6;
@caparol-3d-system-marin-40: #8397aa;
@caparol-3d-system-marin-35: #647a8e;
@caparol-3d-system-marin-90: #d6e5ec;
@caparol-3d-system-marin-85: #b9d0e1;
@caparol-3d-system-marin-80: #a4c3dc;
@caparol-3d-system-marin-75: #6eb3dd;
@caparol-3d-system-marin-70: #428fbd;
@caparol-3d-system-marin-65: #0f7ca7;
@caparol-3d-system-lazur-30: #e6e7e4;
@caparol-3d-system-lazur-25: #d8d8d7;
@caparol-3d-system-lazur-20: #c9cacb;
@caparol-3d-system-lazur-15: #adb0b6;
@caparol-3d-system-lazur-10: #959aa2;
@caparol-3d-system-lazur-5: #7f8590;
@caparol-3d-system-lazur-60: #eff0ee;
@caparol-3d-system-lazur-55: #eceeed;
@caparol-3d-system-lazur-50: #e7e9e9;
@caparol-3d-system-lazur-45: #e1e6e9;
@caparol-3d-system-lazur-40: #d3d9df;
@caparol-3d-system-lazur-35: #c5cdd6;
@caparol-3d-system-lazur-90: #c3cdd8;
@caparol-3d-system-lazur-85: #a8b0bc;
@caparol-3d-system-lazur-80: #8893a5;
@caparol-3d-system-lazur-75: #737b87;
@caparol-3d-system-lazur-70: #545f6e;
@caparol-3d-system-lazur-65: #4b5764;
@caparol-3d-system-lazur-120: #bfcdde;
@caparol-3d-system-lazur-115: #afbfd2;
@caparol-3d-system-lazur-110: #8a98aa;
@caparol-3d-system-lazur-105: #6a7b93;
@caparol-3d-system-lazur-100: #5b6c82;
@caparol-3d-system-lazur-95: #405266;
@caparol-3d-system-lazur-150: #a2b1c5;
@caparol-3d-system-lazur-145: #9db2cd;
@caparol-3d-system-lazur-140: #8396ad;
@caparol-3d-system-lazur-135: #7b97b7;
@caparol-3d-system-lazur-130: #546c89;
@caparol-3d-system-lazur-125: #395975;
@caparol-3d-system-lazur-175: #91b5da;
@caparol-3d-system-lazur-170: #7798bd;
@caparol-3d-system-lazur-165: #5e7ea2;
@caparol-3d-system-lazur-160: #4b6d92;
@caparol-3d-system-lazur-155: #2a5a7d;
@caparol-3d-system-lazur-205: #7199c4;
@caparol-3d-system-lazur-200: #6399cd;
@caparol-3d-system-lazur-195: #527faa;
@caparol-3d-system-lazur-190: #2a638d;
@caparol-3d-system-lazur-185: #255f8e;
@caparol-3d-system-astra-30: #e5e6e7;
@caparol-3d-system-astra-25: #dee0e5;
@caparol-3d-system-astra-20: #d7dbdf;
@caparol-3d-system-astra-15: #c6cbd3;
@caparol-3d-system-astra-10: #b9bcc2;
@caparol-3d-system-astra-5: #9ca1aa;
@caparol-3d-system-astra-60: #e5eaee;
@caparol-3d-system-astra-55: #e9ecee;
@caparol-3d-system-astra-50: #d9e3ec;
@caparol-3d-system-astra-45: #d5dae3;
@caparol-3d-system-astra-40: #b6bdc9;
@caparol-3d-system-astra-35: #a5b0bf;
@caparol-3d-system-astra-80: #c0ccde;
@caparol-3d-system-astra-75: #a3afc4;
@caparol-3d-system-astra-70: #8795ab;
@caparol-3d-system-astra-65: #69768d;
@caparol-3d-system-aquarell-30: #edece9;
@caparol-3d-system-aquarell-25: #e8e8e7;
@caparol-3d-system-aquarell-20: #d8d8d9;
@caparol-3d-system-aquarell-15: #cbccd1;
@caparol-3d-system-aquarell-10: #bcbec4;
@caparol-3d-system-aquarell-5: #9ea2ac;
@caparol-3d-system-aquarell-60: #ececed;
@caparol-3d-system-aquarell-55: #e6e7ea;
@caparol-3d-system-aquarell-50: #d8d9de;
@caparol-3d-system-aquarell-45: #c7ccd4;
@caparol-3d-system-aquarell-40: #b2b5c0;
@caparol-3d-system-aquarell-35: #a8afbf;
@caparol-3d-system-aquarell-90: #e3e9ef;
@caparol-3d-system-aquarell-85: #d0d7e7;
@caparol-3d-system-aquarell-80: #c2cbdd;
@caparol-3d-system-aquarell-75: #a5b0c5;
@caparol-3d-system-aquarell-70: #8a94ab;
@caparol-3d-system-aquarell-65: #717a91;
@caparol-3d-system-aquarell-120: #edeeef;
@caparol-3d-system-aquarell-115: #e2e6ed;
@caparol-3d-system-aquarell-110: #b9cae7;
@caparol-3d-system-aquarell-105: #a3bce4;
@caparol-3d-system-aquarell-100: #7698cc;
@caparol-3d-system-aquarell-95: #6083ba;
@caparol-3d-system-lavendel-30: #e5e4e6;
@caparol-3d-system-lavendel-25: #d9d8dd;
@caparol-3d-system-lavendel-20: #cccbd1;
@caparol-3d-system-lavendel-15: #bcbdc8;
@caparol-3d-system-lavendel-10: #b0afba;
@caparol-3d-system-lavendel-5: #95959d;
@caparol-3d-system-lavendel-60: #e6e7ed;
@caparol-3d-system-lavendel-55: #cdcfda;
@caparol-3d-system-lavendel-50: #a2a3af;
@caparol-3d-system-lavendel-45: #777882;
@caparol-3d-system-lavendel-40: #5d5d66;
@caparol-3d-system-lavendel-35: #494a52;
@caparol-3d-system-lavendel-90: #a9aec5;
@caparol-3d-system-lavendel-85: #9fa3bb;
@caparol-3d-system-lavendel-80: #999eb8;
@caparol-3d-system-lavendel-75: #7d819b;
@caparol-3d-system-lavendel-70: #656b83;
@caparol-3d-system-lavendel-65: #4d5269;
@caparol-3d-system-lavendel-120: #e2e3ed;
@caparol-3d-system-lavendel-115: #d6d7e5;
@caparol-3d-system-lavendel-110: #b8bacb;
@caparol-3d-system-lavendel-105: #b5b8d4;
@caparol-3d-system-lavendel-100: #7d83a6;
@caparol-3d-system-lavendel-95: #5a607f;
@caparol-3d-system-lavendel-150: #cfd4eb;
@caparol-3d-system-lavendel-145: #ced2e8;
@caparol-3d-system-lavendel-140: #c3c9e8;
@caparol-3d-system-lavendel-135: #b1b9da;
@caparol-3d-system-lavendel-130: #abb0cf;
@caparol-3d-system-lavendel-125: #989fc1;
@caparol-3d-system-lavendel-180: #8b95c3;
@caparol-3d-system-lavendel-175: #6977ab;
@caparol-3d-system-lavendel-170: #4f5b84;
@caparol-3d-system-lavendel-165: #495a89;
@caparol-3d-system-lavendel-160: #40507c;
@caparol-3d-system-lavendel-155: #3a4362;
@caparol-3d-system-litho-30: #eceae9;
@caparol-3d-system-litho-25: #e0dde0;
@caparol-3d-system-litho-20: #bfbec4;
@caparol-3d-system-litho-15: #a7a6b2;
@caparol-3d-system-litho-10: #88869a;
@caparol-3d-system-litho-5: #67657e;
@caparol-3d-system-amethyst-30: #e7e5e3;
@caparol-3d-system-amethyst-25: #e1dfde;
@caparol-3d-system-amethyst-20: #c3c1c5;
@caparol-3d-system-amethyst-15: #979499;
@caparol-3d-system-amethyst-10: #5c5c5e;
@caparol-3d-system-amethyst-5: #49484a;
@caparol-3d-system-amethyst-60: #ebe6e8;
@caparol-3d-system-amethyst-55: #dad6dc;
@caparol-3d-system-amethyst-50: #bebac3;
@caparol-3d-system-amethyst-45: #b4aeb9;
@caparol-3d-system-amethyst-40: #95929c;
@caparol-3d-system-amethyst-35: #64616a;
@caparol-3d-system-amethyst-90: #e9e5ea;
@caparol-3d-system-amethyst-85: #cec8d2;
@caparol-3d-system-amethyst-80: #b2acbd;
@caparol-3d-system-amethyst-75: #6f687f;
@caparol-3d-system-amethyst-70: #615b6d;
@caparol-3d-system-amethyst-65: #474353;
@caparol-3d-system-amethyst-120: #eae4ee;
@caparol-3d-system-amethyst-115: #d0c9dc;
@caparol-3d-system-amethyst-110: #958ea2;
@caparol-3d-system-amethyst-105: #7c7092;
@caparol-3d-system-amethyst-100: #5f5772;
@caparol-3d-system-amethyst-95: #483f61;
@caparol-3d-system-atmo-25: #efebeb;
@caparol-3d-system-atmo-20: #eae3e7;
@caparol-3d-system-atmo-15: #cec9d1;
@caparol-3d-system-atmo-10: #c1bac4;
@caparol-3d-system-atmo-5: #b3aeb9;
@caparol-3d-system-viola-30: #f0ede9;
@caparol-3d-system-viola-25: #e9e5e2;
@caparol-3d-system-viola-20: #d9d6d8;
@caparol-3d-system-viola-15: #c0bbbe;
@caparol-3d-system-viola-10: #a89fa8;
@caparol-3d-system-viola-5: #8a808c;
@caparol-3d-system-viola-60: #f4ecee;
@caparol-3d-system-viola-55: #e1d7dd;
@caparol-3d-system-viola-50: #c6b9c5;
@caparol-3d-system-viola-45: #aa9bab;
@caparol-3d-system-viola-40: #8b7d8b;
@caparol-3d-system-viola-35: #655868;
@caparol-3d-system-viola-90: #e5d4e2;
@caparol-3d-system-viola-85: #cbb6ce;
@caparol-3d-system-viola-80: #af99b1;
@caparol-3d-system-viola-75: #827185;
@caparol-3d-system-viola-70: #7b6481;
@caparol-3d-system-viola-65: #6e5b71;
@caparol-3d-system-viola-120: #c0a5c2;
@caparol-3d-system-viola-115: #a58bac;
@caparol-3d-system-viola-110: #88698c;
@caparol-3d-system-viola-105: #946b9b;
@caparol-3d-system-viola-100: #714f78;
@caparol-3d-system-viola-95: #56415d;
@caparol-3d-system-clematis-30: #e8e4e1;
@caparol-3d-system-clematis-25: #ddd7d7;
@caparol-3d-system-clematis-20: #c4bbbc;
@caparol-3d-system-clematis-15: #a99da3;
@caparol-3d-system-clematis-10: #8e8089;
@caparol-3d-system-clematis-5: #796873;
@caparol-3d-system-clematis-60: #f1e4e4;
@caparol-3d-system-clematis-55: #d6c4ca;
@caparol-3d-system-clematis-50: #bfaab4;
@caparol-3d-system-clematis-45: #a38a96;
@caparol-3d-system-clematis-40: #876e7e;
@caparol-3d-system-clematis-35: #745769;
@caparol-3d-system-clematis-90: #edd3dc;
@caparol-3d-system-clematis-85: #b898ab;
@caparol-3d-system-clematis-80: #956b84;
@caparol-3d-system-clematis-75: #835e75;
@caparol-3d-system-clematis-70: #884c75;
@caparol-3d-system-clematis-65: #623958;
@caparol-3d-system-flamenco-30: #f1ece7;
@caparol-3d-system-flamenco-25: #e4dfdd;
@caparol-3d-system-flamenco-20: #e0d8d6;
@caparol-3d-system-flamenco-15: #d1c8c9;
@caparol-3d-system-flamenco-10: #b8adb0;
@caparol-3d-system-flamenco-5: #827a7b;
@caparol-3d-system-flamenco-60: #efe6e2;
@caparol-3d-system-flamenco-55: #d7cacd;
@caparol-3d-system-flamenco-50: #bcafb3;
@caparol-3d-system-flamenco-45: #b29ea2;
@caparol-3d-system-flamenco-40: #9c8e93;
@caparol-3d-system-flamenco-35: #857277;
@caparol-3d-system-flamenco-90: #f8eae8;
@caparol-3d-system-flamenco-85: #dbc7ca;
@caparol-3d-system-flamenco-80: #c3aaaf;
@caparol-3d-system-flamenco-75: #a78c94;
@caparol-3d-system-flamenco-70: #8d6f78;
@caparol-3d-system-flamenco-65: #705a62;
@caparol-3d-system-flamenco-120: #f7e0e2;
@caparol-3d-system-flamenco-115: #e2c4cb;
@caparol-3d-system-flamenco-110: #c9a5ae;
@caparol-3d-system-flamenco-105: #ae8895;
@caparol-3d-system-flamenco-100: #8a5f6d;
@caparol-3d-system-flamenco-95: #795561;
@caparol-3d-system-flamenco-150: #f4cfda;
@caparol-3d-system-flamenco-145: #e9acc1;
@caparol-3d-system-flamenco-140: #ca8ea1;
@caparol-3d-system-flamenco-135: #b17285;
@caparol-3d-system-flamenco-130: #99586f;
@caparol-3d-system-flamenco-125: #88465e;
@caparol-3d-system-diva-30: #812b64;
@caparol-3d-system-diva-25: #68346f;
@caparol-3d-system-diva-20: #524c5e;
@caparol-3d-system-diva-15: #483673;
@caparol-3d-system-diva-10: #404e80;
@caparol-3d-system-diva-5: #1b336a;
@caparol-3d-system-blu-30: #36628b;
@caparol-3d-system-blu-25: #27415b;
@caparol-3d-system-blu-20: #00597b;
@caparol-3d-system-blu-15: #003249;
@caparol-3d-system-blu-10: #3698a9;
@caparol-3d-system-blu-5: #004553;
@caparol-3d-system-peru-30: #006a75;
@caparol-3d-system-peru-25: #00454b;
@caparol-3d-system-peru-20: #007d71;
@caparol-3d-system-peru-15: #003e38;
@caparol-3d-system-peru-10: #005948;
@caparol-3d-system-peru-5: #00483b;
@caparol-3d-system-verdo-30: #00855b;
@caparol-3d-system-verdo-25: #294b42;
@caparol-3d-system-verdo-20: #00672b;
@caparol-3d-system-verdo-15: #074326;
@caparol-3d-system-verdo-10: #488411;
@caparol-3d-system-verdo-5: #385123;
@caparol-3d-system-oliv-30: #cac700;
@caparol-3d-system-oliv-25: #938300;
@caparol-3d-system-oliv-20: #d1ad00;
@caparol-3d-system-oliv-15: #5a5431;
@caparol-3d-system-oliv-10: #d79a00;
@caparol-3d-system-oliv-5: #1a1c1d;
@caparol-3d-system-brasil-30: #ffb600;
@caparol-3d-system-brasil-25: #4a3e2b;
@caparol-3d-system-brasil-20: #bd762c;
@caparol-3d-system-brasil-15: #5c3a1e;
@caparol-3d-system-brasil-10: #f47800;
@caparol-3d-system-brasil-5: #4e2923;
@caparol-3d-system-rubin-30: #bb400e;
@caparol-3d-system-rubin-25: #62341f;
@caparol-3d-system-rubin-20: #ab2a13;
@caparol-3d-system-rubin-15: #7f2b1f;
@caparol-3d-system-rubin-10: #aa2730;
@caparol-3d-system-rubin-5: #4d1b27;
@caparol-3d-system-laser-30: #ee5400;
@caparol-3d-system-laser-25: #c73036;
@caparol-3d-system-laser-20: #ae243c;
@caparol-3d-system-laser-15: #a42857;
@caparol-3d-system-laser-10: #7a346b;
@caparol-3d-system-laser-5: #583971;
@caparol-3d-system-laser-60: #78b100;
@caparol-3d-system-laser-55: #c2c700;
@caparol-3d-system-laser-50: #f5dd00;
@caparol-3d-system-laser-45: #fcbd00;
@caparol-3d-system-laser-40: #fda400;
@caparol-3d-system-laser-35: #fc8600;
@caparol-3d-system-laser-90: #34407e;
@caparol-3d-system-laser-85: #074883;
@caparol-3d-system-laser-80: #005888;
@caparol-3d-system-laser-75: #006773;
@caparol-3d-system-laser-70: #00835c;
@caparol-3d-system-laser-65: #288f26;
@caparol-3d-system-alucryl-5: #aeb0b1;
@caparol-3d-system-alucryl-10: #ab8c87;
@caparol-3d-system-alucryl-15: #af9b90;
@caparol-3d-system-alucryl-20: #aa9d88;
@caparol-3d-system-alucryl-25: #999b96;
@caparol-3d-system-alucryl-30: #a1a99d;
@caparol-3d-system-alucryl-35: #9da8a8;
@caparol-3d-system-alucryl-40: #8d9ca1;
@caparol-3d-system-alucryl-45: #96a0a9;
@caparol-3d-system-alucryl-50: #9a9ba3;
@caparol-3d-system-alucryl-55: #949295;
@caparol-3d-system-alucryl-60: #938d91;
@caparol-3d-system-alucryl-65: #a39899;
@caparol-3d-system-alucryl-70: #aba29b;
@caparol-3d-system-alucryl-75: #aca89f;
@caparol-3d-system-alucryl-80: #abacab;
@caparol-3d-system-alucryl-85: #a4a8ab;
@caparol-3d-system-alucryl-90: #afadb0;