// colortrend-ambiance
@colortrend-ambiance-white-lace-ow21-1p: #f5f3e8;
@colortrend-ambiance-intimate-white-ow21-2p: #f1ecdf;
@colortrend-ambiance-hush-white-ow22-1p: #f4f0e6;
@colortrend-ambiance-mobe-pearl-ow22-2p: #eee7da;
@colortrend-ambiance-swan-wing-ow-1-1p: #faf2de;
@colortrend-ambiance-cottonfield-ow-1-2p: #f7ecd3;
@colortrend-ambiance-light-approach-ow25-1p: #f6ead4;
@colortrend-ambiance-moccasin-print-ow25-2p: #f7e7cc;
@colortrend-ambiance-snow-white-ow20-1p: #fcf8e9;
@colortrend-ambiance-sandlight-ow20-2p: #f3eacf;
@colortrend-ambiance-creamy-white-ow31-1p: #fcf5dc;
@colortrend-ambiance-hearth-candle-ow31-2p: #fdefd0;
@colortrend-ambiance-gossamer-white-ow37-1p: #fcf6dc;
@colortrend-ambiance-ivory-yellow-ow37-2p: #fdf1cd;
@colortrend-ambiance-sun-glint-ow2-1p: #faf8df;
@colortrend-ambiance-little-maid-ow2-2p: #f4eecb;
@colortrend-ambiance-daisy-white-ow13-1p: #fbf8e0;
@colortrend-ambiance-beeswax-ow13-2p: #ede8ce;
@colortrend-ambiance-minted-lemon-ow7-1p: #f2edcf;
@colortrend-ambiance-white-asparagus-ow7-2p: #f1ecc8;
@colortrend-ambiance-peaceful-white-ow19-1p: #f1efdf;
@colortrend-ambiance-eggshell-ow19-2p: #e6e4d5;
@colortrend-ambiance-walden-white-ow14-1p: #eeeddf;
@colortrend-ambiance-evening-breeze-ow14-2p: #e3e6d6;
@colortrend-ambiance-green-whimsey-ow3-1p: #e7f1d9;
@colortrend-ambiance-spring-cut-ow3-2p: #e0edce;
@colortrend-ambiance-clover-petal-ow8-1p: #e7edd5;
@colortrend-ambiance-tumbling-water-ow8-2p: #dee7ce;
@colortrend-ambiance-gardenia-ow15-1p: #edf2e3;
@colortrend-ambiance-rusting-leaf-ow15-2p: #e0e6d4;
@colortrend-ambiance-little-falls-ow9-1p: #dfebd8;
@colortrend-ambiance-leisure-lake-ow9-2p: #d3e6d4;
@colortrend-ambiance-cool-hint-ow16-1p: #ecf6ed;
@colortrend-ambiance-dewkiss-ow16-2p: #dee9da;
@colortrend-ambiance-aerial-ow4-1p: #e1eedf;
@colortrend-ambiance-alpine-echo-ow4-2p: #cfe6d8;
@colortrend-ambiance-sea-breeze-ow10-1p: #e4eee1;
@colortrend-ambiance-wafting-wave-ow10-2p: #dbe9dc;
@colortrend-ambiance-mint-scent-ow17-1p: #e8f5e9;
@colortrend-ambiance-silver-drop-ow17-2p: #e1e8dc;
@colortrend-ambiance-laguna-mist-ow5-1p: #e7f5eb;
@colortrend-ambiance-summer-day-ow5-2p: #dcf1ed;
@colortrend-ambiance-clear-day-ow11-1p: #dbf1e5;
@colortrend-ambiance-first-light-ow11-2p: #d9ede7;
@colortrend-ambiance-blue-essence-ow12-1p: #e1ede8;
@colortrend-ambiance-hint-of-blue-ow12-2p: #d1e6e4;
@colortrend-ambiance-ingenue-ow6-1p: #daf0ec;
@colortrend-ambiance-petite-blue-ow6-2p: #cfe4df;
@colortrend-ambiance-soothing-blue-ow18-1p: #ebf3ef;
@colortrend-ambiance-blue-trace-ow18-2p: #e0efef;
@colortrend-ambiance-blue-vision-ow42-1p: #e4f0eb;
@colortrend-ambiance-shy-sky-ow42-2p: #d4e0e5;
@colortrend-ambiance-reserved-white-ow23-1p: #eeeee7;
@colortrend-ambiance-white-wing-ow23-2p: #ebe7df;
@colortrend-ambiance-ash-white-ow24-1p: #eaeae1;
@colortrend-ambiance-gray-dew-ow24-2p: #e2e2de;
@colortrend-ambiance-violet-whisper-ow36-1p: #ecece8;
@colortrend-ambiance-velvet-touch-ow36-2p: #e4e7e8;
@colortrend-ambiance-white-lilac-ow30-1p: #e7e8e7;
@colortrend-ambiance-iris-tip-ow30-2p: #e2e3e6;
@colortrend-ambiance-white-peony-ow35-1p: #f4eee8;
@colortrend-ambiance-orchid-scent-ow35-2p: #e9e1de;
@colortrend-ambiance-white-dawn-ow29-1p: #f3ece8;
@colortrend-ambiance-wisteria-white-ow29-2p: #e9e4e1;
@colortrend-ambiance-angelic-pink-ow27-1p: #f6eee4;
@colortrend-ambiance-rosy-dawn-ow27-2p: #f1e7dc;
@colortrend-ambiance-drifting-cloud-ow28-1p: #f3ebe3;
@colortrend-ambiance-lullaby-ow28-2p: #eee3db;
@colortrend-ambiance-sugar-pink-ow41-1p: #f9f0e8;
@colortrend-ambiance-penelope-pink-ow41-2p: #f4e8e2;
@colortrend-ambiance-snowbush-rose-ow40-1p: #faece7;
@colortrend-ambiance-felicia-rose-ow40-2p: #f6e6e0;
@colortrend-ambiance-sleepy-pink-ow34-1p: #f2e7db;
@colortrend-ambiance-rose-fragrance-ow34-2p: #f3e5db;
@colortrend-ambiance-pink-puff-ow39-1p: #f7e8d9;
@colortrend-ambiance-iced-ginger-ow39-2p: #f6e1d4;
@colortrend-ambiance-peach-pinch-ow32-1p: #f7eddb;
@colortrend-ambiance-victorian-white-ow32-2p: #f4e5d1;
@colortrend-ambiance-timid-pink-ow38-1p: #f9eedd;
@colortrend-ambiance-autumn-white-ow38-2p: #faead8;
@colortrend-ambiance-blush-ow26-1p: #f7ecdb;
@colortrend-ambiance-bare-essence-ow26-2p: #f4e8d5;
@colortrend-ambiance-bare-blush-ow33-1p: #f7ebdb;
@colortrend-ambiance-mauve-bisque-ow33-2p: #ebdfd0;
@colortrend-ambiance-hearth-yellow-2011p: #fcf4c2;
@colortrend-ambiance-translucent-2012p: #ece5c2;
@colortrend-ambiance-almond-chip-2013p: #e8e1cc;
@colortrend-ambiance-cream-sateen-2021p: #f7eebe;
@colortrend-ambiance-sheer-batiste-2022p: #f5eec5;
@colortrend-ambiance-ivory-porcelain-2023p: #f3ebcd;
@colortrend-ambiance-sun-screen-2031p: #f7efc3;
@colortrend-ambiance-powder-yellow-2032p: #f4ebc6;
@colortrend-ambiance-little-angel-2033p: #f3e8c9;
@colortrend-ambiance-lime-bubble-2041p: #eef1ca;
@colortrend-ambiance-lily-bud-2042p: #eef0cc;
@colortrend-ambiance-tapioca-2043p: #f5eecc;
@colortrend-ambiance-early-sprout-2051p: #e5f0c1;
@colortrend-ambiance-light-leaf-2052p: #e9efc0;
@colortrend-ambiance-wafting-pollen-2035p: #ede9c1;
@colortrend-ambiance-calm-spirit-2061p: #e6efc2;
@colortrend-ambiance-cloud-grass-2062p: #eceec6;
@colortrend-ambiance-evasive-yellow-2063p: #f1edc3;
@colortrend-ambiance-greenlet-2071p: #e5efc5;
@colortrend-ambiance-transition-green-2072p: #e8ebc6;
@colortrend-ambiance-willow-wind-2073p: #e7edca;
@colortrend-ambiance-green-tinge-2081p: #e0f0c6;
@colortrend-ambiance-dimity-green-2082p: #e2ebc7;
@colortrend-ambiance-whispering-willow-2083p: #e8edcd;
@colortrend-ambiance-green-chiffon-2091p: #d6eac6;
@colortrend-ambiance-barly-open-2092p: #e4f1ce;
@colortrend-ambiance-obscure-green-2093p: #e4eecf;
@colortrend-ambiance-gentle-rain-2101p: #d8ecca;
@colortrend-ambiance-subtle-touch-2102p: #dcefcb;
@colortrend-ambiance-pine-scent-2103p: #dcedce;
@colortrend-ambiance-green-myth-2111p: #cce6c5;
@colortrend-ambiance-green-touch-2112p: #d7eccb;
@colortrend-ambiance-green-dash-2113p: #ddedd3;
@colortrend-ambiance-filtered-green-2121p: #c6e7ce;
@colortrend-ambiance-sweet-mint-2122p: #cdeacd;
@colortrend-ambiance-green-star-2123p: #d6e7cf;
@colortrend-ambiance-nile-mist-2131p: #bbe4d4;
@colortrend-ambiance-lolita-green-2132p: #c5e9da;
@colortrend-ambiance-teardrop-2133p: #d5e7d8;
@colortrend-ambiance-blue-brush-2141p: #b8e7d9;
@colortrend-ambiance-bluebird-2142p: #c5e9dc;
@colortrend-ambiance-lake-alone-2143p: #cce2d8;
@colortrend-ambiance-pale-cerulean-2151p: #b1e1d9;
@colortrend-ambiance-venus-light-2152p: #bae2dc;
@colortrend-ambiance-mystic-blue-2153p: #c7e1dc;
@colortrend-ambiance-cupid-green-2161p: #b6e2de;
@colortrend-ambiance-reflecting-green-2162p: #bee5e0;
@colortrend-ambiance-sea-nymph-green-2163p: #c5e5e5;
@colortrend-ambiance-powdery-2171p: #b6dde3;
@colortrend-ambiance-star-twinkle-2172p: #bddfe1;
@colortrend-ambiance-dreaming-blue-2173p: #c0e1e2;
@colortrend-ambiance-harmonious-2181p: #b4d8e0;
@colortrend-ambiance-summer-ice-2182p: #badce2;
@colortrend-ambiance-sky-delight-2183p: #c2e7e8;
@colortrend-ambiance-blue-night-2191p: #b6d7dc;
@colortrend-ambiance-fragile-blue-2192p: #bddde3;
@colortrend-ambiance-mermaid-flower-2193p: #c0e5ea;
@colortrend-ambiance-blue-genesis-2201p: #b8d6dd;
@colortrend-ambiance-blue-bubble-2202p: #bde0e6;
@colortrend-ambiance-heavens-gate-2203p: #bde1ea;
@colortrend-ambiance-cacti-stern-2211p: #b8d7e0;
@colortrend-ambiance-tweedia-blue-2212p: #bcdae3;
@colortrend-ambiance-early-day-2213p: #bddae2;
@colortrend-ambiance-cozy-corner-2221p: #b7d1d9;
@colortrend-ambiance-blue-cooler-2222p: #bbd5df;
@colortrend-ambiance-feeling-blue-2223p: #c3dbe2;
@colortrend-ambiance-dry-thistle-2231p: #bcd2da;
@colortrend-ambiance-lunar-blue-2232p: #c3d7de;
@colortrend-ambiance-blue-gauze-2233p: #ccdde1;
@colortrend-ambiance-blue-dawn-2241p: #bacfd8;
@colortrend-ambiance-moonless-2242p: #c0cfd4;
@colortrend-ambiance-silver-skates-2243p: #ccd6d9;
@colortrend-ambiance-high-up-6241p: #cedce7;
@colortrend-ambiance-blue-wish-6242p: #c0d9e7;
@colortrend-ambiance-crystal-rain-6243p: #b4d8e8;
@colortrend-ambiance-cloud-wisp-6231p: #cbd7e1;
@colortrend-ambiance-silent-blue-6232p: #c1d6e4;
@colortrend-ambiance-blue-tune-6233p: #b9d6e6;
@colortrend-ambiance-violet-note-6221p: #ced9e2;
@colortrend-ambiance-sheer-scarf-6222p: #c8d9e6;
@colortrend-ambiance-blue-saucer-6223p: #c1d6e6;
@colortrend-ambiance-sedum-flower-6211p: #cfd9e4;
@colortrend-ambiance-agertum-feather-6212p: #cbd5e3;
@colortrend-ambiance-blue-feather-6213p: #c4d4e4;
@colortrend-ambiance-phantom-violet-6201p: #d4dde8;
@colortrend-ambiance-veronica-patal-6202p: #d0dae5;
@colortrend-ambiance-blue-phlox-6203p: #c9d4e4;
@colortrend-ambiance-etheria-blue-6191p: #cdd2dc;
@colortrend-ambiance-apparition-6192p: #cfd5e1;
@colortrend-ambiance-lilac-whisper-6193p: #ced1e2;
@colortrend-ambiance-demure-6181p: #e2dce6;
@colortrend-ambiance-pale-pansy-6182p: #ddd5e3;
@colortrend-ambiance-dawn-glow-6183p: #d9d0e0;
@colortrend-ambiance-sheer-lilac-6171p: #e5d7e0;
@colortrend-ambiance-snowbell-6172p: #e0d4e0;
@colortrend-ambiance-bells-of-holland-6173p: #ddcedb;
@colortrend-ambiance-violet-illusion-6161p: #eddfe6;
@colortrend-ambiance-iris-pink-6162p: #ead2e0;
@colortrend-ambiance-pink-overlay-6163p: #eecddc;
@colortrend-ambiance-lavender-posy-6151p: #eed6df;
@colortrend-ambiance-privacy-pink-6152p: #f6d5e0;
@colortrend-ambiance-cyclamen-pink-6153p: #f4ccd9;
@colortrend-ambiance-early-pink-6141p: #f1cfd7;
@colortrend-ambiance-pink-memories-6142p: #f6d3da;
@colortrend-ambiance-rose-blush-6143p: #f9d5db;
@colortrend-ambiance-rose-thought-6131p: #f6d1d4;
@colortrend-ambiance-pink-bonnet-6132p: #f9d5db;
@colortrend-ambiance-grandmas-6133p: #f6ccd3;
@colortrend-ambiance-rose-sachet-6121p: #f3c9cd;
@colortrend-ambiance-fragile-pink-6122p: #f6d2d3;
@colortrend-ambiance-first-peony-6123p: #faced3;
@colortrend-ambiance-pink-rosette-6111p: #f1c8ca;
@colortrend-ambiance-pink-camellias-6112p: #f8d6d5;
@colortrend-ambiance-rose-breath-6113p: #f9cdcb;
@colortrend-ambiance-sahrass-sash-6101p: #f2c6c1;
@colortrend-ambiance-timeless-pink-6102p: #f6cdc9;
@colortrend-ambiance-fairy-breath-6103p: #f8d3ca;
@colortrend-ambiance-paper-pink-6091p: #f4cbbe;
@colortrend-ambiance-pretty-dawn-6092p: #f5cec0;
@colortrend-ambiance-magnolia-blossom-6093p: #facfc2;
@colortrend-ambiance-infant-smile-6081p: #f7d0bf;
@colortrend-ambiance-so-dainty-6082p: #fbd4b8;
@colortrend-ambiance-musing-6083p: #ffdcb5;
@colortrend-ambiance-avant-garde-6071p: #f9d4c0;
@colortrend-ambiance-tea-gown-6072p: #fdd8b8;
@colortrend-ambiance-feather-plume-6073p: #ffdfb4;
@colortrend-ambiance-lalique-peach-6061p: #fcd9bf;
@colortrend-ambiance-paris-perfume-6062p: #fedab7;
@colortrend-ambiance-alcove-ivory-6063p: #ffe2b4;
@colortrend-ambiance-delicate-peach-6051p: #fee1bf;
@colortrend-ambiance-crepe-de-chine-6052p: #ffdfb8;
@colortrend-ambiance-yellow-glove-6053p: #ffe4b3;
@colortrend-ambiance-provicial-bisque-6041p: #fae3c1;
@colortrend-ambiance-sheer-chiffon-6042p: #fbe1b7;
@colortrend-ambiance-palest-glow-6043p: #ffe4b2;
@colortrend-ambiance-star-magnolia-6031p: #fae5c1;
@colortrend-ambiance-whisper-yellow-6032p: #fde6b7;
@colortrend-ambiance-amber-light-6033p: #fee5ae;
@colortrend-ambiance-silent-bliss-6021p: #f6e4c5;
@colortrend-ambiance-tiffany-powder-6022p: #f9e7c0;
@colortrend-ambiance-lidians-apron-6023p: #fbe8b5;
@colortrend-ambiance-perfumed-powder-6011p: #f1e3c6;
@colortrend-ambiance-ivory-palm-6012p: #f7eac3;
@colortrend-ambiance-daisy-petal-6013p: #f8efbd;
@colortrend-ambiance-slight-embrace-1011p: #fcf1b1;
@colortrend-ambiance-potentilla-1012t: #fceb86;
@colortrend-ambiance-sun-miracle-1013d: #fddf4b;
@colortrend-ambiance-yellow-pendant-1014t: #fce679;
@colortrend-ambiance-yellow-fragrance-1015p: #fbefad;
@colortrend-ambiance-lemon-white-1021p: #f7ebb1;
@colortrend-ambiance-chromatella-1022t: #f8e481;
@colortrend-ambiance-yellow-jasmine-1023d: #f2d554;
@colortrend-ambiance-feather-gold-1024t: #f2df85;
@colortrend-ambiance-single-feather-1025p: #f3e7ac;
@colortrend-ambiance-niblet-1031p: #f8ecac;
@colortrend-ambiance-golden-ear-1032t: #f5e181;
@colortrend-ambiance-evergold-1033d: #e3c950;
@colortrend-ambiance-golden-rain-1034t: #eedd8b;
@colortrend-ambiance-downy-fluff-1035p: #f3e8b3;
@colortrend-ambiance-delicate-spikes-1041p: #e6eaac;
@colortrend-ambiance-yellow-grass-1042t: #e7e58f;
@colortrend-ambiance-chartreuse-1043d: #ced154;
@colortrend-ambiance-spiney-green-1044t: #dcdd80;
@colortrend-ambiance-fern-tip-1045p: #e4eab4;
@colortrend-ambiance-sheer-green-1051p: #e7edaf;
@colortrend-ambiance-young-shoot-1052t: #dce893;
@colortrend-ambiance-spring-vigor-1053d: #bdd65a;
@colortrend-ambiance-villa-green-1054t: #ceda83;
@colortrend-ambiance-elusive-green-1055p: #dee9ad;
@colortrend-ambiance-lightly-green-1061p: #dfe8ac;
@colortrend-ambiance-greensheen-1062t: #d0e190;
@colortrend-ambiance-lilting-green-1063d: #aec859;
@colortrend-ambiance-limeburst-1064t: #c8d98a;
@colortrend-ambiance-tiny-leaf-1065p: #dde8b0;
@colortrend-ambiance-pale-parsnip-1071p: #daedbb;
@colortrend-ambiance-parsnip-1072t: #c8df92;
@colortrend-ambiance-green-willow-1073d: #a3c85b;
@colortrend-ambiance-willow-wisp-1074t: #c4d590;
@colortrend-ambiance-willow-stern-1075p: #dce9b4;
@colortrend-ambiance-apple-cut-1081p: #dcedbe;
@colortrend-ambiance-lime-freeze-1082t: #bbe093;
@colortrend-ambiance-frolic-green-1083d: #8fc95e;
@colortrend-ambiance-grass-cut-1084t: #bbd793;
@colortrend-ambiance-leaflet-1085p: #d6eab6;
@colortrend-ambiance-kiwi-squeeze-1091p: #d5eec1;
@colortrend-ambiance-kiwi-cut-1092t: #addd95;
@colortrend-ambiance-kiwi-1093d: #7fc365;
@colortrend-ambiance-shallot-shoot-1094t: #afd395;
@colortrend-ambiance-shallot-peel-1095p: #c8e3b8;
@colortrend-ambiance-jasmine-scent-1101p: #d3eec3;
@colortrend-ambiance-jasmine-leaf-1102t: #a8dc99;
@colortrend-ambiance-summer-field-1103d: #76c167;
@colortrend-ambiance-slender-stern-1104t: #acd198;
@colortrend-ambiance-clear-pond-1105p: #c9e3ba;
@colortrend-ambiance-mild-mint-1111p: #c9e5be;
@colortrend-ambiance-surrey-green-1112t: #9bd7a2;
@colortrend-ambiance-beanstalk-1113d: #64b771;
@colortrend-ambiance-painted-fern-1114t: #9fc994;
@colortrend-ambiance-fern-wilt-1115p: #bfddb6;
@colortrend-ambiance-amenity-1121p: #c3e7cb;
@colortrend-ambiance-restful-green-1122t: #91d4a9;
@colortrend-ambiance-green-fortune-1123d: #54b279;
@colortrend-ambiance-spun-green-1124t: #94c9a4;
@colortrend-ambiance-party-mint-1125p: #b4dbbf;
@colortrend-ambiance-crisp-green-1131p: #bae9d8;
@colortrend-ambiance-aqua-glass-1132t: #83d3ba;
@colortrend-ambiance-turquoise-beads-1133d: #3fb08f;
@colortrend-ambiance-shalimar-1134t: #88c8b1;
@colortrend-ambiance-falling-water-1135p: #a8d8c7;
@colortrend-ambiance-spring-splash-1141p: #abe6d6;
@colortrend-ambiance-poolside-1142t: #6ad5c3;
@colortrend-ambiance-paradise-waters-1143d: #00b297;
@colortrend-ambiance-shallow-pool-1144t: #75c7b5;
@colortrend-ambiance-scuba-sea-1145p: #a1ddcf;
@colortrend-ambiance-cool-wave-1151p: #afe6de;
@colortrend-ambiance-set-sail-1152t: #6dcec8;
@colortrend-ambiance-aegean-sea-1153d: #00a89e;
@colortrend-ambiance-river-walk-1154t: #75c6be;
@colortrend-ambiance-cruising-1155p: #9fd9d2;
@colortrend-ambiance-distant-blue-1161p: #ace4e1;
@colortrend-ambiance-persian-blue-1162t: #6acbcc;
@colortrend-ambiance-turkish-tile-1163d: #00a3a3;
@colortrend-ambiance-woven-blue-1164t: #77c0bf;
@colortrend-ambiance-smooth-way-1165p: #a1d7d5;
@colortrend-ambiance-blue-breeze-1171p: #afe0e4;
@colortrend-ambiance-engaging-1172t: #6ec4d1;
@colortrend-ambiance-ocean-calm-1173d: #009eae;
@colortrend-ambiance-riverside-blue-1174t: #75b6c2;
@colortrend-ambiance-blue-note-1175p: #a1d1da;
@colortrend-ambiance-blue-puff-1181p: #abdce5;
@colortrend-ambiance-blue-entry-1182t: #6dc0d5;
@colortrend-ambiance-florence-blue-1183d: #0698b0;
@colortrend-ambiance-sensitive-blue-1184t: #74b3c3;
@colortrend-ambiance-blue-blanket-1185p: #9fccd7;
@colortrend-ambiance-winsome-blue-1191p: #a9d8e7;
@colortrend-ambiance-story-blue-1192t: #6abad7;
@colortrend-ambiance-fresh-blue-1193d: #1992b6;
@colortrend-ambiance-cozy-blue-1194t: #6eaebe;
@colortrend-ambiance-blue-pillow-1195p: #9dcad6;
@colortrend-ambiance-composed-1201p: #b1d9e6;
@colortrend-ambiance-blue-spell-1202t: #76bcd8;
@colortrend-ambiance-elation-1203d: #2e91b5;
@colortrend-ambiance-blue-quilt-1204t: #73acc2;
@colortrend-ambiance-blue-horizon-1205p: #a0ccdb;
@colortrend-ambiance-blue-drop-1211p: #b3d7e4;
@colortrend-ambiance-blue-music-1212t: #7dbbd5;
@colortrend-ambiance-clipper-blue-1213d: #3a90b2;
@colortrend-ambiance-blue-repose-1214t: #7cb1c7;
@colortrend-ambiance-blue-yonder-1215p: #a8cddb;
@colortrend-ambiance-little-girl-blue-1221p: #b6d8e4;
@colortrend-ambiance-joppa-blue-1222t: #82bad6;
@colortrend-ambiance-blue-madonna-1223d: #468eb1;
@colortrend-ambiance-blue-edge-1224t: #84abbf;
@colortrend-ambiance-blue-strata-1225p: #aac8d6;
@colortrend-ambiance-blue-odyssey-1231p: #b9d9e5;
@colortrend-ambiance-kind-sky-1232t: #85b7d2;
@colortrend-ambiance-nautical-blue-1233d: #4f8bad;
@colortrend-ambiance-blue-shoal-1234t: #84a6b6;
@colortrend-ambiance-winter-day-1235p: #abc5d1;
@colortrend-ambiance-cool-morn-1241p: #b5cfda;
@colortrend-ambiance-blue-comfort-1242t: #83abbf;
@colortrend-ambiance-rainy-night-1243d: #517c94;
@colortrend-ambiance-rainy-morn-1244t: #82a0b0;
@colortrend-ambiance-blue-steam-1245p: #a9c0cc;
@colortrend-ambiance-sky-blue-7241p: #a1cfe5;
@colortrend-ambiance-castaway-blue-7242t: #73b1d5;
@colortrend-ambiance-true-blue-7243d: #3591c8;
@colortrend-ambiance-cerulean-7244t: #6fb7e0;
@colortrend-ambiance-bluet-7245p: #aad6e9;
@colortrend-ambiance-parlor-blue-7231p: #a6cbe3;
@colortrend-ambiance-peasant-blue-7232t: #80aed0;
@colortrend-ambiance-founder-blue-7233d: #4585bf;
@colortrend-ambiance-barbara-blue-7234t: #7db2dd;
@colortrend-ambiance-blue-lullaby-7235p: #b3d6e8;
@colortrend-ambiance-corner-cupboard-7221p: #afc7e0;
@colortrend-ambiance-fresco-blue-7222t: #8aaacd;
@colortrend-ambiance-blue-award-7223d: #5881b7;
@colortrend-ambiance-blue-emotion-7224t: #88aed8;
@colortrend-ambiance-blue-aura-7225p: #bbd3e7;
@colortrend-ambiance-yearning-7211p: #b5c7de;
@colortrend-ambiance-mysteria-7212t: #8ea7c9;
@colortrend-ambiance-pharaohs-purple-7213d: #627db2;
@colortrend-ambiance-blue-epic-7214t: #91acd5;
@colortrend-ambiance-lilac-touch-7215p: #c2d3e7;
@colortrend-ambiance-lilac-frost-7201p: #b8c6df;
@colortrend-ambiance-sedona-shadow-7202t: #95a5c7;
@colortrend-ambiance-blue-triumph-7203d: #6677ac;
@colortrend-ambiance-spring-crocus-7204t: #97a9d3;
@colortrend-ambiance-cool-lilac-7205p: #c5d0e4;
@colortrend-ambiance-faded-violet-7191p: #bec1d7;
@colortrend-ambiance-xerxes-blue-7192t: #9aa0c2;
@colortrend-ambiance-purple-empire-7193d: #7175aa;
@colortrend-ambiance-lady-di-7194t: #9ea6cf;
@colortrend-ambiance-royal-mist-7195p: #cbcee3;
@colortrend-ambiance-heather-bunch-7181p: #cdc1d8;
@colortrend-ambiance-canyon-cloud-7182t: #aea2c4;
@colortrend-ambiance-prophetic-purple-7183d: #8671a3;
@colortrend-ambiance-lavender-print-7184t: #b5a5cd;
@colortrend-ambiance-monet-lavender-7185p: #d6cce0;
@colortrend-ambiance-violet-petal-7171p: #d8c8dc;
@colortrend-ambiance-ophelia-violet-7172t: #bba7c6;
@colortrend-ambiance-dauphne-red-7173d: #9a7aa9;
@colortrend-ambiance-bouquet-violet-7174t: #c4aacf;
@colortrend-ambiance-ashley-pink-7175p: #e4d1e2;
@colortrend-ambiance-single-petal-7161p: #e8bed3;
@colortrend-ambiance-cerise-pink-7162t: #da9fbd;
@colortrend-ambiance-fushia-kiss-7163d: #c96b9a;
@colortrend-ambiance-trailing-pink-7164t: #e3a0c5;
@colortrend-ambiance-warley-rose-7165p: #f1c9dd;
@colortrend-ambiance-pink-bells-7151p: #ebbbcb;
@colortrend-ambiance-pink-joy-7152t: #de9eb5;
@colortrend-ambiance-exotic-bloom-7153d: #cf6b8d;
@colortrend-ambiance-alba-rose-7154t: #eaa0bb;
@colortrend-ambiance-rosy-cushion-7155p: #f6cad8;
@colortrend-ambiance-tiny-bud-7141p: #eab8c2;
@colortrend-ambiance-rosy-pink-7142t: #d797a7;
@colortrend-ambiance-alpine-pink-7143d: #d86b84;
@colortrend-ambiance-peaking-pink-7144t: #eb9fb2;
@colortrend-ambiance-ballerina-slipper-7145p: #f8cad4;
@colortrend-ambiance-pomponette-7131p: #f2bcc5;
@colortrend-ambiance-rose-taffeta-7132t: #e29da9;
@colortrend-ambiance-perky-plume-7133d: #de6c7d;
@colortrend-ambiance-pink-crown-7134t: #f09dad;
@colortrend-ambiance-wisely-pink-7135p: #f8c8cf;
@colortrend-ambiance-pink-posy-7121p: #f3bec6;
@colortrend-ambiance-alyssum-wonder-7122t: #e49eaa;
@colortrend-ambiance-zinnia-scarlet-7123d: #e06e7d;
@colortrend-ambiance-zinnia-ruffles-7124t: #f39eac;
@colortrend-ambiance-zinnia-scent-7125p: #fbc9cf;
@colortrend-ambiance-slim-pink-7111p: #f2bfc0;
@colortrend-ambiance-novette-7112t: #e69e9f;
@colortrend-ambiance-coral-expression-7113d: #e16e6f;
@colortrend-ambiance-impatiens-pink-7114t: #f5a0a2;
@colortrend-ambiance-astilbe-venus-7115p: #fccbcc;
@colortrend-ambiance-bow-bells-7101p: #f3c6bd;
@colortrend-ambiance-colonial-rose-7102t: #e49f9b;
@colortrend-ambiance-fire-princess-7103d: #e27169;
@colortrend-ambiance-strawberry-ice-7104t: #f6a19e;
@colortrend-ambiance-pink-geranium-7105p: #fccac6;
@colortrend-ambiance-daydawn-7091p: #f4bfb0;
@colortrend-ambiance-cinnaroe-7092t: #e8a192;
@colortrend-ambiance-koralle-7093d: #e57262;
@colortrend-ambiance-corallina-7094t: #f59f90;
@colortrend-ambiance-spring-song-7095p: #fccabe;
@colortrend-ambiance-fruity-flavor-7081p: #ffd1a3;
@colortrend-ambiance-buffy-orange-7082t: #f8b17b;
@colortrend-ambiance-autumn-blaze-7083d: #ea8e55;
@colortrend-ambiance-spiced-orange-7084t: #fbbd8c;
@colortrend-ambiance-peachy-pink-7085p: #fed6b4;
@colortrend-ambiance-petite-peach-7071p: #fdd5a3;
@colortrend-ambiance-hillside-bloom-7072t: #f5ba77;
@colortrend-ambiance-orange-bedder-7073d: #f7984a;
@colortrend-ambiance-apricot-flower-7074t: #ffbf7e;
@colortrend-ambiance-sweet-cream-7075p: #ffdcb0;
@colortrend-ambiance-warm-cocoon-7061p: #fdd69f;
@colortrend-ambiance-granary-glow-7062t: #f7c174;
@colortrend-ambiance-golden-charmer-7063d: #fda347;
@colortrend-ambiance-suns-enchantment-7064t: #ffc67d;
@colortrend-ambiance-summers-blanket-7065p: #ffd9a2;
@colortrend-ambiance-melted-butter-7051p: #fddaa1;
@colortrend-ambiance-goldsmith-7052t: #fcc977;
@colortrend-ambiance-field-daisy-7053d: #ffae40;
@colortrend-ambiance-daffodil-7054t: #ffca78;
@colortrend-ambiance-warm-smile-7055p: #ffe0ae;
@colortrend-ambiance-sun-drenched-7041p: #fed89e;
@colortrend-ambiance-rock-alyssum-7042t: #f8c872;
@colortrend-ambiance-marsh-marigold-7043d: #ffb43b;
@colortrend-ambiance-yellow-destiny-7044t: #ffd076;
@colortrend-ambiance-yellow-pinafore-7045p: #ffdfa5;
@colortrend-ambiance-desert-breeze-7031p: #ffe09e;
@colortrend-ambiance-gold-shadow-7032t: #fdcd72;
@colortrend-ambiance-golden-dome-7033d: #ffc134;
@colortrend-ambiance-desert-fire-7034t: #ffd677;
@colortrend-ambiance-gold-dust-7035p: #ffe8ac;
@colortrend-ambiance-spinning-silk-7021p: #fee4a2;
@colortrend-ambiance-crocus-yellow-7022t: #fbd378;
@colortrend-ambiance-buttercup-bouquet-7023d: #ffca3f;
@colortrend-ambiance-sweet-yellow-7024t: #ffdd7f;
@colortrend-ambiance-softly-lit-7025p: #ffebaf;
@colortrend-ambiance-filtered-light-7011p: #f8ebab;
@colortrend-ambiance-glory-yellow-7012t: #fce27e;
@colortrend-ambiance-sassy-yellow-7013d: #ffd541;
@colortrend-ambiance-sunnyside-lane-7014t: #fae082;
@colortrend-ambiance-sunny-ivory-7015p: #fcedb4;
@colortrend-ambiance-natural-almond-3011p: #ded5bd;
@colortrend-ambiance-wood-box-3012t: #c4b695;
@colortrend-ambiance-crete-barrel-3013d: #998b67;
@colortrend-ambiance-wetherburn-tan-3014t: #b7ab89;
@colortrend-ambiance-sanded-birch-3015p: #d6cbaf;
@colortrend-ambiance-creek-sand-3021p: #eee3c1;
@colortrend-ambiance-basket-straw-3022t: #cec08e;
@colortrend-ambiance-sandle-tan-3023d: #a69867;
@colortrend-ambiance-broadcloth-3024t: #cfc49c;
@colortrend-ambiance-cotton-canvas-3025p: #ded6b7;
@colortrend-ambiance-flaxen-3031p: #ede2be;
@colortrend-ambiance-bleached-wool-3032t: #d6c994;
@colortrend-ambiance-golden-sage-3033d: #b3a263;
@colortrend-ambiance-pup-tent-3034t: #cec092;
@colortrend-ambiance-cotton-flannel-3035p: #e1d6b3;
@colortrend-ambiance-nutmeats-3041p: #f1e6b8;
@colortrend-ambiance-dry-bamboo-3042t: #e4d18a;
@colortrend-ambiance-woven-slats-3043d: #c9b059;
@colortrend-ambiance-natural-cane-3044t: #d9c889;
@colortrend-ambiance-water-chestnut-3045p: #e7dcad;
@colortrend-ambiance-glinted-white-3051p: #e9e3b9;
@colortrend-ambiance-dried-palm-3052t: #dcd48c;
@colortrend-ambiance-winter-moss-3053d: #bbac5a;
@colortrend-ambiance-moss-print-3054t: #dbcf91;
@colortrend-ambiance-crushed-moss-3055p: #e9e0b1;
@colortrend-ambiance-sun-dried-stern-3061p: #eae5b1;
@colortrend-ambiance-yellowed-leaf-3062t: #e1d889;
@colortrend-ambiance-green-shot-3063d: #b4ae58;
@colortrend-ambiance-celery-seed-3064t: #cec78b;
@colortrend-ambiance-celery-powder-3065p: #d5d1a8;
@colortrend-ambiance-clover-tip-3071p: #e4e8bd;
@colortrend-ambiance-grazing-field-3072t: #d4d392;
@colortrend-ambiance-shaded-green-3073d: #b0b05c;
@colortrend-ambiance-hiking-path-3074t: #c9c690;
@colortrend-ambiance-puddle-3075p: #d9d9b0;
@colortrend-ambiance-spring-kissed-3081p: #e1e8bd;
@colortrend-ambiance-creeping-willow-3082t: #cad48c;
@colortrend-ambiance-willow-branch-3083d: #a1b059;
@colortrend-ambiance-light-lichen-3084t: #c4c98f;
@colortrend-ambiance-hidden-green-3085p: #dde2b6;
@colortrend-ambiance-white-fern-3091p: #dae7c2;
@colortrend-ambiance-april-borne-3092t: #b9cf96;
@colortrend-ambiance-painters-leaf-3093d: #8eaa62;
@colortrend-ambiance-lily-stern-3094t: #b1cb93;
@colortrend-ambiance-little-little-3095p: #c2d8af;
@colortrend-ambiance-wing-flutter-3101p: #d2e6c2;
@colortrend-ambiance-single-blade-3102t: #adca96;
@colortrend-ambiance-green-pod-3103d: #7ca062;
@colortrend-ambiance-green-trail-3104t: #a6be94;
@colortrend-ambiance-trail-print-3105p: #c3d7b7;
@colortrend-ambiance-glazed-green-3111p: #d0e1c7;
@colortrend-ambiance-turf-3112t: #a8c39d;
@colortrend-ambiance-savin-hill-3113d: #73976c;
@colortrend-ambiance-cave-creek-3114t: #a3bb9c;
@colortrend-ambiance-creek-bend-3115p: #c1d4bb;
@colortrend-ambiance-pine-bud-3121p: #cadfca;
@colortrend-ambiance-jasper-green-3122t: #a2c0a0;
@colortrend-ambiance-terrestrial-green-3123d: #6f9570;
@colortrend-ambiance-gadwyne-green-3124t: #9eb99f;
@colortrend-ambiance-washed-needles-3125p: #c1d4bf;
@colortrend-ambiance-flowing-green-3131p: #c4dbd0;
@colortrend-ambiance-medford-green-3132t: #96baa9;
@colortrend-ambiance-trimmountain-green-3133d: #628b77;
@colortrend-ambiance-endicott-post-3134t: #95b6a7;
@colortrend-ambiance-maine-gray-3135p: #b5cec3;
@colortrend-ambiance-vantage-view-3141p: #bfdad2;
@colortrend-ambiance-river-port-3142t: #90b7ad;
@colortrend-ambiance-slate-vrest-3143d: #5c877a;
@colortrend-ambiance-harbour-shadow-3144t: #8fb1a8;
@colortrend-ambiance-misty-rain-3145p: #aeccc3;
@colortrend-ambiance-near-night-3151p: #badbd7;
@colortrend-ambiance-night-owl-3152t: #8ab7b3;
@colortrend-ambiance-blue-ridge-3153d: #568a86;
@colortrend-ambiance-juniper-hedge-3154t: #8bb2af;
@colortrend-ambiance-conifer-silver-3155p: #aececa;
@colortrend-ambiance-water-blue-3161p: #b3dcdd;
@colortrend-ambiance-early-trek-3162t: #80bcc1;
@colortrend-ambiance-pueblo-blue-3163d: #459095;
@colortrend-ambiance-crushed-bluestone-3164t: #81b1b6;
@colortrend-ambiance-smokey-blue-3165p: #a9cecf;
@colortrend-ambiance-seascape-3171p: #b3d9db;
@colortrend-ambiance-perry-blue-3172t: #7bb4bc;
@colortrend-ambiance-peacock-blue-3173d: #45868f;
@colortrend-ambiance-bay-blue-3174t: #79a9b0;
@colortrend-ambiance-sailing-water-3175p: #a3c7cd;
@colortrend-ambiance-veranda-blue-3181p: #afd4da;
@colortrend-ambiance-blue-inlet-3182t: #79b3c0;
@colortrend-ambiance-italian-tile-3183d: #438797;
@colortrend-ambiance-summer-storm-3184t: #7dacb7;
@colortrend-ambiance-summer-house-blue-3185p: #a3c9d1;
@colortrend-ambiance-nice-day-3191p: #acd4de;
@colortrend-ambiance-voyager-sky-3192t: #73aec0;
@colortrend-ambiance-cove-blue-3193d: #3d8398;
@colortrend-ambiance-cloudy-sky-3194t: #77a8b8;
@colortrend-ambiance-park-view-3195p: #9ec5cf;
@colortrend-ambiance-to-dream-3201p: #b0d6e2;
@colortrend-ambiance-shipside-blue-3202t: #77b5cc;
@colortrend-ambiance-neptune-3203d: #3b89a4;
@colortrend-ambiance-hampton-inn-3204t: #79aabc;
@colortrend-ambiance-serene-blue-3205p: #a2c8d3;
@colortrend-ambiance-blue-glass-3211p: #afd3de;
@colortrend-ambiance-blue-crock-3212t: #73b1c7;
@colortrend-ambiance-cool-trim-3213d: #3e849d;
@colortrend-ambiance-blue-button-3214t: #7db0c5;
@colortrend-ambiance-blue-dot-3215p: #a3cad6;
@colortrend-ambiance-blue-thoughts-3221p: #b2d1db;
@colortrend-ambiance-breaking-blue-3222t: #7eabbd;
@colortrend-ambiance-ruthsburg-blue-3223d: #4a7b90;
@colortrend-ambiance-wesley-blue-3224t: #7da0b0;
@colortrend-ambiance-evening-shadow-3225p: #a3c0ca;
@colortrend-ambiance-intimate-evening-3231p: #b5ced8;
@colortrend-ambiance-stoneware-blue-3232t: #8eabb9;
@colortrend-ambiance-vulcan-blue-3233d: #5c7a8a;
@colortrend-ambiance-newport-blue-3234t: #8aa1ad;
@colortrend-ambiance-blue-country-3235p: #afc3cb;
@colortrend-ambiance-lake-stone-3241p: #becacf;
@colortrend-ambiance-miner-gray-3242t: #8c9ea8;
@colortrend-ambiance-stone-fence-3243d: #5b6c76;
@colortrend-ambiance-gray-knight-3244t: #87959a;
@colortrend-ambiance-quaker-gray-3245p: #afb8ba;
@colortrend-ambiance-worn-blue-cloth-5241p: #b0c3d4;
@colortrend-ambiance-state-house-blue-5242t: #8da4bd;
@colortrend-ambiance-duxbury-blue-5243d: #5e799c;
@colortrend-ambiance-northern-sky-5244t: #8fa9c6;
@colortrend-ambiance-may-iris-5245p: #c0d0e1;
@colortrend-ambiance-vineyard-shadow-5231p: #afbdcc;
@colortrend-ambiance-gray-grape-5232t: #8b9eb2;
@colortrend-ambiance-blue-nocturne-5233d: #5e718a;
@colortrend-ambiance-blue-bramble-5234t: #8da1b9;
@colortrend-ambiance-pale-mom-sky-5235p: #bcccda;
@colortrend-ambiance-sideboard-trim-5221p: #b3c1d1;
@colortrend-ambiance-blue-sideboard-5222t: #8fa2b9;
@colortrend-ambiance-senate-blue-5223d: #627694;
@colortrend-ambiance-cottage-blue-5224t: #93a7c1;
@colortrend-ambiance-blue-thread-5225p: #b9c7d5;
@colortrend-ambiance-star-flower-5211p: #b5c0cf;
@colortrend-ambiance-blue-wainscot-5212t: #909fb6;
@colortrend-ambiance-tapestry-blue-5213d: #657495;
@colortrend-ambiance-brewster-blue-5214t: #8ca4c2;
@colortrend-ambiance-washed-mitten-5215p: #c5cfdd;
@colortrend-ambiance-lilac-sachet-5201p: #bdc8d8;
@colortrend-ambiance-pastoral-purple-5202t: #9baac3;
@colortrend-ambiance-purple-edge-5203d: #6a7aa5;
@colortrend-ambiance-violet-veil-5204t: #8fa9ce;
@colortrend-ambiance-lilac-petal-5205p: #c6d2e2;
@colortrend-ambiance-lilac-lace-5191p: #c8c7cf;
@colortrend-ambiance-faded-lilac-5192t: #a2a1b4;
@colortrend-ambiance-poets-purple-5193d: #71789b;
@colortrend-ambiance-purple-haze-5194t: #a0a9c1;
@colortrend-ambiance-violet-dust-5195p: #bdc3d1;
@colortrend-ambiance-heather-ashes-5181p: #c3bfd1;
@colortrend-ambiance-crushed-heather-5182t: #a9a5be;
@colortrend-ambiance-ruling-royalty-5183d: #84799f;
@colortrend-ambiance-purple-heather-5184t: #b2aac8;
@colortrend-ambiance-heather-spray-5185p: #d1ccd9;
@colortrend-ambiance-plum-frost-5171p: #cec0d2;
@colortrend-ambiance-plum-jam-5172t: #b2a1bb;
@colortrend-ambiance-picked-plum-5173d: #896f92;
@colortrend-ambiance-plum-sparkle-5174t: #b7a3bf;
@colortrend-ambiance-plum-pink-5175p: #e0cfde;
@colortrend-ambiance-chata-phlox-5161p: #d2bccf;
@colortrend-ambiance-lazy-phlox-5162t: #b098b3;
@colortrend-ambiance-wild-iris-5163d: #966b93;
@colortrend-ambiance-creeping-phlox-5164d: #c49fc1;
@colortrend-ambiance-phlox-petal-5165t: #dfc9da;
@colortrend-ambiance-aster-petal-5151p: #dbbed0;
@colortrend-ambiance-sonja-mauve-5152p: #ba97af;
@colortrend-ambiance-pikes-pink-5153t: #a76a8c;
@colortrend-ambiance-marjory-phlox-5154d: #ce9dba;
@colortrend-ambiance-viola-phlox-5155t: #e6c5d4;
@colortrend-ambiance-fallen-petal-5141p: #e0b9c1;
@colortrend-ambiance-brushed-rose-5142t: #c996a3;
@colortrend-ambiance-rose-velvet-5143d: #b36d83;
@colortrend-ambiance-fairy-lights-5144t: #d49cb0;
@colortrend-ambiance-tickle-pink-5145p: #eecad6;
@colortrend-ambiance-floating-petal-5131p: #dcb0b7;
@colortrend-ambiance-frosted-rose-5132t: #c08e97;
@colortrend-ambiance-remember-rose-5133d: #b1636b;
@colortrend-ambiance-miniature-rose-5134t: #d3939b;
@colortrend-ambiance-rose-shade-5135p: #efc0c5;
@colortrend-ambiance-cherry-ashes-5121p: #d9b1b2;
@colortrend-ambiance-bronze-cherry-5122t: #bf8f92;
@colortrend-ambiance-inca-red-5123d: #b86465;
@colortrend-ambiance-hill-cherry-5124t: #d79295;
@colortrend-ambiance-cherry-pink-5125p: #eebebf;
@colortrend-ambiance-evening-rose-5111p: #d7aaa7;
@colortrend-ambiance-chateau-rose-5112t: #bb8683;
@colortrend-ambiance-pioneer-red-5113d: #ab5b56;
@colortrend-ambiance-vintage-rose-5114t: #cf8784;
@colortrend-ambiance-marthas-pink-5115p: #e9b5b1;
@colortrend-ambiance-berry-wine-5101p: #d39f95;
@colortrend-ambiance-muddled-berry-5102t: #b2786d;
@colortrend-ambiance-cactus-berry-5103d: #a5584b;
@colortrend-ambiance-wintersweet-berry-5104t: #c57c6f;
@colortrend-ambiance-victorian-peach-5105p: #e4a89e;
@colortrend-ambiance-terra-dust-5091p: #dcae9f;
@colortrend-ambiance-terra-earth-5092t: #c18a7a;
@colortrend-ambiance-terracotta-5093d: #ab6351;
@colortrend-ambiance-copperleaf-5094t: #ce8b79;
@colortrend-ambiance-crushed-clay-5095p: #ebb9aa;
@colortrend-ambiance-clay-brushed-5081p: #e6b099;
@colortrend-ambiance-madras-rose-5082t: #d18a71;
@colortrend-ambiance-aztec-5083d: #c06d53;
@colortrend-ambiance-cracked-shell-5084t: #db977e;
@colortrend-ambiance-pueblo-peach-5085p: #efc1ad;
@colortrend-ambiance-copper-dust-5071p: #efba9d;
@colortrend-ambiance-sedona-stone-5072t: #dd9572;
@colortrend-ambiance-firebush-5073d: #c87551;
@colortrend-ambiance-southwest-stone-5074t: #e5a280;
@colortrend-ambiance-westwind-dust-5075p: #f5c7af;
@colortrend-ambiance-prairie-peach-5061p: #f3c09f;
@colortrend-ambiance-paprika-sprinkle-5062t: #e8a476;
@colortrend-ambiance-sunbaked-5063d: #d58352;
@colortrend-ambiance-healthy-glow-5064t: #eeae82;
@colortrend-ambiance-terra-peach-5065p: #f9cdb0;
@colortrend-ambiance-caramel-cream-5051p: #f4c5a0;
@colortrend-ambiance-caramel-sugar-5052t: #e5a671;
@colortrend-ambiance-hubbard-squash-5053d: #d2874e;
@colortrend-ambiance-sunshine-tea-5054t: #ebb079;
@colortrend-ambiance-weak-tea-5055p: #f9d4af;
@colortrend-ambiance-sunstraw-5041p: #eed0a8;
@colortrend-ambiance-honeynut-5042t: #e0b681;
@colortrend-ambiance-mansion-gold-5043d: #d39250;
@colortrend-ambiance-lacquered-maple-5044t: #ebba84;
@colortrend-ambiance-pearl-inlay-5045p: #f7d9b2;
@colortrend-ambiance-fresh-biscuit-5031p: #ebd2a8;
@colortrend-ambiance-rye-5032t: #dab985;
@colortrend-ambiance-capitols-gold-5033d: #d7a155;
@colortrend-ambiance-coachlight-5034t: #ebbf7d;
@colortrend-ambiance-spoonbread-5035p: #f9dcaf;
@colortrend-ambiance-wheat-dust-5021p: #e2cca8;
@colortrend-ambiance-dry-wheat-5022t: #d5b989;
@colortrend-ambiance-harvest-flame-5023d: #c99e5c;
@colortrend-ambiance-ripe-wheat-5024t: #e5c28b;
@colortrend-ambiance-chaff-5025p: #f2dbb6;
@colortrend-ambiance-classic-silk-5011p: #ebdbbc;
@colortrend-ambiance-comfy-tan-5012t: #dec69d;
@colortrend-ambiance-golden-grain-5013d: #c6a165;
@colortrend-ambiance-straw-stack-5014t: #e0c594;
@colortrend-ambiance-warm-toast-5015p: #f1e1c2;
@colortrend-ambiance-windmill-white-4011p: #ddd5c9;
@colortrend-ambiance-graystone-4012t: #bfb4a4;
@colortrend-ambiance-rocky-nook-4013d: #918472;
@colortrend-ambiance-field-stone-4014t: #b6a999;
@colortrend-ambiance-crushed-rock-4015p: #d3cabd;
@colortrend-ambiance-birch-patina-4021p: #dcd4c5;
@colortrend-ambiance-curling-bark-4022t: #c3b5a0;
@colortrend-ambiance-firewood-4023d: #998870;
@colortrend-ambiance-shipsgate-4024t: #bcac94;
@colortrend-ambiance-foggy-day-4025p: #d6cbb7;
@colortrend-ambiance-quilters-thread-4031p: #e6dbca;
@colortrend-ambiance-bramble-beige-4032t: #ccbca4;
@colortrend-ambiance-tracking-tan-4033d: #9d896d;
@colortrend-ambiance-farm-fence-4034t: #bdac91;
@colortrend-ambiance-gatepost-4035p: #dccfba;
@colortrend-ambiance-ramie-4041p: #e4d6ba;
@colortrend-ambiance-sapling-4042t: #c8b38c;
@colortrend-ambiance-pecan-smell-4043d: #a0865c;
@colortrend-ambiance-terrace-stone-4044t: #bfaf8c;
@colortrend-ambiance-pebble-walk-4045p: #d7ceb3;
@colortrend-ambiance-silk-knot-4051p: #e5cfb5;
@colortrend-ambiance-natural-oak-4052t: #cbac88;
@colortrend-ambiance-oak-parquet-4053d: #a47e58;
@colortrend-ambiance-starstep-4054t: #c1a584;
@colortrend-ambiance-tavern-buff-4055p: #d7c5ac;
@colortrend-ambiance-basket-beige-4061p: #e6ceb5;
@colortrend-ambiance-brushmark-4062t: #c9a687;
@colortrend-ambiance-country-maple-4063d: #a17959;
@colortrend-ambiance-tapestry-beige-4064t: #b6997c;
@colortrend-ambiance-shaded-porch-4065p: #cfbba3;
@colortrend-ambiance-cedar-scent-4071p: #eac7b0;
@colortrend-ambiance-natural-cedar-4072t: #c19a7f;
@colortrend-ambiance-cider-brown-4073d: #986e52;
@colortrend-ambiance-saddle-tan-4074t: #b2947d;
@colortrend-ambiance-valley-smoke-4075p: #cdb5a2;
@colortrend-ambiance-bleached-leather-4081p: #e2bfaa;
@colortrend-ambiance-rustic-leather-4082t: #c19279;
@colortrend-ambiance-polished-leather-4083d: #9c6a53;
@colortrend-ambiance-cliffs-brow-4084t: #b5927f;
@colortrend-ambiance-sunset-light-4085p: #d3b6a6;
@colortrend-ambiance-vessel-chip-4091p: #ebc1a9;
@colortrend-ambiance-clay-vessel-4092t: #ca9578;
@colortrend-ambiance-copper-bell-4093d: #a26b4f;
@colortrend-ambiance-wet-moccasin-4094t: #be9379;
@colortrend-ambiance-footprint-4095p: #d2b39d;
@colortrend-ambiance-sampler-stitch-4101p: #e4bcad;
@colortrend-ambiance-winthrop-brick-4102t: #c7907e;
@colortrend-ambiance-brick-house-4103d: #9f6654;
@colortrend-ambiance-carved-bowl-4104t: #be9280;
@colortrend-ambiance-standish-rose-4105p: #c5a093;
@colortrend-ambiance-prairie-dust-4111p: #dbb5aa;
@colortrend-ambiance-new-brick-4112t: #b9887a;
@colortrend-ambiance-redwood-plank-4113d: #915f51;
@colortrend-ambiance-mauve-wood-4114t: #b2877c;
@colortrend-ambiance-mauve-gray-4115p: #c3a49b;
@colortrend-ambiance-olde-rose-4121p: #d2b6ad;
@colortrend-ambiance-wainscot-trim-4122t: #b08b80;
@colortrend-ambiance-roxbury-brown-4123d: #8e665a;
@colortrend-ambiance-ground-clove-4124t: #a8847a;
@colortrend-ambiance-frontier-shadow-4125p: #bca19a;
@colortrend-ambiance-bradford-beige-4131p: #d4bdb4;
@colortrend-ambiance-winter-twig-4132t: #b19185;
@colortrend-ambiance-brier-branch-4133d: #8d6b5e;
@colortrend-ambiance-worn-harness-4134t: #a89085;
@colortrend-ambiance-smokey-taupe-4135p: #c8b4ab;
@colortrend-ambiance-plymouth-notch-4141p: #d4bab3;
@colortrend-ambiance-barrister-brown-4142t: #b29087;
@colortrend-ambiance-revival-mahogany-4143d: #89655c;
@colortrend-ambiance-sloane-house-brown-4144t: #a88a83;
@colortrend-ambiance-norton-taupe-4145p: #c8aea7;
@colortrend-ambiance-weathered-brown-4151p: #ceb7b4;
@colortrend-ambiance-purple-beech-4152t: #a68682;
@colortrend-ambiance-duxbury-wood-4153d: #7c5b56;
@colortrend-ambiance-country-junction-4154t: #a08482;
@colortrend-ambiance-teaberry-gray-4155p: #c0a7a5;
@colortrend-ambiance-mountain-haze-4161p: #d2bdbf;
@colortrend-ambiance-lavender-gray-4162t: #ae9092;
@colortrend-ambiance-purplestone-4163d: #826366;
@colortrend-ambiance-heatherstone-4164t: #a29093;
@colortrend-ambiance-mt-smokey-4165p: #c2b2b4;
@colortrend-ambiance-pale-mauve-4171p: #cdb9b7;
@colortrend-ambiance-wood-berry-4172t: #a38b8a;
@colortrend-ambiance-dark-chestnut-4173d: #78605f;
@colortrend-ambiance-evening-gray-4174t: #9b8887;
@colortrend-ambiance-purple-mauve-4175p: #c0b2b3;
@colortrend-ambiance-beige-gray-4181p: #cbbcb6;
@colortrend-ambiance-autumn-ashes-4182t: #a08c87;
@colortrend-ambiance-garden-earth-4183d: #75615a;
@colortrend-ambiance-harrison-gray-4184t: #988984;
@colortrend-ambiance-garden-dust-4185p: #bbaeaa;
@colortrend-ambiance-light-taupe-4191p: #c9bbb7;
@colortrend-ambiance-ashwood-4192t: #9d8d89;
@colortrend-ambiance-bradford-brown-4193d: #71625f;
@colortrend-ambiance-outpost-gray-4194t: #958c8a;
@colortrend-ambiance-silvertaupe-4195p: #bcb2af;
@colortrend-ambiance-gray-dawning-4201p: #c1bebe;
@colortrend-ambiance-braintree-road-4202t: #938f91;
@colortrend-ambiance-turned-earth-4203d: #6a6363;
@colortrend-ambiance-garden-path-4204t: #8e8c8d;
@colortrend-ambiance-pebblegrey-4205p: #b1b1b1;
@colortrend-ambiance-graycloth-4211p: #c1c4c6;
@colortrend-ambiance-granite-rock-4212t: #979a9f;
@colortrend-ambiance-puritain-black-4213d: #666a70;
@colortrend-ambiance-old-lamppost-4214t: #92969a;
@colortrend-ambiance-gray-cotton-4215p: #b7bdc0;
@colortrend-ambiance-quarry-pebble-4221p: #c3c7c7;
@colortrend-ambiance-liberty-gray-4222t: #969a9d;
@colortrend-ambiance-silhouette-gray-4223d: #666a6d;
@colortrend-ambiance-weathervane-4224t: #8d9195;
@colortrend-ambiance-gray-mystic-4225p: #b6babc;
@colortrend-ambiance-light-pewter-4231p: #c4cac8;
@colortrend-ambiance-smithy-tool-4232t: #989f9f;
@colortrend-ambiance-trojan-gray-4233d: #676e6e;
@colortrend-ambiance-whetstone-4234t: #939b9a;
@colortrend-ambiance-weatherbell-4235p: #a9afad;
@colortrend-ambiance-stiletto-gray-4241p: #c8cac5;
@colortrend-ambiance-sentinel-gray-4242t: #98a09d;
@colortrend-ambiance-stoker-gray-4243d: #69706e;
@colortrend-ambiance-smokey-wings-4244t: #95968d;
@colortrend-ambiance-folkstone-4245p: #b2b4ad;
@colortrend-ambiance-sunray-11a: #f6d63b;
@colortrend-ambiance-yellow-cluster-12a: #e6cb4b;
@colortrend-ambiance-vivid-lime-13a: #c1c442;
@colortrend-ambiance-citron-rind-14a: #c6c441;
@colortrend-ambiance-neon-green-21a: #8bbe3f;
@colortrend-ambiance-leprechaun-22a: #7db740;
@colortrend-ambiance-colleen-green-23a: #6eab41;
@colortrend-ambiance-shenanigan-24a: #5ca345;
@colortrend-ambiance-emerald-garden-31a: #249c78;
@colortrend-ambiance-fantasy-green-32a: #009d80;
@colortrend-ambiance-intense-jade-33a: #009885;
@colortrend-ambiance-lake-superior-34a: #009288;
@colortrend-ambiance-navajo-turquoise-41a: #008289;
@colortrend-ambiance-saxony-blue-42a: #008b9f;
@colortrend-ambiance-blue-jewel-43a: #008aa5;
@colortrend-ambiance-norse-blue-44a: #008fae;
@colortrend-ambiance-golden-grail-51a: #9c8a44;
@colortrend-ambiance-teton-gold-52a: #c1a838;
@colortrend-ambiance-citrinia-53a: #baaf39;
@colortrend-ambiance-marsh-green-54a: #909646;
@colortrend-ambiance-grasslands-61a: #4a8f45;
@colortrend-ambiance-arboretum-62a: #209a50;
@colortrend-ambiance-greenway-63a: #278d57;
@colortrend-ambiance-lush-green-64a: #1e7c50;
@colortrend-ambiance-inviting-green-71a: #257d5d;
@colortrend-ambiance-ultra-green-72a: #008264;
@colortrend-ambiance-full-peacock-73a: #008477;
@colortrend-ambiance-evening-pool-74a: #147a77;
@colortrend-ambiance-sea-balm-81a: #007e87;
@colortrend-ambiance-real-teal-82a: #21777d;
@colortrend-ambiance-huron-blue-83a: #1a7885;
@colortrend-ambiance-fantasy-blue-84a: #007a8f;
@colortrend-ambiance-woodford-91a: #85774a;
@colortrend-ambiance-breen-92a: #9e9a55;
@colortrend-ambiance-bitter-root-93a: #858958;
@colortrend-ambiance-dense-shrub-94a: #6b7b5c;
@colortrend-ambiance-greening-spring-101a: #789945;
@colortrend-ambiance-climbing-vine-102a: #678844;
@colortrend-ambiance-bamboo-leaf-103a: #547749;
@colortrend-ambiance-robust-vine-104a: #3b634a;
@colortrend-ambiance-country-club-111a: #189178;
@colortrend-ambiance-green-garden-112a: #318a74;
@colortrend-ambiance-lush-foilage-113a: #388475;
@colortrend-ambiance-courtyard-green-114a: #45776c;
@colortrend-ambiance-green-gable-121a: #3d8082;
@colortrend-ambiance-dusky-blue-122a: #317f8e;
@colortrend-ambiance-dark-secret-123a: #3b7888;
@colortrend-ambiance-ultra-blue-124a: #366582;
@colortrend-ambiance-glouchester-brown-131a: #5e5547;
@colortrend-ambiance-aged-bronze-132a: #7c6546;
@colortrend-ambiance-friar-tuck-133a: #8d6d4e;
@colortrend-ambiance-bedford-134a: #7e604b;
@colortrend-ambiance-saddle-brown-141a: #6d5244;
@colortrend-ambiance-field-oak-142a: #865847;
@colortrend-ambiance-red-earth-143a: #7d5347;
@colortrend-ambiance-red-country-144a: #79584e;
@colortrend-ambiance-expresso-151a: #5d4d45;
@colortrend-ambiance-newtone-brown-152a: #6e4f47;
@colortrend-ambiance-tempest-brown-153a: #614545;
@colortrend-ambiance-bordeau-brown-154a: #5b484f;
@colortrend-ambiance-flint-black-161a: #404744;
@colortrend-ambiance-tempest-sea-162a: #415d5f;
@colortrend-ambiance-ebony-blue-163a: #374652;
@colortrend-ambiance-black-night-164a: #373c3e;
@colortrend-ambiance-baked-gold-171a: #936f45;
@colortrend-ambiance-verona-gold-172a: #ad7c3d;
@colortrend-ambiance-sable-brown-173a: #8b6043;
@colortrend-ambiance-sedona-clay-174a: #b57248;
@colortrend-ambiance-winestone-181a: #6e4546;
@colortrend-ambiance-red-bark-182a: #7e4a49;
@colortrend-ambiance-earthy-red-183a: #7e5049;
@colortrend-ambiance-rockies-red-184a: #965346;
@colortrend-ambiance-carriage-red-191a: #804246;
@colortrend-ambiance-full-wine-192a: #7a4c65;
@colortrend-ambiance-red-purple-193a: #64475e;
@colortrend-ambiance-soaring-blue-194a: #565678;
@colortrend-ambiance-seclusion-blue-201a: #3b5877;
@colortrend-ambiance-blue-thunder-202a: #40587e;
@colortrend-ambiance-mountain-shadow-203a: #4d526f;
@colortrend-ambiance-phoenician-purple-204a: #5b586f;
@colortrend-ambiance-golden-wonder-211a: #ce9233;
@colortrend-ambiance-baroque-212a: #b97b44;
@colortrend-ambiance-harvest-orange-213a: #c88047;
@colortrend-ambiance-tigerstripe-214a: #cc7347;
@colortrend-ambiance-scarlet-oak-221a: #894743;
@colortrend-ambiance-robust-red-222a: #994c45;
@colortrend-ambiance-glowing-ember-223a: #ac4d37;
@colortrend-ambiance-october-bronze-224a: #a95f3f;
@colortrend-ambiance-keepsake-rose-231a: #994557;
@colortrend-ambiance-english-rose-232a: #8d4462;
@colortrend-ambiance-purple-comet-233a: #745879;
@colortrend-ambiance-sultan-blue-234a: #645b8b;
@colortrend-ambiance-porcelain-blue-241a: #2b5e91;
@colortrend-ambiance-tremont-blue-242a: #355487;
@colortrend-ambiance-dynasty-243a: #3b4e80;
@colortrend-ambiance-blue-purple-244a: #4c5373;
@colortrend-ambiance-meadow-daisy-251a: #fcbf20;
@colortrend-ambiance-all-gold-252a: #ffb114;
@colortrend-ambiance-coronette-orange-253a: #ea8c2f;
@colortrend-ambiance-orange-torch-254a: #d67035;
@colortrend-ambiance-knockout-red-261a: #b54147;
@colortrend-ambiance-sashay-red-262a: #c84741;
@colortrend-ambiance-cotillion-red-263a: #b5453e;
@colortrend-ambiance-orange-soverign-264a: #db5e45;
@colortrend-ambiance-drama-red-271a: #ad4355;
@colortrend-ambiance-fascination-272a: #b84c70;
@colortrend-ambiance-paradise-bird-273a: #8b5b89;
@colortrend-ambiance-purple-tryst-274a: #706598;
@colortrend-ambiance-liberty-blue-281a: #2470aa;
@colortrend-ambiance-patriot-blue-282a: #3a6aa2;
@colortrend-ambiance-blue-ribbon-283a: #4d6ca4;
@colortrend-ambiance-crown-jewel-284a: #4d5a8e;