// terranova-a-la-card
@terranova-a-la-card-terranova-a536: #cda599;
@terranova-a-la-card-terranova-a537: #c18966;
@terranova-a-la-card-terranova-a538: #d09577;
@terranova-a-la-card-terranova-a539: #ae7452;
@terranova-a-la-card-terranova-a540: #9b6c54;
@terranova-a-la-card-terranova-a541: #816157;
@terranova-a-la-card-terranova-b749: #bec9d1;
@terranova-a-la-card-terranova-e315: #e6dccc;
@terranova-a-la-card-terranova-e316: #e5dac6;
@terranova-a-la-card-terranova-e317: #e3d2bd;
@terranova-a-la-card-terranova-e318: #d8cfc0;
@terranova-a-la-card-terranova-e319: #daceba;
@terranova-a-la-card-terranova-e320: #e8dcc1;
@terranova-a-la-card-terranova-e321: #deccad;
@terranova-a-la-card-terranova-e322: #d3bc9b;
@terranova-a-la-card-terranova-g642: #d5d6c8;
@terranova-a-la-card-terranova-g643: #c1cbbc;
@terranova-a-la-card-terranova-g644: #e0dabc;
@terranova-a-la-card-terranova-g645: #cbccb3;
@terranova-a-la-card-terranova-g646: #dfdba9;
@terranova-a-la-card-terranova-g647: #9b905f;
@terranova-a-la-card-terranova-g648: #899061;
@terranova-a-la-card-terranova-l423: #e5dcbc;
@terranova-a-la-card-terranova-l424: #eddeb3;
@terranova-a-la-card-terranova-l425: #d1c29f;
@terranova-a-la-card-terranova-l426: #e2c992;
@terranova-a-la-card-terranova-l427: #d7bc97;
@terranova-a-la-card-terranova-l428: #bfa985;
@terranova-a-la-card-terranova-l429: #fff4d3;
@terranova-a-la-card-terranova-l430: #f3d8b2;
@terranova-a-la-card-terranova-l431: #e1ca9f;
@terranova-a-la-card-terranova-l432: #debf8b;
@terranova-a-la-card-terranova-l433: #d8b778;
@terranova-a-la-card-terranova-l434: #e0b069;
@terranova-a-la-card-terranova-l435: #c29b64;
@terranova-a-la-card-terranova-n850: #c4ac91;
@terranova-a-la-card-terranova-n851: #b4a391;
@terranova-a-la-card-terranova-n852: #b89e8b;
@terranova-a-la-card-terranova-n853: #9b8d88;
@terranova-a-la-card-terranova-n854: #8e8078;
@terranova-a-la-card-terranova-r955: #d8bba5;
@terranova-a-la-card-terranova-r956: #deb6a4;
@terranova-a-la-card-terranova-r957: #d6af9b;
@terranova-a-la-card-terranova-r958: #aa6961;
@terranova-a-la-card-terranova-r959: #a46b56;
@terranova-a-la-card-terranova-r960: #9b5343;
@terranova-a-la-card-terranova-u206: #dedad2;
@terranova-a-la-card-terranova-u207: #e2dbd0;
@terranova-a-la-card-terranova-u208: #d7d7d4;
@terranova-a-la-card-terranova-u209: #dbdbd6;
@terranova-a-la-card-terranova-u210: #d0d4cd;
@terranova-a-la-card-terranova-u211: #c0c3c4;
@terranova-a-la-card-terranova-u212: #868686;
@terranova-a-la-card-terranova-u213: #5b5f66;
@terranova-a-la-card-terranova-u214: #4d4d52;
@terranova-a-la-card-terranova-w100: #f5f3ed;
@terranova-a-la-card-terranova-w102: #fafaf6;
@terranova-a-la-card-terranova-w103: #f1ecde;
@terranova-a-la-card-terranova-w104: #edeae3;
@terranova-a-la-card-terranova-w105: #f1e9e0;