// alligator-silikat
@alligator-silikat-1-oxidbraun: #604b47;
@alligator-silikat-1-oxidrot: #80443c;
@alligator-silikat-1-oxidschwarz: #48494a;
@alligator-silikat-1-oxidgelb: #d19642;
@alligator-silikat-1-umbra: #655d42;
@alligator-silikat-2-konstantgelb: #ede57b;
@alligator-silikat-2-konstantgruen: #68865c;
@alligator-silikat-3-konstantblau: #6d9fd0;
@alligator-silikat-5000-1: #eee47d;
@alligator-silikat-5001-2: #f3e98c;
@alligator-silikat-5002-3: #f3eca0;
@alligator-silikat-5003-4: #f4f0c2;
@alligator-silikat-5004-5: #f5f3da;
@alligator-silikat-5005-6: #f3f4e2;
@alligator-silikat-5006-1: #d7a14c;
@alligator-silikat-5007-2: #ddaa59;
@alligator-silikat-5008-3: #e8bd79;
@alligator-silikat-5009-4: #f5d6a5;
@alligator-silikat-5010-5: #f8e6c5;
@alligator-silikat-5011-6: #f8ebd1;
@alligator-silikat-5012-1: #cd9441;
@alligator-silikat-5013-2: #d49c4a;
@alligator-silikat-5014-3: #dfad65;
@alligator-silikat-5015-4: #efc992;
@alligator-silikat-5016-5: #f5dab2;
@alligator-silikat-5017-6: #f6e5c9;
@alligator-silikat-5018-1: #945840;
@alligator-silikat-5019-2: #9d634c;
@alligator-silikat-5020-3: #b07962;
@alligator-silikat-5021-4: #cea18f;
@alligator-silikat-5022-5: #e3c3b4;
@alligator-silikat-5023-6: #efd9cd;
@alligator-silikat-5024-1: #81453c;
@alligator-silikat-5025-2: #894f48;
@alligator-silikat-5026-3: #9d6863;
@alligator-silikat-5027-4: #c09593;
@alligator-silikat-5028-5: #d9b7b6;
@alligator-silikat-5029-6: #e6ceca;
@alligator-silikat-5030-1: #935c4d;
@alligator-silikat-5031-2: #9f675c;
@alligator-silikat-5032-3: #b28177;
@alligator-silikat-5033-4: #cfaaa3;
@alligator-silikat-5034-5: #e4cbc6;
@alligator-silikat-5035-6: #efdcd5;
@alligator-silikat-5036-1: #7c5448;
@alligator-silikat-5037-2: #8a6156;
@alligator-silikat-5038-3: #a17d76;
@alligator-silikat-5039-4: #c3a7a1;
@alligator-silikat-5040-5: #decac4;
@alligator-silikat-5041-6: #e9dad4;
@alligator-silikat-5042-1: #71443d;
@alligator-silikat-5043-2: #7f544e;
@alligator-silikat-5044-3: #966f6c;
@alligator-silikat-5045-4: #bc9b9a;
@alligator-silikat-5046-5: #dbc5c0;
@alligator-silikat-5047-6: #e5d3cd;
@alligator-silikat-5048-1: #614b47;
@alligator-silikat-5049-2: #725d5c;
@alligator-silikat-5050-3: #927f7f;
@alligator-silikat-5051-4: #bcadac;
@alligator-silikat-5052-5: #d7cdcb;
@alligator-silikat-5053-6: #e4dbd8;
@alligator-silikat-5054-1: #7d6859;
@alligator-silikat-5055-2: #8d7a6d;
@alligator-silikat-5056-3: #a6968c;
@alligator-silikat-5057-4: #d5c9c1;
@alligator-silikat-5058-5: #e3dcd4;
@alligator-silikat-5059-6: #e8e2d9;
@alligator-silikat-5060-1: #645548;
@alligator-silikat-5061-2: #726458;
@alligator-silikat-5062-3: #8f8279;
@alligator-silikat-5063-4: #b9afa7;
@alligator-silikat-5064-5: #d3ccc5;
@alligator-silikat-5065-6: #e7e1d9;
@alligator-silikat-5066-1: #645d4e;
@alligator-silikat-5067-2: #756f62;
@alligator-silikat-5068-3: #979188;
@alligator-silikat-5069-4: #bdb7b1;
@alligator-silikat-5070-5: #dad6d1;
@alligator-silikat-5071-6: #e5e1da;
@alligator-silikat-5072-1: #686046;
@alligator-silikat-5073-2: #756f59;
@alligator-silikat-5074-3: #938d7a;
@alligator-silikat-5075-4: #bbb8ab;
@alligator-silikat-5076-5: #d7d5cb;
@alligator-silikat-5077-6: #e2ded6;
@alligator-silikat-5078-1: #846647;
@alligator-silikat-5079-2: #957654;
@alligator-silikat-5080-3: #ab9072;
@alligator-silikat-5081-4: #cdb9a1;
@alligator-silikat-5082-5: #e2d2be;
@alligator-silikat-5083-6: #eaddcd;
@alligator-silikat-5084-1: #917c4a;
@alligator-silikat-5085-2: #9c885a;
@alligator-silikat-5086-3: #b49f74;
@alligator-silikat-5087-4: #d0c1a1;
@alligator-silikat-5088-5: #e5dac2;
@alligator-silikat-5089-6: #efe6d3;
@alligator-silikat-5090-1: #958846;
@alligator-silikat-5091-2: #a39554;
@alligator-silikat-5092-3: #b6a872;
@alligator-silikat-5093-4: #d3c9a3;
@alligator-silikat-5094-5: #e7dfc3;
@alligator-silikat-5095-6: #ede7d3;
@alligator-silikat-5096-1: #ab8d50;
@alligator-silikat-5097-2: #b79b60;
@alligator-silikat-5098-3: #ccb27f;
@alligator-silikat-5099-4: #e0cfab;
@alligator-silikat-5100-5: #f0e4c8;
@alligator-silikat-5101-6: #f4ecd9;
@alligator-silikat-5102-1: #756848;
@alligator-silikat-5102-2: #877958;
@alligator-silikat-5104-3: #a09375;
@alligator-silikat-5105-4: #c3b89f;
@alligator-silikat-5106-5: #ded8c8;
@alligator-silikat-5107-6: #eae4d4;
@alligator-silikat-5108-1: #817b5a;
@alligator-silikat-5109-2: #8f896c;
@alligator-silikat-5110-3: #a9a58c;
@alligator-silikat-5111-4: #c8c7b3;
@alligator-silikat-5112-5: #dcdbcb;
@alligator-silikat-5113-6: #e7e6da;
@alligator-silikat-5114-1: #6b875e;
@alligator-silikat-5115-2: #799472;
@alligator-silikat-5116-3: #9cb097;
@alligator-silikat-5117-4: #bccbba;
@alligator-silikat-5118-5: #d5dfd2;
@alligator-silikat-5119-6: #e2e9dd;
@alligator-silikat-5120-1: #869f69;
@alligator-silikat-5121-2: #94aa79;
@alligator-silikat-5122-3: #adc09b;
@alligator-silikat-5123-4: #d0dbc3;
@alligator-silikat-5124-5: #e5e9d8;
@alligator-silikat-5125-6: #edeee1;
@alligator-silikat-5126-1: #6c7154;
@alligator-silikat-5127-2: #7b8065;
@alligator-silikat-5128-3: #999c85;
@alligator-silikat-5129-4: #bdc1b2;
@alligator-silikat-5130-5: #d8dace;
@alligator-silikat-5131-6: #e6e8dc;
@alligator-silikat-5132-1: #555e51;
@alligator-silikat-5133-2: #656f66;
@alligator-silikat-5134-3: #87908b;
@alligator-silikat-5135-4: #b4bbb7;
@alligator-silikat-5136-5: #d4d8d4;
@alligator-silikat-5137-6: #dfe2dd;
@alligator-silikat-5138-1: #696a5b;
@alligator-silikat-5139-2: #787a6c;
@alligator-silikat-5140-3: #979c93;
@alligator-silikat-5141-4: #c0c2bc;
@alligator-silikat-5142-5: #dcddd6;
@alligator-silikat-5143-6: #e9e8e0;
@alligator-silikat-5144-1: #58554c;
@alligator-silikat-5145-2: #68675f;
@alligator-silikat-5146-3: #85867f;
@alligator-silikat-5147-4: #b2b4b0;
@alligator-silikat-5148-5: #cdcfcc;
@alligator-silikat-5149-6: #ddded9;
@alligator-silikat-5150-1: #48494a;
@alligator-silikat-5151-2: #595b5f;
@alligator-silikat-5152-3: #7d8185;
@alligator-silikat-5153-4: #afb3b7;
@alligator-silikat-5154-5: #ccd0d0;
@alligator-silikat-5155-6: #dcdedd;
@alligator-silikat-5156-1: #555b63;
@alligator-silikat-5157-2: #697078;
@alligator-silikat-5158-3: #8c949c;
@alligator-silikat-5159-4: #b5bbc0;
@alligator-silikat-5160-5: #d2d7d8;
@alligator-silikat-5161-6: #e2e5e1;
@alligator-silikat-5162-1: #6c9ed5;
@alligator-silikat-5163-2: #81acda;
@alligator-silikat-5164-3: #a1c2e2;
@alligator-silikat-5165-4: #c5d8e6;
@alligator-silikat-5166-5: #dbe6e8;
@alligator-silikat-5167-6: #e7eee8;
@alligator-silikat-kieselgrau-b: #cecdc4;
@alligator-silikat-lava-b: #dbd5c6;
@alligator-silikat-mandelrosa: #e9d4bd;
@alligator-silikat-patinagruen-b: #e0e0c9;
@alligator-silikat-polargrau-b: #cdcfcb;
@alligator-silikat-sandgelb-b: #eee1c6;