// filmstarex-d-cu-premium-grade
@filmstarex-d-cu-premium-grade-d-cu-1115: #0c0d10;
@filmstarex-d-cu-premium-grade-d-cu-1116: #f0f4f2;
@filmstarex-d-cu-premium-grade-d-cu-1160: #e5d500;
@filmstarex-d-cu-premium-grade-d-cu-1154: #e7e144;
@filmstarex-d-cu-premium-grade-d-cu-1104: #f2bc00;
@filmstarex-d-cu-premium-grade-d-cu-1144: #f0ac00;
@filmstarex-d-cu-premium-grade-d-cu-1124: #dc8e00;
@filmstarex-d-cu-premium-grade-d-cu-1138: #d68831;
@filmstarex-d-cu-premium-grade-d-cu-1128: #ee6b00;
@filmstarex-d-cu-premium-grade-d-cu-1108: #d35407;
@filmstarex-d-cu-premium-grade-d-cu-1141: #d0400b;
@filmstarex-d-cu-premium-grade-d-cu-1161: #be280a;
@filmstarex-d-cu-premium-grade-d-cu-1101: #b82215;
@filmstarex-d-cu-premium-grade-d-cu-1162: #a01a1f;
@filmstarex-d-cu-premium-grade-d-cu-1151: #a4191c;
@filmstarex-d-cu-premium-grade-d-cu-1110: #9e1d18;
@filmstarex-d-cu-premium-grade-d-cu-1120: #5e1934;
@filmstarex-d-cu-premium-grade-d-cu-1163: #5e1723;
@filmstarex-d-cu-premium-grade-d-cu-1118: #a92866;
@filmstarex-d-cu-premium-grade-d-cu-1158: #8b7cac;
@filmstarex-d-cu-premium-grade-d-cu-1159: #6e2d6e;
@filmstarex-d-cu-premium-grade-d-cu-1126: #c8d520;
@filmstarex-d-cu-premium-grade-d-cu-1106: #68b21b;
@filmstarex-d-cu-premium-grade-d-cu-1165: #399904;
@filmstarex-d-cu-premium-grade-d-cu-1142: #00a439;
@filmstarex-d-cu-premium-grade-d-cu-1122: #446e31;
@filmstarex-d-cu-premium-grade-d-cu-1152: #20765a;
@filmstarex-d-cu-premium-grade-d-cu-1102: #00844e;
@filmstarex-d-cu-premium-grade-d-cu-1146: #007146;
@filmstarex-d-cu-premium-grade-d-cu-1167: #006e3a;
@filmstarex-d-cu-premium-grade-d-cu-1136: #005c2e;
@filmstarex-d-cu-premium-grade-d-cu-1111: #003e2a;
@filmstarex-d-cu-premium-grade-d-cu-1169: #009790;
@filmstarex-d-cu-premium-grade-d-cu-1170: #005f6a;
@filmstarex-d-cu-premium-grade-d-cu-1156: #00919f;
@filmstarex-d-cu-premium-grade-d-cu-1107: #209fca;
@filmstarex-d-cu-premium-grade-d-cu-1150: #009ed3;
@filmstarex-d-cu-premium-grade-d-cu-1127: #0076ae;
@filmstarex-d-cu-premium-grade-d-cu-1103: #0063ac;
@filmstarex-d-cu-premium-grade-d-cu-1153: #00517c;
@filmstarex-d-cu-premium-grade-d-cu-1171: #005291;
@filmstarex-d-cu-premium-grade-d-cu-1172: #003e85;
@filmstarex-d-cu-premium-grade-d-cu-1173: #163374;
@filmstarex-d-cu-premium-grade-d-cu-1157: #39395e;
@filmstarex-d-cu-premium-grade-d-cu-1112: #002b5b;
@filmstarex-d-cu-premium-grade-d-cu-1174: #112136;
@filmstarex-d-cu-premium-grade-d-cu-1132: #ded4b5;
@filmstarex-d-cu-premium-grade-d-cu-1125: #debd9a;
@filmstarex-d-cu-premium-grade-d-cu-1131: #85532a;
@filmstarex-d-cu-premium-grade-d-cu-1130: #4f2d1f;
@filmstarex-d-cu-premium-grade-d-cu-1149: #b9bdb8;
@filmstarex-d-cu-premium-grade-d-cu-1109: #90948f;
@filmstarex-d-cu-premium-grade-d-cu-1119: #585d5e;
@filmstarex-d-cu-premium-grade-d-cu-1304: #a28e58;
@filmstarex-d-cu-premium-grade-d-cu-1301: #999c9d;
@filmstarex-d-cu-premium-grade-m-1181: #2f3031;
@filmstarex-d-cu-premium-grade-m-1180: #f5f9f8;