// mixol
@mixol-mixol-lw-1-10: #4e5257;
@mixol-mixol-lw-1-4: #60646b;
@mixol-mixol-lw-1-2: #73777c;
@mixol-mixol-lw-1-1: #85888c;
@mixol-mixol-lw-1-0-2: #bbbdbf;
@mixol-mixol-lw-2-10: #807968;
@mixol-mixol-lw-2-4: #958e7d;
@mixol-mixol-lw-2-2: #aaa392;
@mixol-mixol-lw-2-1: #bfbaad;
@mixol-mixol-lw-2-0-2: #e1ddcf;
@mixol-mixol-lw-3-10: #9a7d69;
@mixol-mixol-lw-3-4: #b49985;
@mixol-mixol-lw-3-2: #cab19d;
@mixol-mixol-lw-3-1: #d8c2b0;
@mixol-mixol-lw-3-0-2: #eee1d4;
@mixol-mixol-lw-4-10: #a56562;
@mixol-mixol-lw-4-4: #ba7e7d;
@mixol-mixol-lw-4-2: #cb9492;
@mixol-mixol-lw-4-1: #d7a8a6;
@mixol-mixol-lw-4-0-2: #eed0cc;
@mixol-mixol-lw-5-10: #d6a15c;
@mixol-mixol-lw-5-4: #e7b674;
@mixol-mixol-lw-5-2: #f0c58a;
@mixol-mixol-lw-5-1: #f6d39f;
@mixol-mixol-lw-5-0-2: #fae9c9;
@mixol-mixol-l-6-10: #ffbf23;
@mixol-mixol-l-6-4: #ffcd4f;
@mixol-mixol-l-6-2: #ffd66b;
@mixol-mixol-l-6-1: #ffde84;
@mixol-mixol-l-6-0-2: #feecbc;
@mixol-mixol-l-7-10: #ffde51;
@mixol-mixol-l-7-4: #ffe567;
@mixol-mixol-l-7-2: #ffe975;
@mixol-mixol-l-7-1: #fdee8f;
@mixol-mixol-l-7-0-2: #f9f4c0;
@mixol-mixol-lw-8-10: #00a487;
@mixol-mixol-lw-8-4: #2abda2;
@mixol-mixol-lw-8-2: #55ccb3;
@mixol-mixol-lw-8-1: #79d9c3;
@mixol-mixol-lw-8-0-2: #b9ecdc;
@mixol-mixol-lw-9-10: #2589bb;
@mixol-mixol-lw-9-4: #38a2d0;
@mixol-mixol-lw-9-2: #52b3dc;
@mixol-mixol-lw-9-1: #6dc3e4;
@mixol-mixol-lw-9-0-2: #acdeeb;
@mixol-mixol-l-10-10: #d76071;
@mixol-mixol-l-10-4: #e37b8d;
@mixol-mixol-l-10-2: #ea8fa1;
@mixol-mixol-l-10-1: #f1a0b1;
@mixol-mixol-l-10-0-2: #f9c7d1;
@mixol-mixol-lw-11-10: #796baf;
@mixol-mixol-lw-11-4: #9587c7;
@mixol-mixol-lw-11-2: #aa9ed5;
@mixol-mixol-lw-11-1: #bcb1df;
@mixol-mixol-lw-11-0-2: #ddd7ea;
@mixol-mixol-lw-12-10: #688270;
@mixol-mixol-lw-12-4: #7e9c8a;
@mixol-mixol-lw-12-2: #92af9d;
@mixol-mixol-lw-12-1: #a8c1af;
@mixol-mixol-lw-12-0-2: #d1e0d1;
@mixol-mixol-lw-13-10: #5aa277;
@mixol-mixol-lw-13-4: #76bc92;
@mixol-mixol-lw-13-2: #8ecca6;
@mixol-mixol-lw-13-1: #a5dab7;
@mixol-mixol-lw-13-0-2: #d0eed1;
@mixol-mixol-lw-14-10: #7c9376;
@mixol-mixol-lw-14-4: #96ac90;
@mixol-mixol-lw-14-2: #abbea4;
@mixol-mixol-lw-14-1: #beceb7;
@mixol-mixol-lw-14-0-2: #dfe7d6;
@mixol-mixol-lw-15-10: #959268;
@mixol-mixol-lw-15-4: #aeac83;
@mixol-mixol-lw-15-2: #bfbd97;
@mixol-mixol-lw-15-1: #d0cfad;
@mixol-mixol-lw-15-0-2: #eae7d0;
@mixol-mixol-lw-16-10: #b7a769;
@mixol-mixol-lw-16-4: #cec086;
@mixol-mixol-lw-16-2: #d9cb96;
@mixol-mixol-lw-16-1: #e5daad;
@mixol-mixol-lw-16-0-2: #f3eccd;
@mixol-mixol-lw-17-10: #c7a86b;
@mixol-mixol-lw-17-4: #d9be85;
@mixol-mixol-lw-17-2: #e5cd9b;
@mixol-mixol-lw-17-1: #eddaae;
@mixol-mixol-lw-17-0-2: #f6ecce;
@mixol-mixol-l-18-10: #e67c60;
@mixol-mixol-l-18-4: #ef997b;
@mixol-mixol-l-18-2: #f4ac8f;
@mixol-mixol-l-18-1: #f8bda3;
@mixol-mixol-l-18-0-2: #fadcc7;
@mixol-mixol-lw-19-10: #c78e64;
@mixol-mixol-lw-19-4: #dcaa81;
@mixol-mixol-lw-19-2: #e6ba93;
@mixol-mixol-lw-19-1: #efcaa8;
@mixol-mixol-lw-19-0-2: #f8e4cd;
@mixol-mixol-lw-20-10: #b07a69;
@mixol-mixol-lw-20-4: #c69483;
@mixol-mixol-lw-20-2: #d6a998;
@mixol-mixol-lw-20-1: #e2bbac;
@mixol-mixol-lw-20-0-2: #f3dcd0;
@mixol-mixol-lw-21-10: #b48666;
@mixol-mixol-lw-21-4: #c79d7d;
@mixol-mixol-lw-21-2: #d4af92;
@mixol-mixol-lw-21-1: #dfc0a6;
@mixol-mixol-lw-21-0-2: #f1dfcc;
@mixol-mixol-lw-22-10: #8c756a;
@mixol-mixol-lw-22-4: #ac978b;
@mixol-mixol-lw-22-2: #baa69a;
@mixol-mixol-lw-22-1: #d2bfb4;
@mixol-mixol-lw-22-0-2: #e6d9cf;
@mixol-mixol-lw-23-10: #7c6d68;
@mixol-mixol-lw-23-4: #9c8e88;
@mixol-mixol-lw-23-2: #aa9d96;
@mixol-mixol-lw-23-1: #c2b7b1;
@mixol-mixol-lw-23-0-2: #e4dcd6;
@mixol-mixol-lw-24-10: #7d7872;
@mixol-mixol-lw-24-4: #939089;
@mixol-mixol-lw-24-2: #aea79d;
@mixol-mixol-lw-24-1: #bdb8ae;
@mixol-mixol-lw-24-0-2: #dcd8d0;
@mixol-mixol-lw-26-10: #ffdb57;
@mixol-mixol-lw-26-4: #ffe47e;
@mixol-mixol-lw-26-2: #ffea96;
@mixol-mixol-lw-26-1: #ffeeab;
@mixol-mixol-lw-26-0-2: #fcf4ce;
@mixol-mixol-lw-27-10: #d96470;
@mixol-mixol-lw-27-4: #e77d89;
@mixol-mixol-lw-27-2: #ee929e;
@mixol-mixol-lw-27-1: #f3a7b1;
@mixol-mixol-lw-27-0-2: #f9d0d4;
@mixol-mixol-lw-28-10: #c065a3;
@mixol-mixol-lw-28-4: #d685be;
@mixol-mixol-lw-28-2: #e09ccd;
@mixol-mixol-lw-28-1: #e8b1d9;
@mixol-mixol-lw-28-0-2: #f2d6e8;
@mixol-mixol-lw-29-10: #6d707a;
@mixol-mixol-lw-29-4: #878b94;
@mixol-mixol-lw-29-2: #9da1a9;
@mixol-mixol-lw-29-1: #b5b8be;
@mixol-mixol-lw-29-0-2: #d8dada;
@mixol-mixol-lw-30-10: #f7eb59;
@mixol-mixol-lw-30-4: #f7f17a;
@mixol-mixol-lw-30-2: #f6f493;
@mixol-mixol-lw-30-1: #f6f5a8;
@mixol-mixol-lw-30-0-2: #f6f6ca;
@mixol-mixol-lw-31-10: #73b28c;
@mixol-mixol-lw-31-4: #97caa9;
@mixol-mixol-lw-31-2: #add7bb;
@mixol-mixol-lw-31-1: #c1e2cb;
@mixol-mixol-lw-31-0-2: #d4ecd9;
@mixol-mixol-lw-32-10: #68a6dc;
@mixol-mixol-lw-32-4: #8cbee7;
@mixol-mixol-lw-32-2: #a5cdec;
@mixol-mixol-lw-32-1: #bad9ee;
@mixol-mixol-lw-32-0-2: #ddebee;