// oracal-serie-551
@oracal-serie-551-oracal-201-krokusgelb: #edd900;
@oracal-serie-551-oracal-202-rapsgelb: #f2c000;
@oracal-serie-551-oracal-203-strohgelb: #f9b100;
@oracal-serie-551-oracal-204-melonengelb: #f4a500;
@oracal-serie-551-oracal-301-verkehrsorange: #df5e00;
@oracal-serie-551-oracal-302-blumenrot: #c42a13;
@oracal-serie-551-oracal-303-blutrot: #c22005;
@oracal-serie-551-oracal-304-feuerrot: #bb2611;
@oracal-serie-551-oracal-305-geranienrot: #9e1517;
@oracal-serie-551-oracal-306-karminrot: #98000f;
@oracal-serie-551-oracal-307-braunrot: #7b1e23;
@oracal-serie-551-oracal-308-weinrot: #611625;
@oracal-serie-551-oracal-402-zyklam: #b72963;
@oracal-serie-551-oracal-403-hellviolett: #5b388e;
@oracal-serie-551-oracal-601-limettengruen: #80cb37;
@oracal-serie-551-oracal-602-grasgruen: #3d9a00;
@oracal-serie-551-oracal-603-mintgruen: #009059;
@oracal-serie-551-oracal-604-kaktusgruen: #00713c;
@oracal-serie-551-oracal-605-waldgruen: #005032;
@oracal-serie-551-oracal-501-mintblau: #6dd8be;
@oracal-serie-551-oracal-502-blautuerkis: #00a195;
@oracal-serie-551-oracal-503-wasserblau: #008d90;
@oracal-serie-551-oracal-504-pastellblau: #58b1d9;
@oracal-serie-551-oracal-505-olympicblau: #0098cf;
@oracal-serie-551-oracal-506-paradiesblau: #0985b7;
@oracal-serie-551-oracal-507-capriblau: #0071af;
@oracal-serie-551-oracal-508-signalblau: #0066ab;
@oracal-serie-551-oracal-509-meeresblau: #005294;
@oracal-serie-551-oracal-510-clematisblau: #004189;
@oracal-serie-551-oracal-535-saphir: #1f367d;
@oracal-serie-551-oracal-511-nachtblau: #10326e;
@oracal-serie-551-oracal-512-saphirblau: #112c55;
@oracal-serie-551-oracal-513-schwarzblau: #111f31;
@oracal-serie-551-oracal-801-lehmbraun: #7d4d27;
@oracal-serie-551-oracal-802-rehbraun: #6b4122;
@oracal-serie-551-oracal-803-schokoladenbraun: #41281a;
@oracal-serie-551-oracal-804-beigebraun: #e5c793;
@oracal-serie-551-oracal-711-steingrau: #cacbcb;
@oracal-serie-551-oracal-712-verkehrsgrau: #939691;
@oracal-serie-551-oracal-713-eisengrau: #5b6161;
@oracal-serie-551-oracal-714-graphitgrau: #45494a;
@oracal-serie-551-oracal-701-tiefschwarz: #101214;
@oracal-serie-551-oracal-702-tiefschwarz-matt: #3d3d3e;
@oracal-serie-551-oracal-101-arktisweiss: #edeff3;
@oracal-serie-551-oracal-102-arktisweiss-matt: #edeef4;
@oracal-serie-551-oracal-903-silber: #9d9fa0;
@oracal-serie-551-oracal-915-gold: #9b7e48;