// terranova-151
@terranova-151-terranova-1000: #f0eee4;
@terranova-151-terranova-1100: #f6d50e;
@terranova-151-terranova-1102: #f2eece;
@terranova-151-terranova-1110: #f5ecb2;
@terranova-151-terranova-1125: #f6e991;
@terranova-151-terranova-1150: #f4de5a;
@terranova-151-terranova-1200: #ffba1c;
@terranova-151-terranova-1202: #f4e8ce;
@terranova-151-terranova-1210: #fbe1b3;
@terranova-151-terranova-1225: #fad58f;
@terranova-151-terranova-1250: #ffcf6e;
@terranova-151-terranova-1300: #e09d49;
@terranova-151-terranova-1302: #f4ebd8;
@terranova-151-terranova-1310: #f7e3c8;
@terranova-151-terranova-1325: #f5d6b0;
@terranova-151-terranova-1350: #edc28c;
@terranova-151-terranova-1400: #daaa54;
@terranova-151-terranova-1402: #f5eacf;
@terranova-151-terranova-1410: #f4e3c3;
@terranova-151-terranova-1425: #f2d7a6;
@terranova-151-terranova-1450: #e8c483;
@terranova-151-terranova-1500: #cf9540;
@terranova-151-terranova-1502: #f2e3c8;
@terranova-151-terranova-1510: #f4d8ac;
@terranova-151-terranova-1525: #ebc287;
@terranova-151-terranova-1550: #e3b166;
@terranova-151-terranova-1600: #bd8045;
@terranova-151-terranova-1602: #f3ddc3;
@terranova-151-terranova-1610: #eccca7;
@terranova-151-terranova-1625: #daaf83;
@terranova-151-terranova-1650: #d49f6b;
@terranova-151-terranova-2000: #89754c;
@terranova-151-terranova-2002: #eae3d4;
@terranova-151-terranova-2010: #d8cdb8;
@terranova-151-terranova-2025: #ccbfa4;
@terranova-151-terranova-2050: #b5a381;
@terranova-151-terranova-2100: #807f4d;
@terranova-151-terranova-2102: #e5e3ce;
@terranova-151-terranova-2110: #d0cfb2;
@terranova-151-terranova-2125: #bcbc92;
@terranova-151-terranova-2150: #a8a779;
@terranova-151-terranova-2200: #7b7555;
@terranova-151-terranova-2202: #e4e3d8;
@terranova-151-terranova-2210: #d5d2c3;
@terranova-151-terranova-2225: #c1bea9;
@terranova-151-terranova-2250: #a39f86;
@terranova-151-terranova-2300: #607a5a;
@terranova-151-terranova-2302: #e2e7dd;
@terranova-151-terranova-2310: #cad6c8;
@terranova-151-terranova-2325: #adbea7;
@terranova-151-terranova-2350: #91a68c;
@terranova-151-terranova-2400: #686a50;
@terranova-151-terranova-2402: #dedfd3;
@terranova-151-terranova-2410: #c5c8bc;
@terranova-151-terranova-2425: #b3b5a6;
@terranova-151-terranova-2450: #949782;
@terranova-151-terranova-2500: #596655;
@terranova-151-terranova-2502: #dbdfd4;
@terranova-151-terranova-2510: #c5cac1;
@terranova-151-terranova-2525: #abb3aa;
@terranova-151-terranova-2550: #8a998c;
@terranova-151-terranova-3000: #9c714a;
@terranova-151-terranova-3002: #e6d5c5;
@terranova-151-terranova-3010: #e1cab4;
@terranova-151-terranova-3025: #d3b69a;
@terranova-151-terranova-3050: #bc9a78;
@terranova-151-terranova-3100: #866346;
@terranova-151-terranova-3102: #e6ddd2;
@terranova-151-terranova-3110: #daccbd;
@terranova-151-terranova-3125: #c6b19d;
@terranova-151-terranova-3150: #b0947b;
@terranova-151-terranova-3200: #7f5e4c;
@terranova-151-terranova-3202: #ece0d7;
@terranova-151-terranova-3210: #d9c7bd;
@terranova-151-terranova-3225: #cbb2a8;
@terranova-151-terranova-3250: #b19082;
@terranova-151-terranova-3300: #7a533f;
@terranova-151-terranova-3302: #e4d2c9;
@terranova-151-terranova-3310: #cdb4ab;
@terranova-151-terranova-3325: #b09185;
@terranova-151-terranova-3350: #9a7565;
@terranova-151-terranova-3400: #b26f49;
@terranova-151-terranova-3402: #f1dbd0;
@terranova-151-terranova-3410: #ebc8b5;
@terranova-151-terranova-3425: #e0b59e;
@terranova-151-terranova-3450: #d09d82;
@terranova-151-terranova-3500: #a4654e;
@terranova-151-terranova-3502: #ebd8cf;
@terranova-151-terranova-3510: #e1c1b5;
@terranova-151-terranova-3525: #d7ac9c;
@terranova-151-terranova-3550: #c28c7a;
@terranova-151-terranova-4000: #e9743c;
@terranova-151-terranova-4002: #f9e1cf;
@terranova-151-terranova-4010: #f2ccb4;
@terranova-151-terranova-4025: #f2b794;
@terranova-151-terranova-4050: #ec9f75;
@terranova-151-terranova-4100: #e15745;
@terranova-151-terranova-4102: #f5d9d4;
@terranova-151-terranova-4110: #f5c2be;
@terranova-151-terranova-4125: #eea59f;
@terranova-151-terranova-4150: #e7877f;
@terranova-151-terranova-4200: #864a42;
@terranova-151-terranova-4202: #e3cac9;
@terranova-151-terranova-4210: #cca7a8;
@terranova-151-terranova-4225: #ba8a8b;
@terranova-151-terranova-4250: #a76e6d;
@terranova-151-terranova-4300: #8d4a3e;
@terranova-151-terranova-4302: #e8c9c3;
@terranova-151-terranova-4310: #d8a59c;
@terranova-151-terranova-4325: #c5867e;
@terranova-151-terranova-4350: #ad6b62;
@terranova-151-terranova-4400: #965f5d;
@terranova-151-terranova-4402: #ece0dc;
@terranova-151-terranova-4410: #e0cccc;
@terranova-151-terranova-4425: #cdaeaf;
@terranova-151-terranova-4450: #bb9393;
@terranova-151-terranova-4500: #795b59;
@terranova-151-terranova-4502: #e6dfdb;
@terranova-151-terranova-4510: #d8cece;
@terranova-151-terranova-4525: #c0b2b4;
@terranova-151-terranova-4550: #a79598;
@terranova-151-terranova-4600: #6d4842;
@terranova-151-terranova-4602: #ded2d2;
@terranova-151-terranova-4610: #c6b0b1;
@terranova-151-terranova-4625: #b19392;
@terranova-151-terranova-4650: #987475;
@terranova-151-terranova-5000: #5590c7;
@terranova-151-terranova-5002: #e5eeeb;
@terranova-151-terranova-5010: #cbdce6;
@terranova-151-terranova-5025: #b6d1e7;
@terranova-151-terranova-5050: #97bcdd;
@terranova-151-terranova-5100: #647bbb;
@terranova-151-terranova-5102: #e6eae7;
@terranova-151-terranova-5110: #d3dce6;
@terranova-151-terranova-5125: #c0cee6;
@terranova-151-terranova-5150: #a9b9e0;
@terranova-151-terranova-6000: #535868;
@terranova-151-terranova-6002: #e4e5e2;
@terranova-151-terranova-6010: #ced3d7;
@terranova-151-terranova-6025: #b2b9c2;
@terranova-151-terranova-6050: #979eac;
@terranova-151-terranova-6100: #51534f;
@terranova-151-terranova-6102: #d8dcd8;
@terranova-151-terranova-6110: #c4c7c5;
@terranova-151-terranova-6125: #abadac;
@terranova-151-terranova-6150: #8a8d8c;
@terranova-151-terranova-6200: #464546;
@terranova-151-terranova-6202: #dee0df;
@terranova-151-terranova-6210: #c6cacc;
@terranova-151-terranova-6225: #a3a6a9;
@terranova-151-terranova-6250: #76787b;