// capalac-metallic-pearl
@capalac-metallic-pearl-silber-ca-ral-9006-glanzend: #a6a8a7;
@capalac-metallic-pearl-silber-ca-ral-9006-seidenmatt: #a9aba8;
@capalac-metallic-pearl-gold-glanzend: #bc9a25;
@capalac-metallic-pearl-kupfer-glanzend: #ac7d58;
@capalac-metallic-pearl-ral-1035-perlbeige: #938772;
@capalac-metallic-pearl-ral-1036-perlgold: #8f7651;
@capalac-metallic-pearl-ral-2013-perlorange: #823b1e;
@capalac-metallic-pearl-ral-3032-perlrubinrot: #762f33;
@capalac-metallic-pearl-ral-3033-perlrosa: #a0312b;
@capalac-metallic-pearl-ral-4011-perlviolett: #766684;
@capalac-metallic-pearl-ral-4012-perlbrombeer: #626174;
@capalac-metallic-pearl-ral-5025-perlenzian: #305e70;
@capalac-metallic-pearl-ral-5026-perlnachtblau: #1e2d50;
@capalac-metallic-pearl-ral-6035-perlgrun: #26572f;
@capalac-metallic-pearl-ral-6036-perlopalgrun: #0b594b;
@capalac-metallic-pearl-ral-7048-perlmausgrau: #787061;
@capalac-metallic-pearl-ral-8029-perlkupfer: #7d3d28;
@capalac-metallic-pearl-ral-9022-perlhellgrau: #9c9b93;
@capalac-metallic-pearl-ral-9023-perldunkelgrau: #7a7b78;