// huili-paint-n280
@huili-paint-n280-hl8011: #e9eedf;
@huili-paint-n280-hl8012: #e7f0e4;
@huili-paint-n280-hl8013: #ddecdb;
@huili-paint-n280-hl8014: #e1f0e5;
@huili-paint-n280-hl8015: #c4dfd4;
@huili-paint-n280-hl8021: #e1e7d0;
@huili-paint-n280-hl8022: #dbeecd;
@huili-paint-n280-hl8023: #c7d5b8;
@huili-paint-n280-hl8024: #c5d3b5;
@huili-paint-n280-hl8025: #b0c1a3;
@huili-paint-n280-hl8031: #eff0dd;
@huili-paint-n280-hl8032: #e7ecd0;
@huili-paint-n280-hl8033: #d0dcc4;
@huili-paint-n280-hl8034: #c1d3ba;
@huili-paint-n280-hl8035: #b6c7b2;
@huili-paint-n280-hl8041: #d6ebdf;
@huili-paint-n280-hl8042: #d0e3d3;
@huili-paint-n280-hl8043: #a1bba1;
@huili-paint-n280-hl8044: #98b89e;
@huili-paint-n280-hl8045: #8cab8f;
@huili-paint-n280-hl8051: #c6ddd5;
@huili-paint-n280-hl8052: #b5d5c0;
@huili-paint-n280-hl8053: #9db2a0;
@huili-paint-n280-hl8054: #a1b2a3;
@huili-paint-n280-hl8055: #96ac9f;
@huili-paint-n280-hl8061: #c1dad2;
@huili-paint-n280-hl8062: #93b7b2;
@huili-paint-n280-hl8063: #88a39a;
@huili-paint-n280-hl8064: #829b91;
@huili-paint-n280-hl8065: #80998e;
@huili-paint-n280-hl8071: #d9e5e4;
@huili-paint-n280-hl8072: #c8dee1;
@huili-paint-n280-hl8073: #c0d0d2;
@huili-paint-n280-hl8074: #a9c6cb;
@huili-paint-n280-hl8075: #85aab2;
@huili-paint-n280-hl8081: #cee4e2;
@huili-paint-n280-hl8082: #b5d2cc;
@huili-paint-n280-hl8083: #bed2ce;
@huili-paint-n280-hl8084: #b4cbc7;
@huili-paint-n280-hl8085: #a1bcba;
@huili-paint-n280-hl8091: #b4d5e0;
@huili-paint-n280-hl8092: #b2d3dd;
@huili-paint-n280-hl8093: #b4d4db;
@huili-paint-n280-hl8094: #82b7bf;
@huili-paint-n280-hl8095: #458892;
@huili-paint-n280-hl8101: #c6d1da;
@huili-paint-n280-hl8102: #b8cbd8;
@huili-paint-n280-hl8103: #a8bbc7;
@huili-paint-n280-hl8104: #94a7b7;
@huili-paint-n280-hl8105: #8d9ca4;
@huili-paint-n280-hl8111: #c0cdd3;
@huili-paint-n280-hl8112: #b2bcc1;
@huili-paint-n280-hl8113: #878d8e;
@huili-paint-n280-hl8114: #717679;
@huili-paint-n280-hl8115: #6e7477;
@huili-paint-n280-hl8121: #b2b9b8;
@huili-paint-n280-hl8122: #a7afad;
@huili-paint-n280-hl8123: #97a19e;
@huili-paint-n280-hl8124: #8c9696;
@huili-paint-n280-hl8125: #97a0a2;
@huili-paint-n280-hl8131: #e9e0e4;
@huili-paint-n280-hl8132: #eddeea;
@huili-paint-n280-hl8133: #e9dee6;
@huili-paint-n280-hl8134: #e2d6dd;
@huili-paint-n280-hl8135: #e0bdca;
@huili-paint-n280-hl8141: #eed9ce;
@huili-paint-n280-hl8142: #eeccb9;
@huili-paint-n280-hl8143: #eec6b7;
@huili-paint-n280-hl8144: #f0cac7;
@huili-paint-n280-hl8145: #eac0bb;
@huili-paint-n280-hl8151: #edded7;
@huili-paint-n280-hl8152: #efdacd;
@huili-paint-n280-hl8153: #ecd2be;
@huili-paint-n280-hl8154: #eacfb6;
@huili-paint-n280-hl8155: #e7c6ab;
@huili-paint-n280-hl8161: #f2ccaa;
@huili-paint-n280-hl8162: #f2d1b8;
@huili-paint-n280-hl8163: #efc4a8;
@huili-paint-n280-hl8164: #f6ba93;
@huili-paint-n280-hl8165: #e39c70;
@huili-paint-n280-hl8171: #e3d4d4;
@huili-paint-n280-hl8172: #e9d5cb;
@huili-paint-n280-hl8173: #e2cac2;
@huili-paint-n280-hl8174: #dfbcb1;
@huili-paint-n280-hl8175: #d5afa3;
@huili-paint-n280-hl8181: #c68573;
@huili-paint-n280-hl8182: #cb9688;
@huili-paint-n280-hl8183: #bb8980;
@huili-paint-n280-hl8184: #ab817a;
@huili-paint-n280-hl8185: #a77665;
@huili-paint-n280-hl8191: #efe2d9;
@huili-paint-n280-hl8192: #e0c8c0;
@huili-paint-n280-hl8193: #c09e97;
@huili-paint-n280-hl8194: #b79692;
@huili-paint-n280-hl8195: #ae8f8d;
@huili-paint-n280-hl8201: #dac3af;
@huili-paint-n280-hl8202: #b69c8c;
@huili-paint-n280-hl8203: #b4988c;
@huili-paint-n280-hl8204: #a68d80;
@huili-paint-n280-hl8205: #9f8a80;
@huili-paint-n280-hl8211: #bc9b8f;
@huili-paint-n280-hl8212: #96766c;
@huili-paint-n280-hl8213: #8a6964;
@huili-paint-n280-hl8214: #755953;
@huili-paint-n280-hl8215: #714f48;
@huili-paint-n280-hl8221: #914f46;
@huili-paint-n280-hl8222: #8c4d47;
@huili-paint-n280-hl8223: #865049;
@huili-paint-n280-hl8224: #754b43;
@huili-paint-n280-hl8225: #774e46;
@huili-paint-n280-hl8231: #f5f2e0;
@huili-paint-n280-hl8232: #efecd8;
@huili-paint-n280-hl8233: #f2e7cd;
@huili-paint-n280-hl8234: #f4e7c8;
@huili-paint-n280-hl8235: #f1e6ce;
@huili-paint-n280-hl8241: #e8e7d6;
@huili-paint-n280-hl8242: #efe7cd;
@huili-paint-n280-hl8243: #f1e3c9;
@huili-paint-n280-hl8244: #eee2c7;
@huili-paint-n280-hl8245: #f3e0c0;
@huili-paint-n280-hl8251: #e4cfae;
@huili-paint-n280-hl8252: #dcd1ba;
@huili-paint-n280-hl8253: #d1c4ab;
@huili-paint-n280-hl8254: #cec2ab;
@huili-paint-n280-hl8255: #dad1c2;
@huili-paint-n280-hl8261: #eae7cf;
@huili-paint-n280-hl8262: #f0edcd;
@huili-paint-n280-hl8263: #ebe7b9;
@huili-paint-n280-hl8264: #f4e0a4;
@huili-paint-n280-hl8265: #e1d584;
@huili-paint-n280-hl8271: #eceadc;
@huili-paint-n280-hl8272: #e2d9b8;
@huili-paint-n280-hl8273: #dccea4;
@huili-paint-n280-hl8274: #d9bd81;
@huili-paint-n280-hl8275: #c0a15d;
@huili-paint-n280-hl8281: #dbd6b3;
@huili-paint-n280-hl8282: #d9d7b2;
@huili-paint-n280-hl8283: #ccc9a5;
@huili-paint-n280-hl8284: #bfbe98;
@huili-paint-n280-hl8285: #abaa7f;
@huili-paint-n280-hl8291: #c8b993;
@huili-paint-n280-hl8292: #c5b994;
@huili-paint-n280-hl8293: #bbb08a;
@huili-paint-n280-hl8294: #aca078;
@huili-paint-n280-hl8295: #9b8f63;
@huili-paint-n280-hl8301: #e3d9b9;
@huili-paint-n280-hl8302: #c5bd9b;
@huili-paint-n280-hl8303: #b9b08f;
@huili-paint-n280-hl8304: #aea280;
@huili-paint-n280-hl8305: #999173;
@huili-paint-n280-hl8311: #f4ebd9;
@huili-paint-n280-hl8312: #ece2d4;
@huili-paint-n280-hl8313: #f3e6d6;
@huili-paint-n280-hl8314: #ede2d4;
@huili-paint-n280-hl8315: #eee1ce;
@huili-paint-n280-hl8321: #eee6db;
@huili-paint-n280-hl8322: #e7dfd5;
@huili-paint-n280-hl8323: #e3dcd3;
@huili-paint-n280-hl8324: #e8e0db;
@huili-paint-n280-hl8325: #e5dcd7;
@huili-paint-n280-hl8331: #f7eddf;
@huili-paint-n280-hl8332: #e7dccf;
@huili-paint-n280-hl8333: #e4d6c8;
@huili-paint-n280-hl8334: #deccbe;
@huili-paint-n280-hl8335: #d9cdc3;
@huili-paint-n280-hl8341: #dad5ce;
@huili-paint-n280-hl8342: #d5cec7;
@huili-paint-n280-hl8343: #cdc8c2;
@huili-paint-n280-hl8344: #c9beb5;
@huili-paint-n280-hl8345: #a1998d;
@huili-paint-n280-hl8351: #e2cab1;
@huili-paint-n280-hl8352: #d7bca2;
@huili-paint-n280-hl8353: #caab91;
@huili-paint-n280-hl8354: #b99d83;
@huili-paint-n280-hl8355: #a4886f;
@huili-paint-n280-hl8361: #e0c1ab;
@huili-paint-n280-hl8362: #e3c2a7;
@huili-paint-n280-hl8363: #c8a186;
@huili-paint-n280-hl8364: #c1a28d;
@huili-paint-n280-hl8365: #b2876d;
@huili-paint-n280-hl8371: #d3b598;
@huili-paint-n280-hl8372: #cdaa8d;
@huili-paint-n280-hl8373: #c3a383;
@huili-paint-n280-hl8374: #bf9f84;
@huili-paint-n280-hl8375: #b79277;
@huili-paint-n280-hl8381: #d5c4b0;
@huili-paint-n280-hl8382: #ccb7a0;
@huili-paint-n280-hl8383: #bba68e;
@huili-paint-n280-hl8384: #b09a83;
@huili-paint-n280-hl8385: #a7927c;
@huili-paint-n280-hl8391: #e6e7db;
@huili-paint-n280-hl8392: #dfe1d2;
@huili-paint-n280-hl8393: #e1e3d5;
@huili-paint-n280-hl8394: #dadecf;
@huili-paint-n280-hl8395: #cfd5cb;
@huili-paint-n280-hl8401: #d2dbcf;
@huili-paint-n280-hl8402: #cdd6c8;
@huili-paint-n280-hl8403: #d3dbca;
@huili-paint-n280-hl8404: #d4dbcd;
@huili-paint-n280-hl8405: #c0cbbd;
@huili-paint-n280-hl8411: #e3e3d7;
@huili-paint-n280-hl8412: #deddce;
@huili-paint-n280-hl8413: #ddded1;
@huili-paint-n280-hl8414: #dadcce;
@huili-paint-n280-hl8415: #cecebe;
@huili-paint-n280-hl8421: #c1ccbe;
@huili-paint-n280-hl8422: #aebab1;
@huili-paint-n280-hl8423: #bac1c0;
@huili-paint-n280-hl8424: #afb5b5;
@huili-paint-n280-hl8425: #c6cbc9;
@huili-paint-n280-hl8431: #b7b5a7;
@huili-paint-n280-hl8432: #acab9f;
@huili-paint-n280-hl8433: #a19f91;
@huili-paint-n280-hl8434: #b2ab9c;
@huili-paint-n280-hl8435: #aca596;
@huili-paint-n280-hl8441: #d0d0c5;
@huili-paint-n280-hl8442: #c9c8b8;
@huili-paint-n280-hl8443: #c9c9c2;
@huili-paint-n280-hl8444: #c1c1ba;
@huili-paint-n280-hl8445: #b8b9b2;
@huili-paint-n280-hl8451: #d5d6d2;
@huili-paint-n280-hl8452: #d6dad9;
@huili-paint-n280-hl8453: #b4b7b0;
@huili-paint-n280-hl8454: #a6aca8;
@huili-paint-n280-hl8455: #9ba19d;
@huili-paint-n280-hl8461: #d8dbd2;
@huili-paint-n280-hl8462: #dce2de;
@huili-paint-n280-hl8463: #c6c7c2;
@huili-paint-n280-hl8464: #babcb7;
@huili-paint-n280-hl8465: #b1b2ab;
@huili-paint-n280-hl8471: #e8cea2;
@huili-paint-n280-hl8472: #e7c894;
@huili-paint-n280-hl8473: #c6a577;
@huili-paint-n280-hl8474: #bb9968;
@huili-paint-n280-hl8475: #b49060;
@huili-paint-n280-hl8481: #edd0a0;
@huili-paint-n280-hl8482: #d7b887;
@huili-paint-n280-hl8483: #d2b58d;
@huili-paint-n280-hl8484: #c3a57c;
@huili-paint-n280-hl8485: #bda07a;
@huili-paint-n280-hl8491: #d5be99;
@huili-paint-n280-hl8492: #ddc5a3;
@huili-paint-n280-hl8493: #dfcfb8;
@huili-paint-n280-hl8494: #c3b49b;
@huili-paint-n280-hl8495: #cdbfa9;
@huili-paint-n280-hl8501: #f1e5cb;
@huili-paint-n280-hl8502: #f9e3bf;
@huili-paint-n280-hl8503: #eed7af;
@huili-paint-n280-hl8504: #e8d6b0;
@huili-paint-n280-hl8505: #e8d0a5;
@huili-paint-n280-hl8511: #eee3d7;
@huili-paint-n280-hl8512: #f0e0ca;
@huili-paint-n280-hl8513: #ecdac2;
@huili-paint-n280-hl8514: #e4cfb7;
@huili-paint-n280-hl8515: #e2d3be;
@huili-paint-n280-hl8521: #eae1ca;
@huili-paint-n280-hl8522: #ece3d0;
@huili-paint-n280-hl8523: #f4e7cd;
@huili-paint-n280-hl8524: #f1e0c4;
@huili-paint-n280-hl8525: #e8d5b4;
@huili-paint-n280-hl8531: #2f8876;
@huili-paint-n280-hl8532: #aa4544;
@huili-paint-n280-hl8533: #ffa14c;
@huili-paint-n280-hl8534: #366294;
@huili-paint-n280-hl8535: #3c6c4e;
@huili-paint-n280-hl8541: #86d7c9;
@huili-paint-n280-hl8542: #e55846;
@huili-paint-n280-hl8543: #ffad1e;
@huili-paint-n280-hl8544: #3a7196;
@huili-paint-n280-hl8545: #a09d88;
@huili-paint-n280-hl8551: #79b197;
@huili-paint-n280-hl8552: #cf8570;
@huili-paint-n280-hl8553: #bab98c;
@huili-paint-n280-hl8554: #8392c5;
@huili-paint-n280-hl8555: #434547;
@huili-paint-n280-hl8561: #36b07e;
@huili-paint-n280-hl8562: #d87259;
@huili-paint-n280-hl8563: #f1db88;
@huili-paint-n280-hl8564: #d8abd3;
@huili-paint-n280-hl8565: #775264;