// terranova-color-2000
@terranova-color-2000-terranova-t010: #ecede6;
@terranova-color-2000-terranova-t020: #e8e3db;
@terranova-color-2000-terranova-t030: #eeefdd;
@terranova-color-2000-terranova-t040: #eeefdb;
@terranova-color-2000-terranova-t050: #edf0c4;
@terranova-color-2000-terranova-t060: #e9e8a2;
@terranova-color-2000-terranova-t070: #ebe786;
@terranova-color-2000-terranova-t080: #ece67b;
@terranova-color-2000-terranova-t090: #ede377;
@terranova-color-2000-terranova-t100: #ebece5;
@terranova-color-2000-terranova-t110: #eeeada;
@terranova-color-2000-terranova-t120: #f4ebd5;
@terranova-color-2000-terranova-t130: #eedcba;
@terranova-color-2000-terranova-t140: #f0d4a4;
@terranova-color-2000-terranova-t150: #e7c48e;
@terranova-color-2000-terranova-t160: #deb476;
@terranova-color-2000-terranova-t170: #dbaf6c;
@terranova-color-2000-terranova-t180: #d2a25b;
@terranova-color-2000-terranova-t190: #d8ceb8;
@terranova-color-2000-terranova-t200: #ddccb0;
@terranova-color-2000-terranova-t210: #dbc7a6;
@terranova-color-2000-terranova-t220: #c9a986;
@terranova-color-2000-terranova-t230: #9e7c63;
@terranova-color-2000-terranova-t240: #a17f71;
@terranova-color-2000-terranova-t250: #efdebc;
@terranova-color-2000-terranova-t260: #e7d2aa;
@terranova-color-2000-terranova-t270: #e4c998;
@terranova-color-2000-terranova-t280: #e3bb80;
@terranova-color-2000-terranova-t290: #ddb282;
@terranova-color-2000-terranova-t300: #daaa81;
@terranova-color-2000-terranova-t310: #ca906d;
@terranova-color-2000-terranova-t320: #ead9d1;
@terranova-color-2000-terranova-t330: #e3c8c1;
@terranova-color-2000-terranova-t340: #dfb8b1;
@terranova-color-2000-terranova-t350: #d8a7a0;
@terranova-color-2000-terranova-t360: #ca8c86;
@terranova-color-2000-terranova-t370: #b4746e;
@terranova-color-2000-terranova-t380: #98554f;
@terranova-color-2000-terranova-t390: #f0ddd2;
@terranova-color-2000-terranova-t400: #dcc0b9;
@terranova-color-2000-terranova-t410: #c7a8a6;
@terranova-color-2000-terranova-t420: #d1c2c0;
@terranova-color-2000-terranova-t430: #c7b5b5;
@terranova-color-2000-terranova-t440: #baa7a7;
@terranova-color-2000-terranova-t450: #e8ebe6;
@terranova-color-2000-terranova-t460: #dce7e7;
@terranova-color-2000-terranova-t470: #cadce6;
@terranova-color-2000-terranova-t480: #c3dae6;
@terranova-color-2000-terranova-t490: #abc9e1;
@terranova-color-2000-terranova-t500: #9bc2e1;
@terranova-color-2000-terranova-t510: #8db8dd;
@terranova-color-2000-terranova-t520: #8ab5dc;
@terranova-color-2000-terranova-t530: #e1e8e4;
@terranova-color-2000-terranova-t540: #cce3e6;
@terranova-color-2000-terranova-t550: #b4d6e1;
@terranova-color-2000-terranova-t560: #96c5d8;
@terranova-color-2000-terranova-t570: #82bed9;
@terranova-color-2000-terranova-t580: #81bad2;
@terranova-color-2000-terranova-t590: #67accb;
@terranova-color-2000-terranova-t600: #e4e6db;
@terranova-color-2000-terranova-t610: #dee4d6;
@terranova-color-2000-terranova-t620: #d5dccc;
@terranova-color-2000-terranova-t630: #ccd8c5;
@terranova-color-2000-terranova-t640: #c1d0b9;
@terranova-color-2000-terranova-t650: #adbea3;
@terranova-color-2000-terranova-t660: #97af90;
@terranova-color-2000-terranova-t670: #758f70;
@terranova-color-2000-terranova-t680: #dededa;
@terranova-color-2000-terranova-t690: #d0d0ce;
@terranova-color-2000-terranova-t700: #babbbb;
@terranova-color-2000-terranova-t710: #acadae;
@terranova-color-2000-terranova-t720: #8d8f92;
@terranova-color-2000-terranova-t730: #797d81;
@terranova-color-2000-terranova-t740: #61656b;
@terranova-color-2000-terranova-t750: #a1a599;
@terranova-color-2000-terranova-t760: #8a9e9a;
@terranova-color-2000-terranova-t770: #bbb29d;
@terranova-color-2000-terranova-t780: #9d987e;
@terranova-color-2000-terranova-t790: #958c72;
@terranova-color-2000-terranova-t800: #95916a;