// oracal-451
@oracal-451-oracal-10: #fafbfd;
@oracal-451-oracal-21: #ffc90b;
@oracal-451-oracal-30: #8a2a2e;
@oracal-451-oracal-31: #b1232c;
@oracal-451-oracal-32: #ce291b;
@oracal-451-oracal-35: #f76605;
@oracal-451-oracal-41: #c74182;
@oracal-451-oracal-49: #374a8a;
@oracal-451-oracal-50: #2f4065;
@oracal-451-oracal-51: #005d8f;
@oracal-451-oracal-52: #007bba;
@oracal-451-oracal-53: #00a1d2;
@oracal-451-oracal-54: #00ada0;
@oracal-451-oracal-60: #304f3f;
@oracal-451-oracal-61: #008a59;
@oracal-451-oracal-64: #53a622;
@oracal-451-oracal-88: #482f29;
@oracal-451-oracal-70: #222325;
@oracal-451-oracal-71: #777e7e;
@oracal-451-oracal-72: #d0d3d3;