// auro-farbtonblock-ii-nr-321-330
@auro-farbtonblock-ii-nr-321-330-836: #a5b9cc;
@auro-farbtonblock-ii-nr-321-330-834: #8da3be;
@auro-farbtonblock-ii-nr-321-330-333: #8290a7;
@auro-farbtonblock-ii-nr-321-330-332: #919aa7;
@auro-farbtonblock-ii-nr-321-330-356: #bfc0d0;
@auro-farbtonblock-ii-nr-321-330-362: #aaabc0;
@auro-farbtonblock-ii-nr-321-330-330: #9ca2bd;
@auro-farbtonblock-ii-nr-321-330-845: #c6cace;
@auro-farbtonblock-ii-nr-321-330-835: #bbcad8;
@auro-farbtonblock-ii-nr-321-330-863: #879c94;
@auro-farbtonblock-ii-nr-321-330-837: #afbfbf;
@auro-farbtonblock-ii-nr-321-330-811: #c7d4d8;
@auro-farbtonblock-ii-nr-321-330-787: #d2dbd8;
@auro-farbtonblock-ii-nr-321-330-967: #b1baa6;
@auro-farbtonblock-ii-nr-321-330-766: #b6c6b0;
@auro-farbtonblock-ii-nr-321-330-813: #b8c6be;
@auro-farbtonblock-ii-nr-321-330-765: #c0cdbb;
@auro-farbtonblock-ii-nr-321-330-763: #d9e1d9;
@auro-farbtonblock-ii-nr-321-330-155: #e0decf;
@auro-farbtonblock-ii-nr-321-330-160: #e5e1c6;
@auro-farbtonblock-ii-nr-321-330-113: #dfe0d8;
@auro-farbtonblock-ii-nr-321-330-112: #e9e6d9;
@auro-farbtonblock-ii-nr-321-330-118: #e3e4ce;
@auro-farbtonblock-ii-nr-321-330-119: #d8ddc7;
@auro-farbtonblock-ii-nr-321-330-290: #a5aa7f;
@auro-farbtonblock-ii-nr-321-330-291: #bcbb91;
@auro-farbtonblock-ii-nr-321-330-246: #ccc7a0;
@auro-farbtonblock-ii-nr-321-330-244: #e6d3a7;
@auro-farbtonblock-ii-nr-321-330-238: #ecd4aa;
@auro-farbtonblock-ii-nr-321-330-196: #ecdebf;
@auro-farbtonblock-ii-nr-321-330-154: #ebe3cd;
@auro-farbtonblock-ii-nr-321-330-5-8: #e4d7c3;
@auro-farbtonblock-ii-nr-321-330-5-10: #d5c3ae;
@auro-farbtonblock-ii-nr-321-330-591: #ccbdae;
@auro-farbtonblock-ii-nr-321-330-825: #b1aca8;
@auro-farbtonblock-ii-nr-321-330-592: #bab4a2;
@auro-farbtonblock-ii-nr-321-330-284: #a7a592;
@auro-farbtonblock-ii-nr-321-330-4-4: #a8a38a;
@auro-farbtonblock-ii-nr-321-330-969: #a4a494;
@auro-farbtonblock-ii-nr-321-330-989: #807c6f;
@auro-farbtonblock-ii-nr-321-330-172: #d7cbba;
@auro-farbtonblock-ii-nr-321-330-216: #bcae9d;
@auro-farbtonblock-ii-nr-321-330-258: #bdac96;
@auro-farbtonblock-ii-nr-321-330-247: #aa977c;
@auro-farbtonblock-ii-nr-321-330-302: #90806e;
@auro-farbtonblock-ii-nr-321-330-913: #d0ccc1;
@auro-farbtonblock-ii-nr-321-330-951: #aeaa9c;
@auro-farbtonblock-ii-nr-321-330-823: #c4c6c9;
@auro-farbtonblock-ii-nr-321-330-849: #a7a4a5;
@auro-farbtonblock-ii-nr-321-330-875: #807976;
@auro-farbtonblock-ii-nr-321-330-331: #abb1bb;
@auro-farbtonblock-ii-nr-321-330-848: #9c9fa6;
@auro-farbtonblock-ii-nr-321-330-880: #7d8192;
@auro-farbtonblock-ii-nr-321-330-361: #bdbecf;
@auro-farbtonblock-ii-nr-321-330-359: #bbb4c1;
@auro-farbtonblock-ii-nr-321-330-360: #d7ccd1;
@auro-farbtonblock-ii-nr-321-330-357: #a79fb0;
@auro-farbtonblock-ii-nr-321-330-363: #9f9aad;
@auro-farbtonblock-ii-nr-321-330-433: #bbb3c0;
@auro-farbtonblock-ii-nr-321-330-539: #846966;
@auro-farbtonblock-ii-nr-321-330-528: #927a75;
@auro-farbtonblock-ii-nr-321-330-522: #92747e;
@auro-farbtonblock-ii-nr-321-330-478: #ae939b;
@auro-farbtonblock-ii-nr-321-330-430: #c9acb0;
@auro-farbtonblock-ii-nr-321-330-475: #b9969a;
@auro-farbtonblock-ii-nr-321-330-459: #a18d87;
@auro-farbtonblock-ii-nr-321-330-586: #c3b7bd;
@auro-farbtonblock-ii-nr-321-330-585: #dec1bb;
@auro-farbtonblock-ii-nr-321-330-358: #dccccf;
@auro-farbtonblock-ii-nr-321-330-583: #e5c3bc;
@auro-farbtonblock-ii-nr-321-330-589: #e1c2b7;
@auro-farbtonblock-ii-nr-321-330-5-11: #e3c7b7;
@auro-farbtonblock-ii-nr-321-330-100: #e6d0c8;
@auro-farbtonblock-ii-nr-321-330-184: #e7cdb7;
@auro-farbtonblock-ii-nr-321-330-226: #e6c7a7;
@auro-farbtonblock-ii-nr-321-330-232: #edbd9f;
@auro-farbtonblock-ii-nr-321-330-190: #efc3ad;
@auro-farbtonblock-ii-nr-321-330-192: #dc9e8d;
@auro-farbtonblock-ii-nr-321-330-234: #dc9f8a;
@auro-farbtonblock-ii-nr-321-330-645: #cc9c93;
@auro-farbtonblock-ii-nr-321-330-643: #d79e93;
@auro-farbtonblock-ii-nr-321-330-679: #cb8b7e;
@auro-farbtonblock-ii-nr-321-330-681: #c0897b;
@auro-farbtonblock-ii-nr-321-330-707: #a26b63;
@auro-farbtonblock-ii-nr-321-330-278: #b9715e;
@auro-farbtonblock-ii-nr-321-330-504: #af6552;
@auro-farbtonblock-ii-nr-321-330-501: #ce8b66;
@auro-farbtonblock-ii-nr-321-330-500: #ae6642;
@auro-farbtonblock-ii-nr-321-330-1011: #914e3f;
@auro-farbtonblock-ii-nr-321-330-1013: #b06951;
@auro-farbtonblock-ii-nr-321-330-651: #c69b8e;
@auro-farbtonblock-ii-nr-321-330-663: #b79085;
@auro-farbtonblock-ii-nr-321-330-713: #9d6f61;
@auro-farbtonblock-ii-nr-321-330-725: #8f675d;
@auro-farbtonblock-ii-nr-321-330-1002: #775040;
@auro-farbtonblock-ii-nr-321-330-1000: #744d45;