// leinos-naturfarben
@leinos-naturfarben-326-sonnen-gelb-vollton: #e1d476;
@leinos-naturfarben-326-sonnen-gelb-mischungsverhaltnis-i: #ecead2;
@leinos-naturfarben-326-sonnen-gelb-mischungsverhaltnis-ii: #eae9df;
@leinos-naturfarben-333-mais-gelb-vollton: #e09f50;
@leinos-naturfarben-333-mais-gelb-mischungsverhaltnis-i: #f6e6cc;
@leinos-naturfarben-333-mais-gelb-mischungsverhaltnis-ii: #f8eedb;
@leinos-naturfarben-327-orange-vollton: #db9a4a;
@leinos-naturfarben-327-orange-mischungsverhaltnis-i: #f0e3cf;
@leinos-naturfarben-327-orange-mischungsverhaltnis-ii: #f6efdf;
@leinos-naturfarben-309-ocker-gelb-vollton: #b6813c;
@leinos-naturfarben-309-ocker-gelb-mischungsverhaltnis-i: #fbe0bb;
@leinos-naturfarben-309-ocker-gelb-mischungsverhaltnis-ii: #fbf1df;
@leinos-naturfarben-307-oxid-gelb-vollton: #dba155;
@leinos-naturfarben-307-oxid-gelb-mischungsverhaltnis-i: #faf0dd;
@leinos-naturfarben-307-oxid-gelb-mischungsverhaltnis-ii: #faf4e6;
@leinos-naturfarben-332-pompejanisch-rot-vollton: #b46b44;
@leinos-naturfarben-332-pompejanisch-rot-mischungsverhaltnis-i: #f0c5b1;
@leinos-naturfarben-332-pompejanisch-rot-mischungsverhaltnis-ii: #f7e2d4;
@leinos-naturfarben-312-ocker-rot-vollton: #9b5644;
@leinos-naturfarben-312-ocker-rot-mischungsverhaltnis-i: #fae1d1;
@leinos-naturfarben-312-ocker-rot-mischungsverhaltnis-ii: #fdecde;
@leinos-naturfarben-338-krapp-hellrot-vollton: #bb372f;
@leinos-naturfarben-338-krapp-hellrot-mischungsverhaltnis-i: #f7aab8;
@leinos-naturfarben-338-krapp-hellrot-mischungsverhaltnis-ii: #f9d3d7;
@leinos-naturfarben-337-krapp-dunkelrot-vollton: #a93a4f;
@leinos-naturfarben-337-krapp-dunkelrot-mischungsverhaltnis-i: #f0bfcb;
@leinos-naturfarben-337-krapp-dunkelrot-mischungsverhaltnis-ii: #fcebe9;
@leinos-naturfarben-303-eisenoxid-rot-vollton: #89473e;
@leinos-naturfarben-303-eisenoxid-rot-mischungsverhaltnis-i: #e3bcbb;
@leinos-naturfarben-303-eisenoxid-rot-mischungsverhaltnis-ii: #ecd2cf;
@leinos-naturfarben-306-eisenoxid-mahagoni-vollton: #824f44;
@leinos-naturfarben-306-eisenoxid-mahagoni-mischungsverhaltnis-i: #f4e1da;
@leinos-naturfarben-306-eisenoxid-mahagoni-mischungsverhaltnis-ii: #f5f0e8;
@leinos-naturfarben-311-ocker-havanna-vollton: #996748;
@leinos-naturfarben-311-ocker-havanna-mischungsverhaltnis-i: #f8eddf;
@leinos-naturfarben-311-ocker-havanna-mischungsverhaltnis-ii: #fbf4e5;
@leinos-naturfarben-335-ultramarin-rot-vollton: #c78eb6;
@leinos-naturfarben-335-ultramarin-rot-mischungsverhaltnis-i: #f7e7e8;
@leinos-naturfarben-335-ultramarin-rot-mischungsverhaltnis-ii: #fcf7f0;
@leinos-naturfarben-336-ultramarin-rotviolett-vollton: #7f6baf;
@leinos-naturfarben-336-ultramarin-rotviolett-mischungsverhaltnis-i: #ebe5ec;
@leinos-naturfarben-336-ultramarin-rotviolett-mischungsverhaltnis-ii: #f9f5ef;
@leinos-naturfarben-324-ultramarin-violett-vollton: #696db9;
@leinos-naturfarben-324-ultramarin-violett-mischungsverhaltnis-i: #ebebee;
@leinos-naturfarben-324-ultramarin-violett-mischungsverhaltnis-ii: #f1efec;
@leinos-naturfarben-328-spinell-blau-vollton: #4892d5;
@leinos-naturfarben-328-spinell-blau-mischungsverhaltnis-i: #d8e7ef;
@leinos-naturfarben-328-spinell-blau-mischungsverhaltnis-ii: #e9f0f0;
@leinos-naturfarben-323-ultramarin-blau-vollton: #3d4fa7;
@leinos-naturfarben-323-ultramarin-blau-mischungsverhaltnis-i: #dbe6f0;
@leinos-naturfarben-323-ultramarin-blau-mischungsverhaltnis-ii: #f2f3ed;
@leinos-naturfarben-329-spinell-grun-vollton: #397e53;
@leinos-naturfarben-329-spinell-grun-mischungsverhaltnis-i: #ddeedc;
@leinos-naturfarben-329-spinell-grun-mischungsverhaltnis-ii: #f0f5e8;
@leinos-naturfarben-330-spinell-turkis-vollton: #1f7a80;
@leinos-naturfarben-330-spinell-turkis-mischungsverhaltnis-i: #bddfdd;
@leinos-naturfarben-330-spinell-turkis-mischungsverhaltnis-ii: #d3e8e5;
@leinos-naturfarben-313-ocker-rostbraun-vollton: #503f3a;
@leinos-naturfarben-313-ocker-rostbraun-mischungsverhaltnis-i: #ede5dd;
@leinos-naturfarben-313-ocker-rostbraun-mischungsverhaltnis-ii: #f7f3eb;
@leinos-naturfarben-320-ebenholz-schwarz-vollton: #413e3e;
@leinos-naturfarben-320-ebenholz-schwarz-mischungsverhaltnis-i: #cdcccb;
@leinos-naturfarben-320-ebenholz-schwarz-mischungsverhaltnis-ii: #e8e6e2;
@leinos-naturfarben-nr-0184: #5975af;
@leinos-naturfarben-nr-0118: #767ba9;
@leinos-naturfarben-nr-0063: #cbc0be;
@leinos-naturfarben-nr-0075: #a08884;
@leinos-naturfarben-nr-0133: #5d473f;
@leinos-naturfarben-nr-9001-nickeltitangelb-keim-optil-monochromton: #f1e880;
@leinos-naturfarben-nr-9002-ocker-keim-optil-monochromton: #d59941;
@leinos-naturfarben-nr-9003-oxidrot-keim-optil-monochromton: #974837;
@leinos-naturfarben-nr-9005-oxidgrun-keim-optil-monochromton: #658156;
@leinos-naturfarben-nr-9006-ultramarinblau-keim-optil-monochromton: #6589d7;
@leinos-naturfarben-nr-9009-kobaltblau-keim-optil-monochromton: #4392ce;
@leinos-naturfarben-nr-9011-oxidorange-keim-optil-monochromton: #cd7e35;
@leinos-naturfarben-nr-9012kobaltgrun-keim-optil-monochromton: #4fa064;
@leinos-naturfarben-nr-9019-zinnoberrot-keim-optil-monochromton: #c93d30;
@leinos-naturfarben-nr-9020-turkis-keim-optil-monochromton: #32c2be;
@leinos-naturfarben-nr-9021-oxidschwarz-keim-optil-monochromton: #464341;
@leinos-naturfarben-nr-1001-gold-keim-optil-monochromton: #ffe469;
@leinos-naturfarben-nr-1002-silber-keim-optil-monochromton: #cbcbcb;
@leinos-naturfarben-nr-9001-nickeltitangelb-keim-soldalit-monochromton: #f4ed8e;
@leinos-naturfarben-nr-9002-ockerkeim-soldalit-monochromton: #dea249;
@leinos-naturfarben-nr-9003-oxidrotkeim-soldalit-monochromton: #9f4e3d;
@leinos-naturfarben-nr-9004-umbra-keim-soldalit-monochromton: #766c52;
@leinos-naturfarben-nr-9005-chromgrun-keim-soldalit-monochromton: #778e68;
@leinos-naturfarben-nr-9006-ultramarinblau-keim-soldalit-monochromton: #7391d7;
@leinos-naturfarben-nr-9007-oxidbraun-keim-soldalit-monochromton: #765044;
@leinos-naturfarben-nr-9008-schwarz-keim-soldalit-monochromton: #5c5a5a;
@leinos-naturfarben-nr-9009-kobaltblau-keim-soldalit-monochromton: #4ca4c2;
@leinos-naturfarben-nr-9010-oxidrot-dunkel-keim-soldalit-monochromton: #8e4e48;
@leinos-naturfarben-nr-9011-oxidorange-keim-soldalit-monochromton: #e09140;
@leinos-naturfarben-nr-9012-kobaltgrun-keim-soldalit-monochromton: #79ad7c;