// lukas-studio
@lukas-studio-lukas-0204-zinkweiss: #f2f1e8;
@lukas-studio-lukas-0207-deckweiss: #edede4;
@lukas-studio-lukas-0208-titanweiss: #f0eee5;
@lukas-studio-lukas-0222-fleischfarbe: #eeceb8;
@lukas-studio-lukas-0212-brillantgelb-dunkel: #f3c67e;
@lukas-studio-lukas-0225-kadmiumgelb-zitron: #f1dc00;
@lukas-studio-lukas-0215-chromgelb-hell: #f4b700;
@lukas-studio-lukas-0226-kadmiumgelb-hell: #fcc400;
@lukas-studio-lukas-0234-neapelgelb-hell: #e2bb59;
@lukas-studio-lukas-0217-chromgelb-dunkel: #f7720c;
@lukas-studio-lukas-0228-kadmiumgelb-dunkel: #f1781b;
@lukas-studio-lukas-0224-indischgelb: #e19409;
@lukas-studio-lukas-0229-kadmiumorange: #eb6029;
@lukas-studio-lukas-0253-echtrot: #ca362b;
@lukas-studio-lukas-0272-kadmiumrot-hell: #c43e2d;
@lukas-studio-lukas-0274-kadmiumrot-dunkel: #be2920;
@lukas-studio-lukas-0286-zinnoberrot-dunkel: #bb3832;
@lukas-studio-lukas-0261-karminrot: #652927;
@lukas-studio-lukas-0264-krapplack-hell: #763435;
@lukas-studio-lukas-0266-krapplack-dunkel: #5e3030;
@lukas-studio-lukas-0327-kobaltviolett-dunkel: #3e363c;
@lukas-studio-lukas-0340-ultramarin-violett: #3b3645;
@lukas-studio-lukas-0338-himmelblau: #437ec8;
@lukas-studio-lukas-0335-ultramarin-hell: #383776;
@lukas-studio-lukas-0337-ultramarin-dunkel: #38325a;
@lukas-studio-lukas-0323-kobaltblau-hell: #25467a;
@lukas-studio-lukas-0325-kobaltblau-dunkel: #2f3a61;
@lukas-studio-lukas-0321-coelinblau: #14546b;
@lukas-studio-lukas-0333-pariserblau: #28282a;
@lukas-studio-lukas-0334-preussischblau: #212227;
@lukas-studio-lukas-0372-zinnobergruen-hellst: #83af1b;
@lukas-studio-lukas-0363-permanentgruen-hell: #00623b;
@lukas-studio-lukas-0356-deckgruen: #009778;
@lukas-studio-lukas-0353-chromoxidgruen-stumpf: #526c4d;
@lukas-studio-lukas-0354-chromoxidgruen-feurig: #1f493f;
@lukas-studio-lukas-0352-chromgruen-dunkel: #2f453d;
@lukas-studio-lukas-0357-gruene-erde-boehmisch: #444339;
@lukas-studio-lukas-0310-umbra-cypr-natur: #4b443b;
@lukas-studio-lukas-0311-umbra-gebrannt: #58453f;
@lukas-studio-lukas-0231-lichter-ocker: #b37e3b;
@lukas-studio-lukas-0239-terra-di-siena-natur: #7a533e;
@lukas-studio-lukas-0256-fleischocker: #a06642;
@lukas-studio-lukas-0254-englischrot-hell: #864b3c;
@lukas-studio-lukas-0302-dunkler-ocker: #664930;
@lukas-studio-lukas-0309-terra-di-siena-gebrannt: #6a4741;
@lukas-studio-lukas-0312-vandyckbraun: #3b3838;
@lukas-studio-lukas-0382-elfenbeinschwarz: #3c3b3b;
@lukas-studio-lukas-0210-primaire-gelb: #eddb00;
@lukas-studio-lukas-0250-primaire-rot: #842e40;
@lukas-studio-lukas-0320-primaire-blau: #175687;