// hornbach-fassadenfarben
@hornbach-fassadenfarben-2-01-1: #f7f6ee;
@hornbach-fassadenfarben-2-02-1: #f5f2ea;
@hornbach-fassadenfarben-0-19-2: #edf0e9;
@hornbach-fassadenfarben-1-15-2: #dee2e1;
@hornbach-fassadenfarben-1-15-3: #d1d6d5;
@hornbach-fassadenfarben-1-17-4: #babec0;
@hornbach-fassadenfarben-1-15-5: #a5a9a9;
@hornbach-fassadenfarben-1-15-6: #7f8183;
@hornbach-fassadenfarben-1-17-6: #6d7071;
@hornbach-fassadenfarben-0-07-2: #f5efea;
@hornbach-fassadenfarben-1-07-2: #e5e1dd;
@hornbach-fassadenfarben-1-07-3: #d8d3d0;
@hornbach-fassadenfarben-1-10-4: #c5c0bf;
@hornbach-fassadenfarben-1-07-5: #ada8a7;
@hornbach-fassadenfarben-1-10-5: #999594;
@hornbach-fassadenfarben-0-01-2: #f2f0e2;
@hornbach-fassadenfarben-1-01-2: #e1dfd4;
@hornbach-fassadenfarben-1-01-3: #d7d6cc;
@hornbach-fassadenfarben-1-05-4: #c0bfb4;
@hornbach-fassadenfarben-1-01-5: #aca9a1;
@hornbach-fassadenfarben-1-05-5: #9a978f;
@hornbach-fassadenfarben-1-01-7: #605e59;
@hornbach-fassadenfarben-5-01-1: #e9dfbd;
@hornbach-fassadenfarben-5-23-2: #eadfa9;
@hornbach-fassadenfarben-5-01-2: #ebdca7;
@hornbach-fassadenfarben-4-01-3: #fbe59a;
@hornbach-fassadenfarben-4-01-4: #fbe085;
@hornbach-fassadenfarben-5-01-5: #eece64;
@hornbach-fassadenfarben-5-01-6: #ebc230;
@hornbach-fassadenfarben-6-01-6: #c59f35;
@hornbach-fassadenfarben-5-02-1: #e9debc;
@hornbach-fassadenfarben-5-02-2: #ebd5a4;
@hornbach-fassadenfarben-4-02-3: #fbdd99;
@hornbach-fassadenfarben-5-02-3: #edcf91;
@hornbach-fassadenfarben-5-02-4: #f6cb78;
@hornbach-fassadenfarben-5-02-5: #f3c562;
@hornbach-fassadenfarben-5-02-6: #f2b32c;
@hornbach-fassadenfarben-0-01-6: #f6ebd6;
@hornbach-fassadenfarben-5-03-1: #ead9bb;
@hornbach-fassadenfarben-5-03-2: #ebd0a3;
@hornbach-fassadenfarben-5-03-3: #f3ca8d;
@hornbach-fassadenfarben-5-03-4: #f2c074;
@hornbach-fassadenfarben-6-03-4: #dca967;
@hornbach-fassadenfarben-6-03-3: #d8b07b;
@hornbach-fassadenfarben-0-05-2: #f4efe4;
@hornbach-fassadenfarben-3-05-1: #eadecd;
@hornbach-fassadenfarben-4-04-1: #fae3c8;
@hornbach-fassadenfarben-5-04-1: #ebd6bc;
@hornbach-fassadenfarben-5-04-2: #f1c7a1;
@hornbach-fassadenfarben-5-04-3: #f4bd90;
@hornbach-fassadenfarben-5-04-4: #f1af7a;
@hornbach-fassadenfarben-5-04-5: #f0a268;
@hornbach-fassadenfarben-6-04-4: #da9867;
@hornbach-fassadenfarben-6-04-7: #cf7636;
@hornbach-fassadenfarben-0-07-5: #f0e8e6;
@hornbach-fassadenfarben-4-06-1: #f8e0d6;
@hornbach-fassadenfarben-4-05-3: #f6bd9d;
@hornbach-fassadenfarben-5-05-4: #f1a783;
@hornbach-fassadenfarben-5-05-5: #ec926d;
@hornbach-fassadenfarben-5-05-6: #e7774a;
@hornbach-fassadenfarben-7-05-5: #b4674a;
@hornbach-fassadenfarben-9-05-4: #88513e;
@hornbach-fassadenfarben-5-05-1: #ead2c0;
@hornbach-fassadenfarben-5-05-2: #ebc1a7;
@hornbach-fassadenfarben-6-04-3: #d8a179;
@hornbach-fassadenfarben-6-05-3: #d89c80;
@hornbach-fassadenfarben-6-05-4: #d78c6c;
@hornbach-fassadenfarben-6-05-5: #d07d59;
@hornbach-fassadenfarben-6-05-6: #ce6f4a;
@hornbach-fassadenfarben-7-05-6: #b15f3e;
@hornbach-fassadenfarben-5-06-1: #e6d0c6;
@hornbach-fassadenfarben-5-06-2: #ebc2b5;
@hornbach-fassadenfarben-5-06-3: #e9ac9d;
@hornbach-fassadenfarben-5-06-4: #e6998b;
@hornbach-fassadenfarben-6-06-4: #d28376;
@hornbach-fassadenfarben-6-06-5: #ce7363;
@hornbach-fassadenfarben-7-06-4: #b66f63;
@hornbach-fassadenfarben-7-06-5: #ac5e52;
@hornbach-fassadenfarben-7-06-6: #a44c42;
@hornbach-fassadenfarben-5-07-1: #e2d0cb;
@hornbach-fassadenfarben-5-07-2: #ecc2c1;
@hornbach-fassadenfarben-5-07-3: #e7afb0;
@hornbach-fassadenfarben-5-07-4: #e4979a;
@hornbach-fassadenfarben-5-06-5: #ea8a7b;
@hornbach-fassadenfarben-5-06-6: #d86155;
@hornbach-fassadenfarben-5-07-6: #cf545f;
@hornbach-fassadenfarben-8-08-4: #90525c;
@hornbach-fassadenfarben-0-10-4: #ededef;
@hornbach-fassadenfarben-3-10-1: #dedde0;
@hornbach-fassadenfarben-5-10-1: #ddd9df;
@hornbach-fassadenfarben-5-10-2: #d3c8da;
@hornbach-fassadenfarben-5-10-3: #cfb9d7;
@hornbach-fassadenfarben-6-10-2: #beb1c8;
@hornbach-fassadenfarben-5-11-4: #b7addd;
@hornbach-fassadenfarben-5-12-1: #d4d8de;
@hornbach-fassadenfarben-5-12-2: #c5cfe2;
@hornbach-fassadenfarben-5-12-3: #b3c0df;
@hornbach-fassadenfarben-5-12-4: #a5b3df;
@hornbach-fassadenfarben-6-12-5: #7685be;
@hornbach-fassadenfarben-6-12-6: #6f79bf;
@hornbach-fassadenfarben-7-12-4: #717dad;
@hornbach-fassadenfarben-9-12-3: #585e82;
@hornbach-fassadenfarben-3-13-1: #dbdfe1;
@hornbach-fassadenfarben-5-13-1: #d2dbe1;
@hornbach-fassadenfarben-5-13-2: #bccddb;
@hornbach-fassadenfarben-5-13-3: #a8c0dc;
@hornbach-fassadenfarben-6-13-5: #6d91c7;
@hornbach-fassadenfarben-4-13-7: #5480c0;
@hornbach-fassadenfarben-7-13-5: #4b73a9;
@hornbach-fassadenfarben-5-14-1: #cfdce1;
@hornbach-fassadenfarben-5-14-2: #b5d1de;
@hornbach-fassadenfarben-5-14-3: #a1c4db;
@hornbach-fassadenfarben-5-14-4: #8dbadc;
@hornbach-fassadenfarben-5-14-7: #ccdde0;
@hornbach-fassadenfarben-7-14-4: #b4c2c6;
@hornbach-fassadenfarben-5-15-1: #9bbac6;
@hornbach-fassadenfarben-6-15-1: #86b2c5;
@hornbach-fassadenfarben-6-15-2: #839caa;
@hornbach-fassadenfarben-6-15-3: #6d96a9;
@hornbach-fassadenfarben-7-15-2: #d7e1df;
@hornbach-fassadenfarben-7-15-3: #cfdede;
@hornbach-fassadenfarben-3-16-1: #b7c9c6;
@hornbach-fassadenfarben-5-16-1: #96b8bf;
@hornbach-fassadenfarben-6-17-1: #88b8c5;
@hornbach-fassadenfarben-6-16-2: #85a5ae;
@hornbach-fassadenfarben-6-16-3: #d2e2d7;
@hornbach-fassadenfarben-7-16-2: #b8dac7;
@hornbach-fassadenfarben-5-18-1: #9fc0b0;
@hornbach-fassadenfarben-5-18-2: #7fb6b2;
@hornbach-fassadenfarben-6-18-2: #4b9a95;
@hornbach-fassadenfarben-6-17-3: #5c7e7b;
@hornbach-fassadenfarben-7-17-4: #e1e3d2;
@hornbach-fassadenfarben-9-17-2: #dbe1c7;
@hornbach-fassadenfarben-3-21-1: #d8e0ca;
@hornbach-fassadenfarben-5-21-1: #b9c7b7;
@hornbach-fassadenfarben-5-20-1: #a7b19c;
@hornbach-fassadenfarben-6-19-1: #79947d;
@hornbach-fassadenfarben-7-20-1: #e7e1c0;
@hornbach-fassadenfarben-8-19-2: #e1e1c2;
@hornbach-fassadenfarben-5-23-1: #dfdfac;
@hornbach-fassadenfarben-5-22-1: #c4c391;
@hornbach-fassadenfarben-5-22-2: #c8c6ab;
@hornbach-fassadenfarben-6-22-2: #a9ae96;
@hornbach-fassadenfarben-6-22-1: #979b87;
@hornbach-fassadenfarben-7-21-1: #ccc3a6;
@hornbach-fassadenfarben-8-21-1: #cbb576;
@hornbach-fassadenfarben-6-01-1: #bfa069;
@hornbach-fassadenfarben-6-01-3: #9e926c;
@hornbach-fassadenfarben-7-02-3: #655d4a;
@hornbach-fassadenfarben-8-23-2: #cebea2;
@hornbach-fassadenfarben-9-23-7: #b7ae9c;
@hornbach-fassadenfarben-6-03-1: #bdae95;
@hornbach-fassadenfarben-3-02-3: #bda27a;
@hornbach-fassadenfarben-7-03-1: #bc9663;
@hornbach-fassadenfarben-7-03-2: #be8f52;
@hornbach-fassadenfarben-7-03-3: #cfb8a0;
@hornbach-fassadenfarben-7-03-4: #bda792;
@hornbach-fassadenfarben-6-04-1: #aa9585;
@hornbach-fassadenfarben-7-04-1: #ac866d;
@hornbach-fassadenfarben-8-05-1: #a97557;
@hornbach-fassadenfarben-8-05-2: #d2bbab;
@hornbach-fassadenfarben-8-05-3: #ceaa93;
@hornbach-fassadenfarben-6-05-1: #bba394;
@hornbach-fassadenfarben-6-05-2: #927a71;
@hornbach-fassadenfarben-7-05-1: #91857c;
@hornbach-fassadenfarben-9-05-1: #d0bfbc;
@hornbach-fassadenfarben-3-05-5: #cfaaa7;
@hornbach-fassadenfarben-6-07-1: #c99293;
@hornbach-fassadenfarben-6-07-2: #d0aaa8;
@hornbach-fassadenfarben-6-07-3: #cd9596;
@hornbach-fassadenfarben-7-07-3: #b98586;
@hornbach-fassadenfarben-7-07-4: #b37074;
@hornbach-fassadenfarben-8-06-4: #9e5a50;
@hornbach-fassadenfarben-8-06-5: #8f493e;
@hornbach-fassadenfarben-6-10-1: #cac3cc;
@hornbach-fassadenfarben-7-07-1: #b8a2a0;
@hornbach-fassadenfarben-8-08-1: #a59294;
@hornbach-fassadenfarben-8-10-1: #9a949d;
@hornbach-fassadenfarben-9-10-1: #807b86;
@hornbach-fassadenfarben-6-12-1: #bfc4ce;
@hornbach-fassadenfarben-6-12-2: #b0b7cc;
@hornbach-fassadenfarben-6-12-3: #9fa9cc;
@hornbach-fassadenfarben-7-12-2: #999fb3;
@hornbach-fassadenfarben-9-12-2: #6f748b;
@hornbach-fassadenfarben-9-12-7: #535563;
@hornbach-fassadenfarben-6-13-1: #bac4cd;
@hornbach-fassadenfarben-3-13-3: #b0b5b9;
@hornbach-fassadenfarben-7-13-1: #a1aab4;
@hornbach-fassadenfarben-7-13-2: #8f9fb5;
@hornbach-fassadenfarben-7-13-3: #7e96b5;
@hornbach-fassadenfarben-7-13-4: #6c88b6;
@hornbach-fassadenfarben-6-14-1: #bdc9cf;
@hornbach-fassadenfarben-7-15-1: #a2b1b8;
@hornbach-fassadenfarben-7-14-2: #8ca1b4;
@hornbach-fassadenfarben-7-14-3: #7a9bb5;
@hornbach-fassadenfarben-8-14-3: #6987a3;
@hornbach-fassadenfarben-9-14-2: #697b8d;
@hornbach-fassadenfarben-1-19-3: #d4d7d1;
@hornbach-fassadenfarben-3-16-2: #c4cdcc;
@hornbach-fassadenfarben-7-18-1: #a5b4aa;
@hornbach-fassadenfarben-8-17-1: #8c9c9b;
@hornbach-fassadenfarben-3-16-5: #82898a;
@hornbach-fassadenfarben-9-14-1: #79838c;