// hexis-microtac-m2000
@hexis-microtac-m2000-mg-2116: #fab500;
@hexis-microtac-m2000-mg-2123: #e5a300;
@hexis-microtac-m2000-mg-2165: #ea6700;
@hexis-microtac-m2000-mg-2red: #be2515;
@hexis-microtac-m2000-mg-2186: #a91621;
@hexis-microtac-m2000-mg-2201: #8b2326;
@hexis-microtac-m2000-mg-2220: #b43268;
@hexis-microtac-m2000-mg-2280: #00336e;
@hexis-microtac-m2000-mg-2rfx: #3047a4;
@hexis-microtac-m2000-mg-2293: #00599b;
@hexis-microtac-m2000-mg-2299: #0094ca;
@hexis-microtac-m2000-mg-2320: #00908c;
@hexis-microtac-m2000-mg-2340: #00763f;
@hexis-microtac-m2000-mg-2357: #083f27;
@hexis-microtac-m2000-mg-2368: #409e04;
@hexis-microtac-m2000-mg-2431: #575c5c;
@hexis-microtac-m2000-mg-2461: #e3c594;
@hexis-microtac-m2000-mg-2476: #51301f;
@hexis-microtac-m2000-mg-2505: #58151c;
@hexis-microtac-m2000-mg-2829: #ebedee;
@hexis-microtac-m2000-mg-2889: #111316;
@hexis-microtac-m2000-mg-2899: #deddde;
@hexis-microtac-m2000-mm-2116: #ecb31c;
@hexis-microtac-m2000-mm-2123: #f3b020;
@hexis-microtac-m2000-mm-2165: #e97134;
@hexis-microtac-m2000-mm-2red: #c7413a;
@hexis-microtac-m2000-mm-2186: #b23a3d;
@hexis-microtac-m2000-mm-2201: #953b3d;
@hexis-microtac-m2000-mm-2280: #354f87;
@hexis-microtac-m2000-mm-2rfx: #4354a7;
@hexis-microtac-m2000-mm-2293: #1467a3;
@hexis-microtac-m2000-mm-2299: #0098cc;
@hexis-microtac-m2000-mm-2340: #007852;
@hexis-microtac-m2000-mm-2357: #3f584a;
@hexis-microtac-m2000-mm-2431: #636667;
@hexis-microtac-m2000-mm-2829: #ecedee;
@hexis-microtac-m2000-mm-2889: #333335;
@hexis-microtac-m2000-mm-2899: #dededf;