// maday-mediterrano
@maday-mediterrano-limone-1: #f6f3d8;
@maday-mediterrano-limone-2: #f6f3ce;
@maday-mediterrano-limone-3: #f7f2c8;
@maday-mediterrano-limone-6: #f7efb9;
@maday-mediterrano-limone-10: #f6ebac;
@maday-mediterrano-limone-20: #f6e698;
@maday-mediterrano-sole-1: #f7f2da;
@maday-mediterrano-sole-2: #f9f0d1;
@maday-mediterrano-sole-3: #f9efc9;
@maday-mediterrano-sole-6: #f8e8b8;
@maday-mediterrano-sole-9: #f7e4ae;
@maday-mediterrano-sole-18: #f5dc9a;
@maday-mediterrano-crema-1: #f9f0dc;
@maday-mediterrano-crema-2: #faecd1;
@maday-mediterrano-crema-3: #fae8c8;
@maday-mediterrano-crema-6: #f8e1ba;
@maday-mediterrano-crema-12: #f6d7a6;
@maday-mediterrano-crema-24: #f0ca92;
@maday-mediterrano-toscana-1: #faf0e0;
@maday-mediterrano-toscana-2: #f6e5d1;
@maday-mediterrano-toscana-4: #f4ddc4;
@maday-mediterrano-toscana-8: #f0d0b1;
@maday-mediterrano-toscana-12: #ecc8a6;
@maday-mediterrano-toscana-24: #e2b792;
@maday-mediterrano-melba-3-5: #f9e4c1;
@maday-mediterrano-melba-7: #f8dbaf;
@maday-mediterrano-melba-14: #f5d09f;
@maday-mediterrano-melba-21: #f5c992;
@maday-mediterrano-melba-28: #f3c287;
@maday-mediterrano-melba-56: #ecaf6f;
@maday-mediterrano-terracotta-0-8: #fbdfcd;
@maday-mediterrano-terracotta-1-5: #f9d5c0;
@maday-mediterrano-terracotta-3: #f5c6ad;
@maday-mediterrano-terracotta-6: #f0b69b;
@maday-mediterrano-terracotta-12: #e9a589;
@maday-mediterrano-terracotta-24: #dc8e70;
@maday-mediterrano-primavera-2: #e7ece0;
@maday-mediterrano-primavera-4: #dfe7d8;
@maday-mediterrano-primavera-8: #d2ddca;
@maday-mediterrano-primavera-16: #c4d2bd;
@maday-mediterrano-primavera-32: #b2c4ab;
@maday-mediterrano-mare-4: #d6e8f2;
@maday-mediterrano-mare-6: #cee3f1;
@maday-mediterrano-mare-8: #c7e0f1;
@maday-mediterrano-mare-12: #bcd9ef;
@maday-mediterrano-mare-20: #b0d2ed;
@maday-mediterrano-mare-40: #9ac6ed;
@maday-mediterrano-ferro-1: #d5d6d6;
@maday-mediterrano-ferro-2: #cdcecf;
@maday-mediterrano-ferro-4: #bcbdc0;
@maday-mediterrano-ferro-8: #aaacaf;
@maday-mediterrano-ferro-12: #9d9fa3;
@maday-mediterrano-ferro-24: #85888d;
@maday-mediterrano-cappuccino: #6a4a3c;
@maday-mediterrano-espresso: #5e453e;