// al-jazeera-color-harmony
@al-jazeera-color-harmony-b-2322: #ded4bb;
@al-jazeera-color-harmony-b-2329: #dfd2bc;
@al-jazeera-color-harmony-c-3317: #ded2bf;
@al-jazeera-color-harmony-c-3322: #dcd4c5;
@al-jazeera-color-harmony-d-4110: #e0d7c4;
@al-jazeera-color-harmony-e-5129: #dad5c3;
@al-jazeera-color-harmony-e-5119: #ded7c0;
@al-jazeera-color-harmony-b-2108: #e3d8b9;
@al-jazeera-color-harmony-b-2320: #e6d7b6;
@al-jazeera-color-harmony-c-3114: #e3d3c2;
@al-jazeera-color-harmony-c-3128: #dfd0c3;
@al-jazeera-color-harmony-d-4118: #dbd9c8;
@al-jazeera-color-harmony-e-5126: #dbdac5;
@al-jazeera-color-harmony-e-5122: #dad8c2;
@al-jazeera-color-harmony-b-2111: #e5d6b6;
@al-jazeera-color-harmony-b-2113: #e7d6b7;
@al-jazeera-color-harmony-c-3327: #dfcfc2;
@al-jazeera-color-harmony-c-3224: #e2d4c8;
@al-jazeera-color-harmony-d-4117: #dddacc;
@al-jazeera-color-harmony-d-4129: #d8dbc8;
@al-jazeera-color-harmony-e-5117: #e1dcc0;
@al-jazeera-color-harmony-b-2128: #e3d5ac;
@al-jazeera-color-harmony-b-2321: #ebd8bb;
@al-jazeera-color-harmony-c-3112: #f6e8df;
@al-jazeera-color-harmony-c-3325: #ebe7e7;
@al-jazeera-color-harmony-d-4123: #e6eae9;
@al-jazeera-color-harmony-d-4120: #e5efeb;
@al-jazeera-color-harmony-e-5110: #f1f1dc;
@al-jazeera-color-harmony-b-2114: #faeac4;
@al-jazeera-color-harmony-b-2118: #f5e6d3;
@al-jazeera-color-harmony-c-3115: #fce3d1;
@al-jazeera-color-harmony-d-4130: #ebeae9;
@al-jazeera-color-harmony-d-4119: #e5ece9;
@al-jazeera-color-harmony-d-4121: #e5efe8;
@al-jazeera-color-harmony-e-5116: #f0eed9;
@al-jazeera-color-harmony-b-2110: #f1edcb;
@al-jazeera-color-harmony-b-2109: #f8ebdc;
@al-jazeera-color-harmony-c-3328: #fadfcf;
@al-jazeera-color-harmony-c-3127: #e7eae8;
@al-jazeera-color-harmony-d-4125: #e2ebe9;
@al-jazeera-color-harmony-d-4140: #d7eae7;
@al-jazeera-color-harmony-e-5112: #f8f2db;
@al-jazeera-color-harmony-b-2127: #f2e9b2;
@al-jazeera-color-harmony-c-3126: #f5e7da;
@al-jazeera-color-harmony-c-3323: #fae0d4;
@al-jazeera-color-harmony-c-3136: #e4e3e7;
@al-jazeera-color-harmony-d-4135: #d7e7e7;
@al-jazeera-color-harmony-e-5141: #dbefe5;
@al-jazeera-color-harmony-e-5137: #e0efdd;
@al-jazeera-color-harmony-b-2131: #f3ecb3;
@al-jazeera-color-harmony-c-3111: #f6e9df;
@al-jazeera-color-harmony-c-3326: #f8dfd6;
@al-jazeera-color-harmony-c-3131: #efe4e7;
@al-jazeera-color-harmony-d-4131: #dce9eb;
@al-jazeera-color-harmony-e-5138: #deefe1;
@al-jazeera-color-harmony-e-5130: #e4f0dc;
@al-jazeera-color-harmony-b-2332: #f9e7b1;
@al-jazeera-color-harmony-b-2323: #fedea9;
@al-jazeera-color-harmony-b-2319: #fbe5c8;
@al-jazeera-color-harmony-c-3119: #f0dedf;
@al-jazeera-color-harmony-d-4132: #e2e7ec;
@al-jazeera-color-harmony-d-4141: #d5e9e6;
@al-jazeera-color-harmony-e-5127: #e4eedb;
@al-jazeera-color-harmony-b-2117: #fde5b0;
@al-jazeera-color-harmony-b-2328: #fcd7ad;
@al-jazeera-color-harmony-b-2324: #fbe1c5;
@al-jazeera-color-harmony-c-3116: #f1e0e3;
@al-jazeera-color-harmony-d-4137: #dce6ea;
@al-jazeera-color-harmony-d-4143: #dde0df;
@al-jazeera-color-harmony-e-5131: #e4edd3;
@al-jazeera-color-harmony-b-2330: #fde499;
@al-jazeera-color-harmony-b-2331: #ffd5ae;
@al-jazeera-color-harmony-b-2326: #fbe4cf;
@al-jazeera-color-harmony-c-3320: #ece7ec;
@al-jazeera-color-harmony-d-4146: #dbdede;
@al-jazeera-color-harmony-d-4145: #d7dfde;
@al-jazeera-color-harmony-e-5327: #eaefd4;
@al-jazeera-color-harmony-b-2130: #fedb96;
@al-jazeera-color-harmony-b-2345: #e6dfcc;
@al-jazeera-color-harmony-a-1136: #e7e1d7;
@al-jazeera-color-harmony-c-3141: #e2e0df;
@al-jazeera-color-harmony-d-4173: #d2dddb;
@al-jazeera-color-harmony-d-4163: #c8d9db;
@al-jazeera-color-harmony-e-5123: #e9ecd2;
@al-jazeera-color-harmony-b-2135: #ffd886;
@al-jazeera-color-harmony-b-2349: #e7ddc9;
@al-jazeera-color-harmony-c-3143: #e7dbd2;
@al-jazeera-color-harmony-c-3145: #e0dedf;
@al-jazeera-color-harmony-d-4365: #d4d9d6;
@al-jazeera-color-harmony-d-4161: #c5e5ec;
@al-jazeera-color-harmony-e-5152: #d7e8c2;
@al-jazeera-color-harmony-a-1150: #e3e1d6;
@al-jazeera-color-harmony-b-2151: #e9dfbd;
@al-jazeera-color-harmony-b-2348: #e7ddca;
@al-jazeera-color-harmony-c-3135: #e7dddb;
@al-jazeera-color-harmony-a-1159: #dcd6ce;
@al-jazeera-color-harmony-d-4178: #a9daea;
@al-jazeera-color-harmony-e-5140: #dbe6b9;
@al-jazeera-color-harmony-b-2343: #e5e0cb;
@al-jazeera-color-harmony-b-2346: #e8dbba;
@al-jazeera-color-harmony-b-2344: #e6dac9;
@al-jazeera-color-harmony-c-3140: #e0d7d5;
@al-jazeera-color-harmony-a-1163: #d0d5d4;
@al-jazeera-color-harmony-d-4176: #bbcedd;
@al-jazeera-color-harmony-e-5157: #d5e5ab;
@al-jazeera-color-harmony-b-2351: #e0ddbd;
@al-jazeera-color-harmony-b-2347: #e8d8b8;
@al-jazeera-color-harmony-b-2342: #e8dbcb;
@al-jazeera-color-harmony-c-3345: #e3dbdb;
@al-jazeera-color-harmony-a-1160: #d8d5d6;
@al-jazeera-color-harmony-d-4175: #b7d1e0;
@al-jazeera-color-harmony-e-5153: #d9e5a1;
@al-jazeera-color-harmony-b-2100: #ffe186;
@al-jazeera-color-harmony-b-2126: #ffd598;
@al-jazeera-color-harmony-b-2141: #ebd8bb;
@al-jazeera-color-harmony-c-3125: #f4d6e1;
@al-jazeera-color-harmony-c-3156: #d3c8da;
@al-jazeera-color-harmony-d-4183: #b6d5de;
@al-jazeera-color-harmony-e-5208: #a4d4b4;
@al-jazeera-color-harmony-b-2138: #f8ce4d;
@al-jazeera-color-harmony-b-2132: #ffca7e;
@al-jazeera-color-harmony-b-2150: #ebd3b8;
@al-jazeera-color-harmony-c-3153: #e9bfbe;
@al-jazeera-color-harmony-c-3148: #d7c3e2;
@al-jazeera-color-harmony-d-4197: #99c8e8;
@al-jazeera-color-harmony-e-5206: #98cdb6;
@al-jazeera-color-harmony-b-2143: #e9d9a6;
@al-jazeera-color-harmony-b-2357: #edcd8e;
@al-jazeera-color-harmony-b-2179: #ccc4b2;
@al-jazeera-color-harmony-c-3158: #e8c0b8;
@al-jazeera-color-harmony-d-4157: #d4b4cf;
@al-jazeera-color-harmony-d-4189: #acc4e0;
@al-jazeera-color-harmony-e-5202: #a7d1aa;
@al-jazeera-color-harmony-b-2156: #e4ce8a;
@al-jazeera-color-harmony-b-2145: #f2c88d;
@al-jazeera-color-harmony-b-2175: #d6c3a9;
@al-jazeera-color-harmony-c-3134: #f4bdc5;
@al-jazeera-color-harmony-d-4184: #b4c1e0;
@al-jazeera-color-harmony-d-4165: #bae0df;
@al-jazeera-color-harmony-e-5205: #99d488;
@al-jazeera-color-harmony-b-2152: #ecd17a;
@al-jazeera-color-harmony-b-2355: #efbe89;
@al-jazeera-color-harmony-b-2189: #d0b8a0;
@al-jazeera-color-harmony-c-3137: #f6b9ba;
@al-jazeera-color-harmony-d-4177: #b3cee5;
@al-jazeera-color-harmony-d-4217: #78c6cf;
@al-jazeera-color-harmony-e-5198: #b7cb83;
@al-jazeera-color-harmony-b-2160: #f0bf5e;
@al-jazeera-color-harmony-b-2153: #f1b98b;
@al-jazeera-color-harmony-b-2186: #cfb98e;
@al-jazeera-color-harmony-c-3139: #f7b9b2;
@al-jazeera-color-harmony-d-4196: #a1c3da;
@al-jazeera-color-harmony-d-4218: #76c8cb;
@al-jazeera-color-harmony-e-5194: #c0ce7f;
@al-jazeera-color-harmony-b-2340: #ffc553;
@al-jazeera-color-harmony-b-2148: #ffb77f;
@al-jazeera-color-harmony-b-2187: #d1b489;
@al-jazeera-color-harmony-c-3151: #f5a59f;
@al-jazeera-color-harmony-d-4205: #98b9e0;
@al-jazeera-color-harmony-d-4206: #83d1df;
@al-jazeera-color-harmony-e-5223: #9dc575;
@al-jazeera-color-harmony-b-2144: #ffb800;
@al-jazeera-color-harmony-b-2146: #ffb267;
@al-jazeera-color-harmony-b-2184: #d6b48e;
@al-jazeera-color-harmony-c-3150: #faa596;
@al-jazeera-color-harmony-d-4226: #6cb1de;
@al-jazeera-color-harmony-d-4237: #50bad1;
@al-jazeera-color-harmony-e-5246: #80b145;
@al-jazeera-color-harmony-b-2167: #eeb229;
@al-jazeera-color-harmony-b-2140: #ffb13c;
@al-jazeera-color-harmony-b-2185: #d89d65;
@al-jazeera-color-harmony-c-3179: #e18581;
@al-jazeera-color-harmony-d-4243: #60a8ba;
@al-jazeera-color-harmony-e-5243: #5cb1a2;
@al-jazeera-color-harmony-e-5267: #00a38b;
@al-jazeera-color-harmony-b-2168: #f0ae00;
@al-jazeera-color-harmony-b-2195: #fa951e;
@al-jazeera-color-harmony-b-2183: #d39e76;
@al-jazeera-color-harmony-c-3173: #e06973;
@al-jazeera-color-harmony-d-4249: #6d9dab;
@al-jazeera-color-harmony-e-5260: #409696;
@al-jazeera-color-harmony-e-5275: #109171;
@al-jazeera-color-harmony-b-2155: #ffaa00;
@al-jazeera-color-harmony-b-2162: #f89245;
@al-jazeera-color-harmony-b-2216: #bd8a65;
@al-jazeera-color-harmony-c-3194: #c44b7a;
@al-jazeera-color-harmony-d-4263: #1093be;
@al-jazeera-color-harmony-e-5277: #007f8c;
@al-jazeera-color-harmony-e-5279: #007e71;
@al-jazeera-color-harmony-b-2182: #ea9700;
@al-jazeera-color-harmony-b-2177: #e8863c;
@al-jazeera-color-harmony-b-2217: #bc846d;
@al-jazeera-color-harmony-c-3182: #d64847;
@al-jazeera-color-harmony-d-4262: #0095c0;
@al-jazeera-color-harmony-a-1238: #929290;
@al-jazeera-color-harmony-e-5381: #007373;
@al-jazeera-color-harmony-b-2218: #c69d23;
@al-jazeera-color-harmony-b-2172: #ee711e;
@al-jazeera-color-harmony-b-2231: #a98569;
@al-jazeera-color-harmony-c-3196: #bd3735;
@al-jazeera-color-harmony-d-4266: #4b72a9;
@al-jazeera-color-harmony-a-1266: #6b7077;
@al-jazeera-color-harmony-e-5384: #046665;
@al-jazeera-color-harmony-b-2213: #c7a137;
@al-jazeera-color-harmony-b-2192: #d9664a;
@al-jazeera-color-harmony-b-2260: #7d7067;
@al-jazeera-color-harmony-c-3195: #b23240;
@al-jazeera-color-harmony-d-4277: #315fa0;
@al-jazeera-color-harmony-a-1267: #6c6c6c;
@al-jazeera-color-harmony-e-5284: #016357;
@al-jazeera-color-harmony-b-2198: #ca9a38;
@al-jazeera-color-harmony-b-2207: #ce7d2f;
@al-jazeera-color-harmony-c-3254: #8b6661;
@al-jazeera-color-harmony-c-3232: #852b31;
@al-jazeera-color-harmony-d-4283: #35517b;
@al-jazeera-color-harmony-e-5265: #6e736b;
@al-jazeera-color-harmony-e-5385: #1e6145;
@al-jazeera-color-harmony-b-2226: #b1863c;
@al-jazeera-color-harmony-b-2208: #c16e40;
@al-jazeera-color-harmony-c-3271: #6f3936;
@al-jazeera-color-harmony-c-3249: #7c2e2b;
@al-jazeera-color-harmony-d-4288: #2c3562;
@al-jazeera-color-harmony-e-5274: #655847;
@al-jazeera-color-harmony-e-5286: #32583d;