// lgchem-ll-5000-series
@lgchem-ll-5000-series-ll-5011: #950c12;
@lgchem-ll-5000-series-ll-5021: #adb1af;
@lgchem-ll-5000-series-ll-5031: #be8300;
@lgchem-ll-5000-series-ll-5041: #00523c;
@lgchem-ll-5000-series-ll-5051: #003974;
@lgchem-ll-5000-series-ll-5061: #b14600;
@lgchem-ll-5000-series-ll-5091: #121316;