// lgchem-vizuoncal-4700
@lgchem-vizuoncal-4700-lc-4770m: #eff1f3;
@lgchem-vizuoncal-4700-lc-4770: #eceef1;
@lgchem-vizuoncal-4700-lc-4771: #b3b6b6;
@lgchem-vizuoncal-4700-lc-4772: #7a7d7d;
@lgchem-vizuoncal-4700-lc-4773: #5a5b5c;
@lgchem-vizuoncal-4700-lc-4779: #9f9f9d;
@lgchem-vizuoncal-4700-lc-4780m: #393a3b;
@lgchem-vizuoncal-4700-lc-4780: #111417;
@lgchem-vizuoncal-4700-lc-4728: #b78e57;
@lgchem-vizuoncal-4700-lc-4727: #aa541b;
@lgchem-vizuoncal-4700-lc-4726: #482f24;
@lgchem-vizuoncal-4700-lc-4739: #a99258;
@lgchem-vizuoncal-4700-lc-4736: #e5dbc1;
@lgchem-vizuoncal-4700-lc-4732: #edcc00;
@lgchem-vizuoncal-4700-lc-4731: #ffbb00;
@lgchem-vizuoncal-4700-lc-4730: #f9a200;
@lgchem-vizuoncal-4700-lc-4721: #e77022;
@lgchem-vizuoncal-4700-lc-4720: #d1501d;
@lgchem-vizuoncal-4700-lc-4711: #b42922;
@lgchem-vizuoncal-4700-lc-4710: #ae1f22;
@lgchem-vizuoncal-4700-lc-4716: #7e2020;
@lgchem-vizuoncal-4700-lc-4764: #df8ab1;
@lgchem-vizuoncal-4700-lc-4763: #b93867;
@lgchem-vizuoncal-4700-lc-4762: #bc96bf;
@lgchem-vizuoncal-4700-lc-4761: #816db0;
@lgchem-vizuoncal-4700-lc-4760: #642f65;
@lgchem-vizuoncal-4700-lc-4754: #0094bf;
@lgchem-vizuoncal-4700-lc-4753: #0085bd;
@lgchem-vizuoncal-4700-lc-4752: #005488;
@lgchem-vizuoncal-4700-lc-4751: #272d7d;
@lgchem-vizuoncal-4700-lc-4750: #222d6b;
@lgchem-vizuoncal-4700-lc-4748: #70cdb4;
@lgchem-vizuoncal-4700-lc-4747: #009b8d;
@lgchem-vizuoncal-4700-lc-4746: #008083;
@lgchem-vizuoncal-4700-lc-4743: #7b9c36;
@lgchem-vizuoncal-4700-lc-4742: #00873c;
@lgchem-vizuoncal-4700-lc-4741: #007a49;
@lgchem-vizuoncal-4700-lc-4740: #113b26;