// mp-colorplus
@mp-colorplus-2400-na: #f9f5d3;
@mp-colorplus-2401-na: #f9edb4;
@mp-colorplus-2402-na: #fbe7a4;
@mp-colorplus-2403-na: #f9ebab;
@mp-colorplus-2404-na: #f9e781;
@mp-colorplus-2405-na: #f7dc71;
@mp-colorplus-2406-na: #f8eb96;
@mp-colorplus-2407-na-c: #f6e270;
@mp-colorplus-2408-na-c: #f6dc57;
@mp-colorplus-2409-na: #f6db82;
@mp-colorplus-2410-na: #f5d069;
@mp-colorplus-2411-na: #f3c756;
@mp-colorplus-2412-na: #f4e5bb;
@mp-colorplus-2413-na: #fae2ab;
@mp-colorplus-2414-na: #f7cd64;
@mp-colorplus-2415-na: #f6eab8;
@mp-colorplus-2416-na: #f6db8e;
@mp-colorplus-2417-na: #f3c055;
@mp-colorplus-2418-na: #f9e6b9;
@mp-colorplus-2419-na: #f9da99;
@mp-colorplus-2420-na-c: #eeb556;
@mp-colorplus-2421-na: #f7d299;
@mp-colorplus-2422-na: #f9d07a;
@mp-colorplus-2423-na: #f5c770;
@mp-colorplus-2424-na: #f6cc83;
@mp-colorplus-2425-na: #eeba78;
@mp-colorplus-2426-na: #f0b474;
@mp-colorplus-2427-na: #f8cd94;
@mp-colorplus-2428-na: #ecad63;
@mp-colorplus-2429-na: #e29150;
@mp-colorplus-2430-na: #f6d3b0;
@mp-colorplus-2431-na: #e8a671;
@mp-colorplus-2432-na: #dc8855;
@mp-colorplus-2433-na: #f9e2c5;
@mp-colorplus-2434-na: #f6bb95;
@mp-colorplus-2435-na: #f7a469;
@mp-colorplus-2436-na: #f8d8c2;
@mp-colorplus-2437-na: #f6ba9f;
@mp-colorplus-2438-na: #d78d66;
@mp-colorplus-2439-na: #fcd4c3;
@mp-colorplus-2440-na: #f9b9a5;
@mp-colorplus-2441-na: #ef9371;
@mp-colorplus-2442-na: #edc2b4;
@mp-colorplus-2443-na: #e5b4ab;
@mp-colorplus-2444-na: #dfa999;
@mp-colorplus-2445-na: #fbcbb4;
@mp-colorplus-2446-na: #e4ab94;
@mp-colorplus-2447-na: #d49783;
@mp-colorplus-2448-na: #f2b997;
@mp-colorplus-2449-na: #f3b390;
@mp-colorplus-2450-na: #f3b496;
@mp-colorplus-2451-na: #f6d1bb;
@mp-colorplus-2452-na: #efaa89;
@mp-colorplus-2453-na: #e48a68;
@mp-colorplus-2454-na: #f0a280;
@mp-colorplus-2455-na: #ed9972;
@mp-colorplus-2456-na: #e99867;
@mp-colorplus-2457-na: #f1a68f;
@mp-colorplus-2458-na: #db9073;
@mp-colorplus-2459-na: #de8970;
@mp-colorplus-2460-na: #d97d60;
@mp-colorplus-2461-na: #d97457;
@mp-colorplus-2462-na: #cc7355;
@mp-colorplus-2463-na: #edafa1;
@mp-colorplus-2464-na: #e58a7d;
@mp-colorplus-2465-na: #ca695d;
@mp-colorplus-2466-na: #e7aea9;
@mp-colorplus-2467-na: #dc8580;
@mp-colorplus-2468-na: #b46158;
@mp-colorplus-2469-na: #f79596;
@mp-colorplus-2470-na-c: #f18081;
@mp-colorplus-2471-na-c: #eb6b68;
@mp-colorplus-2472-na: #cfb2b5;
@mp-colorplus-2473-na: #ae8a92;
@mp-colorplus-2474-na: #8e6c72;
@mp-colorplus-2475-na: #e6c8cb;
@mp-colorplus-2476-na: #d3acb3;
@mp-colorplus-2477-na: #b78f9a;
@mp-colorplus-2478-na: #ada9b5;
@mp-colorplus-2479-na: #9391a1;
@mp-colorplus-2480-na: #767485;
@mp-colorplus-2481-na: #ddd7d3;
@mp-colorplus-2482-na: #ccc4c6;
@mp-colorplus-2483-na: #baadb1;
@mp-colorplus-2484-na: #dad9da;
@mp-colorplus-2485-na: #c2c2c7;
@mp-colorplus-2486-na: #abaeb6;
@mp-colorplus-2487-na: #dde5e1;
@mp-colorplus-2488-na: #c9d7db;
@mp-colorplus-2489-na: #b5c4d4;
@mp-colorplus-2490-na: #dee7e6;
@mp-colorplus-2491-na: #cedee8;
@mp-colorplus-2492-na: #bacfdf;
@mp-colorplus-2493-na: #aabbc8;
@mp-colorplus-2494-na: #98b0c3;
@mp-colorplus-2495-na: #809cb2;
@mp-colorplus-2496-na: #9ec3df;
@mp-colorplus-2497-na: #90b3d2;
@mp-colorplus-2498-na: #80a8ce;
@mp-colorplus-2499-na: #b6cedb;
@mp-colorplus-2500-na: #84b2d4;
@mp-colorplus-2501-na: #679dc3;
@mp-colorplus-2502-na: #d4dee1;
@mp-colorplus-2503-na: #a3c9e1;
@mp-colorplus-2504-na: #72a6c7;
@mp-colorplus-2505-na: #b7ccd0;
@mp-colorplus-2506-na: #99c4d2;
@mp-colorplus-2507-na: #89b6c8;
@mp-colorplus-2508-na: #e1e8e2;
@mp-colorplus-2509-na: #c2dce0;
@mp-colorplus-2510-na: #b9d1d7;
@mp-colorplus-2511-na: #d8e6df;
@mp-colorplus-2512-na: #bbd8dc;
@mp-colorplus-2513-na: #b0c2c7;
@mp-colorplus-2514-na: #c5dfdf;
@mp-colorplus-2515-na: #89ced3;
@mp-colorplus-2516-na: #2b9fa7;
@mp-colorplus-2517-na: #c2e2dd;
@mp-colorplus-2518-na: #b8e2d7;
@mp-colorplus-2519-na: #8bd7ce;
@mp-colorplus-2520-na: #e9efe2;
@mp-colorplus-2521-na: #ace3ca;
@mp-colorplus-2522-na: #78d2aa;
@mp-colorplus-2523-na: #ddecdf;
@mp-colorplus-2524-na: #c7dbcc;
@mp-colorplus-2525-na: #b4d3ba;
@mp-colorplus-2526-na: #d1d9c2;
@mp-colorplus-2527-na: #abb895;
@mp-colorplus-2528-na: #859c76;
@mp-colorplus-2529-na: #cad5c2;
@mp-colorplus-2530-na: #aebfaa;
@mp-colorplus-2531-na: #a2af95;
@mp-colorplus-2532-na: #e1e2cc;
@mp-colorplus-2533-na: #d8dac3;
@mp-colorplus-2534-na: #bdc4a0;
@mp-colorplus-2535-tt: #e9ece4;
@mp-colorplus-2536-tt: #e2ebe5;
@mp-colorplus-2537-tt: #e9efe6;
@mp-colorplus-2538-tt: #efefde;
@mp-colorplus-2539-tt: #f1f1e1;
@mp-colorplus-2540-tt: #f1f1db;
@mp-colorplus-2541-tt: #f2efe4;
@mp-colorplus-2542-tt: #efece1;
@mp-colorplus-2543-tt: #e5e1d9;
@mp-colorplus-2544-tt: #f1ece4;
@mp-colorplus-2545-tt: #eeeae3;
@mp-colorplus-2546-tt: #e8e1e0;
@mp-colorplus-2547-tt: #f4e9dc;
@mp-colorplus-2548-tt: #f5ede2;
@mp-colorplus-2549-tt: #f4e6da;
@mp-colorplus-2550-tt: #f4e8d0;
@mp-colorplus-2551-tt: #f5ebd8;
@mp-colorplus-2552-tt: #f3e5d1;
@mp-colorplus-2553-tt: #f4eed9;
@mp-colorplus-2554-tt: #f4edd8;
@mp-colorplus-2555-tt: #f4e8cf;
@mp-colorplus-2556-fs: #ecd9b6;
@mp-colorplus-2557-fs: #f2daae;
@mp-colorplus-2558-fs: #f2ca8d;
@mp-colorplus-2559-fs: #efd586;
@mp-colorplus-2560-fs: #e9c76f;
@mp-colorplus-2561-fs: #e1b758;
@mp-colorplus-2562-fs: #f4d79b;
@mp-colorplus-2563-fs: #e9bf6d;
@mp-colorplus-2564-fs: #ddae50;
@mp-colorplus-2565-fs: #f5d195;
@mp-colorplus-2566-fs: #e6b15d;
@mp-colorplus-2567-fs: #cd9853;
@mp-colorplus-2568-fs: #f4d8a3;
@mp-colorplus-2569-fs: #edc384;
@mp-colorplus-2570-fs: #c18844;
@mp-colorplus-2571-fs: #eaca94;
@mp-colorplus-2572-fs: #e0b26b;
@mp-colorplus-2573-fs: #d59e47;
@mp-colorplus-2574-fs: #f0d3a3;
@mp-colorplus-2575-fs: #e8b36a;
@mp-colorplus-2576-fs: #dd9d4f;
@mp-colorplus-2577-fs: #eacb9d;
@mp-colorplus-2578-fs: #ebc689;
@mp-colorplus-2579-fs: #e1ae6b;
@mp-colorplus-2580-fs: #f0d6b3;
@mp-colorplus-2581-fs: #f3cc98;
@mp-colorplus-2582-fs: #e4b67d;
@mp-colorplus-2583-fs: #eec991;
@mp-colorplus-2584-fs: #f7c976;
@mp-colorplus-2585-fs: #ecb670;
@mp-colorplus-2586-fs: #efd3b2;
@mp-colorplus-2587-fs: #f2c596;
@mp-colorplus-2588-fs: #da9b5c;
@mp-colorplus-2589-fs: #f0b773;
@mp-colorplus-2590-fs: #d6905f;
@mp-colorplus-2591-fs: #c6825a;
@mp-colorplus-2592-fs: #f8dcbc;
@mp-colorplus-2593-fs: #f8c49e;
@mp-colorplus-2594-fs: #da966f;
@mp-colorplus-2595-fs: #deb098;
@mp-colorplus-2596-fs: #d49578;
@mp-colorplus-2597-fs: #cb8566;
@mp-colorplus-2598-fs: #e0aa8e;
@mp-colorplus-2599-fs: #cf906a;
@mp-colorplus-2600-fs: #c0774f;
@mp-colorplus-2601-fs: #c2856e;
@mp-colorplus-2602-fs: #ad5e4d;
@mp-colorplus-2603-fs: #9f5e4d;
@mp-colorplus-2604-fs: #bb6f5b;
@mp-colorplus-2605-fs: #ab5543;
@mp-colorplus-2606-fs: #9c5544;
@mp-colorplus-2607-fs: #d89b8b;
@mp-colorplus-2608-fs: #bc7766;
@mp-colorplus-2609-fs: #a06155;
@mp-colorplus-2610-fs: #d89d80;
@mp-colorplus-2611-fs: #c2826e;
@mp-colorplus-2612-fs: #ad726b;
@mp-colorplus-2613-fs: #be7a4b;
@mp-colorplus-2614-fs: #a26543;
@mp-colorplus-2615-fs: #9c6451;
@mp-colorplus-2616-fs: #f8d7be;
@mp-colorplus-2617-fs: #ecc5a7;
@mp-colorplus-2618-fs: #d09f80;
@mp-colorplus-2619-fs: #dcccb5;
@mp-colorplus-2620-fs: #d5b79a;
@mp-colorplus-2621-fs: #d6b28c;
@mp-colorplus-2622-fs: #eadccb;
@mp-colorplus-2623-fs: #e4d3c0;
@mp-colorplus-2624-fs: #d4c2af;
@mp-colorplus-2625-fs: #e7dcc4;
@mp-colorplus-2626-fs: #e4d1b2;
@mp-colorplus-2627-fs: #dfcaaf;
@mp-colorplus-2628-fs: #e6e0cb;
@mp-colorplus-2629-fs: #decfae;
@mp-colorplus-2630-fs: #c9bead;
@mp-colorplus-2631-fs: #d7d6cc;
@mp-colorplus-2632-fs: #b5b0a8;
@mp-colorplus-2633-fs: #9c958c;
@mp-colorplus-2634-fs: #bcb7ae;
@mp-colorplus-2635-fs: #8f8c85;
@mp-colorplus-2636-fs: #7c7a75;
@mp-colorplus-2637-fs: #a9a8a6;
@mp-colorplus-2638-fs: #949494;
@mp-colorplus-2639-fs: #6c6d6f;
@mp-colorplus-2640-fs: #d9d2d0;
@mp-colorplus-2641-fs: #b7b1b2;
@mp-colorplus-2642-fs: #99939a;
@mp-colorplus-2643-fs: #decbc8;
@mp-colorplus-2644-fs: #c9b2af;
@mp-colorplus-2645-fs: #b69d9a;
@mp-colorplus-53-0025: #f9e0b7;
@mp-colorplus-53-0050: #f9d7a4;
@mp-colorplus-53-0200: #ecbf7e;
@mp-colorplus-53-giallo-ocra: #c68b41;
@mp-colorplus-52-0025: #fee4b9;
@mp-colorplus-52-0050: #ffe0a8;
@mp-colorplus-52-0200: #ffd27e;
@mp-colorplus-52-giallo-croma: #ffab19;
@mp-colorplus-56-0025: #fbd2c6;
@mp-colorplus-56-0050: #fdc6b9;
@mp-colorplus-56-0200: #fdaa96;
@mp-colorplus-56-arancio: #e86a41;
@mp-colorplus-57-0025: #efb1ba;
@mp-colorplus-57-0050: #ed9fa9;
@mp-colorplus-57-0200: #e47784;
@mp-colorplus-57-rosso-vivo: #ba423f;
@mp-colorplus-50-0025: #ddb2aa;
@mp-colorplus-50-0050: #cd9c92;
@mp-colorplus-50-0200: #b07970;
@mp-colorplus-50-rosso-ossido: #824c44;
@mp-colorplus-51-0025: #dfc3b4;
@mp-colorplus-51-0050: #d4b4a5;
@mp-colorplus-51-0200: #b79181;
@mp-colorplus-51-marrone: #6f5449;
@mp-colorplus-59-0025: #bdbbba;
@mp-colorplus-59-0050: #a9a8a8;
@mp-colorplus-59-0200: #818082;
@mp-colorplus-59-nero: #3e3d3f;
@mp-colorplus-54-0025: #dbe7cf;
@mp-colorplus-54-0050: #ccdac1;
@mp-colorplus-54-0200: #b0c7a8;
@mp-colorplus-54-verde-scuro: #587653;
@mp-colorplus-58-0025: #c3dbe6;
@mp-colorplus-58-0050: #b4d4ea;
@mp-colorplus-58-0200: #8bbbe3;
@mp-colorplus-58-blu: #39426e;