// oracal-serie-8500
@oracal-serie-8500-oracal-010-weiss: #eff1f1;
@oracal-serie-8500-oracal-025-schwefelgelb: #c7bb19;
@oracal-serie-8500-oracal-021-gelb: #dab000;
@oracal-serie-8500-oracal-013-zinkgelb: #ebc100;
@oracal-serie-8500-oracal-020-goldgelb: #eca400;
@oracal-serie-8500-oracal-017-kirschrot: #931f23;
@oracal-serie-8500-oracal-030-dunkelrot: #6a252f;
@oracal-serie-8500-oracal-085-blassrosa: #c68f94;
@oracal-serie-8500-oracal-413-hellrosa: #c067aa;
@oracal-serie-8500-oracal-041-pink: #a22b6e;
@oracal-serie-8500-oracal-052-azurblau: #0073aa;
@oracal-serie-8500-oracal-051-enzianblau: #0066a3;
@oracal-serie-8500-oracal-005-mittelblau: #254996;
@oracal-serie-8500-oracal-006-intensivblau: #0d3b6b;
@oracal-serie-8500-oracal-049-koenigsblau: #382a7d;
@oracal-serie-8500-oracal-062-hellgruen: #00963a;
@oracal-serie-8500-oracal-063-lindgruen: #5da807;
@oracal-serie-8500-oracal-009-mittelgruen: #009d64;
@oracal-serie-8500-oracal-614-schilfgruen: #006e31;
@oracal-serie-8500-oracal-068-grasgruen: #00703c;
@oracal-serie-8500-oracal-072-hellgrau: #bfc1c1;
@oracal-serie-8500-oracal-805-elfenbein: #e0d6b9;
@oracal-serie-8500-oracal-011-lichtbraun: #d2b389;
@oracal-serie-8500-oracal-081-hellbraun: #ab875b;
@oracal-serie-8500-oracal-088-kaffeebraun: #4d3833;
@oracal-serie-8500-oracal-015-gelborange: #e99412;
@oracal-serie-8500-oracal-034-orange: #cf5822;
@oracal-serie-8500-oracal-032-hellrot: #c43920;
@oracal-serie-8500-oracal-016-blutrot: #ba3025;
@oracal-serie-8500-oracal-031-rot: #a82425;
@oracal-serie-8500-oracal-008-erika: #641a34;
@oracal-serie-8500-oracal-040-violett: #5f256b;
@oracal-serie-8500-oracal-403-hellviolett: #5f3a8a;
@oracal-serie-8500-oracal-012-lila: #461f5a;
@oracal-serie-8500-oracal-053-hellblau: #0091c3;
@oracal-serie-8500-oracal-065-kobaltblau: #2b195b;
@oracal-serie-8500-oracal-007-tiefblau: #2b2c5b;
@oracal-serie-8500-oracal-541-dunkeltuerkis: #00596b;
@oracal-serie-8500-oracal-066-tuerkisblau: #008d8e;
@oracal-serie-8500-oracal-054-tuerkis: #00ab8a;
@oracal-serie-8500-oracal-087-smaragdgruen: #1b773b;
@oracal-serie-8500-oracal-060-dunkelgruen: #1c4532;
@oracal-serie-8500-oracal-070-schwarz: #292a2b;
@oracal-serie-8500-oracal-074-mittelgrau: #8a8f8e;
@oracal-serie-8500-oracal-076-telegrau: #9da1a6;
@oracal-serie-8500-oracal-090-silber: #ababab;
@oracal-serie-8500-oracal-091-gold: #b29e68;