// fascalpromotional
@fascalpromotional-fascal-400-white: #fbfafa;
@fascalpromotional-fascal-400-white-score-back: #fbfafa;
@fascalpromotional-fascal-400-white-crack-back: #fcfafb;
@fascalpromotional-fascal-400-white-invercote-postc: #faf9f9;
@fascalpromotional-fascal-400-red: #b20118;
@fascalpromotional-fascal-400-orange: #ed6603;
@fascalpromotional-fascal-400-chrome-yellow: #ffaa00;
@fascalpromotional-fascal-400-yellow: #ffbf00;
@fascalpromotional-fascal-400-green: #00814d;
@fascalpromotional-fascal-400-blue: #005788;
@fascalpromotional-fascal-400-black: #121416;
@fascalpromotional-fascal-420-white: #fefcf7;
@fascalpromotional-fascal-420-white-crack-back: #1b1a17;
@fascalpromotional-fascal-420-red: #bc3c43;
@fascalpromotional-fascal-420-yellow: #ffc612;
@fascalpromotional-fascal-420-green: #008f63;
@fascalpromotional-fascal-420-blue: #396894;
@fascalpromotional-fascal-420-black: #3e3e3f;
@fascalpromotional-fascal-ur-200-white: #fcfbfc;
@fascalpromotional-fascal-paint-mask-opaque: #fcfcf7;
@fascalpromotional-fascal-coverall-vinyl-white: #f3f4f1;
@fascalpromotional-fascal-398-double-coated-polytape: #f9f5eb;
@fascalpromotional-fascal-465-fluorescent-orange: #ff451e;
@fascalpromotional-fascal-180-solid-foil-bright-chrome: #5a5c5d;
@fascalpromotional-fascal-180-solid-foil-matt-chrome: #d5d7d7;
@fascalpromotional-fascal-710-bright-chrome-polyester: #2b2e30;
@fascalpromotional-fascal-710-bright-gold-polyester: #3c4436;
@fascalpromotional-fascal-711-satin-chrome-polyester: #bbc0c4;
@fascalpromotional-fascal-750-embossing-film-chrome: #303335;
@fascalpromotional-fascal-750-embossing-film-gold: #323a37;
@fascalpromotional-fascal-772-brushed-chrome-polyester: #656b72;