// sto-silikat
@sto-silikat-sto-silikat-14010: #eeca74;
@sto-silikat-sto-silikat-14011: #f1d17e;
@sto-silikat-sto-silikat-14012: #f5db92;
@sto-silikat-sto-silikat-14013: #efdb9f;
@sto-silikat-sto-silikat-14014: #f5e7b9;
@sto-silikat-sto-silikat-14015: #f3eac2;
@sto-silikat-sto-silikat-14016: #ede8d0;
@sto-silikat-sto-silikat-14020: #dda751;
@sto-silikat-sto-silikat-14021: #e3b259;
@sto-silikat-sto-silikat-14022: #ebc070;
@sto-silikat-sto-silikat-14023: #f0ce88;
@sto-silikat-sto-silikat-14024: #f2d79e;
@sto-silikat-sto-silikat-14025: #f3e1b0;
@sto-silikat-sto-silikat-14026: #f2e8c9;
@sto-silikat-sto-silikat-14030: #cf9e57;
@sto-silikat-sto-silikat-14031: #d8a964;
@sto-silikat-sto-silikat-14032: #e4ba7c;
@sto-silikat-sto-silikat-14033: #ebc891;
@sto-silikat-sto-silikat-14034: #eed1a3;
@sto-silikat-sto-silikat-14035: #eed9b5;
@sto-silikat-sto-silikat-14036: #f1e7ce;
@sto-silikat-sto-silikat-14040: #a57c4d;
@sto-silikat-sto-silikat-14041: #b38a58;
@sto-silikat-sto-silikat-14042: #cba678;
@sto-silikat-sto-silikat-14043: #d3b487;
@sto-silikat-sto-silikat-14044: #dfc5a0;
@sto-silikat-sto-silikat-14045: #e3d1b0;
@sto-silikat-sto-silikat-14046: #ebe2ce;
@sto-silikat-sto-silikat-14050: #88634f;
@sto-silikat-sto-silikat-14051: #99735e;
@sto-silikat-sto-silikat-14052: #b28e7a;
@sto-silikat-sto-silikat-14053: #c2a18c;
@sto-silikat-sto-silikat-14054: #d3b8a6;
@sto-silikat-sto-silikat-14055: #d8c3b4;
@sto-silikat-sto-silikat-14056: #e4d8cb;
@sto-silikat-sto-silikat-14060: #9a5f4d;
@sto-silikat-sto-silikat-14061: #ac715f;
@sto-silikat-sto-silikat-14062: #be8a75;
@sto-silikat-sto-silikat-14063: #cb9e8b;
@sto-silikat-sto-silikat-14064: #d6b09f;
@sto-silikat-sto-silikat-14065: #e0c2b3;
@sto-silikat-sto-silikat-14066: #e6d7c9;
@sto-silikat-sto-silikat-14070: #9c5a4a;
@sto-silikat-sto-silikat-14071: #a86554;
@sto-silikat-sto-silikat-14072: #be7f6f;
@sto-silikat-sto-silikat-14073: #cd9282;
@sto-silikat-sto-silikat-14074: #d5a497;
@sto-silikat-sto-silikat-14075: #e0b8ab;
@sto-silikat-sto-silikat-14076: #e8d2c7;
@sto-silikat-sto-silikat-14080: #85554a;
@sto-silikat-sto-silikat-14081: #97685d;
@sto-silikat-sto-silikat-14082: #ac8277;
@sto-silikat-sto-silikat-14083: #bf9a8e;
@sto-silikat-sto-silikat-14084: #ccada3;
@sto-silikat-sto-silikat-14085: #d6bdb5;
@sto-silikat-sto-silikat-14086: #e3d5cd;
@sto-silikat-sto-silikat-14090: #7c534a;
@sto-silikat-sto-silikat-14091: #865f57;
@sto-silikat-sto-silikat-14092: #a17d74;
@sto-silikat-sto-silikat-14093: #b08f86;
@sto-silikat-sto-silikat-14094: #baa19b;
@sto-silikat-sto-silikat-14095: #c9b4ae;
@sto-silikat-sto-silikat-14096: #d5ccc7;
@sto-silikat-sto-silikat-14100: #6a4f4b;
@sto-silikat-sto-silikat-14101: #785d5c;
@sto-silikat-sto-silikat-14102: #8d7474;
@sto-silikat-sto-silikat-14103: #9d8786;
@sto-silikat-sto-silikat-14104: #b09d9d;
@sto-silikat-sto-silikat-14105: #bfb1b0;
@sto-silikat-sto-silikat-14106: #d1cac7;
@sto-silikat-sto-silikat-14110: #5b4946;
@sto-silikat-sto-silikat-14111: #6b5956;
@sto-silikat-sto-silikat-14112: #7e6e6e;
@sto-silikat-sto-silikat-14113: #907e7d;
@sto-silikat-sto-silikat-14114: #a39696;
@sto-silikat-sto-silikat-14115: #b4a9a7;
@sto-silikat-sto-silikat-14116: #cbc5c2;
@sto-silikat-sto-silikat-14120: #69584e;
@sto-silikat-sto-silikat-14121: #766357;
@sto-silikat-sto-silikat-14122: #8f7c6f;
@sto-silikat-sto-silikat-14123: #a08f81;
@sto-silikat-sto-silikat-14124: #b1a397;
@sto-silikat-sto-silikat-14125: #c1b6aa;
@sto-silikat-sto-silikat-14126: #d0ccc5;
@sto-silikat-sto-silikat-14130: #62584c;
@sto-silikat-sto-silikat-14131: #766a5d;
@sto-silikat-sto-silikat-14132: #8c8173;
@sto-silikat-sto-silikat-14133: #9b907e;
@sto-silikat-sto-silikat-14134: #ada496;
@sto-silikat-sto-silikat-14135: #bdb6a9;
@sto-silikat-sto-silikat-14136: #cdcac1;
@sto-silikat-sto-silikat-14140: #78634c;
@sto-silikat-sto-silikat-14141: #857057;
@sto-silikat-sto-silikat-14142: #a28d73;
@sto-silikat-sto-silikat-14143: #b09c83;
@sto-silikat-sto-silikat-14144: #baad97;
@sto-silikat-sto-silikat-14145: #c9bfac;
@sto-silikat-sto-silikat-14146: #d5d1c7;
@sto-silikat-sto-silikat-14150: #585b50;
@sto-silikat-sto-silikat-14151: #6a6b5f;
@sto-silikat-sto-silikat-14152: #838579;
@sto-silikat-sto-silikat-14153: #97998d;
@sto-silikat-sto-silikat-14154: #a3a79b;
@sto-silikat-sto-silikat-14155: #babcb2;
@sto-silikat-sto-silikat-14156: #cacdc6;
@sto-silikat-sto-silikat-14160: #7a795a;
@sto-silikat-sto-silikat-14161: #8a8a6c;
@sto-silikat-sto-silikat-14162: #a3a185;
@sto-silikat-sto-silikat-14163: #b3b398;
@sto-silikat-sto-silikat-14164: #c6c4ae;
@sto-silikat-sto-silikat-14165: #cfcfbd;
@sto-silikat-sto-silikat-14166: #dddecf;
@sto-silikat-sto-silikat-14170: #708761;
@sto-silikat-sto-silikat-14171: #7e906e;
@sto-silikat-sto-silikat-14172: #99a88d;
@sto-silikat-sto-silikat-14173: #a9b69e;
@sto-silikat-sto-silikat-14174: #b9c4b3;
@sto-silikat-sto-silikat-14175: #c5ccbe;
@sto-silikat-sto-silikat-14176: #d1d4cd;
@sto-silikat-sto-silikat-14180: #647c75;
@sto-silikat-sto-silikat-14181: #69817a;
@sto-silikat-sto-silikat-14182: #80968e;
@sto-silikat-sto-silikat-14183: #8ea59e;
@sto-silikat-sto-silikat-14184: #a9b6ae;
@sto-silikat-sto-silikat-14185: #b2c3bd;
@sto-silikat-sto-silikat-14186: #c8cecb;
@sto-silikat-sto-silikat-14190: #517c8f;
@sto-silikat-sto-silikat-14191: #5a8092;
@sto-silikat-sto-silikat-14192: #6990a2;
@sto-silikat-sto-silikat-14193: #7a9eb0;
@sto-silikat-sto-silikat-14194: #8eaebc;
@sto-silikat-sto-silikat-14195: #9eb7c2;
@sto-silikat-sto-silikat-14196: #c5d0d2;
@sto-silikat-sto-silikat-14200: #a1874f;
@sto-silikat-sto-silikat-14201: #b1975c;
@sto-silikat-sto-silikat-14202: #c8b078;
@sto-silikat-sto-silikat-14203: #d3bf8c;
@sto-silikat-sto-silikat-14204: #ddcda2;
@sto-silikat-sto-silikat-14205: #e1d6b5;
@sto-silikat-sto-silikat-14206: #e6e2cd;
@sto-silikat-sto-silikat-14210: #4d5054;
@sto-silikat-sto-silikat-14211: #525559;
@sto-silikat-sto-silikat-14212: #666a70;
@sto-silikat-sto-silikat-14213: #6d7276;
@sto-silikat-sto-silikat-14214: #818589;
@sto-silikat-sto-silikat-14215: #959a9f;
@sto-silikat-sto-silikat-14216: #b0b3b4;
@sto-silikat-sto-silikat-14217: #bfc2c2;
@sto-silikat-sto-silikat-14218: #cdcfcc;
@sto-silikat-sto-silikat-14219: #dcdeda;
@sto-silikat-sto-silikat-14220: #57565a;
@sto-silikat-sto-silikat-14221: #626165;
@sto-silikat-sto-silikat-14222: #6c6b70;
@sto-silikat-sto-silikat-14223: #7a797e;
@sto-silikat-sto-silikat-14224: #8f8f95;
@sto-silikat-sto-silikat-14225: #9f9fa3;
@sto-silikat-sto-silikat-14226: #b8b8b9;
@sto-silikat-sto-silikat-14227: #c9c9c9;
@sto-silikat-sto-silikat-14228: #d5d5d4;
@sto-silikat-sto-silikat-14229: #dfded9;
@sto-silikat-sto-silikat-2418-lichtgelb: #ebe27a;
@sto-silikat-sto-silikat-2419-goldgelb: #e8a845;
@sto-silikat-sto-silikat-2420-ocker: #be8539;
@sto-silikat-sto-silikat-2421-rostrot: #934b3b;
@sto-silikat-sto-silikat-2422-ziegelrot: #85443a;
@sto-silikat-sto-silikat-2423-kastanien: #725545;
@sto-silikat-sto-silikat-2424-lichtblau: #007496;
@sto-silikat-sto-silikat-2425-laubgruen: #5e7a56;
@sto-silikat-sto-silikat-2426-umbra: #5e5947;
@sto-silikat-sto-silikat-2427-rotbraun: #67453f;
@sto-silikat-sto-silikat-2428-schwarz: #474646;
@sto-silikat-sto-silikat-2430-lachsrot: #aa5643;
@sto-silikat-sto-silikat-2431-gelb: #ece074;
@sto-silikat-sto-silikat-2432-oxidgelb: #d5983e;
@sto-silikat-sto-silikat-2433-orange: #b3573a;
@sto-silikat-sto-silikat-2434-oxidrot: #964e45;
@sto-silikat-sto-silikat-2435-blau: #1f81a5;
@sto-silikat-sto-silikat-2436-gruen: #607b58;
@sto-silikat-sto-silikat-2437-umbra: #7c6f4e;
@sto-silikat-sto-silikat-2438-schwarz: #4e4d4f;
@sto-silikat-sto-silikat-2439-braun: #704b45;
@sto-silikat-sto-silikat-2440-safrangelb: #e8b660;