// fascalmarkingfilms
@fascalmarkingfilms-fascal-800-black: #121214;
@fascalmarkingfilms-fascal-820-black: #3a3a3b;
@fascalmarkingfilms-fascal-890-white: #fffffc;
@fascalmarkingfilms-fascal-895-white: #fffffc;
@fascalmarkingfilms-fascal-1800-white: #fffffb;
@fascalmarkingfilms-fascal-1820-white: #fffffc;
@fascalmarkingfilms-fascal-930-wine-red: #7d0c18;
@fascalmarkingfilms-fascal-950-carmine-red: #a20413;
@fascalmarkingfilms-fascal-903-tomato-red: #9d1818;
@fascalmarkingfilms-fascal-955-cardinal-red: #bd1e1b;
@fascalmarkingfilms-fascal-906-medium-red: #d41200;
@fascalmarkingfilms-fascal-954-poppy-red: #e63c00;
@fascalmarkingfilms-fascal-910-dark-orange: #ea5700;
@fascalmarkingfilms-fascal-911-light-orange: #e86600;
@fascalmarkingfilms-fascal-953-melon-yellow: #ff9900;
@fascalmarkingfilms-fascal-902-buttercup-yellow: #ffb600;
@fascalmarkingfilms-fascal-952-sunflower-yellow: #ffb000;
@fascalmarkingfilms-fascal-951-primrose-yellow: #ffd100;
@fascalmarkingfilms-fascal-956-grass-green: #72ad27;
@fascalmarkingfilms-fascal-907-light-green: #5b9f36;
@fascalmarkingfilms-fascal-908-kelly-green: #007b38;
@fascalmarkingfilms-fascal-916-dark-green: #054120;
@fascalmarkingfilms-fascal-917-dark-blue: #0f2033;
@fascalmarkingfilms-fascal-957-cobalt-blue: #161e3f;
@fascalmarkingfilms-fascal-939-royal-blue: #003c7a;
@fascalmarkingfilms-fascal-909-sapphire-blue: #233977;
@fascalmarkingfilms-fascal-941-cosmos-blue: #005293;
@fascalmarkingfilms-fascal-912-gentian-blue: #005b99;
@fascalmarkingfilms-fascal-942-light-blue: #0096ce;
@fascalmarkingfilms-fascal-943-petrol-blue: #006472;
@fascalmarkingfilms-fascal-944-aqua: #00a899;
@fascalmarkingfilms-fascal-905-sky-blue: #178cc2;
@fascalmarkingfilms-fascal-947-magenta: #d86593;
@fascalmarkingfilms-fascal-946-lilac: #c39ec9;
@fascalmarkingfilms-fascal-945-lavender: #806eb2;
@fascalmarkingfilms-fascal-948-purple: #63255f;
@fascalmarkingfilms-fascal-915-mahogany-brown: #482a1f;
@fascalmarkingfilms-fascal-949-chestnut: #572d1b;
@fascalmarkingfilms-fascal-913-ivory: #ecdcc1;
@fascalmarkingfilms-fascal-901-black: #111111;
@fascalmarkingfilms-fascal-962-storm-grey: #4e4f4e;
@fascalmarkingfilms-fascal-918-grey: #808686;
@fascalmarkingfilms-fascal-960-dove-grey: #adadab;
@fascalmarkingfilms-fascal-961-pearl-grey: #cecfd0;
@fascalmarkingfilms-fascal-900-white: #fffef6;
@fascalmarkingfilms-fascal-992-dark-grey-metallic: #535655;
@fascalmarkingfilms-fascal-990-silver-metallic: #c1c3c3;
@fascalmarkingfilms-fascal-991-gold-metallic: #ae9b5c;
@fascalmarkingfilms-fascal-1900-repositionable-white: #fffdf5;
@fascalmarkingfilms-fascal-2920-ultra-destructible-white: #fffef5;
@fascalmarkingfilms-fascal-4900-ap-white: #fffef6;
@fascalmarkingfilms-fascal-4506-transluc-red: #c02d2e;
@fascalmarkingfilms-fascal-4510-transluc-orange: #fa5f2b;
@fascalmarkingfilms-fascal-4504-transluc-chrome-yellow: #ffb400;
@fascalmarkingfilms-fascal-4502-transluc-yellow: #ffca00;
@fascalmarkingfilms-fascal-4507-transluc-light-green: #80bf00;
@fascalmarkingfilms-fascal-4516-transluc-green: #006536;
@fascalmarkingfilms-fascal-4517-transluc-dark-blue: #352a69;
@fascalmarkingfilms-fascal-4512-transluc-blue: #0073b3;
@fascalmarkingfilms-fascal-4511-transluc-pink: #b92571;
@fascalmarkingfilms-fascal-4513-transluc-violet: #5c2b5d;
@fascalmarkingfilms-fascal-4515-transluc-dark-brown: #523b34;
@fascalmarkingfilms-fascal-4514-transluc-brown: #6e3931;
@fascalmarkingfilms-fascal-4501-transluc-black: #313234;
@fascalmarkingfilms-fascal-4500-transluc-white: #efece2;
@fascalmarkingfilms-fascal-4522-transluc-burgundy: #683037;
@fascalmarkingfilms-fascal-4524-transluc-light-orange: #f48807;
@fascalmarkingfilms-fascal-4539-transluc-turquoise: #009575;
@fascalmarkingfilms-fascal-4523-transluc-light-blue: #008db6;
@fascalmarkingfilms-fascal-4518-transluc-sapphire-blue: #2c3e83;
@fascalmarkingfilms-fascal-4519-transluc-grey: #9a9ba0;
@fascalmarkingfilms-fascal-4536-transluc-medium-grey: #797c7e;
@fascalmarkingfilms-fascal-6203-fluor-red: #ff0000;
@fascalmarkingfilms-fascal-6206-fluor-orange: #ff1a00;
@fascalmarkingfilms-fascal-6209-fluor-light-orange: #ff5b00;
@fascalmarkingfilms-fascal-6202-fluor-yellow: #feff00;
@fascalmarkingfilms-fascal-6803-fluor-red: #ff0000;
@fascalmarkingfilms-fascal-6802-fluor-yellow: #fdf300;
@fascalmarkingfilms-fascal-8803-cherry-red: #ac0d19;
@fascalmarkingfilms-fascal-8804-poppy-red: #d83823;
@fascalmarkingfilms-fascal-8805-tangerine-orange: #ec6100;
@fascalmarkingfilms-fascal-8806-sunflower-yellow: #ffbb00;
@fascalmarkingfilms-fascal-8807-primrose-yellow: #fce000;
@fascalmarkingfilms-fascal-8814-lime-green: #84d02a;
@fascalmarkingfilms-fascal-8813-grass-green: #45a200;
@fascalmarkingfilms-fascal-8812-cactus-green: #008e4e;
@fascalmarkingfilms-fascal-8811-forest-green: #004d2c;
@fascalmarkingfilms-fascal-8808-cosmos-blue: #005393;
@fascalmarkingfilms-fascal-8809-ocean-blue: #0089c0;
@fascalmarkingfilms-fascal-8810-sky-blue: #00abc7;
@fascalmarkingfilms-fascal-8816-pink: #f591c2;
@fascalmarkingfilms-fascal-8815-cyclamen: #bb2165;
@fascalmarkingfilms-fascal-8817-violet: #633a95;
@fascalmarkingfilms-fascal-8802-burgundy-red: #330000;
@fascalmarkingfilms-fascal-8818-chocolate: #513426;
@fascalmarkingfilms-fascal-8819-beige: #e9cc9a;
@fascalmarkingfilms-fascal-8801-black: #08090c;
@fascalmarkingfilms-fascal-8820-grey: #606566;
@fascalmarkingfilms-fascal-8800-white: #f6f6fb;
@fascalmarkingfilms-fascal-8826-medium-red: #c01a11;
@fascalmarkingfilms-fascal-8834-kelly-green: #00773e;
@fascalmarkingfilms-fascal-8824-china-blue: #0a1837;
@fascalmarkingfilms-fascal-8823-blue: #19265e;
@fascalmarkingfilms-fascal-8833-blue: #00537a;
@fascalmarkingfilms-fascal-8832-light-blue: #58b5de;
@fascalmarkingfilms-fascal-8829-teal: #76d5bc;
@fascalmarkingfilms-fascal-8831-turquoise: #009294;
@fascalmarkingfilms-fascal-8828-caramel: #7f4d24;
@fascalmarkingfilms-fascal-8827-brown: #b38551;
@fascalmarkingfilms-fascal-8825-medium-grey: #7c878d;
@fascalmarkingfilms-fascal-8821-black-dull: #222325;
@fascalmarkingfilms-fascal-8830-white-dull: #f2f1f7;
@fascalmarkingfilms-fascal-8835-silver: #939596;
@fascalmarkingfilms-fascal-8836-gold: #9b895a;