// lukas-berlin
@lukas-berlin-808-titanweiss: #e5e5df;
@lukas-berlin-822-fleischfarbe: #f7d4bd;
@lukas-berlin-810-primaire-gelb: #edd90f;
@lukas-berlin-826-kadmiumgelb-hell: #fcc400;
@lukas-berlin-829-kadmiumorange: #de6232;
@lukas-berlin-872-kadmiumrot-hell: #d74737;
@lukas-berlin-874-kadmiumrot-dunkel: #c13936;
@lukas-berlin-866-krapplack-dunkel: #65393a;
@lukas-berlin-850-primaire-rot: #9a3350;
@lukas-berlin-927-kobaltviolett-dunkel: #463e47;
@lukas-berlin-920-primaire-blau: #0c6899;
@lukas-berlin-937-ultramarin: #383456;
@lukas-berlin-823-kobaltblau-hell: #314d82;
@lukas-berlin-921-coelinblau: #00637c;
@lukas-berlin-938-himmelblau: #507ebe;
@lukas-berlin-972-zinnobergruen-hellst: #7baa20;
@lukas-berlin-963-permanetgruen-hell: #076d44;
@lukas-berlin-954-chromoxidgruen-feurig: #255144;
@lukas-berlin-953-chromoxidgruen-stumpf: #4a6547;
@lukas-berlin-831-lichter-ocker: #b57f3d;
@lukas-berlin-911-umbra-gebrannt: #504643;
@lukas-berlin-909-terra-di-siena-gebrannt: #5e342b;
@lukas-berlin-990-warmgrau: #76705f;
@lukas-berlin-982-elfenbeinschwarz: #3b3a3a;