// gsb05-1426-2001
@gsb05-1426-2001-pb1: #1e2338;
@gsb05-1426-2001-pb2: #19264c;
@gsb05-1426-2001-pb3: #192b4a;
@gsb05-1426-2001-pb4: #043466;
@gsb05-1426-2001-pb11: #005e93;
@gsb05-1426-2001-pb5: #006792;
@gsb05-1426-2001-pb6: #0086b4;
@gsb05-1426-2001-pb7: #4084aa;
@gsb05-1426-2001-pb8: #2f6078;
@gsb05-1426-2001-pb9: #53bacf;
@gsb05-1426-2001-pb10: #83c6ce;
@gsb05-1426-2001-b06: #cbeae2;
@gsb05-1426-2001-b07: #bbdbcf;
@gsb05-1426-2001-b08: #a4d8cd;
@gsb05-1426-2001-b09: #2fa2a2;
@gsb05-1426-2001-b10: #008ea2;
@gsb05-1426-2001-b11: #267586;
@gsb05-1426-2001-b12: #166171;
@gsb05-1426-2001-b13: #284753;
@gsb05-1426-2001-b14: #006d6a;
@gsb05-1426-2001-b15: #008378;
@gsb05-1426-2001-bg4: #00947b;
@gsb05-1426-2001-bg3: #4bb296;
@gsb05-1426-2001-bg2: #94b7a3;
@gsb05-1426-2001-bg5: #9ecbb8;
@gsb05-1426-2001-g07: #cedac7;
@gsb05-1426-2001-g08: #acccac;
@gsb05-1426-2001-g01: #a7d1a5;
@gsb05-1426-2001-g09: #567f59;
@gsb05-1426-2001-g02: #007939;
@gsb05-1426-2001-g03: #006738;
@gsb05-1426-2001-g04: #1d462c;
@gsb05-1426-2001-g05: #103828;
@gsb05-1426-2001-g06: #222f26;
@gsb05-1426-2001-gy5: #474430;
@gsb05-1426-2001-gy4: #424325;
@gsb05-1426-2001-gy6: #484d31;
@gsb05-1426-2001-gy2: #757e5f;
@gsb05-1426-2001-gy7: #80bb73;
@gsb05-1426-2001-gy1: #b2cd95;
@gsb05-1426-2001-gy8: #c3d8a8;
@gsb05-1426-2001-y11: #f5e6cb;
@gsb05-1426-2001-y02: #eedeb0;
@gsb05-1426-2001-y12: #f3dbb2;
@gsb05-1426-2001-y03: #f4dcae;
@gsb05-1426-2001-y04: #f5d693;
@gsb05-1426-2001-y05: #efc800;
@gsb05-1426-2001-y06: #f3c600;
@gsb05-1426-2001-y07: #fead00;
@gsb05-1426-2001-y08: #f49c00;
@gsb05-1426-2001-y09: #bd7d21;
@gsb05-1426-2001-y10: #594b2a;
@gsb05-1426-2001-yr6: #a15e1c;
@gsb05-1426-2001-yr1: #79482c;
@gsb05-1426-2001-yr7: #623e26;
@gsb05-1426-2001-yr2: #523d2e;
@gsb05-1426-2001-yr5: #492924;
@gsb05-1426-2001-yr3: #352221;
@gsb05-1426-2001-yr4: #dc570d;
@gsb05-1426-2001-r05: #d2431c;
@gsb05-1426-2001-r02: #b62218;
@gsb05-1426-2001-r03: #b70b1c;
@gsb05-1426-2001-r04: #801720;
@gsb05-1426-2001-r01: #6d281d;
@gsb05-1426-2001-rp3: #a13460;
@gsb05-1426-2001-rp4: #bf6992;
@gsb05-1426-2001-rp1: #f3bfca;
@gsb05-1426-2001-rp2: #facfd3;
@gsb05-1426-2001-p01: #deced3;
@gsb05-1426-2001-p02: #a19ec2;
@gsb05-1426-2001-b01: #50575b;
@gsb05-1426-2001-b02: #6b7273;
@gsb05-1426-2001-b03: #898e8d;
@gsb05-1426-2001-b04: #969c96;
@gsb05-1426-2001-b05: #aeb5b1;
@gsb05-1426-2001-g10: #a7ada7;
@gsb05-1426-2001-gy9: #d1d0c0;
@gsb05-1426-2001-bg1: #919990;
@gsb05-1426-2001-gy10: #73766d;
@gsb05-1426-2001-gy3: #7a7a68;
@gsb05-1426-2001-y01: #9d8c71;
@gsb05-1426-2001-y13: #a4a491;
@gsb05-1426-2001-gy11: #aaae97;