// bayosan-decorputze
@bayosan-decorputze-101: #e3b790;
@bayosan-decorputze-103: #e4c7af;
@bayosan-decorputze-105: #e6cbb2;
@bayosan-decorputze-107: #e3d1c0;
@bayosan-decorputze-109: #f1e4da;
@bayosan-decorputze-121: #e6b473;
@bayosan-decorputze-123: #e3bd80;
@bayosan-decorputze-125: #f5d7a6;
@bayosan-decorputze-127: #f7e2be;
@bayosan-decorputze-129: #f7ecdd;
@bayosan-decorputze-141: #cd9565;
@bayosan-decorputze-143: #e3a970;
@bayosan-decorputze-145: #e8c192;
@bayosan-decorputze-147: #edd2b4;
@bayosan-decorputze-149: #f6e3cc;
@bayosan-decorputze-151: #cf9950;
@bayosan-decorputze-153: #daaa62;
@bayosan-decorputze-155: #d7b789;
@bayosan-decorputze-157: #e2cda9;
@bayosan-decorputze-159: #ebddc3;
@bayosan-decorputze-171: #9b7f62;
@bayosan-decorputze-173: #bba58d;
@bayosan-decorputze-175: #cfb79a;
@bayosan-decorputze-177: #d4c2ad;
@bayosan-decorputze-179: #e6daca;
@bayosan-decorputze-191: #9b8976;
@bayosan-decorputze-193: #b09f89;
@bayosan-decorputze-195: #bdaf9f;
@bayosan-decorputze-197: #dacdbd;
@bayosan-decorputze-199: #e3dbd0;
@bayosan-decorputze-201: #ddaf64;
@bayosan-decorputze-203: #e9c88b;
@bayosan-decorputze-205: #e7d1a9;
@bayosan-decorputze-207: #eedfc3;
@bayosan-decorputze-209: #f0e2ca;
@bayosan-decorputze-221: #caa16e;
@bayosan-decorputze-223: #d3b480;
@bayosan-decorputze-225: #e1c18c;
@bayosan-decorputze-227: #eccf99;
@bayosan-decorputze-229: #ebd8af;
@bayosan-decorputze-241: #9f8669;
@bayosan-decorputze-243: #ad9476;
@bayosan-decorputze-245: #c0ad95;
@bayosan-decorputze-247: #cbb79c;
@bayosan-decorputze-249: #d9c6b1;
@bayosan-decorputze-251: #eecb83;
@bayosan-decorputze-253: #ead0a1;
@bayosan-decorputze-255: #edd7ae;
@bayosan-decorputze-257: #eedeb6;
@bayosan-decorputze-259: #e4d8c5;
@bayosan-decorputze-271: #a7a393;
@bayosan-decorputze-273: #cbbda8;
@bayosan-decorputze-275: #d4c8b6;
@bayosan-decorputze-277: #dcd2bd;
@bayosan-decorputze-279: #ebe0d0;
@bayosan-decorputze-291: #91846c;
@bayosan-decorputze-293: #b0aa99;
@bayosan-decorputze-295: #c7bfb0;
@bayosan-decorputze-297: #dad1c2;
@bayosan-decorputze-299: #e8e3d9;
@bayosan-decorputze-301: #d2b678;
@bayosan-decorputze-303: #dfcda3;
@bayosan-decorputze-305: #decfa9;
@bayosan-decorputze-307: #dad0b3;
@bayosan-decorputze-309: #ddd6c5;
@bayosan-decorputze-321: #9b9271;
@bayosan-decorputze-323: #b2a684;
@bayosan-decorputze-325: #c9ba9d;
@bayosan-decorputze-327: #d6c6a9;
@bayosan-decorputze-329: #eee7d6;
@bayosan-decorputze-341: #6f6347;
@bayosan-decorputze-343: #b09863;
@bayosan-decorputze-345: #caab71;
@bayosan-decorputze-347: #d1bd95;
@bayosan-decorputze-349: #e8d8bc;
@bayosan-decorputze-351: #b1a36d;
@bayosan-decorputze-353: #b8ab7c;
@bayosan-decorputze-355: #c8b98c;
@bayosan-decorputze-357: #d8cba3;
@bayosan-decorputze-359: #e8ddc9;
@bayosan-decorputze-371: #9ea080;
@bayosan-decorputze-373: #b0bba1;
@bayosan-decorputze-375: #bac0b0;
@bayosan-decorputze-377: #ced1c9;
@bayosan-decorputze-379: #d2d6d3;
@bayosan-decorputze-391: #747c69;
@bayosan-decorputze-393: #a9af9c;
@bayosan-decorputze-395: #b9c0a8;
@bayosan-decorputze-397: #c6cdb8;
@bayosan-decorputze-399: #e2e3d6;
@bayosan-decorputze-401: #a7af85;
@bayosan-decorputze-403: #b0b28c;
@bayosan-decorputze-405: #d1d5ba;
@bayosan-decorputze-407: #d6d8c5;
@bayosan-decorputze-409: #e2decc;
@bayosan-decorputze-421: #5d6f58;
@bayosan-decorputze-423: #83967b;
@bayosan-decorputze-425: #a1aa91;
@bayosan-decorputze-427: #cfd0af;
@bayosan-decorputze-429: #dcd3b9;
@bayosan-decorputze-441: #807e73;
@bayosan-decorputze-443: #afa99c;
@bayosan-decorputze-445: #beb8ac;
@bayosan-decorputze-447: #cac9c1;
@bayosan-decorputze-449: #d5d1cc;
@bayosan-decorputze-451: #a1b2a0;
@bayosan-decorputze-453: #b7c1a8;
@bayosan-decorputze-455: #b4beae;
@bayosan-decorputze-457: #cacec0;
@bayosan-decorputze-459: #e6e1d4;
@bayosan-decorputze-471: #82abae;
@bayosan-decorputze-473: #acc4c7;
@bayosan-decorputze-475: #b9c9c6;
@bayosan-decorputze-477: #d1d4d1;
@bayosan-decorputze-479: #d9d7cf;
@bayosan-decorputze-491: #7d969a;
@bayosan-decorputze-493: #94a5b1;
@bayosan-decorputze-495: #aeb2ae;
@bayosan-decorputze-497: #cdd3ce;
@bayosan-decorputze-499: #d6d4cd;
@bayosan-decorputze-501: #9bb5d6;
@bayosan-decorputze-503: #a8b6c5;
@bayosan-decorputze-505: #bdcdda;
@bayosan-decorputze-507: #c5ccd4;
@bayosan-decorputze-509: #cfdbe2;
@bayosan-decorputze-521: #7a8e95;
@bayosan-decorputze-523: #9baaac;
@bayosan-decorputze-525: #b0bdc1;
@bayosan-decorputze-527: #cad2d3;
@bayosan-decorputze-529: #e1dfdb;
@bayosan-decorputze-541: #8f9fb1;
@bayosan-decorputze-543: #939cae;
@bayosan-decorputze-545: #a5a8b1;
@bayosan-decorputze-547: #b8b3b8;
@bayosan-decorputze-549: #e6dedc;
@bayosan-decorputze-551: #a2a1a2;
@bayosan-decorputze-553: #b9b7b7;
@bayosan-decorputze-555: #bebbb9;
@bayosan-decorputze-557: #d9d7d2;
@bayosan-decorputze-559: #e7e0d7;
@bayosan-decorputze-571: #7a7c78;
@bayosan-decorputze-573: #8a837a;
@bayosan-decorputze-575: #b3aba1;
@bayosan-decorputze-577: #c8c6c1;
@bayosan-decorputze-579: #dbd9d4;
@bayosan-decorputze-591: #8a7c77;
@bayosan-decorputze-593: #b9ada3;
@bayosan-decorputze-595: #c4b8b0;
@bayosan-decorputze-597: #d6cbc1;
@bayosan-decorputze-599: #e4ddd2;
@bayosan-decorputze-601: #b98d88;
@bayosan-decorputze-603: #c9aca6;
@bayosan-decorputze-605: #d6b5b1;
@bayosan-decorputze-607: #dfd6d3;
@bayosan-decorputze-609: #ebddd4;
@bayosan-decorputze-621: #a2858b;
@bayosan-decorputze-623: #b19ea7;
@bayosan-decorputze-625: #c2b2b2;
@bayosan-decorputze-627: #c7bec5;
@bayosan-decorputze-629: #ded7d7;
@bayosan-decorputze-641: #9a8984;
@bayosan-decorputze-643: #beaba9;
@bayosan-decorputze-645: #c4aca6;
@bayosan-decorputze-647: #d4c7cb;
@bayosan-decorputze-649: #e3dadb;
@bayosan-decorputze-651: #b16a5c;
@bayosan-decorputze-653: #b57863;
@bayosan-decorputze-655: #c3907c;
@bayosan-decorputze-657: #cca496;
@bayosan-decorputze-659: #e6d3c6;
@bayosan-decorputze-671: #cfa395;
@bayosan-decorputze-673: #d9b3a9;
@bayosan-decorputze-675: #e6cfc9;
@bayosan-decorputze-677: #ddccc9;
@bayosan-decorputze-679: #e7d8ce;
@bayosan-decorputze-691: #7d534c;
@bayosan-decorputze-693: #a0867e;
@bayosan-decorputze-695: #ccb5ab;
@bayosan-decorputze-697: #d7c8bd;
@bayosan-decorputze-699: #f1e8db;
@bayosan-decorputze-701: #98493a;
@bayosan-decorputze-703: #c2755a;
@bayosan-decorputze-705: #e0a47a;
@bayosan-decorputze-707: #eabf98;
@bayosan-decorputze-709: #eac69c;
@bayosan-decorputze-721: #9f6b63;
@bayosan-decorputze-723: #ab7d77;
@bayosan-decorputze-725: #cea499;
@bayosan-decorputze-727: #deb5a7;
@bayosan-decorputze-729: #f0d6c5;
@bayosan-decorputze-741: #af8f86;
@bayosan-decorputze-743: #c3aba2;
@bayosan-decorputze-745: #cbae9f;
@bayosan-decorputze-747: #d4c3b6;
@bayosan-decorputze-749: #e9e4de;
@bayosan-decorputze-751: #b4775e;
@bayosan-decorputze-753: #c68769;
@bayosan-decorputze-755: #f0c4a5;
@bayosan-decorputze-757: #eed5c6;
@bayosan-decorputze-759: #efe5da;
@bayosan-decorputze-771: #9b664e;
@bayosan-decorputze-773: #a17054;
@bayosan-decorputze-775: #b9896e;
@bayosan-decorputze-777: #d5af97;
@bayosan-decorputze-779: #e6d1c1;
@bayosan-decorputze-791: #af9882;
@bayosan-decorputze-793: #c4ad99;
@bayosan-decorputze-795: #dabaa0;
@bayosan-decorputze-797: #dac3b1;
@bayosan-decorputze-799: #ddcec3;
@bayosan-decorputze-801: #ac8367;
@bayosan-decorputze-803: #c78659;
@bayosan-decorputze-805: #d39c69;
@bayosan-decorputze-807: #daaf7d;
@bayosan-decorputze-809: #e8c59c;
@bayosan-decorputze-821: #cbaa8e;
@bayosan-decorputze-823: #dabaa4;
@bayosan-decorputze-825: #e0c5b1;
@bayosan-decorputze-827: #e4ccb8;
@bayosan-decorputze-829: #e7ded4;
@bayosan-decorputze-841: #8f6b5a;
@bayosan-decorputze-843: #9e775c;
@bayosan-decorputze-845: #ceab92;
@bayosan-decorputze-847: #b9ab9b;
@bayosan-decorputze-849: #ccbcb0;
@bayosan-decorputze-851: #b6886c;
@bayosan-decorputze-853: #c79a7d;
@bayosan-decorputze-855: #dfb79a;
@bayosan-decorputze-857: #d6b399;
@bayosan-decorputze-859: #f1d4b9;
@bayosan-decorputze-871: #a56c4d;
@bayosan-decorputze-873: #b59d87;
@bayosan-decorputze-875: #d1b9a6;
@bayosan-decorputze-877: #caad90;
@bayosan-decorputze-879: #e5cbaf;
@bayosan-decorputze-891: #6d605e;
@bayosan-decorputze-893: #6b5e55;
@bayosan-decorputze-895: #a98672;
@bayosan-decorputze-897: #806356;
@bayosan-decorputze-899: #9b7e6b;