// ikea-family
@ikea-family-ikea001: #f8f1e6;
@ikea-family-ikea002: #efe8e1;
@ikea-family-ikea003: #f9f2ec;
@ikea-family-ikea004: #f7f2eb;
@ikea-family-ikea005: #ede8e0;
@ikea-family-ikea006: #eee7dd;
@ikea-family-ikea007: #f4f0e5;
@ikea-family-ikea008: #efe4d3;
@ikea-family-ikea009: #f8f3e9;
@ikea-family-ikea010: #f3ecde;
@ikea-family-ikea011: #f6f3e7;
@ikea-family-ikea012: #eee7d3;
@ikea-family-ikea013: #f4f2e5;
@ikea-family-ikea014: #eeeada;
@ikea-family-ikea015-ikea-5: #f8f7e9;
@ikea-family-ikea016: #f4f2e9;
@ikea-family-ikea017: #eef3e7;
@ikea-family-ikea018: #eaeadf;
@ikea-family-ikea019: #eff5f0;
@ikea-family-ikea020: #ecf4ec;
@ikea-family-ikea021: #bec675;
@ikea-family-ikea022-ikea-2: #f2f1ee;
@ikea-family-ikea023: #e4cbcb;
@ikea-family-ikea024: #f7f0e7;
@ikea-family-ikea025: #cbbeb1;
@ikea-family-ikea026: #ebe0d9;
@ikea-family-ikea027: #cc6653;
@ikea-family-ikea028: #e7e1d8;
@ikea-family-ikea029: #816f66;
@ikea-family-ikea030: #f6f0e8;
@ikea-family-ikea031: #f7e2dd;
@ikea-family-ikea032: #edcdc7;
@ikea-family-ikea033: #f4d9ce;
@ikea-family-ikea034: #dcb8a8;
@ikea-family-ikea035: #f8e9d3;
@ikea-family-ikea036: #efcb9b;
@ikea-family-ikea037: #fde5b0;
@ikea-family-ikea038: #e6cdaa;
@ikea-family-ikea039: #fbebbd;
@ikea-family-ikea040: #f9df9c;
@ikea-family-ikea041: #f9efd6;
@ikea-family-ikea042: #d9cca6;
@ikea-family-ikea043: #ebefbd;
@ikea-family-ikea044: #b5d1ab;
@ikea-family-ikea045: #bbe1d7;
@ikea-family-ikea046: #c3dcc9;
@ikea-family-ikea047: #dde9ed;
@ikea-family-ikea048: #c2e4ea;
@ikea-family-ikea049: #d2dcef;
@ikea-family-ikea050: #c6d7e3;
@ikea-family-ikea051: #e1e4e6;
@ikea-family-ikea052: #b3c4d5;
@ikea-family-ikea053: #e8dde2;
@ikea-family-ikea054: #d2cbdd;
@ikea-family-ikea055: #7e8177;
@ikea-family-ikea056: #f7f8df;
@ikea-family-ikea057: #e4e7e3;
@ikea-family-ikea058: #f7e5d3;
@ikea-family-ikea059: #b34c53;
@ikea-family-ikea060: #d2dddb;
@ikea-family-ikea061: #ecebaf;
@ikea-family-ikea062: #dedfc3;
@ikea-family-ikea063: #935e7c;
@ikea-family-ikea064: #e7e3e9;
@ikea-family-ikea065: #dfb5b0;
@ikea-family-ikea066: #a85953;
@ikea-family-ikea067: #f5c2ac;
@ikea-family-ikea068: #e09673;
@ikea-family-ikea069: #ffd28e;
@ikea-family-ikea070: #f0b67e;
@ikea-family-ikea071: #fbe6ce;
@ikea-family-ikea072: #efcd96;
@ikea-family-ikea073: #faee9f;
@ikea-family-ikea074: #fadb89;
@ikea-family-ikea075: #e2e38d;
@ikea-family-ikea076: #c7c896;
@ikea-family-ikea077: #d3dfc1;
@ikea-family-ikea078: #9cad7f;
@ikea-family-ikea079: #bae0cc;
@ikea-family-ikea080: #96bb9f;
@ikea-family-ikea081: #bfdad7;
@ikea-family-ikea082: #729e9c;
@ikea-family-ikea083: #b6dce6;
@ikea-family-ikea084: #83aac1;
@ikea-family-ikea085: #9fc1df;
@ikea-family-ikea086: #748dac;
@ikea-family-ikea087: #cab6c9;
@ikea-family-ikea088: #8b859d;
@ikea-family-ikea089: #6a443b;
@ikea-family-ikea090: #cddcd0;
@ikea-family-ikea091: #574c49;
@ikea-family-ikea092: #f3dea9;
@ikea-family-ikea093: #f4efe5;
@ikea-family-ikea094: #d6dbb7;
@ikea-family-ikea095: #726965;
@ikea-family-ikea096: #cfd9e4;
@ikea-family-ikea097: #006673;
@ikea-family-ikea098: #e5e1bf;
@ikea-family-ikea099: #e2a3b3;
@ikea-family-ikea100: #b8516c;
@ikea-family-ikea101: #d6a496;
@ikea-family-ikea102: #7e3738;
@ikea-family-ikea103: #cd746d;
@ikea-family-ikea104: #9a3636;
@ikea-family-ikea105: #c5714f;
@ikea-family-ikea106: #864633;
@ikea-family-ikea107: #ecd193;
@ikea-family-ikea108: #d69c54;
@ikea-family-ikea109: #f4d96c;
@ikea-family-ikea110: #f4c472;
@ikea-family-ikea111: #f7ee9c;
@ikea-family-ikea112: #d3bd76;
@ikea-family-ikea113: #e0dea6;
@ikea-family-ikea114: #93ab67;
@ikea-family-ikea115: #c1d0a6;
@ikea-family-ikea116: #5e7a65;
@ikea-family-ikea117: #a6cabf;
@ikea-family-ikea118: #317983;
@ikea-family-ikea119: #9bc2d8;
@ikea-family-ikea120: #6c8ea3;
@ikea-family-ikea121: #8896b3;
@ikea-family-ikea122: #3a5170;
@ikea-family-ikea123: #c5beb1;
@ikea-family-ikea124: #ffb953;
@ikea-family-ikea125: #eae3d3;
@ikea-family-ikea126: #c6628c;
@ikea-family-ikea127: #d0d4d8;
@ikea-family-ikea128: #4a72b0;
@ikea-family-ikea129: #f7f3e6;
@ikea-family-ikea130: #9b2c2c;
@ikea-family-ikea131: #e3ecde;
@ikea-family-ikea132: #507a4f;
@ikea-family-ikea133: #c2adab;
@ikea-family-ikea134: #856a73;
@ikea-family-ikea135: #decdc3;
@ikea-family-ikea136: #b99f90;
@ikea-family-ikea137: #b4a18f;
@ikea-family-ikea138: #645850;
@ikea-family-ikea139: #ebd9c3;
@ikea-family-ikea140: #a58369;
@ikea-family-ikea141: #e4decc;
@ikea-family-ikea142: #c6b294;
@ikea-family-ikea143: #d9c6ab;
@ikea-family-ikea144: #d9b27d;
@ikea-family-ikea145: #cfc7a2;
@ikea-family-ikea146: #847763;
@ikea-family-ikea147: #9d947b;
@ikea-family-ikea148: #676450;
@ikea-family-ikea149: #ccd0ba;
@ikea-family-ikea150: #a7a58f;
@ikea-family-ikea151: #ccd7ca;
@ikea-family-ikea152: #494f50;
@ikea-family-ikea153: #b1cbc9;
@ikea-family-ikea154: #667480;
@ikea-family-ikea155: #aab1b8;
@ikea-family-ikea156: #676973;
@ikea-family-ikea157: #b7975e;
@ikea-family-ikea158: #7c9195;
@ikea-family-ikea159: #ddcbcd;
@ikea-family-ikea160: #4d3e45;
@ikea-family-ikea161: #efe6c0;
@ikea-family-ikea162: #7f6f63;
@ikea-family-ikea-163: #423a45;
@ikea-family-ikea-164: #abb7b9;
@ikea-family-ikea-165: #91d0c5;
@ikea-family-ikea-166: #d1baa5;
@ikea-family-ikea-167: #d7d2c5;
@ikea-family-ikea-168: #9e9893;
@ikea-family-ikea-169: #b7ae9d;
@ikea-family-ikea-170: #827672;
@ikea-family-ikea-171: #e0d3be;
@ikea-family-ikea-172: #6c645d;
@ikea-family-ikea-173: #d1c9b8;
@ikea-family-ikea-174: #afa08c;
@ikea-family-ikea-175: #dfd7c1;
@ikea-family-ikea-176: #9d978a;
@ikea-family-ikea-177: #d7cfba;
@ikea-family-ikea-178: #69645d;
@ikea-family-ikea-179: #b6bbad;
@ikea-family-ikea-180: #81857e;
@ikea-family-ikea-181: #b2bcb8;
@ikea-family-ikea-182: #9aa1a0;
@ikea-family-ikea-183: #cfd8d2;
@ikea-family-ikea-184: #788082;
@ikea-family-ikea-185: #7b7b79;
@ikea-family-ikea-186: #302f2f;
@ikea-family-ikea-187: #bebfb8;
@ikea-family-ikea-188: #646462;
@ikea-family-ikea-189: #dddfd3;
@ikea-family-ikea-190: #d3d9cd;
@ikea-family-ikea-191: #dbb651;
@ikea-family-ikea-192: #dacbb2;
@ikea-family-ikea-193: #ba5b3a;
@ikea-family-ikea-194: #9a9e95;
@ikea-family-ikea-195: #286a4c;
@ikea-family-ikea-196: #d3cab5;
@ikea-family-ikea-197: #473633;
@ikea-family-ikea-198: #89807a;
@ikea-family-ikea-199: #978a65;
@ikea-family-ikea-200: #ece0c9;