// zero-hydrosil
@zero-hydrosil-f-200: #f1f1e9;
@zero-hydrosil-g-200: #eeeee5;
@zero-hydrosil-h-200: #f0f0e9;
@zero-hydrosil-j-200: #f5f2e7;
@zero-hydrosil-k-200: #f4f2e7;
@zero-hydrosil-l-200: #f3f3e8;
@zero-hydrosil-m-200: #f2f5eb;
@zero-hydrosil-n-200: #ecf1ea;
@zero-hydrosil-f-157: #eeede8;
@zero-hydrosil-f-001: #dce7e9;
@zero-hydrosil-g-001: #bfd5da;
@zero-hydrosil-h-001: #a1b8c5;
@zero-hydrosil-j-001: #8ca6b5;
@zero-hydrosil-k-001: #7c909b;
@zero-hydrosil-n-001: #829bab;
@zero-hydrosil-s-001: #acc2ce;
@zero-hydrosil-v-001: #b6c9d3;
@zero-hydrosil-x-001: #e3b9a7;
@zero-hydrosil-y-001: #d9805a;
@zero-hydrosil-f-002: #d2e3e6;
@zero-hydrosil-g-002: #c2d6e0;
@zero-hydrosil-h-002: #b1cddc;
@zero-hydrosil-j-002: #abc4d6;
@zero-hydrosil-k-002: #85a7be;
@zero-hydrosil-l-002: #6f8ca1;
@zero-hydrosil-n-002: #aac5d2;
@zero-hydrosil-s-002: #bdd0dc;
@zero-hydrosil-v-002: #ccdbe1;
@zero-hydrosil-x-002: #efc88f;
@zero-hydrosil-y-002: #d39b53;
@zero-hydrosil-f-003: #deeaec;
@zero-hydrosil-g-003: #c6d2db;
@zero-hydrosil-h-003: #b4c8d6;
@zero-hydrosil-j-003: #aabfcf;
@zero-hydrosil-s-003: #8399ad;
@zero-hydrosil-v-003: #b9c5ce;
@zero-hydrosil-x-003: #e5d4c4;
@zero-hydrosil-f-004: #d5e2e3;
@zero-hydrosil-g-004: #c8dbe2;
@zero-hydrosil-h-004: #b7d0da;
@zero-hydrosil-j-004: #a5c1ce;
@zero-hydrosil-k-004: #7898aa;
@zero-hydrosil-n-004: #7595a4;
@zero-hydrosil-s-004: #b1c5cc;
@zero-hydrosil-v-004: #c1d0d5;
@zero-hydrosil-x-004: #dcd4c4;
@zero-hydrosil-f-005: #d5e8e9;
@zero-hydrosil-g-005: #c7e0e7;
@zero-hydrosil-h-005: #acd2e2;
@zero-hydrosil-j-005: #7cb4d4;
@zero-hydrosil-n-005: #83b3c6;
@zero-hydrosil-s-005: #b8d4de;
@zero-hydrosil-v-005: #d0e0e5;
@zero-hydrosil-x-005: #cfb79e;
@zero-hydrosil-f-006: #dae9ed;
@zero-hydrosil-g-006: #cde2ed;
@zero-hydrosil-h-006: #afd6ed;
@zero-hydrosil-j-006: #98c4e3;
@zero-hydrosil-k-006: #75aed4;
@zero-hydrosil-s-006: #76a5c4;
@zero-hydrosil-v-006: #91b7ce;
@zero-hydrosil-x-006: #d39673;
@zero-hydrosil-f-007: #cbe5ed;
@zero-hydrosil-g-007: #bae0ee;
@zero-hydrosil-h-007: #8fc2e2;
@zero-hydrosil-j-007: #72abcc;
@zero-hydrosil-k-007: #5693b5;
@zero-hydrosil-s-007: #a9d4e6;
@zero-hydrosil-v-007: #bfe1eb;
@zero-hydrosil-x-007: #edd2ca;
@zero-hydrosil-f-008: #cae6ec;
@zero-hydrosil-g-008: #c1e0ea;
@zero-hydrosil-h-008: #b6dbe9;
@zero-hydrosil-j-008: #9dd2e7;
@zero-hydrosil-k-008: #53a4c0;
@zero-hydrosil-n-008: #85c4d8;
@zero-hydrosil-s-008: #97cfe2;
@zero-hydrosil-v-008: #a3d5e4;
@zero-hydrosil-x-008: #f8e3db;
@zero-hydrosil-f-009: #c5e1e7;
@zero-hydrosil-g-009: #b8dee8;
@zero-hydrosil-h-009: #7abbce;
@zero-hydrosil-j-009: #65abc2;
@zero-hydrosil-k-009: #4097b2;
@zero-hydrosil-n-009: #5ca5c1;
@zero-hydrosil-s-009: #9fd0e2;
@zero-hydrosil-v-009: #cce4eb;
@zero-hydrosil-x-009: #e1d8c6;
@zero-hydrosil-f-010: #d7e5e7;
@zero-hydrosil-g-010: #bcd5df;
@zero-hydrosil-h-010: #b4d0de;
@zero-hydrosil-j-010: #9dbdd0;
@zero-hydrosil-k-010: #88aabf;
@zero-hydrosil-s-010: #93bacb;
@zero-hydrosil-v-010: #c7dee5;
@zero-hydrosil-x-010: #ffcf98;
@zero-hydrosil-y-010: #cd8c61;
@zero-hydrosil-f-011: #cfe7e9;
@zero-hydrosil-g-011: #cae5ea;
@zero-hydrosil-h-011: #addcec;
@zero-hydrosil-j-011: #94cfe5;
@zero-hydrosil-k-011: #62bddf;
@zero-hydrosil-n-011: #57abcc;
@zero-hydrosil-s-011: #80bad1;
@zero-hydrosil-v-011: #96cadb;
@zero-hydrosil-x-011: #f2d29d;
@zero-hydrosil-f-012: #ddeeec;
@zero-hydrosil-g-012: #cce7ed;
@zero-hydrosil-h-012: #afdbef;
@zero-hydrosil-j-012: #99d0ec;
@zero-hydrosil-k-012: #6db8e3;
@zero-hydrosil-n-012: #70abca;
@zero-hydrosil-s-012: #b4d7e6;
@zero-hydrosil-v-012: #c4dee6;
@zero-hydrosil-x-012: #ebe1de;
@zero-hydrosil-f-013: #c5e2ec;
@zero-hydrosil-g-013: #a3d5e9;
@zero-hydrosil-h-013: #8dc6e5;
@zero-hydrosil-j-013: #5aabd6;
@zero-hydrosil-k-013: #4895c1;
@zero-hydrosil-n-013: #7995ae;
@zero-hydrosil-s-013: #84a7c1;
@zero-hydrosil-v-013: #c8d8e2;
@zero-hydrosil-x-013: #d59463;
@zero-hydrosil-f-014: #cee6ec;
@zero-hydrosil-g-014: #c4e1ed;
@zero-hydrosil-h-014: #b5dbee;
@zero-hydrosil-j-014: #79b3d1;
@zero-hydrosil-k-014: #609dbf;
@zero-hydrosil-n-014: #7eb2ce;
@zero-hydrosil-s-014: #b0d2e2;
@zero-hydrosil-v-014: #c2dbe3;
@zero-hydrosil-x-014: #c28365;
@zero-hydrosil-f-015: #c9e0e6;
@zero-hydrosil-g-015: #bcd9e4;
@zero-hydrosil-h-015: #9fd4ea;
@zero-hydrosil-j-015: #8acae9;
@zero-hydrosil-k-015: #6fb8e2;
@zero-hydrosil-l-015: #4392cb;
@zero-hydrosil-n-015: #5ca3cf;
@zero-hydrosil-s-015: #aad5ea;
@zero-hydrosil-v-015: #c6dfeb;
@zero-hydrosil-x-015: #e3ad9f;
@zero-hydrosil-f-016: #d2e7eb;
@zero-hydrosil-g-016: #bfdeeb;
@zero-hydrosil-h-016: #9ecfea;
@zero-hydrosil-j-016: #7ebee5;
@zero-hydrosil-k-016: #3895cd;
@zero-hydrosil-n-016: #5da7cf;
@zero-hydrosil-s-016: #98c6e2;
@zero-hydrosil-v-016: #cae1ea;
@zero-hydrosil-f-017: #e1eceb;
@zero-hydrosil-g-017: #c5dee9;
@zero-hydrosil-h-017: #b7d7eb;
@zero-hydrosil-j-017: #a8cbe5;
@zero-hydrosil-k-017: #7aa5cd;
@zero-hydrosil-s-017: #8da6bd;
@zero-hydrosil-v-017: #b7c9d7;
@zero-hydrosil-f-018: #d4e8ed;
@zero-hydrosil-g-018: #cbdfe8;
@zero-hydrosil-h-018: #b9d3e2;
@zero-hydrosil-j-018: #a2c0d2;
@zero-hydrosil-k-018: #84a9c4;
@zero-hydrosil-l-018: #6e98b6;
@zero-hydrosil-n-018: #87a2b2;
@zero-hydrosil-s-018: #c1d3de;
@zero-hydrosil-v-018: #d9e5e9;
@zero-hydrosil-f-019: #d1e1ec;
@zero-hydrosil-g-019: #bdd6e9;
@zero-hydrosil-h-019: #93bae1;
@zero-hydrosil-j-019: #7fa8d6;
@zero-hydrosil-n-019: #81abcc;
@zero-hydrosil-s-019: #adcde1;
@zero-hydrosil-v-019: #cae1ed;
@zero-hydrosil-x-019: #c1ac9f;
@zero-hydrosil-f-020: #d1e1eb;
@zero-hydrosil-g-020: #c5dcec;
@zero-hydrosil-h-020: #bcd7eb;
@zero-hydrosil-j-020: #aecce6;
@zero-hydrosil-k-020: #95b9dd;
@zero-hydrosil-l-020: #6997d1;
@zero-hydrosil-n-020: #7ca1c4;
@zero-hydrosil-s-020: #8eaecb;
@zero-hydrosil-v-020: #bcd3e3;
@zero-hydrosil-x-020: #be9e92;
@zero-hydrosil-f-021: #dce6eb;
@zero-hydrosil-g-021: #cbddec;
@zero-hydrosil-h-021: #b9cfe9;
@zero-hydrosil-j-021: #aac4e7;
@zero-hydrosil-k-021: #7f9fd0;
@zero-hydrosil-s-021: #7c9ec4;
@zero-hydrosil-v-021: #93b4d3;
@zero-hydrosil-x-021: #efd7c2;
@zero-hydrosil-f-022: #d8dbea;
@zero-hydrosil-g-022: #cfd7eb;
@zero-hydrosil-h-022: #b6c3e6;
@zero-hydrosil-j-022: #a3b2e1;
@zero-hydrosil-k-022: #8d9ed6;
@zero-hydrosil-s-022: #8895c9;
@zero-hydrosil-v-022: #b4c1e5;
@zero-hydrosil-x-022: #ffe199;
@zero-hydrosil-y-022: #ecba6c;
@zero-hydrosil-f-023: #e5e6ec;
@zero-hydrosil-g-023: #d0d6e9;
@zero-hydrosil-h-023: #bcc4e7;
@zero-hydrosil-j-023: #a7b4e0;
@zero-hydrosil-n-023: #9fa4ce;
@zero-hydrosil-s-023: #c5cae2;
@zero-hydrosil-v-023: #d1d7e7;
@zero-hydrosil-x-023: #f2ece0;
@zero-hydrosil-y-023: #e4bf7a;
@zero-hydrosil-f-024: #dee5ec;
@zero-hydrosil-g-024: #d3deeb;
@zero-hydrosil-h-024: #c9d3ea;
@zero-hydrosil-j-024: #b1b7d0;
@zero-hydrosil-n-024: #9098b0;
@zero-hydrosil-s-024: #bec2cf;
@zero-hydrosil-v-024: #ced4e0;
@zero-hydrosil-x-024: #dcb17b;
@zero-hydrosil-f-025: #e8ebed;
@zero-hydrosil-g-025: #dde2ec;
@zero-hydrosil-h-025: #c7cbdc;
@zero-hydrosil-j-025: #a4aeca;
@zero-hydrosil-n-025: #b3b8c3;
@zero-hydrosil-s-025: #cacdd4;
@zero-hydrosil-v-025: #d6dae2;
@zero-hydrosil-x-025: #e0c29c;
@zero-hydrosil-y-025: #d5a677;
@zero-hydrosil-f-026: #e7e4e7;
@zero-hydrosil-g-026: #d9dae5;
@zero-hydrosil-h-026: #cccfdd;
@zero-hydrosil-j-026: #a9aec4;
@zero-hydrosil-k-026: #9a9db3;
@zero-hydrosil-s-026: #a0a0ae;
@zero-hydrosil-v-026: #bfc0cc;
@zero-hydrosil-f-027: #e0e7e4;
@zero-hydrosil-g-027: #d6dfe0;
@zero-hydrosil-h-027: #bfcbd3;
@zero-hydrosil-j-027: #acbac7;
@zero-hydrosil-k-027: #8799a8;
@zero-hydrosil-s-027: #a4abb3;
@zero-hydrosil-v-027: #b9c0c8;
@zero-hydrosil-f-028: #cddadd;
@zero-hydrosil-g-028: #c3d4db;
@zero-hydrosil-h-028: #b8cad0;
@zero-hydrosil-j-028: #a9c0c8;
@zero-hydrosil-k-028: #83a0aa;
@zero-hydrosil-s-028: #99a8ad;
@zero-hydrosil-v-028: #bac5c8;
@zero-hydrosil-f-029: #e2edeb;
@zero-hydrosil-g-029: #ddecec;
@zero-hydrosil-h-029: #cce4ec;
@zero-hydrosil-j-029: #b4d4de;
@zero-hydrosil-k-029: #85b5c8;
@zero-hydrosil-n-029: #829ca9;
@zero-hydrosil-s-029: #cbd8df;
@zero-hydrosil-v-029: #d9e1e4;
@zero-hydrosil-x-029: #e9c191;
@zero-hydrosil-y-029: #dfb17a;
@zero-hydrosil-f-030: #d9e9e9;
@zero-hydrosil-g-030: #c3e1ec;
@zero-hydrosil-h-030: #acddec;
@zero-hydrosil-j-030: #9fcfe1;
@zero-hydrosil-n-030: #6c95a6;
@zero-hydrosil-s-030: #9fbecc;
@zero-hydrosil-v-030: #cfdee0;
@zero-hydrosil-x-030: #efcb8f;
@zero-hydrosil-f-031: #d1eaec;
@zero-hydrosil-g-031: #bedde0;
@zero-hydrosil-h-031: #a0c9ce;
@zero-hydrosil-j-031: #6ba7ae;
@zero-hydrosil-n-031: #92b4b7;
@zero-hydrosil-s-031: #bacfd1;
@zero-hydrosil-v-031: #d3e0df;
@zero-hydrosil-x-031: #f7e0bf;
@zero-hydrosil-y-031: #e0ab6f;
@zero-hydrosil-f-032: #e9eee7;
@zero-hydrosil-g-032: #dcece7;
@zero-hydrosil-h-032: #d1e9e6;
@zero-hydrosil-j-032: #bedfdf;
@zero-hydrosil-k-032: #94c3c4;
@zero-hydrosil-n-032: #749995;
@zero-hydrosil-s-032: #cbd9da;
@zero-hydrosil-v-032: #ddebe8;
@zero-hydrosil-x-032: #cfb2a1;
@zero-hydrosil-f-033: #e0ece8;
@zero-hydrosil-g-033: #d9eae7;
@zero-hydrosil-h-033: #c6e5e2;
@zero-hydrosil-j-033: #b1dcd6;
@zero-hydrosil-k-033: #75bbb8;
@zero-hydrosil-l-033: #499a97;
@zero-hydrosil-n-033: #69a19e;
@zero-hydrosil-s-033: #bed7d3;
@zero-hydrosil-v-033: #e4eae5;
@zero-hydrosil-x-033: #ebd8b9;
@zero-hydrosil-f-034: #dfefea;
@zero-hydrosil-g-034: #c0e5e0;
@zero-hydrosil-h-034: #9fd8d3;
@zero-hydrosil-j-034: #7caba3;
@zero-hydrosil-n-034: #80a09d;
@zero-hydrosil-s-034: #c4ded8;
@zero-hydrosil-v-034: #d5e7e3;
@zero-hydrosil-x-034: #edca96;
@zero-hydrosil-y-034: #dba057;
@zero-hydrosil-f-035: #e7f1e9;
@zero-hydrosil-g-035: #d6eae2;
@zero-hydrosil-h-035: #c6e5e0;
@zero-hydrosil-j-035: #99c3c0;
@zero-hydrosil-k-035: #84afaf;
@zero-hydrosil-n-035: #98bdb9;
@zero-hydrosil-s-035: #c5dedc;
@zero-hydrosil-v-035: #d3e4e0;
@zero-hydrosil-x-035: #efe2ce;
@zero-hydrosil-f-036: #e5ede8;
@zero-hydrosil-g-036: #cde5e5;
@zero-hydrosil-h-036: #bcdadc;
@zero-hydrosil-j-036: #a6cfd4;
@zero-hydrosil-k-036: #81b0b3;
@zero-hydrosil-n-036: #909f9f;
@zero-hydrosil-s-036: #bbc8c8;
@zero-hydrosil-v-036: #dae1df;
@zero-hydrosil-x-036: #b4babd;
@zero-hydrosil-f-037: #e4f0e8;
@zero-hydrosil-g-037: #c7e7e0;
@zero-hydrosil-h-037: #b2ddd8;
@zero-hydrosil-j-037: #9cd2cd;
@zero-hydrosil-k-037: #8cc3ba;
@zero-hydrosil-l-037: #63aea3;
@zero-hydrosil-n-037: #a1cec8;
@zero-hydrosil-s-037: #c0e0da;
@zero-hydrosil-v-037: #ddeae8;
@zero-hydrosil-x-037: #c7b5a6;
@zero-hydrosil-f-038: #d6f0e7;
@zero-hydrosil-g-038: #beece0;
@zero-hydrosil-h-038: #aae6d9;
@zero-hydrosil-j-038: #78d8c9;
@zero-hydrosil-k-038: #4bcab6;
@zero-hydrosil-l-038: #00ad95;
@zero-hydrosil-n-038: #44b29c;
@zero-hydrosil-s-038: #6ccbb9;
@zero-hydrosil-v-038: #baddd6;
@zero-hydrosil-x-038: #d7cbc3;
@zero-hydrosil-f-039: #e1f2ea;
@zero-hydrosil-g-039: #cbf0e2;
@zero-hydrosil-h-039: #bcecda;
@zero-hydrosil-j-039: #9ae2cc;
@zero-hydrosil-k-039: #57cdaf;
@zero-hydrosil-l-039: #00a986;
@zero-hydrosil-n-039: #b0dcd1;
@zero-hydrosil-s-039: #cae6de;
@zero-hydrosil-v-039: #dbebe5;
@zero-hydrosil-x-039: #f8decc;
@zero-hydrosil-y-039: #a78f74;
@zero-hydrosil-f-040: #cbeedd;
@zero-hydrosil-g-040: #a8e6cf;
@zero-hydrosil-h-040: #8adfbf;
@zero-hydrosil-j-040: #66d1a6;
@zero-hydrosil-k-040: #34c18f;
@zero-hydrosil-s-040: #81b7a6;
@zero-hydrosil-v-040: #afd5c4;
@zero-hydrosil-x-040: #a7a29e;
@zero-hydrosil-f-041: #def3e5;
@zero-hydrosil-g-041: #bfeedd;
@zero-hydrosil-h-041: #afecd9;
@zero-hydrosil-j-041: #9ce6d0;
@zero-hydrosil-k-041: #57cfaf;
@zero-hydrosil-l-041: #00b589;
@zero-hydrosil-n-041: #61c8ad;
@zero-hydrosil-s-041: #83d6c1;
@zero-hydrosil-v-041: #9fe1d1;
@zero-hydrosil-x-041: #e9e1d0;
@zero-hydrosil-f-042: #e3f1e6;
@zero-hydrosil-g-042: #d3eae0;
@zero-hydrosil-h-042: #c4e5d9;
@zero-hydrosil-j-042: #aadcd0;
@zero-hydrosil-k-042: #7cc1b9;
@zero-hydrosil-s-042: #65a6a0;
@zero-hydrosil-v-042: #85beb6;
@zero-hydrosil-x-042: #8d9597;
@zero-hydrosil-f-043: #eaf5e8;
@zero-hydrosil-g-043: #ddf3e5;
@zero-hydrosil-h-043: #b5e9d1;
@zero-hydrosil-j-043: #85d7b6;
@zero-hydrosil-k-043: #42ae8c;
@zero-hydrosil-n-043: #86aa9c;
@zero-hydrosil-s-043: #b4c7bc;
@zero-hydrosil-v-043: #d2e6da;
@zero-hydrosil-x-043: #f0d8b5;
@zero-hydrosil-y-043: #e4ba79;
@zero-hydrosil-f-044: #e7f3e8;
@zero-hydrosil-g-044: #ccdcd2;
@zero-hydrosil-h-044: #b7d4c8;
@zero-hydrosil-j-044: #8fb9a6;
@zero-hydrosil-k-044: #73a695;
@zero-hydrosil-l-044: #538977;
@zero-hydrosil-n-044: #7aa197;
@zero-hydrosil-s-044: #93b7b0;
@zero-hydrosil-v-044: #b9d4cc;
@zero-hydrosil-x-044: #e7cd96;
@zero-hydrosil-y-044: #bd8d43;
@zero-hydrosil-f-045: #f0f3e9;
@zero-hydrosil-g-045: #e3f3e8;
@zero-hydrosil-h-045: #ceecdb;
@zero-hydrosil-j-045: #bbe6d1;
@zero-hydrosil-k-045: #a6dcc2;
@zero-hydrosil-s-045: #94c8b4;
@zero-hydrosil-v-045: #cee5d7;
@zero-hydrosil-x-045: #fbecd1;
@zero-hydrosil-y-045: #e5b67a;
@zero-hydrosil-f-046: #e4e5d9;
@zero-hydrosil-g-046: #d4ddda;
@zero-hydrosil-h-046: #bdc9c4;
@zero-hydrosil-j-046: #a8b6b3;
@zero-hydrosil-k-046: #8f9c9a;
@zero-hydrosil-s-046: #a4afab;
@zero-hydrosil-v-046: #c7cecb;
@zero-hydrosil-x-046: #c3b3a0;
@zero-hydrosil-f-047: #e5f0eb;
@zero-hydrosil-g-047: #dfebe2;
@zero-hydrosil-h-047: #c2cdc8;
@zero-hydrosil-j-047: #b3c3c1;
@zero-hydrosil-k-047: #99aaa7;
@zero-hydrosil-n-047: #a6b2b1;
@zero-hydrosil-s-047: #bfc9c8;
@zero-hydrosil-f-048: #e9f0e6;
@zero-hydrosil-g-048: #ddece5;
@zero-hydrosil-h-048: #cbdfd7;
@zero-hydrosil-j-048: #b2cdc6;
@zero-hydrosil-k-048: #95b7ae;
@zero-hydrosil-n-048: #7b978f;
@zero-hydrosil-s-048: #b8ccc6;
@zero-hydrosil-v-048: #dae7e2;
@zero-hydrosil-x-048: #c0967a;
@zero-hydrosil-f-049: #dfe8db;
@zero-hydrosil-g-049: #d4e2d2;
@zero-hydrosil-h-049: #c8dbca;
@zero-hydrosil-j-049: #b6cdb7;
@zero-hydrosil-k-049: #87af8a;
@zero-hydrosil-s-049: #afbdac;
@zero-hydrosil-v-049: #cfddd0;
@zero-hydrosil-x-049: #cfb6a0;
@zero-hydrosil-f-050: #dae4dc;
@zero-hydrosil-g-050: #d0dfc7;
@zero-hydrosil-h-050: #b9d0af;
@zero-hydrosil-j-050: #afc1a2;
@zero-hydrosil-n-050: #99a68b;
@zero-hydrosil-s-050: #b7c3b1;
@zero-hydrosil-v-050: #c7d5c5;
@zero-hydrosil-x-050: #d4bf9e;
@zero-hydrosil-f-051: #e2f4d8;
@zero-hydrosil-g-051: #d4e7c9;
@zero-hydrosil-h-051: #c7dfba;
@zero-hydrosil-j-051: #afc5a3;
@zero-hydrosil-s-051: #a1b2a5;
@zero-hydrosil-v-051: #cbd3c6;
@zero-hydrosil-x-051: #e9aa77;
@zero-hydrosil-f-052: #ddf3de;
@zero-hydrosil-g-052: #cef0cd;
@zero-hydrosil-h-052: #bceabb;
@zero-hydrosil-j-052: #93d8a1;
@zero-hydrosil-k-052: #65bb78;
@zero-hydrosil-n-052: #78a683;
@zero-hydrosil-s-052: #a8c5a9;
@zero-hydrosil-v-052: #d2e0d1;
@zero-hydrosil-x-052: #ebdab9;
@zero-hydrosil-y-052: #f5cd7f;
@zero-hydrosil-f-053: #e1eddb;
@zero-hydrosil-g-053: #d9ebd7;
@zero-hydrosil-h-053: #c7e0c3;
@zero-hydrosil-j-053: #b1d2aa;
@zero-hydrosil-k-053: #87b17e;
@zero-hydrosil-n-053: #a0b097;
@zero-hydrosil-s-053: #bbc7b4;
@zero-hydrosil-v-053: #ccd5c3;
@zero-hydrosil-x-053: #cbbca8;
@zero-hydrosil-f-054: #e8f0df;
@zero-hydrosil-g-054: #daecd0;
@zero-hydrosil-h-054: #d1e3c4;
@zero-hydrosil-j-054: #c4d9b5;
@zero-hydrosil-k-054: #9cba84;
@zero-hydrosil-s-054: #a6b99b;
@zero-hydrosil-v-054: #d2e5d3;
@zero-hydrosil-x-054: #ceb69a;
@zero-hydrosil-f-055: #e9efe4;
@zero-hydrosil-g-055: #e5efdc;
@zero-hydrosil-h-055: #dae9cf;
@zero-hydrosil-j-055: #bbdfb1;
@zero-hydrosil-k-055: #8bc984;
@zero-hydrosil-s-055: #a6c4ac;
@zero-hydrosil-v-055: #dceddc;
@zero-hydrosil-x-055: #f8e2c1;
@zero-hydrosil-f-056: #e4f2d4;
@zero-hydrosil-g-056: #d9efc8;
@zero-hydrosil-h-056: #cbebb2;
@zero-hydrosil-j-056: #a4e087;
@zero-hydrosil-k-056: #80c169;
@zero-hydrosil-n-056: #9dbc88;
@zero-hydrosil-s-056: #c4d8ad;
@zero-hydrosil-v-056: #d5e3bf;
@zero-hydrosil-x-056: #d4c5ad;
@zero-hydrosil-f-057: #ecf0e0;
@zero-hydrosil-g-057: #e8f0db;
@zero-hydrosil-h-057: #d8e7c4;
@zero-hydrosil-j-057: #c0d49f;
@zero-hydrosil-k-057: #a6bc6a;
@zero-hydrosil-n-057: #9db68c;
@zero-hydrosil-s-057: #b9d1b3;
@zero-hydrosil-v-057: #e2ecdb;
@zero-hydrosil-x-057: #f8dbb2;
@zero-hydrosil-y-057: #f3c186;
@zero-hydrosil-f-058: #e4ecd5;
@zero-hydrosil-g-058: #e3ecc3;
@zero-hydrosil-h-058: #d9e7b6;
@zero-hydrosil-j-058: #cde0a3;
@zero-hydrosil-k-058: #b9c782;
@zero-hydrosil-l-058: #a6b261;
@zero-hydrosil-n-058: #b0ba7e;
@zero-hydrosil-s-058: #d1d9b5;
@zero-hydrosil-v-058: #dde7c3;
@zero-hydrosil-x-058: #fbd682;
@zero-hydrosil-f-059: #e5ebd8;
@zero-hydrosil-g-059: #e1e7cd;
@zero-hydrosil-h-059: #dfe2be;
@zero-hydrosil-j-059: #cbd3aa;
@zero-hydrosil-k-059: #b6c493;
@zero-hydrosil-n-059: #b6bf92;
@zero-hydrosil-s-059: #cdd2ab;
@zero-hydrosil-v-059: #d9debd;
@zero-hydrosil-x-059: #d4c1ab;
@zero-hydrosil-f-060: #f1f2e4;
@zero-hydrosil-g-060: #ebeed9;
@zero-hydrosil-h-060: #e4e6be;
@zero-hydrosil-j-060: #cdd293;
@zero-hydrosil-k-060: #b3b565;
@zero-hydrosil-n-060: #abaf84;
@zero-hydrosil-s-060: #c0c2a6;
@zero-hydrosil-v-060: #e2e4d5;
@zero-hydrosil-x-060: #edeadd;
@zero-hydrosil-y-060: #fadeb2;
@zero-hydrosil-f-061: #eff3d9;
@zero-hydrosil-g-061: #e6eccb;
@zero-hydrosil-h-061: #d7e6ad;
@zero-hydrosil-j-061: #b5c384;
@zero-hydrosil-k-061: #9aa471;
@zero-hydrosil-s-061: #a9ad97;
@zero-hydrosil-v-061: #ccd1bc;
@zero-hydrosil-x-061: #dc9972;
@zero-hydrosil-f-062: #f0eeda;
@zero-hydrosil-g-062: #ececd3;
@zero-hydrosil-h-062: #dbdbbb;
@zero-hydrosil-j-062: #c9ccaa;
@zero-hydrosil-k-062: #b4b47f;
@zero-hydrosil-n-062: #aca981;
@zero-hydrosil-s-062: #c7c29d;
@zero-hydrosil-v-062: #d2cfaf;
@zero-hydrosil-x-062: #d2c5b9;
@zero-hydrosil-f-063: #e5e8d6;
@zero-hydrosil-g-063: #e3e8cb;
@zero-hydrosil-h-063: #d5d7ac;
@zero-hydrosil-j-063: #c3ca95;
@zero-hydrosil-k-063: #a9a269;
@zero-hydrosil-s-063: #c4c6ae;
@zero-hydrosil-v-063: #dfe1d2;
@zero-hydrosil-x-063: #f2c8be;
@zero-hydrosil-f-064: #efedd8;
@zero-hydrosil-g-064: #ebeac0;
@zero-hydrosil-h-064: #e0e0b0;
@zero-hydrosil-j-064: #d6d69d;
@zero-hydrosil-k-064: #cbcb8e;
@zero-hydrosil-l-064: #bcbd76;
@zero-hydrosil-n-064: #c5c68f;
@zero-hydrosil-s-064: #d0d3a5;
@zero-hydrosil-v-064: #e5e4c0;
@zero-hydrosil-x-064: #d1b49f;
@zero-hydrosil-f-065: #ecedde;
@zero-hydrosil-g-065: #eeefda;
@zero-hydrosil-h-065: #e2dfb5;
@zero-hydrosil-j-065: #d9d5a4;
@zero-hydrosil-k-065: #bcb472;
@zero-hydrosil-n-065: #b4ab77;
@zero-hydrosil-s-065: #cbc6a0;
@zero-hydrosil-v-065: #d9d4b4;
@zero-hydrosil-x-065: #b7afaa;
@zero-hydrosil-f-066: #f0efdf;
@zero-hydrosil-g-066: #eaecd5;
@zero-hydrosil-h-066: #e3dec4;
@zero-hydrosil-j-066: #c9c49a;
@zero-hydrosil-k-066: #b4a769;
@zero-hydrosil-n-066: #b7a976;
@zero-hydrosil-s-066: #cdc39e;
@zero-hydrosil-v-066: #dcd2b3;
@zero-hydrosil-x-066: #c7b1aa;
@zero-hydrosil-f-067: #eae8dd;
@zero-hydrosil-g-067: #e5e3cf;
@zero-hydrosil-h-067: #e0ddc9;
@zero-hydrosil-j-067: #c7c5a8;
@zero-hydrosil-k-067: #b6ab80;
@zero-hydrosil-n-067: #aaa178;
@zero-hydrosil-s-067: #d2ccaf;
@zero-hydrosil-v-067: #ded9c2;
@zero-hydrosil-x-067: #faf3e3;
@zero-hydrosil-y-067: #d3c2ab;
@zero-hydrosil-f-068: #e1e1da;
@zero-hydrosil-g-068: #d6d7cf;
@zero-hydrosil-h-068: #cccabd;
@zero-hydrosil-j-068: #bab8a8;
@zero-hydrosil-k-068: #a39e89;
@zero-hydrosil-s-068: #c4c5b8;
@zero-hydrosil-v-068: #d5d5cc;
@zero-hydrosil-x-068: #efe3ce;
@zero-hydrosil-f-069: #dedfd7;
@zero-hydrosil-g-069: #d4d5cb;
@zero-hydrosil-h-069: #c4c7be;
@zero-hydrosil-j-069: #b4b6ac;
@zero-hydrosil-k-069: #9b9c8f;
@zero-hydrosil-n-069: #959a8f;
@zero-hydrosil-s-069: #acafa5;
@zero-hydrosil-v-069: #d1d2cb;
@zero-hydrosil-x-069: #d6ceba;
@zero-hydrosil-y-069: #c2a57e;
@zero-hydrosil-f-070: #f7efcb;
@zero-hydrosil-g-070: #f8efc3;
@zero-hydrosil-h-070: #f9eab6;
@zero-hydrosil-j-070: #eddb9e;
@zero-hydrosil-k-070: #d4c680;
@zero-hydrosil-l-070: #c0af5e;
@zero-hydrosil-n-070: #c3b693;
@zero-hydrosil-s-070: #dbd3b4;
@zero-hydrosil-v-070: #ded9c2;
@zero-hydrosil-x-070: #80bcb7;
@zero-hydrosil-f-071: #f4f2c9;
@zero-hydrosil-g-071: #efeba7;
@zero-hydrosil-h-071: #ebe6a3;
@zero-hydrosil-j-071: #dbd283;
@zero-hydrosil-k-071: #d2c461;
@zero-hydrosil-l-071: #c3b659;
@zero-hydrosil-m-071: #a39f6a;
@zero-hydrosil-n-071: #bab388;
@zero-hydrosil-s-071: #cac294;
@zero-hydrosil-v-071: #ddd9b5;
@zero-hydrosil-x-071: #e1d1be;
@zero-hydrosil-y-071: #ad9277;
@zero-hydrosil-f-072: #f5f3d6;
@zero-hydrosil-g-072: #f9efba;
@zero-hydrosil-h-072: #f7e997;
@zero-hydrosil-j-072: #f8e785;
@zero-hydrosil-n-072: #d3c45e;
@zero-hydrosil-s-072: #e2d889;
@zero-hydrosil-v-072: #e5e0a8;
@zero-hydrosil-x-072: #c0c2be;
@zero-hydrosil-f-073: #f6f5d1;
@zero-hydrosil-g-073: #f5f4bf;
@zero-hydrosil-h-073: #f7eda4;
@zero-hydrosil-j-073: #faed96;
@zero-hydrosil-k-073: #f0e985;
@zero-hydrosil-m-073: #c9b45e;
@zero-hydrosil-n-073: #d9cb89;
@zero-hydrosil-s-073: #e5d89e;
@zero-hydrosil-v-073: #ebe2b3;
@zero-hydrosil-x-073: #cdcfce;
@zero-hydrosil-f-074: #f4f0d9;
@zero-hydrosil-g-074: #f7f1d2;
@zero-hydrosil-h-074: #f5edc2;
@zero-hydrosil-j-074: #fbe2a3;
@zero-hydrosil-s-074: #e5d692;
@zero-hydrosil-v-074: #e6e3bb;
@zero-hydrosil-x-074: #b6ab69;
@zero-hydrosil-y-074: #5d6f45;
@zero-hydrosil-f-075: #f6f1d9;
@zero-hydrosil-g-075: #faecb5;
@zero-hydrosil-h-075: #fae8a1;
@zero-hydrosil-j-075: #ffdf79;
@zero-hydrosil-s-075: #ebd087;
@zero-hydrosil-v-075: #eadaa0;
@zero-hydrosil-x-075: #59c0c0;
@zero-hydrosil-f-076: #f7f3df;
@zero-hydrosil-g-076: #f7efcd;
@zero-hydrosil-h-076: #fbdfa1;
@zero-hydrosil-j-076: #f9d17e;
@zero-hydrosil-s-076: #f1cb72;
@zero-hydrosil-v-076: #f6d790;
@zero-hydrosil-x-076: #cfdccc;
@zero-hydrosil-f-077: #f7f0d4;
@zero-hydrosil-g-077: #f6f0cc;
@zero-hydrosil-h-077: #fae8a3;
@zero-hydrosil-j-077: #fbdd84;
@zero-hydrosil-s-077: #f5db83;
@zero-hydrosil-v-077: #f6e5a5;
@zero-hydrosil-x-077: #e2ded6;
@zero-hydrosil-f-078: #f5f3e0;
@zero-hydrosil-g-078: #f9f2d1;
@zero-hydrosil-h-078: #fde7a3;
@zero-hydrosil-j-078: #ffe38e;
@zero-hydrosil-s-078: #eed283;
@zero-hydrosil-v-078: #f3e1a2;
@zero-hydrosil-x-078: #a0e4d2;
@zero-hydrosil-f-079: #f8ecd1;
@zero-hydrosil-g-079: #fdecc0;
@zero-hydrosil-h-079: #ffe5a2;
@zero-hydrosil-j-079: #ffdc7d;
@zero-hydrosil-s-079: #f9d17e;
@zero-hydrosil-v-079: #f2d99d;
@zero-hydrosil-x-079: #99c8e6;
@zero-hydrosil-f-080: #f8ebcb;
@zero-hydrosil-g-080: #f1e2c1;
@zero-hydrosil-h-080: #ebd4a0;
@zero-hydrosil-j-080: #efd485;
@zero-hydrosil-k-080: #e6c870;
@zero-hydrosil-n-080: #c7ac77;
@zero-hydrosil-s-080: #d2b57f;
@zero-hydrosil-v-080: #dccba5;
@zero-hydrosil-x-080: #67d0b0;
@zero-hydrosil-f-081: #f7f0d4;
@zero-hydrosil-g-081: #ffeab2;
@zero-hydrosil-h-081: #fce3a2;
@zero-hydrosil-j-081: #fbd178;
@zero-hydrosil-k-081: #f9c65d;
@zero-hydrosil-n-081: #e3ba6d;
@zero-hydrosil-s-081: #ebc887;
@zero-hydrosil-v-081: #f4d9a6;
@zero-hydrosil-x-081: #dbd8c7;
@zero-hydrosil-y-081: #7d813f;
@zero-hydrosil-f-082: #f6ebcc;
@zero-hydrosil-g-082: #ffe6b8;
@zero-hydrosil-h-082: #f9e0a6;
@zero-hydrosil-n-082: #daa055;
@zero-hydrosil-s-082: #eabf84;
@zero-hydrosil-v-082: #f5d7a6;
@zero-hydrosil-x-082: #82bdb2;
@zero-hydrosil-f-083: #f9f2d9;
@zero-hydrosil-g-083: #faedcc;
@zero-hydrosil-h-083: #f9e6ba;
@zero-hydrosil-j-083: #fee2ad;
@zero-hydrosil-k-083: #f7c173;
@zero-hydrosil-l-083: #e7a952;
@zero-hydrosil-n-083: #d9ab70;
@zero-hydrosil-s-083: #f1dbbc;
@zero-hydrosil-v-083: #f0e4cd;
@zero-hydrosil-x-083: #c1c3ad;
@zero-hydrosil-f-084: #fcecd0;
@zero-hydrosil-g-084: #fde8c9;
@zero-hydrosil-h-084: #ffe2be;
@zero-hydrosil-j-084: #ffd9ae;
@zero-hydrosil-k-084: #ffce96;
@zero-hydrosil-n-084: #e7c299;
@zero-hydrosil-s-084: #f8dfc0;
@zero-hydrosil-v-084: #f9ebd1;
@zero-hydrosil-x-084: #e8cfb7;
@zero-hydrosil-y-084: #bfa890;
@zero-hydrosil-f-085: #f7eed8;
@zero-hydrosil-g-085: #fae9cc;
@zero-hydrosil-h-085: #fbe0ba;
@zero-hydrosil-j-085: #fad6a5;
@zero-hydrosil-k-085: #f2c294;
@zero-hydrosil-l-085: #ed9d4b;
@zero-hydrosil-n-085: #dbbc91;
@zero-hydrosil-s-085: #f5dfc1;
@zero-hydrosil-v-085: #faead1;
@zero-hydrosil-x-085: #d1ba9f;
@zero-hydrosil-f-086: #f9eee5;
@zero-hydrosil-g-086: #ffdec1;
@zero-hydrosil-h-086: #ffd7b6;
@zero-hydrosil-j-086: #ffd1ac;
@zero-hydrosil-k-086: #ffbf8b;
@zero-hydrosil-m-086: #e28f50;
@zero-hydrosil-n-086: #f6c9ad;
@zero-hydrosil-s-086: #f9dac4;
@zero-hydrosil-v-086: #f9e3d0;
@zero-hydrosil-x-086: #bba288;
@zero-hydrosil-f-087: #f8f1e1;
@zero-hydrosil-g-087: #f9eacf;
@zero-hydrosil-h-087: #f7dfba;
@zero-hydrosil-j-087: #f6d3a8;
@zero-hydrosil-k-087: #feb778;
@zero-hydrosil-n-087: #ecc794;
@zero-hydrosil-s-087: #f2d3a7;
@zero-hydrosil-v-087: #f3e1c4;
@zero-hydrosil-x-087: #bfb7a4;
@zero-hydrosil-y-087: #939881;
@zero-hydrosil-f-088: #faf0db;
@zero-hydrosil-g-088: #f5e9d2;
@zero-hydrosil-h-088: #fdddb6;
@zero-hydrosil-j-088: #ffd0a0;
@zero-hydrosil-k-088: #fdab67;
@zero-hydrosil-n-088: #f0cb9f;
@zero-hydrosil-s-088: #f3dfc2;
@zero-hydrosil-v-088: #f3e5ce;
@zero-hydrosil-x-088: #a79f84;
@zero-hydrosil-f-089: #faebdd;
@zero-hydrosil-g-089: #ffdfc7;
@zero-hydrosil-h-089: #ffd5b7;
@zero-hydrosil-j-089: #ffb686;
@zero-hydrosil-k-089: #ffaf75;
@zero-hydrosil-n-089: #f8ae79;
@zero-hydrosil-s-089: #faddc1;
@zero-hydrosil-v-089: #fbe6d0;
@zero-hydrosil-x-089: #bda89d;
@zero-hydrosil-f-090: #f4e7d8;
@zero-hydrosil-g-090: #fce3ce;
@zero-hydrosil-h-090: #fedac0;
@zero-hydrosil-j-090: #ffc29a;
@zero-hydrosil-k-090: #ed9763;
@zero-hydrosil-l-090: #f08e55;
@zero-hydrosil-m-090: #e7844f;
@zero-hydrosil-n-090: #f5c6ac;
@zero-hydrosil-s-090: #f7cdb6;
@zero-hydrosil-v-090: #f9d6c3;
@zero-hydrosil-x-090: #aeaeaa;
@zero-hydrosil-f-091: #fceada;
@zero-hydrosil-g-091: #ffe0ca;
@zero-hydrosil-h-091: #ffd9c1;
@zero-hydrosil-j-091: #ffd1b4;
@zero-hydrosil-k-091: #ffc5a3;
@zero-hydrosil-l-091: #ffb080;
@zero-hydrosil-n-091: #f5ad80;
@zero-hydrosil-s-091: #ffcba5;
@zero-hydrosil-v-091: #fee3cf;
@zero-hydrosil-x-091: #d8b587;
@zero-hydrosil-y-091: #b19377;
@zero-hydrosil-f-092: #f8ecdd;
@zero-hydrosil-g-092: #fce8d9;
@zero-hydrosil-h-092: #fee0cd;
@zero-hydrosil-j-092: #ffd6bb;
@zero-hydrosil-k-092: #f8d2c4;
@zero-hydrosil-l-092: #faa67f;
@zero-hydrosil-n-092: #f2b294;
@zero-hydrosil-s-092: #f4d4c2;
@zero-hydrosil-v-092: #f5e5dc;
@zero-hydrosil-x-092: #919a8c;
@zero-hydrosil-f-093: #f7ede4;
@zero-hydrosil-g-093: #f8e7da;
@zero-hydrosil-h-093: #fedbcc;
@zero-hydrosil-j-093: #ffbda6;
@zero-hydrosil-k-093: #fea986;
@zero-hydrosil-n-093: #eec2a5;
@zero-hydrosil-s-093: #f6d6c2;
@zero-hydrosil-v-093: #fae6d3;
@zero-hydrosil-x-093: #bebeba;
@zero-hydrosil-f-094: #f9e9dc;
@zero-hydrosil-g-094: #fde0cb;
@zero-hydrosil-h-094: #ffd1b4;
@zero-hydrosil-j-094: #ffcbb0;
@zero-hydrosil-k-094: #ffba9f;
@zero-hydrosil-l-094: #fdac85;
@zero-hydrosil-m-094: #ea8258;
@zero-hydrosil-n-094: #f5b099;
@zero-hydrosil-s-094: #f9c2ae;
@zero-hydrosil-v-094: #fddac8;
@zero-hydrosil-x-094: #bf997e;
@zero-hydrosil-f-095: #f8ecdd;
@zero-hydrosil-g-095: #fdd5ba;
@zero-hydrosil-h-095: #fecfae;
@zero-hydrosil-j-095: #ffba90;
@zero-hydrosil-k-095: #ffae82;
@zero-hydrosil-l-095: #faa27f;
@zero-hydrosil-m-095: #f7855c;
@zero-hydrosil-n-095: #eeac95;
@zero-hydrosil-s-095: #f7c9b3;
@zero-hydrosil-v-095: #f7d6c1;
@zero-hydrosil-x-095: #bea183;
@zero-hydrosil-f-096: #f6e6da;
@zero-hydrosil-g-096: #fedbc6;
@zero-hydrosil-h-096: #f5ceb2;
@zero-hydrosil-j-096: #fbab82;
@zero-hydrosil-k-096: #ed915c;
@zero-hydrosil-n-096: #efb091;
@zero-hydrosil-s-096: #f3c8b4;
@zero-hydrosil-v-096: #eee0d5;
@zero-hydrosil-x-096: #928f83;
@zero-hydrosil-f-097: #f7efdd;
@zero-hydrosil-g-097: #f5e9ce;
@zero-hydrosil-h-097: #ecdcb5;
@zero-hydrosil-j-097: #ddc08d;
@zero-hydrosil-k-097: #d2ab63;
@zero-hydrosil-n-097: #c4ab74;
@zero-hydrosil-s-097: #e8d9bb;
@zero-hydrosil-v-097: #efe5ce;
@zero-hydrosil-x-097: #a6b1b9;
@zero-hydrosil-y-097: #92a1a7;
@zero-hydrosil-f-098: #f9f3e1;
@zero-hydrosil-g-098: #f9efd2;
@zero-hydrosil-h-098: #e9d9b0;
@zero-hydrosil-j-098: #e3cfa7;
@zero-hydrosil-k-098: #c4a56e;
@zero-hydrosil-n-098: #c1ac79;
@zero-hydrosil-s-098: #dad2b9;
@zero-hydrosil-v-098: #e7e2d2;
@zero-hydrosil-x-098: #d8c4a8;
@zero-hydrosil-f-099: #f5f4e6;
@zero-hydrosil-g-099: #f4f4db;
@zero-hydrosil-h-099: #d7d2b6;
@zero-hydrosil-j-099: #cabc90;
@zero-hydrosil-k-099: #b79f66;
@zero-hydrosil-n-099: #b1a074;
@zero-hydrosil-s-099: #c9bfa0;
@zero-hydrosil-v-099: #e1d9c1;
@zero-hydrosil-x-099: #e2cc99;
@zero-hydrosil-y-099: #c7c0b2;
@zero-hydrosil-f-100: #ece9df;
@zero-hydrosil-g-100: #e8dbbe;
@zero-hydrosil-h-100: #d0bd93;
@zero-hydrosil-j-100: #b9a277;
@zero-hydrosil-s-100: #baa989;
@zero-hydrosil-v-100: #d6cdb7;
@zero-hydrosil-x-100: #bac6cd;
@zero-hydrosil-f-101: #e6e0d3;
@zero-hydrosil-g-101: #e4d9c7;
@zero-hydrosil-h-101: #d6c7af;
@zero-hydrosil-j-101: #b89d7d;
@zero-hydrosil-s-101: #bba282;
@zero-hydrosil-v-101: #d3c3ac;
@zero-hydrosil-x-101: #dbe5e7;
@zero-hydrosil-y-101: #9096a3;
@zero-hydrosil-f-102: #f0e8dc;
@zero-hydrosil-g-102: #e6dbca;
@zero-hydrosil-h-102: #ddcebc;
@zero-hydrosil-j-102: #c3aa89;
@zero-hydrosil-k-102: #b2997b;
@zero-hydrosil-s-102: #cbbaa5;
@zero-hydrosil-v-102: #d8c9b7;
@zero-hydrosil-x-102: #c5b3ce;
@zero-hydrosil-f-103: #e4dccc;
@zero-hydrosil-g-103: #ddd5c2;
@zero-hydrosil-h-103: #d2c9b3;
@zero-hydrosil-j-103: #c9ba9e;
@zero-hydrosil-k-103: #aa9a7a;
@zero-hydrosil-s-103: #bcb7a1;
@zero-hydrosil-v-103: #dbd8c9;
@zero-hydrosil-f-104: #eae4d9;
@zero-hydrosil-g-104: #e6ddd1;
@zero-hydrosil-h-104: #d3c8b9;
@zero-hydrosil-j-104: #ae9b88;
@zero-hydrosil-k-104: #927f6e;
@zero-hydrosil-n-104: #a18d77;
@zero-hydrosil-s-104: #c8baac;
@zero-hydrosil-v-104: #ddd2c6;
@zero-hydrosil-f-105: #ebe5da;
@zero-hydrosil-g-105: #e7dfd2;
@zero-hydrosil-h-105: #d3c7b8;
@zero-hydrosil-j-105: #ad9b87;
@zero-hydrosil-s-105: #c7baac;
@zero-hydrosil-v-105: #ded2c6;
@zero-hydrosil-x-105: #c8adcd;
@zero-hydrosil-f-106: #e4ded1;
@zero-hydrosil-g-106: #e2d8cc;
@zero-hydrosil-h-106: #d6c9bb;
@zero-hydrosil-j-106: #c6b5a4;
@zero-hydrosil-k-106: #ad9984;
@zero-hydrosil-s-106: #aa9886;
@zero-hydrosil-v-106: #ccc1b6;
@zero-hydrosil-x-106: #c8c3d0;
@zero-hydrosil-f-107: #f3ece0;
@zero-hydrosil-g-107: #dfd1c7;
@zero-hydrosil-h-107: #d5c4b6;
@zero-hydrosil-j-107: #baa494;
@zero-hydrosil-k-107: #a99181;
@zero-hydrosil-s-107: #d1c2b6;
@zero-hydrosil-v-107: #ded0c4;
@zero-hydrosil-f-108: #ecebe4;
@zero-hydrosil-g-108: #e8e1db;
@zero-hydrosil-h-108: #e3d9ce;
@zero-hydrosil-j-108: #c0b0a1;
@zero-hydrosil-s-108: #b9ab9d;
@zero-hydrosil-v-108: #d6cbbe;
@zero-hydrosil-x-108: #b5d1e2;
@zero-hydrosil-f-109: #e6e0d9;
@zero-hydrosil-g-109: #e1d5cc;
@zero-hydrosil-h-109: #cfc5ba;
@zero-hydrosil-j-109: #a48e7b;
@zero-hydrosil-n-109: #9d8c7b;
@zero-hydrosil-s-109: #bfab9b;
@zero-hydrosil-v-109: #dad0c6;
@zero-hydrosil-x-109: #8abc92;
@zero-hydrosil-f-110: #eee3d4;
@zero-hydrosil-g-110: #e5d6c3;
@zero-hydrosil-h-110: #ddc8b1;
@zero-hydrosil-j-110: #ccab88;
@zero-hydrosil-s-110: #bfaa92;
@zero-hydrosil-v-110: #e2d3c5;
@zero-hydrosil-x-110: #86b3c0;
@zero-hydrosil-f-111: #f0e2d1;
@zero-hydrosil-g-111: #eedbc7;
@zero-hydrosil-h-111: #d8c3a9;
@zero-hydrosil-j-111: #ba9d7a;
@zero-hydrosil-s-111: #bca184;
@zero-hydrosil-v-111: #d2beaa;
@zero-hydrosil-x-111: #bccae0;
@zero-hydrosil-f-112: #eeddc9;
@zero-hydrosil-g-112: #e2cfb7;
@zero-hydrosil-h-112: #d7b793;
@zero-hydrosil-j-112: #be9670;
@zero-hydrosil-s-112: #b89975;
@zero-hydrosil-v-112: #d3b99a;
@zero-hydrosil-x-112: #9dd3cd;
@zero-hydrosil-y-112: #20a89f;
@zero-hydrosil-f-113: #f3e9dc;
@zero-hydrosil-g-113: #e7d5bf;
@zero-hydrosil-h-113: #d9b79b;
@zero-hydrosil-j-113: #b88b6e;
@zero-hydrosil-n-113: #c0987f;
@zero-hydrosil-s-113: #d5bbac;
@zero-hydrosil-v-113: #e3d2c4;
@zero-hydrosil-x-113: #f8efdb;
@zero-hydrosil-y-113: #f3cd81;
@zero-hydrosil-f-114: #f3e3d8;
@zero-hydrosil-g-114: #e9d7c8;
@zero-hydrosil-h-114: #e7cdb8;
@zero-hydrosil-j-114: #d7b39a;
@zero-hydrosil-k-114: #bc9172;
@zero-hydrosil-s-114: #d1b199;
@zero-hydrosil-v-114: #ddc2ad;
@zero-hydrosil-x-114: #a6c1ad;
@zero-hydrosil-f-115: #efe3d5;
@zero-hydrosil-g-115: #d7bea9;
@zero-hydrosil-h-115: #b59177;
@zero-hydrosil-s-115: #b49783;
@zero-hydrosil-v-115: #d4bba9;
@zero-hydrosil-x-115: #ede6d4;
@zero-hydrosil-f-116: #efdfd2;
@zero-hydrosil-g-116: #ebd9c4;
@zero-hydrosil-h-116: #e1cab4;
@zero-hydrosil-j-116: #d2b29c;
@zero-hydrosil-s-116: #bea693;
@zero-hydrosil-v-116: #d7c8bb;
@zero-hydrosil-x-116: #a9e4d7;
@zero-hydrosil-f-117: #eee0d1;
@zero-hydrosil-g-117: #eeddcf;
@zero-hydrosil-h-117: #e8cebb;
@zero-hydrosil-j-117: #d2a68d;
@zero-hydrosil-s-117: #bb9987;
@zero-hydrosil-v-117: #d8bfac;
@zero-hydrosil-x-117: #acdbd0;
@zero-hydrosil-f-118: #eee4dc;
@zero-hydrosil-g-118: #e5d7cf;
@zero-hydrosil-h-118: #d0b9b0;
@zero-hydrosil-j-118: #b8917f;
@zero-hydrosil-n-118: #bea397;
@zero-hydrosil-s-118: #d6c4bd;
@zero-hydrosil-v-118: #daccc6;
@zero-hydrosil-x-118: #909da1;
@zero-hydrosil-f-119: #f7eee8;
@zero-hydrosil-g-119: #ebdcd8;
@zero-hydrosil-h-119: #dcc8c3;
@zero-hydrosil-j-119: #ceb7b3;
@zero-hydrosil-k-119: #ad9089;
@zero-hydrosil-s-119: #a8938d;
@zero-hydrosil-v-119: #baadaa;
@zero-hydrosil-x-119: #c9cac8;
@zero-hydrosil-f-120: #f5ece2;
@zero-hydrosil-g-120: #eddfd6;
@zero-hydrosil-h-120: #ebd4cb;
@zero-hydrosil-j-120: #dec4bb;
@zero-hydrosil-k-120: #c6a59b;
@zero-hydrosil-s-120: #c2a79d;
@zero-hydrosil-v-120: #dbc6bc;
@zero-hydrosil-x-120: #d5d2c6;
@zero-hydrosil-y-120: #abc7c4;
@zero-hydrosil-f-121: #f1dcd3;
@zero-hydrosil-g-121: #ebd0c7;
@zero-hydrosil-h-121: #dfc5bb;
@zero-hydrosil-j-121: #d1afa6;
@zero-hydrosil-k-121: #a58077;
@zero-hydrosil-n-121: #a97e72;
@zero-hydrosil-s-121: #bb948c;
@zero-hydrosil-v-121: #cfada5;
@zero-hydrosil-x-121: #e0d8c8;
@zero-hydrosil-y-121: #cbbc9f;
@zero-hydrosil-f-122: #f6e7de;
@zero-hydrosil-g-122: #e6c9b4;
@zero-hydrosil-h-122: #daaa8f;
@zero-hydrosil-j-122: #ca8466;
@zero-hydrosil-n-122: #c79680;
@zero-hydrosil-s-122: #dbb9ab;
@zero-hydrosil-v-122: #e5cabf;
@zero-hydrosil-x-122: #d3c9b5;
@zero-hydrosil-y-122: #649f95;
@zero-hydrosil-f-123: #f8e3db;
@zero-hydrosil-g-123: #f4ddd3;
@zero-hydrosil-h-123: #edc3b5;
@zero-hydrosil-j-123: #dba491;
@zero-hydrosil-k-123: #cf856e;
@zero-hydrosil-n-123: #d19e8d;
@zero-hydrosil-s-123: #e4beb1;
@zero-hydrosil-v-123: #ebcfc3;
@zero-hydrosil-x-123: #c0bead;
@zero-hydrosil-y-123: #83857e;
@zero-hydrosil-f-124: #f6e8e1;
@zero-hydrosil-g-124: #f5d7cf;
@zero-hydrosil-h-124: #e4a797;
@zero-hydrosil-j-124: #d48677;
@zero-hydrosil-s-124: #cc9c87;
@zero-hydrosil-v-124: #dbaf9c;
@zero-hydrosil-x-124: #d2c8b6;
@zero-hydrosil-f-125: #f6dcd3;
@zero-hydrosil-g-125: #f6d2c8;
@zero-hydrosil-h-125: #eec1b5;
@zero-hydrosil-j-125: #efb3a9;
@zero-hydrosil-k-125: #d68577;
@zero-hydrosil-s-125: #dbb6a7;
@zero-hydrosil-v-125: #e8c9bb;
@zero-hydrosil-x-125: #bab7ad;
@zero-hydrosil-f-126: #faeee8;
@zero-hydrosil-g-126: #f2e6e3;
@zero-hydrosil-h-126: #e5cac6;
@zero-hydrosil-j-126: #dbb3af;
@zero-hydrosil-k-126: #be8781;
@zero-hydrosil-n-126: #b19088;
@zero-hydrosil-s-126: #d6c2bd;
@zero-hydrosil-v-126: #e2d9d4;
@zero-hydrosil-x-126: #aeaeaa;
@zero-hydrosil-f-127: #f5e4df;
@zero-hydrosil-g-127: #eed8d2;
@zero-hydrosil-h-127: #efcec7;
@zero-hydrosil-j-127: #deb5b1;
@zero-hydrosil-s-127: #c49a8f;
@zero-hydrosil-v-127: #d5afa4;
@zero-hydrosil-x-127: #b2c4cd;
@zero-hydrosil-f-128: #f4e3e1;
@zero-hydrosil-g-128: #f5cec9;
@zero-hydrosil-h-128: #eeb6b0;
@zero-hydrosil-j-128: #d89289;
@zero-hydrosil-s-128: #c37d78;
@zero-hydrosil-v-128: #e5bcba;
@zero-hydrosil-f-129: #f9e4da;
@zero-hydrosil-g-129: #fbdfd1;
@zero-hydrosil-h-129: #fed1bc;
@zero-hydrosil-j-129: #efe6e5;
@zero-hydrosil-k-129: #ef815f;
@zero-hydrosil-n-129: #d5967e;
@zero-hydrosil-s-129: #ecc3b3;
@zero-hydrosil-v-129: #fce2da;
@zero-hydrosil-x-129: #f2dcbd;
@zero-hydrosil-f-130: #f9e7df;
@zero-hydrosil-g-130: #fdd9c9;
@zero-hydrosil-h-130: #facebc;
@zero-hydrosil-j-130: #f39e87;
@zero-hydrosil-n-130: #d7a793;
@zero-hydrosil-s-130: #ebcec1;
@zero-hydrosil-v-130: #f4e5dc;
@zero-hydrosil-x-130: #e2dfd2;
@zero-hydrosil-f-131: #fae0d3;
@zero-hydrosil-g-131: #ffd6c8;
@zero-hydrosil-h-131: #fdbeb0;
@zero-hydrosil-j-131: #fda997;
@zero-hydrosil-k-131: #f4806b;
@zero-hydrosil-n-131: #d6a997;
@zero-hydrosil-s-131: #ebcfc2;
@zero-hydrosil-v-131: #eed9cd;
@zero-hydrosil-x-131: #b1b3b0;
@zero-hydrosil-y-131: #819da9;
@zero-hydrosil-f-132: #f8ddda;
@zero-hydrosil-g-132: #fed6d3;
@zero-hydrosil-h-132: #febfb8;
@zero-hydrosil-j-132: #fcaba4;
@zero-hydrosil-k-132: #e8786c;
@zero-hydrosil-n-132: #cb6e63;
@zero-hydrosil-s-132: #e6a499;
@zero-hydrosil-v-132: #f5d0c9;
@zero-hydrosil-f-133: #fdd5d2;
@zero-hydrosil-g-133: #fac4c3;
@zero-hydrosil-h-133: #fbbcba;
@zero-hydrosil-j-133: #f6a6a7;
@zero-hydrosil-k-133: #e27d7b;
@zero-hydrosil-n-133: #e57d7b;
@zero-hydrosil-s-133: #f3a6a9;
@zero-hydrosil-v-133: #f5b8bb;
@zero-hydrosil-x-133: #aeb5b9;
@zero-hydrosil-y-133: #8e9499;
@zero-hydrosil-f-134: #f7e8df;
@zero-hydrosil-g-134: #fdddd2;
@zero-hydrosil-h-134: #fac7ba;
@zero-hydrosil-j-134: #f29d8e;
@zero-hydrosil-n-134: #dd978b;
@zero-hydrosil-s-134: #eabfb2;
@zero-hydrosil-v-134: #f3d5c7;
@zero-hydrosil-x-134: #d8d4cb;
@zero-hydrosil-y-134: #a89073;
@zero-hydrosil-f-135: #f7ddd2;
@zero-hydrosil-g-135: #fad7cf;
@zero-hydrosil-h-135: #f8c3ba;
@zero-hydrosil-j-135: #e17f74;
@zero-hydrosil-s-135: #e3b3a6;
@zero-hydrosil-v-135: #eec8bf;
@zero-hydrosil-x-135: #e3ded2;
@zero-hydrosil-f-136: #fbe6de;
@zero-hydrosil-g-136: #fbd3d0;
@zero-hydrosil-h-136: #febfba;
@zero-hydrosil-j-136: #fcada8;
@zero-hydrosil-k-136: #f3827c;
@zero-hydrosil-n-136: #db847e;
@zero-hydrosil-s-136: #f0b9b7;
@zero-hydrosil-v-136: #f8d2ce;
@zero-hydrosil-x-136: #eed9bc;
@zero-hydrosil-y-136: #d8b485;
@zero-hydrosil-f-137: #fce1d5;
@zero-hydrosil-g-137: #fad2cc;
@zero-hydrosil-h-137: #f3b9af;
@zero-hydrosil-j-137: #e67f78;
@zero-hydrosil-n-137: #c59a8f;
@zero-hydrosil-s-137: #dec5bd;
@zero-hydrosil-v-137: #efddd7;
@zero-hydrosil-x-137: #dddcd1;
@zero-hydrosil-y-137: #7c949b;
@zero-hydrosil-f-138: #f9e3db;
@zero-hydrosil-g-138: #f7d1cb;
@zero-hydrosil-h-138: #ebb1ae;
@zero-hydrosil-j-138: #c57d7d;
@zero-hydrosil-n-138: #b98f8b;
@zero-hydrosil-s-138: #dfcac9;
@zero-hydrosil-v-138: #ead8d5;
@zero-hydrosil-f-139: #f2ded6;
@zero-hydrosil-g-139: #f3cfc9;
@zero-hydrosil-h-139: #e8b0ab;
@zero-hydrosil-j-139: #df9d98;
@zero-hydrosil-k-139: #cf8178;
@zero-hydrosil-n-139: #c58b83;
@zero-hydrosil-s-139: #e0b7b1;
@zero-hydrosil-v-139: #eed4cd;
@zero-hydrosil-f-140: #f8e8e3;
@zero-hydrosil-g-140: #fbd6d3;
@zero-hydrosil-h-140: #fcc1c2;
@zero-hydrosil-j-140: #e58789;
@zero-hydrosil-n-140: #ab6b6b;
@zero-hydrosil-s-140: #cc9e99;
@zero-hydrosil-v-140: #e2c8c7;
@zero-hydrosil-x-140: #ded4c1;
@zero-hydrosil-y-140: #c8a179;
@zero-hydrosil-f-141: #f2dede;
@zero-hydrosil-g-141: #ecc7ca;
@zero-hydrosil-h-141: #e794a0;
@zero-hydrosil-j-141: #c87082;
@zero-hydrosil-k-141: #b54b68;
@zero-hydrosil-n-141: #c28da0;
@zero-hydrosil-s-141: #e7c1ca;
@zero-hydrosil-v-141: #edd6dd;
@zero-hydrosil-x-141: #a3a2a1;
@zero-hydrosil-y-141: #646950;
@zero-hydrosil-f-142: #f7e1df;
@zero-hydrosil-g-142: #f3d8dc;
@zero-hydrosil-h-142: #e4a4ae;
@zero-hydrosil-j-142: #cf7788;
@zero-hydrosil-k-142: #b74f65;
@zero-hydrosil-n-142: #c991a4;
@zero-hydrosil-s-142: #dfbac7;
@zero-hydrosil-v-142: #efd1d6;
@zero-hydrosil-x-142: #93a684;
@zero-hydrosil-y-142: #6f7f64;
@zero-hydrosil-f-143: #f0e6e6;
@zero-hydrosil-g-143: #eadbe0;
@zero-hydrosil-h-143: #dcb1c4;
@zero-hydrosil-j-143: #c98da8;
@zero-hydrosil-n-143: #c7aab9;
@zero-hydrosil-s-143: #ddcad4;
@zero-hydrosil-v-143: #ebdbe0;
@zero-hydrosil-x-143: #8da3b1;
@zero-hydrosil-y-143: #6985b5;
@zero-hydrosil-f-144: #f6e7e6;
@zero-hydrosil-g-144: #eddce1;
@zero-hydrosil-h-144: #e5cad6;
@zero-hydrosil-j-144: #cfa2b7;
@zero-hydrosil-k-144: #a5718d;
@zero-hydrosil-n-144: #bb99ab;
@zero-hydrosil-s-144: #dfc4cc;
@zero-hydrosil-v-144: #edd9de;
@zero-hydrosil-f-145: #f1e1e4;
@zero-hydrosil-g-145: #ebd3de;
@zero-hydrosil-h-145: #ddc2d4;
@zero-hydrosil-j-145: #d4b2c9;
@zero-hydrosil-k-145: #b186b0;
@zero-hydrosil-l-145: #976a8f;
@zero-hydrosil-n-145: #b994a2;
@zero-hydrosil-s-145: #ccb1bf;
@zero-hydrosil-v-145: #ebd6df;
@zero-hydrosil-x-145: #bcb69e;
@zero-hydrosil-f-146: #f1e9e9;
@zero-hydrosil-g-146: #eadfe6;
@zero-hydrosil-h-146: #e3d4de;
@zero-hydrosil-j-146: #d9c5d7;
@zero-hydrosil-k-146: #ad8ab2;
@zero-hydrosil-s-146: #c1bbc8;
@zero-hydrosil-v-146: #d6d3dd;
@zero-hydrosil-x-146: #c7cdc2;
@zero-hydrosil-y-146: #8f9584;
@zero-hydrosil-f-147: #e9e3ea;
@zero-hydrosil-g-147: #e5ddea;
@zero-hydrosil-h-147: #d9d2e3;
@zero-hydrosil-j-147: #c3bad8;
@zero-hydrosil-n-147: #a09ab4;
@zero-hydrosil-s-147: #cbc6d8;
@zero-hydrosil-v-147: #dedae3;
@zero-hydrosil-x-147: #869b80;
@zero-hydrosil-f-148: #e7e2e8;
@zero-hydrosil-g-148: #ded7e8;
@zero-hydrosil-h-148: #cdc4e5;
@zero-hydrosil-j-148: #bcb1dc;
@zero-hydrosil-k-148: #8c7cb9;
@zero-hydrosil-n-148: #ada2c6;
@zero-hydrosil-s-148: #cbc3df;
@zero-hydrosil-v-148: #ddd7e5;
@zero-hydrosil-x-148: #a0a690;
@zero-hydrosil-f-149: #e5e1e8;
@zero-hydrosil-g-149: #e0dbe6;
@zero-hydrosil-h-149: #c8c1cb;
@zero-hydrosil-j-149: #bcb4be;
@zero-hydrosil-k-149: #a294a6;
@zero-hydrosil-n-149: #aaa1af;
@zero-hydrosil-s-149: #c8c3ce;
@zero-hydrosil-v-149: #dbd8e3;
@zero-hydrosil-x-149: #768f88;
@zero-hydrosil-f-150: #eee5e7;
@zero-hydrosil-g-150: #e7dae5;
@zero-hydrosil-h-150: #d6c5d3;
@zero-hydrosil-j-150: #c5b2c4;
@zero-hydrosil-k-150: #ac93a7;
@zero-hydrosil-n-150: #b6aebb;
@zero-hydrosil-s-150: #cec8d2;
@zero-hydrosil-v-150: #e1dee5;
@zero-hydrosil-x-150: #9daa94;
@zero-hydrosil-f-151: #f3ece8;
@zero-hydrosil-g-151: #e8e1e2;
@zero-hydrosil-h-151: #d4c9d1;
@zero-hydrosil-j-151: #c1b6c0;
@zero-hydrosil-k-151: #a5949d;
@zero-hydrosil-l-151: #746973;
@zero-hydrosil-n-151: #92868e;
@zero-hydrosil-s-151: #c2b9c1;
@zero-hydrosil-v-151: #d7d1d3;
@zero-hydrosil-x-151: #898e7a;
@zero-hydrosil-f-152: #e5e2dd;
@zero-hydrosil-g-152: #d7cfcb;
@zero-hydrosil-h-152: #cdc3c0;
@zero-hydrosil-j-152: #a0928a;
@zero-hydrosil-s-152: #c0b2ab;
@zero-hydrosil-v-152: #d3ccc5;
@zero-hydrosil-x-152: #84a4b6;
@zero-hydrosil-f-153: #ece7df;
@zero-hydrosil-g-153: #ddd7ce;
@zero-hydrosil-h-153: #cfc9c0;
@zero-hydrosil-j-153: #bcb3a7;
@zero-hydrosil-k-153: #a09486;
@zero-hydrosil-s-153: #c6baab;
@zero-hydrosil-v-153: #dcd2c5;
@zero-hydrosil-x-153: #bbcbd4;
@zero-hydrosil-y-153: #7f99a6;
@zero-hydrosil-f-154: #eae8e3;
@zero-hydrosil-g-154: #e1dcd5;
@zero-hydrosil-h-154: #d2cdc5;
@zero-hydrosil-j-154: #a49a8c;
@zero-hydrosil-n-154: #a09385;
@zero-hydrosil-s-154: #bcb2a5;
@zero-hydrosil-v-154: #dad5ce;
@zero-hydrosil-f-155: #e2e0db;
@zero-hydrosil-g-155: #dcdad4;
@zero-hydrosil-h-155: #cec9c1;
@zero-hydrosil-j-155: #aba497;
@zero-hydrosil-s-155: #bdb8ac;
@zero-hydrosil-v-155: #cec9c1;
@zero-hydrosil-f-156: #ebe9e0;
@zero-hydrosil-g-156: #d3d1cb;
@zero-hydrosil-h-156: #c4c2bb;
@zero-hydrosil-j-156: #b0ada3;
@zero-hydrosil-k-156: #99958c;
@zero-hydrosil-s-156: #99928a;
@zero-hydrosil-v-156: #d8d6d0;
@zero-hydrosil-x-156: #c9977f;
@zero-hydrosil-f-157: #efefe8;
@zero-hydrosil-g-157: #d9dbd4;
@zero-hydrosil-h-157: #cbcac3;
@zero-hydrosil-j-157: #acaca7;
@zero-hydrosil-k-157: #979790;
@zero-hydrosil-n-157: #848583;
@zero-hydrosil-s-157: #c1c1be;
@zero-hydrosil-v-157: #ced1ce;
@zero-hydrosil-x-157: #1490c0;
@zero-hydrosil-f-158: #e4e3db;
@zero-hydrosil-g-158: #d1d1cd;
@zero-hydrosil-h-158: #bdbdba;
@zero-hydrosil-j-158: #989693;
@zero-hydrosil-s-158: #bab8b9;
@zero-hydrosil-v-158: #cccaca;
@zero-hydrosil-x-158: #afa57b;
@zero-hydrosil-f-159: #edede5;
@zero-hydrosil-g-159: #e4e3dc;
@zero-hydrosil-h-159: #d1d0cb;
@zero-hydrosil-j-159: #c5c5c1;
@zero-hydrosil-k-159: #acaca7;
@zero-hydrosil-s-159: #a5a5a1;
@zero-hydrosil-v-159: #cecec9;
@zero-hydrosil-x-159: #d7b4a3;
@zero-hydrosil-f-160: #e8e8e0;
@zero-hydrosil-g-160: #dedfdb;
@zero-hydrosil-h-160: #c9cbc8;
@zero-hydrosil-j-160: #b3b7b5;
@zero-hydrosil-k-160: #959796;
@zero-hydrosil-s-160: #9a9d9a;
@zero-hydrosil-v-160: #dbddd9;
@zero-hydrosil-f-161: #e2ded5;
@zero-hydrosil-g-161: #d4d0c6;
@zero-hydrosil-h-161: #cac5bd;
@zero-hydrosil-j-161: #aba59a;
@zero-hydrosil-k-161: #9e978b;
@zero-hydrosil-n-161: #aea9a2;
@zero-hydrosil-s-161: #bdb8b0;
@zero-hydrosil-v-161: #d9d5cf;
@zero-hydrosil-x-161: #a0dfbb;
@zero-hydrosil-f-162: #e4e6e2;
@zero-hydrosil-g-162: #d2d6d6;
@zero-hydrosil-h-162: #c8ccce;
@zero-hydrosil-j-162: #bcc0c2;
@zero-hydrosil-k-162: #969da0;
@zero-hydrosil-s-162: #99a0a4;
@zero-hydrosil-v-162: #bcc2c6;
@zero-hydrosil-x-162: #f4e3d3;
@zero-hydrosil-y-162: #db9468;
@zero-hydrosil-f-163: #e0e0dc;
@zero-hydrosil-g-163: #e1e2df;
@zero-hydrosil-h-163: #b1b7bb;
@zero-hydrosil-j-163: #999ea2;
@zero-hydrosil-k-163: #898e90;
@zero-hydrosil-n-163: #939798;
@zero-hydrosil-s-163: #b4b6b6;
@zero-hydrosil-v-163: #d1d5d5;
@zero-hydrosil-x-163: #86a0b1;
@zero-hydrosil-f-164: #dfe1e0;
@zero-hydrosil-g-164: #dbdddc;
@zero-hydrosil-h-164: #cbcece;
@zero-hydrosil-j-164: #bac0c2;
@zero-hydrosil-s-164: #9ea5ad;
@zero-hydrosil-v-164: #c0c7ca;
@zero-hydrosil-x-164: #ca8b81;
@zero-hydrosil-f-165: #e1e2df;
@zero-hydrosil-g-165: #ccd1d1;
@zero-hydrosil-h-165: #b9bec0;
@zero-hydrosil-j-165: #989fa2;
@zero-hydrosil-k-165: #868c90;
@zero-hydrosil-s-165: #afb6b9;
@zero-hydrosil-f-166: #ebe8e5;
@zero-hydrosil-g-166: #dad8d6;
@zero-hydrosil-h-166: #cac7c7;
@zero-hydrosil-j-166: #b5b3b6;
@zero-hydrosil-k-166: #a29c9f;
@zero-hydrosil-s-166: #9e999c;
@zero-hydrosil-v-166: #c0bfc2;
@zero-hydrosil-x-166: #aabcbe;
@zero-hydrosil-f-167: #e9e7e4;
@zero-hydrosil-g-167: #e1dcd7;
@zero-hydrosil-h-167: #bdbab9;
@zero-hydrosil-j-167: #959191;
@zero-hydrosil-k-167: #817c7c;
@zero-hydrosil-s-167: #aca6a6;
@zero-hydrosil-v-167: #d4cfcc;
@zero-hydrosil-x-167: #b1e1d3;
@zero-hydrosil-f-168: #eceae2;
@zero-hydrosil-g-168: #e2e1dd;
@zero-hydrosil-h-168: #cdcdcd;
@zero-hydrosil-j-168: #bbbcbc;
@zero-hydrosil-s-168: #908f8f;
@zero-hydrosil-v-168: #bcbbba;
@zero-hydrosil-x-168: #eae8dd;