// maxit-xl-modern
@maxit-xl-modern-maxit-md101: #fff2ac;
@maxit-xl-modern-maxit-md102: #fffdbb;
@maxit-xl-modern-maxit-md103: #fffecb;
@maxit-xl-modern-maxit-md104: #ffffd8;
@maxit-xl-modern-maxit-md105: #ffffe7;
@maxit-xl-modern-maxit-md111: #ffeba5;
@maxit-xl-modern-maxit-md112: #ffefae;
@maxit-xl-modern-maxit-md113: #fff7c3;
@maxit-xl-modern-maxit-md114: #fffdd2;
@maxit-xl-modern-maxit-md115: #fffee2;
@maxit-xl-modern-maxit-md121: #ffc788;
@maxit-xl-modern-maxit-md122: #ffd39b;
@maxit-xl-modern-maxit-md123: #ffe0b1;
@maxit-xl-modern-maxit-md124: #fff1cb;
@maxit-xl-modern-maxit-md125: #fffce2;
@maxit-xl-modern-maxit-md131: #ffcc96;
@maxit-xl-modern-maxit-md132: #ffd7a6;
@maxit-xl-modern-maxit-md133: #ffe8bf;
@maxit-xl-modern-maxit-md134: #fff3d1;
@maxit-xl-modern-maxit-md135: #fffce6;
@maxit-xl-modern-maxit-md141: #efa48a;
@maxit-xl-modern-maxit-md142: #fcbaa1;
@maxit-xl-modern-maxit-md143: #ffc5b0;
@maxit-xl-modern-maxit-md144: #ffdccb;
@maxit-xl-modern-maxit-md145: #fff2e5;
@maxit-xl-modern-maxit-md151: #d8867a;
@maxit-xl-modern-maxit-md152: #e2988c;
@maxit-xl-modern-maxit-md153: #ecaaa0;
@maxit-xl-modern-maxit-md154: #ffc6bb;
@maxit-xl-modern-maxit-md155: #ffe7de;
@maxit-xl-modern-maxit-md161: #c58987;
@maxit-xl-modern-maxit-md162: #cf9895;
@maxit-xl-modern-maxit-md163: #e9b8b6;
@maxit-xl-modern-maxit-md164: #f1c7c4;
@maxit-xl-modern-maxit-md165: #ffe3e0;
@maxit-xl-modern-maxit-md171: #b68e95;
@maxit-xl-modern-maxit-md172: #bf9da4;
@maxit-xl-modern-maxit-md173: #dac1c9;
@maxit-xl-modern-maxit-md174: #ecd7db;
@maxit-xl-modern-maxit-md175: #fdedec;
@maxit-xl-modern-maxit-md181: #9594b3;
@maxit-xl-modern-maxit-md182: #a4a2bf;
@maxit-xl-modern-maxit-md183: #bab8d0;
@maxit-xl-modern-maxit-md184: #d2d1e5;
@maxit-xl-modern-maxit-md185: #f1effa;
@maxit-xl-modern-maxit-md191: #8fa1d2;
@maxit-xl-modern-maxit-md192: #a5b6e2;
@maxit-xl-modern-maxit-md193: #c2cff1;
@maxit-xl-modern-maxit-md194: #d7e0f8;
@maxit-xl-modern-maxit-md195: #f2f5ff;
@maxit-xl-modern-maxit-md201: #a5c6e9;
@maxit-xl-modern-maxit-md202: #bbdbf9;
@maxit-xl-modern-maxit-md203: #d4eaff;
@maxit-xl-modern-maxit-md204: #eaf9ff;
@maxit-xl-modern-maxit-md205: #f9ffff;
@maxit-xl-modern-maxit-md211: #87cce6;
@maxit-xl-modern-maxit-md212: #9ddaf0;
@maxit-xl-modern-maxit-md213: #bce6f7;
@maxit-xl-modern-maxit-md214: #d5f7ff;
@maxit-xl-modern-maxit-md215: #f4ffff;
@maxit-xl-modern-maxit-md221: #8dc8c6;
@maxit-xl-modern-maxit-md222: #a4dad9;
@maxit-xl-modern-maxit-md223: #b9e3e2;
@maxit-xl-modern-maxit-md224: #d5f2ef;
@maxit-xl-modern-maxit-md225: #f5fffc;
@maxit-xl-modern-maxit-md231: #9ac5a6;
@maxit-xl-modern-maxit-md232: #aed5ba;
@maxit-xl-modern-maxit-md233: #c2e3ce;
@maxit-xl-modern-maxit-md234: #d5eddc;
@maxit-xl-modern-maxit-md235: #f0fff6;
@maxit-xl-modern-maxit-md241: #c7e2b5;
@maxit-xl-modern-maxit-md242: #d5ebc6;
@maxit-xl-modern-maxit-md243: #e4f6d9;
@maxit-xl-modern-maxit-md244: #f5ffeb;
@maxit-xl-modern-maxit-md245: #fdfff1;
@maxit-xl-modern-maxit-md251: #e6f2b7;
@maxit-xl-modern-maxit-md252: #eff8c7;
@maxit-xl-modern-maxit-md253: #fbffdb;
@maxit-xl-modern-maxit-md254: #fdffe1;
@maxit-xl-modern-maxit-md255: #ffffeb;
@maxit-xl-modern-maxit-md261: #ffffb4;
@maxit-xl-modern-maxit-md262: #ffffc0;
@maxit-xl-modern-maxit-md263: #ffffcd;
@maxit-xl-modern-maxit-md264: #ffffda;
@maxit-xl-modern-maxit-md265: #ffffe7;
@maxit-xl-modern-maxit-md271: #9d9b9a;
@maxit-xl-modern-maxit-md272: #adaaaa;
@maxit-xl-modern-maxit-md273: #cccac9;
@maxit-xl-modern-maxit-md274: #dedad8;
@maxit-xl-modern-maxit-md275: #f1ede9;
@maxit-xl-modern-maxit-md281: #8b8f90;
@maxit-xl-modern-maxit-md282: #9da0a1;
@maxit-xl-modern-maxit-md283: #b8b9b9;
@maxit-xl-modern-maxit-md284: #d0d2d1;
@maxit-xl-modern-maxit-md285: #e4e5e4;