// atlas-nowa-paleta-barw
@atlas-nowa-paleta-barw-0006: #e1d97f;
@atlas-nowa-paleta-barw-0005: #dcd371;
@atlas-nowa-paleta-barw-0004: #d8d061;
@atlas-nowa-paleta-barw-0003: #d4cc3a;
@atlas-nowa-paleta-barw-0002: #c8c637;
@atlas-nowa-paleta-barw-0001: #c1c331;
@atlas-nowa-paleta-barw-0012: #efedc4;
@atlas-nowa-paleta-barw-0011: #eceab4;
@atlas-nowa-paleta-barw-0010: #eeeca5;
@atlas-nowa-paleta-barw-0009: #ece898;
@atlas-nowa-paleta-barw-0008: #e8e780;
@atlas-nowa-paleta-barw-0007: #e8e359;
@atlas-nowa-paleta-barw-0018: #f3e3c8;
@atlas-nowa-paleta-barw-0017: #f1ebb7;
@atlas-nowa-paleta-barw-0016: #efe59c;
@atlas-nowa-paleta-barw-0015: #f8e48b;
@atlas-nowa-paleta-barw-0014: #f8e17b;
@atlas-nowa-paleta-barw-0013: #f6db6a;
@atlas-nowa-paleta-barw-0024: #f5e894;
@atlas-nowa-paleta-barw-0023: #f8e384;
@atlas-nowa-paleta-barw-0022: #f7d955;
@atlas-nowa-paleta-barw-0021: #f5d94b;
@atlas-nowa-paleta-barw-0020: #f8d62c;
@atlas-nowa-paleta-barw-0019: #f3c920;
@atlas-nowa-paleta-barw-0030: #fbe2a4;
@atlas-nowa-paleta-barw-0029: #fbc977;
@atlas-nowa-paleta-barw-0028: #ffbf49;
@atlas-nowa-paleta-barw-0027: #ffb633;
@atlas-nowa-paleta-barw-0026: #ffb626;
@atlas-nowa-paleta-barw-0025: #ffb10b;
@atlas-nowa-paleta-barw-0036: #f2e1b1;
@atlas-nowa-paleta-barw-0035: #f3e0aa;
@atlas-nowa-paleta-barw-0034: #f4da9d;
@atlas-nowa-paleta-barw-0033: #d7c48e;
@atlas-nowa-paleta-barw-0032: #e9c070;
@atlas-nowa-paleta-barw-0031: #c5a05d;
@atlas-nowa-paleta-barw-0042: #f1e4b9;
@atlas-nowa-paleta-barw-0041: #f3e3a6;
@atlas-nowa-paleta-barw-0040: #f1d589;
@atlas-nowa-paleta-barw-0039: #eec774;
@atlas-nowa-paleta-barw-0038: #e3ae4e;
@atlas-nowa-paleta-barw-0037: #e0ab4a;
@atlas-nowa-paleta-barw-0048: #f7de96;
@atlas-nowa-paleta-barw-0047: #f6d583;
@atlas-nowa-paleta-barw-0046: #f4cb6a;
@atlas-nowa-paleta-barw-0045: #ecb741;
@atlas-nowa-paleta-barw-0044: #e8af3c;
@atlas-nowa-paleta-barw-0043: #e2aa37;
@atlas-nowa-paleta-barw-0054: #eee9d2;
@atlas-nowa-paleta-barw-0053: #ecd8b1;
@atlas-nowa-paleta-barw-0052: #edcc97;
@atlas-nowa-paleta-barw-0051: #eec585;
@atlas-nowa-paleta-barw-0050: #d4ac6f;
@atlas-nowa-paleta-barw-0049: #dda95e;
@atlas-nowa-paleta-barw-0060: #efd2a7;
@atlas-nowa-paleta-barw-0059: #f1ce99;
@atlas-nowa-paleta-barw-0058: #edc080;
@atlas-nowa-paleta-barw-0057: #e1ae5f;
@atlas-nowa-paleta-barw-0056: #daa55b;
@atlas-nowa-paleta-barw-0055: #d19b50;
@atlas-nowa-paleta-barw-0066: #e8e3ba;
@atlas-nowa-paleta-barw-0065: #f1d8a2;
@atlas-nowa-paleta-barw-0064: #e9c787;
@atlas-nowa-paleta-barw-0063: #e7b46c;
@atlas-nowa-paleta-barw-0062: #e0a450;
@atlas-nowa-paleta-barw-0061: #da9c56;
@atlas-nowa-paleta-barw-0072: #f1dba0;
@atlas-nowa-paleta-barw-0071: #eac884;
@atlas-nowa-paleta-barw-0070: #ecc379;
@atlas-nowa-paleta-barw-0069: #e8b24c;
@atlas-nowa-paleta-barw-0068: #e4ab49;
@atlas-nowa-paleta-barw-0067: #d8a546;
@atlas-nowa-paleta-barw-0078: #f2cd8d;
@atlas-nowa-paleta-barw-0077: #f6c276;
@atlas-nowa-paleta-barw-0076: #f5b860;
@atlas-nowa-paleta-barw-0075: #e9a63f;
@atlas-nowa-paleta-barw-0074: #e19e36;
@atlas-nowa-paleta-barw-0073: #e19e32;
@atlas-nowa-paleta-barw-0084: #fbcc84;
@atlas-nowa-paleta-barw-0083: #fac371;
@atlas-nowa-paleta-barw-0082: #f5b351;
@atlas-nowa-paleta-barw-0081: #f0a73d;
@atlas-nowa-paleta-barw-0080: #e6a138;
@atlas-nowa-paleta-barw-0079: #dd973c;
@atlas-nowa-paleta-barw-0090: #fbce8a;
@atlas-nowa-paleta-barw-0089: #fabe6c;
@atlas-nowa-paleta-barw-0088: #f6b75a;
@atlas-nowa-paleta-barw-0087: #eca73e;
@atlas-nowa-paleta-barw-0086: #efa636;
@atlas-nowa-paleta-barw-0085: #eca337;
@atlas-nowa-paleta-barw-0096: #e6bd98;
@atlas-nowa-paleta-barw-0095: #e7b989;
@atlas-nowa-paleta-barw-0094: #e2b07a;
@atlas-nowa-paleta-barw-0093: #d99f5f;
@atlas-nowa-paleta-barw-0092: #d29654;
@atlas-nowa-paleta-barw-0091: #dd9c55;
@atlas-nowa-paleta-barw-0102: #edae6d;
@atlas-nowa-paleta-barw-0101: #df9b5d;
@atlas-nowa-paleta-barw-0100: #f19352;
@atlas-nowa-paleta-barw-0099: #ed8541;
@atlas-nowa-paleta-barw-0098: #ec793c;
@atlas-nowa-paleta-barw-0097: #f07435;
@atlas-nowa-paleta-barw-0108: #eec8bc;
@atlas-nowa-paleta-barw-0107: #e5a692;
@atlas-nowa-paleta-barw-0106: #e68e6d;
@atlas-nowa-paleta-barw-0105: #ea8c66;
@atlas-nowa-paleta-barw-0104: #ec7c4d;
@atlas-nowa-paleta-barw-0103: #d26544;
@atlas-nowa-paleta-barw-0114: #e79b78;
@atlas-nowa-paleta-barw-0113: #f18a5e;
@atlas-nowa-paleta-barw-0112: #e37e5f;
@atlas-nowa-paleta-barw-0111: #ef6e4c;
@atlas-nowa-paleta-barw-0110: #e3633f;
@atlas-nowa-paleta-barw-0109: #e35639;
@atlas-nowa-paleta-barw-0120: #eea37d;
@atlas-nowa-paleta-barw-0119: #ed8c63;
@atlas-nowa-paleta-barw-0118: #ea6f40;
@atlas-nowa-paleta-barw-0117: #e66a41;
@atlas-nowa-paleta-barw-0116: #e55d3e;
@atlas-nowa-paleta-barw-0115: #d65040;
@atlas-nowa-paleta-barw-0126: #eaa8a0;
@atlas-nowa-paleta-barw-0125: #e28577;
@atlas-nowa-paleta-barw-0124: #e97360;
@atlas-nowa-paleta-barw-0123: #e06255;
@atlas-nowa-paleta-barw-0122: #d95749;
@atlas-nowa-paleta-barw-0121: #d44c43;
@atlas-nowa-paleta-barw-0132: #e59c96;
@atlas-nowa-paleta-barw-0131: #da8083;
@atlas-nowa-paleta-barw-0130: #d26c6c;
@atlas-nowa-paleta-barw-0129: #d05a56;
@atlas-nowa-paleta-barw-0128: #bf5351;
@atlas-nowa-paleta-barw-0127: #aa4643;
@atlas-nowa-paleta-barw-0138: #dec3bb;
@atlas-nowa-paleta-barw-0137: #e1989e;
@atlas-nowa-paleta-barw-0136: #e1939a;
@atlas-nowa-paleta-barw-0135: #d78186;
@atlas-nowa-paleta-barw-0134: #c86b72;
@atlas-nowa-paleta-barw-0133: #ac4e4e;
@atlas-nowa-paleta-barw-0144: #db8a92;
@atlas-nowa-paleta-barw-0143: #d6797f;
@atlas-nowa-paleta-barw-0142: #c36768;
@atlas-nowa-paleta-barw-0141: #bf5c5d;
@atlas-nowa-paleta-barw-0140: #b04f4e;
@atlas-nowa-paleta-barw-0139: #a24945;
@atlas-nowa-paleta-barw-0150: #de9e9c;
@atlas-nowa-paleta-barw-0149: #dc908e;
@atlas-nowa-paleta-barw-0148: #c26f6a;
@atlas-nowa-paleta-barw-0147: #bc625d;
@atlas-nowa-paleta-barw-0146: #af5c54;
@atlas-nowa-paleta-barw-0145: #a95149;
@atlas-nowa-paleta-barw-0156: #edcaba;
@atlas-nowa-paleta-barw-0155: #e6baa4;
@atlas-nowa-paleta-barw-0154: #dda796;
@atlas-nowa-paleta-barw-0153: #d89985;
@atlas-nowa-paleta-barw-0152: #c18472;
@atlas-nowa-paleta-barw-0151: #bb7966;
@atlas-nowa-paleta-barw-0162: #e3beac;
@atlas-nowa-paleta-barw-0161: #d5aaa0;
@atlas-nowa-paleta-barw-0160: #a97066;
@atlas-nowa-paleta-barw-0159: #ab7469;
@atlas-nowa-paleta-barw-0158: #9c6154;
@atlas-nowa-paleta-barw-0157: #945a4c;
@atlas-nowa-paleta-barw-0168: #d7b5ad;
@atlas-nowa-paleta-barw-0167: #c69a92;
@atlas-nowa-paleta-barw-0166: #bf8c81;
@atlas-nowa-paleta-barw-0165: #a06c62;
@atlas-nowa-paleta-barw-0164: #8e685d;
@atlas-nowa-paleta-barw-0163: #865b50;
@atlas-nowa-paleta-barw-0174: #dfc7ba;
@atlas-nowa-paleta-barw-0173: #d0a797;
@atlas-nowa-paleta-barw-0172: #bc9487;
@atlas-nowa-paleta-barw-0171: #af8a7a;
@atlas-nowa-paleta-barw-0170: #9c705e;
@atlas-nowa-paleta-barw-0169: #8b5e4e;
@atlas-nowa-paleta-barw-0180: #efc9b6;
@atlas-nowa-paleta-barw-0179: #edc6b4;
@atlas-nowa-paleta-barw-0178: #dca997;
@atlas-nowa-paleta-barw-0177: #c5826c;
@atlas-nowa-paleta-barw-0176: #a8664f;
@atlas-nowa-paleta-barw-0175: #9e5f49;
@atlas-nowa-paleta-barw-0186: #e2b39e;
@atlas-nowa-paleta-barw-0185: #d89d84;
@atlas-nowa-paleta-barw-0184: #cd8a70;
@atlas-nowa-paleta-barw-0183: #bf765c;
@atlas-nowa-paleta-barw-0182: #af684f;
@atlas-nowa-paleta-barw-0181: #ac674d;
@atlas-nowa-paleta-barw-0192: #f0d2bd;
@atlas-nowa-paleta-barw-0191: #e4b59a;
@atlas-nowa-paleta-barw-0190: #d99d7c;
@atlas-nowa-paleta-barw-0189: #be7755;
@atlas-nowa-paleta-barw-0188: #b86e51;
@atlas-nowa-paleta-barw-0187: #a6644f;
@atlas-nowa-paleta-barw-0198: #e5b697;
@atlas-nowa-paleta-barw-0197: #daa78b;
@atlas-nowa-paleta-barw-0196: #cc8a67;
@atlas-nowa-paleta-barw-0195: #c07f5e;
@atlas-nowa-paleta-barw-0194: #bd7657;
@atlas-nowa-paleta-barw-0193: #b87155;
@atlas-nowa-paleta-barw-0204: #e8c4a7;
@atlas-nowa-paleta-barw-0203: #dba78b;
@atlas-nowa-paleta-barw-0202: #d79a79;
@atlas-nowa-paleta-barw-0201: #ca8a6b;
@atlas-nowa-paleta-barw-0200: #c17855;
@atlas-nowa-paleta-barw-0199: #b56f50;
@atlas-nowa-paleta-barw-0210: #e4b590;
@atlas-nowa-paleta-barw-0209: #ddab7e;
@atlas-nowa-paleta-barw-0208: #cb8a5a;
@atlas-nowa-paleta-barw-0207: #bf834f;
@atlas-nowa-paleta-barw-0206: #b7794e;
@atlas-nowa-paleta-barw-0205: #b37251;
@atlas-nowa-paleta-barw-0216: #edc8a4;
@atlas-nowa-paleta-barw-0215: #e9ba94;
@atlas-nowa-paleta-barw-0214: #dcaa80;
@atlas-nowa-paleta-barw-0213: #d99c69;
@atlas-nowa-paleta-barw-0212: #ca8859;
@atlas-nowa-paleta-barw-0211: #c07e51;
@atlas-nowa-paleta-barw-0222: #edc29b;
@atlas-nowa-paleta-barw-0221: #e8bc91;
@atlas-nowa-paleta-barw-0220: #dea477;
@atlas-nowa-paleta-barw-0219: #d59965;
@atlas-nowa-paleta-barw-0218: #d18f59;
@atlas-nowa-paleta-barw-0217: #ca8350;
@atlas-nowa-paleta-barw-0228: #eec39e;
@atlas-nowa-paleta-barw-0227: #e7b78b;
@atlas-nowa-paleta-barw-0226: #dca471;
@atlas-nowa-paleta-barw-0225: #c27f4d;
@atlas-nowa-paleta-barw-0224: #b97e4e;
@atlas-nowa-paleta-barw-0223: #b08456;
@atlas-nowa-paleta-barw-0234: #dcb185;
@atlas-nowa-paleta-barw-0233: #e7ac78;
@atlas-nowa-paleta-barw-0232: #dc9b63;
@atlas-nowa-paleta-barw-0231: #d48a4b;
@atlas-nowa-paleta-barw-0230: #c67a3c;
@atlas-nowa-paleta-barw-0229: #c57a3f;
@atlas-nowa-paleta-barw-0240: #c9b695;
@atlas-nowa-paleta-barw-0239: #d8bb8d;
@atlas-nowa-paleta-barw-0238: #d3aa73;
@atlas-nowa-paleta-barw-0237: #b8915a;
@atlas-nowa-paleta-barw-0236: #937957;
@atlas-nowa-paleta-barw-0235: #957159;
@atlas-nowa-paleta-barw-0246: #ccb3a3;
@atlas-nowa-paleta-barw-0245: #c2a697;
@atlas-nowa-paleta-barw-0244: #a88573;
@atlas-nowa-paleta-barw-0243: #9b7867;
@atlas-nowa-paleta-barw-0242: #8a6755;
@atlas-nowa-paleta-barw-0241: #836255;
@atlas-nowa-paleta-barw-0252: #cda89a;
@atlas-nowa-paleta-barw-0251: #b88e7e;
@atlas-nowa-paleta-barw-0250: #ac8070;
@atlas-nowa-paleta-barw-0249: #966858;
@atlas-nowa-paleta-barw-0248: #745a4c;
@atlas-nowa-paleta-barw-0247: #66544a;
@atlas-nowa-paleta-barw-0258: #b87f6e;
@atlas-nowa-paleta-barw-0257: #ae756a;
@atlas-nowa-paleta-barw-0256: #906157;
@atlas-nowa-paleta-barw-0255: #72564e;
@atlas-nowa-paleta-barw-0254: #64534c;
@atlas-nowa-paleta-barw-0253: #5c514b;
@atlas-nowa-paleta-barw-0264: #c3a38f;
@atlas-nowa-paleta-barw-0263: #ad876e;
@atlas-nowa-paleta-barw-0262: #947058;
@atlas-nowa-paleta-barw-0261: #88654e;
@atlas-nowa-paleta-barw-0260: #7e6652;
@atlas-nowa-paleta-barw-0259: #665a50;
@atlas-nowa-paleta-barw-0270: #ceb1a2;
@atlas-nowa-paleta-barw-0269: #a68372;
@atlas-nowa-paleta-barw-0268: #9b7660;
@atlas-nowa-paleta-barw-0267: #7c6657;
@atlas-nowa-paleta-barw-0266: #695b52;
@atlas-nowa-paleta-barw-0265: #5c544e;
@atlas-nowa-paleta-barw-0276: #c3b8a8;
@atlas-nowa-paleta-barw-0275: #a1907d;
@atlas-nowa-paleta-barw-0274: #aa9272;
@atlas-nowa-paleta-barw-0273: #927d64;
@atlas-nowa-paleta-barw-0272: #80705c;
@atlas-nowa-paleta-barw-0271: #72665b;
@atlas-nowa-paleta-barw-0282: #dad2bf;
@atlas-nowa-paleta-barw-0281: #c7bca6;
@atlas-nowa-paleta-barw-0280: #b3a386;
@atlas-nowa-paleta-barw-0279: #8c7e66;
@atlas-nowa-paleta-barw-0278: #857862;
@atlas-nowa-paleta-barw-0277: #767061;
@atlas-nowa-paleta-barw-0288: #e0d1b4;
@atlas-nowa-paleta-barw-0287: #c3ae87;
@atlas-nowa-paleta-barw-0286: #bc9f5e;
@atlas-nowa-paleta-barw-0285: #b99d68;
@atlas-nowa-paleta-barw-0284: #a69260;
@atlas-nowa-paleta-barw-0283: #9f8556;
@atlas-nowa-paleta-barw-0294: #dad2b1;
@atlas-nowa-paleta-barw-0293: #d0c5a1;
@atlas-nowa-paleta-barw-0292: #c1b58e;
@atlas-nowa-paleta-barw-0291: #ac9c6f;
@atlas-nowa-paleta-barw-0290: #938a65;
@atlas-nowa-paleta-barw-0289: #837d60;
@atlas-nowa-paleta-barw-0300: #e1d5af;
@atlas-nowa-paleta-barw-0299: #d0c49e;
@atlas-nowa-paleta-barw-0298: #c9bc8f;
@atlas-nowa-paleta-barw-0297: #b1a77b;
@atlas-nowa-paleta-barw-0296: #a39669;
@atlas-nowa-paleta-barw-0295: #938a62;
@atlas-nowa-paleta-barw-0306: #beba9d;
@atlas-nowa-paleta-barw-0305: #ada582;
@atlas-nowa-paleta-barw-0304: #9d8f63;
@atlas-nowa-paleta-barw-0303: #837a5c;
@atlas-nowa-paleta-barw-0302: #71705b;
@atlas-nowa-paleta-barw-0301: #69695b;
@atlas-nowa-paleta-barw-0312: #e1d4a2;
@atlas-nowa-paleta-barw-0311: #cac48d;
@atlas-nowa-paleta-barw-0310: #ccb05d;
@atlas-nowa-paleta-barw-0309: #bba050;
@atlas-nowa-paleta-barw-0308: #9c8e52;
@atlas-nowa-paleta-barw-0307: #958c58;
@atlas-nowa-paleta-barw-0318: #d0d4ad;
@atlas-nowa-paleta-barw-0317: #c9cc9e;
@atlas-nowa-paleta-barw-0316: #b0b78f;
@atlas-nowa-paleta-barw-0315: #acb07e;
@atlas-nowa-paleta-barw-0314: #9e9864;
@atlas-nowa-paleta-barw-0313: #8e9261;
@atlas-nowa-paleta-barw-0324: #e2deba;
@atlas-nowa-paleta-barw-0323: #c8c996;
@atlas-nowa-paleta-barw-0322: #babb86;
@atlas-nowa-paleta-barw-0321: #acaf79;
@atlas-nowa-paleta-barw-0320: #a0a266;
@atlas-nowa-paleta-barw-0319: #969b61;
@atlas-nowa-paleta-barw-0330: #d3d9b3;
@atlas-nowa-paleta-barw-0329: #b3c183;
@atlas-nowa-paleta-barw-0328: #aeb36c;
@atlas-nowa-paleta-barw-0327: #a3ab58;
@atlas-nowa-paleta-barw-0326: #939e4f;
@atlas-nowa-paleta-barw-0325: #859148;
@atlas-nowa-paleta-barw-0336: #c0c6b2;
@atlas-nowa-paleta-barw-0335: #b6bba1;
@atlas-nowa-paleta-barw-0334: #a8aa8b;
@atlas-nowa-paleta-barw-0333: #939a78;
@atlas-nowa-paleta-barw-0332: #8a9172;
@atlas-nowa-paleta-barw-0331: #767f5f;
@atlas-nowa-paleta-barw-0342: #98a580;
@atlas-nowa-paleta-barw-0341: #829270;
@atlas-nowa-paleta-barw-0340: #637354;
@atlas-nowa-paleta-barw-0339: #566b54;
@atlas-nowa-paleta-barw-0338: #465e4c;
@atlas-nowa-paleta-barw-0337: #45594e;
@atlas-nowa-paleta-barw-0348: #959e6c;
@atlas-nowa-paleta-barw-0347: #8ea073;
@atlas-nowa-paleta-barw-0346: #8a956d;
@atlas-nowa-paleta-barw-0345: #818b5a;
@atlas-nowa-paleta-barw-0344: #758358;
@atlas-nowa-paleta-barw-0343: #798265;
@atlas-nowa-paleta-barw-0354: #a1b580;
@atlas-nowa-paleta-barw-0353: #95b87c;
@atlas-nowa-paleta-barw-0352: #84a75f;
@atlas-nowa-paleta-barw-0351: #709450;
@atlas-nowa-paleta-barw-0350: #6c914d;
@atlas-nowa-paleta-barw-0349: #577b43;
@atlas-nowa-paleta-barw-0360: #a0c7a4;
@atlas-nowa-paleta-barw-0359: #93c38b;
@atlas-nowa-paleta-barw-0358: #77ad6b;
@atlas-nowa-paleta-barw-0357: #609c59;
@atlas-nowa-paleta-barw-0356: #548b50;
@atlas-nowa-paleta-barw-0355: #48834a;
@atlas-nowa-paleta-barw-0366: #b7c7b4;
@atlas-nowa-paleta-barw-0365: #b3d1ad;
@atlas-nowa-paleta-barw-0364: #96bb8f;
@atlas-nowa-paleta-barw-0363: #84ae7f;
@atlas-nowa-paleta-barw-0362: #7aa67f;
@atlas-nowa-paleta-barw-0361: #629a73;
@atlas-nowa-paleta-barw-0372: #c6dec7;
@atlas-nowa-paleta-barw-0371: #b0d3bd;
@atlas-nowa-paleta-barw-0370: #a5ceb5;
@atlas-nowa-paleta-barw-0369: #93c2a2;
@atlas-nowa-paleta-barw-0368: #76b18e;
@atlas-nowa-paleta-barw-0367: #67a483;
@atlas-nowa-paleta-barw-0378: #bddac6;
@atlas-nowa-paleta-barw-0377: #b4d5c6;
@atlas-nowa-paleta-barw-0376: #90bda7;
@atlas-nowa-paleta-barw-0375: #8abc9e;
@atlas-nowa-paleta-barw-0374: #6ea88f;
@atlas-nowa-paleta-barw-0373: #63a386;
@atlas-nowa-paleta-barw-0384: #deeadf;
@atlas-nowa-paleta-barw-0383: #c9e0d2;
@atlas-nowa-paleta-barw-0382: #a6cdc4;
@atlas-nowa-paleta-barw-0381: #95c0b4;
@atlas-nowa-paleta-barw-0380: #7aaea1;
@atlas-nowa-paleta-barw-0379: #559587;
@atlas-nowa-paleta-barw-0390: #ddecd7;
@atlas-nowa-paleta-barw-0389: #c4e3c6;
@atlas-nowa-paleta-barw-0388: #b4d8bb;
@atlas-nowa-paleta-barw-0387: #99c7a6;
@atlas-nowa-paleta-barw-0386: #81bc8f;
@atlas-nowa-paleta-barw-0385: #73b082;
@atlas-nowa-paleta-barw-0396: #e6e7c6;
@atlas-nowa-paleta-barw-0395: #d9e9c4;
@atlas-nowa-paleta-barw-0394: #cbe3b1;
@atlas-nowa-paleta-barw-0393: #b8dea9;
@atlas-nowa-paleta-barw-0392: #a3cf8e;
@atlas-nowa-paleta-barw-0391: #7ab46a;
@atlas-nowa-paleta-barw-0402: #cde6ad;
@atlas-nowa-paleta-barw-0401: #c5e3a2;
@atlas-nowa-paleta-barw-0400: #aacc84;
@atlas-nowa-paleta-barw-0399: #a0d16d;
@atlas-nowa-paleta-barw-0398: #89c366;
@atlas-nowa-paleta-barw-0397: #83bf5a;
@atlas-nowa-paleta-barw-0408: #e2ebc8;
@atlas-nowa-paleta-barw-0407: #d0e9ac;
@atlas-nowa-paleta-barw-0406: #bdda8f;
@atlas-nowa-paleta-barw-0405: #a7cc7b;
@atlas-nowa-paleta-barw-0404: #9acf67;
@atlas-nowa-paleta-barw-0403: #88bf5c;
@atlas-nowa-paleta-barw-0414: #e1ecb6;
@atlas-nowa-paleta-barw-0413: #cfe160;
@atlas-nowa-paleta-barw-0412: #bdd859;
@atlas-nowa-paleta-barw-0411: #aed45e;
@atlas-nowa-paleta-barw-0410: #98cc5b;
@atlas-nowa-paleta-barw-0409: #7ebb64;
@atlas-nowa-paleta-barw-0420: #eeeac9;
@atlas-nowa-paleta-barw-0419: #e1ecb1;
@atlas-nowa-paleta-barw-0418: #cae38e;
@atlas-nowa-paleta-barw-0417: #c4d872;
@atlas-nowa-paleta-barw-0416: #b7d962;
@atlas-nowa-paleta-barw-0415: #acd25b;
@atlas-nowa-paleta-barw-0426: #e4e5c9;
@atlas-nowa-paleta-barw-0425: #deebb2;
@atlas-nowa-paleta-barw-0424: #c0d685;
@atlas-nowa-paleta-barw-0423: #b7da79;
@atlas-nowa-paleta-barw-0422: #a0d064;
@atlas-nowa-paleta-barw-0421: #96c957;
@atlas-nowa-paleta-barw-0432: #90d096;
@atlas-nowa-paleta-barw-0431: #72bf84;
@atlas-nowa-paleta-barw-0430: #5bb875;
@atlas-nowa-paleta-barw-0429: #4da15e;
@atlas-nowa-paleta-barw-0428: #359a55;
@atlas-nowa-paleta-barw-0427: #108145;
@atlas-nowa-paleta-barw-0438: #9dd3a0;
@atlas-nowa-paleta-barw-0437: #62be8a;
@atlas-nowa-paleta-barw-0436: #59b380;
@atlas-nowa-paleta-barw-0435: #2fa366;
@atlas-nowa-paleta-barw-0434: #2a925a;
@atlas-nowa-paleta-barw-0433: #00874e;
@atlas-nowa-paleta-barw-0444: #a2e0cb;
@atlas-nowa-paleta-barw-0443: #8ad3bd;
@atlas-nowa-paleta-barw-0442: #72cab2;
@atlas-nowa-paleta-barw-0441: #4cb193;
@atlas-nowa-paleta-barw-0440: #34a986;
@atlas-nowa-paleta-barw-0439: #2c9c77;
@atlas-nowa-paleta-barw-0450: #83d6bf;
@atlas-nowa-paleta-barw-0449: #6dcdb5;
@atlas-nowa-paleta-barw-0448: #4cb899;
@atlas-nowa-paleta-barw-0447: #25a989;
@atlas-nowa-paleta-barw-0446: #009876;
@atlas-nowa-paleta-barw-0445: #008a6a;
@atlas-nowa-paleta-barw-0456: #86d8c2;
@atlas-nowa-paleta-barw-0455: #6dccb5;
@atlas-nowa-paleta-barw-0454: #3db99d;
@atlas-nowa-paleta-barw-0453: #009f7e;
@atlas-nowa-paleta-barw-0452: #009677;
@atlas-nowa-paleta-barw-0451: #00896a;
@atlas-nowa-paleta-barw-0462: #79ba96;
@atlas-nowa-paleta-barw-0461: #4f9e7c;
@atlas-nowa-paleta-barw-0460: #419366;
@atlas-nowa-paleta-barw-0459: #2e7e5a;
@atlas-nowa-paleta-barw-0458: #28714f;
@atlas-nowa-paleta-barw-0457: #1e654d;
@atlas-nowa-paleta-barw-0468: #64a68f;
@atlas-nowa-paleta-barw-0467: #468e72;
@atlas-nowa-paleta-barw-0466: #328164;
@atlas-nowa-paleta-barw-0465: #2f6a5a;
@atlas-nowa-paleta-barw-0464: #2e6c5c;
@atlas-nowa-paleta-barw-0463: #2b6353;
@atlas-nowa-paleta-barw-0474: #59b7b3;
@atlas-nowa-paleta-barw-0473: #44a4a4;
@atlas-nowa-paleta-barw-0472: #009895;
@atlas-nowa-paleta-barw-0471: #008784;
@atlas-nowa-paleta-barw-0470: #007977;
@atlas-nowa-paleta-barw-0469: #136764;
@atlas-nowa-paleta-barw-0480: #6bbbc2;
@atlas-nowa-paleta-barw-0479: #4da5ae;
@atlas-nowa-paleta-barw-0478: #2c95a1;
@atlas-nowa-paleta-barw-0477: #008288;
@atlas-nowa-paleta-barw-0476: #06767d;
@atlas-nowa-paleta-barw-0475: #125f66;
@atlas-nowa-paleta-barw-0486: #65b2bf;
@atlas-nowa-paleta-barw-0485: #4799aa;
@atlas-nowa-paleta-barw-0484: #358e9c;
@atlas-nowa-paleta-barw-0483: #278391;
@atlas-nowa-paleta-barw-0482: #24788d;
@atlas-nowa-paleta-barw-0481: #186f81;
@atlas-nowa-paleta-barw-0492: #b6d4d2;
@atlas-nowa-paleta-barw-0491: #a1cac3;
@atlas-nowa-paleta-barw-0490: #60a8b8;
@atlas-nowa-paleta-barw-0489: #4097a2;
@atlas-nowa-paleta-barw-0488: #368a94;
@atlas-nowa-paleta-barw-0487: #2e8188;
@atlas-nowa-paleta-barw-0498: #b9cfcb;
@atlas-nowa-paleta-barw-0497: #b4d6cf;
@atlas-nowa-paleta-barw-0496: #96bbb6;
@atlas-nowa-paleta-barw-0495: #8db0a5;
@atlas-nowa-paleta-barw-0494: #6ba4a2;
@atlas-nowa-paleta-barw-0493: #589a96;
@atlas-nowa-paleta-barw-0504: #c6dfdd;
@atlas-nowa-paleta-barw-0503: #b4d5d8;
@atlas-nowa-paleta-barw-0502: #a2c9ce;
@atlas-nowa-paleta-barw-0501: #8bbabf;
@atlas-nowa-paleta-barw-0500: #79b2b8;
@atlas-nowa-paleta-barw-0499: #5f99a5;
@atlas-nowa-paleta-barw-0510: #c3dadb;
@atlas-nowa-paleta-barw-0509: #5eaac3;
@atlas-nowa-paleta-barw-0508: #4498b5;
@atlas-nowa-paleta-barw-0507: #287e9c;
@atlas-nowa-paleta-barw-0506: #187695;
@atlas-nowa-paleta-barw-0505: #1d6a87;
@atlas-nowa-paleta-barw-0516: #c4cdd1;
@atlas-nowa-paleta-barw-0515: #b9d5dc;
@atlas-nowa-paleta-barw-0514: #7fafd5;
@atlas-nowa-paleta-barw-0513: #70a6d2;
@atlas-nowa-paleta-barw-0512: #60a2c2;
@atlas-nowa-paleta-barw-0511: #5a8ca7;
@atlas-nowa-paleta-barw-0522: #bdd7df;
@atlas-nowa-paleta-barw-0521: #acc7da;
@atlas-nowa-paleta-barw-0520: #7cadcc;
@atlas-nowa-paleta-barw-0519: #488fbf;
@atlas-nowa-paleta-barw-0518: #2a6fa0;
@atlas-nowa-paleta-barw-0517: #2a628f;
@atlas-nowa-paleta-barw-0528: #dae7e1;
@atlas-nowa-paleta-barw-0527: #68a8d1;
@atlas-nowa-paleta-barw-0526: #549cc9;
@atlas-nowa-paleta-barw-0525: #277eb0;
@atlas-nowa-paleta-barw-0524: #2871a0;
@atlas-nowa-paleta-barw-0523: #206799;
@atlas-nowa-paleta-barw-0534: #c1c8cf;
@atlas-nowa-paleta-barw-0533: #88a8b8;
@atlas-nowa-paleta-barw-0532: #6d98b0;
@atlas-nowa-paleta-barw-0531: #426c87;
@atlas-nowa-paleta-barw-0530: #3a5466;
@atlas-nowa-paleta-barw-0529: #3e5362;
@atlas-nowa-paleta-barw-0540: #9da9c3;
@atlas-nowa-paleta-barw-0539: #8ea2c1;
@atlas-nowa-paleta-barw-0538: #798dac;
@atlas-nowa-paleta-barw-0537: #6c85a9;
@atlas-nowa-paleta-barw-0536: #496081;
@atlas-nowa-paleta-barw-0535: #3e4d67;
@atlas-nowa-paleta-barw-0546: #89a7d4;
@atlas-nowa-paleta-barw-0545: #7090c6;
@atlas-nowa-paleta-barw-0544: #5e7bb7;
@atlas-nowa-paleta-barw-0543: #506ca3;
@atlas-nowa-paleta-barw-0542: #3d5590;
@atlas-nowa-paleta-barw-0541: #40507d;
@atlas-nowa-paleta-barw-0552: #8fa5d4;
@atlas-nowa-paleta-barw-0551: #8095cc;
@atlas-nowa-paleta-barw-0550: #7285c1;
@atlas-nowa-paleta-barw-0549: #5b6fac;
@atlas-nowa-paleta-barw-0548: #4c5c95;
@atlas-nowa-paleta-barw-0547: #485288;
@atlas-nowa-paleta-barw-0558: #aca7d3;
@atlas-nowa-paleta-barw-0557: #9a98ce;
@atlas-nowa-paleta-barw-0556: #888cc6;
@atlas-nowa-paleta-barw-0555: #6b72ae;
@atlas-nowa-paleta-barw-0554: #545697;
@atlas-nowa-paleta-barw-0553: #42416a;
@atlas-nowa-paleta-barw-0564: #aa9ece;
@atlas-nowa-paleta-barw-0563: #9a8dc6;
@atlas-nowa-paleta-barw-0562: #786ba6;
@atlas-nowa-paleta-barw-0561: #685a99;
@atlas-nowa-paleta-barw-0560: #594e83;
@atlas-nowa-paleta-barw-0559: #4c3f6a;
@atlas-nowa-paleta-barw-0570: #bfafc3;
@atlas-nowa-paleta-barw-0569: #b3a2bd;
@atlas-nowa-paleta-barw-0568: #9f8ba9;
@atlas-nowa-paleta-barw-0567: #856f99;
@atlas-nowa-paleta-barw-0566: #745c8b;
@atlas-nowa-paleta-barw-0565: #59466c;
@atlas-nowa-paleta-barw-0576: #b3abd6;
@atlas-nowa-paleta-barw-0575: #9393c1;
@atlas-nowa-paleta-barw-0574: #8083b2;
@atlas-nowa-paleta-barw-0573: #6e72a4;
@atlas-nowa-paleta-barw-0572: #545284;
@atlas-nowa-paleta-barw-0571: #45436a;
@atlas-nowa-paleta-barw-0582: #9b9fba;
@atlas-nowa-paleta-barw-0581: #8c96b5;
@atlas-nowa-paleta-barw-0580: #7b84a5;
@atlas-nowa-paleta-barw-0579: #6d7695;
@atlas-nowa-paleta-barw-0578: #545b78;
@atlas-nowa-paleta-barw-0577: #4b4f63;
@atlas-nowa-paleta-barw-0588: #9793a6;
@atlas-nowa-paleta-barw-0587: #85849a;
@atlas-nowa-paleta-barw-0586: #746f83;
@atlas-nowa-paleta-barw-0585: #5e5667;
@atlas-nowa-paleta-barw-0584: #544d59;
@atlas-nowa-paleta-barw-0583: #4b444d;
@atlas-nowa-paleta-barw-0594: #d3b4c7;
@atlas-nowa-paleta-barw-0593: #caa6bc;
@atlas-nowa-paleta-barw-0592: #a17e97;
@atlas-nowa-paleta-barw-0591: #916b84;
@atlas-nowa-paleta-barw-0590: #746273;
@atlas-nowa-paleta-barw-0589: #68535c;
@atlas-nowa-paleta-barw-0600: #e0cdcb;
@atlas-nowa-paleta-barw-0599: #d7c5c2;
@atlas-nowa-paleta-barw-0598: #c0afae;
@atlas-nowa-paleta-barw-0597: #a5908f;
@atlas-nowa-paleta-barw-0596: #957f7a;
@atlas-nowa-paleta-barw-0595: #8a7572;
@atlas-nowa-paleta-barw-0606: #b8aea9;
@atlas-nowa-paleta-barw-0605: #a89e9b;
@atlas-nowa-paleta-barw-0604: #9b9393;
@atlas-nowa-paleta-barw-0603: #897f7b;
@atlas-nowa-paleta-barw-0602: #736c6b;
@atlas-nowa-paleta-barw-0601: #524c49;
@atlas-nowa-paleta-barw-0612: #d3d2cc;
@atlas-nowa-paleta-barw-0611: #c1c0be;
@atlas-nowa-paleta-barw-0610: #b7b7b4;
@atlas-nowa-paleta-barw-0609: #a1a09d;
@atlas-nowa-paleta-barw-0608: #686a68;
@atlas-nowa-paleta-barw-0607: #424345;
@atlas-nowa-paleta-barw-0618: #d8d7d1;
@atlas-nowa-paleta-barw-0617: #c1c6c9;
@atlas-nowa-paleta-barw-0616: #9fa6aa;
@atlas-nowa-paleta-barw-0615: #777e82;
@atlas-nowa-paleta-barw-0614: #515859;
@atlas-nowa-paleta-barw-0613: #42474a;
@atlas-nowa-paleta-barw-0624: #c1c1bd;
@atlas-nowa-paleta-barw-0623: #a6a9ab;
@atlas-nowa-paleta-barw-0622: #979a9b;
@atlas-nowa-paleta-barw-0621: #858a8b;
@atlas-nowa-paleta-barw-0620: #727679;
@atlas-nowa-paleta-barw-0619: #65696b;
@atlas-nowa-paleta-barw-0630: #bbbfbb;
@atlas-nowa-paleta-barw-0629: #adb1ad;
@atlas-nowa-paleta-barw-0628: #9b9f9d;
@atlas-nowa-paleta-barw-0627: #878b86;
@atlas-nowa-paleta-barw-0626: #70726e;
@atlas-nowa-paleta-barw-0625: #5f6462;
@atlas-nowa-paleta-barw-0636: #bfbdb4;
@atlas-nowa-paleta-barw-0635: #b2b0a5;
@atlas-nowa-paleta-barw-0634: #9d9d91;
@atlas-nowa-paleta-barw-0633: #868375;
@atlas-nowa-paleta-barw-0632: #777465;
@atlas-nowa-paleta-barw-0631: #68665c;
@atlas-nowa-paleta-barw-0642: #bcbdb5;
@atlas-nowa-paleta-barw-0641: #a9aea6;
@atlas-nowa-paleta-barw-0640: #989d95;
@atlas-nowa-paleta-barw-0639: #898c83;
@atlas-nowa-paleta-barw-0638: #73756b;
@atlas-nowa-paleta-barw-0637: #6a6b62;
@atlas-nowa-paleta-barw-0648: #b4b5a2;
@atlas-nowa-paleta-barw-0647: #a4a58f;
@atlas-nowa-paleta-barw-0646: #787b73;
@atlas-nowa-paleta-barw-0645: #5d6156;
@atlas-nowa-paleta-barw-0644: #52554c;
@atlas-nowa-paleta-barw-0643: #4a4d47;
@atlas-nowa-paleta-barw-0654: #c3cac3;
@atlas-nowa-paleta-barw-0653: #b4beb6;
@atlas-nowa-paleta-barw-0652: #a2b0a6;
@atlas-nowa-paleta-barw-0651: #919d92;
@atlas-nowa-paleta-barw-0650: #75857a;
@atlas-nowa-paleta-barw-0649: #6b7b70;
@atlas-nowa-paleta-barw-01: #f3dfd2;
@atlas-nowa-paleta-barw-11: #edd4cb;
@atlas-nowa-paleta-barw-12: #edd8cc;
@atlas-nowa-paleta-barw-13: #e7d6ce;
@atlas-nowa-paleta-barw-14: #d3c9c4;
@atlas-nowa-paleta-barw-02: #d1cfca;
@atlas-nowa-paleta-barw-21: #d3d1cd;
@atlas-nowa-paleta-barw-22: #d2ccc6;
@atlas-nowa-paleta-barw-23: #bab9b4;
@atlas-nowa-paleta-barw-24: #b9b8b7;
@atlas-nowa-paleta-barw-03: #d6ddd8;
@atlas-nowa-paleta-barw-31: #d9e1e1;
@atlas-nowa-paleta-barw-32: #d2dade;
@atlas-nowa-paleta-barw-33: #c4d8de;
@atlas-nowa-paleta-barw-34: #cbdde2;
@atlas-nowa-paleta-barw-04: #e0decc;
@atlas-nowa-paleta-barw-41: #dcd9c8;
@atlas-nowa-paleta-barw-42: #e1e1d0;
@atlas-nowa-paleta-barw-43: #e1e8df;
@atlas-nowa-paleta-barw-44: #d6e2d2;
@atlas-nowa-paleta-barw-05: #ede3cd;
@atlas-nowa-paleta-barw-51: #f0ebd0;
@atlas-nowa-paleta-barw-52: #f0e7c6;
@atlas-nowa-paleta-barw-53: #f1e4c6;
@atlas-nowa-paleta-barw-54: #efe0c6;
@atlas-nowa-paleta-barw-06: #f6ddc9;
@atlas-nowa-paleta-barw-61: #efd9c7;
@atlas-nowa-paleta-barw-62: #f2d4bf;
@atlas-nowa-paleta-barw-63: #f0ceb6;
@atlas-nowa-paleta-barw-64: #eec7ae;
@atlas-nowa-paleta-barw-07: #e8d7c6;
@atlas-nowa-paleta-barw-71: #e2d1c5;
@atlas-nowa-paleta-barw-72: #decaba;
@atlas-nowa-paleta-barw-73: #d9c4b2;
@atlas-nowa-paleta-barw-74: #e3d1ba;
@atlas-nowa-paleta-barw-08: #ccdecf;
@atlas-nowa-paleta-barw-81: #cee0d3;
@atlas-nowa-paleta-barw-82: #c9dbd5;
@atlas-nowa-paleta-barw-83: #c6d9d4;
@atlas-nowa-paleta-barw-84: #c4d7d3;