// al-jazeera-magic-colors
@al-jazeera-magic-colors-h-7011: #ede2e4;
@al-jazeera-magic-colors-h-7010: #efdfdf;
@al-jazeera-magic-colors-h-7009: #f0dfdd;
@al-jazeera-magic-colors-h-7008: #f4e0dc;
@al-jazeera-magic-colors-c-3120: #eecebd;
@al-jazeera-magic-colors-h-7054: #e2cecd;
@al-jazeera-magic-colors-h-7056: #e2d2d6;
@al-jazeera-magic-colors-h-7064: #e0bbbe;
@al-jazeera-magic-colors-h-7075: #dcabb8;
@al-jazeera-magic-colors-c-3113: #f7e7d6;
@al-jazeera-magic-colors-c-3117: #eee3da;
@al-jazeera-magic-colors-k-6047: #f6a39c;
@al-jazeera-magic-colors-k-6057: #ed8a83;
@al-jazeera-magic-colors-k-6067: #ea736d;
@al-jazeera-magic-colors-k-6077: #e25e59;
@al-jazeera-magic-colors-k-6087: #d53b39;
@al-jazeera-magic-colors-h-7109: #c64275;
@al-jazeera-magic-colors-h-7108: #c84865;
@al-jazeera-magic-colors-h-7107: #cc4654;
@al-jazeera-magic-colors-k-6023: #facbaa;
@al-jazeera-magic-colors-c-3121: #f0e2dc;
@al-jazeera-magic-colors-c-3118: #f3ded5;
@al-jazeera-magic-colors-c-3209: #b32c18;
@al-jazeera-magic-colors-h-7031: #e2c1da;
@al-jazeera-magic-colors-h-7026: #f9cbc2;
@al-jazeera-magic-colors-h-7030: #e6b9cd;
@al-jazeera-magic-colors-h-7018: #edc8c9;
@al-jazeera-magic-colors-h-7020: #f0d2dc;
@al-jazeera-magic-colors-h-7021: #e9d2df;
@al-jazeera-magic-colors-h-7022: #e0d4e3;
@al-jazeera-magic-colors-h-7023: #d7d6e6;
@al-jazeera-magic-colors-h-7032: #d2bedc;
@al-jazeera-magic-colors-h-7129: #c9a2a1;
@al-jazeera-magic-colors-h-7139: #ca8f8f;
@al-jazeera-magic-colors-h-7149: #c97c7f;
@al-jazeera-magic-colors-h-7368: #c0666a;
@al-jazeera-magic-colors-h-7159: #b14952;
@al-jazeera-magic-colors-h-7044: #e3737b;
@al-jazeera-magic-colors-h-7043: #e78d9c;
@al-jazeera-magic-colors-h-7038: #f0a5b0;
@al-jazeera-magic-colors-h-7028: #f2b9c1;
@al-jazeera-magic-colors-h-7027: #f4b5b4;
@al-jazeera-magic-colors-h-7040: #e9a9c9;
@al-jazeera-magic-colors-c-3250: #7c2527;
@al-jazeera-magic-colors-h-7170: #990015;
@al-jazeera-magic-colors-h-7103: #d86880;
@al-jazeera-magic-colors-h-7102: #d76871;
@al-jazeera-magic-colors-h-7045: #db606b;
@al-jazeera-magic-colors-d-4275: #0d6f95;
@al-jazeera-magic-colors-h-7089: #bdbadc;
@al-jazeera-magic-colors-h-7080: #b1bfde;
@al-jazeera-magic-colors-h-7081: #a7c1dd;
@al-jazeera-magic-colors-d-4122: #e7ece2;
@al-jazeera-magic-colors-h-7006: #e4e9e7;
@al-jazeera-magic-colors-h-7016: #d9e7e9;
@al-jazeera-magic-colors-h-7025: #c6dae6;
@al-jazeera-magic-colors-h-7035: #b0cce5;
@al-jazeera-magic-colors-h-7041: #8abddb;
@al-jazeera-magic-colors-t-8052: #90b3da;
@al-jazeera-magic-colors-h-7135: #afaec5;
@al-jazeera-magic-colors-h-7136: #a8b0c6;
@al-jazeera-magic-colors-h-7137: #a0b1c5;
@al-jazeera-magic-colors-h-7082: #9fc2d8;
@al-jazeera-magic-colors-d-4171: #addacb;
@al-jazeera-magic-colors-h-7118: #bdc4c7;
@al-jazeera-magic-colors-h-7128: #b4c0c5;
@al-jazeera-magic-colors-h-7138: #9cb5c5;
@al-jazeera-magic-colors-h-7148: #85a9c1;
@al-jazeera-magic-colors-h-7158: #6c9abd;
@al-jazeera-magic-colors-h-7377: #498ebc;
@al-jazeera-magic-colors-h-7378: #798acb;
@al-jazeera-magic-colors-h-7369: #6090cc;
@al-jazeera-magic-colors-h-7106: #2e90c7;
@al-jazeera-magic-colors-d-4136: #cddbd9;
@al-jazeera-magic-colors-t-8068: #bac3c4;
@al-jazeera-magic-colors-t-8070: #adbdc2;
@al-jazeera-magic-colors-t-8076: #99b9c5;
@al-jazeera-magic-colors-t-8082: #81afc3;
@al-jazeera-magic-colors-t-8088: #63a1bc;
@al-jazeera-magic-colors-t-8098: #3c99bb;
@al-jazeera-magic-colors-t-8118: #97a7ae;
@al-jazeera-magic-colors-t-8124: #809caa;
@al-jazeera-magic-colors-t-8130: #6593a8;
@al-jazeera-magic-colors-t-8136: #468aa7;
@al-jazeera-magic-colors-t-8146: #117b9f;
@al-jazeera-magic-colors-t-8011: #bae2de;
@al-jazeera-magic-colors-t-8033: #abd2d6;
@al-jazeera-magic-colors-t-8040: #8dcbcc;
@al-jazeera-magic-colors-t-8047: #70c5c8;
@al-jazeera-magic-colors-t-8091: #52a8ac;
@al-jazeera-magic-colors-t-8101: #29a5ab;
@al-jazeera-magic-colors-t-8003: #d5e6e5;
@al-jazeera-magic-colors-t-8009: #c1e1e5;
@al-jazeera-magic-colors-t-8022: #82d1dc;
@al-jazeera-magic-colors-t-8055: #46b8ce;
@al-jazeera-magic-colors-t-8064: #19aad3;
@al-jazeera-magic-colors-r-9097: #e3dbb8;
@al-jazeera-magic-colors-r-9117: #e3d58a;
@al-jazeera-magic-colors-r-9127: #e1d172;
@al-jazeera-magic-colors-r-9137: #e0cb55;
@al-jazeera-magic-colors-r-9212: #c7b55c;
@al-jazeera-magic-colors-r-9096: #e0ddbb;
@al-jazeera-magic-colors-r-9106: #dfd9a1;
@al-jazeera-magic-colors-r-9116: #ddd689;
@al-jazeera-magic-colors-r-9136: #d3c955;
@al-jazeera-magic-colors-r-9146: #d2c338;
@al-jazeera-magic-colors-r-9164: #cdbb00;
@al-jazeera-magic-colors-e-5133: #dfebde;
@al-jazeera-magic-colors-r-9093: #dadfc1;
@al-jazeera-magic-colors-r-9103: #d5ddac;
@al-jazeera-magic-colors-r-9113: #c9d491;
@al-jazeera-magic-colors-r-9123: #bdcb77;
@al-jazeera-magic-colors-e-5163: #c7d8c5;
@al-jazeera-magic-colors-r-9089: #ccdac8;
@al-jazeera-magic-colors-e-5125: #ecefde;
@al-jazeera-magic-colors-e-5124: #ecefdb;
@al-jazeera-magic-colors-r-9099: #bad8b9;
@al-jazeera-magic-colors-r-9109: #a4cfa7;
@al-jazeera-magic-colors-r-9119: #91cb98;
@al-jazeera-magic-colors-r-9129: #7bc685;
@al-jazeera-magic-colors-e-5121: #f1f1d4;
@al-jazeera-magic-colors-e-5120: #ece7d6;
@al-jazeera-magic-colors-r-9139: #57bb6e;
@al-jazeera-magic-colors-r-9149: #2fad57;
@al-jazeera-magic-colors-r-9098: #b4d7bd;
@al-jazeera-magic-colors-r-9101: #c4d8b1;
@al-jazeera-magic-colors-e-5114: #f1f0d8;
@al-jazeera-magic-colors-r-9111: #b1cd98;
@al-jazeera-magic-colors-r-9138: #38bb7e;
@al-jazeera-magic-colors-e-5255: #57a46b;
@al-jazeera-magic-colors-r-9121: #a8ce88;
@al-jazeera-magic-colors-r-9132: #a9c465;
@al-jazeera-magic-colors-r-9141: #8bbc57;
@al-jazeera-magic-colors-r-9158: #4ca831;
@al-jazeera-magic-colors-e-5273: #2b875f;
@al-jazeera-magic-colors-r-9159: #6da000;
@al-jazeera-magic-colors-r-9160: #8fae00;
@al-jazeera-magic-colors-r-9161: #a1b200;
@al-jazeera-magic-colors-r-9162: #b7bb04;
@al-jazeera-magic-colors-e-5283: #295d3f;
@al-jazeera-magic-colors-r-9268: #859e70;
@al-jazeera-magic-colors-r-9217: #92a850;
@al-jazeera-magic-colors-r-9134: #c8cd5e;
@al-jazeera-magic-colors-r-9400: #666241;
@al-jazeera-magic-colors-a-1272: #626b70;
@al-jazeera-magic-colors-a-1209: #ababa9;
@al-jazeera-magic-colors-m-0104: #cac8c2;
@al-jazeera-magic-colors-m-0103: #d4d2cc;
@al-jazeera-magic-colors-b-2112: #f5edde;
@al-jazeera-magic-colors-k-6021: #fbd5a9;
@al-jazeera-magic-colors-m-0109: #8f8e8c;
@al-jazeera-magic-colors-a-1161: #d4d3c9;
@al-jazeera-magic-colors-m-0102: #e1dfd8;
@al-jazeera-magic-colors-b-2125: #f3e4ce;
@al-jazeera-magic-colors-b-2120: #f2e7d1;
@al-jazeera-magic-colors-k-6020: #f9daa4;
@al-jazeera-magic-colors-a-1239: #919798;
@al-jazeera-magic-colors-a-1141: #e0ddd3;
@al-jazeera-magic-colors-m-0170: #e6d9c8;
@al-jazeera-magic-colors-b-2123: #f7e9d0;
@al-jazeera-magic-colors-k-6049: #ffcd64;
@al-jazeera-magic-colors-k-6019: #fbe3ae;
@al-jazeera-magic-colors-a-1124: #ebe4db;
@al-jazeera-magic-colors-a-1116: #f1ead9;
@al-jazeera-magic-colors-k-6012: #f8dec0;
@al-jazeera-magic-colors-b-2121: #f0e2cb;
@al-jazeera-magic-colors-b-2161: #edb600;
@al-jazeera-magic-colors-b-2142: #ecd245;
@al-jazeera-magic-colors-k-6018: #f7e6ad;
@al-jazeera-magic-colors-b-2134: #f3debe;
@al-jazeera-magic-colors-k-6219: #ceaf5a;
@al-jazeera-magic-colors-k-6143: #f1be57;
@al-jazeera-magic-colors-k-6152: #f0c63d;
@al-jazeera-magic-colors-k-6028: #f9df92;
@al-jazeera-magic-colors-b-2136: #ead9b5;
@al-jazeera-magic-colors-k-6001: #f4eed5;
@al-jazeera-magic-colors-k-6223: #d5905b;
@al-jazeera-magic-colors-b-2235: #b96d3c;
@al-jazeera-magic-colors-k-6212: #d7a370;
@al-jazeera-magic-colors-b-2165: #e7c7a2;
@al-jazeera-magic-colors-k-6115: #efc899;
@al-jazeera-magic-colors-k-6361: #a26d3a;
@al-jazeera-magic-colors-b-2257: #935730;
@al-jazeera-magic-colors-k-6194: #d1b6a0;
@al-jazeera-magic-colors-b-2170: #d6c5af;
@al-jazeera-magic-colors-k-6192: #d4bfa3;
@al-jazeera-magic-colors-k-6182: #c9c3b1;
@al-jazeera-magic-colors-b-2275: #704d36;
@al-jazeera-magic-colors-k-6117: #f1c2a2;
@al-jazeera-magic-colors-k-6137: #f4a574;
@al-jazeera-magic-colors-k-6157: #ea854a;
@al-jazeera-magic-colors-k-6177: #de6500;