// marmorit-fassadenfarben
@marmorit-fassadenfarben-marmorit-basalt: #a3afb7;
@marmorit-fassadenfarben-marmorit-basalt-1: #abb6bd;
@marmorit-fassadenfarben-marmorit-basalt-2: #bbc7cd;
@marmorit-fassadenfarben-marmorit-basalt-3: #cbd4d8;
@marmorit-fassadenfarben-marmorit-basalt-4: #d3d8d8;
@marmorit-fassadenfarben-marmorit-bernstein: #edc683;
@marmorit-fassadenfarben-marmorit-bernstein-1: #efcc91;
@marmorit-fassadenfarben-marmorit-bernstein-2: #f3d49f;
@marmorit-fassadenfarben-marmorit-bernstein-3: #f8e0b8;
@marmorit-fassadenfarben-marmorit-bernstein-4: #f6e5c7;
@marmorit-fassadenfarben-marmorit-erde: #c59772;
@marmorit-fassadenfarben-marmorit-erde-1: #d3ab89;
@marmorit-fassadenfarben-marmorit-erde-2: #e1c0a0;
@marmorit-fassadenfarben-marmorit-erde-3: #e9cdb5;
@marmorit-fassadenfarben-marmorit-erde-4: #e8d2bc;
@marmorit-fassadenfarben-marmorit-flieder: #b4b6bf;
@marmorit-fassadenfarben-marmorit-flieder-1: #c1c2c8;
@marmorit-fassadenfarben-marmorit-flieder-2: #cccbce;
@marmorit-fassadenfarben-marmorit-flieder-3: #d3d4d5;
@marmorit-fassadenfarben-marmorit-flieder-4: #d9d7d7;
@marmorit-fassadenfarben-marmorit-ganges: #a79696;
@marmorit-fassadenfarben-marmorit-ganges-1: #b19e9d;
@marmorit-fassadenfarben-marmorit-ganges-2: #c6b6b3;
@marmorit-fassadenfarben-marmorit-ganges-3: #d4c6c3;
@marmorit-fassadenfarben-marmorit-ganges-4: #ddd3d1;
@marmorit-fassadenfarben-marmorit-kies: #c5beab;
@marmorit-fassadenfarben-marmorit-kies-1: #cec9b8;
@marmorit-fassadenfarben-marmorit-kies-2: #d8d3c3;
@marmorit-fassadenfarben-marmorit-kies-3: #dbd8cc;
@marmorit-fassadenfarben-marmorit-kies-4: #dfddd2;
@marmorit-fassadenfarben-marmorit-koralle: #c9a399;
@marmorit-fassadenfarben-marmorit-koralle-1: #d4b3aa;
@marmorit-fassadenfarben-marmorit-koralle-2: #d9bdb2;
@marmorit-fassadenfarben-marmorit-koralle-3: #dec5bc;
@marmorit-fassadenfarben-marmorit-koralle-4: #e9d5ca;
@marmorit-fassadenfarben-marmorit-kuerbis: #d5bc8f;
@marmorit-fassadenfarben-marmorit-kuerbis-1: #dec7a0;
@marmorit-fassadenfarben-marmorit-kuerbis-2: #e8d3b0;
@marmorit-fassadenfarben-marmorit-kuerbis-3: #eddec5;
@marmorit-fassadenfarben-marmorit-kuerbis-4: #ede0ca;
@marmorit-fassadenfarben-marmorit-lasurit: #adc6d2;
@marmorit-fassadenfarben-marmorit-lasurit-1: #bcd1d9;
@marmorit-fassadenfarben-marmorit-lasurit-2: #d3dfe2;
@marmorit-fassadenfarben-marmorit-lasurit-3: #d8e1e2;
@marmorit-fassadenfarben-marmorit-lasurit-4: #dce1e0;
@marmorit-fassadenfarben-marmorit-lehm: #bbae9c;
@marmorit-fassadenfarben-marmorit-lehm-1: #c8bbaa;
@marmorit-fassadenfarben-marmorit-lehm-2: #dacfbe;
@marmorit-fassadenfarben-marmorit-lehm-3: #ddd4c7;
@marmorit-fassadenfarben-marmorit-lehm-4: #e2dbd0;
@marmorit-fassadenfarben-marmorit-malaga: #b28d83;
@marmorit-fassadenfarben-marmorit-malaga-1: #c09e95;
@marmorit-fassadenfarben-marmorit-malaga-2: #d9c0b8;
@marmorit-fassadenfarben-marmorit-malaga-3: #dfc8c2;
@marmorit-fassadenfarben-marmorit-malaga-4: #e5d5ce;
@marmorit-fassadenfarben-marmorit-nektar: #e9b981;
@marmorit-fassadenfarben-marmorit-nektar-1: #efc590;
@marmorit-fassadenfarben-marmorit-nektar-2: #eecba0;
@marmorit-fassadenfarben-marmorit-nektar-3: #f1d8b3;
@marmorit-fassadenfarben-marmorit-nektar-4: #f2e2c7;
@marmorit-fassadenfarben-marmorit-rauch: #b5bbbe;
@marmorit-fassadenfarben-marmorit-rauch-1: #b8babb;
@marmorit-fassadenfarben-marmorit-rauch-2: #c8c9c9;
@marmorit-fassadenfarben-marmorit-rauch-3: #d4d5d3;
@marmorit-fassadenfarben-marmorit-rauch-4: #e1dfda;
@marmorit-fassadenfarben-marmorit-rokoko: #c38b7f;
@marmorit-fassadenfarben-marmorit-rokoko-1: #cd9e93;
@marmorit-fassadenfarben-marmorit-rokoko-2: #d3a79c;
@marmorit-fassadenfarben-marmorit-rokoko-3: #e1beb5;
@marmorit-fassadenfarben-marmorit-rokoko-4: #e8cdc1;
@marmorit-fassadenfarben-marmorit-sahara: #f2daa7;
@marmorit-fassadenfarben-marmorit-sahara-1: #f6dfab;
@marmorit-fassadenfarben-marmorit-sahara-2: #f8e4b6;
@marmorit-fassadenfarben-marmorit-sahara-3: #f8e6c0;
@marmorit-fassadenfarben-marmorit-sahara-4: #f5e7cb;
@marmorit-fassadenfarben-marmorit-sand: #d3bca0;
@marmorit-fassadenfarben-marmorit-sand-1: #dec9ad;
@marmorit-fassadenfarben-marmorit-sand-2: #e1cfb6;
@marmorit-fassadenfarben-marmorit-sand-3: #e3d6c2;
@marmorit-fassadenfarben-marmorit-sand-4: #e9e0d1;
@marmorit-fassadenfarben-marmorit-schiefer: #9d998f;
@marmorit-fassadenfarben-marmorit-schiefer-1: #a5a196;
@marmorit-fassadenfarben-marmorit-schiefer-2: #c2beb4;
@marmorit-fassadenfarben-marmorit-schiefer-3: #d7d3ca;
@marmorit-fassadenfarben-marmorit-schiefer-4: #e6e2da;
@marmorit-fassadenfarben-marmorit-smaragd: #cad0b2;
@marmorit-fassadenfarben-marmorit-smaragd-1: #cfd4b7;
@marmorit-fassadenfarben-marmorit-smaragd-2: #d7d9bf;
@marmorit-fassadenfarben-marmorit-smaragd-3: #e2e2cd;
@marmorit-fassadenfarben-marmorit-smaragd-4: #e8e6d5;
@marmorit-fassadenfarben-marmorit-stein: #bdc1c3;
@marmorit-fassadenfarben-marmorit-stein-1: #c0c4c6;
@marmorit-fassadenfarben-marmorit-stein-2: #c9cbcc;
@marmorit-fassadenfarben-marmorit-stein-3: #d4d7d7;
@marmorit-fassadenfarben-marmorit-stein-4: #e3e3e0;
@marmorit-fassadenfarben-marmorit-stroh: #e3c791;
@marmorit-fassadenfarben-marmorit-stroh-1: #ead2a6;
@marmorit-fassadenfarben-marmorit-stroh-2: #efdebb;
@marmorit-fassadenfarben-marmorit-stroh-3: #efe1c3;
@marmorit-fassadenfarben-marmorit-stroh-4: #f0e7d6;
@marmorit-fassadenfarben-marmorit-tigris: #ceb397;
@marmorit-fassadenfarben-marmorit-tigris-1: #d1b79a;
@marmorit-fassadenfarben-marmorit-tigris-2: #d7bea2;
@marmorit-fassadenfarben-marmorit-tigris-3: #e0c9af;
@marmorit-fassadenfarben-marmorit-tigris-4: #e8d5be;
@marmorit-fassadenfarben-marmorit-topas: #ba907a;
@marmorit-fassadenfarben-marmorit-topas-1: #c0967f;
@marmorit-fassadenfarben-marmorit-topas-2: #cca590;
@marmorit-fassadenfarben-marmorit-topas-3: #d4b19c;
@marmorit-fassadenfarben-marmorit-topas-4: #d9bead;
@marmorit-fassadenfarben-marmorit-torf: #b78d7a;
@marmorit-fassadenfarben-marmorit-torf-1: #c09683;
@marmorit-fassadenfarben-marmorit-torf-2: #c59e8b;
@marmorit-fassadenfarben-marmorit-torf-3: #d0ae9d;
@marmorit-fassadenfarben-marmorit-torf-4: #dec1b2;
@marmorit-fassadenfarben-marmorit-travertin: #ebc08b;
@marmorit-fassadenfarben-marmorit-travertin-1: #f2cc9a;
@marmorit-fassadenfarben-marmorit-travertin-2: #f0d0a5;
@marmorit-fassadenfarben-marmorit-travertin-3: #f5dbb8;
@marmorit-fassadenfarben-marmorit-travertin-4: #f3e1c6;
@marmorit-fassadenfarben-marmorit-trend: #d7d0c0;
@marmorit-fassadenfarben-marmorit-trend-1: #d7c4c2;
@marmorit-fassadenfarben-marmorit-trend-2: #cfcfca;
@marmorit-fassadenfarben-marmorit-trend-3: #c7cccc;
@marmorit-fassadenfarben-marmorit-trend-4: #d2c8c8;
@marmorit-fassadenfarben-marmorit-verde: #b4bfaf;
@marmorit-fassadenfarben-marmorit-verde-1: #bcc7bc;
@marmorit-fassadenfarben-marmorit-verde-2: #c3cbc0;
@marmorit-fassadenfarben-marmorit-verde-3: #d3d8ce;
@marmorit-fassadenfarben-marmorit-verde-4: #dddfd6;
@marmorit-fassadenfarben-marmorit-weinlaub: #dacfa5;
@marmorit-fassadenfarben-marmorit-weinlaub-1: #ddd2ac;
@marmorit-fassadenfarben-marmorit-weinlaub-2: #e2d9b7;
@marmorit-fassadenfarben-marmorit-weinlaub-3: #ece2c6;
@marmorit-fassadenfarben-marmorit-weinlaub-4: #eae4d1;
@marmorit-fassadenfarben-marmorit-zitrus: #f0dea4;
@marmorit-fassadenfarben-marmorit-zitrus-1: #f0e0ac;
@marmorit-fassadenfarben-marmorit-zitrus-2: #f1e4b8;
@marmorit-fassadenfarben-marmorit-zitrus-3: #ede4c1;
@marmorit-fassadenfarben-marmorit-zitrus-4: #efe8d2;