// relius-style-und-trend-380
@relius-style-und-trend-380-s-0505-g90y: #f7f3db;
@relius-style-und-trend-380-s-0520-g90y: #f4eab0;
@relius-style-und-trend-380-s-0540-g90y: #f9e781;
@relius-style-und-trend-380-s-0550-g90y: #f6e169;
@relius-style-und-trend-380-s-0560-g90y: #efd84b;
@relius-style-und-trend-380-s-0502-y: #eeebda;
@relius-style-und-trend-380-s-0510-y: #f4eac5;
@relius-style-und-trend-380-s-0520-y: #f9e8af;
@relius-style-und-trend-380-s-0530-y: #fde596;
@relius-style-und-trend-380-s-0540-y: #ffe384;
@relius-style-und-trend-380-s-0507-y: #f6efd4;
@relius-style-und-trend-380-s-1015-y: #eaddb1;
@relius-style-und-trend-380-s-1030-y: #e8d088;
@relius-style-und-trend-380-s-1050-y: #eecd61;
@relius-style-und-trend-380-s-1070-y: #edc025;
@relius-style-und-trend-380-s-1010-y: #e8dcb8;
@relius-style-und-trend-380-s-1515-y: #ded0a6;
@relius-style-und-trend-380-s-2020-y: #cfbe8f;
@relius-style-und-trend-380-s-2030-y: #cdb676;
@relius-style-und-trend-380-s-2050-y: #caac52;
@relius-style-und-trend-380-s-0804-y10r: #f0e9d6;
@relius-style-und-trend-380-s-1515-y10r: #dfcca4;
@relius-style-und-trend-380-s-2030-y10r: #d5b67b;
@relius-style-und-trend-380-s-3040-y10r: #bd9658;
@relius-style-und-trend-380-s-3060-y10r: #b4832b;
@relius-style-und-trend-380-s-0505-y10r: #f7efd7;
@relius-style-und-trend-380-s-0520-y10r: #fde7b2;
@relius-style-und-trend-380-s-0540-y10r: #ffd581;
@relius-style-und-trend-380-s-0560-y10r: #ffc754;
@relius-style-und-trend-380-s-1070-y10r: #f3b42c;
@relius-style-und-trend-380-s-0510-y10r: #fbebc4;
@relius-style-und-trend-380-s-0530-y10r: #fddb94;
@relius-style-und-trend-380-s-1040-y10r: #f3c975;
@relius-style-und-trend-380-s-1060-y10r: #f9bf48;
@relius-style-und-trend-380-s-2070-y10r: #d59920;
@relius-style-und-trend-380-s-0505-y20r: #f9efd5;
@relius-style-und-trend-380-s-0515-y20r: #fce4b9;
@relius-style-und-trend-380-s-1030-y20r: #f3c786;
@relius-style-und-trend-380-s-1050-y20r: #f2b660;
@relius-style-und-trend-380-s-1070-y20r: #f3a434;
@relius-style-und-trend-380-s-0510-y20r: #f9e7c4;
@relius-style-und-trend-380-s-0520-y20r: #fde0a9;
@relius-style-und-trend-380-s-1040-y20r: #f4bf73;
@relius-style-und-trend-380-s-2050-y20r: #d69c52;
@relius-style-und-trend-380-s-3060-y20r: #b77c32;
@relius-style-und-trend-380-s-1010-y20r: #e9d7b6;
@relius-style-und-trend-380-s-2020-y20r: #d2b489;
@relius-style-und-trend-380-s-3030-y20r: #bd9766;
@relius-style-und-trend-380-s-4040-y20r: #a47842;
@relius-style-und-trend-380-s-5040-y20r: #906637;
@relius-style-und-trend-380-s-0907-y30r: #f0dfc7;
@relius-style-und-trend-380-s-1515-y30r: #e4c5a1;
@relius-style-und-trend-380-s-2030-y30r: #d8a675;
@relius-style-und-trend-380-s-4030-y30r: #ab7e56;
@relius-style-und-trend-380-s-6030-y30r: #7a563a;
@relius-style-und-trend-380-s-0510-y30r: #fde8cb;
@relius-style-und-trend-380-s-1020-y30r: #f3cb9d;
@relius-style-und-trend-380-s-2040-y30r: #d99d64;
@relius-style-und-trend-380-s-3050-y30r: #be7f49;
@relius-style-und-trend-380-s-4550-y30r: #9a6235;
@relius-style-und-trend-380-s-0505-y30r: #f8edd6;
@relius-style-und-trend-380-s-0515-y30r: #fedeb7;
@relius-style-und-trend-380-s-0530-y30r: #ffcc91;
@relius-style-und-trend-380-s-1050-y30r: #f3ab64;
@relius-style-und-trend-380-s-2060-y30r: #d58841;
@relius-style-und-trend-380-s-0510-y40r: #fce3c6;
@relius-style-und-trend-380-s-0520-y40r: #ffd6ad;
@relius-style-und-trend-380-s-1030-y40r: #f4ba8a;
@relius-style-und-trend-380-s-1050-y40r: #f1a065;
@relius-style-und-trend-380-s-1070-y40r: #ee8a40;
@relius-style-und-trend-380-s-0507-y40r: #fae8d1;
@relius-style-und-trend-380-s-0515-y40r: #fddbb9;
@relius-style-und-trend-380-s-1020-y40r: #f1c69f;
@relius-style-und-trend-380-s-2030-y40r: #d6a077;
@relius-style-und-trend-380-s-3040-y40r: #bc8055;
@relius-style-und-trend-380-s-0603-y40r: #f3ecdd;
@relius-style-und-trend-380-s-1010-y40r: #ecd4b8;
@relius-style-und-trend-380-s-2010-y40r: #d3bba2;
@relius-style-und-trend-380-s-4020-y40r: #a9856a;
@relius-style-und-trend-380-s-6030-y40r: #7b5338;
@relius-style-und-trend-380-s-0502-y50r: #f3ece0;
@relius-style-und-trend-380-s-0907-y50r: #efddca;
@relius-style-und-trend-380-s-1515-y50r: #e3bfa5;
@relius-style-und-trend-380-s-3030-y50r: #c38b6c;
@relius-style-und-trend-380-s-5040-y50r: #8b563b;
@relius-style-und-trend-380-s-0510-y50r: #fbe4ce;
@relius-style-und-trend-380-s-1020-y50r: #f0c2a2;
@relius-style-und-trend-380-s-2040-y50r: #d8916a;
@relius-style-und-trend-380-s-2060-y50r: #cc7646;
@relius-style-und-trend-380-s-3560-y50r: #a55c33;
@relius-style-und-trend-380-s-0505-y50r: #f6e6d3;
@relius-style-und-trend-380-s-0515-y50r: #fcd8bb;
@relius-style-und-trend-380-s-1030-y50r: #f6b58e;
@relius-style-und-trend-380-s-1050-y50r: #f19c69;
@relius-style-und-trend-380-s-2070-y50r: #ce6c37;
@relius-style-und-trend-380-s-0515-y60r: #fed8c1;
@relius-style-und-trend-380-s-0530-y60r: #fabb99;
@relius-style-und-trend-380-s-1040-y60r: #f4a682;
@relius-style-und-trend-380-s-2050-y60r: #d27d5b;
@relius-style-und-trend-380-s-3060-y60r: #af5c38;
@relius-style-und-trend-380-s-0510-y70r: #fce1d0;
@relius-style-und-trend-380-s-0520-y70r: #fcceba;
@relius-style-und-trend-380-s-1030-y70r: #efb299;
@relius-style-und-trend-380-s-2040-y70r: #d38a72;
@relius-style-und-trend-380-s-3050-y70r: #b2614d;
@relius-style-und-trend-380-s-0907-y70r: #eedbcf;
@relius-style-und-trend-380-s-1510-y70r: #ddc4b6;
@relius-style-und-trend-380-s-2020-y70r: #d2a897;
@relius-style-und-trend-380-s-4030-y70r: #a97060;
@relius-style-und-trend-380-s-5040-y70r: #834a39;
@relius-style-und-trend-380-s-0507-y80r: #fce9df;
@relius-style-und-trend-380-s-1015-y80r: #ecc9bd;
@relius-style-und-trend-380-s-1030-y80r: #e9aa9a;
@relius-style-und-trend-380-s-2040-y80r: #d58778;
@relius-style-und-trend-380-s-3050-y80r: #ab5c4f;
@relius-style-und-trend-380-s-0505-y90r: #f5e8df;
@relius-style-und-trend-380-s-0515-y90r: #fbd8cf;
@relius-style-und-trend-380-s-0530-y90r: #fcbbb2;
@relius-style-und-trend-380-s-1040-y90r: #ea9b93;
@relius-style-und-trend-380-s-2050-y90r: #ca706a;
@relius-style-und-trend-380-s-0510-y90r: #fbe3d8;
@relius-style-und-trend-380-s-0520-y90r: #fdcfc6;
@relius-style-und-trend-380-s-1030-y90r: #e7aaa3;
@relius-style-und-trend-380-s-2040-y90r: #ce847e;
@relius-style-und-trend-380-s-3040-y90r: #b36e68;
@relius-style-und-trend-380-s-0804-y90r: #efe4de;
@relius-style-und-trend-380-s-1010-y90r: #e9d2cb;
@relius-style-und-trend-380-s-2020-y90r: #d2a79f;
@relius-style-und-trend-380-s-3030-y90r: #b77d77;
@relius-style-und-trend-380-s-4040-y90r: #995852;
@relius-style-und-trend-380-s-0502-r: #f6efe8;
@relius-style-und-trend-380-s-0907-y90r: #edddd6;
@relius-style-und-trend-380-s-1515-y90r: #dcbab2;
@relius-style-und-trend-380-s-3020-y90r: #ba918b;
@relius-style-und-trend-380-s-5020-y90r: #8b6661;
@relius-style-und-trend-380-s-0505-r10b: #f2e7e3;
@relius-style-und-trend-380-s-0515-r10b: #f5dada;
@relius-style-und-trend-380-s-1030-r10b: #e5adb4;
@relius-style-und-trend-380-s-2030-r10b: #cc97a0;
@relius-style-und-trend-380-s-3030-r10b: #b28088;
@relius-style-und-trend-380-s-0510-r30b: #f1e2e3;
@relius-style-und-trend-380-s-0520-r30b: #f3d5df;
@relius-style-und-trend-380-s-1030-r30b: #deb4c7;
@relius-style-und-trend-380-s-2030-r30b: #ca9bb0;
@relius-style-und-trend-380-s-3030-r30b: #ac7f94;
@relius-style-und-trend-380-s-0505-r40b: #eee7e8;
@relius-style-und-trend-380-s-1010-r40b: #dfd5da;
@relius-style-und-trend-380-s-1515-r40b: #d2c2cf;
@relius-style-und-trend-380-s-2030-r40b: #bc9bb7;
@relius-style-und-trend-380-s-4030-r40b: #8c6a85;
@relius-style-und-trend-380-s-0603-r40b: #ece9e8;
@relius-style-und-trend-380-s-1005-r40b: #e3dedd;
@relius-style-und-trend-380-s-1510-r40b: #d2c8cf;
@relius-style-und-trend-380-s-3020-r40b: #aa93a5;
@relius-style-und-trend-380-s-5020-r40b: #7f6679;
@relius-style-und-trend-380-s-0505-r60b: #ededee;
@relius-style-und-trend-380-s-0515-r60b: #dfe0ec;
@relius-style-und-trend-380-s-1030-r60b: #c2bee0;
@relius-style-und-trend-380-s-2040-r60b: #9e94c3;
@relius-style-und-trend-380-s-2050-r60b: #9180bf;
@relius-style-und-trend-380-s-0510-r70b: #e2e8ec;
@relius-style-und-trend-380-s-0520-r70b: #d2dbec;
@relius-style-und-trend-380-s-1030-r70b: #b3c1e1;
@relius-style-und-trend-380-s-2040-r70b: #8f9aca;
@relius-style-und-trend-380-s-3050-r70b: #616aa4;
@relius-style-und-trend-380-s-0515-r80b: #d3e2ec;
@relius-style-und-trend-380-s-0530-r80b: #b5d0e8;
@relius-style-und-trend-380-s-1040-r80b: #99bae1;
@relius-style-und-trend-380-s-1550-r80b: #73a0d3;
@relius-style-und-trend-380-s-2060-r80b: #5180c3;
@relius-style-und-trend-380-s-0510-r90b: #ddebee;
@relius-style-und-trend-380-s-0520-r90b: #c6dfe9;
@relius-style-und-trend-380-s-0540-r90b: #96c8e9;
@relius-style-und-trend-380-s-2060-r90b: #3787bf;
@relius-style-und-trend-380-s-3065-r90b: #00649b;
@relius-style-und-trend-380-s-0505-r90b: #e7edea;
@relius-style-und-trend-380-s-0515-r90b: #d0e2eb;
@relius-style-und-trend-380-s-0530-r90b: #abd1e7;
@relius-style-und-trend-380-s-1050-r90b: #71b3df;
@relius-style-und-trend-380-s-1560-r90b: #4395cb;
@relius-style-und-trend-380-s-0907-r90b: #d9e1e3;
@relius-style-und-trend-380-s-1015-r90b: #c4d6e0;
@relius-style-und-trend-380-s-2020-r90b: #a2b9ca;
@relius-style-und-trend-380-s-3030-r90b: #7797b3;
@relius-style-und-trend-380-s-5030-r90b: #4a6782;
@relius-style-und-trend-380-s-0804-r90b: #e5e7e6;
@relius-style-und-trend-380-s-1010-r90b: #cbd9df;
@relius-style-und-trend-380-s-1515-r90b: #b6cad5;
@relius-style-und-trend-380-s-3020-r90b: #899eb1;
@relius-style-und-trend-380-s-5020-r90b: #627587;
@relius-style-und-trend-380-s-1005-r90b: #d9dfde;
@relius-style-und-trend-380-s-2005-r90b: #c2c9cc;
@relius-style-und-trend-380-s-3010-r90b: #9faab3;
@relius-style-und-trend-380-s-5010-r90b: #77818b;
@relius-style-und-trend-380-s-7010-r90b: #4c555f;
@relius-style-und-trend-380-s-1002-b: #dde1df;
@relius-style-und-trend-380-s-2005-b: #bfc7c8;
@relius-style-und-trend-380-s-3010-b: #9fadb3;
@relius-style-und-trend-380-s-4020-b: #728d9c;
@relius-style-und-trend-380-s-6030-b: #315568;
@relius-style-und-trend-380-s-0510-b: #d7e8e9;
@relius-style-und-trend-380-s-1020-b: #b5d5de;
@relius-style-und-trend-380-s-2030-b: #8ab6c9;
@relius-style-und-trend-380-s-3040-b: #528eaa;
@relius-style-und-trend-380-s-4050-b: #176c8b;
@relius-style-und-trend-380-s-0507-b: #e1edec;
@relius-style-und-trend-380-s-0520-b: #c4e4eb;
@relius-style-und-trend-380-s-0540-b: #8fcde1;
@relius-style-und-trend-380-s-1050-b: #60b5d3;
@relius-style-und-trend-380-s-2060-b: #1091bc;
@relius-style-und-trend-380-s-0510-b10g: #d5e9e6;
@relius-style-und-trend-380-s-0520-b10g: #bde4e7;
@relius-style-und-trend-380-s-0540-b10g: #86d3e0;
@relius-style-und-trend-380-s-1050-b10g: #52bcd2;
@relius-style-und-trend-380-s-2050-b10g: #3ca2ba;
@relius-style-und-trend-380-s-0507-b20g: #e0eeeb;
@relius-style-und-trend-380-s-1015-b20g: #bddbdb;
@relius-style-und-trend-380-s-1040-b20g: #7bc9d0;
@relius-style-und-trend-380-s-2050-b20g: #39a6b2;
@relius-style-und-trend-380-s-3050-b20g: #138b96;
@relius-style-und-trend-380-s-0505-b20g: #e6f0ec;
@relius-style-und-trend-380-s-1010-b30g: #ccdfdd;
@relius-style-und-trend-380-s-2020-b30g: #9bc3c3;
@relius-style-und-trend-380-s-4030-b30g: #588b90;
@relius-style-und-trend-380-s-5030-b30g: #406f74;
@relius-style-und-trend-380-s-0502-b50g: #eaeee8;
@relius-style-und-trend-380-s-1005-b50g: #d8e2dd;
@relius-style-und-trend-380-s-2010-b50g: #aec1be;
@relius-style-und-trend-380-s-4010-b50g: #8b9b99;
@relius-style-und-trend-380-s-6010-b50g: #617270;
@relius-style-und-trend-380-s-1010-b50g: #cbdfda;
@relius-style-und-trend-380-s-1515-b50g: #b3d0cc;
@relius-style-und-trend-380-s-3020-b50g: #84a8a5;
@relius-style-und-trend-380-s-5020-b50g: #5d7f7d;
@relius-style-und-trend-380-s-6020-b50g: #4b6867;
@relius-style-und-trend-380-s-0505-b50g: #e6efe8;
@relius-style-und-trend-380-s-1015-b50g: #bfdcd7;
@relius-style-und-trend-380-s-2030-b50g: #80b8b4;
@relius-style-und-trend-380-s-3040-b50g: #499792;
@relius-style-und-trend-380-s-3050-b50g: #189189;
@relius-style-und-trend-380-s-0510-b50g: #dff0e8;
@relius-style-und-trend-380-s-0515-b50g: #ceebe4;
@relius-style-und-trend-380-s-0530-b50g: #aae8df;
@relius-style-und-trend-380-s-1050-b50g: #49c4ba;
@relius-style-und-trend-380-s-2060-b50g: #00a196;
@relius-style-und-trend-380-s-0510-b70g: #dcefe4;
@relius-style-und-trend-380-s-0520-b70g: #c3ebdd;
@relius-style-und-trend-380-s-0530-b70g: #a7e4d3;
@relius-style-und-trend-380-s-1050-b70g: #4ecdb6;
@relius-style-und-trend-380-s-2060-b70g: #00a38b;
@relius-style-und-trend-380-s-0510-b90g: #dfeee0;
@relius-style-und-trend-380-s-0520-b90g: #c9edd8;
@relius-style-und-trend-380-s-1030-b90g: #a1d6bc;
@relius-style-und-trend-380-s-1050-b90g: #62c9a3;
@relius-style-und-trend-380-s-2050-b90g: #41ac88;
@relius-style-und-trend-380-s-0505-b80g: #ecf3e9;
@relius-style-und-trend-380-s-1010-b90g: #d1e1d5;
@relius-style-und-trend-380-s-2020-b90g: #9ebfae;
@relius-style-und-trend-380-s-3030-b90g: #6ba28c;
@relius-style-und-trend-380-s-4040-b90g: #3c836b;
@relius-style-und-trend-380-s-1005-b80g: #d6e0d8;
@relius-style-und-trend-380-s-2005-b80g: #bdc7c1;
@relius-style-und-trend-380-s-3010-b90g: #a1b2a8;
@relius-style-und-trend-380-s-5010-b90g: #73847c;
@relius-style-und-trend-380-s-7010-b90g: #4c5b53;
@relius-style-und-trend-380-s-1005-g30y: #dde1d3;
@relius-style-und-trend-380-s-2010-g30y: #bbc5b0;
@relius-style-und-trend-380-s-3020-g30y: #99aa87;
@relius-style-und-trend-380-s-5020-g30y: #6f7e61;
@relius-style-und-trend-380-s-6020-g30y: #5a694f;
@relius-style-und-trend-380-s-0907-g20y: #dde4d5;
@relius-style-und-trend-380-s-1515-g20y: #bfd0b7;
@relius-style-und-trend-380-s-2040-g20y: #85b37d;
@relius-style-und-trend-380-s-3040-g20y: #6f9b64;
@relius-style-und-trend-380-s-4040-g20y: #598353;
@relius-style-und-trend-380-s-0510-g30y: #e8f0d6;
@relius-style-und-trend-380-s-1020-g30y: #c8dbb4;
@relius-style-und-trend-380-s-1040-g30y: #add18c;
@relius-style-und-trend-380-s-2040-g30y: #91b374;
@relius-style-und-trend-380-s-3040-g30y: #7d9c64;
@relius-style-und-trend-380-s-0505-g30y: #edf0df;
@relius-style-und-trend-380-s-0520-g30y: #d8eac1;
@relius-style-und-trend-380-s-0540-g30y: #b7de95;
@relius-style-und-trend-380-s-0560-g30y: #a2d369;
@relius-style-und-trend-380-s-1070-g30y: #80b549;
@relius-style-und-trend-380-s-0502-g50y: #f0f0e3;
@relius-style-und-trend-380-s-0510-g50y: #ebefd3;
@relius-style-und-trend-380-s-0530-g50y: #dbe79f;
@relius-style-und-trend-380-s-0550-g50y: #cadb70;
@relius-style-und-trend-380-s-1060-g50y: #b8c752;
@relius-style-und-trend-380-s-0507-g40y: #edf0dc;
@relius-style-und-trend-380-s-0515-g40y: #e8efcd;
@relius-style-und-trend-380-s-1020-g40y: #cbd6ac;
@relius-style-und-trend-380-s-2030-g40y: #abb783;
@relius-style-und-trend-380-s-3040-g40y: #8b9c60;
@relius-style-und-trend-380-s-0603-g40y: #ecede2;
@relius-style-und-trend-380-s-1005-g40y: #e0e3d3;
@relius-style-und-trend-380-s-1510-g40y: #ced4bc;
@relius-style-und-trend-380-s-2020-g40y: #b6c099;
@relius-style-und-trend-380-s-3020-g40y: #9ea784;
@relius-style-und-trend-380-s-0505-g70y: #f1f1dd;
@relius-style-und-trend-380-s-1010-g70y: #e0dfbf;
@relius-style-und-trend-380-s-2020-g70y: #c3c290;
@relius-style-und-trend-380-s-3020-g70y: #aaa980;
@relius-style-und-trend-380-s-5020-g70y: #7f7d59;
@relius-style-und-trend-380-s-0804-g90y: #ece9d8;
@relius-style-und-trend-380-s-1010-g90y: #e5debc;
@relius-style-und-trend-380-s-2020-g90y: #cdc293;
@relius-style-und-trend-380-s-3020-g90y: #b6a97d;
@relius-style-und-trend-380-s-5030-g90y: #867747;
@relius-style-und-trend-380-s-0907-g90y: #e9e4cb;
@relius-style-und-trend-380-s-2010-g90y: #cbc3a4;
@relius-style-und-trend-380-s-3010-g90y: #b4ad91;
@relius-style-und-trend-380-s-5010-g90y: #8c846d;
@relius-style-und-trend-380-s-7010-g90y: #625b48;
@relius-style-und-trend-380-s-1005-y: #e6e0ca;
@relius-style-und-trend-380-s-1510-y: #dcd2b3;
@relius-style-und-trend-380-s-3010-y: #b9ae90;
@relius-style-und-trend-380-s-4020-y: #a28f66;
@relius-style-und-trend-380-s-6020-y: #786543;
@relius-style-und-trend-380-s-1505-y10r: #dbd4c0;
@relius-style-und-trend-380-s-2010-y10r: #cfc1a4;
@relius-style-und-trend-380-s-3020-y10r: #bda47c;
@relius-style-und-trend-380-s-5020-y10r: #8e7857;
@relius-style-und-trend-380-s-7020-y10r: #604d33;
@relius-style-und-trend-380-s-1005-y10r: #e4dcc7;
@relius-style-und-trend-380-s-2005-y10r: #cec6b2;
@relius-style-und-trend-380-s-3010-y10r: #b8a98e;
@relius-style-und-trend-380-s-5010-y10r: #948670;
@relius-style-und-trend-380-s-7010-y10r: #6a5d4d;
@relius-style-und-trend-380-s-1005-y30r: #e5dac6;
@relius-style-und-trend-380-s-2005-y40r: #cfc1b0;
@relius-style-und-trend-380-s-3010-y30r: #bda890;
@relius-style-und-trend-380-s-5020-y30r: #8f7153;
@relius-style-und-trend-380-s-6020-y30r: #7a5f48;
@relius-style-und-trend-380-s-1002-y50r: #e5dfd5;
@relius-style-und-trend-380-s-1505-y50r: #dbcfc1;
@relius-style-und-trend-380-s-2005-y50r: #cbc0b3;
@relius-style-und-trend-380-s-3005-y50r: #b5a89b;
@relius-style-und-trend-380-s-5005-y50r: #8f837a;
@relius-style-und-trend-380-s-1002-r: #e5e0dc;
@relius-style-und-trend-380-s-1502-r: #d6d2ce;
@relius-style-und-trend-380-s-2502-r: #c1bcba;
@relius-style-und-trend-380-s-3502-r: #aaa5a2;
@relius-style-und-trend-380-s-5502-r: #827c7b;
@relius-style-und-trend-380-s-0502-r50b: #f0edeb;
@relius-style-und-trend-380-s-1005-r50b: #dedcdc;
@relius-style-und-trend-380-s-2005-r50b: #c3c0c4;
@relius-style-und-trend-380-s-4005-r50b: #9a979b;
@relius-style-und-trend-380-s-6005-r50b: #736f74;
@relius-style-und-trend-380-s-0603-r80b: #e8ebe9;
@relius-style-und-trend-380-s-1005-r80b: #dadedf;
@relius-style-und-trend-380-s-2005-r80b: #c3c7c9;
@relius-style-und-trend-380-s-3005-r80b: #abb0b4;
@relius-style-und-trend-380-s-5005-r80b: #818489;
@relius-style-und-trend-380-s-1002-b: #dbdfdd;
@relius-style-und-trend-380-s-1502-b: #d0d4d2;
@relius-style-und-trend-380-s-2502-b: #b7bbbb;
@relius-style-und-trend-380-s-3502-b: #a2a5a5;
@relius-style-und-trend-380-s-5502-b: #7c7f80;
@relius-style-und-trend-380-s-1002-g: #dde1da;
@relius-style-und-trend-380-s-1502-g: #cfd2cc;
@relius-style-und-trend-380-s-2502-g: #b8bbb6;
@relius-style-und-trend-380-s-3502-g: #a2a5a2;
@relius-style-und-trend-380-s-5502-g: #7b7f7b;
@relius-style-und-trend-380-s-1005-g80y: #e4e2cf;
@relius-style-und-trend-380-s-2005-g80y: #cac9b5;
@relius-style-und-trend-380-s-3005-g80y: #b6b4a2;
@relius-style-und-trend-380-s-5005-g80y: #898879;
@relius-style-und-trend-380-s-7005-g80y: #646157;
@relius-style-und-trend-380-s-1002-y: #e0ddd1;
@relius-style-und-trend-380-s-1502-y: #d6d4c8;
@relius-style-und-trend-380-s-2502-y: #bdbaaf;
@relius-style-und-trend-380-s-3502-y: #a9a69d;
@relius-style-und-trend-380-s-5502-y: #817e77;
@relius-style-und-trend-380-s-1000-n: #e2e0dc;
@relius-style-und-trend-380-s-2000-n: #cac7c3;
@relius-style-und-trend-380-s-4000-n: #9c9b99;
@relius-style-und-trend-380-s-6000-n: #787775;
@relius-style-und-trend-380-s-7500-n: #5d5c5b;