// t-shade-tailor-made-colors
@t-shade-tailor-made-colors-bms-1635-bomag-gelb: #f7c22e;
@t-shade-tailor-made-colors-bms-281-caterpillar-gelb: #be8738;
@t-shade-tailor-made-colors-bms-1656-caterpillar-gelb: #bd8737;
@t-shade-tailor-made-colors-lm-288-clayson-gelb: #e2aa49;
@t-shade-tailor-made-colors-lm-215-clayson-gelb-new-holland: #dfb63f;
@t-shade-tailor-made-colors-lm-1209-david-brown-beige: #ebddc4;
@t-shade-tailor-made-colors-lm-1223-fiat-agri-beige: #d3ccaa;
@t-shade-tailor-made-colors-bms-1475-hyster-gelb: #d39742;
@t-shade-tailor-made-colors-bms-1352-jcb-yellow: #f59c00;
@t-shade-tailor-made-colors-lm-217-john-deere-gelb: #ffce36;
@t-shade-tailor-made-colors-bms-2294-jungheinrich-yale-gelb: #d8891b;
@t-shade-tailor-made-colors-bms-1446-komatsu-natural-yellow: #e29f00;
@t-shade-tailor-made-colors-bms-1222-kramerineuson-gelb: #e3a100;
@t-shade-tailor-made-colors-lm-216-krone-aufbau-creme: #ebc484;
@t-shade-tailor-made-colors-lm-1229-krone-creme-neu: #f3c276;
@t-shade-tailor-made-colors-bms-1108-liebherr-gelb: #d78d20;
@t-shade-tailor-made-colors-bms-1395-liebherr-gelb-neu: #cf8718;
@t-shade-tailor-made-colors-lm-1865-new-holland-gelb: #eaaf2c;
@t-shade-tailor-made-colors-lm-1622-new-holland-gelb-mahdrescher: #faad00;
@t-shade-tailor-made-colors-lm-1101-p2-zweegers-beige: #bdab75;
@t-shade-tailor-made-colors-lm-285-renault-gelb: #e97800;
@t-shade-tailor-made-colors-lm-1228-same-elfenbein: #e8d4ad;
@t-shade-tailor-made-colors-lm-293-schluter-felgenbeige: #a98d63;
@t-shade-tailor-made-colors-lm-1232-vicon-gelb: #ddae6f;
@t-shade-tailor-made-colors-bms-1130-volvo-baumaschinen-gelb: #e29b00;
@t-shade-tailor-made-colors-bms-1116-zeppelin-cat-gelb: #bf842f;
@t-shade-tailor-made-colors-bms-2135-atlas-orange: #d2481c;
@t-shade-tailor-made-colors-lm-238-fiat-agri-orange: #c35421;
@t-shade-tailor-made-colors-bms-2306-fiat-kobelco-orange: #de5600;
@t-shade-tailor-made-colors-bms-2312-hitachi-orange: #d05402;
@t-shade-tailor-made-colors-lm-2139-howard-orange: #ba4a1f;
@t-shade-tailor-made-colors-lm-286-maschio-orange: #db5500;
@t-shade-tailor-made-colors-bms-2257-steinbock-orange: #e55811;
@t-shade-tailor-made-colors-bms-2256-still-orange: #d86200;
@t-shade-tailor-made-colors-bms-2284-toyota-orange: #c54c29;
@t-shade-tailor-made-colors-lm-3276-bergmann-rot: #a42c1c;
@t-shade-tailor-made-colors-lm-278-case-international-rot: #831d1b;
@t-shade-tailor-made-colors-lm-3162-david-brown-rot: #941b1a;
@t-shade-tailor-made-colors-lm-3165-fahr-rot: #951b1a;
@t-shade-tailor-made-colors-lm-280-fella-rot: #b42b21;
@t-shade-tailor-made-colors-lm-239-grimme-rot: #b22407;
@t-shade-tailor-made-colors-lm-3171-valmet-rot: #b22406;
@t-shade-tailor-made-colors-lm-3246-ihc-rot-332-neu: #9e1a1a;
@t-shade-tailor-made-colors-lm-219-ihc-mc-cormik-rot: #7e020f;
@t-shade-tailor-made-colors-lm-241-kuhn-2-rot: #be2314;
@t-shade-tailor-made-colors-lm-3266-kverneland-rot: #a9060d;
@t-shade-tailor-made-colors-bms-3452-manitou-rot: #b12019;
@t-shade-tailor-made-colors-lm-235-mengele-rot: #b11a0a;
@t-shade-tailor-made-colors-lm-3152-spagele-rot: #b11a0a;
@t-shade-tailor-made-colors-lm-224-niedermeyer-rot: #ab201a;
@t-shade-tailor-made-colors-lm-3172-krone-rot-neu: #ab201a;
@t-shade-tailor-made-colors-lm-3174-cs-rot: #ab201a;
@t-shade-tailor-made-colors-lm-3241-manitou-rot: #ab1f1a;
@t-shade-tailor-made-colors-lm-236-pottinger-rot: #b81508;
@t-shade-tailor-made-colors-lm-237-same-rot: #c02a10;
@t-shade-tailor-made-colors-lm-287-same-rot-neu: #b63518;
@t-shade-tailor-made-colors-lm-277-schluter-rot: #ae1d23;
@t-shade-tailor-made-colors-lm-3167-steyr-chassis-rot: #6a1411;
@t-shade-tailor-made-colors-lm-289-stoll-rot: #a51d14;
@t-shade-tailor-made-colors-lm-3166-rauch-rot: #a51d13;
@t-shade-tailor-made-colors-bms-3374-takeuschi-rot: #9e1d24;
@t-shade-tailor-made-colors-bms-3124-volvo-rot: #8e2324;
@t-shade-tailor-made-colors-lm-2338-deutz-blau-84: #202428;
@t-shade-tailor-made-colors-lm-227-eicher-alpenblau: #66808a;
@t-shade-tailor-made-colors-lm-230-eicher-hellblau: #3483a0;
@t-shade-tailor-made-colors-lm-228-eicher-kurierblau: #517a86;
@t-shade-tailor-made-colors-lm-248-fiat-agri-blau: #2f434b;
@t-shade-tailor-made-colors-lm-259-ford-blau: #005571;
@t-shade-tailor-made-colors-lm-5200-hanomag-blaugrun: #1c535c;
@t-shade-tailor-made-colors-lm-255-lamborghini-blau: #181c21;
@t-shade-tailor-made-colors-lm-5203-landini-blau: #3a79b2;
@t-shade-tailor-made-colors-lm-5195-lanz-blau: #2b4c58;
@t-shade-tailor-made-colors-lm-5197-lemken-blau-93-neu: #0086b2;
@t-shade-tailor-made-colors-lm-232-mengele-nlau: #358fa1;
@t-shade-tailor-made-colors-lm-279-mengele-blau-79: #3f8897;
@t-shade-tailor-made-colors-lm-234-rabe-blau: #005b83;
@t-shade-tailor-made-colors-lm-231-same-blau: #1c283d;
@t-shade-tailor-made-colors-lm-5139-steyr-mahbalken-blau: #1b263b;
@t-shade-tailor-made-colors-lm-233-schmotzer-blau: #006c9d;
@t-shade-tailor-made-colors-lm-6243-agria-grun: #64821d;
@t-shade-tailor-made-colors-lm-6111-allgaier-grun: #2d5436;
@t-shade-tailor-made-colors-lm-270-amazone-grun: #4c682f;
@t-shade-tailor-made-colors-lm-6244-brantner-grun: #627c59;
@t-shade-tailor-made-colors-lm-205-claas-saatengrun: #999920;
@t-shade-tailor-made-colors-lm-6361-deutz-grun-06: #1b6733;
@t-shade-tailor-made-colors-lm-203-deutz-grun-hell-74: #529429;
@t-shade-tailor-made-colors-lm-262-eberhard-grun: #54672d;
@t-shade-tailor-made-colors-lm-208-fendt-grun-neu-98: #546f47;
@t-shade-tailor-made-colors-lm-266-fendt-grun: #546f47;
@t-shade-tailor-made-colors-lm-6211-gulder-grun: #407644;
@t-shade-tailor-made-colors-lm-206-holder-grun: #537e4b;
@t-shade-tailor-made-colors-lm-0206-d-holder-grun-alt: #3b6848;
@t-shade-tailor-made-colors-lm-268-john-deere-grun: #2f6225;
@t-shade-tailor-made-colors-lm-261-krone-grun: #455f2e;
@t-shade-tailor-made-colors-lm-264-kruger-grun: #00a887;
@t-shade-tailor-made-colors-lm-6107-kverneland-grun: #015133;
@t-shade-tailor-made-colors-lm-6219-lanz-grun: #2e4828;
@t-shade-tailor-made-colors-lm-207-man-grun: #567a60;
@t-shade-tailor-made-colors-lm-6841-mb-trac-hellgrun: #bbc054;
@t-shade-tailor-made-colors-lm-6648-reisch-grun-neu: #007741;
@t-shade-tailor-made-colors-lm-201-reisch-grun: #437056;
@t-shade-tailor-made-colors-lm-273-rohr-grun: #587b61;
@t-shade-tailor-made-colors-lm-6374-schluter-grun-hell: #547545;
@t-shade-tailor-made-colors-lm-6620-stetzl-grun: #35602e;
@t-shade-tailor-made-colors-lm-202-stoll-grun: #8fa221;
@t-shade-tailor-made-colors-lm-6223-stoll-grun-neu: #749733;
@t-shade-tailor-made-colors-lm-276-strautmann-grun: #748a26;
@t-shade-tailor-made-colors-lm-274-strautmann-olivgrun: #85825c;
@t-shade-tailor-made-colors-db-6277-unimog-meergrun: #576d55;
@t-shade-tailor-made-colors-lm-275-unsinn-grun-85: #428856;
@t-shade-tailor-made-colors-lm-272-unsinn-grun-hell: #1e874f;
@t-shade-tailor-made-colors-lm-200-unsinn-grun: #34745c;
@t-shade-tailor-made-colors-lm-6128-kirchner-grun: #34745c;
@t-shade-tailor-made-colors-lm-209-welger-grun: #516348;
@t-shade-tailor-made-colors-lm-271-zetor-dunkelgrun: #212928;
@t-shade-tailor-made-colors-bms-7448-bomag-anthrazit-dunkel: #2c3032;
@t-shade-tailor-made-colors-lm-243-claas-grau: #c0bfb2;
@t-shade-tailor-made-colors-lm-243-ford-grau-neu: #c0bfb2;
@t-shade-tailor-made-colors-lm-229-eicher-anthrazitgrau: #464741;
@t-shade-tailor-made-colors-lm-245-fendt-grau: #444342;
@t-shade-tailor-made-colors-lm-240-ferguson-grau: #3a3231;
@t-shade-tailor-made-colors-lm-7278-ford-dunkelgrau: #373b3d;
@t-shade-tailor-made-colors-lm-7179-holder-dunkelgrau: #4a5056;
@t-shade-tailor-made-colors-bms-7452-komatsu-schwarzgrau: #2c2f31;
@t-shade-tailor-made-colors-bms-7452-bomag-anthrazit: #2c2f32;
@t-shade-tailor-made-colors-bms-7840-liebherr-grau-sm: #505352;
@t-shade-tailor-made-colors-lm-242-renault-anthrazit: #3e3b39;
@t-shade-tailor-made-colors-lm-244-same-dunkelgrau-neu: #21201f;
@t-shade-tailor-made-colors-lm-7183-hurlimann-dunkelgrau: #21201f;
@t-shade-tailor-made-colors-bms-7404-takeuschi-hellgrau: #b9baac;
@t-shade-tailor-made-colors-bms-7454-volvo-grau-sm-neu: #494544;
@t-shade-tailor-made-colors-lm-246-fiat-agri-braun: #ebead7;
@t-shade-tailor-made-colors-lm-223-fiat-agri-braun: #2d201d;
@t-shade-tailor-made-colors-lm-284-fiat-agri-rotbraun: #873119;
@t-shade-tailor-made-colors-lm-8122-krone-erntewagen-hellbraun-8129: #8b6b35;
@t-shade-tailor-made-colors-lm-9388-landini-schwarzgrau: #252427;
@t-shade-tailor-made-colors-bms-7155-atlas-anthrazit: #4f4f49;
@t-shade-tailor-made-colors-bms-9432-bobcat-white: #e4e1d1;
@t-shade-tailor-made-colors-lm-291-aufbauten-wei: #d8ceb2;
@t-shade-tailor-made-colors-bms-9378-liebherr-wei: #d1cfbf;
@t-shade-tailor-made-colors-lm-295-renault-wei: #e4dcc3;
@t-shade-tailor-made-colors-lm-225-motorblock-silber: #8f8b84;
@t-shade-tailor-made-colors-lm-226-fendt-diamantgrau-metallic: #6e665a;