// herbol-farbe-und-architektur
@herbol-farbe-und-architektur-gn-02-80-graphitgrau-8: #dad8d0;
@herbol-farbe-und-architektur-hn-02-70-graphitgrau-6: #c2c1bb;
@herbol-farbe-und-architektur-gn-02-58-graphitgrau-4: #9f9f9b;
@herbol-farbe-und-architektur-hn-02-40-graphitgrau-2: #6e6f6c;
@herbol-farbe-und-architektur-gn-02-83-graphitgrau-9: #e7e3da;
@herbol-farbe-und-architektur-hn-01-76-graphitgrau-7: #d1cfc9;
@herbol-farbe-und-architektur-hn-01-64-graphitgrau-5: #b0b1ad;
@herbol-farbe-und-architektur-hn-02-47-graphitgrau-3: #868683;
@herbol-farbe-und-architektur-dn-02-82: #e6dbd5;
@herbol-farbe-und-architektur-d6-05-75: #dacbc1;
@herbol-farbe-und-architektur-c0-10-60: #c2a09a;
@herbol-farbe-und-architektur-c0-05-45: #8a7c79;
@herbol-farbe-und-architektur-cn-01-90: #f9efe3;
@herbol-farbe-und-architektur-d6-04-78: #e2d4cc;
@herbol-farbe-und-architektur-c4-05-65: #c2adaa;
@herbol-farbe-und-architektur-c0-15-55: #bd8b87;
@herbol-farbe-und-architektur-c3-12-72-weinrot-7: #e5b6ad;
@herbol-farbe-und-architektur-c2-19-60-weinrot-5: #cd9086;
@herbol-farbe-und-architektur-c3-27-44-weinrot-3: #ac6a5f;
@herbol-farbe-und-architektur-c6-37-31-weinrot-0: #8a4a3f;
@herbol-farbe-und-architektur-c5-08-80-weinrot-9: #f1d3c8;
@herbol-farbe-und-architektur-c3-15-66-weinrot-6: #dca69c;
@herbol-farbe-und-architektur-c2-22-52-weinrot-4: #c08076;
@herbol-farbe-und-architektur-c3-30-38-weinrot-2: #9b5c51;
@herbol-farbe-und-architektur-c8-10-80: #fed3c6;
@herbol-farbe-und-architektur-c4-20-70: #edab9b;
@herbol-farbe-und-architektur-c4-20-60: #cc9285;
@herbol-farbe-und-architektur-c4-40-40: #b05d4e;
@herbol-farbe-und-architektur-c8-07-82: #f7dacf;
@herbol-farbe-und-architektur-c8-15-75: #f4c0ad;
@herbol-farbe-und-architektur-c8-20-60: #d89986;
@herbol-farbe-und-architektur-c4-30-50: #c3796b;
@herbol-farbe-und-architektur-c8-04-83: #f2dfd8;
@herbol-farbe-und-architektur-c8-05-75: #dbc7bf;
@herbol-farbe-und-architektur-c8-20-50: #ac8171;
@herbol-farbe-und-architektur-c8-20-40: #976d5d;
@herbol-farbe-und-architektur-d2-03-86: #f9e5d8;
@herbol-farbe-und-architektur-c8-03-78: #dfd2cd;
@herbol-farbe-und-architektur-c0-10-50: #a18a81;
@herbol-farbe-und-architektur-c8-25-45: #ac7462;
@herbol-farbe-und-architektur-d4-10-80-herbstrot-8: #f4d4c4;
@herbol-farbe-und-architektur-d1-16-72-herbstrot-6: #e7b6a2;
@herbol-farbe-und-architektur-d0-22-60-herbstrot-4: #cd917a;
@herbol-farbe-und-architektur-c8-32-44-herbstrot-2: #ad6b56;
@herbol-farbe-und-architektur-d7-08-84-herbstrot-9: #f7decf;
@herbol-farbe-und-architektur-d2-13-76-herbstrot-7: #eec7b5;
@herbol-farbe-und-architektur-c9-20-66-herbstrot-5: #dda690;
@herbol-farbe-und-architektur-c9-28-51-herbstrot-3: #bc7a64;
@herbol-farbe-und-architektur-d6-07-82: #f3d7c8;
@herbol-farbe-und-architektur-d2-10-70: #ddbaa9;
@herbol-farbe-und-architektur-c8-10-60: #bfa196;
@herbol-farbe-und-architektur-c8-10-50: #a18980;
@herbol-farbe-und-architektur-e0-03-88: #f8ecdd;
@herbol-farbe-und-architektur-d6-07-77: #e4cbbd;
@herbol-farbe-und-architektur-c8-05-65: #bfada7;
@herbol-farbe-und-architektur-c8-15-55: #b79184;
@herbol-farbe-und-architektur-d2-05-77-nussbraun-8: #ddcdc3;
@herbol-farbe-und-architektur-d2-08-65-nussbraun-6: #c2aca2;
@herbol-farbe-und-architektur-d1-11-51-nussbraun-4: #a2877e;
@herbol-farbe-und-architektur-d0-14-34-nussbraun-2: #7a6056;
@herbol-farbe-und-architektur-d8-04-81-nussbraun-9: #e7dad0;
@herbol-farbe-und-architektur-d3-06-72-nussbraun-7: #d1beb5;
@herbol-farbe-und-architektur-d0-09-59-nussbraun-5: #b59b91;
@herbol-farbe-und-architektur-c9-12-41-nussbraun-3: #8a7067;
@herbol-farbe-und-architektur-e4-03-80: #e1d9d0;
@herbol-farbe-und-architektur-d6-10-70: #d3b5a4;
@herbol-farbe-und-architektur-d6-10-60: #b99f8f;
@herbol-farbe-und-architektur-d2-10-50: #9d857c;
@herbol-farbe-und-architektur-en-02-85: #eee7de;
@herbol-farbe-und-architektur-e0-05-75: #d5c6ba;
@herbol-farbe-und-architektur-d6-15-65: #d1ac97;
@herbol-farbe-und-architektur-d2-15-55: #b59081;
@herbol-farbe-und-architektur-e4-14-81-pfirsichrot-7: #f7d6ba;
@herbol-farbe-und-architektur-e0-21-73-pfirsichrot-5: #ecbc96;
@herbol-farbe-und-architektur-d8-30-60-pfirsichrot-3: #d2946b;
@herbol-farbe-und-architektur-d7-36-50-pfirsichrot-1: #bb7a54;
@herbol-farbe-und-architektur-e7-11-85-pfirsichrot-8: #fae1ca;
@herbol-farbe-und-architektur-e2-17-77-pfirsichrot-6: #f1caaa;
@herbol-farbe-und-architektur-e0-24-68-pfirsichrot-4: #dcaa84;
@herbol-farbe-und-architektur-d8-34-54-pfirsichrot-2: #c3855e;
@herbol-farbe-und-architektur-e6-08-81-torfbraun-8: #efdcca;
@herbol-farbe-und-architektur-e4-12-72-torfbraun-6: #dac0a8;
@herbol-farbe-und-architektur-e1-17-60-torfbraun-4: #c09e83;
@herbol-farbe-und-architektur-e0-23-44-torfbraun-2: #98745a;
@herbol-farbe-und-architektur-e9-06-84-torfbraun-9: #f2e4d3;
@herbol-farbe-und-architektur-e4-10-77-torfbraun-7: #e3ceba;
@herbol-farbe-und-architektur-e3-15-66-torfbraun-5: #cdb096;
@herbol-farbe-und-architektur-e0-21-51-torfbraun-3: #ac856a;
@herbol-farbe-und-architektur-e7-10-85-zimtbraun-8: #f8e3cc;
@herbol-farbe-und-architektur-e6-16-78-zimtbraun-6: #edcdad;
@herbol-farbe-und-architektur-e3-24-67-zimtbraun-4: #d9ad89;
@herbol-farbe-und-architektur-e0-32-51-zimtbraun-2: #b5825b;
@herbol-farbe-und-architektur-e9-07-86-zimtbraun-9: #f7e8d7;
@herbol-farbe-und-architektur-e6-11-81-zimtbraun-7: #f1d7bd;
@herbol-farbe-und-architektur-e4-19-73-zimtbraun-5: #e2bd9b;
@herbol-farbe-und-architektur-e2-28-59-zimtbraun-3: #c7956d;
@herbol-farbe-und-architektur-e4-07-82: #f0dcca;
@herbol-farbe-und-architektur-e4-10-70: #d3c0ac;
@herbol-farbe-und-architektur-e0-10-60: #b6a091;
@herbol-farbe-und-architektur-d6-10-50: #9d8a7e;
@herbol-farbe-und-architektur-e4-05-85: #f3e2d3;
@herbol-farbe-und-architektur-e4-07-77: #e1cebe;
@herbol-farbe-und-architektur-e4-05-65: #beb1a6;
@herbol-farbe-und-architektur-e0-15-55: #b39580;
@herbol-farbe-und-architektur-e8-10-80: #e8d7c1;
@herbol-farbe-und-architektur-e8-10-70: #d5bfa9;
@herbol-farbe-und-architektur-e4-10-60: #b2a08f;
@herbol-farbe-und-architektur-e4-10-50: #988574;
@herbol-farbe-und-architektur-f2-05-85: #f1e5d3;
@herbol-farbe-und-architektur-e8-10-75: #e0ccb3;
@herbol-farbe-und-architektur-e4-15-65: #cbac8f;
@herbol-farbe-und-architektur-e4-15-55: #b09880;
@herbol-farbe-und-architektur-f2-09-84-lehmbraun-8: #f0e1cb;
@herbol-farbe-und-architektur-f1-14-78-lehmbraun-6: #e4ceb1;
@herbol-farbe-und-architektur-e8-21-66-lehmbraun-4: #c9ab87;
@herbol-farbe-und-architektur-e5-25-49-lehmbraun-2: #a1805d;
@herbol-farbe-und-architektur-f2-06-86-lehmbraun-9: #f4e9d7;
@herbol-farbe-und-architektur-f1-11-81-lehmbraun-7: #e9d7bc;
@herbol-farbe-und-architektur-e9-17-73-lehmbraun-5: #d5bc9d;
@herbol-farbe-und-architektur-e7-25-58-lehmbraun-3: #b89875;
@herbol-farbe-und-architektur-f1-07-81-erdbraun-8: #e4d8c7;
@herbol-farbe-und-architektur-e9-10-71-erdbraun-6: #cfc0aa;
@herbol-farbe-und-architektur-e4-14-58-erdbraun-4: #b39e86;
@herbol-farbe-und-architektur-e7-18-42-erdbraun-2: #88745e;
@herbol-farbe-und-architektur-e3-05-84-erdbraun-9: #ebe1d2;
@herbol-farbe-und-architektur-f0-08-76-erdbraun-7: #d9ccb9;
@herbol-farbe-und-architektur-e9-12-65-erdbraun-5: #bfae98;
@herbol-farbe-und-architektur-e7-16-49-erdbraun-3: #9a846c;
@herbol-farbe-und-architektur-f4-11-86-currygelb-8: #f9e6c7;
@herbol-farbe-und-architektur-f0-24-77-currygelb-5: #efc992;
@herbol-farbe-und-architektur-e8-36-67-currygelb-3: #ddad68;
@herbol-farbe-und-architektur-e7-46-52-currygelb-0: #b78444;
@herbol-farbe-und-architektur-f5-08-87-currygelb-9: #f8ebd3;
@herbol-farbe-und-architektur-f1-19-81-currygelb-6: #f4d5a7;
@herbol-farbe-und-architektur-e9-30-72-currygelb-4: #e9bd80;
@herbol-farbe-und-architektur-e8-43-58-currygelb-1: #c5914a;
@herbol-farbe-und-architektur-f2-06-84: #ece0ce;
@herbol-farbe-und-architektur-f0-15-75: #ddc6a7;
@herbol-farbe-und-architektur-e8-20-60: #bca07c;
@herbol-farbe-und-architektur-e8-20-50: #a38c6f;
@herbol-farbe-und-architektur-f2-08-86: #f6e7d0;
@herbol-farbe-und-architektur-f2-10-80: #e7d5be;
@herbol-farbe-und-architektur-e8-20-70: #d3b48b;
@herbol-farbe-und-architektur-e8-25-55: #b5956e;
@herbol-farbe-und-architektur-f8-13-86-sonnengelb-7: #faebc7;
@herbol-farbe-und-architektur-f5-22-82-sonnengelb-5: #f9dda3;
@herbol-farbe-und-architektur-f2-36-76-sonnengelb-3: #f4c575;
@herbol-farbe-und-architektur-e8-54-63-sonnengelb-0: #df9e3e;
@herbol-farbe-und-architektur-f8-10-88-sonnengelb-8: #f9efd2;
@herbol-farbe-und-architektur-f7-17-85-sonnengelb-6: #fbe6b8;
@herbol-farbe-und-architektur-f4-27-80-sonnengelb-4: #fbd590;
@herbol-farbe-und-architektur-f0-46-69-sonnengelb-1: #ecaf50;
@herbol-farbe-und-architektur-f3-09-78-riedbraun-7: #e3d5bd;
@herbol-farbe-und-architektur-f2-14-68-riedbraun-5: #cab698;
@herbol-farbe-und-architektur-f1-20-53-riedbraun-3: #a68e6e;
@herbol-farbe-und-architektur-f0-23-41-riedbraun-1: #877155;
@herbol-farbe-und-architektur-f5-07-81-riedbraun-8: #eadec9;
@herbol-farbe-und-architektur-f3-11-73-riedbraun-6: #d7c6aa;
@herbol-farbe-und-architektur-f2-17-61-riedbraun-4: #baa586;
@herbol-farbe-und-architektur-f0-22-45-riedbraun-2: #927b5c;
@herbol-farbe-und-architektur-f8-03-80-rotgrau-8: #ded9cf;
@herbol-farbe-und-architektur-f7-04-71-rotgrau-6: #c5c0b7;
@herbol-farbe-und-architektur-f4-05-58-rotgrau-4: #a39d94;
@herbol-farbe-und-architektur-e9-06-40-rotgrau-1: #7f786e;
@herbol-farbe-und-architektur-f7-04-84-rotgrau-9: #e5e0d5;
@herbol-farbe-und-architektur-f7-03-76-rotgrau-7: #d2cec5;
@herbol-farbe-und-architektur-f5-04-65-rotgrau-5: #b7b0a6;
@herbol-farbe-und-architektur-f2-06-50-rotgrau-3: #918a81;
@herbol-farbe-und-architektur-f6-10-80: #e2d3b9;
@herbol-farbe-und-architektur-f6-20-70: #d2be91;
@herbol-farbe-und-architektur-f2-20-60: #b9a27f;
@herbol-farbe-und-architektur-f2-30-50: #a38959;
@herbol-farbe-und-architektur-f6-07-82: #eddfc9;
@herbol-farbe-und-architektur-f6-15-75: #dac9a2;
@herbol-farbe-und-architektur-f2-25-65: #cbb07c;
@herbol-farbe-und-architektur-f2-25-55: #b19668;
@herbol-farbe-und-architektur-g0-05-80: #ddd5c6;
@herbol-farbe-und-architektur-f6-10-70: #c9bca5;
@herbol-farbe-und-architektur-f6-10-60: #ada48e;
@herbol-farbe-und-architektur-f2-10-50: #968c7c;
@herbol-farbe-und-architektur-g0-03-86: #ece8db;
@herbol-farbe-und-architektur-f2-05-75: #d2cabd;
@herbol-farbe-und-architektur-f6-15-65: #bdaf8f;
@herbol-farbe-und-architektur-f6-15-55: #a5997c;
@herbol-farbe-und-architektur-f7-05-79-steingrau-7: #d9d5c8;
@herbol-farbe-und-architektur-f7-06-68-steingrau-5: #bfb9a9;
@herbol-farbe-und-architektur-f6-09-54-steingrau-3: #9e9585;
@herbol-farbe-und-architektur-f7-10-44-steingrau-1: #847d6e;
@herbol-farbe-und-architektur-f6-04-83-steingrau-8: #e5e1d4;
@herbol-farbe-und-architektur-f7-05-74-steingrau-6: #cec9bc;
@herbol-farbe-und-architektur-f6-07-62-steingrau-4: #b1aa9a;
@herbol-farbe-und-architektur-f7-09-47-steingrau-2: #8d8476;
@herbol-farbe-und-architektur-f9-14-87-korngelb-7: #faebc1;
@herbol-farbe-und-architektur-f8-24-84-korngelb-5: #fde3a1;
@herbol-farbe-und-architektur-f6-38-78-korngelb-3: #f6d06f;
@herbol-farbe-und-architektur-f4-56-69-korngelb-0: #e5b437;
@herbol-farbe-und-architektur-f9-07-88-korngelb-9: #f8efd4;
@herbol-farbe-und-architektur-f8-17-85-korngelb-6: #fae7b4;
@herbol-farbe-und-architektur-f6-30-82-korngelb-4: #fbda8a;
@herbol-farbe-und-architektur-f4-50-72-korngelb-1: #eebe4b;
@herbol-farbe-und-architektur-g0-12-86-senfgelb-7: #f6eaca;
@herbol-farbe-und-architektur-f8-18-83-senfgelb-5: #f4dfad;
@herbol-farbe-und-architektur-f6-30-74-senfgelb-3: #e5c681;
@herbol-farbe-und-architektur-f5-39-66-senfgelb-1: #d1ae5c;
@herbol-farbe-und-architektur-g1-07-88-senfgelb-9: #f0e9d3;
@herbol-farbe-und-architektur-f8-14-85-senfgelb-6: #f5e6be;
@herbol-farbe-und-architektur-f7-24-79-senfgelb-4: #ecd49a;
@herbol-farbe-und-architektur-f6-36-69-senfgelb-2: #d7b76a;
@herbol-farbe-und-architektur-f7-04-83-gelbgrau-8: #e6e2d5;
@herbol-farbe-und-architektur-f8-06-76-gelbgrau-6: #d4cfc1;
@herbol-farbe-und-architektur-f7-08-65-gelbgrau-4: #b8b2a1;
@herbol-farbe-und-architektur-f7-11-50-gelbgrau-2: #918976;
@herbol-farbe-und-architektur-f8-04-85-gelbgrau-9: #eee8d9;
@herbol-farbe-und-architektur-f9-04-82-gelbgrau-7: #e0dbcd;
@herbol-farbe-und-architektur-f7-06-71-gelbgrau-5: #cac2b2;
@herbol-farbe-und-architektur-f6-09-57-gelbgrau-3: #a39a87;
@herbol-farbe-und-architektur-f8-06-79-olivgrau-8: #dcd7c6;
@herbol-farbe-und-architektur-f8-09-70-olivgrau-6: #c5bca6;
@herbol-farbe-und-architektur-f9-13-57-olivgrau-4: #a29a82;
@herbol-farbe-und-architektur-f9-17-40-olivgrau-2: #79715b;
@herbol-farbe-und-architektur-f9-05-82-olivgrau-9: #e8e3d3;
@herbol-farbe-und-architektur-f9-07-75-olivgrau-7: #d1cab4;
@herbol-farbe-und-architektur-f8-11-63-olivgrau-5: #b4ac94;
@herbol-farbe-und-architektur-f9-15-47-olivgrau-3: #8c836a;
@herbol-farbe-und-architektur-g0-14-84-birkengrun-7: #f2e4bf;
@herbol-farbe-und-architektur-g0-21-78-birkengrun-5: #e2d19a;
@herbol-farbe-und-architektur-f9-30-66-birkengrun-3: #c7b471;
@herbol-farbe-und-architektur-g0-40-52-birkengrun-0: #a1914d;
@herbol-farbe-und-architektur-g1-10-86-birkengrun-8: #f0e5c7;
@herbol-farbe-und-architektur-g1-17-81-birkengrun-6: #ebdbad;
@herbol-farbe-und-architektur-g0-25-73-birkengrun-4: #d3c489;
@herbol-farbe-und-architektur-g0-35-61-birkengrun-2: #b5a361;
@herbol-farbe-und-architektur-g0-11-83-moosgrun-7: #e9e0c1;
@herbol-farbe-und-architektur-g0-18-74-moosgrun-5: #d5c99e;
@herbol-farbe-und-architektur-g1-26-62-moosgrun-3: #b7a873;
@herbol-farbe-und-architektur-g0-31-50-moosgrun-1: #988a55;
@herbol-farbe-und-architektur-g0-09-85-moosgrun-8: #eee6cc;
@herbol-farbe-und-architektur-g1-14-79-moosgrun-6: #ded4ae;
@herbol-farbe-und-architektur-g0-21-69-moosgrun-4: #c8bb8c;
@herbol-farbe-und-architektur-g0-29-55-moosgrun-2: #a4955f;
@herbol-farbe-und-architektur-g2-05-78-grungrau-7: #dcd8cc;
@herbol-farbe-und-architektur-g2-06-68-grungrau-5: #c0bcae;
@herbol-farbe-und-architektur-g2-09-54-grungrau-3: #9a9482;
@herbol-farbe-und-architektur-g4-11-39-grungrau-1: #767161;
@herbol-farbe-und-architektur-g2-04-82-grungrau-8: #e8e3d4;
@herbol-farbe-und-architektur-g4-05-74-grungrau-6: #d2cdbe;
@herbol-farbe-und-architektur-g3-07-62-grungrau-4: #b0ac9d;
@herbol-farbe-und-architektur-g3-10-45-grungrau-2: #837f6f;
@herbol-farbe-und-architektur-g4-10-80: #e6e0c3;
@herbol-farbe-und-architektur-g4-15-65: #bbb592;
@herbol-farbe-und-architektur-g4-20-50: #918a65;
@herbol-farbe-und-architektur-g8-10-40: #737161;
@herbol-farbe-und-architektur-g4-04-84: #ece6d6;
@herbol-farbe-und-architektur-g4-15-75: #d6d1a7;
@herbol-farbe-und-architektur-g4-10-60: #aca791;
@herbol-farbe-und-architektur-g8-10-50: #8f8d7b;
@herbol-farbe-und-architektur-g7-08-86-farngrun-8: #ecead0;
@herbol-farbe-und-architektur-g9-13-81-farngrun-6: #dad9b4;
@herbol-farbe-und-architektur-g9-19-71-farngrun-4: #c4c392;
@herbol-farbe-und-architektur-g9-27-56-farngrun-2: #9f9d64;
@herbol-farbe-und-architektur-g7-06-87-farngrun-9: #f3f0dc;
@herbol-farbe-und-architektur-g9-10-83-farngrun-7: #e5e4c6;
@herbol-farbe-und-architektur-g9-17-77-farngrun-5: #d0d0a5;
@herbol-farbe-und-architektur-g9-24-63-farngrun-3: #afaf79;
@herbol-farbe-und-architektur-h2-15-85: #ebecba;
@herbol-farbe-und-architektur-h2-30-70: #bcc276;
@herbol-farbe-und-architektur-h2-30-60: #a1aa67;
@herbol-farbe-und-architektur-h2-20-50: #8b8e68;
@herbol-farbe-und-architektur-h2-08-90: #f4f1d6;
@herbol-farbe-und-architektur-h2-30-80: #d3da87;
@herbol-farbe-und-architektur-h2-20-70: #bfc48f;
@herbol-farbe-und-architektur-h2-10-60: #a7a990;
@herbol-farbe-und-architektur-h1-05-82-lorbeergrun-8: #e0e1d2;
@herbol-farbe-und-architektur-h5-07-74-lorbeergrun-6: #c5cab6;
@herbol-farbe-und-architektur-h9-11-62-lorbeergrun-4: #a3ab92;
@herbol-farbe-und-architektur-j0-17-45-lorbeergrun-2: #798367;
@herbol-farbe-und-architektur-g9-04-85-lorbeergrun-9: #e6e5d6;
@herbol-farbe-und-architektur-h3-06-79-lorbeergrun-7: #d2d5c2;
@herbol-farbe-und-architektur-h7-09-68-lorbeergrun-5: #b4bca4;
@herbol-farbe-und-architektur-j0-14-53-lorbeergrun-3: #8c967b;
@herbol-farbe-und-architektur-j0-07-82: #dee3ca;
@herbol-farbe-und-architektur-j0-05-75: #c6ccbc;
@herbol-farbe-und-architektur-j0-05-65: #b0b4a7;
@herbol-farbe-und-architektur-j0-10-50: #8f937f;
@herbol-farbe-und-architektur-j0-05-85: #e5e6d2;
@herbol-farbe-und-architektur-j0-07-77: #d0d6be;
@herbol-farbe-und-architektur-j0-10-77: #bac1a8;
@herbol-farbe-und-architektur-j0-10-60: #a7ac97;
@herbol-farbe-und-architektur-l8-05-85: #d9eada;
@herbol-farbe-und-architektur-l0-04-78: #ccd8cb;
@herbol-farbe-und-architektur-l0-04-78: #97a796;
@herbol-farbe-und-architektur-l0-10-60: #6e7b6f;
@herbol-farbe-und-architektur-l0-10-40: #edf1e4;
@herbol-farbe-und-architektur-kn-02-87: #e3ead9;
@herbol-farbe-und-architektur-k2-05-85: #b1c4ab;
@herbol-farbe-und-architektur-k2-10-70: #859280;
@herbol-farbe-und-architektur-k2-10-50: #ccd4d1;
@herbol-farbe-und-architektur-pn-02-77: #96adaf;
@herbol-farbe-und-architektur-q0-10-60: #7e9195;
@herbol-farbe-und-architektur-q0-10-50: #6c7d7c;
@herbol-farbe-und-architektur-p0-10-40: #edf0e8;
@herbol-farbe-und-architektur-qn-02-88: #a4b2b1;
@herbol-farbe-und-architektur-p0-05-65: #8d9998;
@herbol-farbe-und-architektur-p0-05-55: #7d8684;
@herbol-farbe-und-architektur-p0-05-45: #d2d3ce;
@herbol-farbe-und-architektur-mn-01-76-blaugrau-8: #b5bab9;
@herbol-farbe-und-architektur-pn-02-65-blaugrau-6: #919698;
@herbol-farbe-und-architektur-q8-04-53-blaugrau-4: #6c7072;
@herbol-farbe-und-architektur-r9-04-38-blaugrau-2: #d9dad4;
@herbol-farbe-und-architektur-kn-02-80-blaugrau-9: #c2c7c4;
@herbol-farbe-und-architektur-nn-02-71-blaugrau-7: #a0a5a6;
@herbol-farbe-und-architektur-q8-03-59-blaugrau-5: #7b8083;
@herbol-farbe-und-architektur-r5-06-45-blaugrau-3: #ced2d4;
@herbol-farbe-und-architektur-sn-02-77: #cfd4d5;
@herbol-farbe-und-architektur-r0-10-60: #c3d1d3;
@herbol-farbe-und-architektur-r0-20-50: #95aab0;
@herbol-farbe-und-architektur-r0-05-85: #6f929e;
@herbol-farbe-und-architektur-s0-10-70: #d9e3e1;
@herbol-farbe-und-architektur-s0-15-65: #b3c6d0;
@herbol-farbe-und-architektur-s0-15-55: #98b5c5;
@herbol-farbe-und-architektur-r1-05-79-basaltblau-8: #c6d4d6;
@herbol-farbe-und-architektur-s1-12-67-basaltblau-6: #a4b9c3;
@herbol-farbe-und-architektur-s5-17-53-basaltblau-4: #7b95a5;
@herbol-farbe-und-architektur-s2-18-37-basaltblau-2: #586e7c;
@herbol-farbe-und-architektur-p6-03-82-basaltblau-9: #d4dfde;
@herbol-farbe-und-architektur-r7-08-73-basaltblau-7: #b6c6cb;
@herbol-farbe-und-architektur-s1-14-60-basaltblau-5: #90a6b3;
@herbol-farbe-und-architektur-s3-18-44-basaltblau-3: #69808e;
@herbol-farbe-und-architektur-s0-04-78: #ccd4d7;
@herbol-farbe-und-architektur-t0-10-70: #b2c1d1;
@herbol-farbe-und-architektur-t0-20-60: #89a5c3;
@herbol-farbe-und-architektur-t0-20-40: #66798f;
@herbol-farbe-und-architektur-s0-05-85: #d8e5e8;
@herbol-farbe-und-architektur-s0-07-77: #c8d8df;
@herbol-farbe-und-architektur-s0-10-60: #9dacb5;
@herbol-farbe-und-architektur-t0-20-50: #748ba2;
@herbol-farbe-und-architektur-t0-20-70: #9fbedc;
@herbol-farbe-und-architektur-s9-35-56: #71a2ce;
@herbol-farbe-und-architektur-t0-30-50: #688fb3;
@herbol-farbe-und-architektur-t0-30-30: #48637c;
@herbol-farbe-und-architektur-t0-10-80: #cfdbe5;
@herbol-farbe-und-architektur-s8-10-65: #a0b0c0;
@herbol-farbe-und-architektur-t0-30-60: #75a5d0;
@herbol-farbe-und-architektur-t0-30-40: #597c9d;
@herbol-farbe-und-architektur-u0-20-60: #91a4cb;
@herbol-farbe-und-architektur-u0-30-50: #728dc0;
@herbol-farbe-und-architektur-u0-40-40: #5376af;
@herbol-farbe-und-architektur-u0-40-30: #415e8a;
@herbol-farbe-und-architektur-v0-15-65: #b1b3d1;
@herbol-farbe-und-architektur-v0-25-55: #8d91c5;
@herbol-farbe-und-architektur-v0-30-40: #6d75a9;
@herbol-farbe-und-architektur-v0-40-30: #535d94;
@herbol-farbe-und-architektur-w0-15-65: #b2a5ca;
@herbol-farbe-und-architektur-w0-20-60: #ad9cc6;
@herbol-farbe-und-architektur-w0-20-50: #9484b3;
@herbol-farbe-und-architektur-w0-30-30: #66598a;
@herbol-farbe-und-architektur-x0-10-70: #cfb8d1;
@herbol-farbe-und-architektur-x0-10-60: #b19eb8;
@herbol-farbe-und-architektur-x0-20-50: #9c7ea9;
@herbol-farbe-und-architektur-x0-20-40: #876c93;