// kobra
@kobra-white-kobra-01: #eaeae4;
@kobra-ivory-kobra-02: #e6c9a2;
@kobra-beige-kobra-03: #ba9873;
@kobra-beige-kobra-04: #8f6e46;
@kobra-beige-kobra-05: #d0c092;
@kobra-yellow-kobra-06: #f2d964;
@kobra-yellow-kobra-07: #fad140;
@kobra-yellow-kobra-08: #fdad00;
@kobra-yellow-kobra-09: #f4af5b;
@kobra-yellow-kobra-10: #f59724;
@kobra-yellow-kobra-11: #b97d31;
@kobra-orange-kobra-12: #f07b42;
@kobra-orange-kobra-13: #e87257;
@kobra-orange-kobra-14: #da5838;
@kobra-red-kobra-15: #bd413a;
@kobra-red-kobra-16: #9a4039;
@kobra-red-kobra-17: #583f40;
@kobra-pink-kobra-18: #f7a879;
@kobra-pink-kobra-19: #faa495;
@kobra-pink-kobra-20: #df8686;
@kobra-fuchsia-kobra-21: #bf7595;
@kobra-fuchsia-kobra-22: #a25877;
@kobra-violet-kobra-23: #b7b1dc;
@kobra-violet-kobra-24: #9b8cb5;
@kobra-violet-kobra-25: #776bab;
@kobra-violet-kobra-26: #7b598f;
@kobra-blue-kobra-27: #87c8d7;
@kobra-blue-kobra-28: #4eb3cd;
@kobra-blue-kobra-29: #1882b4;
@kobra-blue-kobra-30: #195584;
@kobra-blue-kobra-31: #334059;
@kobra-green-kobra-32: #75c89e;
@kobra-green-kobra-33: #7ab96e;
@kobra-green-kobra-34: #42a370;
@kobra-green-kobra-35: #007856;
@kobra-green-kobra-36: #4e795b;
@kobra-green-kobra-37: #515545;
@kobra-green-kobra-38: #415448;
@kobra-green-kobra-39: #40b8a4;
@kobra-green-kobra-40: #009f8a;
@kobra-green-kobra-41: #009185;
@kobra-grey-kobra-42: #889099;
@kobra-brown-kobra-43: #624a3e;
@kobra-black-kobra-44: #383737;
@kobra-gold-kobra-45: #8e7a5a;
@kobra-copper-kobra-46: #7b584c;
@kobra-silver-kobra-47: #cdcecd;
@kobra-fluo-kobra-48: #edeb00;
@kobra-fluo-kobra-49: #ff7700;
@kobra-fluo-kobra-50: #ff4131;
@kobra-fluo-kobra-51: #f93753;
@kobra-fluo-kobra-52: #00b131;