// caparol-color
@caparol-color-ava-magenta: #993d60;
@caparol-color-ava-rot: #bb373a;
@caparol-color-ava-orange: #ed5d30;
@caparol-color-ava-gelb: #fdce00;
@caparol-color-ava-gruengelb: #f2df1d;
@caparol-color-ava-gruen: #0c6756;
@caparol-color-ava-blau: #344d77;
@caparol-color-ava-violett: #514873;
@caparol-color-ava-schwarz: #3f3e3f;
@caparol-color-ava-rotbraun: #86473e;
@caparol-color-ava-ocker: #b68340;
@caparol-color-ava-umbra: #665944;
@caparol-color-oxidrot: #7b3f37;
@caparol-color-oxidorange: #a14a31;
@caparol-color-ocker: #d1963b;
@caparol-color-gelb: #f1df0a;
@caparol-color-gruen: #566f48;
@caparol-color-kobaltblau: #0082a7;
@caparol-color-ultramarin: #425db2;
@caparol-color-schwarz: #333130;
@caparol-color-oxidbraun: #76543c;
@caparol-color-umbra: #79633c;
@caparol-color-granat-0: #905548;
@caparol-color-granat-13: #cb9484;
@caparol-color-granat-12: #b47767;
@caparol-color-granat-15: #e4bfb3;
@caparol-color-granat-14: #dcad9f;
@caparol-color-granat-18: #f3e2da;
@caparol-color-granat-16: #ecd0c6;
@caparol-color-madeira-0: #a45b45;
@caparol-color-madeira-13: #e29d77;
@caparol-color-madeira-12: #cc7f5c;
@caparol-color-madeira-15: #f3c6a8;
@caparol-color-madeira-14: #ecb391;
@caparol-color-madeira-18: #f9e5d4;
@caparol-color-madeira-16: #f7d6bd;
@caparol-color-aprikose-0: #d57d3d;
@caparol-color-aprikose-13: #f7b56a;
@caparol-color-aprikose-12: #e8994e;
@caparol-color-aprikose-15: #fad39d;
@caparol-color-aprikose-14: #f9c485;
@caparol-color-aprikose-18: #f9e9ce;
@caparol-color-aprikose-16: #fadeb4;
@caparol-color-cognas-0: #c68146;
@caparol-color-cognas-13: #efbf7f;
@caparol-color-cognas-12: #e3a762;
@caparol-color-cognas-15: #f8dcb0;
@caparol-color-cognas-14: #f5cf97;
@caparol-color-cognas-18: #f7edd7;
@caparol-color-cognas-16: #f8e5c3;
@caparol-color-mandarin-0: #e49a3d;
@caparol-color-mandarin-13: #fac878;
@caparol-color-mandarin-12: #f4b459;
@caparol-color-mandarin-15: #fce0ac;
@caparol-color-mandarin-14: #fbd593;
@caparol-color-mandarin-18: #f9efd7;
@caparol-color-mandarin-16: #fae7bf;
@caparol-color-gobi-0: #c6903d;
@caparol-color-gobi-13: #efc577;
@caparol-color-gobi-12: #e1ae57;
@caparol-color-gobi-15: #f8dfaa;
@caparol-color-gobi-14: #f5d392;
@caparol-color-gobi-18: #f7eed5;
@caparol-color-gobi-16: #f9e7bf;
@caparol-color-mais-0: #ecaa33;
@caparol-color-mais-13: #fad984;
@caparol-color-mais-12: #f5c75f;
@caparol-color-mais-15: #fbeab6;
@caparol-color-mais-14: #fbe29e;
@caparol-color-mais-18: #f8f2db;
@caparol-color-mais-16: #faefc8;
@caparol-color-ingwer-0: #c09d40;
@caparol-color-ingwer-13: #eeda92;
@caparol-color-ingwer-12: #e2c56e;
@caparol-color-ingwer-15: #f5ebbe;
@caparol-color-ingwer-14: #f3e4aa;
@caparol-color-ingwer-18: #f6f3df;
@caparol-color-ingwer-16: #f6f0ce;
@caparol-color-amazonas-0: #697049;
@caparol-color-amazonas-13: #aab684;
@caparol-color-amazonas-12: #8f9b69;
@caparol-color-amazonas-15: #cdd6b3;
@caparol-color-amazonas-14: #bcc69b;
@caparol-color-amazonas-18: #e6ead7;
@caparol-color-amazonas-16: #d9e0c4;
@caparol-color-iris-0: #4e697b;
@caparol-color-iris-13: #8fb1c3;
@caparol-color-iris-12: #6e93a8;
@caparol-color-iris-15: #bed5de;
@caparol-color-iris-14: #a7c3d2;
@caparol-color-iris-18: #e0ebed;
@caparol-color-iris-16: #cedfe5;
@caparol-color-lapis-0: #475690;
@caparol-color-lapis-13: #8bade0;
@caparol-color-lapis-12: #6a90cf;
@caparol-color-lapis-15: #bad0ec;
@caparol-color-lapis-14: #a4c0e6;
@caparol-color-lapis-18: #dfe8f1;
@caparol-color-lapis-16: #ccdcef;
@caparol-color-cosmos-0: #657394;
@caparol-color-cosmos-13: #b3bdd6;
@caparol-color-cosmos-12: #95a2c2;
@caparol-color-cosmos-15: #d6dbe8;
@caparol-color-cosmos-14: #c6cee0;
@caparol-color-cosmos-18: #eceef0;
@caparol-color-cosmos-16: #e0e4eb;
@caparol-color-kiesel-0: #4f4c49;
@caparol-color-kiesel-13: #a8a5a0;
@caparol-color-kiesel-12: #85827e;
@caparol-color-kiesel-15: #d0cec8;
@caparol-color-kiesel-14: #bebbb5;
@caparol-color-kiesel-18: #eae9e4;
@caparol-color-kiesel-16: #dddbd6;
@caparol-color-schiefer-0: #585752;
@caparol-color-schiefer-13: #939085;
@caparol-color-schiefer-12: #737068;
@caparol-color-schiefer-15: #bebbb1;
@caparol-color-schiefer-14: #aaa79c;
@caparol-color-schiefer-18: #e1e0d8;
@caparol-color-schiefer-16: #d0ccc4;
@caparol-color-graphit-0: #515251;
@caparol-color-graphit-13: #a8aba9;
@caparol-color-graphit-12: #848787;
@caparol-color-graphit-15: #d0d2d0;
@caparol-color-graphit-14: #bdbfbd;
@caparol-color-graphit-18: #eaebe7;
@caparol-color-graphit-16: #dcdedb;
@caparol-color-basalt-0: #55504f;
@caparol-color-basalt-13: #aaa4a2;
@caparol-color-basalt-12: #878281;
@caparol-color-basalt-15: #cfccc9;
@caparol-color-basalt-14: #bfbab8;
@caparol-color-basalt-18: #eae8e4;
@caparol-color-basalt-16: #dcd9d5;
@caparol-color-mocca-0: #5c4a45;
@caparol-color-mocca-13: #ad9891;
@caparol-color-mocca-12: #8a7670;
@caparol-color-mocca-15: #d4c5bf;
@caparol-color-mocca-14: #c3b1aa;
@caparol-color-mocca-18: #ebe5e0;
@caparol-color-mocca-16: #dfd4cf;
@caparol-color-marone-0: #7a5743;
@caparol-color-marone-13: #c5a288;
@caparol-color-marone-12: #a88368;
@caparol-color-marone-15: #e1cab6;
@caparol-color-marone-14: #d5b8a1;
@caparol-color-marone-18: #f2e7dc;
@caparol-color-marone-16: #e9d8c8;
@caparol-color-nutria-0: #715a4a;
@caparol-color-nutria-13: #baa188;
@caparol-color-nutria-12: #9c826b;
@caparol-color-nutria-15: #d9c8b4;
@caparol-color-nutria-14: #ccb69f;
@caparol-color-nutria-18: #eee6da;
@caparol-color-nutria-16: #e5d7c7;
@caparol-color-terra-0: #996544;
@caparol-color-terra-13: #d6a47b;
@caparol-color-terra-12: #be875e;
@caparol-color-terra-15: #ebc9a9;
@caparol-color-terra-14: #e3b993;
@caparol-color-terra-18: #f6e7d5;
@caparol-color-terra-16: #f0d7bd;
@caparol-color-havanna-0: #846245;
@caparol-color-havanna-13: #c9a680;
@caparol-color-havanna-12: #ae8862;
@caparol-color-havanna-15: #e4cbae;
@caparol-color-havanna-14: #d8b896;
@caparol-color-havanna-18: #f3e7d8;
@caparol-color-havanna-16: #ebd8c1;
@caparol-color-muskat-0: #72624f;
@caparol-color-muskat-13: #c2b096;
@caparol-color-muskat-12: #a19076;
@caparol-color-muskat-15: #e0d5c0;
@caparol-color-muskat-14: #d3c4ac;
@caparol-color-muskat-18: #f1ede2;
@caparol-color-muskat-16: #e8e0d1;
@caparol-color-savanne-0: #7a6547;
@caparol-color-savanne-13: #cfb48a;
@caparol-color-savanne-12: #b09368;
@caparol-color-savanne-15: #e8d8b9;
@caparol-color-savanne-14: #dec8a3;
@caparol-color-savanne-18: #f3ecdc;
@caparol-color-savanne-16: #ece1ca;
@caparol-color-salbei-0: #5d6859;
@caparol-color-salbei-13: #b3bcae;
@caparol-color-salbei-12: #929c8e;
@caparol-color-salbei-15: #d7dcd3;
@caparol-color-salbei-14: #c6cec1;
@caparol-color-salbei-18: #eceee8;
@caparol-color-salbei-16: #e2e6dd;
@caparol-color-tibet-0: #667372;
@caparol-color-tibet-13: #abb7b4;
@caparol-color-tibet-12: #8c9998;
@caparol-color-tibet-15: #d0d7d5;
@caparol-color-tibet-14: #bfc8c6;
@caparol-color-tibet-18: #e9ede9;
@caparol-color-tibet-16: #dce2de;
@caparol-color-atlantis-0: #4f575d;
@caparol-color-atlantis-13: #95a6af;
@caparol-color-atlantis-12: #748690;
@caparol-color-atlantis-15: #c2ced3;
@caparol-color-atlantis-14: #abbbc2;
@caparol-color-atlantis-18: #e1e8e8;
@caparol-color-atlantis-16: #cfd9dc;