// marabu-siebdruckfarben
@marabu-siebdruckfarben-marabu-020: #e7d938;
@marabu-siebdruckfarben-marabu-1201: #f0df66;
@marabu-siebdruckfarben-marabu-1202: #f9cc00;
@marabu-siebdruckfarben-marabu-026: #f9ca00;
@marabu-siebdruckfarben-marabu-1203: #fac100;
@marabu-siebdruckfarben-marabu-1204: #feb000;
@marabu-siebdruckfarben-marabu-021: #ffb600;
@marabu-siebdruckfarben-marabu-1205: #ff9e00;
@marabu-siebdruckfarben-marabu-1206: #ff9607;
@marabu-siebdruckfarben-marabu-1207: #ff8300;
@marabu-siebdruckfarben-marabu-1208: #fb7717;
@marabu-siebdruckfarben-marabu-022: #f8711c;
@marabu-siebdruckfarben-marabu-1301: #ef6526;
@marabu-siebdruckfarben-marabu-1302: #ea5c24;
@marabu-siebdruckfarben-marabu-1303: #e05232;
@marabu-siebdruckfarben-marabu-036: #db4229;
@marabu-siebdruckfarben-marabu-1304: #d0332e;
@marabu-siebdruckfarben-marabu-1305: #d4392e;
@marabu-siebdruckfarben-marabu-1306: #dd4e44;
@marabu-siebdruckfarben-marabu-1307: #e56963;
@marabu-siebdruckfarben-marabu-1308: #e87268;
@marabu-siebdruckfarben-marabu-1309: #f6a28b;
@marabu-siebdruckfarben-marabu-1310: #f4a497;
@marabu-siebdruckfarben-marabu-1311: #f6beaf;
@marabu-siebdruckfarben-marabu-1312: #f3aaa4;
@marabu-siebdruckfarben-marabu-1313: #f09b96;
@marabu-siebdruckfarben-marabu-1314: #ef939b;
@marabu-siebdruckfarben-marabu-1315: #ea868e;
@marabu-siebdruckfarben-marabu-1316: #e07884;
@marabu-siebdruckfarben-marabu-1317: #e15e6a;
@marabu-siebdruckfarben-marabu-1318: #d8504e;
@marabu-siebdruckfarben-marabu-1319: #d44644;
@marabu-siebdruckfarben-marabu-1320: #cd3c3f;
@marabu-siebdruckfarben-marabu-1321: #cd414b;
@marabu-siebdruckfarben-marabu-1322: #c0303f;
@marabu-siebdruckfarben-marabu-035: #ce2e2f;
@marabu-siebdruckfarben-marabu-031: #b9252b;
@marabu-siebdruckfarben-marabu-1323: #a03037;
@marabu-siebdruckfarben-marabu-1324: #9e3640;
@marabu-siebdruckfarben-marabu-1325: #972c33;
@marabu-siebdruckfarben-marabu-1326: #883036;
@marabu-siebdruckfarben-marabu-1327: #72333e;
@marabu-siebdruckfarben-marabu-1328: #7e3048;
@marabu-siebdruckfarben-marabu-1329: #8b2e4a;
@marabu-siebdruckfarben-marabu-1330: #952e44;
@marabu-siebdruckfarben-marabu-032: #ab2949;
@marabu-siebdruckfarben-marabu-1331: #bc3a57;
@marabu-siebdruckfarben-marabu-1332: #c03e60;
@marabu-siebdruckfarben-marabu-1333: #af2f56;
@marabu-siebdruckfarben-marabu-1334: #b33a6a;
@marabu-siebdruckfarben-marabu-033: #b9276c;
@marabu-siebdruckfarben-marabu-1335: #b83474;
@marabu-siebdruckfarben-marabu-1336: #b63678;
@marabu-siebdruckfarben-marabu-1337: #af2871;
@marabu-siebdruckfarben-marabu-037: #af3c87;
@marabu-siebdruckfarben-marabu-1338: #9d4b91;
@marabu-siebdruckfarben-marabu-1501: #734184;
@marabu-siebdruckfarben-marabu-1502: #5c3a76;
@marabu-siebdruckfarben-marabu-1503: #734485;
@marabu-siebdruckfarben-marabu-1504: #8c5c9d;
@marabu-siebdruckfarben-marabu-1505: #ac84be;
@marabu-siebdruckfarben-marabu-1506: #a398cd;
@marabu-siebdruckfarben-marabu-1507: #8d83c0;
@marabu-siebdruckfarben-marabu-1508: #786cad;
@marabu-siebdruckfarben-marabu-1509: #69599d;
@marabu-siebdruckfarben-marabu-1510: #594285;
@marabu-siebdruckfarben-marabu-1511: #533a77;
@marabu-siebdruckfarben-marabu-1512: #393c67;
@marabu-siebdruckfarben-marabu-1513: #35478f;
@marabu-siebdruckfarben-marabu-1514: #2b5eab;
@marabu-siebdruckfarben-marabu-055: #3d4ca3;
@marabu-siebdruckfarben-marabu-1515: #3657a9;
@marabu-siebdruckfarben-marabu-1516: #3568b5;
@marabu-siebdruckfarben-marabu-1517: #5566a4;
@marabu-siebdruckfarben-marabu-1518: #6380c3;
@marabu-siebdruckfarben-marabu-1519: #6ea1d7;
@marabu-siebdruckfarben-marabu-1520: #57a3d9;
@marabu-siebdruckfarben-marabu-1521: #5391cf;
@marabu-siebdruckfarben-marabu-1522: #156faf;
@marabu-siebdruckfarben-marabu-1523: #00558c;
@marabu-siebdruckfarben-marabu-058: #004a7f;
@marabu-siebdruckfarben-marabu-1524: #044d84;
@marabu-siebdruckfarben-marabu-1525: #005e9c;
@marabu-siebdruckfarben-marabu-057: #0067a8;
@marabu-siebdruckfarben-marabu-1526: #006aae;
@marabu-siebdruckfarben-marabu-1527: #0a87bd;
@marabu-siebdruckfarben-marabu-059: #008bb4;
@marabu-siebdruckfarben-marabu-1528: #0097c0;
@marabu-siebdruckfarben-marabu-1529: #00a7cd;
@marabu-siebdruckfarben-marabu-1530: #0086b9;
@marabu-siebdruckfarben-marabu-1531: #006e9d;
@marabu-siebdruckfarben-marabu-1532: #00546c;
@marabu-siebdruckfarben-marabu-1533: #1f4356;
@marabu-siebdruckfarben-marabu-1534: #37455f;
@marabu-siebdruckfarben-marabu-1535: #006781;
@marabu-siebdruckfarben-marabu-1536: #007f93;
@marabu-siebdruckfarben-marabu-056: #009c93;
@marabu-siebdruckfarben-marabu-1537: #00a2a0;
@marabu-siebdruckfarben-marabu-1538: #4fc7c3;
@marabu-siebdruckfarben-marabu-1601: #5ad1bf;
@marabu-siebdruckfarben-marabu-1602: #00ad98;
@marabu-siebdruckfarben-marabu-1603: #009482;
@marabu-siebdruckfarben-marabu-1604: #007967;
@marabu-siebdruckfarben-marabu-1605: #0c5449;
@marabu-siebdruckfarben-marabu-1606: #303f39;
@marabu-siebdruckfarben-marabu-1607: #2c4b3d;
@marabu-siebdruckfarben-marabu-1608: #0d5d48;
@marabu-siebdruckfarben-marabu-068: #00865d;
@marabu-siebdruckfarben-marabu-1609: #00805d;
@marabu-siebdruckfarben-marabu-1610: #00965a;
@marabu-siebdruckfarben-marabu-1611: #00aa7a;
@marabu-siebdruckfarben-marabu-1612: #00bb91;
@marabu-siebdruckfarben-marabu-1613: #1ac69a;
@marabu-siebdruckfarben-marabu-1614: #00b680;
@marabu-siebdruckfarben-marabu-1615: #00a169;
@marabu-siebdruckfarben-marabu-067: #008042;
@marabu-siebdruckfarben-marabu-1616: #00864c;
@marabu-siebdruckfarben-marabu-1617: #00703e;
@marabu-siebdruckfarben-marabu-1618: #1a5640;
@marabu-siebdruckfarben-marabu-1619: #324d3c;
@marabu-siebdruckfarben-marabu-1620: #3b5538;
@marabu-siebdruckfarben-marabu-1621: #23623f;
@marabu-siebdruckfarben-marabu-1622: #17793c;
@marabu-siebdruckfarben-marabu-1623: #1aa03e;
@marabu-siebdruckfarben-marabu-064: #35c64e;
@marabu-siebdruckfarben-marabu-1624: #49c042;
@marabu-siebdruckfarben-marabu-1625: #7ec050;
@marabu-siebdruckfarben-marabu-1626: #aac74a;
@marabu-siebdruckfarben-marabu-1627: #93c62f;
@marabu-siebdruckfarben-marabu-1628: #7dc433;
@marabu-siebdruckfarben-marabu-1629: #48a82b;
@marabu-siebdruckfarben-marabu-1630: #00a340;
@marabu-siebdruckfarben-marabu-1631: #2c6f33;
@marabu-siebdruckfarben-marabu-1632: #4f7051;
@marabu-siebdruckfarben-marabu-1633: #43693f;
@marabu-siebdruckfarben-marabu-1634: #696736;
@marabu-siebdruckfarben-marabu-1635: #4f7939;
@marabu-siebdruckfarben-marabu-1636: #4e8923;
@marabu-siebdruckfarben-marabu-1637: #769712;
@marabu-siebdruckfarben-marabu-1638: #9d9c23;
@marabu-siebdruckfarben-marabu-1639: #d2bc41;
@marabu-siebdruckfarben-marabu-1401: #f5cf80;
@marabu-siebdruckfarben-marabu-1402: #e3a96c;
@marabu-siebdruckfarben-marabu-1403: #d88e31;
@marabu-siebdruckfarben-marabu-1404: #d38320;
@marabu-siebdruckfarben-marabu-1405: #bc813d;
@marabu-siebdruckfarben-marabu-1406: #9a7b48;
@marabu-siebdruckfarben-marabu-1407: #916745;
@marabu-siebdruckfarben-marabu-1408: #6b4b38;
@marabu-siebdruckfarben-marabu-1409: #614339;
@marabu-siebdruckfarben-marabu-045: #63483b;
@marabu-siebdruckfarben-marabu-1410: #4d3934;
@marabu-siebdruckfarben-marabu-1411: #6c4b4b;
@marabu-siebdruckfarben-marabu-1412: #88504a;
@marabu-siebdruckfarben-marabu-1413: #805345;
@marabu-siebdruckfarben-marabu-1414: #9e4a36;
@marabu-siebdruckfarben-marabu-1415: #c25e3d;
@marabu-siebdruckfarben-marabu-1701: #94a1a8;
@marabu-siebdruckfarben-marabu-1702: #75838c;
@marabu-siebdruckfarben-marabu-1703: #525d65;
@marabu-siebdruckfarben-marabu-1704: #485057;
@marabu-siebdruckfarben-marabu-1705: #373a3f;
@marabu-siebdruckfarben-marabu-073: #242527;
@marabu-siebdruckfarben-marabu-1706: #45484e;
@marabu-siebdruckfarben-marabu-1707: #535457;
@marabu-siebdruckfarben-marabu-1708: #73706f;
@marabu-siebdruckfarben-marabu-1709: #948d8d;
@marabu-siebdruckfarben-marabu-070: #ede8de;