// dupli-color-auto-color
@dupli-color-auto-color-0-0100: #b8bdbc;
@dupli-color-auto-color-0-0220: #bcc2c5;
@dupli-color-auto-color-0-0240: #6e4645;
@dupli-color-auto-color-0-0250: #f3f5ec;
@dupli-color-auto-color-0-0300: #f1eed4;
@dupli-color-auto-color-0-0400: #eaeada;
@dupli-color-auto-color-0-0500: #2c2d2d;
@dupli-color-auto-color-0-0550: #0f0f0e;
@dupli-color-auto-color-0-0600: #b0b2b3;
@dupli-color-auto-color-0-0720: #e1e6d7;
@dupli-color-auto-color-0-0730: #e8e6d5;
@dupli-color-auto-color-0-0740: #eff1e4;
@dupli-color-auto-color-0-0750: #f3f5e8;
@dupli-color-auto-color-1-0020: #f0ecd6;
@dupli-color-auto-color-1-0040: #e5ddc5;
@dupli-color-auto-color-1-0050: #f0e8cf;
@dupli-color-auto-color-1-0060: #e4e3cb;
@dupli-color-auto-color-1-0080: #e3e0cc;
@dupli-color-auto-color-1-0090: #dadcd1;
@dupli-color-auto-color-1-0109: #dfd8c2;
@dupli-color-auto-color-1-0111: #d9dac8;
@dupli-color-auto-color-1-0112: #dcd9c5;
@dupli-color-auto-color-1-0113: #dbd9c7;
@dupli-color-auto-color-1-0114: #e5e5d0;
@dupli-color-auto-color-1-0115: #ededdb;
@dupli-color-auto-color-1-0116: #e8e4cc;
@dupli-color-auto-color-1-0117: #e3e2d0;
@dupli-color-auto-color-1-0120: #d7d4c3;
@dupli-color-auto-color-1-0130: #efe9d2;
@dupli-color-auto-color-1-0131: #dad4ba;
@dupli-color-auto-color-1-0140: #e2dec9;
@dupli-color-auto-color-1-0151: #f3f0d6;
@dupli-color-auto-color-1-0152: #eae4d0;
@dupli-color-auto-color-1-0160: #dad9c7;
@dupli-color-auto-color-1-0180: #dbddc9;
@dupli-color-auto-color-1-0200: #d0d2bf;
@dupli-color-auto-color-1-0220: #ede1c8;
@dupli-color-auto-color-1-0240: #eae0ca;
@dupli-color-auto-color-1-0250: #ded1b8;
@dupli-color-auto-color-1-0260: #ddd2ba;
@dupli-color-auto-color-1-0280: #e5d9bb;
@dupli-color-auto-color-1-0290: #e4dfc6;
@dupli-color-auto-color-1-0291: #d7d3bb;
@dupli-color-auto-color-1-0292: #e3e2cb;
@dupli-color-auto-color-1-0293: #ececdb;
@dupli-color-auto-color-1-0300: #dcd6c1;
@dupli-color-auto-color-1-0320: #d0c5ac;
@dupli-color-auto-color-1-0360: #b3ab96;
@dupli-color-auto-color-1-0380: #7b7c78;
@dupli-color-auto-color-1-0400: #efeedd;
@dupli-color-auto-color-1-0420: #e7e3d3;
@dupli-color-auto-color-1-0440: #d8dcce;
@dupli-color-auto-color-1-0450: #d3d7ce;
@dupli-color-auto-color-1-0460: #dfe5dd;
@dupli-color-auto-color-1-0461: #d9e1da;
@dupli-color-auto-color-1-0470: #d7dbd1;
@dupli-color-auto-color-1-0471: #d8dcd4;
@dupli-color-auto-color-1-0472: #e0e3d6;
@dupli-color-auto-color-1-0474: #c8c9c0;
@dupli-color-auto-color-1-0475: #d2d2c7;
@dupli-color-auto-color-1-0480: #dad7c5;
@dupli-color-auto-color-1-0500: #e6dccc;
@dupli-color-auto-color-1-0540: #e7d9bb;
@dupli-color-auto-color-1-0560: #a39e91;
@dupli-color-auto-color-1-0580: #a39a88;
@dupli-color-auto-color-1-0600: #dee1d2;
@dupli-color-auto-color-1-0640: #95978f;
@dupli-color-auto-color-1-0680: #a9997e;
@dupli-color-auto-color-1-0840: #8c8c86;
@dupli-color-auto-color-1-1020: #afaea2;
@dupli-color-auto-color-1-1040: #958f8b;
@dupli-color-auto-color-1-1060: #90948e;
@dupli-color-auto-color-1-1080: #8d9597;
@dupli-color-auto-color-1-1100: #596667;
@dupli-color-auto-color-1-1120: #494a49;
@dupli-color-auto-color-1-1140: #383f42;
@dupli-color-auto-color-1-1150: #474749;
@dupli-color-auto-color-1-1160: #2a2b2b;
@dupli-color-auto-color-1-1180: #2e2e2c;
@dupli-color-auto-color-2-0040: #e5d2b9;
@dupli-color-auto-color-2-0060: #e3ccab;
@dupli-color-auto-color-2-0080: #e4cb9d;
@dupli-color-auto-color-2-0090: #f6e3a4;
@dupli-color-auto-color-2-0100: #debf95;
@dupli-color-auto-color-2-0120: #d4ab7d;
@dupli-color-auto-color-2-0140: #cfaa7a;
@dupli-color-auto-color-2-0160: #c19b71;
@dupli-color-auto-color-2-0180: #b48858;
@dupli-color-auto-color-2-0200: #c7b08c;
@dupli-color-auto-color-2-0220: #baa88e;
@dupli-color-auto-color-2-0240: #beac92;
@dupli-color-auto-color-2-0260: #b49e80;
@dupli-color-auto-color-2-0280: #af9070;
@dupli-color-auto-color-2-0340: #dca363;
@dupli-color-auto-color-2-0360: #bd7d3d;
@dupli-color-auto-color-2-0380: #a55007;
@dupli-color-auto-color-2-0420: #c7b9a2;
@dupli-color-auto-color-2-0440: #c9aa85;
@dupli-color-auto-color-2-0460: #c5ac93;
@dupli-color-auto-color-2-0500: #ad9170;
@dupli-color-auto-color-2-0880: #d3c5b0;
@dupli-color-auto-color-3-0020: #c6aa73;
@dupli-color-auto-color-3-0060: #eabf28;
@dupli-color-auto-color-3-0080: #e2c62e;
@dupli-color-auto-color-3-0120: #ba9f45;
@dupli-color-auto-color-3-0140: #ce9c1f;
@dupli-color-auto-color-3-0160: #fdbd18;
@dupli-color-auto-color-3-0200: #f9ac00;
@dupli-color-auto-color-3-0220: #f9b829;
@dupli-color-auto-color-3-0230: #ebb149;
@dupli-color-auto-color-3-0240: #ecb300;
@dupli-color-auto-color-3-0280: #eaa500;
@dupli-color-auto-color-3-0320: #e1ab53;
@dupli-color-auto-color-3-0340: #d4941c;
@dupli-color-auto-color-3-0380: #c08e43;
@dupli-color-auto-color-3-0440: #d97e00;
@dupli-color-auto-color-3-0480: #e6d1ac;
@dupli-color-auto-color-3-0500: #d8b17c;
@dupli-color-auto-color-3-0520: #dea811;
@dupli-color-auto-color-3-0540: #ed8900;
@dupli-color-auto-color-3-0550: #fa9800;
@dupli-color-auto-color-3-0600: #e29800;
@dupli-color-auto-color-3-0680: #edc38f;
@dupli-color-auto-color-3-0690: #dfc17d;
@dupli-color-auto-color-4-0020: #dc8414;
@dupli-color-auto-color-4-0030: #bb6a07;
@dupli-color-auto-color-4-0040: #b96d20;
@dupli-color-auto-color-4-0080: #d86704;
@dupli-color-auto-color-4-0140: #d36300;
@dupli-color-auto-color-4-0160: #d36113;
@dupli-color-auto-color-4-0180: #c35219;
@dupli-color-auto-color-4-0200: #ad3619;
@dupli-color-auto-color-4-0210: #a04839;
@dupli-color-auto-color-4-0260: #df3b05;
@dupli-color-auto-color-4-0270: #da4405;
@dupli-color-auto-color-5-0060: #be210e;
@dupli-color-auto-color-5-0070: #b8231d;
@dupli-color-auto-color-5-0140: #a31415;
@dupli-color-auto-color-5-0150: #ae1028;
@dupli-color-auto-color-5-0160: #9e1216;
@dupli-color-auto-color-5-0200: #8f1f1d;
@dupli-color-auto-color-5-0240: #8b0015;
@dupli-color-auto-color-5-0260: #9b1726;
@dupli-color-auto-color-5-0270: #9b1020;
@dupli-color-auto-color-5-0280: #930614;
@dupli-color-auto-color-5-0281: #8b0010;
@dupli-color-auto-color-5-0290: #850013;
@dupli-color-auto-color-5-0291: #880013;
@dupli-color-auto-color-5-0300: #80131f;
@dupli-color-auto-color-5-0310: #84010e;
@dupli-color-auto-color-5-0320: #7a0e1d;
@dupli-color-auto-color-5-0330: #830310;
@dupli-color-auto-color-5-0380: #780111;
@dupli-color-auto-color-5-0400: #750112;
@dupli-color-auto-color-5-0420: #7f0e18;
@dupli-color-auto-color-5-0430: #a3171c;
@dupli-color-auto-color-5-0440: #6f1517;
@dupli-color-auto-color-5-0460: #5b0718;
@dupli-color-auto-color-5-0470: #6a1329;
@dupli-color-auto-color-5-0471: #5f0d16;
@dupli-color-auto-color-5-0472: #5b0f16;
@dupli-color-auto-color-5-0490: #6e121d;
@dupli-color-auto-color-5-0491: #72060e;
@dupli-color-auto-color-5-0492: #601417;
@dupli-color-auto-color-5-0493: #640618;
@dupli-color-auto-color-5-0500: #590b17;
@dupli-color-auto-color-5-0520: #a61c19;
@dupli-color-auto-color-5-0540: #8f0619;
@dupli-color-auto-color-5-0550: #960912;
@dupli-color-auto-color-5-0551: #890009;
@dupli-color-auto-color-5-0552: #860b0c;
@dupli-color-auto-color-5-0560: #870b14;
@dupli-color-auto-color-5-0580: #841511;
@dupli-color-auto-color-5-0600: #841f18;
@dupli-color-auto-color-5-0620: #630a13;
@dupli-color-auto-color-5-0640: #451118;
@dupli-color-auto-color-5-0700: #361317;
@dupli-color-auto-color-5-0720: #52141c;
@dupli-color-auto-color-5-0740: #552123;
@dupli-color-auto-color-6-0020: #9c3818;
@dupli-color-auto-color-6-0040: #7d3218;
@dupli-color-auto-color-6-0080: #6e2b20;
@dupli-color-auto-color-6-0100: #5d1a20;
@dupli-color-auto-color-6-0120: #520410;
@dupli-color-auto-color-6-0180: #3e1218;
@dupli-color-auto-color-6-0200: #3f2a16;
@dupli-color-auto-color-6-0240: #5d1e1b;
@dupli-color-auto-color-6-0360: #2c1d1c;
@dupli-color-auto-color-6-0380: #402a22;
@dupli-color-auto-color-7-0020: #b6c08c;
@dupli-color-auto-color-7-0060: #707e50;
@dupli-color-auto-color-7-0080: #697052;
@dupli-color-auto-color-7-0100: #839250;
@dupli-color-auto-color-7-0120: #728c46;
@dupli-color-auto-color-7-0140: #828251;
@dupli-color-auto-color-7-0160: #8f8a69;
@dupli-color-auto-color-7-0180: #656b1c;
@dupli-color-auto-color-7-0220: #635e2b;
@dupli-color-auto-color-7-0240: #a3b531;
@dupli-color-auto-color-7-0260: #8ca900;
@dupli-color-auto-color-7-0280: #6d8c00;
@dupli-color-auto-color-7-0300: #618000;
@dupli-color-auto-color-7-0320: #458518;
@dupli-color-auto-color-7-0340: #39821d;
@dupli-color-auto-color-7-0360: #006f2d;
@dupli-color-auto-color-7-0370: #008f6c;
@dupli-color-auto-color-7-0390: #005f40;
@dupli-color-auto-color-7-0400: #104e1d;
@dupli-color-auto-color-7-0410: #315a1d;
@dupli-color-auto-color-7-0420: #153e20;
@dupli-color-auto-color-7-0440: #394926;
@dupli-color-auto-color-7-0441: #002f21;
@dupli-color-auto-color-7-0450: #17261f;
@dupli-color-auto-color-7-0600: #3a5d4b;
@dupli-color-auto-color-7-0640: #434832;
@dupli-color-auto-color-7-0650: #123924;
@dupli-color-auto-color-7-0660: #1a321e;
@dupli-color-auto-color-7-0680: #1c2d23;
@dupli-color-auto-color-7-0690: #27383b;
@dupli-color-auto-color-7-0780: #858761;
@dupli-color-auto-color-8-0020: #afc1ba;
@dupli-color-auto-color-8-0040: #80a4a1;
@dupli-color-auto-color-8-0050: #7eabbc;
@dupli-color-auto-color-8-0060: #93b9b4;
@dupli-color-auto-color-8-0080: #51a9af;
@dupli-color-auto-color-8-0090: #008d82;
@dupli-color-auto-color-8-0094: #00816f;
@dupli-color-auto-color-8-0100: #006762;
@dupli-color-auto-color-8-0120: #5c96ac;
@dupli-color-auto-color-8-0140: #736d9a;
@dupli-color-auto-color-8-0150: #7e3474;
@dupli-color-auto-color-8-0170: #b26191;
@dupli-color-auto-color-8-0180: #48616f;
@dupli-color-auto-color-8-0200: #3c5362;
@dupli-color-auto-color-8-0220: #37505c;
@dupli-color-auto-color-8-0240: #007d97;
@dupli-color-auto-color-8-0250: #37598d;
@dupli-color-auto-color-8-0251: #2e3a73;
@dupli-color-auto-color-8-0252: #333b68;
@dupli-color-auto-color-8-0254: #193963;
@dupli-color-auto-color-8-0260: #0084a9;
@dupli-color-auto-color-8-0271: #2b4474;
@dupli-color-auto-color-8-0272: #1a3b62;
@dupli-color-auto-color-8-0273: #004069;
@dupli-color-auto-color-8-0280: #295e79;
@dupli-color-auto-color-8-0290: #0b3260;
@dupli-color-auto-color-8-0300: #005b83;
@dupli-color-auto-color-8-0301: #004f6f;
@dupli-color-auto-color-8-0302: #00587c;
@dupli-color-auto-color-8-0303: #005382;
@dupli-color-auto-color-8-0310: #004277;
@dupli-color-auto-color-8-0320: #00436e;
@dupli-color-auto-color-8-0321: #003e5b;
@dupli-color-auto-color-8-0331: #13293b;
@dupli-color-auto-color-8-0332: #0e2d3d;
@dupli-color-auto-color-8-0333: #003048;
@dupli-color-auto-color-8-0340: #002f46;
@dupli-color-auto-color-8-0350: #111c2a;
@dupli-color-auto-color-8-0351: #121d26;
@dupli-color-auto-color-8-0352: #0d1b2a;
@dupli-color-auto-color-8-0353: #121f2b;
@dupli-color-auto-color-8-0354: #141d2f;
@dupli-color-auto-color-8-0355: #102639;
@dupli-color-auto-color-8-0360: #121822;
@dupli-color-auto-color-8-0370: #12161c;
@dupli-color-auto-color-8-0380: #161b25;
@dupli-color-auto-color-8-0390: #131723;
@dupli-color-auto-color-8-0400: #0e0e0c;
@dupli-color-auto-color-8-0420: #a3ccc5;
@dupli-color-auto-color-8-0440: #517c8c;
@dupli-color-auto-color-8-0460: #255c6d;
@dupli-color-auto-color-8-0470: #00728f;
@dupli-color-auto-color-8-0480: #006b83;
@dupli-color-auto-color-8-0500: #295261;
@dupli-color-auto-color-8-0520: #47575e;
@dupli-color-auto-color-8-0540: #1d3f4c;
@dupli-color-auto-color-8-0550: #0a2f2c;
@dupli-color-auto-color-8-0560: #003e47;
@dupli-color-auto-color-8-0590: #143854;
@dupli-color-auto-color-8-0591: #12254b;
@dupli-color-auto-color-8-0600: #11314c;
@dupli-color-auto-color-8-0610: #3b3c3b;
@dupli-color-auto-color-8-0620: #29343d;
@dupli-color-auto-color-8-0640: #151f2a;
@dupli-color-auto-color-8-0660: #162230;
@dupli-color-auto-color-8-0680: #131c29;
@dupli-color-auto-color-8-0780: #4683a1;
@dupli-color-auto-color-8-0840: #759b9e;
@dupli-color-auto-color-8-0940: #1f6f83;
@dupli-color-auto-color-8-0950: #00465d;
@dupli-color-auto-color-8-0960: #062c3d;
@dupli-color-auto-color-8-0970: #173d67;
@dupli-color-auto-color-8-1000: #005f77;
@dupli-color-auto-color-8-1020: #22495e;
@dupli-color-auto-color-8-1040: #193e5a;
@dupli-color-auto-color-8-1140: #3a6d71;
@dupli-color-auto-color-10-0010: #bfc1c3;
@dupli-color-auto-color-10-0030: #a2a9ad;
@dupli-color-auto-color-10-0050: #a2a3a0;
@dupli-color-auto-color-10-0070: #b3b6b5;
@dupli-color-auto-color-10-0090: #acadab;
@dupli-color-auto-color-10-0110: #a9abab;
@dupli-color-auto-color-10-0111: #b6b8b8;
@dupli-color-auto-color-10-0112: #cacccb;
@dupli-color-auto-color-10-0113: #acaeaf;
@dupli-color-auto-color-10-0114: #babbb9;
@dupli-color-auto-color-10-0120: #9e9e9b;
@dupli-color-auto-color-10-0121: #a4a5a3;
@dupli-color-auto-color-10-0122: #9f9f9c;
@dupli-color-auto-color-10-0123: #afb6b6;
@dupli-color-auto-color-10-0124: #c2c4c4;
@dupli-color-auto-color-10-0125: #a9acad;
@dupli-color-auto-color-10-0126: #b8bab7;
@dupli-color-auto-color-10-0128: #c4c5c4;
@dupli-color-auto-color-10-0130: #9f9f95;
@dupli-color-auto-color-10-0131: #acaeac;
@dupli-color-auto-color-10-0132: #acaeae;
@dupli-color-auto-color-10-0133: #999a97;
@dupli-color-auto-color-10-0140: #b4ab8d;
@dupli-color-auto-color-10-0150: #a9a59e;
@dupli-color-auto-color-10-0161: #b0aba1;
@dupli-color-auto-color-10-0170: #bbb1a3;
@dupli-color-auto-color-10-0180: #aa9f82;
@dupli-color-auto-color-10-0181: #ada38d;
@dupli-color-auto-color-10-0182: #b7ac99;
@dupli-color-auto-color-10-0184: #8b8879;
@dupli-color-auto-color-10-0210: #868986;
@dupli-color-auto-color-10-0220: #a3a9a8;
@dupli-color-auto-color-10-0223: #9ba8a4;
@dupli-color-auto-color-10-0230: #868a8a;
@dupli-color-auto-color-20-0010: #9aaeb1;
@dupli-color-auto-color-20-0013: #8ba0a2;
@dupli-color-auto-color-20-0020: #728d9b;
@dupli-color-auto-color-20-0030: #829294;
@dupli-color-auto-color-20-0040: #839daa;
@dupli-color-auto-color-20-0050: #81a0aa;
@dupli-color-auto-color-20-0060: #82a3ad;
@dupli-color-auto-color-20-0070: #6c8ea5;
@dupli-color-auto-color-20-0082: #6b7985;
@dupli-color-auto-color-20-0090: #506e84;
@dupli-color-auto-color-20-0100: #6b93a3;
@dupli-color-auto-color-20-0110: #7f9fad;
@dupli-color-auto-color-20-0111: #74a3ab;
@dupli-color-auto-color-20-0112: #71a1af;
@dupli-color-auto-color-20-0130: #5d8999;
@dupli-color-auto-color-20-0140: #131222;
@dupli-color-auto-color-20-0150: #619ba4;
@dupli-color-auto-color-20-0180: #00615a;
@dupli-color-auto-color-20-0200: #007369;
@dupli-color-auto-color-20-0210: #728f9a;
@dupli-color-auto-color-20-0230: #4f656e;
@dupli-color-auto-color-20-0250: #457786;
@dupli-color-auto-color-20-0270: #107b98;
@dupli-color-auto-color-20-0271: #2c788f;
@dupli-color-auto-color-20-0272: #007d96;
@dupli-color-auto-color-20-0290: #4c7fa2;
@dupli-color-auto-color-20-0330: #1b687a;
@dupli-color-auto-color-20-0340: #0f3146;
@dupli-color-auto-color-20-0350: #0c3242;
@dupli-color-auto-color-20-0360: #11252d;
@dupli-color-auto-color-20-0370: #223c53;
@dupli-color-auto-color-20-0380: #202738;
@dupli-color-auto-color-20-0390: #3d5161;
@dupli-color-auto-color-20-0400: #50616a;
@dupli-color-auto-color-20-0401: #365966;
@dupli-color-auto-color-20-0402: #536672;
@dupli-color-auto-color-20-0420: #24272a;
@dupli-color-auto-color-20-0430: #8fa4ae;
@dupli-color-auto-color-20-0440: #9ba7ab;
@dupli-color-auto-color-20-0450: #7b8e96;
@dupli-color-auto-color-20-0460: #6c899d;
@dupli-color-auto-color-20-0470: #6e8ea9;
@dupli-color-auto-color-20-0510: #3c6167;
@dupli-color-auto-color-20-0530: #4c5b64;
@dupli-color-auto-color-20-0540: #556973;
@dupli-color-auto-color-20-0550: #55636a;
@dupli-color-auto-color-20-0580: #4f6068;
@dupli-color-auto-color-20-0585: #6d7f83;
@dupli-color-auto-color-20-0590: #3f4445;
@dupli-color-auto-color-20-0610: #334040;
@dupli-color-auto-color-20-0630: #526673;
@dupli-color-auto-color-20-0660: #1a4a54;
@dupli-color-auto-color-20-0661: #a5aeb1;
@dupli-color-auto-color-20-0670: #2d6169;
@dupli-color-auto-color-20-0671: #193d47;
@dupli-color-auto-color-20-0673: #1d292d;
@dupli-color-auto-color-20-0680: #31405c;
@dupli-color-auto-color-20-0690: #172f42;
@dupli-color-auto-color-20-0691: #273240;
@dupli-color-auto-color-20-0700: #3a5164;
@dupli-color-auto-color-20-0710: #324552;
@dupli-color-auto-color-20-0720: #293741;
@dupli-color-auto-color-20-0730: #304048;
@dupli-color-auto-color-20-0740: #334754;
@dupli-color-auto-color-20-0750: #1b2631;
@dupli-color-auto-color-20-0760: #131415;
@dupli-color-auto-color-20-0790: #225b7f;
@dupli-color-auto-color-20-0791: #006386;
@dupli-color-auto-color-20-0792: #005c7b;
@dupli-color-auto-color-20-0800: #153560;
@dupli-color-auto-color-20-0801: #162d5a;
@dupli-color-auto-color-20-0802: #213048;
@dupli-color-auto-color-20-0803: #1e2139;
@dupli-color-auto-color-20-0804: #212f3c;
@dupli-color-auto-color-20-0805: #1b283d;
@dupli-color-auto-color-20-0806: #1f1e28;
@dupli-color-auto-color-20-0807: #131a22;
@dupli-color-auto-color-20-0808: #141e2d;
@dupli-color-auto-color-20-0809: #232b35;
@dupli-color-auto-color-20-0810: #12181b;
@dupli-color-auto-color-20-0812: #121825;
@dupli-color-auto-color-20-0814: #132135;
@dupli-color-auto-color-20-0830: #2b4258;
@dupli-color-auto-color-20-0841: #1c5277;
@dupli-color-auto-color-20-0850: #163850;
@dupli-color-auto-color-20-0851: #2e3d5f;
@dupli-color-auto-color-20-0860: #24293b;
@dupli-color-auto-color-20-0870: #2b3139;
@dupli-color-auto-color-20-0890: #1b1c1e;
@dupli-color-auto-color-20-0900: #23222e;
@dupli-color-auto-color-20-0903: #1a2243;
@dupli-color-auto-color-20-0910: #434a53;
@dupli-color-auto-color-20-0950: #242b32;
@dupli-color-auto-color-20-0970: #008889;
@dupli-color-auto-color-20-1130: #1a2435;
@dupli-color-auto-color-20-1250: #508584;
@dupli-color-auto-color-20-1258: #799e9c;
@dupli-color-auto-color-20-1260: #536f72;
@dupli-color-auto-color-20-1270: #464f5d;
@dupli-color-auto-color-20-1310: #21272c;
@dupli-color-auto-color-30-0010: #96a590;
@dupli-color-auto-color-30-0030: #b4bdad;
@dupli-color-auto-color-30-0050: #b1b494;
@dupli-color-auto-color-30-0110: #b8b189;
@dupli-color-auto-color-30-0120: #989879;
@dupli-color-auto-color-30-0130: #9ca293;
@dupli-color-auto-color-30-0150: #829030;
@dupli-color-auto-color-30-0200: #87967a;
@dupli-color-auto-color-30-0210: #759a62;
@dupli-color-auto-color-30-0220: #4e8048;
@dupli-color-auto-color-30-0230: #55774a;
@dupli-color-auto-color-30-0250: #455324;
@dupli-color-auto-color-30-0260: #269161;
@dupli-color-auto-color-30-0261: #21703a;
@dupli-color-auto-color-30-0262: #475634;
@dupli-color-auto-color-30-0263: #293e2a;
@dupli-color-auto-color-30-0270: #263928;
@dupli-color-auto-color-30-0271: #243626;
@dupli-color-auto-color-30-0272: #213125;
@dupli-color-auto-color-30-0273: #151e1c;
@dupli-color-auto-color-30-0281: #263c2a;
@dupli-color-auto-color-30-0290: #222c1b;
@dupli-color-auto-color-30-0300: #202e24;
@dupli-color-auto-color-30-0310: #509d61;
@dupli-color-auto-color-30-0330: #4e837a;
@dupli-color-auto-color-30-0350: #578177;
@dupli-color-auto-color-30-0355: #aaa895;
@dupli-color-auto-color-30-0360: #abb3ac;
@dupli-color-auto-color-30-0370: #a0a896;
@dupli-color-auto-color-30-0375: #90a69c;
@dupli-color-auto-color-30-0380: #667b73;
@dupli-color-auto-color-30-0381: #67736e;
@dupli-color-auto-color-30-0390: #8c9581;
@dupli-color-auto-color-30-0391: #96ada0;
@dupli-color-auto-color-30-0420: #7d9074;
@dupli-color-auto-color-30-0440: #508965;
@dupli-color-auto-color-30-0460: #45614f;
@dupli-color-auto-color-30-0470: #314130;
@dupli-color-auto-color-30-0471: #434b47;
@dupli-color-auto-color-30-0472: #29473e;
@dupli-color-auto-color-30-0473: #1f4c37;
@dupli-color-auto-color-30-0474: #161a1c;
@dupli-color-auto-color-30-0475: #113322;
@dupli-color-auto-color-30-0477: #0e4a2c;
@dupli-color-auto-color-30-0478: #173522;
@dupli-color-auto-color-30-0480: #2c3f38;
@dupli-color-auto-color-30-0490: #114231;
@dupli-color-auto-color-30-0491: #273e39;
@dupli-color-auto-color-30-0500: #1b453f;
@dupli-color-auto-color-30-0510: #44615f;
@dupli-color-auto-color-30-0530: #254d4d;
@dupli-color-auto-color-30-0531: #003e3f;
@dupli-color-auto-color-30-0540: #003636;
@dupli-color-auto-color-30-0541: #15231e;
@dupli-color-auto-color-30-0542: #0c2722;
@dupli-color-auto-color-30-0550: #8eae9e;
@dupli-color-auto-color-30-0570: #40705d;
@dupli-color-auto-color-30-0580: #007f66;
@dupli-color-auto-color-30-0610: #434743;
@dupli-color-auto-color-30-0620: #77756d;
@dupli-color-auto-color-30-0630: #575444;
@dupli-color-auto-color-30-0730: #8d9f96;
@dupli-color-auto-color-30-0770: #004c4a;
@dupli-color-auto-color-30-0780: #5a625d;
@dupli-color-auto-color-30-0790: #4c5554;
@dupli-color-auto-color-30-0830: #403f26;
@dupli-color-auto-color-30-0850: #11493f;
@dupli-color-auto-color-30-0855: #006b66;
@dupli-color-auto-color-30-0860: #004b4b;
@dupli-color-auto-color-30-0861: #0d5457;
@dupli-color-auto-color-30-0870: #174247;
@dupli-color-auto-color-30-0890: #1f261e;
@dupli-color-auto-color-30-0910: #1a2f2a;
@dupli-color-auto-color-30-0911: #1a2523;
@dupli-color-auto-color-30-0913: #303a3c;
@dupli-color-auto-color-30-0920: #072521;
@dupli-color-auto-color-30-0930: #212923;
@dupli-color-auto-color-30-0935: #3d4843;
@dupli-color-auto-color-30-0940: #273030;
@dupli-color-auto-color-30-0960: #182321;
@dupli-color-auto-color-30-0961: #2b585b;
@dupli-color-auto-color-30-0970: #06504b;
@dupli-color-auto-color-30-0971: #004c44;
@dupli-color-auto-color-30-0972: #005a48;
@dupli-color-auto-color-30-0973: #00443c;
@dupli-color-auto-color-30-0974: #003433;
@dupli-color-auto-color-30-0980: #074540;
@dupli-color-auto-color-30-0990: #007b59;
@dupli-color-auto-color-30-1010: #4b5241;
@dupli-color-auto-color-30-1050: #112326;
@dupli-color-auto-color-40-0010: #b9a98f;
@dupli-color-auto-color-40-0020: #b9a98e;
@dupli-color-auto-color-40-0030: #b9a896;
@dupli-color-auto-color-40-0050: #9b845f;
@dupli-color-auto-color-40-0051: #b6a06b;
@dupli-color-auto-color-40-0060: #b89d3d;
@dupli-color-auto-color-40-0061: #ae8917;
@dupli-color-auto-color-40-0062: #d9871c;
@dupli-color-auto-color-40-0070: #a88149;
@dupli-color-auto-color-40-0080: #a67e3a;
@dupli-color-auto-color-40-0090: #a07a4c;
@dupli-color-auto-color-40-0100: #a07c59;
@dupli-color-auto-color-40-0110: #a27544;
@dupli-color-auto-color-40-0120: #a26532;
@dupli-color-auto-color-40-0125: #98673a;
@dupli-color-auto-color-40-0130: #a0a29f;
@dupli-color-auto-color-40-0150: #a79a8a;
@dupli-color-auto-color-40-0160: #b4ab97;
@dupli-color-auto-color-40-0161: #a89c81;
@dupli-color-auto-color-40-0190: #bda072;
@dupli-color-auto-color-40-0230: #8c643a;
@dupli-color-auto-color-40-0270: #9f8567;
@dupli-color-auto-color-50-0010: #8d3943;
@dupli-color-auto-color-50-0020: #642f3c;
@dupli-color-auto-color-50-0030: #781f23;
@dupli-color-auto-color-50-0040: #510e1c;
@dupli-color-auto-color-50-0050: #662220;
@dupli-color-auto-color-50-0060: #752e37;
@dupli-color-auto-color-50-0070: #7c402f;
@dupli-color-auto-color-50-0080: #7e362b;
@dupli-color-auto-color-50-0081: #8c3026;
@dupli-color-auto-color-50-0130: #702a31;
@dupli-color-auto-color-50-0150: #6d3038;
@dupli-color-auto-color-50-0153: #661c29;
@dupli-color-auto-color-50-0155: #4e1927;
@dupli-color-auto-color-50-0160: #65202c;
@dupli-color-auto-color-50-0161: #4a1725;
@dupli-color-auto-color-50-0162: #55101b;
@dupli-color-auto-color-50-0163: #45121c;
@dupli-color-auto-color-50-0164: #5b1b23;
@dupli-color-auto-color-50-0170: #652431;
@dupli-color-auto-color-50-0190: #531d23;
@dupli-color-auto-color-50-0210: #511c28;
@dupli-color-auto-color-50-0230: #4b161e;
@dupli-color-auto-color-50-0240: #531922;
@dupli-color-auto-color-50-0250: #521c1f;
@dupli-color-auto-color-50-0270: #411f23;
@dupli-color-auto-color-50-0280: #4e1423;
@dupli-color-auto-color-50-0290: #441721;
@dupli-color-auto-color-50-0300: #3e141a;
@dupli-color-auto-color-50-0302: #481f29;
@dupli-color-auto-color-50-0310: #501826;
@dupli-color-auto-color-50-0320: #5d1a26;
@dupli-color-auto-color-50-0420: #371b21;
@dupli-color-auto-color-50-0430: #29181b;
@dupli-color-auto-color-50-0450: #3e1d23;
@dupli-color-auto-color-50-0530: #421b1c;
@dupli-color-auto-color-60-0010: #9c533e;
@dupli-color-auto-color-60-0020: #995041;
@dupli-color-auto-color-60-0070: #91795c;
@dupli-color-auto-color-60-0090: #865530;
@dupli-color-auto-color-60-0110: #7e4c2e;
@dupli-color-auto-color-60-0130: #503026;
@dupli-color-auto-color-60-0140: #2c241f;
@dupli-color-auto-color-60-0150: #3a2a24;
@dupli-color-auto-color-60-0180: #6b554d;
@dupli-color-auto-color-60-0290: #654329;
@dupli-color-auto-color-60-0330: #584435;
@dupli-color-auto-color-60-0350: #3f231d;
@dupli-color-auto-color-60-0360: #3f3735;
@dupli-color-auto-color-60-0370: #413026;
@dupli-color-auto-color-60-0390: #615748;
@dupli-color-auto-color-60-0510: #655a4e;
@dupli-color-auto-color-70-0020: #6f7473;
@dupli-color-auto-color-70-0030: #a59782;
@dupli-color-auto-color-70-0040: #a9a29a;
@dupli-color-auto-color-70-0050: #717169;
@dupli-color-auto-color-70-0060: #65615d;
@dupli-color-auto-color-70-0070: #44474a;
@dupli-color-auto-color-70-0090: #3c3b39;
@dupli-color-auto-color-70-0091: #5c5f5c;
@dupli-color-auto-color-70-0100: #2f3030;
@dupli-color-auto-color-70-0103: #3b3f41;
@dupli-color-auto-color-70-0110: #3d4240;
@dupli-color-auto-color-70-0111: #3b4040;
@dupli-color-auto-color-70-0112: #292e30;
@dupli-color-auto-color-70-0130: #454443;
@dupli-color-auto-color-70-0140: #1f2021;
@dupli-color-auto-color-70-0160: #5f6061;
@dupli-color-auto-color-70-0170: #4a4d4b;
@dupli-color-auto-color-70-0180: #6b6c69;
@dupli-color-auto-color-70-0200: #4c5553;
@dupli-color-auto-color-70-0210: #5c6666;
@dupli-color-auto-color-70-0211: #687070;
@dupli-color-auto-color-70-0220: #4f5b5d;
@dupli-color-auto-color-70-0224: #757775;
@dupli-color-auto-color-70-0230: #61686a;
@dupli-color-auto-color-70-0240: #646566;
@dupli-color-auto-color-70-0250: #4c4e4e;
@dupli-color-auto-color-70-0260: #413f39;
@dupli-color-auto-color-70-0270: #5d5d58;
@dupli-color-auto-color-70-0280: #53584f;
@dupli-color-auto-color-70-0290: #6c6a63;
@dupli-color-auto-color-70-0310: #797370;
@dupli-color-auto-color-70-0320: #838688;
@dupli-color-auto-color-70-0330: #696361;
@dupli-color-auto-color-70-0350: #6a6968;
@dupli-color-auto-color-70-0360: #60605d;
@dupli-color-auto-color-70-0370: #495151;
@dupli-color-auto-color-70-0375: #60676a;
@dupli-color-auto-color-70-0377: #585e60;
@dupli-color-auto-color-70-0380: #4d4b43;
@dupli-color-auto-color-70-0385: #485457;
@dupli-color-auto-color-70-0390: #485054;
@dupli-color-auto-color-70-0394: #42494a;
@dupli-color-auto-color-70-0400: #313335;
@dupli-color-auto-color-70-0401: #3e403c;
@dupli-color-auto-color-70-0409: #353739;
@dupli-color-auto-color-70-0410: #212325;
@dupli-color-auto-color-70-0421: #232425;
@dupli-color-auto-color-70-0422: #25292c;
@dupli-color-auto-color-70-0423: #15191a;
@dupli-color-auto-color-70-0424: #131214;
@dupli-color-auto-color-70-0425: #141416;
@dupli-color-auto-color-70-0430: #8b8c8b;
@dupli-color-auto-color-70-0440: #8e8b8a;
@dupli-color-auto-color-70-0450: #5b6d6f;
@dupli-color-auto-color-70-0490: #1e1e22;
@dupli-color-auto-color-70-0530: #2b2a2f;
@dupli-color-auto-color-70-0570: #2c3537;
@dupli-color-auto-color-70-0720: #1a1717;
@dupli-color-auto-color-70-0730: #111214;
@dupli-color-auto-color-70-0733: #171718;
@dupli-color-auto-color-70-0740: #222024;
@dupli-color-auto-color-70-0741: #3f3d3c;
@dupli-color-auto-color-70-0750: #484449;
@dupli-color-auto-color-70-0760: #2c363c;
@dupli-color-auto-color-70-0770: #827c6f;
@dupli-color-auto-color-70-0780: #aba697;
@dupli-color-auto-color-70-0790: #746c62;
@dupli-color-auto-color-70-0791: #aaa194;
@dupli-color-auto-color-70-0810: #62625e;
@dupli-color-auto-color-120-0050: #1d547e;
@dupli-color-auto-color-120-0080: #003b5e;
@dupli-color-auto-color-120-0090: #203b54;
@dupli-color-auto-color-120-0100: #173b63;
@dupli-color-auto-color-120-0125: #384f7c;
@dupli-color-auto-color-120-0150: #0d283e;
@dupli-color-auto-color-120-0160: #122334;
@dupli-color-auto-color-120-0200: #1c2c2c;
@dupli-color-auto-color-120-0250: #101e31;
@dupli-color-auto-color-120-0290: #272831;
@dupli-color-auto-color-120-0310: #292b29;
@dupli-color-auto-color-120-0318: #2c373b;
@dupli-color-auto-color-120-0320: #1a1d25;
@dupli-color-auto-color-120-0400: #181f30;
@dupli-color-auto-color-120-0450: #161821;
@dupli-color-auto-color-120-0500: #111319;
@dupli-color-auto-color-120-0550: #1d1c2e;
@dupli-color-auto-color-130-0100: #21443a;
@dupli-color-auto-color-130-0240: #162121;
@dupli-color-auto-color-130-0300: #171e1e;
@dupli-color-auto-color-150-0010: #26161b;
@dupli-color-auto-color-150-0020: #271b1a;
@dupli-color-auto-color-150-0040: #2f1318;
@dupli-color-auto-color-150-0060: #391219;
@dupli-color-auto-color-150-0120: #441925;
@dupli-color-auto-color-150-0160: #4a101b;