// oracal-serie-751
@oracal-serie-751-oracal-010-weiss: #edf0f3;
@oracal-serie-751-oracal-020-goldgelb: #f7a000;
@oracal-serie-751-oracal-211-sonnengelb: #eea800;
@oracal-serie-751-oracal-019-signalgelb: #df9d00;
@oracal-serie-751-oracal-209-maisgelb: #f5b200;
@oracal-serie-751-oracal-021-gelb: #eab500;
@oracal-serie-751-oracal-022-shellgelb: #f6c500;
@oracal-serie-751-oracal-025-schwefelgelb: #ecdb01;
@oracal-serie-751-oracal-023-creme: #efdb9e;
@oracal-serie-751-oracal-018-hellelfenbein: #e5d4ba;
@oracal-serie-751-oracal-026-purpurrot: #5a151c;
@oracal-serie-751-oracal-030-dunkelrot: #7e0f18;
@oracal-serie-751-oracal-031-rot: #9b271c;
@oracal-serie-751-oracal-027-tomatenrot: #a91219;
@oracal-serie-751-oracal-028-kardinalrot: #a8151d;
@oracal-serie-751-oracal-032-hellrot: #b41d09;
@oracal-serie-751-oracal-324-blutrot: #bc1511;
@oracal-serie-751-oracal-325-mittelrot: #b4180b;
@oracal-serie-751-oracal-326-signalrot: #be1d00;
@oracal-serie-751-oracal-047-orangerot: #c33306;
@oracal-serie-751-oracal-033-rotorange: #be320a;
@oracal-serie-751-oracal-034-orange: #de4f10;
@oracal-serie-751-oracal-035-pastellorange: #e55e00;
@oracal-serie-751-oracal-048-bordeaux: #620a32;
@oracal-serie-751-oracal-040-violett: #5d356c;
@oracal-serie-751-oracal-403-hellviolett: #5a378b;
@oracal-serie-751-oracal-043-lavendel: #7865a7;
@oracal-serie-751-oracal-042-flieder: #b696bd;
@oracal-serie-751-oracal-041-pink: #af2666;
@oracal-serie-751-oracal-077-telemagenta: #b73571;
@oracal-serie-751-oracal-044-magenta: #cb5984;
@oracal-serie-751-oracal-045-hellrosa: #e486ba;
@oracal-serie-751-oracal-532-schwarzblau: #111925;
@oracal-serie-751-oracal-518-stahlblau: #11183e;
@oracal-serie-751-oracal-050-dunkelblau: #22365e;
@oracal-serie-751-oracal-058-ultramarinblau: #13346e;
@oracal-serie-751-oracal-537-tiefblau: #1d265e;
@oracal-serie-751-oracal-065-kobaltblau: #1d2d6e;
@oracal-serie-751-oracal-540-classic-blau: #282179;
@oracal-serie-751-oracal-049-koenigsblau: #1d367b;
@oracal-serie-751-oracal-086-brillantblau: #2b42a6;
@oracal-serie-751-oracal-536-mittelblau: #10377c;
@oracal-serie-751-oracal-067-blau: #00487b;
@oracal-serie-751-oracal-057-verkehrsblau: #004d8c;
@oracal-serie-751-oracal-051-enzianblau: #00609e;
@oracal-serie-751-oracal-052-azurblau: #006fb0;
@oracal-serie-751-oracal-517-euroblau: #0088ba;
@oracal-serie-751-oracal-053-hellblau: #0095cb;
@oracal-serie-751-oracal-056-lichtblau: #4aaad3;
@oracal-serie-751-oracal-608-petrol: #00606a;
@oracal-serie-751-oracal-066-tuerkisblau: #008888;
@oracal-serie-751-oracal-054-tuerkis: #00a597;
@oracal-serie-751-oracal-055-mint: #70d1b6;
@oracal-serie-751-oracal-060-dunkelgruen: #004928;
@oracal-serie-751-oracal-078-laubgruen: #105119;
@oracal-serie-751-oracal-617-smaragdgruen: #006026;
@oracal-serie-751-oracal-607-tuerkisgruen: #006a4a;
@oracal-serie-751-oracal-061-gruen: #007947;
@oracal-serie-751-oracal-068-grasgruen: #007e3d;
@oracal-serie-751-oracal-062-hellgruen: #008c34;
@oracal-serie-751-oracal-064-gelbgruen: #369b01;
@oracal-serie-751-oracal-063-lindgruen: #6ebf2e;
@oracal-serie-751-oracal-080-braun: #412a22;
@oracal-serie-751-oracal-079-rotbraun: #5d231a;
@oracal-serie-751-oracal-083-haselnussbraun: #aa561f;
@oracal-serie-751-oracal-081-hellbraun: #aa8561;
@oracal-serie-751-oracal-070-schwarz: #0c0d0e;
@oracal-serie-751-oracal-720-komatsugrau: #2e3032;
@oracal-serie-751-oracal-093-anthrazit: #454643;
@oracal-serie-751-oracal-073-dunkelgrau: #4e4f4e;
@oracal-serie-751-oracal-713-eisengrau: #5d6262;
@oracal-serie-751-oracal-071-grau: #6d706b;
@oracal-serie-751-oracal-721-schiefergrau: #7b858b;
@oracal-serie-751-oracal-076-telegrau: #8a8d8f;
@oracal-serie-751-oracal-074-mittelgrau: #909490;
@oracal-serie-751-oracal-072-hellgrau: #c6c8c8;
@oracal-serie-751-oracal-090-silbergrau: #929495;
@oracal-serie-751-oracal-091-gold: #a6874e;