// caparol-stadtbild-200
@caparol-stadtbild-200-sb-200-amazonas-0: #687347;
@caparol-stadtbild-200-sb-200-amazonas-2: #7d8b5f;
@caparol-stadtbild-200-sb-200-amazonas-4: #a0af80;
@caparol-stadtbild-200-sb-200-amazonas-6: #c7d2af;
@caparol-stadtbild-200-sb-200-amazonas-8: #dbe0c9;
@caparol-stadtbild-200-sb-200-bali-0: #b68d3b;
@caparol-stadtbild-200-sb-200-bali-2: #cba450;
@caparol-stadtbild-200-sb-200-bali-4: #e6c475;
@caparol-stadtbild-200-sb-200-bali-6: #f0dda6;
@caparol-stadtbild-200-sb-200-bali-8: #f2e8c8;
@caparol-stadtbild-200-sb-200-bermuda-0: #547062;
@caparol-stadtbild-200-sb-200-bermuda-2: #769487;
@caparol-stadtbild-200-sb-200-bermuda-4: #97b7ac;
@caparol-stadtbild-200-sb-200-bermuda-6: #aac3b9;
@caparol-stadtbild-200-sb-200-bermuda-8: #c5d8cf;
@caparol-stadtbild-200-sb-200-bison-0: #615446;
@caparol-stadtbild-200-sb-200-bison-2: #7f7060;
@caparol-stadtbild-200-sb-200-bison-4: #a89986;
@caparol-stadtbild-200-sb-200-bison-6: #c6bbac;
@caparol-stadtbild-200-sb-200-bison-8: #e2dacd;
@caparol-stadtbild-200-sb-200-bolero-0: #575462;
@caparol-stadtbild-200-sb-200-bolero-2: #828185;
@caparol-stadtbild-200-sb-200-bolero-4: #9f9da1;
@caparol-stadtbild-200-sb-200-bolero-6: #c2bcbb;
@caparol-stadtbild-200-sb-200-bolero-8: #dbdbd6;
@caparol-stadtbild-200-sb-200-calvados-0: #89744b;
@caparol-stadtbild-200-sb-200-calvados-2: #967d4e;
@caparol-stadtbild-200-sb-200-calvados-4: #ae9568;
@caparol-stadtbild-200-sb-200-calvados-6: #cdb88e;
@caparol-stadtbild-200-sb-200-calvados-8: #ded0b2;
@caparol-stadtbild-200-sb-200-ceder-0: #6e7b5c;
@caparol-stadtbild-200-sb-200-ceder-2: #8a9977;
@caparol-stadtbild-200-sb-200-ceder-4: #a8b699;
@caparol-stadtbild-200-sb-200-ceder-6: #c2cbb3;
@caparol-stadtbild-200-sb-200-ceder-8: #d9dac4;
@caparol-stadtbild-200-sb-200-colorado-0: #a0734b;
@caparol-stadtbild-200-sb-200-colorado-2: #b48452;
@caparol-stadtbild-200-sb-200-colorado-4: #cc9a69;
@caparol-stadtbild-200-sb-200-colorado-6: #e0bd97;
@caparol-stadtbild-200-sb-200-colorado-8: #edd6bb;
@caparol-stadtbild-200-sb-200-congo-0: #9b7956;
@caparol-stadtbild-200-sb-200-congo-2: #b39873;
@caparol-stadtbild-200-sb-200-congo-4: #c9b194;
@caparol-stadtbild-200-sb-200-congo-6: #d6c5ac;
@caparol-stadtbild-200-sb-200-congo-8: #e2d4c0;
@caparol-stadtbild-200-sb-200-coppa-0: #a15e47;
@caparol-stadtbild-200-sb-200-coppa-2: #b9836d;
@caparol-stadtbild-200-sb-200-coppa-4: #cfa490;
@caparol-stadtbild-200-sb-200-coppa-6: #e2c4b5;
@caparol-stadtbild-200-sb-200-coppa-8: #e9d7cf;
@caparol-stadtbild-200-sb-200-costa-0: #826b4f;
@caparol-stadtbild-200-sb-200-costa-2: #a4907b;
@caparol-stadtbild-200-sb-200-costa-4: #c9b9a7;
@caparol-stadtbild-200-sb-200-costa-6: #d5cabd;
@caparol-stadtbild-200-sb-200-costa-8: #e3ddd1;
@caparol-stadtbild-200-sb-200-disco-0: #7a5d59;
@caparol-stadtbild-200-sb-200-disco-2: #907270;
@caparol-stadtbild-200-sb-200-disco-4: #ae9591;
@caparol-stadtbild-200-sb-200-disco-6: #c4aea9;
@caparol-stadtbild-200-sb-200-disco-8: #ddcac4;
@caparol-stadtbild-200-sb-200-eiger-0: #616962;
@caparol-stadtbild-200-sb-200-eiger-2: #838c86;
@caparol-stadtbild-200-sb-200-eiger-4: #a1aba7;
@caparol-stadtbild-200-sb-200-eiger-6: #ccd3cb;
@caparol-stadtbild-200-sb-200-eiger-8: #dcddd6;
@caparol-stadtbild-200-sb-200-elefant-0: #626054;
@caparol-stadtbild-200-sb-200-elefant-2: #7e7d6e;
@caparol-stadtbild-200-sb-200-elefant-4: #a8a697;
@caparol-stadtbild-200-sb-200-elefant-6: #cbc8ba;
@caparol-stadtbild-200-sb-200-elefant-8: #e1dcd3;
@caparol-stadtbild-200-sb-200-fjord-0: #6b7769;
@caparol-stadtbild-200-sb-200-fjord-2: #98a197;
@caparol-stadtbild-200-sb-200-fjord-4: #b5c0b6;
@caparol-stadtbild-200-sb-200-fjord-6: #d2d7ce;
@caparol-stadtbild-200-sb-200-fjord-8: #dde0d7;
@caparol-stadtbild-200-sb-200-gabun-0: #845648;
@caparol-stadtbild-200-sb-200-gabun-2: #a57e70;
@caparol-stadtbild-200-sb-200-gabun-4: #be9f92;
@caparol-stadtbild-200-sb-200-gabun-6: #dbc4bc;
@caparol-stadtbild-200-sb-200-gabun-8: #e9d6cd;
@caparol-stadtbild-200-sb-200-gobi-0: #c38a2f;
@caparol-stadtbild-200-sb-200-gobi-2: #d9a040;
@caparol-stadtbild-200-sb-200-gobi-4: #ebc26d;
@caparol-stadtbild-200-sb-200-gobi-6: #f1dca4;
@caparol-stadtbild-200-sb-200-gobi-8: #f0e6c6;
@caparol-stadtbild-200-sb-200-golf-0: #4f6977;
@caparol-stadtbild-200-sb-200-golf-2: #7c99a7;
@caparol-stadtbild-200-sb-200-golf-4: #a2b7be;
@caparol-stadtbild-200-sb-200-golf-6: #c4d0d1;
@caparol-stadtbild-200-sb-200-golf-8: #d6dedc;
@caparol-stadtbild-200-sb-200-havanna-0: #7d6046;
@caparol-stadtbild-200-sb-200-havanna-2: #9b7b62;
@caparol-stadtbild-200-sb-200-havanna-4: #bf9f81;
@caparol-stadtbild-200-sb-200-havanna-6: #d9c3ab;
@caparol-stadtbild-200-sb-200-havanna-8: #e7d8c8;
@caparol-stadtbild-200-sb-200-india-0: #915844;
@caparol-stadtbild-200-sb-200-india-2: #ae6c53;
@caparol-stadtbild-200-sb-200-india-4: #cf967a;
@caparol-stadtbild-200-sb-200-india-6: #e1b9a4;
@caparol-stadtbild-200-sb-200-india-8: #eed9c8;
@caparol-stadtbild-200-sb-200-inka-0: #8b4f47;
@caparol-stadtbild-200-sb-200-inka-2: #a3655d;
@caparol-stadtbild-200-sb-200-inka-4: #c38f8a;
@caparol-stadtbild-200-sb-200-inka-6: #d9b5ae;
@caparol-stadtbild-200-sb-200-inka-8: #e6d2c9;
@caparol-stadtbild-200-sb-200-kamill-0: #d7ae57;
@caparol-stadtbild-200-sb-200-kamill-2: #e5c484;
@caparol-stadtbild-200-sb-200-kamill-4: #ead09c;
@caparol-stadtbild-200-sb-200-kamill-6: #eddebf;
@caparol-stadtbild-200-sb-200-kamill-8: #f2e7cf;
@caparol-stadtbild-200-sb-200-lagune-0: #525662;
@caparol-stadtbild-200-sb-200-lagune-2: #757e8a;
@caparol-stadtbild-200-sb-200-lagune-4: #969fab;
@caparol-stadtbild-200-sb-200-lagune-6: #b4bbc1;
@caparol-stadtbild-200-sb-200-lagune-8: #d4dbd9;
@caparol-stadtbild-200-sb-200-limone-0: #a18849;
@caparol-stadtbild-200-sb-200-limone-2: #b59f62;
@caparol-stadtbild-200-sb-200-limone-4: #ccba83;
@caparol-stadtbild-200-sb-200-limone-6: #e4d7ae;
@caparol-stadtbild-200-sb-200-limone-8: #eae3c7;
@caparol-stadtbild-200-sb-200-nil-0: #63745d;
@caparol-stadtbild-200-sb-200-nil-2: #82957e;
@caparol-stadtbild-200-sb-200-nil-4: #a5b7a5;
@caparol-stadtbild-200-sb-200-nil-6: #bfcaba;
@caparol-stadtbild-200-sb-200-nil-8: #cedacb;
@caparol-stadtbild-200-sb-200-nutria-0: #6b5545;
@caparol-stadtbild-200-sb-200-nutria-2: #867161;
@caparol-stadtbild-200-sb-200-nutria-4: #b19b89;
@caparol-stadtbild-200-sb-200-nutria-6: #d4c3b3;
@caparol-stadtbild-200-sb-200-nutria-8: #e4d8cc;
@caparol-stadtbild-200-sb-200-olive-0: #857742;
@caparol-stadtbild-200-sb-200-olive-2: #a2965e;
@caparol-stadtbild-200-sb-200-olive-4: #c9ba82;
@caparol-stadtbild-200-sb-200-olive-6: #dad1ac;
@caparol-stadtbild-200-sb-200-olive-8: #ebe5cd;
@caparol-stadtbild-200-sb-200-orion-0: #604d4b;
@caparol-stadtbild-200-sb-200-orion-2: #7f6e6d;
@caparol-stadtbild-200-sb-200-orion-4: #9e8d8b;
@caparol-stadtbild-200-sb-200-orion-6: #c2b6b5;
@caparol-stadtbild-200-sb-200-orion-8: #d9cdc9;
@caparol-stadtbild-200-sb-200-pampa-0: #7e7252;
@caparol-stadtbild-200-sb-200-pampa-2: #817455;
@caparol-stadtbild-200-sb-200-pampa-4: #a19473;
@caparol-stadtbild-200-sb-200-pampa-6: #c0b79d;
@caparol-stadtbild-200-sb-200-pampa-8: #e1dbc6;
@caparol-stadtbild-200-sb-200-polar-0: #517585;
@caparol-stadtbild-200-sb-200-polar-2: #7fa5b2;
@caparol-stadtbild-200-sb-200-polar-4: #a6c0c5;
@caparol-stadtbild-200-sb-200-polar-6: #c7d6d6;
@caparol-stadtbild-200-sb-200-polar-8: #dbe1dd;
@caparol-stadtbild-200-sb-200-praerie-0: #a58654;
@caparol-stadtbild-200-sb-200-praerie-2: #c4a876;
@caparol-stadtbild-200-sb-200-praerie-4: #d1bb93;
@caparol-stadtbild-200-sb-200-praerie-6: #e1d4b9;
@caparol-stadtbild-200-sb-200-praerie-8: #e9dfcb;
@caparol-stadtbild-200-sb-200-sahara-0: #a57d55;
@caparol-stadtbild-200-sb-200-sahara-2: #bb9872;
@caparol-stadtbild-200-sb-200-sahara-4: #ccb194;
@caparol-stadtbild-200-sb-200-sahara-6: #e1d1bc;
@caparol-stadtbild-200-sb-200-sahara-8: #eadfcc;
@caparol-stadtbild-200-sb-200-schiefer-0: #504e48;
@caparol-stadtbild-200-sb-200-schiefer-2: #60605a;
@caparol-stadtbild-200-sb-200-schiefer-4: #8e8c83;
@caparol-stadtbild-200-sb-200-schiefer-6: #b6b3ac;
@caparol-stadtbild-200-sb-200-schiefer-8: #d7d3cc;
@caparol-stadtbild-200-sb-200-sherry-0: #ac814a;
@caparol-stadtbild-200-sb-200-sherry-2: #cba067;
@caparol-stadtbild-200-sb-200-sherry-4: #e0bf8a;
@caparol-stadtbild-200-sb-200-sherry-6: #edd8b7;
@caparol-stadtbild-200-sb-200-sherry-8: #eddec0;
@caparol-stadtbild-200-sb-200-sisal-0: #867f58;
@caparol-stadtbild-200-sb-200-sisal-2: #a19a7b;
@caparol-stadtbild-200-sb-200-sisal-4: #bfbba0;
@caparol-stadtbild-200-sb-200-sisal-6: #d0ceb9;
@caparol-stadtbild-200-sb-200-sisal-8: #e5e1d0;
@caparol-stadtbild-200-sb-200-somali-0: #806251;
@caparol-stadtbild-200-sb-200-somali-2: #8d6a54;
@caparol-stadtbild-200-sb-200-somali-4: #9d7e67;
@caparol-stadtbild-200-sb-200-somali-6: #c1a894;
@caparol-stadtbild-200-sb-200-somali-8: #dbc6b0;
@caparol-stadtbild-200-sb-200-taiga-0: #756545;
@caparol-stadtbild-200-sb-200-taiga-2: #938260;
@caparol-stadtbild-200-sb-200-taiga-4: #bca986;
@caparol-stadtbild-200-sb-200-taiga-6: #daceb4;
@caparol-stadtbild-200-sb-200-taiga-8: #e7e0cf;
@caparol-stadtbild-200-sb-200-tanna-0: #777853;
@caparol-stadtbild-200-sb-200-tanna-2: #a4a685;
@caparol-stadtbild-200-sb-200-tanna-4: #bbbfa8;
@caparol-stadtbild-200-sb-200-tanna-6: #d3d4c5;
@caparol-stadtbild-200-sb-200-tanna-8: #dfdece;
@caparol-stadtbild-200-sb-200-terra-0: #9b6340;
@caparol-stadtbild-200-sb-200-terra-2: #b27c56;
@caparol-stadtbild-200-sb-200-terra-4: #d5a581;
@caparol-stadtbild-200-sb-200-terra-6: #ebc8a9;
@caparol-stadtbild-200-sb-200-terra-8: #ecd9c5;
@caparol-stadtbild-200-sb-200-tropic-0: #cd9545;
@caparol-stadtbild-200-sb-200-tropic-2: #e0af68;
@caparol-stadtbild-200-sb-200-tropic-4: #e6c188;
@caparol-stadtbild-200-sb-200-tropic-6: #e9d1ac;
@caparol-stadtbild-200-sb-200-tropic-8: #ebddc4;