// j-s-k-mit-raster
@j-s-k-mit-raster-010-k: #f6d160;
@j-s-k-mit-raster-020-k: #f2ca00;
@j-s-k-mit-raster-030-k: #fcd000;
@j-s-k-mit-raster-040-k: #fab900;
@j-s-k-mit-raster-050-k: #ffac00;
@j-s-k-mit-raster-060-k: #ff8300;
@j-s-k-mit-raster-070-k: #fc6800;
@j-s-k-mit-raster-080-k: #f35c18;
@j-s-k-mit-raster-082-k: #e34026;
@j-s-k-mit-raster-100-k: #ef5129;
@j-s-k-mit-raster-110-k: #fa8e6f;
@j-s-k-mit-raster-120-k: #d8402d;
@j-s-k-mit-raster-121-k: #e64435;
@j-s-k-mit-raster-130-k: #dc2e2f;
@j-s-k-mit-raster-140-k: #cd3a35;
@j-s-k-mit-raster-150-k: #b72839;
@j-s-k-mit-raster-160-k: #8d3238;
@j-s-k-mit-raster-170-k: #912e44;
@j-s-k-mit-raster-180-k: #6a2c39;
@j-s-k-mit-raster-210-k: #f17789;
@j-s-k-mit-raster-220-k: #e53e3f;
@j-s-k-mit-raster-230-k: #cf2641;
@j-s-k-mit-raster-240-k: #b12e50;
@j-s-k-mit-raster-250-k: #be0f57;
@j-s-k-mit-raster-260-k: #a81862;
@j-s-k-mit-raster-270-k: #ca038a;
@j-s-k-mit-raster-280-k: #9f2951;
@j-s-k-mit-raster-290-k: #882c82;
@j-s-k-mit-raster-310-k: #b3207e;
@j-s-k-mit-raster-320-k: #b21967;
@j-s-k-mit-raster-330-k: #991ba9;
@j-s-k-mit-raster-340-k: #663388;
@j-s-k-mit-raster-350-k: #4b408a;
@j-s-k-mit-raster-360-k: #5d3790;
@j-s-k-mit-raster-370-k: #513674;
@j-s-k-mit-raster-371-k: #5e2da9;
@j-s-k-mit-raster-380-k: #2a3a4b;
@j-s-k-mit-raster-390-k: #006ab8;
@j-s-k-mit-raster-400-k: #0084a8;
@j-s-k-mit-raster-410-k: #2e425a;
@j-s-k-mit-raster-411-k: #4531af;
@j-s-k-mit-raster-420-k: #1f4499;
@j-s-k-mit-raster-430-k: #2449ba;
@j-s-k-mit-raster-432-k: #0069c1;
@j-s-k-mit-raster-440-k: #0066a8;
@j-s-k-mit-raster-450-k: #4d5a98;
@j-s-k-mit-raster-460-k: #1187ab;
@j-s-k-mit-raster-470-k: #008ec6;
@j-s-k-mit-raster-480-k: #0090b8;
@j-s-k-mit-raster-490-k: #007ca7;
@j-s-k-mit-raster-500-k: #00b6d2;
@j-s-k-mit-raster-510-k: #009697;
@j-s-k-mit-raster-520-k: #008b77;
@j-s-k-mit-raster-521-k: #00a68e;
@j-s-k-mit-raster-530-k: #00ba87;
@j-s-k-mit-raster-540-k: #00834e;
@j-s-k-mit-raster-550-k: #007452;
@j-s-k-mit-raster-560-k: #005d4e;
@j-s-k-mit-raster-570-k: #007b3f;
@j-s-k-mit-raster-571-k: #00923c;
@j-s-k-mit-raster-580-k: #325b37;
@j-s-k-mit-raster-590-k: #007771;
@j-s-k-mit-raster-600-k: #358519;
@j-s-k-mit-raster-610-k: #355135;
@j-s-k-mit-raster-620-k: #5c5c2d;
@j-s-k-mit-raster-630-k: #426d29;
@j-s-k-mit-raster-640-k: #0e8f27;
@j-s-k-mit-raster-650-k: #3ba008;
@j-s-k-mit-raster-660-k: #73ad17;
@j-s-k-mit-raster-670-k: #6ab600;
@j-s-k-mit-raster-680-k: #cbae19;
@j-s-k-mit-raster-690-k: #d1bc00;
@j-s-k-mit-raster-710-k: #d38d29;
@j-s-k-mit-raster-720-k: #c57f17;
@j-s-k-mit-raster-730-k: #a27136;
@j-s-k-mit-raster-740-k: #815f34;
@j-s-k-mit-raster-750-k: #756133;
@j-s-k-mit-raster-760-k: #514235;
@j-s-k-mit-raster-770-k: #5a4132;
@j-s-k-mit-raster-780-k: #734030;
@j-s-k-mit-raster-810-k: #b05934;
@j-s-k-mit-raster-820-k: #92432f;
@j-s-k-mit-raster-830-k: #724239;
@j-s-k-mit-raster-840-k: #5a3a35;
@j-s-k-mit-raster-880-k: #2c2c2b;
@j-s-k-mit-raster-890-k: #a79e8c;
@j-s-k-mit-raster-900-k: #3e3636;
@j-s-k-mit-raster-910-k: #939d95;
@j-s-k-mit-raster-920-k: #6d7271;
@j-s-k-mit-raster-930-k: #485054;
@j-s-k-mit-raster-931-k: #919b9b;
@j-s-k-mit-raster-950-k: #8e9087;
@j-s-k-mit-raster-960-k: #75766e;
@j-s-k-mit-raster-970-k: #343933;
@j-s-k-mit-raster-010-k-30: #f6e5b6;
@j-s-k-mit-raster-020-k-30: #f5e3a1;
@j-s-k-mit-raster-030-k-30: #f8e6af;
@j-s-k-mit-raster-040-k-30: #f7dfb2;
@j-s-k-mit-raster-050-k-30: #fad6a6;
@j-s-k-mit-raster-060-k-30: #fbcaae;
@j-s-k-mit-raster-070-k-30: #fbc6b7;
@j-s-k-mit-raster-080-k-30: #f8bfb6;
@j-s-k-mit-raster-082-k-30: #f1bbba;
@j-s-k-mit-raster-100-k-30: #f6bebb;
@j-s-k-mit-raster-110-k-30: #f8c9c2;
@j-s-k-mit-raster-120-k-30: #efb7b8;
@j-s-k-mit-raster-121-k-30: #f4aeb5;
@j-s-k-mit-raster-130-k-30: #eeacb6;
@j-s-k-mit-raster-140-k-30: #e7bec1;
@j-s-k-mit-raster-150-k-30: #deb7c1;
@j-s-k-mit-raster-160-k-30: #d3afbb;
@j-s-k-mit-raster-170-k-30: #d7b7c8;
@j-s-k-mit-raster-180-k-30: #c7adba;
@j-s-k-mit-raster-210-k-30: #f4c4ce;
@j-s-k-mit-raster-220-k-30: #f2bcc3;
@j-s-k-mit-raster-230-k-30: #e8b2c1;
@j-s-k-mit-raster-240-k-30: #dea7ba;
@j-s-k-mit-raster-250-k-30: #dfb0c7;
@j-s-k-mit-raster-260-k-30: #dcadca;
@j-s-k-mit-raster-270-k-30: #e7aed4;
@j-s-k-mit-raster-280-k-30: #d5b0c3;
@j-s-k-mit-raster-290-k-30: #caabcc;
@j-s-k-mit-raster-310-k-30: #dfa7cc;
@j-s-k-mit-raster-320-k-30: #ddb1cd;
@j-s-k-mit-raster-330-k-30: #cba7dc;
@j-s-k-mit-raster-340-k-30: #c4b9d6;
@j-s-k-mit-raster-350-k-30: #b3b1d0;
@j-s-k-mit-raster-360-k-30: #c2bad8;
@j-s-k-mit-raster-370-k-30: #b8b3ce;
@j-s-k-mit-raster-371-k-30: #c0b4df;
@j-s-k-mit-raster-380-k-30: #adb6c2;
@j-s-k-mit-raster-390-k-30: #acc2e3;
@j-s-k-mit-raster-400-k-30: #abcadb;
@j-s-k-mit-raster-410-k-30: #b3bcca;
@j-s-k-mit-raster-411-k-30: #aeb1e0;
@j-s-k-mit-raster-420-k-30: #b8c6e4;
@j-s-k-mit-raster-430-k-30: #abbae5;
@j-s-k-mit-raster-432-k-30: #adc6e8;
@j-s-k-mit-raster-440-k-30: #a9c1dd;
@j-s-k-mit-raster-450-k-30: #bac0d9;
@j-s-k-mit-raster-460-k-30: #aac9db;
@j-s-k-mit-raster-470-k-30: #9ccde7;
@j-s-k-mit-raster-480-k-30: #9fd0e4;
@j-s-k-mit-raster-490-k-30: #9bc9de;
@j-s-k-mit-raster-500-k-30: #b1dcea;
@j-s-k-mit-raster-510-k-30: #a9d0d5;
@j-s-k-mit-raster-520-k-30: #aad0ce;
@j-s-k-mit-raster-521-k-30: #a6dad7;
@j-s-k-mit-raster-530-k-30: #a8e0d3;
@j-s-k-mit-raster-540-k-30: #add0c5;
@j-s-k-mit-raster-550-k-30: #a2c6c0;
@j-s-k-mit-raster-560-k-30: #a7c0bf;
@j-s-k-mit-raster-570-k-30: #aeccbf;
@j-s-k-mit-raster-571-k-30: #b4d2bd;
@j-s-k-mit-raster-580-k-30: #a7b8ae;
@j-s-k-mit-raster-590-k-30: #96c3c5;
@j-s-k-mit-raster-600-k-30: #b9d0b2;
@j-s-k-mit-raster-610-k-30: #b1bbb5;
@j-s-k-mit-raster-620-k-30: #babbac;
@j-s-k-mit-raster-630-k-30: #b3c3ae;
@j-s-k-mit-raster-640-k-30: #bcd5be;
@j-s-k-mit-raster-650-k-30: #bdd9b2;
@j-s-k-mit-raster-660-k-30: #caddb6;
@j-s-k-mit-raster-670-k-30: #c4dea9;
@j-s-k-mit-raster-680-k-30: #e7dcb5;
@j-s-k-mit-raster-690-k-30: #e8dead;
@j-s-k-mit-raster-710-k-30: #ebcfb6;
@j-s-k-mit-raster-720-k-30: #e5ceb9;
@j-s-k-mit-raster-730-k-30: #d6c3b2;
@j-s-k-mit-raster-740-k-30: #c9bcaf;
@j-s-k-mit-raster-750-k-30: #c6bfb1;
@j-s-k-mit-raster-760-k-30: #b8b3b2;
@j-s-k-mit-raster-770-k-30: #bfb8b8;
@j-s-k-mit-raster-780-k-30: #c5adac;
@j-s-k-mit-raster-810-k-30: #e0c3be;
@j-s-k-mit-raster-820-k-30: #d4b7b5;
@j-s-k-mit-raster-830-k-30: #c3b3b5;
@j-s-k-mit-raster-840-k-30: #bbb0b4;
@j-s-k-mit-raster-880-k-30: #b6b6bb;
@j-s-k-mit-raster-890-k-30: #dad7d6;
@j-s-k-mit-raster-900-k-30: #b7b6bb;
@j-s-k-mit-raster-910-k-30: #d0d3d4;
@j-s-k-mit-raster-920-k-30: #c5c8cc;
@j-s-k-mit-raster-930-k-30: #b3b7bb;
@j-s-k-mit-raster-931-k-30: #d3d7da;
@j-s-k-mit-raster-950-k-30: #d3d4d5;
@j-s-k-mit-raster-960-k-30: #c1c2c2;
@j-s-k-mit-raster-970-k-30: #b4b6b6;
@j-s-k-mit-raster-010-k-55: #f6dd93;
@j-s-k-mit-raster-020-k-55: #f5db73;
@j-s-k-mit-raster-030-k-55: #f9df84;
@j-s-k-mit-raster-040-k-55: #f8d589;
@j-s-k-mit-raster-050-k-55: #fdc878;
@j-s-k-mit-raster-060-k-55: #feb685;
@j-s-k-mit-raster-070-k-55: #feb093;
@j-s-k-mit-raster-080-k-55: #f8a492;
@j-s-k-mit-raster-082-k-55: #ee9c97;
@j-s-k-mit-raster-100-k-55: #f59f96;
@j-s-k-mit-raster-110-k-55: #fab6a7;
@j-s-k-mit-raster-120-k-55: #eb9794;
@j-s-k-mit-raster-121-k-55: #f1898f;
@j-s-k-mit-raster-130-k-55: #ea8994;
@j-s-k-mit-raster-140-k-55: #e19d9f;
@j-s-k-mit-raster-150-k-55: #d495a2;
@j-s-k-mit-raster-160-k-55: #c08b99;
@j-s-k-mit-raster-170-k-55: #c794aa;
@j-s-k-mit-raster-180-k-55: #ab8496;
@j-s-k-mit-raster-210-k-55: #f4a8b6;
@j-s-k-mit-raster-220-k-55: #f09ba3;
@j-s-k-mit-raster-230-k-55: #e18ca0;
@j-s-k-mit-raster-240-k-55: #cf7894;
@j-s-k-mit-raster-250-k-55: #d488a9;
@j-s-k-mit-raster-260-k-55: #cf84ae;
@j-s-k-mit-raster-270-k-55: #e084bf;
@j-s-k-mit-raster-280-k-55: #c68da6;
@j-s-k-mit-raster-290-k-55: #b281b2;
@j-s-k-mit-raster-310-k-55: #d27ab2;
@j-s-k-mit-raster-320-k-55: #d088b0;
@j-s-k-mit-raster-330-k-55: #b77acc;
@j-s-k-mit-raster-340-k-55: #a995c1;
@j-s-k-mit-raster-350-k-55: #908db9;
@j-s-k-mit-raster-360-k-55: #a698c6;
@j-s-k-mit-raster-370-k-55: #968bb3;
@j-s-k-mit-raster-371-k-55: #a28dd0;
@j-s-k-mit-raster-380-k-55: #8592a0;
@j-s-k-mit-raster-390-k-55: #89aad8;
@j-s-k-mit-raster-400-k-55: #84b5cd;
@j-s-k-mit-raster-410-k-55: #929fb0;
@j-s-k-mit-raster-411-k-55: #8e90d4;
@j-s-k-mit-raster-420-k-55: #94abd8;
@j-s-k-mit-raster-430-k-55: #869cdb;
@j-s-k-mit-raster-432-k-55: #83adde;
@j-s-k-mit-raster-440-k-55: #80a7cf;
@j-s-k-mit-raster-450-k-55: #9aa3c7;
@j-s-k-mit-raster-460-k-55: #81b2cc;
@j-s-k-mit-raster-470-k-55: #68bade;
@j-s-k-mit-raster-480-k-55: #6cbfd9;
@j-s-k-mit-raster-490-k-55: #6bb3d0;
@j-s-k-mit-raster-500-k-55: #8ad0e3;
@j-s-k-mit-raster-510-k-55: #81bfc3;
@j-s-k-mit-raster-520-k-55: #7ebcb5;
@j-s-k-mit-raster-521-k-55: #76cdc5;
@j-s-k-mit-raster-530-k-55: #78d6be;
@j-s-k-mit-raster-540-k-55: #83bca7;
@j-s-k-mit-raster-550-k-55: #73ada0;
@j-s-k-mit-raster-560-k-55: #7aa29d;
@j-s-k-mit-raster-570-k-55: #86b79e;
@j-s-k-mit-raster-571-k-55: #90c19b;
@j-s-k-mit-raster-580-k-55: #7d9682;
@j-s-k-mit-raster-590-k-55: #57a6a6;
@j-s-k-mit-raster-600-k-55: #96bb87;
@j-s-k-mit-raster-610-k-55: #89998b;
@j-s-k-mit-raster-620-k-55: #96977a;
@j-s-k-mit-raster-630-k-55: #8ca67f;
@j-s-k-mit-raster-640-k-55: #99c49a;
@j-s-k-mit-raster-650-k-55: #9cc988;
@j-s-k-mit-raster-660-k-55: #b3d08f;
@j-s-k-mit-raster-670-k-55: #a8d177;
@j-s-k-mit-raster-680-k-55: #dece8a;
@j-s-k-mit-raster-690-k-55: #e0d37e;
@j-s-k-mit-raster-710-k-55: #e5bb8f;
@j-s-k-mit-raster-720-k-55: #ddba95;
@j-s-k-mit-raster-730-k-55: #c5a88a;
@j-s-k-mit-raster-740-k-55: #b19c84;
@j-s-k-mit-raster-750-k-55: #aea38a;
@j-s-k-mit-raster-760-k-55: #98908d;
@j-s-k-mit-raster-770-k-55: #a29794;
@j-s-k-mit-raster-780-k-55: #a7827b;
@j-s-k-mit-raster-810-k-55: #d4a79a;
@j-s-k-mit-raster-820-k-55: #c0928b;
@j-s-k-mit-raster-830-k-55: #a88e8d;
@j-s-k-mit-raster-840-k-55: #9c898b;
@j-s-k-mit-raster-880-k-55: #8f8f93;
@j-s-k-mit-raster-890-k-55: #ccc8c3;
@j-s-k-mit-raster-900-k-55: #969498;
@j-s-k-mit-raster-910-k-55: #bcc2c0;
@j-s-k-mit-raster-920-k-55: #acafb3;
@j-s-k-mit-raster-930-k-55: #8d9397;
@j-s-k-mit-raster-931-k-55: #c1c6c9;
@j-s-k-mit-raster-950-k-55: #c0c1c0;
@j-s-k-mit-raster-960-k-55: #a4a4a1;
@j-s-k-mit-raster-970-k-55: #939594;