// lgchem-lk-2000-series
@lgchem-lk-2000-series-lk-2018: #ff7e38;
@lgchem-lk-2000-series-lk-2038: #eda67b;
@lgchem-lk-2000-series-lk-2234: #6d2e21;
@lgchem-lk-2000-series-lk-2012: #a91a28;
@lgchem-lk-2000-series-lk-2013: #ae1e23;
@lgchem-lk-2000-series-lk-2102: #b62c1c;
@lgchem-lk-2000-series-lk-2203: #fea100;
@lgchem-lk-2000-series-lk-2034: #ffbc00;
@lgchem-lk-2000-series-lk-2313: #ffcc00;
@lgchem-lk-2000-series-lk-2035: #eece00;
@lgchem-lk-2000-series-lk-2042: #005439;
@lgchem-lk-2000-series-lk-2045: #008836;
@lgchem-lk-2000-series-lk-2044: #008f55;
@lgchem-lk-2000-series-lk-2054: #00a091;
@lgchem-lk-2000-series-lk-2512: #00b0af;
@lgchem-lk-2000-series-lk-2068: #00aed6;
@lgchem-lk-2000-series-lk-2513: #0087b1;
@lgchem-lk-2000-series-lk-2067: #007bb1;
@lgchem-lk-2000-series-lk-2064: #2657ac;
@lgchem-lk-2000-series-lk-2066: #2c559f;
@lgchem-lk-2000-series-lk-2505: #2c3893;
@lgchem-lk-2000-series-lk-2062: #242e77;
@lgchem-lk-2000-series-lk-2063: #232e69;
@lgchem-lk-2000-series-lk-2092: #74508d;
@lgchem-lk-2000-series-lk-2091: #7f1230;
@lgchem-lk-2000-series-lk-2099: #f1f1f4;
@lgchem-lk-2000-series-lk-2075: #9da0a3;
@lgchem-lk-2000-series-lk-2074: #737574;
@lgchem-lk-2000-series-lk-2073: #535455;
@lgchem-lk-2000-series-lk-2072: #101215;