// australian-standard
@australian-standard-y-11-canary: #eabe00;
@australian-standard-y-12-wattle: #e9ac00;
@australian-standard-y-13-vivid-yellow: #fbab00;
@australian-standard-y-14-golden-yellow: #f2a300;
@australian-standard-y-15-sunflower: #fea700;
@australian-standard-y-16-inca-gold: #de8b00;
@australian-standard-y-21-primrose: #e3d161;
@australian-standard-y-22-custard: #f1ce5f;
@australian-standard-y-23-buttercup: #f5ce3f;
@australian-standard-y-24-straw: #e6ca89;
@australian-standard-y-25-deep-cream: #f3c771;
@australian-standard-y-26-homebush-gold: #fac300;
@australian-standard-y-31-lily-green: #e7e7d3;
@australian-standard-y-32-flummery: #eae1a1;
@australian-standard-y-33-pale-primrose: #f7f5d3;
@australian-standard-y-34-cream: #f2e4c3;
@australian-standard-y-35-off-white: #f5ecd9;
@australian-standard-y-41-olive-yellow: #927521;
@australian-standard-y-42-mustard: #c7a21e;
@australian-standard-y-43-parchment: #d7cca9;
@australian-standard-y-44-sand: #dfc392;
@australian-standard-y-45-manilla: #e8d4ad;
@australian-standard-y-51-bronze-olive: #6c603e;
@australian-standard-y-52-chamois: #c2ad7b;
@australian-standard-y-53-sandstone: #d7c295;
@australian-standard-y-54-oatmeal: #cdb187;
@australian-standard-y-55-deep-stone: #bf9d6f;
@australian-standard-y-56-merino: #ccbba3;
@australian-standard-y-61-black-olive: #4a4a3e;
@australian-standard-y-62-sugar-cane: #c0a75f;
@australian-standard-y-63-khaki: #886b42;
@australian-standard-y-65-mushroom: #a89988;
@australian-standard-y-66-mudstone: #5e5549;
@australian-standard-x-11-butterscotch: #d29447;
@australian-standard-x-12-pumpkin: #d67d0d;
@australian-standard-x-13-marigold: #e57f00;
@australian-standard-x-14-mandarin: #dc5214;
@australian-standard-x-15-orange: #dd6f2a;
@australian-standard-x-21-pale-ochre: #dba868;
@australian-standard-x-22-saffron: #f3ac55;
@australian-standard-x-23-apricot: #fbb775;
@australian-standard-x-24-rockmelon: #f28c4f;
@australian-standard-x-31-raffia: #eecc9d;
@australian-standard-x-32-magnolia: #f3e1c5;
@australian-standard-x-33-warm-white: #f7ebda;
@australian-standard-x-34-driftwood: #dac9b4;
@australian-standard-x-41-buff: #c58f4b;
@australian-standard-x-42-biscuit: #dfbe9a;
@australian-standard-x-43-beige: #ccaf92;
@australian-standard-x-45-cinnamon: #b08974;
@australian-standard-x-51-tan: #926230;
@australian-standard-x-52-coffee: #b07c4b;
@australian-standard-x-53-golden-tan: #945721;
@australian-standard-x-54-brown: #66411e;
@australian-standard-x-55-nut-brown: #7a482e;
@australian-standard-x-61-wombat: #736356;
@australian-standard-x-62-dark-earth: #584f45;
@australian-standard-x-63-ironbark: #473c36;
@australian-standard-x-64-chocolate: #4b3b2d;
@australian-standard-x-65-dark-brown: #513529;
@australian-standard-r-11-international-orange: #c34621;
@australian-standard-r-12-scarlett: #c43a19;
@australian-standard-r-13-signal-red: #b5291c;
@australian-standard-r-14-waratah: #a31517;
@australian-standard-r-15-crimson: #9c171a;
@australian-standard-r-21-tangerine: #e36c5c;
@australian-standard-r-22-homebush-red: #d03b2e;
@australian-standard-r-23-lollipop: #c8535c;
@australian-standard-r-24-strawberry: #a9203a;
@australian-standard-r-25-rose-pink: #e599a5;
@australian-standard-r-32-apple-blossom: #f5e6de;
@australian-standard-r-33-ghost-gum: #ecdfd9;
@australian-standard-r-34-mushroom-pink: #dbc5bd;
@australian-standard-r-35-deep-rose: #cb7478;
@australian-standard-r-41-shell-pink: #f8d8bf;
@australian-standard-r-42-salmon-pink: #d89a80;
@australian-standard-r-43-red-dust: #cc6953;
@australian-standard-r-44-possum: #a78f87;
@australian-standard-r-45-ruby: #8c394a;
@australian-standard-r-51-burnt-pink: #dfa095;
@australian-standard-r-52-terra-cotta: #a3523c;
@australian-standard-r-53-red-gum: #904739;
@australian-standard-r-54-raspberry: #822728;
@australian-standard-r-55-claret: #601c20;
@australian-standard-r-62-venetian-red: #793829;
@australian-standard-r-63-red-oxide: #663125;
@australian-standard-r-64-dep-indian-red: #562f2b;
@australian-standard-r-65-maroon: #372122;
@australian-standard-p-11-magenta: #77224b;
@australian-standard-p-12-purple: #864982;
@australian-standard-p-13-violet: #613e6b;
@australian-standard-p-14-blueberry: #4f467e;
@australian-standard-p-21-sunset-pink: #e4c1c4;
@australian-standard-p-22-cyclamen: #835f83;
@australian-standard-p-23-lilac: #ab9ab9;
@australian-standard-p-24-jacaranda: #7d6799;
@australian-standard-p-31-dusty-pink: #dec5c2;
@australian-standard-p-33-ribbon-pink: #d4c2cd;
@australian-standard-p-41-erica-pink: #c2608c;
@australian-standard-p-42-mulberry: #a36d7d;
@australian-standard-p-43-wisteria: #7b7699;
@australian-standard-p-52-plum: #6d3a4a;
@australian-standard-b-11-rich-blue: #25396e;
@australian-standard-b-12-royal-blue: #283867;
@australian-standard-b-13-navy-blue: #1c2d4b;
@australian-standard-b-14-sapphire: #244970;
@australian-standard-b-15-mid-blue: #005470;
@australian-standard-b-21-ultramarine: #2b5c9c;
@australian-standard-b-22-homebush-blue: #255b9d;
@australian-standard-b-23-bright-blue: #005a8d;
@australian-standard-b-24-harbour-blue: #156f98;
@australian-standard-b-25-aqua: #5ea3b3;
@australian-standard-b-32-powder-blue: #bed0e1;
@australian-standard-b-33-mist-blue: #e8ede8;
@australian-standard-b-34-paradise-blue: #3ea3be;
@australian-standard-b-35-pale-blue: #d5eae7;
@australian-standard-b-41-bluebell: #6aa2d5;
@australian-standard-b-42-purple-grey: #64819d;
@australian-standard-b-43-grey-blue: #678391;
@australian-standard-b-44-light-grey-blue: #99b2ba;
@australian-standard-b-45-sky-blue: #89bfca;
@australian-standard-b-51-periwinkle: #407cb3;
@australian-standard-b-53-dark-grey-blue: #576e78;
@australian-standard-b-55-storm-blue: #458699;
@australian-standard-b-61-coral-sea: #2b3d79;
@australian-standard-b-62-midnight-blue: #252532;
@australian-standard-b-64-charcoal: #353e44;
@australian-standard-t-11-tropical-blue: #00729c;
@australian-standard-t-12-diamantina: #007575;
@australian-standard-t-14-malachite: #005652;
@australian-standard-t-15-turquoise: #00908a;
@australian-standard-t-22-oriental-blue: #3d9296;
@australian-standard-t-24-blue-jade: #488782;
@australian-standard-t-32-huon-green: #7ebab5;
@australian-standard-t-33-smoke-blue: #a7beb8;
@australian-standard-t-35-green-ice: #82b3a6;
@australian-standard-t-44-blue-gum: #71918c;
@australian-standard-t-45-cootamundra: #7ea494;
@australian-standard-t-51-mountain-blue: #255e6c;
@australian-standard-t-53-peacock-blue: #1e6069;
@australian-standard-t-63-teal: #00424a;
@australian-standard-g-11-bottle-green: #143524;
@australian-standard-g-12-holly: #184328;
@australian-standard-g-13-emerald: #09662b;
@australian-standard-g-14-moss-green: #315519;
@australian-standard-g-15-rainforest-green: #414a2a;
@australian-standard-g-16-traffic-green: #275639;
@australian-standard-g-17-mint-green: #006f38;
@australian-standard-g-21-jade: #007a4f;
@australian-standard-g-22-serpentine: #85ab86;
@australian-standard-g-23-shamrock: #31662d;
@australian-standard-g-24-fern-green: #4c732a;
@australian-standard-g-25-olive: #636232;
@australian-standard-g-26-apple-green: #5a9a3a;
@australian-standard-g-27-homebush-green: #008445;
@australian-standard-g-31-verdigris: #549169;
@australian-standard-g-32-opaline: #b5cdbb;
@australian-standard-g-33-lettuce: #849d56;
@australian-standard-g-34-advocado: #7c8150;
@australian-standard-g-35-lime-green: #919225;
@australian-standard-g-36-kikuyu: #9ab527;
@australian-standard-g-37-beanstalk: #50a969;
@australian-standard-g-41-lawn-green: #008b57;
@australian-standard-g-42-glacier: #dce6d5;
@australian-standard-g-43-surf-green: #cecdad;
@australian-standard-g-44-palm-green: #a1b47b;
@australian-standard-g-45-chartreuse: #cbcc93;
@australian-standard-g-46-citronella: #c6c933;
@australian-standard-g-47-grystal-green: #b7d0ac;
@australian-standard-g-51-spruce: #006b49;
@australian-standard-g-52-eucalyptus: #6c795f;
@australian-standard-g-53-banksia: #99997e;
@australian-standard-g-54-mist-green: #828872;
@australian-standard-g-55-lichen: #aeae93;
@australian-standard-g-56-sage-green: #6e7544;
@australian-standard-g-61-dark-green: #20322b;
@australian-standard-g-62-river-gum: #667462;
@australian-standard-g-63-deep-bronze-green: #313626;
@australian-standard-g-64-slate: #646556;
@australian-standard-g-65-ti-tree: #61624e;
@australian-standard-g-66-environment-green: #4f5141;
@australian-standard-g-67-zucchini: #274335;
@australian-standard-n-11-pearl-grey: #ded9ce;
@australian-standard-n-12-pastel-grey: #d6d4ce;
@australian-standard-n-14-white: #f4f4eb;
@australian-standard-n-15-homebush-grey: #a8a298;
@australian-standard-n-22-cloud-grey: #cac7be;
@australian-standard-n-23-neutral-grey: #cccdcc;
@australian-standard-n-24-silver-grey: #c4cecb;
@australian-standard-n-25-birch-grey: #b1aa9f;
@australian-standard-n-32-green-grey: #979a88;
@australian-standard-n-33-lightbox-grey: #b3b4b3;
@australian-standard-n-35-light-grey: #aeaea7;
@australian-standard-n-41-oyster: #a29882;
@australian-standard-n-42-storm-grey: #8e968e;
@australian-standard-n-43-pipeline-grey: #99999a;
@australian-standard-n-44-bridge-grey: #7e7f7f;
@australian-standard-n-45-koala-grey: #99968f;
@australian-standard-n-52-mid-grey: #7c827f;
@australian-standard-n-53-blue-grey: #858c8f;
@australian-standard-n-54-basalt: #5f6368;
@australian-standard-n-55-lead-grey: #666460;
@australian-standard-n-61-black: #1e1f20;
@australian-standard-n-63-pewter: #5f666a;
@australian-standard-n-64-dark-grey: #52585e;
@australian-standard-n-65-graphite-grey: #474a4c;