// auro-farbtonblock-i-nr-321-330
@auro-farbtonblock-i-nr-321-330-10-1: #fdefd7;
@auro-farbtonblock-i-nr-321-330-10-2: #feecce;
@auro-farbtonblock-i-nr-321-330-10-3: #fce4bf;
@auro-farbtonblock-i-nr-321-330-10-4: #f8d9ab;
@auro-farbtonblock-i-nr-321-330-10-5: #f6d39f;
@auro-farbtonblock-i-nr-321-330-10-6: #f2c98f;
@auro-farbtonblock-i-nr-321-330-10-7: #ebbb78;
@auro-farbtonblock-i-nr-321-330-10-8: #c5883c;
@auro-farbtonblock-i-nr-321-330-30-1: #e5d2d2;
@auro-farbtonblock-i-nr-321-330-30-2: #ddc5c6;
@auro-farbtonblock-i-nr-321-330-30-3: #d0b2b4;
@auro-farbtonblock-i-nr-321-330-30-4: #c09b9f;
@auro-farbtonblock-i-nr-321-330-30-5: #b58d90;
@auro-farbtonblock-i-nr-321-330-30-6: #a87d80;
@auro-farbtonblock-i-nr-321-330-30-7: #946669;
@auro-farbtonblock-i-nr-321-330-30-8: #724342;
@auro-farbtonblock-i-nr-321-330-32-1: #eec2b6;
@auro-farbtonblock-i-nr-321-330-32-2: #e6afa3;
@auro-farbtonblock-i-nr-321-330-32-3: #db9b8d;
@auro-farbtonblock-i-nr-321-330-32-4: #ce8778;
@auro-farbtonblock-i-nr-321-330-32-5: #c67c6d;
@auro-farbtonblock-i-nr-321-330-32-6: #b86b5e;
@auro-farbtonblock-i-nr-321-330-32-7: #a65c50;
@auro-farbtonblock-i-nr-321-330-32-8: #87463c;
@auro-farbtonblock-i-nr-321-330-50-1: #e7ecee;
@auro-farbtonblock-i-nr-321-330-50-2: #dde5ed;
@auro-farbtonblock-i-nr-321-330-50-3: #d0dced;
@auro-farbtonblock-i-nr-321-330-50-4: #becee7;
@auro-farbtonblock-i-nr-321-330-50-5: #b1c4e5;
@auro-farbtonblock-i-nr-321-330-50-6: #a0b5de;
@auro-farbtonblock-i-nr-321-330-50-7: #849ed3;
@auro-farbtonblock-i-nr-321-330-50-8: #2d4fa4;
@auro-farbtonblock-i-nr-321-330-60-1: #e2e8da;
@auro-farbtonblock-i-nr-321-330-60-2: #d7e0d0;
@auro-farbtonblock-i-nr-321-330-60-3: #c9d5c1;
@auro-farbtonblock-i-nr-321-330-60-4: #b6c6b1;
@auro-farbtonblock-i-nr-321-330-60-5: #acbea4;
@auro-farbtonblock-i-nr-321-330-60-6: #9db296;
@auro-farbtonblock-i-nr-321-330-60-7: #8ba384;
@auro-farbtonblock-i-nr-321-330-60-8: #57704e;
@auro-farbtonblock-i-nr-321-330-81-1: #d9d0cc;
@auro-farbtonblock-i-nr-321-330-81-2: #cac0bc;
@auro-farbtonblock-i-nr-321-330-81-3: #baadaa;
@auro-farbtonblock-i-nr-321-330-81-4: #a59793;
@auro-farbtonblock-i-nr-321-330-81-5: #998986;
@auro-farbtonblock-i-nr-321-330-81-6: #897a77;
@auro-farbtonblock-i-nr-321-330-81-7: #776765;
@auro-farbtonblock-i-nr-321-330-81-8: #524340;
@auro-farbtonblock-i-nr-321-330-82-1: #d7d0c9;
@auro-farbtonblock-i-nr-321-330-82-2: #cac1b9;
@auro-farbtonblock-i-nr-321-330-82-3: #b9afa7;
@auro-farbtonblock-i-nr-321-330-82-4: #a79c93;
@auro-farbtonblock-i-nr-321-330-82-5: #9b8e85;
@auro-farbtonblock-i-nr-321-330-82-6: #8c7f76;
@auro-farbtonblock-i-nr-321-330-82-7: #7a6d65;
@auro-farbtonblock-i-nr-321-330-82-8: #544841;
@auro-farbtonblock-i-nr-321-330-99-1: #cfcecb;
@auro-farbtonblock-i-nr-321-330-99-2: #bfbdbc;
@auro-farbtonblock-i-nr-321-330-99-3: #acabaa;
@auro-farbtonblock-i-nr-321-330-99-4: #969595;
@auro-farbtonblock-i-nr-321-330-99-5: #898889;
@auro-farbtonblock-i-nr-321-330-99-6: #787779;
@auro-farbtonblock-i-nr-321-330-99-7: #676668;
@auro-farbtonblock-i-nr-321-330-99-8: #393736;