// focoltone
@focoltone-1070: #00a0e1;
@focoltone-1071: #e3007d;
@focoltone-1072: #ffed00;
@focoltone-1073: #2d2c2b;
@focoltone-1074: #273786;
@focoltone-1075: #009340;
@focoltone-1076: #e31c2a;
@focoltone-1073: #2d2c2b;
@focoltone-1083: #d0d1d2;
@focoltone-2250: #bcbec0;
@focoltone-3417: #9e9fa1;
@focoltone-1076: #e31c2a;
@focoltone-1082: #b82429;
@focoltone-2249: #a82629;
@focoltone-3416: #8e2827;
@focoltone-2285: #e41748;
@focoltone-2291: #e41843;
@focoltone-3458: #e4193f;
@focoltone-3464: #e41a3b;
@focoltone-3470: #e41b36;
@focoltone-1142: #e40e5e;
@focoltone-2303: #e41159;
@focoltone-1118: #e41355;
@focoltone-2309: #e41551;
@focoltone-3452: #e4164c;
@focoltone-1020: #f5b3be;
@focoltone-1034: #f29daa;
@focoltone-3403: #f0858b;
@focoltone-2208: #ee7a91;
@focoltone-2222: #ed6d73;
@focoltone-1017: #c7949d;
@focoltone-1031: #c5838e;
@focoltone-2205: #b05f6f;
@focoltone-2219: #af5659;
@focoltone-3342: #b35c5c;
@focoltone-1048: #fee1be;
@focoltone-1062: #fdd6a7;
@focoltone-2236: #fcca85;
@focoltone-1006: #fac28c;
@focoltone-2180: #f6a366;
@focoltone-2328: #f28a1d;
@focoltone-2334: #ec6925;
@focoltone-3483: #eb5f27;
@focoltone-3489: #e95428;
@focoltone-3495: #e84829;
@focoltone-1155: #f8a80d;
@focoltone-2316: #f69e14;
@focoltone-1161: #f4941a;
@focoltone-2322: #f28a1d;
@focoltone-3507: #f07f21;
@focoltone-3389: #fab33e;
@focoltone-2194: #f28d58;
@focoltone-3347: #eb615c;
@focoltone-3361: #ea5546;
@focoltone-3375: #e8493f;
@focoltone-1167: #ffd400;
@focoltone-1173: #ffcc00;
@focoltone-2340: #fec300;
@focoltone-1149: #fcbb00;
@focoltone-3501: #fab201;
@focoltone-1072: #ffed00;
@focoltone-1079: #d3c000;
@focoltone-2246: #bfae00;
@focoltone-3413: #9f9316;
@focoltone-1027: #fffce5;
@focoltone-1041: #fffcdc;
@focoltone-2215: #fffbd2;
@focoltone-1055: #fffac9;
@focoltone-3410: #fff9be;
@focoltone-1069: #fff8b3;
@focoltone-2229: #fff7a8;
@focoltone-1013: #fff69c;
@focoltone-2243: #fff590;
@focoltone-3354: #fff483;
@focoltone-2187: #fff375;
@focoltone-2201: #fff267;
@focoltone-3368: #fff159;
@focoltone-3382: #fff048;
@focoltone-3396: #ffef34;
@focoltone-1148: #ebe000;
@focoltone-1154: #e0db00;
@focoltone-2315: #d5d700;
@focoltone-1160: #cbd300;
@focoltone-3482: #bfce0f;
@focoltone-1146: #bdb704;
@focoltone-1152: #b5b30d;
@focoltone-1158: #a4ad19;
@focoltone-1164: #91a621;
@focoltone-1170: #7b9e27;
@focoltone-1166: #b2ca19;
@focoltone-2321: #a5c520;
@focoltone-1172: #97c025;
@focoltone-2327: #88bc2a;
@focoltone-3488: #77b72e;
@focoltone-2333: #66b231;
@focoltone-2339: #51ad34;
@focoltone-3494: #3ba937;
@focoltone-3500: #12a439;
@focoltone-3506: #00a03b;
@focoltone-1005: #e6e99b;
@focoltone-2179: #d2dd78;
@focoltone-3346: #bad684;
@focoltone-2193: #a1ca6d;
@focoltone-3360: #73bb65;
@focoltone-1163: #b1b721;
@focoltone-1169: #97a92b;
@focoltone-2336: #5c9435;
@focoltone-3497: #3f8339;
@focoltone-3503: #406538;
@focoltone-1002: #babf83;
@focoltone-2176: #9aa55f;
@focoltone-3343: #748759;
@focoltone-2190: #789857;
@focoltone-3357: #4c7946;
@focoltone-3480: #778323;
@focoltone-3486: #4e772a;
@focoltone-3492: #2d6f2e;
@focoltone-3498: #1c6d2f;
@focoltone-3504: #006a30;
@focoltone-1162: #919625;
@focoltone-1168: #7c8b2a;
@focoltone-2335: #48712f;
@focoltone-3496: #2f572e;
@focoltone-3502: #2f462c;
@focoltone-2313: #9ca01a;
@focoltone-2319: #7b9425;
@focoltone-2325: #668e29;
@focoltone-2331: #4e872d;
@focoltone-2337: #40842f;
@focoltone-1022: #d0cfbe;
@focoltone-1036: #d0ceb7;
@focoltone-1050: #d1cca7;
@focoltone-1064: #d1ca96;
@focoltone-1008: #d2c884;
@focoltone-2210: #bdbaa0;
@focoltone-2224: #bdb783;
@focoltone-2238: #beb572;
@focoltone-2182: #beb45f;
@focoltone-2196: #bfb355;
@focoltone-3405: #9e9b7d;
@focoltone-3349: #9f985b;
@focoltone-3363: #9f9645;
@focoltone-3377: #9f953d;
@focoltone-3391: #9f9534;
@focoltone-1075: #009340;
@focoltone-1081: #007b3a;
@focoltone-2248: #007237;
@focoltone-3415: #006333;
@focoltone-2255: #009876;
@focoltone-2261: #00976e;
@focoltone-3428: #009666;
@focoltone-3434: #00955e;
@focoltone-3440: #009556;
@focoltone-3420: #006556;
@focoltone-3426: #006448;
@focoltone-3432: #006444;
@focoltone-3438: #00643f;
@focoltone-3436: #00523a;
@focoltone-2271: #007775;
@focoltone-2277: #007669;
@focoltone-2253: #00755d;
@focoltone-2259: #007457;
@focoltone-3437: #007850;
@focoltone-3374: #33ac5c;
@focoltone-3388: #00a754;
@focoltone-2235: #3fb58c;
@focoltone-3384: #3c854e;
@focoltone-3371: #297142;
@focoltone-3385: #186e3d;
@focoltone-3383: #2d5839;
@focoltone-2231: #539a80;
@focoltone-2232: #34896c;
@focoltone-2230: #427463;
@focoltone-2251: #005850;
@focoltone-2257: #005049;
@focoltone-1019: #d6ece1;
@focoltone-1033: #c0e2d6;
@focoltone-1047: #a7d7c2;
@focoltone-1061: #8bcbac;
@focoltone-2221: #54bba0;
@focoltone-1016: #afc1ba;
@focoltone-1030: #9dbab1;
@focoltone-1044: #89b1a0;
@focoltone-1058: #73a78f;
@focoltone-2218: #428e7a;
@focoltone-1043: #a8c2b7;
@focoltone-1057: #8fb2a0;
@focoltone-1042: #8aa097;
@focoltone-1056: #769284;
@focoltone-2207: #76c9c6;
@focoltone-3402: #00aaad;
@focoltone-2204: #5b9796;
@focoltone-3399: #006f70;
@focoltone-1085: #008182;
@focoltone-2258: #00665b;
@focoltone-1112: #009ca1;
@focoltone-2273: #009b99;
@focoltone-1088: #009a90;
@focoltone-2279: #009988;
@focoltone-3422: #00987f;
@focoltone-1110: #008186;
@focoltone-1086: #008078;
@focoltone-2276: #00847d;
@focoltone-2252: #007166;
@focoltone-2275: #006661;
@focoltone-1103: #0090a9;
@focoltone-1109: #008b97;
@focoltone-1102: #00788d;
@focoltone-1108: #00747e;
@focoltone-1084: #006b6d;
@focoltone-1092: #0084a7;
@focoltone-1098: #0083a1;
@focoltone-1104: #008294;
@focoltone-2265: #00788d;
@focoltone-3444: #00676f;
@focoltone-1094: #009fca;
@focoltone-1100: #009ec2;
@focoltone-2267: #009eba;
@focoltone-1106: #009db2;
@focoltone-3446: #009caa;
@focoltone-1011: #e0f3fb;
@focoltone-1025: #d4eefa;
@focoltone-2185: #c8eaf9;
@focoltone-1039: #bce5f7;
@focoltone-3352: #afe1f6;
@focoltone-1053: #a0dcf5;
@focoltone-2199: #91d7f3;
@focoltone-1067: #80d2f1;
@focoltone-2213: #6ecdf0;
@focoltone-3366: #57c8ee;
@focoltone-2227: #39c2ec;
@focoltone-2241: #00bdeb;
@focoltone-3380: #00b8e9;
@focoltone-3394: #00b3e7;
@focoltone-3408: #00aee6;
@focoltone-3351: #6f8e9b;
@focoltone-3365: #3d7f96;
@focoltone-3379: #007693;
@focoltone-3393: #007392;
@focoltone-3407: #007091;
@focoltone-2184: #95afbb;
@focoltone-2198: #6ea1b6;
@focoltone-2212: #559ab3;
@focoltone-2226: #3292b1;
@focoltone-2240: #128faf;
@focoltone-1010: #b7c7cf;
@focoltone-1024: #adc4ce;
@focoltone-1038: #9abdcc;
@focoltone-1052: #84b5c9;
@focoltone-1066: #6aadc6;
@focoltone-1049: #a3c7e7;
@focoltone-1063: #87b7df;
@focoltone-2237: #3da0d4;
@focoltone-3390: #008dc8;
@focoltone-3404: #2d69ac;
@focoltone-1046: #86a3bd;
@focoltone-1060: #7096b7;
@focoltone-2234: #34789f;
@focoltone-3387: #1c5b80;
@focoltone-3398: #366884;
@focoltone-1070: #00a0e1;
@focoltone-1077: #0085b9;
@focoltone-2244: #007aa9;
@focoltone-3411: #00688f;
@focoltone-1107: #0093d5;
@focoltone-1113: #008ed1;
@focoltone-2280: #0089cc;
@focoltone-1089: #0085c8;
@focoltone-3441: #007fc4;
@focoltone-1091: #0079ac;
@focoltone-1097: #006e9d;
@focoltone-1090: #00658f;
@focoltone-1096: #005c83;
@focoltone-3443: #006283;
@focoltone-1105: #007ab0;
@focoltone-1111: #0077ad;
@focoltone-1087: #006fa6;
@focoltone-1093: #00669e;
@focoltone-1099: #005d96;
@focoltone-1095: #007abf;
@focoltone-2256: #0074ba;
@focoltone-1101: #006fb5;
@focoltone-2262: #0069b0;
@focoltone-3447: #0063aa;
@focoltone-2268: #005da5;
@focoltone-2274: #0057a0;
@focoltone-3423: #00519b;
@focoltone-3429: #004c96;
@focoltone-3435: #104692;
@focoltone-2278: #00699b;
@focoltone-2254: #005a8e;
@focoltone-2260: #005287;
@focoltone-2266: #00497f;
@focoltone-2272: #00457b;
@focoltone-3439: #00557f;
@focoltone-3445: #004470;
@focoltone-3421: #103a67;
@focoltone-3427: #173765;
@focoltone-3433: #1c3462;
@focoltone-2264: #005d8a;
@focoltone-2270: #005770;
@focoltone-2263: #00496b;
@focoltone-3442: #004458;
@focoltone-2269: #094557;
@focoltone-3419: #0f515d;
@focoltone-3425: #1e4c4c;
@focoltone-3431: #244746;
@focoltone-3418: #183b41;
@focoltone-3424: #1d3937;
@focoltone-3401: #284670;
@focoltone-3397: #2b4658;
@focoltone-3430: #203634;
@focoltone-1071: #e3007d;
@focoltone-1078: #ba0f69;
@focoltone-2245: #aa1561;
@focoltone-3412: #911b54;
@focoltone-1054: #fbe5f0;
@focoltone-1068: #fadcea;
@focoltone-2242: #f9d3e4;
@focoltone-1012: #f7c9df;
@focoltone-3395: #f6c0d8;
@focoltone-1026: #f4b5d2;
@focoltone-2186: #f3aacb;
@focoltone-1040: #f29fc3;
@focoltone-2200: #f093bc;
@focoltone-3409: #ef87b4;
@focoltone-2214: #ee7aac;
@focoltone-2228: #ec6da4;
@focoltone-3353: #eb619d;
@focoltone-3367: #e95396;
@focoltone-3381: #e8448f;
@focoltone-1124: #e40072;
@focoltone-1130: #e4016e;
@focoltone-2297: #e4056a;
@focoltone-1136: #e40866;
@focoltone-3476: #e40c62;
@focoltone-1115: #ce1d56;
@focoltone-2282: #be2549;
@focoltone-3449: #af294e;
@focoltone-1114: #a92349;
@focoltone-2288: #9d2f46;
@focoltone-2295: #aa1c53;
@focoltone-2301: #a92046;
@focoltone-2307: #a92241;
@focoltone-2283: #a9233b;
@focoltone-2289: #a92438;
@focoltone-1122: #ba1560;
@focoltone-1128: #ba165d;
@focoltone-1134: #ba1956;
@focoltone-1140: #ba1c4f;
@focoltone-1116: #ba1e48;
@focoltone-1119: #cd0b7d;
@focoltone-1125: #c6127e;
@focoltone-2286: #be177e;
@focoltone-1131: #b61b7e;
@focoltone-3453: #ae1f7f;
@focoltone-1137: #a6227f;
@focoltone-2292: #9d257f;
@focoltone-1143: #942880;
@focoltone-2298: #8b2b80;
@focoltone-3459: #812d81;
@focoltone-1121: #c61773;
@focoltone-1127: #b7206f;
@focoltone-1133: #a62768;
@focoltone-1139: #942e60;
@focoltone-2294: #8b2e6c;
@focoltone-1117: #a9186a;
@focoltone-1123: #a31a6a;
@focoltone-1129: #971e6a;
@focoltone-1135: #8a226b;
@focoltone-1141: #7b266c;
@focoltone-1051: #ccbdc6;
@focoltone-1065: #cbb5c2;
@focoltone-1009: #c9a6b8;
@focoltone-1023: #c796ae;
@focoltone-1037: #c584a2;
@focoltone-2239: #b89eac;
@focoltone-2183: #b4829a;
@focoltone-2197: #b2718f;
@focoltone-2211: #b06084;
@focoltone-2225: #af567e;
@focoltone-3392: #997b8a;
@focoltone-3406: #955a75;
@focoltone-3350: #944467;
@focoltone-3364: #933e63;
@focoltone-3378: #93355f;
@focoltone-1120: #a31d61;
@focoltone-1126: #97225e;
@focoltone-1132: #8a2757;
@focoltone-1138: #7b2b51;
@focoltone-2293: #6b2a55;
@focoltone-2284: #901e62;
@focoltone-2290: #782463;
@focoltone-2296: #6c2764;
@focoltone-2302: #5e2a65;
@focoltone-2308: #562b65;
@focoltone-3451: #722155;
@focoltone-3457: #582657;
@focoltone-3463: #472958;
@focoltone-3469: #412a59;
@focoltone-3475: #3b2a59;
@focoltone-2304: #772f81;
@focoltone-2310: #6d3182;
@focoltone-3465: #643383;
@focoltone-3471: #5a3483;
@focoltone-3477: #4f3584;
@focoltone-3345: #723f66;
@focoltone-3359: #563862;
@focoltone-3373: #443360;
@focoltone-3473: #4f3866;
@focoltone-3472: #3a2d47;
@focoltone-1074: #273786;
@focoltone-1080: #253272;
@focoltone-2247: #253069;
@focoltone-3414: #252c5b;
@focoltone-2209: #886ba8;
@focoltone-2223: #725fa1;
@focoltone-3376: #614791;
@focoltone-3362: #805096;
@focoltone-3348: #b25c9c;
@focoltone-2192: #76628a;
@focoltone-2206: #68517f;
@focoltone-2220: #58497b;
@focoltone-2217: #745f71;
@focoltone-2202: #68516b;
@focoltone-2216: #594a57;
@focoltone-1007: #dbc1dc;
@focoltone-1021: #d0abcf;
@focoltone-2181: #c59ec7;
@focoltone-1035: #bc92c0;
@focoltone-2195: #9d82b7;
@focoltone-1004: #b39fb6;
@focoltone-1018: #a98dab;
@focoltone-2178: #937796;
@focoltone-1032: #99789e;
@focoltone-2203: #8a6b8d;
@focoltone-1015: #d1a9bb;
@focoltone-1014: #aa8b9a;
@focoltone-1029: #bd90a7;
@focoltone-1028: #9a778a;
@focoltone-3370: #624a45;
@focoltone-2300: #77345c;
@focoltone-2306: #6d3754;
@focoltone-2299: #5d2e49;
@focoltone-2305: #553043;
@focoltone-3455: #813543;
@focoltone-3461: #633940;
@focoltone-3467: #593a3d;
@focoltone-3466: #3f2f2f;
@focoltone-3400: #95595c;
@focoltone-3356: #81514a;
@focoltone-3341: #724140;
@focoltone-3355: #553b36;
@focoltone-3369: #433733;
@focoltone-2281: #8f273c;
@focoltone-2287: #772c39;
@focoltone-3448: #712838;
@focoltone-3454: #562c32;
@focoltone-3460: #452e31;
@focoltone-3474: #902243;
@focoltone-3450: #8f2537;
@focoltone-3456: #8f2731;
@focoltone-3462: #8f272f;
@focoltone-3468: #8e272d;
@focoltone-3344: #934540;
@focoltone-3358: #924035;
@focoltone-3372: #913931;
@focoltone-3499: #9a721f;
@focoltone-3505: #955624;
@focoltone-3481: #924525;
@focoltone-3487: #914026;
@focoltone-3493: #903a26;
@focoltone-3479: #b35a2f;
@focoltone-3485: #815033;
@focoltone-3491: #624934;
@focoltone-3478: #714028;
@focoltone-2324: #8c6732;
@focoltone-2330: #755d34;
@focoltone-3484: #553b2a;
@focoltone-3490: #43372a;
@focoltone-2233: #b99768;
@focoltone-1000: #b59874;
@focoltone-3386: #9a7333;
@focoltone-2323: #6a502c;
@focoltone-2329: #5a4a2d;
@focoltone-1045: #cdb89e;
@focoltone-1059: #cdb08c;
@focoltone-1003: #cba076;
@focoltone-2177: #b57c52;
@focoltone-2191: #b26d47;
@focoltone-1001: #dfba8b;
@focoltone-2175: #ca9767;
@focoltone-2189: #a17d5a;
@focoltone-2174: #957251;
@focoltone-2188: #795f48;
@focoltone-1165: #cfad01;
@focoltone-1171: #cea608;
@focoltone-1147: #cb9913;
@focoltone-1153: #c88a1a;
@focoltone-1159: #c57b1f;
@focoltone-1145: #e2b211;
@focoltone-1151: #d59e1f;
@focoltone-2312: #cb9325;
@focoltone-1157: #c18829;
@focoltone-2318: #a27a2f;
@focoltone-2338: #b99117;
@focoltone-2314: #b4781f;
@focoltone-2320: #b26a22;
@focoltone-2326: #af5b24;
@focoltone-2332: #ae5425;
@focoltone-1144: #b7921d;
@focoltone-1150: #ad8223;
@focoltone-1156: #9d7028;
@focoltone-2311: #966f26;
@focoltone-2317: #795d2b;
@focoltone-4061: #f5f6f6;
@focoltone-4062: #eceded;
@focoltone-4063: #e3e4e5;
@focoltone-4064: #d9dbdc;
@focoltone-1083: #d0d1d2;
@focoltone-5055: #c6c8ca;
@focoltone-2250: #bcbec0;
@focoltone-5056: #b2b4b6;
@focoltone-5057: #a8aaac;
@focoltone-3417: #9e9fa1;
@focoltone-6055: #949697;
@focoltone-6056: #898a8c;
@focoltone-6057: #7e7f80;
@focoltone-6058: #727475;
@focoltone-6059: #68696a;
@focoltone-4000: #ebe9e9;
@focoltone-4014: #d8d4d3;
@focoltone-4028: #c7c2c0;
@focoltone-4039: #b5afad;
@focoltone-4050: #a49d9a;
@focoltone-5000: #958d8a;
@focoltone-5011: #877d7a;
@focoltone-5022: #786e6a;
@focoltone-5033: #6b615d;
@focoltone-5044: #5f5551;
@focoltone-6000: #544c47;
@focoltone-6011: #4a433e;
@focoltone-6022: #413c37;
@focoltone-6033: #393631;
@focoltone-6044: #33312c;
@focoltone-4001: #f4f2f1;
@focoltone-4015: #e9e4e2;
@focoltone-4029: #dfd8d5;
@focoltone-4040: #d4ccc7;
@focoltone-4051: #c9bfba;
@focoltone-5001: #bfb3ad;
@focoltone-5012: #b5a7a0;
@focoltone-5023: #aa9b93;
@focoltone-5034: #9f9087;
@focoltone-5045: #94847a;
@focoltone-6001: #8a7a70;
@focoltone-6012: #7f7066;
@focoltone-6023: #74665c;
@focoltone-6034: #695d54;
@focoltone-6045: #5f564d;
@focoltone-7005: #db1e2a;
@focoltone-7011: #d2202a;
@focoltone-7017: #ca212a;
@focoltone-7023: #c1232a;
@focoltone-1082: #b82429;
@focoltone-7029: #b02529;
@focoltone-2249: #a82629;
@focoltone-7035: #9f2728;
@focoltone-7041: #972828;
@focoltone-3416: #8e2827;
@focoltone-7047: #862927;
@focoltone-7053: #7d2926;
@focoltone-7059: #742925;
@focoltone-7065: #6b2925;
@focoltone-7071: #632924;
@focoltone-4006: #fef6f2;
@focoltone-4020: #feece4;
@focoltone-4034: #fde3d8;
@focoltone-4045: #fcd9cb;
@focoltone-4056: #facfbe;
@focoltone-5006: #f9c5b1;
@focoltone-5017: #f8bba5;
@focoltone-5028: #f6b097;
@focoltone-5039: #f5a58b;
@focoltone-5050: #f39a7e;
@focoltone-6006: #f28f72;
@focoltone-6017: #f08366;
@focoltone-6028: #ee775b;
@focoltone-6039: #ed6b51;
@focoltone-6050: #eb6049;
@focoltone-4013: #fffef6;
@focoltone-4027: #fffded;
@focoltone-1027: #fffce5;
@focoltone-1041: #fffcdc;
@focoltone-2215: #fffbd2;
@focoltone-1055: #fffac9;
@focoltone-3410: #fff9be;
@focoltone-1069: #fff8b3;
@focoltone-2229: #fff7a8;
@focoltone-1013: #fff69c;
@focoltone-2243: #fff590;
@focoltone-3354: #fff483;
@focoltone-2187: #fff375;
@focoltone-2201: #fff267;
@focoltone-3368: #fff159;
@focoltone-7002: #fde400;
@focoltone-7008: #f2db00;
@focoltone-7014: #e9d200;
@focoltone-7020: #dec900;
@focoltone-1079: #d3c000;
@focoltone-7026: #cab800;
@focoltone-2246: #bfae00;
@focoltone-7032: #b5a509;
@focoltone-7038: #aa9c10;
@focoltone-3413: #9f9316;
@focoltone-7044: #968b19;
@focoltone-7050: #8b811c;
@focoltone-7056: #80771e;
@focoltone-7062: #756e1f;
@focoltone-7068: #6a6520;
@focoltone-4008: #f6f5ee;
@focoltone-4022: #edebde;
@focoltone-4036: #e4e2ce;
@focoltone-4047: #dad7bf;
@focoltone-4058: #d1cdaf;
@focoltone-5008: #c7c3a1;
@focoltone-5019: #bdb992;
@focoltone-5030: #b3ae84;
@focoltone-5041: #a9a476;
@focoltone-5052: #9e9968;
@focoltone-6008: #958f5d;
@focoltone-6019: #8a8551;
@focoltone-6030: #807b47;
@focoltone-6041: #75703d;
@focoltone-6052: #6b6636;
@focoltone-4005: #f5faf5;
@focoltone-4019: #ebf5eb;
@focoltone-4033: #e2f0e2;
@focoltone-4044: #d7ebd8;
@focoltone-4055: #cce5cd;
@focoltone-5005: #c1e0c4;
@focoltone-5016: #b5dbb9;
@focoltone-5027: #a9d5ae;
@focoltone-5038: #9ccfa3;
@focoltone-5049: #8dc998;
@focoltone-6005: #7fc48e;
@focoltone-6016: #6ebe83;
@focoltone-6027: #5cb878;
@focoltone-6038: #47b26e;
@focoltone-6049: #2fad66;
@focoltone-7004: #008e3e;
@focoltone-7010: #00893d;
@focoltone-7016: #00853c;
@focoltone-7022: #00803b;
@focoltone-1081: #007b3a;
@focoltone-7028: #007738;
@focoltone-2248: #007237;
@focoltone-7034: #006d36;
@focoltone-7040: #006834;
@focoltone-3415: #006333;
@focoltone-7046: #005e31;
@focoltone-7052: #00592f;
@focoltone-7058: #00532e;
@focoltone-7064: #004e2c;
@focoltone-7070: #00492a;
@focoltone-4002: #ecf1ed;
@focoltone-4016: #dae3db;
@focoltone-4030: #c9d7cb;
@focoltone-4041: #b7c9bb;
@focoltone-4052: #a6bcaa;
@focoltone-5002: #97b09c;
@focoltone-5013: #87a48d;
@focoltone-5024: #78987e;
@focoltone-5035: #698c71;
@focoltone-5046: #5b8164;
@focoltone-6002: #4f7659;
@focoltone-6013: #426c4e;
@focoltone-6024: #366245;
@focoltone-6035: #2b593d;
@focoltone-6046: #235136;
@focoltone-4011: #f5fbfe;
@focoltone-4025: #eaf7fd;
@focoltone-1011: #e0f3fb;
@focoltone-1025: #d4eefa;
@focoltone-2185: #c8eaf9;
@focoltone-1039: #bce5f7;
@focoltone-3352: #afe1f6;
@focoltone-1053: #a0dcf5;
@focoltone-2199: #91d7f3;
@focoltone-1067: #80d2f1;
@focoltone-2213: #6ecdf0;
@focoltone-3366: #57c8ee;
@focoltone-2227: #39c2ec;
@focoltone-2241: #00bdeb;
@focoltone-3380: #00b8e9;
@focoltone-7000: #009bd9;
@focoltone-7006: #0095d1;
@focoltone-7012: #0090c9;
@focoltone-7018: #008bc1;
@focoltone-1077: #0085b9;
@focoltone-7024: #0080b1;
@focoltone-2244: #007aa9;
@focoltone-7030: #0074a0;
@focoltone-7036: #006e98;
@focoltone-3411: #00688f;
@focoltone-7042: #006387;
@focoltone-7048: #005c7d;
@focoltone-7054: #005674;
@focoltone-7060: #004f6a;
@focoltone-7066: #004961;
@focoltone-4010: #ebf2f5;
@focoltone-4024: #d8e5eb;
@focoltone-4038: #c7d9e2;
@focoltone-4049: #b5cdd7;
@focoltone-4060: #a4c0cd;
@focoltone-5010: #94b5c3;
@focoltone-5021: #83a9b8;
@focoltone-5032: #739dae;
@focoltone-5043: #6391a3;
@focoltone-5054: #548598;
@focoltone-6010: #467b8e;
@focoltone-6021: #386f83;
@focoltone-6032: #2b6578;
@focoltone-6043: #1e5a6d;
@focoltone-6054: #145163;
@focoltone-4012: #fef6fa;
@focoltone-4026: #fdeef5;
@focoltone-1054: #fbe5f0;
@focoltone-1068: #fadcea;
@focoltone-2242: #f9d3e4;
@focoltone-1012: #f7c9df;
@focoltone-3395: #f6c0d8;
@focoltone-1026: #f4b5d2;
@focoltone-2186: #f3aacb;
@focoltone-1040: #f29fc3;
@focoltone-2200: #f093bc;
@focoltone-3409: #ef87b4;
@focoltone-2214: #ee7aac;
@focoltone-2228: #ec6da4;
@focoltone-3353: #eb619d;
@focoltone-7001: #db0079;
@focoltone-7007: #d30075;
@focoltone-7013: #cb0471;
@focoltone-7019: #c30a6d;
@focoltone-1078: #ba0f69;
@focoltone-7025: #b21265;
@focoltone-2245: #aa1561;
@focoltone-7031: #a2185d;
@focoltone-7037: #991958;
@focoltone-3412: #911b54;
@focoltone-7043: #891d50;
@focoltone-7049: #801e4b;
@focoltone-7055: #781e46;
@focoltone-7061: #6f1f41;
@focoltone-7067: #661f3c;
@focoltone-4009: #f4eef1;
@focoltone-4023: #eadde4;
@focoltone-4037: #e0cdd7;
@focoltone-4048: #d5beca;
@focoltone-4059: #caaebd;
@focoltone-5009: #c09fb1;
@focoltone-5020: #b691a4;
@focoltone-5031: #ab8297;
@focoltone-5042: #a1758a;
@focoltone-5053: #96677e;
@focoltone-6009: #8d5c72;
@focoltone-6020: #835067;
@focoltone-6031: #79455c;
@focoltone-6042: #6f3b51;
@focoltone-6053: #663448;
@focoltone-4007: #f4f2f9;
@focoltone-4021: #e8e6f2;
@focoltone-4035: #dddbed;
@focoltone-4046: #d2cee6;
@focoltone-4057: #c6c2df;
@focoltone-5007: #bcb7d9;
@focoltone-5018: #b1acd2;
@focoltone-5029: #a6a0cb;
@focoltone-5040: #9b94c4;
@focoltone-5051: #9088bd;
@focoltone-6007: #867eb6;
@focoltone-6018: #7b72af;
@focoltone-6029: #7068a8;
@focoltone-6040: #665ea1;
@focoltone-6051: #5d569b;
@focoltone-4004: #ebeaf0;
@focoltone-4018: #d7d6e2;
@focoltone-4032: #c5c4d4;
@focoltone-4043: #b3b2c6;
@focoltone-4054: #a2a0b8;
@focoltone-5004: #9390ab;
@focoltone-5015: #84809e;
@focoltone-5026: #767190;
@focoltone-5037: #696384;
@focoltone-5048: #5d5778;
@focoltone-6004: #534c6d;
@focoltone-6015: #494263;
@focoltone-6026: #413a59;
@focoltone-6037: #3a3350;
@focoltone-6048: #342e48;
@focoltone-7003: #273682;
@focoltone-7009: #26357e;
@focoltone-7015: #25357a;
@focoltone-7021: #253376;
@focoltone-1080: #253272;
@focoltone-7027: #24316e;
@focoltone-2247: #253069;
@focoltone-7033: #252f65;
@focoltone-7039: #252e60;
@focoltone-3414: #252c5b;
@focoltone-7045: #252b57;
@focoltone-7051: #262a52;
@focoltone-7057: #26284c;
@focoltone-7063: #262747;
@focoltone-7069: #272542;
@focoltone-4003: #f5edea;
@focoltone-4017: #eadcd5;
@focoltone-4031: #e1cbc2;
@focoltone-4042: #d6bbb0;
@focoltone-4053: #cbaa9e;
@focoltone-5003: #c19c8e;
@focoltone-5014: #b68d7e;
@focoltone-5025: #ac7f6f;
@focoltone-5036: #a17161;
@focoltone-5047: #976554;
@focoltone-6003: #8d5a4a;
@focoltone-6014: #834f40;
@focoltone-6025: #794638;
@focoltone-6036: #6f3d31;
@focoltone-6047: #65372c;