// rubens-decoracryl
@rubens-decoracryl-rubens-333102-titanweiss: #e0e0da;
@rubens-decoracryl-rubens-333205-echtgelb-zitron: #d3d000;
@rubens-decoracryl-rubens-333206-echtgelb-hell: #e5c000;
@rubens-decoracryl-rubens-333209-mittelgelb: #e6a400;
@rubens-decoracryl-rubens-333212-indischgelb: #ee9c00;
@rubens-decoracryl-rubens-333303-echtorange: #e25e10;
@rubens-decoracryl-rubens-333306-zinnoberrot: #c1241c;
@rubens-decoracryl-rubens-333312-karminrot: #a7192e;
@rubens-decoracryl-rubens-333319-weinrot: #932838;
@rubens-decoracryl-rubens-333316-magenta: #af3078;
@rubens-decoracryl-rubens-333407-violett: #43376c;
@rubens-decoracryl-rubens-333408-kobaltblau: #2a2960;
@rubens-decoracryl-rubens-333412-indigo: #2e3340;
@rubens-decoracryl-rubens-333410-ultramarinblau: #393fae;
@rubens-decoracryl-rubens-333416-phthaloblau: #005a94;
@rubens-decoracryl-rubens-333420-coelinblau: #00658b;
@rubens-decoracryl-rubens-333423-tuerkis: #00625e;
@rubens-decoracryl-rubens-333504-phthalogruen: #005042;
@rubens-decoracryl-rubens-333513-gelbgruen: #6e9a0e;
@rubens-decoracryl-rubens-333515-laubgruen: #3c5739;
@rubens-decoracryl-rubens-333516-olivgruen: #635c3b;
@rubens-decoracryl-rubens-333602-lichter-ocker: #a87433;
@rubens-decoracryl-rubens-333612-englischrot: #77352b;
@rubens-decoracryl-rubens-333617-umbra: #5f452f;
@rubens-decoracryl-rubens-333619-dunkelbraun: #45332d;
@rubens-decoracryl-rubens-333708-schwarz: #302f30;