// rubens-oelfarben
@rubens-oelfarben-rubens-170301-deckweiss-a: #e0e1db;
@rubens-oelfarben-rubens-170301-deckweiss-b: #e0e1dc;
@rubens-oelfarben-rubens-170301-deckweiss-c: #e0e1db;
@rubens-oelfarben-rubens-170302-kremserweiss-a: #dcdcd6;
@rubens-oelfarben-rubens-170302-kremserweiss-b: #dbdbd4;
@rubens-oelfarben-rubens-170302-kremserweiss-c: #dad9d3;
@rubens-oelfarben-rubens-170303-titanweiss-a: #ddddd7;
@rubens-oelfarben-rubens-170303-titanweiss-b: #dadad3;
@rubens-oelfarben-rubens-170303-titanweiss-c: #e1e1da;
@rubens-oelfarben-rubens-170304-zinkweiss-a: #dddeda;
@rubens-oelfarben-rubens-170304-zinkweiss-b: #dadbd7;
@rubens-oelfarben-rubens-170304-zinkweiss-c: #dadad5;
@rubens-oelfarben-rubens-170305-mischweiss-a: #deded7;
@rubens-oelfarben-rubens-170305-mischweiss-b: #dfdfd8;
@rubens-oelfarben-rubens-170305-mischweiss-c: #ddddd6;
@rubens-oelfarben-rubens-170306-kadmiumgelb-zitron-a: #d3c900;
@rubens-oelfarben-rubens-170306-kadmiumgelb-zitron-b: #d7d554;
@rubens-oelfarben-rubens-170306-kadmiumgelb-zitron-c: #d9da9f;
@rubens-oelfarben-rubens-170307-zinkgelb-a: #d8c200;
@rubens-oelfarben-rubens-170307-zinkgelb-b: #dbd37f;
@rubens-oelfarben-rubens-170307-zinkgelb-c: #dedbaa;
@rubens-oelfarben-rubens-170308-echtgelb-hell-a: #e2ba00;
@rubens-oelfarben-rubens-170308-echtgelb-hell-b: #e5d269;
@rubens-oelfarben-rubens-170308-echtgelb-hell-c: #e0d8a1;
@rubens-oelfarben-rubens-170311-chromgelb-a: #e3b600;
@rubens-oelfarben-rubens-170311-chromgelb-b: #e7c748;
@rubens-oelfarben-rubens-170311-chromgelb-c: #e4d17f;
@rubens-oelfarben-rubens-170309-kadmiumgelb-hell-a: #e6a500;
@rubens-oelfarben-rubens-170309-kadmiumgelb-hell-b: #e9bb2c;
@rubens-oelfarben-rubens-170309-kadmiumgelb-hell-c: #e5c869;
@rubens-oelfarben-rubens-170310-neapelgelb-hell-a: #debc49;
@rubens-oelfarben-rubens-170310-neapelgelb-hell-b: #dcc270;
@rubens-oelfarben-rubens-170310-neapelgelb-hell-c: #dbcf9d;
@rubens-oelfarben-rubens-170312-neapelgelb-dunkel-a: #de9f2e;
@rubens-oelfarben-rubens-170312-neapelgelb-dunkel-b: #e0b257;
@rubens-oelfarben-rubens-170312-neapelgelb-dunkel-c: #e1ca95;
@rubens-oelfarben-rubens-170313-kadmiumgelb-dunkel-a: #e98b00;
@rubens-oelfarben-rubens-170313-kadmiumgelb-dunkel-b: #e6a233;
@rubens-oelfarben-rubens-170313-kadmiumgelb-dunkel-c: #e7be71;
@rubens-oelfarben-rubens-170314-indischgelb-a: #dc8500;
@rubens-oelfarben-rubens-170314-indischgelb-b: #dfb148;
@rubens-oelfarben-rubens-170314-indischgelb-c: #e2ca87;
@rubens-oelfarben-rubens-170315-fleischfarbe-a: #e2c3a3;
@rubens-oelfarben-rubens-170315-fleischfarbe-b: #e1c9b1;
@rubens-oelfarben-rubens-170315-fleischfarbe-c: #e0d6c8;
@rubens-oelfarben-rubens-170316-chromorange-a: #d67400;
@rubens-oelfarben-rubens-170316-chromorange-b: #e0b51c;
@rubens-oelfarben-rubens-170316-chromorange-c: #e1ca5f;
@rubens-oelfarben-rubens-170317-orange-a: #ce470b;
@rubens-oelfarben-rubens-170317-orange-b: #da7c46;
@rubens-oelfarben-rubens-170317-orange-c: #e3ae84;
@rubens-oelfarben-rubens-170318-kadmiumorange-a: #d84e00;
@rubens-oelfarben-rubens-170318-kadmiumorange-b: #e48b5b;
@rubens-oelfarben-rubens-170318-kadmiumorange-c: #eaa683;
@rubens-oelfarben-rubens-170319-kadmiumrot-hell-a: #b92912;
@rubens-oelfarben-rubens-170319-kadmiumrot-hell-b: #c34539;
@rubens-oelfarben-rubens-170319-kadmiumrot-hell-c: #d06d64;
@rubens-oelfarben-rubens-170320-zinnoberrot-a: #bb2416;
@rubens-oelfarben-rubens-170320-zinnoberrot-b: #cf5051;
@rubens-oelfarben-rubens-170320-zinnoberrot-c: #de8d8f;
@rubens-oelfarben-rubens-170321-echtrot-deckend-a: #b52c27;
@rubens-oelfarben-rubens-170321-echtrot-deckend-b: #cc565e;
@rubens-oelfarben-rubens-170321-echtrot-deckend-c: #dc858f;
@rubens-oelfarben-rubens-170322-kadmiumrot-dunkel-a: #a01822;
@rubens-oelfarben-rubens-170322-kadmiumrot-dunkel-b: #b94e5e;
@rubens-oelfarben-rubens-170322-kadmiumrot-dunkel-c: #cb7684;
@rubens-oelfarben-rubens-170323-karminrot-a: #911f28;
@rubens-oelfarben-rubens-170323-karminrot-b: #ab3e61;
@rubens-oelfarben-rubens-170323-karminrot-c: #bf6a8e;
@rubens-oelfarben-rubens-170324-krapplack-hell-a: #73151f;
@rubens-oelfarben-rubens-170324-krapplack-hell-b: #923559;
@rubens-oelfarben-rubens-170324-krapplack-hell-c: #b0648c;
@rubens-oelfarben-rubens-170325-krapplack-dunkel-a: #6e0e1e;
@rubens-oelfarben-rubens-170325-krapplack-dunkel-b: #8b405c;
@rubens-oelfarben-rubens-170325-krapplack-dunkel-c: #b1778f;
@rubens-oelfarben-rubens-170326-kobaltviolett-hell-a: #46224a;
@rubens-oelfarben-rubens-170326-kobaltviolett-hell-b: #70447f;
@rubens-oelfarben-rubens-170326-kobaltviolett-hell-c: #a076ac;
@rubens-oelfarben-rubens-170327-kobaltviolett-dunkel-a: #522b57;
@rubens-oelfarben-rubens-170327-kobaltviolett-dunkel-b: #7c5d91;
@rubens-oelfarben-rubens-170327-kobaltviolett-dunkel-c: #a691b6;
@rubens-oelfarben-rubens-170328-ultramarinviolett-a: #564396;
@rubens-oelfarben-rubens-170328-ultramarinviolett-b: #7d77b6;
@rubens-oelfarben-rubens-170328-ultramarinviolett-c: #acacca;
@rubens-oelfarben-rubens-170330-indigo-a: #29272b;
@rubens-oelfarben-rubens-170330-indigo-b: #30495b;
@rubens-oelfarben-rubens-170330-indigo-c: #5d8093;
@rubens-oelfarben-rubens-170329-pariserblau-a: #201f30;
@rubens-oelfarben-rubens-170329-pariserblau-b: #1f5681;
@rubens-oelfarben-rubens-170329-pariserblau-c: #4a85ac;
@rubens-oelfarben-rubens-170332-ultramarinblau-a: #314b93;
@rubens-oelfarben-rubens-170332-ultramarinblau-b: #4167ad;
@rubens-oelfarben-rubens-170332-ultramarinblau-c: #8ca5c7;
@rubens-oelfarben-rubens-170331-helioblau-a: #162d50;
@rubens-oelfarben-rubens-170331-helioblau-b: #006194;
@rubens-oelfarben-rubens-170331-helioblau-c: #0088b8;
@rubens-oelfarben-rubens-170334-kobaltblau-dunkel-a: #15428d;
@rubens-oelfarben-rubens-170334-kobaltblau-dunkel-b: #407cb8;
@rubens-oelfarben-rubens-170334-kobaltblau-dunkel-c: #7fa8cc;
@rubens-oelfarben-rubens-170335-kobaltblau-hell-a: #165da5;
@rubens-oelfarben-rubens-170335-kobaltblau-hell-b: #4083bf;
@rubens-oelfarben-rubens-170335-kobaltblau-hell-c: #7ea8cc;
@rubens-oelfarben-rubens-170336-coelinblau-a: #006b97;
@rubens-oelfarben-rubens-170336-coelinblau-b: #0077a2;
@rubens-oelfarben-rubens-170336-coelinblau-c: #5d9fbf;
@rubens-oelfarben-rubens-170337-coelinblau-imit-a: #005f89;
@rubens-oelfarben-rubens-170337-coelinblau-imit-b: #1592b5;
@rubens-oelfarben-rubens-170337-coelinblau-imit-c: #61adc5;
@rubens-oelfarben-rubens-170333-koenigsblau-a: #4d85c0;
@rubens-oelfarben-rubens-170333-koenigsblau-b: #729dca;
@rubens-oelfarben-rubens-170333-koenigsblau-c: #9dbad4;
@rubens-oelfarben-rubens-170338-chromoxidgruen-feurig-a: #00472f;
@rubens-oelfarben-rubens-170338-chromoxidgruen-feurig-b: #007f5f;
@rubens-oelfarben-rubens-170338-chromoxidgruen-feurig-c: #09a88f;
@rubens-oelfarben-rubens-170339-echtgruen-dunkel-a: #00472f;
@rubens-oelfarben-rubens-170339-echtgruen-dunkel-b: #007656;
@rubens-oelfarben-rubens-170339-echtgruen-dunkel-c: #00a98f;
@rubens-oelfarben-rubens-170343-kadmiumgruen-hell-a: #1f6635;
@rubens-oelfarben-rubens-170343-kadmiumgruen-hell-b: #388959;
@rubens-oelfarben-rubens-170343-kadmiumgruen-hell-c: #6dac88;
@rubens-oelfarben-rubens-170340-zinkgruen-a: #1c5c20;
@rubens-oelfarben-rubens-170340-zinkgruen-b: #3b823d;
@rubens-oelfarben-rubens-170340-zinkgruen-c: #77b17e;
@rubens-oelfarben-rubens-170341-permanentgruen-dunkel-a: #009733;
@rubens-oelfarben-rubens-170341-permanentgruen-dunkel-b: #20ab5e;
@rubens-oelfarben-rubens-170341-permanentgruen-dunkel-c: #95cfac;
@rubens-oelfarben-rubens-170344-permanentgruen-hell-a: #00a12b;
@rubens-oelfarben-rubens-170344-permanentgruen-hell-b: #5fc059;
@rubens-oelfarben-rubens-170344-permanentgruen-hell-c: #9fd19c;
@rubens-oelfarben-rubens-170342-chromoxidgruen-matt-a: #3b5832;
@rubens-oelfarben-rubens-170342-chromoxidgruen-matt-b: #607960;
@rubens-oelfarben-rubens-170342-chromoxidgruen-matt-c: #889e8b;
@rubens-oelfarben-rubens-170345-boehmisch-gruene-erde-a: #574e31;
@rubens-oelfarben-rubens-170345-boehmisch-gruene-erde-b: #909279;
@rubens-oelfarben-rubens-170345-boehmisch-gruene-erde-c: #b3b9aa;
@rubens-oelfarben-rubens-170346-veroneser-gruene-erde-a: #5f5b2e;
@rubens-oelfarben-rubens-170346-veroneser-gruene-erde-b: #7d815a;
@rubens-oelfarben-rubens-170346-veroneser-gruene-erde-c: #abad8d;
@rubens-oelfarben-rubens-170347-lichter-ocker-a: #b37a2e;
@rubens-oelfarben-rubens-170347-lichter-ocker-b: #c29353;
@rubens-oelfarben-rubens-170347-lichter-ocker-c: #d2ae7c;
@rubens-oelfarben-rubens-170348-terra-di-siena-natur-a: #875940;
@rubens-oelfarben-rubens-170348-terra-di-siena-natur-b: #a2724c;
@rubens-oelfarben-rubens-170348-terra-di-siena-natur-c: #cbaf93;
@rubens-oelfarben-rubens-170349-goldocker-a: #7e4828;
@rubens-oelfarben-rubens-170349-goldocker-b: #96694d;
@rubens-oelfarben-rubens-170349-goldocker-c: #b58f75;
@rubens-oelfarben-rubens-170350-terra-di-siena-gebrannt-a: #5e3025;
@rubens-oelfarben-rubens-170350-terra-di-siena-gebrannt-b: #925a48;
@rubens-oelfarben-rubens-170350-terra-di-siena-gebrannt-c: #b58e7e;
@rubens-oelfarben-rubens-170351-englischrot-a: #753628;
@rubens-oelfarben-rubens-170351-englischrot-b: #985349;
@rubens-oelfarben-rubens-170351-englischrot-c: #b37269;
@rubens-oelfarben-rubens-170352-caput-mortuum-a: #572a2a;
@rubens-oelfarben-rubens-170352-caput-mortuum-b: #79585f;
@rubens-oelfarben-rubens-170352-caput-mortuum-c: #9e848c;
@rubens-oelfarben-rubens-170353-umbra-hell-a: #623b24;
@rubens-oelfarben-rubens-170353-umbra-hell-b: #89684b;
@rubens-oelfarben-rubens-170353-umbra-hell-c: #ae967e;
@rubens-oelfarben-rubens-170354-umbra-gebrannt-a: #352d2b;
@rubens-oelfarben-rubens-170354-umbra-gebrannt-b: #574134;
@rubens-oelfarben-rubens-170354-umbra-gebrannt-c: #977f6d;
@rubens-oelfarben-rubens-170355-umbra-dunkel-a: #39342f;
@rubens-oelfarben-rubens-170355-umbra-dunkel-b: #645848;
@rubens-oelfarben-rubens-170355-umbra-dunkel-c: #9b907e;
@rubens-oelfarben-rubens-170356-kasslerbraun-a: #332c26;
@rubens-oelfarben-rubens-170356-kasslerbraun-b: #6c5e54;
@rubens-oelfarben-rubens-170356-kasslerbraun-c: #91887f;
@rubens-oelfarben-rubens-170357-van-dyck-braun-a: #2f2e2f;
@rubens-oelfarben-rubens-170357-van-dyck-braun-b: #7a7673;
@rubens-oelfarben-rubens-170357-van-dyck-braun-c: #a9a6a3;
@rubens-oelfarben-rubens-170358-lampenschwarz-a: #191a1d;
@rubens-oelfarben-rubens-170358-lampenschwarz-b: #4c4f53;
@rubens-oelfarben-rubens-170358-lampenschwarz-c: #74777b;
@rubens-oelfarben-rubens-170359-eisenoxidschwarz-a: #242323;
@rubens-oelfarben-rubens-170359-eisenoxidschwarz-b: #505358;
@rubens-oelfarben-rubens-170359-eisenoxidschwarz-c: #75787e;
@rubens-oelfarben-rubens-170360-elfenbeinschwarz-a: #171819;
@rubens-oelfarben-rubens-170360-elfenbeinschwarz-b: #55585b;
@rubens-oelfarben-rubens-170360-elfenbeinschwarz-c: #7e8184;