// hks-k
@hks-k-1-k: #f8d66a;
@hks-k-2-k: #f2d400;
@hks-k-3-k: #feda00;
@hks-k-4-k: #ffc100;
@hks-k-5-k: #ffb600;
@hks-k-6-k: #ff8c00;
@hks-k-7-k: #ff6b00;
@hks-k-8-k: #ff5d02;
@hks-k-10-k: #f94711;
@hks-k-11-k: #ff916e;
@hks-k-12-k: #ed3422;
@hks-k-13-k: #ef181e;
@hks-k-14-k: #df252b;
@hks-k-15-k: #c90230;
@hks-k-16-k: #a02031;
@hks-k-17-k: #9f1438;
@hks-k-18-k: #701a32;
@hks-k-21-k: #fd778f;
@hks-k-22-k: #f43133;
@hks-k-23-k: #e1023b;
@hks-k-24-k: #c2154c;
@hks-k-25-k: #cf004f;
@hks-k-26-k: #b90065;
@hks-k-27-k: #d9007f;
@hks-k-28-k: #b1004f;
@hks-k-29-k: #8f1980;
@hks-k-31-k: #c00079;
@hks-k-32-k: #c0005f;
@hks-k-33-k: #a400a5;
@hks-k-34-k: #6b278c;
@hks-k-35-k: #443188;
@hks-k-36-k: #58278c;
@hks-k-37-k: #4f2778;
@hks-k-38-k: #122e45;
@hks-k-39-k: #0059bc;
@hks-k-40-k: #0081b1;
@hks-k-41-k: #1a3553;
@hks-k-42-k: #00379a;
@hks-k-43-k: #0033bb;
@hks-k-44-k: #0055aa;
@hks-k-45-k: #454c99;
@hks-k-46-k: #0077a9;
@hks-k-47-k: #0081ce;
@hks-k-48-k: #0086be;
@hks-k-49-k: #0073b1;
@hks-k-50-k: #00b2dc;
@hks-k-51-k: #00929d;
@hks-k-52-k: #008578;
@hks-k-53-k: #00b28f;
@hks-k-54-k: #00834d;
@hks-k-55-k: #007151;
@hks-k-56-k: #005a4c;
@hks-k-57-k: #007a3b;
@hks-k-58-k: #295b34;
@hks-k-59-k: #007577;
@hks-k-60-k: #008600;
@hks-k-61-k: #254d2a;
@hks-k-62-k: #5a5b1d;
@hks-k-63-k: #356b22;
@hks-k-64-k: #009020;
@hks-k-65-k: #00a500;
@hks-k-66-k: #68b500;
@hks-k-67-k: #5cbd00;
@hks-k-68-k: #d4b700;
@hks-k-69-k: #d6cb00;
@hks-k-71-k: #dd9728;
@hks-k-72-k: #d48105;
@hks-k-73-k: #b0762f;
@hks-k-74-k: #8b5f2a;
@hks-k-75-k: #765e28;
@hks-k-76-k: #533d2c;
@hks-k-77-k: #5b3928;
@hks-k-78-k: #743928;
@hks-k-81-k: #c25526;
@hks-k-82-k: #9e3d21;
@hks-k-83-k: #78382f;
@hks-k-84-k: #63322e;
@hks-k-88-k: #221f1d;
@hks-k-89-k: #a79b89;
@hks-k-90-k: #3a2f2f;
@hks-k-91-k: #99a19b;
@hks-k-92-k: #696e6e;
@hks-k-93-k: #495057;
@hks-k-95-k: #929188;
@hks-k-96-k: #76766f;
@hks-k-97-k: #343831;
@hks-k-98-k: #856945;
@hks-k-99-k: #989898;