// hks-e
@hks-e-1-e: #fad666;
@hks-e-2-e: #eed82e;
@hks-e-3-e: #f9d922;
@hks-e-4-e: #ffc527;
@hks-e-5-e: #ffc037;
@hks-e-6-e: #ffa43c;
@hks-e-7-e: #ff813c;
@hks-e-207-e: #ff893e;
@hks-e-8-e: #ff7441;
@hks-e-10-e: #fd6b44;
@hks-e-11-e: #ff9c7e;
@hks-e-12-e: #ef5e49;
@hks-e-13-e: #f55a4f;
@hks-e-14-e: #e55149;
@hks-e-15-e: #e3495a;
@hks-e-16-e: #bc5959;
@hks-e-17-e: #c45163;
@hks-e-18-e: #a64c5b;
@hks-e-21-e: #fd8999;
@hks-e-22-e: #f65b4f;
@hks-e-23-e: #e64e5b;
@hks-e-24-e: #dd4e6e;
@hks-e-25-e: #d5487a;
@hks-e-26-e: #d24a85;
@hks-e-27-e: #dd3f8e;
@hks-e-28-e: #c44b68;
@hks-e-29-e: #b03f9a;
@hks-e-31-e: #cf448e;
@hks-e-32-e: #db3f81;
@hks-e-33-e: #ad41a8;
@hks-e-34-e: #844aa3;
@hks-e-35-e: #5a5199;
@hks-e-36-e: #7753a9;
@hks-e-37-e: #6d508f;
@hks-e-38-e: #545f77;
@hks-e-39-e: #247ecb;
@hks-e-40-e: #008eb5;
@hks-e-41-e: #4c5d79;
@hks-e-42-e: #4a6aad;
@hks-e-43-e: #435fbc;
@hks-e-243-e: #286bbb;
@hks-e-44-e: #157abc;
@hks-e-45-e: #5861a2;
@hks-e-46-e: #208cb6;
@hks-e-47-e: #008fcd;
@hks-e-48-e: #0093bc;
@hks-e-49-e: #0094c5;
@hks-e-50-e: #03b4d6;
@hks-e-51-e: #009ca8;
@hks-e-52-e: #00988d;
@hks-e-53-e: #00b59d;
@hks-e-54-e: #009c75;
@hks-e-55-e: #00927a;
@hks-e-56-e: #388375;
@hks-e-57-e: #279e6c;
@hks-e-58-e: #5b8463;
@hks-e-59-e: #00969c;
@hks-e-60-e: #57a854;
@hks-e-61-e: #5c7a5c;
@hks-e-62-e: #878751;
@hks-e-63-e: #6a925c;
@hks-e-64-e: #44ac57;
@hks-e-65-e: #56b650;
@hks-e-66-e: #83c748;
@hks-e-67-e: #86c747;
@hks-e-68-e: #d3bb3e;
@hks-e-69-e: #dbd240;
@hks-e-71-e: #dda14f;
@hks-e-72-e: #db974a;
@hks-e-73-e: #c08e55;
@hks-e-74-e: #9f774a;
@hks-e-75-e: #947c4b;
@hks-e-76-e: #7c6654;
@hks-e-77-e: #886a5a;
@hks-e-78-e: #996552;
@hks-e-81-e: #d57248;
@hks-e-82-e: #b9694c;
@hks-e-83-e: #9f6358;
@hks-e-84-e: #835c55;
@hks-e-88-e: #544e4b;
@hks-e-89-e: #b1a695;
@hks-e-90-e: #635a52;
@hks-e-91-e: #9da6a2;
@hks-e-92-e: #757776;
@hks-e-93-e: #575c62;
@hks-e-95-e: #98978e;
@hks-e-96-e: #807d77;
@hks-e-97-e: #535451;