// stocolorsystem
@stocolorsystem-sto-31100: #beba3b;
@stocolorsystem-sto-31101: #c9c64c;
@stocolorsystem-sto-31102: #cfce5b;
@stocolorsystem-sto-31103: #dddb75;
@stocolorsystem-sto-31104: #e3e38c;
@stocolorsystem-sto-31105: #e9eaa3;
@stocolorsystem-sto-31106: #ececac;
@stocolorsystem-sto-31107: #f1f1c1;
@stocolorsystem-sto-31108: #f6f4ce;
@stocolorsystem-sto-31109: #f8f6d8;
@stocolorsystem-sto-31110: #bbb360;
@stocolorsystem-sto-31111: #cec77a;
@stocolorsystem-sto-31112: #d7d18e;
@stocolorsystem-sto-31113: #e2dda5;
@stocolorsystem-sto-31114: #e6e2b1;
@stocolorsystem-sto-31115: #edeac2;
@stocolorsystem-sto-31116: #f2efd0;
@stocolorsystem-sto-31120: #9a9762;
@stocolorsystem-sto-31121: #b2ad7d;
@stocolorsystem-sto-31122: #beb990;
@stocolorsystem-sto-31123: #c5c2a4;
@stocolorsystem-sto-31130: #75745d;
@stocolorsystem-sto-31131: #908d74;
@stocolorsystem-sto-31132: #a09f86;
@stocolorsystem-sto-31133: #b3b29c;
@stocolorsystem-sto-31134: #c7c6b1;
@stocolorsystem-sto-31135: #d4d4c2;
@stocolorsystem-sto-31136: #deddcd;
@stocolorsystem-sto-31137: #e9e7d9;
@stocolorsystem-sto-31140: #a09a42;
@stocolorsystem-sto-31141: #807d4a;
@stocolorsystem-sto-31142: #69694a;
@stocolorsystem-sto-31143: #636253;
@stocolorsystem-sto-31200: #edcc46;
@stocolorsystem-sto-31201: #f0d456;
@stocolorsystem-sto-31202: #f2db68;
@stocolorsystem-sto-31203: #f5e585;
@stocolorsystem-sto-31204: #f6e890;
@stocolorsystem-sto-31205: #f6efb1;
@stocolorsystem-sto-31206: #f7f2ba;
@stocolorsystem-sto-31207: #f7f4c8;
@stocolorsystem-sto-31208: #f8f6d5;
@stocolorsystem-sto-31209: #f6f4db;
@stocolorsystem-sto-31210: #e2cc6d;
@stocolorsystem-sto-31211: #e8d784;
@stocolorsystem-sto-31212: #eddf95;
@stocolorsystem-sto-31213: #f3e7ab;
@stocolorsystem-sto-31214: #f5ebb6;
@stocolorsystem-sto-31215: #f6f0c7;
@stocolorsystem-sto-31216: #f7f3d4;
@stocolorsystem-sto-31220: #d1be71;
@stocolorsystem-sto-31221: #d7cc8d;
@stocolorsystem-sto-31222: #d6cf9e;
@stocolorsystem-sto-31223: #d7d5b4;
@stocolorsystem-sto-31224: #d8d6c0;
@stocolorsystem-sto-31230: #706853;
@stocolorsystem-sto-31231: #8e856e;
@stocolorsystem-sto-31232: #9e957b;
@stocolorsystem-sto-31233: #b1a990;
@stocolorsystem-sto-31234: #c7bea7;
@stocolorsystem-sto-31235: #d5cdb8;
@stocolorsystem-sto-31236: #ded7c4;
@stocolorsystem-sto-31237: #eae4d2;
@stocolorsystem-sto-31240: #d8bf59;
@stocolorsystem-sto-31241: #af9944;
@stocolorsystem-sto-31242: #9e8846;
@stocolorsystem-sto-31243: #716946;
@stocolorsystem-sto-31244: #575245;
@stocolorsystem-sto-31300: #deab3b;
@stocolorsystem-sto-31301: #ecbd55;
@stocolorsystem-sto-31302: #f2c966;
@stocolorsystem-sto-31303: #f6d57c;
@stocolorsystem-sto-31304: #f7dc8f;
@stocolorsystem-sto-31305: #f6e4a7;
@stocolorsystem-sto-31306: #f8e9b8;
@stocolorsystem-sto-31307: #f9efcd;
@stocolorsystem-sto-31308: #faf1d5;
@stocolorsystem-sto-31309: #f6efd9;
@stocolorsystem-sto-31310: #dab762;
@stocolorsystem-sto-31311: #e7c97d;
@stocolorsystem-sto-31312: #ecd392;
@stocolorsystem-sto-31313: #f3e0a9;
@stocolorsystem-sto-31314: #f4e4b5;
@stocolorsystem-sto-31315: #f6ecc6;
@stocolorsystem-sto-31316: #f6efd2;
@stocolorsystem-sto-31320: #d2b670;
@stocolorsystem-sto-31321: #d7c183;
@stocolorsystem-sto-31322: #d9cb97;
@stocolorsystem-sto-31323: #d6ceaa;
@stocolorsystem-sto-31324: #dfd9c1;
@stocolorsystem-sto-31330: #706554;
@stocolorsystem-sto-31331: #8e836e;
@stocolorsystem-sto-31332: #9e927d;
@stocolorsystem-sto-31333: #b2a892;
@stocolorsystem-sto-31334: #c1b7a4;
@stocolorsystem-sto-31335: #d5cbba;
@stocolorsystem-sto-31336: #e0d8c7;
@stocolorsystem-sto-31337: #e9e2d3;
@stocolorsystem-sto-31340: #c59d43;
@stocolorsystem-sto-31341: #ae9048;
@stocolorsystem-sto-31342: #9a8348;
@stocolorsystem-sto-31343: #7b6b47;
@stocolorsystem-sto-31344: #6b6049;
@stocolorsystem-sto-31400: #e1a148;
@stocolorsystem-sto-31401: #e8ad5b;
@stocolorsystem-sto-31402: #edb86b;
@stocolorsystem-sto-31403: #f4cb8b;
@stocolorsystem-sto-31404: #f6d59e;
@stocolorsystem-sto-31405: #f8e0b4;
@stocolorsystem-sto-31406: #f8e4bf;
@stocolorsystem-sto-31407: #f9eccf;
@stocolorsystem-sto-31408: #faf0d9;
@stocolorsystem-sto-31409: #faf3e0;
@stocolorsystem-sto-31410: #dcae6b;
@stocolorsystem-sto-31411: #eabf80;
@stocolorsystem-sto-31412: #edcc99;
@stocolorsystem-sto-31413: #f5d9ae;
@stocolorsystem-sto-31414: #f4e2c3;
@stocolorsystem-sto-31415: #f5e8cd;
@stocolorsystem-sto-31416: #f6ecd5;
@stocolorsystem-sto-31420: #c59c5f;
@stocolorsystem-sto-31421: #ceac75;
@stocolorsystem-sto-31422: #d6bc8f;
@stocolorsystem-sto-31423: #d9c9a7;
@stocolorsystem-sto-31424: #dcd4c0;
@stocolorsystem-sto-31430: #6d6153;
@stocolorsystem-sto-31431: #8b7d6d;
@stocolorsystem-sto-31432: #968979;
@stocolorsystem-sto-31433: #ada08e;
@stocolorsystem-sto-31434: #c0b5a5;
@stocolorsystem-sto-31435: #d0c6b6;
@stocolorsystem-sto-31436: #dad1c5;
@stocolorsystem-sto-31437: #e8e0d1;
@stocolorsystem-sto-31440: #cc9855;
@stocolorsystem-sto-31441: #b88546;
@stocolorsystem-sto-31442: #9e7946;
@stocolorsystem-sto-31443: #7d6a47;
@stocolorsystem-sto-32100: #eb9741;
@stocolorsystem-sto-32101: #f0a34e;
@stocolorsystem-sto-32102: #f2af5e;
@stocolorsystem-sto-32103: #f8c47b;
@stocolorsystem-sto-32104: #face8d;
@stocolorsystem-sto-32105: #f8daa0;
@stocolorsystem-sto-32106: #f7e0ad;
@stocolorsystem-sto-32107: #f8e9c0;
@stocolorsystem-sto-32108: #faefcf;
@stocolorsystem-sto-32109: #faf2da;
@stocolorsystem-sto-32110: #dca157;
@stocolorsystem-sto-32111: #ebb973;
@stocolorsystem-sto-32112: #eec992;
@stocolorsystem-sto-32113: #f2d3a1;
@stocolorsystem-sto-32114: #fae5c1;
@stocolorsystem-sto-32120: #c7a178;
@stocolorsystem-sto-32121: #d2b591;
@stocolorsystem-sto-32122: #d7c4a5;
@stocolorsystem-sto-32123: #ddd4c3;
@stocolorsystem-sto-32130: #755f4b;
@stocolorsystem-sto-32131: #8e7862;
@stocolorsystem-sto-32132: #99836a;
@stocolorsystem-sto-32133: #b29d86;
@stocolorsystem-sto-32134: #c0ac93;
@stocolorsystem-sto-32135: #d1c0a9;
@stocolorsystem-sto-32136: #ddcfbb;
@stocolorsystem-sto-32137: #e7dccb;
@stocolorsystem-sto-32138: #efe8d6;
@stocolorsystem-sto-32140: #c28943;
@stocolorsystem-sto-32141: #aa7a45;
@stocolorsystem-sto-32142: #99714b;
@stocolorsystem-sto-32143: #775d46;
@stocolorsystem-sto-32144: #6b5b4d;
@stocolorsystem-sto-32200: #e78345;
@stocolorsystem-sto-32201: #eb9151;
@stocolorsystem-sto-32202: #ef9c60;
@stocolorsystem-sto-32203: #f6b57d;
@stocolorsystem-sto-32204: #fbc18d;
@stocolorsystem-sto-32205: #fbcfa2;
@stocolorsystem-sto-32206: #fad8b0;
@stocolorsystem-sto-32207: #fbe1c2;
@stocolorsystem-sto-32208: #fcead0;
@stocolorsystem-sto-32209: #fcf0db;
@stocolorsystem-sto-32214: #f0d1b1;
@stocolorsystem-sto-32215: #f4ddc3;
@stocolorsystem-sto-32216: #f6e5cf;
@stocolorsystem-sto-32220: #b49376;
@stocolorsystem-sto-32221: #c3a88e;
@stocolorsystem-sto-32222: #cab69f;
@stocolorsystem-sto-32223: #dacfc1;
@stocolorsystem-sto-32230: #705e55;
@stocolorsystem-sto-32231: #8d7b70;
@stocolorsystem-sto-32232: #9b897c;
@stocolorsystem-sto-32233: #af9e91;
@stocolorsystem-sto-32234: #c2b4a9;
@stocolorsystem-sto-32235: #d0c3b7;
@stocolorsystem-sto-32236: #dcd1c5;
@stocolorsystem-sto-32237: #e9e1d3;
@stocolorsystem-sto-32240: #bb7546;
@stocolorsystem-sto-32241: #996848;
@stocolorsystem-sto-32242: #816653;
@stocolorsystem-sto-32243: #574a43;
@stocolorsystem-sto-32300: #e16e44;
@stocolorsystem-sto-32301: #e67d52;
@stocolorsystem-sto-32302: #ec8b60;
@stocolorsystem-sto-32303: #f7a37b;
@stocolorsystem-sto-32304: #f9af8b;
@stocolorsystem-sto-32305: #f9c2a3;
@stocolorsystem-sto-32306: #facbae;
@stocolorsystem-sto-32307: #fdd8c2;
@stocolorsystem-sto-32308: #fce3d0;
@stocolorsystem-sto-32309: #fdebdb;
@stocolorsystem-sto-32310: #d38564;
@stocolorsystem-sto-32311: #e49d7d;
@stocolorsystem-sto-32312: #edad90;
@stocolorsystem-sto-32313: #f5c0a6;
@stocolorsystem-sto-32314: #f7cab3;
@stocolorsystem-sto-32315: #f9d7c5;
@stocolorsystem-sto-32316: #fae0d1;
@stocolorsystem-sto-32320: #ba8d78;
@stocolorsystem-sto-32321: #cda792;
@stocolorsystem-sto-32322: #d1b6a5;
@stocolorsystem-sto-32323: #ded0c4;
@stocolorsystem-sto-32330: #8d6957;
@stocolorsystem-sto-32331: #9c7966;
@stocolorsystem-sto-32332: #b2917e;
@stocolorsystem-sto-32333: #c4a492;
@stocolorsystem-sto-32334: #d4bba7;
@stocolorsystem-sto-32335: #ddc8b5;
@stocolorsystem-sto-32336: #ebdbcc;
@stocolorsystem-sto-32337: #eee2d3;
@stocolorsystem-sto-32340: #b06244;
@stocolorsystem-sto-32341: #8b5e4d;
@stocolorsystem-sto-32342: #795648;
@stocolorsystem-sto-32343: #675045;
@stocolorsystem-sto-32400: #d65843;
@stocolorsystem-sto-32401: #e06750;
@stocolorsystem-sto-32402: #e9755f;
@stocolorsystem-sto-32403: #f38d79;
@stocolorsystem-sto-32404: #f89c8c;
@stocolorsystem-sto-32405: #fab2a3;
@stocolorsystem-sto-32406: #fbbcaf;
@stocolorsystem-sto-32407: #fccbc0;
@stocolorsystem-sto-32408: #fed8ce;
@stocolorsystem-sto-32409: #fde2d9;
@stocolorsystem-sto-32410: #cf705f;
@stocolorsystem-sto-32411: #e38a79;
@stocolorsystem-sto-32412: #eb9a8c;
@stocolorsystem-sto-32413: #f4b0a4;
@stocolorsystem-sto-32414: #f8bbb0;
@stocolorsystem-sto-32420: #be8a7e;
@stocolorsystem-sto-32421: #cea49a;
@stocolorsystem-sto-32422: #d3b3ab;
@stocolorsystem-sto-32423: #d6c0ba;
@stocolorsystem-sto-32424: #d8cac5;
@stocolorsystem-sto-32430: #8d5d51;
@stocolorsystem-sto-32431: #9c6e63;
@stocolorsystem-sto-32432: #b18b7f;
@stocolorsystem-sto-32433: #c8a296;
@stocolorsystem-sto-32434: #d1b1a7;
@stocolorsystem-sto-32435: #e1c7be;
@stocolorsystem-sto-32436: #e1cec5;
@stocolorsystem-sto-32440: #b0513f;
@stocolorsystem-sto-32441: #985c4f;
@stocolorsystem-sto-33100: #c7473f;
@stocolorsystem-sto-33101: #d4554f;
@stocolorsystem-sto-33102: #df6461;
@stocolorsystem-sto-33103: #ed7b79;
@stocolorsystem-sto-33104: #f48c8d;
@stocolorsystem-sto-33105: #f9a2a3;
@stocolorsystem-sto-33106: #fbadaf;
@stocolorsystem-sto-33107: #fcbebf;
@stocolorsystem-sto-33108: #fecece;
@stocolorsystem-sto-33109: #fdd8d7;
@stocolorsystem-sto-33110: #b36f61;
@stocolorsystem-sto-33111: #c48478;
@stocolorsystem-sto-33112: #d8a094;
@stocolorsystem-sto-33113: #e3b1a6;
@stocolorsystem-sto-33114: #f0cbc0;
@stocolorsystem-sto-33115: #f5d7cd;
@stocolorsystem-sto-33116: #f6e0d6;
@stocolorsystem-sto-33120: #b57a6d;
@stocolorsystem-sto-33121: #c58f85;
@stocolorsystem-sto-33122: #cea69e;
@stocolorsystem-sto-33123: #d9c2b9;
@stocolorsystem-sto-33130: #6f6361;
@stocolorsystem-sto-33131: #837977;
@stocolorsystem-sto-33132: #958b88;
@stocolorsystem-sto-33133: #a9a09e;
@stocolorsystem-sto-33134: #b7afac;
@stocolorsystem-sto-33135: #c7c0bd;
@stocolorsystem-sto-33136: #d5d0cc;
@stocolorsystem-sto-33137: #dddad6;
@stocolorsystem-sto-33140: #a15b4d;
@stocolorsystem-sto-33141: #8a4b3c;
@stocolorsystem-sto-33142: #724c43;
@stocolorsystem-sto-33143: #604640;
@stocolorsystem-sto-33144: #54433e;
@stocolorsystem-sto-33200: #aa4641;
@stocolorsystem-sto-33201: #c15453;
@stocolorsystem-sto-33202: #ce6363;
@stocolorsystem-sto-33203: #e27c7e;
@stocolorsystem-sto-33204: #eb8c91;
@stocolorsystem-sto-33205: #f3a2a6;
@stocolorsystem-sto-33206: #f6aeb2;
@stocolorsystem-sto-33207: #fabfc3;
@stocolorsystem-sto-33208: #fccfd0;
@stocolorsystem-sto-33209: #fedcdb;
@stocolorsystem-sto-33210: #a06561;
@stocolorsystem-sto-33211: #b67f7e;
@stocolorsystem-sto-33212: #c59392;
@stocolorsystem-sto-33213: #d5aaa9;
@stocolorsystem-sto-33214: #ddb6b5;
@stocolorsystem-sto-33215: #e6c7c5;
@stocolorsystem-sto-33216: #eed5d2;
@stocolorsystem-sto-33220: #a67572;
@stocolorsystem-sto-33221: #bd9695;
@stocolorsystem-sto-33222: #ccaeac;
@stocolorsystem-sto-33223: #d5c0bf;
@stocolorsystem-sto-33224: #d8cbca;
@stocolorsystem-sto-33230: #6d4f4b;
@stocolorsystem-sto-33231: #7c605d;
@stocolorsystem-sto-33232: #947a78;
@stocolorsystem-sto-33233: #a28c8a;
@stocolorsystem-sto-33234: #b5a2a0;
@stocolorsystem-sto-33235: #c5b5b4;
@stocolorsystem-sto-33236: #d5ccca;
@stocolorsystem-sto-33237: #e2dad7;
@stocolorsystem-sto-33240: #83463e;
@stocolorsystem-sto-33241: #78443a;
@stocolorsystem-sto-33300: #904d4c;
@stocolorsystem-sto-33301: #a85b5e;
@stocolorsystem-sto-33302: #b7686d;
@stocolorsystem-sto-33303: #ce8187;
@stocolorsystem-sto-33304: #d89198;
@stocolorsystem-sto-33305: #e8a8ae;
@stocolorsystem-sto-33306: #ecb3b9;
@stocolorsystem-sto-33307: #f2c1c6;
@stocolorsystem-sto-33308: #f8d3d5;
@stocolorsystem-sto-33309: #fcdfde;
@stocolorsystem-sto-33310: #976462;
@stocolorsystem-sto-33311: #b08080;
@stocolorsystem-sto-33312: #bc9090;
@stocolorsystem-sto-33313: #cca6a6;
@stocolorsystem-sto-33314: #d5b2b2;
@stocolorsystem-sto-33315: #e1c5c3;
@stocolorsystem-sto-33316: #e9d4d2;
@stocolorsystem-sto-33317: #efe0dc;
@stocolorsystem-sto-33320: #a07675;
@stocolorsystem-sto-33321: #b49293;
@stocolorsystem-sto-33322: #c5aaaa;
@stocolorsystem-sto-33323: #d0bdbd;
@stocolorsystem-sto-33324: #d2c7c7;
@stocolorsystem-sto-33330: #7c5957;
@stocolorsystem-sto-33331: #936f6f;
@stocolorsystem-sto-33332: #a28282;
@stocolorsystem-sto-33333: #b79a9a;
@stocolorsystem-sto-33334: #c3a7a6;
@stocolorsystem-sto-33335: #d1b9b9;
@stocolorsystem-sto-33336: #decac8;
@stocolorsystem-sto-33337: #e6d8d5;
@stocolorsystem-sto-33340: #86473f;
@stocolorsystem-sto-33341: #794a44;
@stocolorsystem-sto-33342: #674640;
@stocolorsystem-sto-33400: #785058;
@stocolorsystem-sto-33401: #91626e;
@stocolorsystem-sto-33402: #a37380;
@stocolorsystem-sto-33403: #bb8c99;
@stocolorsystem-sto-33404: #c89daa;
@stocolorsystem-sto-33405: #d8b3bc;
@stocolorsystem-sto-33406: #dfbdc5;
@stocolorsystem-sto-33407: #e8ced2;
@stocolorsystem-sto-33408: #f1dbdc;
@stocolorsystem-sto-33409: #f4e4e3;
@stocolorsystem-sto-33410: #8c6874;
@stocolorsystem-sto-33411: #a27c89;
@stocolorsystem-sto-33412: #b4919c;
@stocolorsystem-sto-33413: #c6a6b1;
@stocolorsystem-sto-33414: #d5b7be;
@stocolorsystem-sto-33420: #8a7076;
@stocolorsystem-sto-33421: #a89096;
@stocolorsystem-sto-33422: #bcacb2;
@stocolorsystem-sto-33423: #c9bcbf;
@stocolorsystem-sto-33424: #cec7c9;
@stocolorsystem-sto-33430: #6e5e63;
@stocolorsystem-sto-33431: #83737b;
@stocolorsystem-sto-33432: #92828a;
@stocolorsystem-sto-33433: #a9979d;
@stocolorsystem-sto-33434: #bcacb2;
@stocolorsystem-sto-33435: #cebec1;
@stocolorsystem-sto-33436: #d8cbcb;
@stocolorsystem-sto-33437: #e7dedb;
@stocolorsystem-sto-33440: #7c5d65;
@stocolorsystem-sto-33441: #5a5256;
@stocolorsystem-sto-34100: #67576a;
@stocolorsystem-sto-34101: #7e6c82;
@stocolorsystem-sto-34102: #917f95;
@stocolorsystem-sto-34103: #ad9baf;
@stocolorsystem-sto-34104: #bcacbd;
@stocolorsystem-sto-34105: #cdc0ce;
@stocolorsystem-sto-34106: #d4cad5;
@stocolorsystem-sto-34107: #e1d8df;
@stocolorsystem-sto-34108: #eae3e5;
@stocolorsystem-sto-34109: #f0eaea;
@stocolorsystem-sto-34110: #786f84;
@stocolorsystem-sto-34111: #968ca2;
@stocolorsystem-sto-34112: #a89eb0;
@stocolorsystem-sto-34113: #b3a8b8;
@stocolorsystem-sto-34114: #beb4c1;
@stocolorsystem-sto-34115: #d4cdd3;
@stocolorsystem-sto-34116: #ded8da;
@stocolorsystem-sto-34120: #7f7988;
@stocolorsystem-sto-34121: #918a98;
@stocolorsystem-sto-34122: #a79fab;
@stocolorsystem-sto-34123: #bdb6bf;
@stocolorsystem-sto-34124: #cec7cb;
@stocolorsystem-sto-34130: #645e61;
@stocolorsystem-sto-34131: #746d70;
@stocolorsystem-sto-34132: #868184;
@stocolorsystem-sto-34133: #969295;
@stocolorsystem-sto-34134: #a9a5a8;
@stocolorsystem-sto-34135: #b5b1b3;
@stocolorsystem-sto-34136: #c7c3c4;
@stocolorsystem-sto-34137: #d5d2d1;
@stocolorsystem-sto-34138: #e2dfdc;
@stocolorsystem-sto-34140: #665d6f;
@stocolorsystem-sto-34141: #544951;
@stocolorsystem-sto-34200: #5a556e;
@stocolorsystem-sto-34201: #75718d;
@stocolorsystem-sto-34202: #87839f;
@stocolorsystem-sto-34203: #a5a2b9;
@stocolorsystem-sto-34204: #b3b0c4;
@stocolorsystem-sto-34205: #c6c4d2;
@stocolorsystem-sto-34206: #cfcdd9;
@stocolorsystem-sto-34207: #dbdae1;
@stocolorsystem-sto-34208: #e6e4e6;
@stocolorsystem-sto-34209: #ebeae8;
@stocolorsystem-sto-34210: #6e687a;
@stocolorsystem-sto-34211: #858096;
@stocolorsystem-sto-34212: #9792a4;
@stocolorsystem-sto-34213: #b1aebc;
@stocolorsystem-sto-34214: #c3bfc9;
@stocolorsystem-sto-34215: #d5d1d5;
@stocolorsystem-sto-34216: #e3dfdf;
@stocolorsystem-sto-34220: #8d8798;
@stocolorsystem-sto-34221: #a39eac;
@stocolorsystem-sto-34222: #b4b0bb;
@stocolorsystem-sto-34230: #615f6a;
@stocolorsystem-sto-34231: #767582;
@stocolorsystem-sto-34232: #8a8996;
@stocolorsystem-sto-34233: #9997a2;
@stocolorsystem-sto-34234: #afafb9;
@stocolorsystem-sto-34235: #cbc8cd;
@stocolorsystem-sto-34236: #d0ced1;
@stocolorsystem-sto-34237: #e0dedc;
@stocolorsystem-sto-34240: #767183;
@stocolorsystem-sto-34241: #64606f;
@stocolorsystem-sto-34242: #5f5c68;
@stocolorsystem-sto-34243: #54545a;
@stocolorsystem-sto-34300: #545b7c;
@stocolorsystem-sto-34301: #6d799c;
@stocolorsystem-sto-34302: #7f8bad;
@stocolorsystem-sto-34303: #9ea9c4;
@stocolorsystem-sto-34304: #adb7cf;
@stocolorsystem-sto-34305: #c1cada;
@stocolorsystem-sto-34306: #cbd2df;
@stocolorsystem-sto-34307: #d6dce4;
@stocolorsystem-sto-34308: #e1e7ea;
@stocolorsystem-sto-34309: #e9ecea;
@stocolorsystem-sto-34310: #7e89a2;
@stocolorsystem-sto-34311: #959fb5;
@stocolorsystem-sto-34312: #a8b1c5;
@stocolorsystem-sto-34313: #b7bfcf;
@stocolorsystem-sto-34314: #c8ced9;
@stocolorsystem-sto-34315: #d0d6de;
@stocolorsystem-sto-34320: #7d8699;
@stocolorsystem-sto-34321: #9aa2b3;
@stocolorsystem-sto-34322: #b9c0ca;
@stocolorsystem-sto-34323: #c9ced4;
@stocolorsystem-sto-34330: #656672;
@stocolorsystem-sto-34331: #6e707d;
@stocolorsystem-sto-34332: #8e8f9b;
@stocolorsystem-sto-34333: #a0a1ad;
@stocolorsystem-sto-34334: #b5b6bf;
@stocolorsystem-sto-34335: #c1c2c9;
@stocolorsystem-sto-34336: #d0d1d5;
@stocolorsystem-sto-34337: #dddedf;
@stocolorsystem-sto-34340: #53596d;
@stocolorsystem-sto-34341: #5b5c67;
@stocolorsystem-sto-34400: #4c638d;
@stocolorsystem-sto-34401: #6482ac;
@stocolorsystem-sto-34402: #7693ba;
@stocolorsystem-sto-34403: #98b1d0;
@stocolorsystem-sto-34404: #a5bbd5;
@stocolorsystem-sto-34405: #bbcddf;
@stocolorsystem-sto-34406: #c6d5e3;
@stocolorsystem-sto-34407: #d4e0e8;
@stocolorsystem-sto-34408: #dee7eb;
@stocolorsystem-sto-34409: #e1e8e7;
@stocolorsystem-sto-34410: #7494b1;
@stocolorsystem-sto-34411: #93afc7;
@stocolorsystem-sto-34412: #a6bed3;
@stocolorsystem-sto-34413: #bdd0dd;
@stocolorsystem-sto-34414: #c3d3df;
@stocolorsystem-sto-34420: #7a879a;
@stocolorsystem-sto-34421: #9aa6b7;
@stocolorsystem-sto-34422: #b3bcc7;
@stocolorsystem-sto-34423: #c6cdd4;
@stocolorsystem-sto-34430: #616874;
@stocolorsystem-sto-34431: #6c7482;
@stocolorsystem-sto-34432: #88909c;
@stocolorsystem-sto-34433: #9fa6b3;
@stocolorsystem-sto-34434: #b3b9c2;
@stocolorsystem-sto-34435: #bdc2c9;
@stocolorsystem-sto-34436: #cdd2d6;
@stocolorsystem-sto-34437: #dce1e2;
@stocolorsystem-sto-34440: #4b607d;
@stocolorsystem-sto-34441: #4b5b70;
@stocolorsystem-sto-34442: #4a4f59;
@stocolorsystem-sto-35100: #3075b2;
@stocolorsystem-sto-35101: #4e93ca;
@stocolorsystem-sto-35102: #65a3d5;
@stocolorsystem-sto-35103: #89bce2;
@stocolorsystem-sto-35104: #9dc6e3;
@stocolorsystem-sto-35105: #b6d6ec;
@stocolorsystem-sto-35106: #c1dceb;
@stocolorsystem-sto-35107: #d1e5ef;
@stocolorsystem-sto-35108: #ddebee;
@stocolorsystem-sto-35109: #e6f0ef;
@stocolorsystem-sto-35110: #6a9bc1;
@stocolorsystem-sto-35111: #8bb5d2;
@stocolorsystem-sto-35112: #a1c4dd;
@stocolorsystem-sto-35113: #b6d2e3;
@stocolorsystem-sto-35114: #c1d7e4;
@stocolorsystem-sto-35120: #6f91ae;
@stocolorsystem-sto-35121: #93aec2;
@stocolorsystem-sto-35122: #adc1d0;
@stocolorsystem-sto-35123: #c2cdd4;
@stocolorsystem-sto-35124: #c8cfd2;
@stocolorsystem-sto-35130: #626e7a;
@stocolorsystem-sto-35131: #6b7784;
@stocolorsystem-sto-35132: #8b96a3;
@stocolorsystem-sto-35133: #9ca7b1;
@stocolorsystem-sto-35134: #acb6bd;
@stocolorsystem-sto-35135: #bcc5cc;
@stocolorsystem-sto-35136: #cdd3d5;
@stocolorsystem-sto-35137: #dce0e1;
@stocolorsystem-sto-35140: #386892;
@stocolorsystem-sto-35141: #3a4b62;
@stocolorsystem-sto-35200: #2579aa;
@stocolorsystem-sto-35201: #4594c1;
@stocolorsystem-sto-35202: #5ca4cd;
@stocolorsystem-sto-35203: #86bedd;
@stocolorsystem-sto-35204: #9acbe4;
@stocolorsystem-sto-35205: #b4d6e8;
@stocolorsystem-sto-35206: #bfdce8;
@stocolorsystem-sto-35207: #d0e5ec;
@stocolorsystem-sto-35208: #dcecec;
@stocolorsystem-sto-35209: #e0eae6;
@stocolorsystem-sto-35210: #6399b8;
@stocolorsystem-sto-35211: #89b4cd;
@stocolorsystem-sto-35212: #9cc3d8;
@stocolorsystem-sto-35213: #b5d3e1;
@stocolorsystem-sto-35220: #5d8ca7;
@stocolorsystem-sto-35221: #83abc0;
@stocolorsystem-sto-35222: #a3becd;
@stocolorsystem-sto-35223: #b7cbd4;
@stocolorsystem-sto-35224: #c4d0d6;
@stocolorsystem-sto-35230: #5d656b;
@stocolorsystem-sto-35231: #76797c;
@stocolorsystem-sto-35232: #7f8487;
@stocolorsystem-sto-35233: #949ca0;
@stocolorsystem-sto-35234: #b1b8ba;
@stocolorsystem-sto-35235: #c1c6c6;
@stocolorsystem-sto-35236: #d1d5d3;
@stocolorsystem-sto-35237: #e4e5de;
@stocolorsystem-sto-35240: #376788;
@stocolorsystem-sto-35241: #344e65;
@stocolorsystem-sto-35242: #44525d;
@stocolorsystem-sto-35300: #287891;
@stocolorsystem-sto-35301: #3a8aa4;
@stocolorsystem-sto-35302: #5ba2ba;
@stocolorsystem-sto-35303: #80bbcf;
@stocolorsystem-sto-35304: #94c4d4;
@stocolorsystem-sto-35305: #b1d5e0;
@stocolorsystem-sto-35306: #bddce4;
@stocolorsystem-sto-35307: #cde5e9;
@stocolorsystem-sto-35308: #dbeceb;
@stocolorsystem-sto-35309: #e3eeea;
@stocolorsystem-sto-35310: #5c8ea0;
@stocolorsystem-sto-35311: #6e9eaf;
@stocolorsystem-sto-35312: #8db6c4;
@stocolorsystem-sto-35313: #a0c4d0;
@stocolorsystem-sto-35314: #b7d2da;
@stocolorsystem-sto-35315: #c1dadf;
@stocolorsystem-sto-35320: #688793;
@stocolorsystem-sto-35321: #7b9ba6;
@stocolorsystem-sto-35322: #8ca8b1;
@stocolorsystem-sto-35323: #a7bfc4;
@stocolorsystem-sto-35324: #baccce;
@stocolorsystem-sto-35330: #5b727e;
@stocolorsystem-sto-35331: #6f8a97;
@stocolorsystem-sto-35332: #809ba7;
@stocolorsystem-sto-35333: #8ba1ad;
@stocolorsystem-sto-35334: #a1b8c1;
@stocolorsystem-sto-35335: #b4c7cc;
@stocolorsystem-sto-35336: #c3d2d5;
@stocolorsystem-sto-35337: #dbe5e1;
@stocolorsystem-sto-35340: #44778a;
@stocolorsystem-sto-35341: #5c7c88;
@stocolorsystem-sto-35342: #566872;
@stocolorsystem-sto-35400: #2e7d82;
@stocolorsystem-sto-35401: #4d979c;
@stocolorsystem-sto-35402: #62a5aa;
@stocolorsystem-sto-35403: #84bdc0;
@stocolorsystem-sto-35404: #9bc9cd;
@stocolorsystem-sto-35405: #b3d6d8;
@stocolorsystem-sto-35406: #bfdddd;
@stocolorsystem-sto-35407: #cee4e4;
@stocolorsystem-sto-35408: #dcecea;
@stocolorsystem-sto-35409: #e8f2ed;
@stocolorsystem-sto-35410: #6c9ea2;
@stocolorsystem-sto-35411: #8eb9bc;
@stocolorsystem-sto-35412: #9fc4c6;
@stocolorsystem-sto-35413: #b6d3d3;
@stocolorsystem-sto-35414: #c1d9d9;
@stocolorsystem-sto-35415: #d1e3e1;
@stocolorsystem-sto-35420: #618d92;
@stocolorsystem-sto-35421: #83aaae;
@stocolorsystem-sto-35422: #a3bec1;
@stocolorsystem-sto-35423: #baccce;
@stocolorsystem-sto-35430: #667b80;
@stocolorsystem-sto-35431: #83989c;
@stocolorsystem-sto-35432: #96a9ad;
@stocolorsystem-sto-35433: #aebec0;
@stocolorsystem-sto-35434: #b7c5c7;
@stocolorsystem-sto-35435: #c8d4d4;
@stocolorsystem-sto-35436: #d6dfdd;
@stocolorsystem-sto-35437: #e1e7e3;
@stocolorsystem-sto-35440: #568d91;
@stocolorsystem-sto-35441: #3e7276;
@stocolorsystem-sto-35442: #39575b;
@stocolorsystem-sto-36100: #38815f;
@stocolorsystem-sto-36101: #49906e;
@stocolorsystem-sto-36102: #68a987;
@stocolorsystem-sto-36103: #8dc0a3;
@stocolorsystem-sto-36104: #9cc7ae;
@stocolorsystem-sto-36105: #b8d9c5;
@stocolorsystem-sto-36106: #c4e0ce;
@stocolorsystem-sto-36107: #d2e7d8;
@stocolorsystem-sto-36108: #dfefe1;
@stocolorsystem-sto-36109: #e6efe3;
@stocolorsystem-sto-36110: #7c9884;
@stocolorsystem-sto-36111: #99b29f;
@stocolorsystem-sto-36112: #abc1b0;
@stocolorsystem-sto-36113: #bfd1c2;
@stocolorsystem-sto-36114: #cad9cc;
@stocolorsystem-sto-36115: #d7e2d7;
@stocolorsystem-sto-36120: #739584;
@stocolorsystem-sto-36121: #92b0a0;
@stocolorsystem-sto-36122: #afc3b9;
@stocolorsystem-sto-36123: #becdc4;
@stocolorsystem-sto-36124: #c1cac5;
@stocolorsystem-sto-36130: #697e74;
@stocolorsystem-sto-36131: #85998f;
@stocolorsystem-sto-36132: #98aba2;
@stocolorsystem-sto-36133: #b0c0b7;
@stocolorsystem-sto-36134: #bbc9c1;
@stocolorsystem-sto-36135: #ccd7cf;
@stocolorsystem-sto-36136: #dbe4db;
@stocolorsystem-sto-36137: #e6ece4;
@stocolorsystem-sto-36140: #5c7a67;
@stocolorsystem-sto-36141: #446855;
@stocolorsystem-sto-36142: #4b5d53;
@stocolorsystem-sto-36200: #508f58;
@stocolorsystem-sto-36201: #6ba269;
@stocolorsystem-sto-36202: #7db079;
@stocolorsystem-sto-36203: #9cc694;
@stocolorsystem-sto-36204: #add1a5;
@stocolorsystem-sto-36205: #c2ddb8;
@stocolorsystem-sto-36206: #cce3c2;
@stocolorsystem-sto-36207: #dbebcf;
@stocolorsystem-sto-36208: #e7f0da;
@stocolorsystem-sto-36209: #e4eada;
@stocolorsystem-sto-36210: #7c8f6b;
@stocolorsystem-sto-36211: #99aa87;
@stocolorsystem-sto-36212: #b5c2a4;
@stocolorsystem-sto-36213: #c8d2b8;
@stocolorsystem-sto-36214: #cfd7c2;
@stocolorsystem-sto-36215: #e5e8d6;
@stocolorsystem-sto-36216: #eaedde;
@stocolorsystem-sto-36217: #f2f1e5;
@stocolorsystem-sto-36220: #8d9c7b;
@stocolorsystem-sto-36221: #a4b194;
@stocolorsystem-sto-36222: #b6c0a9;
@stocolorsystem-sto-36223: #c5ccbd;
@stocolorsystem-sto-36230: #62685f;
@stocolorsystem-sto-36231: #80867d;
@stocolorsystem-sto-36232: #8d938a;
@stocolorsystem-sto-36233: #a3a9a0;
@stocolorsystem-sto-36234: #b7bcb3;
@stocolorsystem-sto-36235: #ccd0c7;
@stocolorsystem-sto-36236: #d9dbd3;
@stocolorsystem-sto-36237: #e4e4db;
@stocolorsystem-sto-36240: #647b5e;
@stocolorsystem-sto-36241: #5c6a58;
@stocolorsystem-sto-36300: #719e50;
@stocolorsystem-sto-36301: #87af5e;
@stocolorsystem-sto-36302: #96bb6c;
@stocolorsystem-sto-36303: #b1cf88;
@stocolorsystem-sto-36304: #afc88e;
@stocolorsystem-sto-36305: #cee2ae;
@stocolorsystem-sto-36306: #d5e6b7;
@stocolorsystem-sto-36307: #e3edc8;
@stocolorsystem-sto-36308: #ebf2d5;
@stocolorsystem-sto-36309: #f1f4de;
@stocolorsystem-sto-36310: #8a9a72;
@stocolorsystem-sto-36311: #9fae88;
@stocolorsystem-sto-36312: #bbc5a5;
@stocolorsystem-sto-36313: #ccd2b4;
@stocolorsystem-sto-36314: #d8dcc6;
@stocolorsystem-sto-36320: #86956e;
@stocolorsystem-sto-36321: #a1ae8b;
@stocolorsystem-sto-36322: #b4bda3;
@stocolorsystem-sto-36323: #c1c7b0;
@stocolorsystem-sto-36324: #cccfbf;
@stocolorsystem-sto-36330: #747e67;
@stocolorsystem-sto-36331: #878e78;
@stocolorsystem-sto-36332: #9aa28c;
@stocolorsystem-sto-36333: #b6bca5;
@stocolorsystem-sto-36334: #c3c8b3;
@stocolorsystem-sto-36335: #d0d4c2;
@stocolorsystem-sto-36336: #dddfcf;
@stocolorsystem-sto-36337: #e7e6d4;
@stocolorsystem-sto-36340: #6b7f59;
@stocolorsystem-sto-36341: #5e6d52;
@stocolorsystem-sto-36342: #4c524b;
@stocolorsystem-sto-36400: #9db048;
@stocolorsystem-sto-36401: #a5b74f;
@stocolorsystem-sto-36402: #b7c662;
@stocolorsystem-sto-36403: #cbd776;
@stocolorsystem-sto-36404: #d5e08f;
@stocolorsystem-sto-36405: #dfe7a7;
@stocolorsystem-sto-36406: #e8ecad;
@stocolorsystem-sto-36407: #ecf1c5;
@stocolorsystem-sto-36408: #f2f5d1;
@stocolorsystem-sto-36409: #f6f5d9;
@stocolorsystem-sto-36410: #a5af6a;
@stocolorsystem-sto-36411: #bcc486;
@stocolorsystem-sto-36412: #c9d099;
@stocolorsystem-sto-36413: #d9deaf;
@stocolorsystem-sto-36414: #dde2ba;
@stocolorsystem-sto-36415: #e7e9ca;
@stocolorsystem-sto-36416: #edefd6;
@stocolorsystem-sto-36420: #99996f;
@stocolorsystem-sto-36421: #abac86;
@stocolorsystem-sto-36422: #bdbc9b;
@stocolorsystem-sto-36423: #c7c8af;
@stocolorsystem-sto-36424: #d8d8c9;
@stocolorsystem-sto-36430: #7b815f;
@stocolorsystem-sto-36431: #8b906f;
@stocolorsystem-sto-36432: #a4a88a;
@stocolorsystem-sto-36433: #b6bb9e;
@stocolorsystem-sto-36434: #c6c9b1;
@stocolorsystem-sto-36435: #d1d3bd;
@stocolorsystem-sto-36436: #dcddcb;
@stocolorsystem-sto-36437: #e5e7d7;
@stocolorsystem-sto-36440: #85924b;
@stocolorsystem-sto-36441: #787b54;
@stocolorsystem-sto-36442: #696f4f;
@stocolorsystem-sto-36443: #575b48;
@stocolorsystem-sto-37100: #474746;
@stocolorsystem-sto-37101: #505151;
@stocolorsystem-sto-37102: #60615e;
@stocolorsystem-sto-37103: #696b6a;
@stocolorsystem-sto-37104: #767876;
@stocolorsystem-sto-37105: #858684;
@stocolorsystem-sto-37106: #919391;
@stocolorsystem-sto-37107: #9fa19e;
@stocolorsystem-sto-37108: #b2b2af;
@stocolorsystem-sto-37109: #c9c9c3;
@stocolorsystem-sto-37110: #d6d5d0;
@stocolorsystem-sto-37111: #e7e4d8;
@stocolorsystem-sto-37200: #65686a;
@stocolorsystem-sto-37201: #76797b;
@stocolorsystem-sto-37202: #818486;
@stocolorsystem-sto-37203: #9b9fa1;
@stocolorsystem-sto-37204: #b8bbba;
@stocolorsystem-sto-37205: #c5c7c6;
@stocolorsystem-sto-37206: #d5d6d3;
@stocolorsystem-sto-37207: #e7e6de;
@stocolorsystem-sto-37300: #656467;
@stocolorsystem-sto-37301: #6e6c6f;
@stocolorsystem-sto-37302: #7d7a7c;
@stocolorsystem-sto-37303: #908e90;
@stocolorsystem-sto-37304: #a3a1a3;
@stocolorsystem-sto-37305: #bbb9b9;
@stocolorsystem-sto-37306: #cecccb;
@stocolorsystem-sto-37307: #dddcda;