// filmnormex-d-cum-intermediate-grade
@filmnormex-d-cum-intermediate-grade-d-cum-015: #3c3d3f;
@filmnormex-d-cum-intermediate-grade-d-cum-016: #f1f2ef;
@filmnormex-d-cum-intermediate-grade-d-cum-060: #f2d82f;
@filmnormex-d-cum-intermediate-grade-d-cum-054: #f1e462;
@filmnormex-d-cum-intermediate-grade-d-cum-04: #f8c02d;
@filmnormex-d-cum-intermediate-grade-d-cum-044: #f4b527;
@filmnormex-d-cum-intermediate-grade-d-cum-024: #e9982f;
@filmnormex-d-cum-intermediate-grade-d-cum-038: #d18d4b;
@filmnormex-d-cum-intermediate-grade-d-cum-028: #f07731;
@filmnormex-d-cum-intermediate-grade-d-cum-08: #e26338;
@filmnormex-d-cum-intermediate-grade-d-cum-041: #d95539;
@filmnormex-d-cum-intermediate-grade-d-cum-061: #ca483e;
@filmnormex-d-cum-intermediate-grade-d-cum-01: #c34440;
@filmnormex-d-cum-intermediate-grade-d-cum-062: #aa3e40;
@filmnormex-d-cum-intermediate-grade-d-cum-051: #b24044;
@filmnormex-d-cum-intermediate-grade-d-cum-010: #9e4041;
@filmnormex-d-cum-intermediate-grade-d-cum-020: #744452;
@filmnormex-d-cum-intermediate-grade-d-cum-063: #723f45;
@filmnormex-d-cum-intermediate-grade-d-cum-048: #f0bdcb;
@filmnormex-d-cum-intermediate-grade-d-cum-055: #cd7399;
@filmnormex-d-cum-intermediate-grade-d-cum-018: #af4376;
@filmnormex-d-cum-intermediate-grade-d-cum-058: #9288b3;
@filmnormex-d-cum-intermediate-grade-d-cum-059: #7c4f75;
@filmnormex-d-cum-intermediate-grade-d-cum-064: #674f95;
@filmnormex-d-cum-intermediate-grade-d-cum-026: #c9d65d;
@filmnormex-d-cum-intermediate-grade-d-cum-06: #7ab84e;
@filmnormex-d-cum-intermediate-grade-d-cum-065: #53a439;
@filmnormex-d-cum-intermediate-grade-d-cum-042: #01a554;
@filmnormex-d-cum-intermediate-grade-d-cum-022: #547c46;
@filmnormex-d-cum-intermediate-grade-d-cum-052: #357f68;
@filmnormex-d-cum-intermediate-grade-d-cum-066: #009666;
@filmnormex-d-cum-intermediate-grade-d-cum-02: #009062;
@filmnormex-d-cum-intermediate-grade-d-cum-046: #007558;
@filmnormex-d-cum-intermediate-grade-d-cum-067: #007b50;
@filmnormex-d-cum-intermediate-grade-d-cum-036: #256f4e;
@filmnormex-d-cum-intermediate-grade-d-cum-011: #355549;
@filmnormex-d-cum-intermediate-grade-d-cum-068: #7ad5be;
@filmnormex-d-cum-intermediate-grade-d-cum-069: #00a299;
@filmnormex-d-cum-intermediate-grade-d-cum-070: #006e79;
@filmnormex-d-cum-intermediate-grade-d-cum-056: #009ba4;
@filmnormex-d-cum-intermediate-grade-d-cum-07: #49a8c9;
@filmnormex-d-cum-intermediate-grade-d-cum-050: #02a3d4;
@filmnormex-d-cum-intermediate-grade-d-cum-027: #3f82af;
@filmnormex-d-cum-intermediate-grade-d-cum-03: #1a72b3;
@filmnormex-d-cum-intermediate-grade-d-cum-053: #3b6185;
@filmnormex-d-cum-intermediate-grade-d-cum-071: #26649c;
@filmnormex-d-cum-intermediate-grade-d-cum-072: #3a5893;
@filmnormex-d-cum-intermediate-grade-d-cum-073: #3f4f84;
@filmnormex-d-cum-intermediate-grade-d-cum-057: #55526f;
@filmnormex-d-cum-intermediate-grade-d-cum-012: #374c71;
@filmnormex-d-cum-intermediate-grade-d-cum-074: #3b414c;
@filmnormex-d-cum-intermediate-grade-d-cum-032: #e5d7b6;
@filmnormex-d-cum-intermediate-grade-d-cum-045: #cbbca6;
@filmnormex-d-cum-intermediate-grade-d-cum-025: #dec1a2;
@filmnormex-d-cum-intermediate-grade-d-cum-031: #8e6347;
@filmnormex-d-cum-intermediate-grade-d-cum-014: #674e44;
@filmnormex-d-cum-intermediate-grade-d-cum-043: #654e45;
@filmnormex-d-cum-intermediate-grade-d-cum-030: #614741;
@filmnormex-d-cum-intermediate-grade-d-cum-040: #494141;
@filmnormex-d-cum-intermediate-grade-d-cum-049: #c4c4be;
@filmnormex-d-cum-intermediate-grade-d-cum-09: #979994;
@filmnormex-d-cum-intermediate-grade-d-cum-019: #666b6d;